###### Project

In [96]:
import pandas as pd
#import sqlite3
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import math
import datetime as dt
import folium
from folium import plugins
import geopandas
from calendar import monthrange

spray_data = pd.read_csv(
    'Files/spray.csv',  # шлях до файлу, який містить дані
    sep=',',  # роздільник стовпців
    header=0  # номер рядка, що містить заголовок (якщо заголовка немає, можна передати None)
)

train_data = pd.read_csv(
    'Files/train.csv',  # шлях до файлу, який містить дані
    sep=',',  # роздільник стовпців
    
    header=0  # номер рядка, що містить заголовок (якщо заголовка немає, можна передати None)
)

weather_data = pd.read_csv(
    'Files/weather.csv',  # шлях до файлу, який містить дані
    sep=',',  # роздільник стовпців
    header=0  # номер рядка, що містить заголовок (якщо заголовка немає, можна передати None)
)

test_truncated_data = pd.read_excel(
    'Files/test_truncated.xlsx',
    sheet_name='test_truncated',  # прочитати всі листи
    usecols="A:J"
    #nrows=5
)

In [97]:
def add_datetime(train_data):
    train_data['day']=pd.to_datetime(train_data.Date).dt.day
    train_data['weekday']=pd.to_datetime(train_data.Date).dt.weekday
    train_data['month']=pd.to_datetime(train_data.Date).dt.month
    train_data['year']=pd.to_datetime(train_data.Date).dt.year
    return train_data

def bar_chat(_data, grop_list_, agr_colum, agr_func):
    grop_list=[grop_list_]
    agg_func_math = {
        agr_colum: [agr_func]
    }
    plot_mas = _data.groupby(grop_list, group_keys=True, dropna=True).agg(agg_func_math).to_dict()[(agr_colum, agr_func)] 
    fig = plt.figure()
    plt.bar(plot_mas.keys(), plot_mas.values())
    plt.title(f'{grop_list_} {agr_colum} {agr_func} chart')    
    plt.grid(True)   # лінії допоміжної сітки
#bar_chat(test_truncated_data, 'year', 'year', 'count')

def group_data(_data, grop_list_, agr_colum, agr_func):
    grop_list=[grop_list_]
    agg_func_math = {
        agr_colum: [agr_func]
    }
    dict_data=_data.groupby(grop_list, group_keys=True, dropna=True).agg(agg_func_math).to_dict()[(agr_colum, agr_func)]
    df=pd.DataFrame(list(dict_data. items ()), columns = [grop_list_, agr_colum])
    #df.set_index(df[grop_list], *, drop=True, append=False, inplace=False, verify_integrity=False)[source]
    df.set_index(grop_list, inplace=True)
    return df.copy()

def concat_data(train_data):
    Trap=group_data(train_data, 'Trap', 'Latitude', 'min')
    Longitude=group_data(train_data, 'Trap', 'Longitude', 'min')
    NumMosquitos=group_data(train_data, 'Trap', 'NumMosquitos', 'sum')
    WnvPresent=group_data(train_data, 'Trap', 'WnvPresent', 'sum')
    AddressAccuracy=group_data(train_data, 'Trap', 'AddressAccuracy', 'min')
    RESTUANS=group_data(train_data, 'Trap', 'RESTUANS', 'sum')
    PIPIENS=group_data(train_data, 'Trap', 'PIPIENS', 'sum')
    Date_Min=group_data(train_data, 'Trap', 'Date', 'min')
    #Date_Max=group_data(train_data, 'Trap', 'Date', 'max')
    
    frames = [Trap, Longitude, Date_Min, NumMosquitos, WnvPresent, AddressAccuracy, RESTUANS, PIPIENS]
    result = pd.concat(frames, axis=1)
    result.reset_index(inplace=True)
    return result.copy()
#train_data
#df=concat_data(train_data[(train_data['year']==2013)])
#df['test']='2021'
#df
#weather_data
def make_category(X_Data, list_category):
    for i in list_category:
        X_Data['Cat_category']=X_Data[i].astype("category")
        clear_data(X_Data, [i], revers=False)
        print(i)
        X_Data.rename(
            columns={'Cat_category': i,  # колонка "SibSp" буде перейменована на "SiblingsSpouses"
                    }, inplace=True  # покажчик того, що зміни вносяться до існуючої таблиці
        )
    return X_Data

def clear_data(test_data, drop_list, revers):
    columns_df=[column for column in test_data]
    #print(columns_df)
    if revers==False:
        for i in drop_list:
            if i in columns_df:
                test_data.drop(
                    i,  # список колонок або рядків, які потрібно видалити
                    axis=1,  # видалення рядків відбувається аналогічно, щоб видалити саме колонки, вибираємо відповідну вісь
                    inplace=True  # видалення "на місці", без надання нової змінної
                )
    
        
    if revers==True:
        for i in columns_df:
            if i in drop_list:
                pass
                #print(i)
            else:
                #print(i)
                test_data.drop(
                    i,  # список колонок або рядків, які потрібно видалити
                    axis=1,  # видалення рядків відбувається аналогічно, щоб видалити саме колонки, вибираємо відповідну вісь
                    inplace=True  # видалення "на місці", без надання нової змінної)
                )
                
            
    return test_data.copy()

def replase_M_to_Max_int(weather_data, replase_column, date_type):
    #df=weather_data.copy()
    try:
        weather_data[replase_column].unique()
        weather_data[replase_column]=weather_data[replase_column].replace(regex=['M'], value='-1000').astype(str).astype(date_type)
        
        M=weather_data[replase_column].max()
        
        weather_data.loc[(weather_data[replase_column] ==-1000), replase_column] = M
        print(f'{replase_column}_{M} {weather_data[replase_column].unique()}')
    except Exception as _ex:
        print(f"[{replase_column}] Error", _ex)
    return weather_data.copy()

In [98]:
#weather_data

weather_data=clear_data(weather_data, ['Water1'], revers=False)
list_category=['CodeSum']
weather_data=make_category (weather_data, list_category)    

#Depth_2
replase_column='Depth'
weather_data[replase_column].unique()
level_map = {'0': 0, 'M': 1}
weather_data[replase_column] = weather_data[replase_column].map(level_map).astype(str).astype(int)
#weather_data[replase_column].unique()


#SnowFall
replase_column='SnowFall'
level_map = {'0.0': 0, 'M': 0.5, '  T':1,  '0.1':0.1}
weather_data[replase_column] = weather_data[replase_column].map(level_map).astype(str).astype(float)
weather_data[replase_column].unique()

#Sunrise
replase_column='Sunrise'
weather_data[replase_column] =weather_data[replase_column] .replace(regex=['-'],value='0').astype(str).astype(int)
#weather_data[replase_column].unique()

#Sunset
replase_column='Sunset'
weather_data[replase_column] =weather_data[replase_column] .replace(regex=['-'],value='0').astype(str).astype(int)
#weather_data[replase_column].unique()

#PrecipTotal
replase_column='PrecipTotal'
weather_data[replase_column] =weather_data[replase_column] .replace(regex=['M'],value='-1000')
M=weather_data[replase_column].max()
weather_data.loc[(weather_data[replase_column] =='-1000'), replase_column] = M
print (M)



weather_data[replase_column] =weather_data[replase_column] .replace(regex=['  T'],value='0')
'''T=weather_data[replase_column].min()
print (f'{T}_{weather_data.loc[(weather_data[replase_column] ==1000), replase_column]}')
weather_data.loc[(weather_data[replase_column] ==1000), replase_column] = weather_data[replase_column].min()'''
weather_data['1']=weather_data[replase_column].astype(str).astype(float)


clear_data(weather_data, [replase_column], revers=False)

weather_data.rename(
            columns={'1': replase_column,  # колонка "SibSp" буде перейменована на "SiblingsSpouses"
                    }, inplace=True  # покажчик того, що зміни вносяться до існуючої таблиці
        )

#weather_data[replase_column].unique()
weather_data=replase_M_to_Max_int(weather_data, 'Heat', int)
weather_data=replase_M_to_Max_int(weather_data, 'Cool', int)
weather_data=replase_M_to_Max_int(weather_data, 'Depart', int)
weather_data=replase_M_to_Max_int(weather_data, 'Tavg', int)
weather_data=replase_M_to_Max_int(weather_data, 'WetBulb', int)
weather_data=replase_M_to_Max_int(weather_data, 'StnPressure', float)
weather_data=replase_M_to_Max_int(weather_data, 'AvgSpeed', float)
weather_data=replase_M_to_Max_int(weather_data, 'SeaLevel', float)

CodeSum
6.86
Heat_29 [ 0 14 13  9  7 29  5  6  4 10  8 12  3  2  1 15 16 19 17 20 11 18 21 25
 24 27 26 23 28 22]
Cool_29 [ 2  3  0 29  5  4  6  8  7  9 10 13 11 12  1 15 16 17 14 20 19 18 21 22
 24 27 23 26 28 25]
Depart_23 [ 14  23  -3   2   4   5  10  12  13  -2  15  11  -4  -6   8  -5   1   9
   6  -9  -8   3   0  -1  -7   7 -14  18  16  22  21  20 -10 -16  17 -12
 -11 -15 -17  19 -13]
Tavg_94 [67 68 51 52 56 58 94 60 59 65 70 69 71 61 55 57 73 72 53 62 63 74 75 78
 76 77 66 80 64 81 82 79 85 84 83 50 49 46 48 45 54 47 44 40 41 38 39 42
 37 43 86 87 89 92 88 91 93 90 36]
WetBulb_78 [56 57 47 48 50 49 46 54 53 62 63 60 61 51 59 58 43 44 45 65 66 67 64 52
 55 69 68 70 72 71 73 74 76 42 39 40 41 35 33 34 78 75 36 32 38 77 37]
StnPressure_29.86 [29.1  29.18 29.38 29.44 29.39 29.46 29.31 29.36 29.4  29.57 29.62 29.29
 29.21 29.28 29.2  29.26 29.33 29.49 29.54 29.55 29.23 29.13 29.19 29.53
 29.6  29.34 29.41 29.47 29.51 29.42 29.43 29.25 29.03 28.82 28.87 28.88
 29.16 29.07 28.84 28.91 29.24 29.86 29.3  29.12 29.45 29.56 29.32 29.05
 29.11 29.06 29.22 29.08 29.14 29.37 29.35 29.15 29.17 29.48 29.52 29.27
 29.5  28.59 28.67 28.75 29.02 29.79 29.63 29.7  28.95 29.01 28.79 28.85
 28.97 28.89 28.94 28.93 28.98 28.96 29.   29.66 29.09 28.9  29.04 29.59
 29.65 29.58 29.61 29.64 29.71 29.67 28.8  28.73 29.68 28.74 28.55 28.63
 28.92 28.99 28.81 28.71 28.69 28.77 28.83]
AvgSpeed_26.3 [ 9.2  9.6 13.4 11.9 13.2 10.8 10.4 12.  11.5 15.  14.5 10.5  9.9  5.8
  5.4  6.2  5.9  4.1  3.9 12.9 12.8 13.   8.1  7.6 17.3 14.6 12.3 12.2
 11.8 11.3  7.5  5.5 11.4 10.7  9.7  8.2  7.8 10.2 10.6 11.2 15.2  8.8
  7.2  9.5  5.3  5.2  6.5  7.4 10.1  6.4  6.7 23.1 20.7 13.8 12.4  5.
  4.7  5.6  6.9  8.4 10.   8.6 26.3  6.8  4.9  6.1  6.3 15.1 12.6  7.7
  8.7  9.   8.   6.   7.1  8.5 12.5 13.3  8.3  7.3 13.1 12.7 10.9 11.1
 13.9  6.6 14.4  9.1  3.3  3.5  4.   7.   9.4  7.9  5.7  4.3  4.6  3.7
 11.7  4.4 12.1 13.5 13.7 11.   9.8  8.9 10.3 15.5 18.9 17.2 16.7 18.
 18.2 16.8 14.1 14.7  4.2  9.3 14.3 17.7 17.8 15.9 19.3 17.4  3.8  4.8
 14.  21.5 19.5 16.3  5.1  3.6  3.2  4.5  2.9  3.1  2.7 18.4 16.4 14.8
 11.6 13.6  2.4  2.6  3.4  3.   2.1 20.2 14.9 16.2 15.4 17.9 14.2 15.3
 15.7 16.1 18.8 17.1 16.6 21.4 23.2 22.1 15.6 16.9  2.   2.3  1.7 19.9
 17.6 18.5 18.1 16.  15.8  2.8  1.9 22.9 22.6]
SeaLevel_30.53 [29.82 30.09 30.08 30.12 30.05 30.04 30.1  30.29 30.28 30.03 30.02 29.94
 29.93 29.92 29.91 30.2  30.19 30.24 29.97 29.98 29.84 29.83 30.27 30.25
 30.26 30.11 30.06 30.23 30.15 30.14 30.   29.99 29.9  29.77 29.76 29.56
 29.54 29.52 29.51 29.79 29.78 29.81 29.55 29.85 30.07 30.16 30.53 29.96
 29.95 30.13 30.21 30.22 29.88 30.01 29.8  29.89 29.74 29.87 29.86 30.18
 30.17 29.34 29.44 29.45 29.71 29.72 30.52 30.4  30.41 29.67 29.53 29.69
 29.61 29.64 29.63 29.66 29.7  30.34 30.33 29.62 29.6  29.75 29.68 29.73
 30.31 30.3  30.32 30.37 30.39 29.59 29.65 30.35 30.36 29.48 30.38 29.5
 29.25 29.23 29.46 29.43 29.47]

In [99]:
'''for col in weather_data:
    print(f'{col}_{weather_data[col].unique()}')'''

"for col in weather_data:\n    print(f'{col}_{weather_data[col].unique()}')"

In [100]:
#train_data

from datetime import datetime, timedelta

train_data=add_datetime(train_data)
train_data['RESTUANS']=train_data['Species'].str.contains('True').astype(str).astype(bool)
train_data['PIPIENS']=train_data['Species'].str.contains('True').astype(str).astype(bool)

test_truncated_data=add_datetime(test_truncated_data)
weather_data=add_datetime(weather_data)

def iter_days(draft_year, draft_month):
    dt = datetime(draft_year, draft_month, 1)
    while dt.year == draft_year and  dt.month == draft_month:
        yield dt
        dt += timedelta(days=1)
        
#draft_year_list={2007, 2009, 2013}
#draft_month_list={6, 7, 8, 9}
draft_year_list={2007, 2009, 2013}
draft_month_list={6, 7, 8, 9}
frames=[]
for draft_year in draft_year_list:
    data_year=train_data[train_data['year']==draft_year].copy()
    #print(draft_year)
    for draft_month in draft_month_list:
        #print(draft_month)
        train_data_month=data_year[(data_year['month']==draft_month)]
        for dt in iter_days(draft_year, draft_month):
            train_data_day=concat_data(train_data_month[(train_data_month['day']==dt.day)])
            if train_data_day.shape[0]>0:
                train_data_day.set_index('Date', inplace=False)
                frames.append(train_data_day)

result = pd.concat(frames, axis=0)
result.reset_index()

,index,Trap,Latitude,Longitude,Date,NumMosquitos,WnvPresent,AddressAccuracy,RESTUANS,PIPIENS
0,0,T002,41.954690,-87.800991,2009-08-07,13,0,9,2,2
1,1,T003,41.964242,-87.757639,2009-08-07,6,0,8,2,2
2,2,T008,42.008314,-87.777921,2009-08-07,2,0,9,1,1
3,3,T009,41.992478,-87.862995,2009-08-07,6,0,8,2,2
4,4,T011,41.944869,-87.832763,2009-08-07,5,0,8,2,2
...,...,...,...,...,...,...,...,...,...,...
3422,46,T152,41.846075,-87.716277,2007-07-27,1,0,9,1,1
3423,47,T155,41.776156,-87.778927,2007-07-27,2,0,9,1,1
3424,48,T218,41.948167,-87.730698,2007-07-27,1,0,8,1,1
3425,49,T219,41.966987,-87.674677,2007-07-27,2,0,8,2,2
3426,50,T220,41.963976,-87.691810,2007-07-27,2,0,9,2,2

In [101]:
#Merge weather_data and test_data

weather_1=weather_data[weather_data['Station']==1].copy()
weather_1.set_index('Date', inplace=True)
weather_2=weather_data[weather_data['Station']==2].copy()
weather_2.set_index('Date', inplace=True)

weather=weather_1.merge(weather_2,
    #weather_1, left_on='Date', right_on='Date')
    how='inner',
    #on=None, 
    left_on='Date', right_on='Date', 
    #left_index=True, right_index=True,
    #, sort=False,
    suffixes=('_1', '_2'), copy=True
    #, indicator=False, validate=None
)
test_data=result.merge(weather,
    #weather_1, left_on='Date', right_on='Date')
    how='inner',
    #on=None, 
    left_on='Date', right_on='Date', 
    #left_index=True, right_index=True,
    #, sort=False,
    #suffixes=('_x', '_y'), copy=True
    #, indicator=False, validate=None
)

In [102]:
#test_data clear
def clear_dtype(weather_data, drop_dtype_list):
    for col in weather_data:
        if str(weather_data[col].dtypes) in drop_dtype_list:
            try:
                weather_data.drop(
                    weather_data[col].name,  # список колонок або рядків, які потрібно видалити
                    axis=1,  # видалення рядків відбувається аналогічно, щоб видалити саме колонки, вибираємо відповідну вісь
                    inplace=True  # видалення "на місці", без надання нової змінної
                )
                #X_Data=clear_data(X_Data, X_Data[col].name, revers=False)
                print(f'{col}_{weather_data[col].name}_{weather_data[col].dtypes}')
                return weather_data.copy()
            except Exception as _ex:
                print(f"Error", _ex)
                
                
drop_list=['year_2', 'month_2', 'weekday_2', 'day_2']
test_data=clear_data(test_data, drop_list, revers=False)

#drop_dtype_list=['bool', 'category', 'int64' ,'int32', 'float64', ]
drop_dtype_list=['category']                
clear_dtype(test_data, drop_dtype_list)

test_data.info()

Error 'CodeSum_1'
Error 'CodeSum_2'
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3427 entries, 0 to 3426
Data columns (total 51 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Trap             3427 non-null   object
 1   Latitude         3427 non-null   float64
 2   Longitude        3427 non-null   float64
 3   Date             3427 non-null   object
 4   NumMosquitos     3427 non-null   int64
 5   WnvPresent       3427 non-null   int64
 6   AddressAccuracy  3427 non-null   int64
 7   RESTUANS         3427 non-null   int64
 8   PIPIENS          3427 non-null   int64
 9   Station_1        3427 non-null   int64
 10  Tmax_1           3427 non-null   int64
 11  Tmin_1           3427 non-null   int64
 12  Tavg_1           3427 non-null   int32
 13  Depart_1         3427 non-null   int32
 14  DewPoint_1       3427 non-null   int64
 15  WetBulb_1        3427 non-null   int32
 16  Heat_1           3427 non-null   int32
 17  Cool_1           3427 non-null   int32
 18  Sunrise_1        3427 non-null   int32
 19  Sunset_1         3427 non-null   int32
 20  Depth_1          3427 non-null   int32
 21  SnowFall_1       3427 non-null   float64
 22  StnPressure_1    3427 non-null   float64
 23  SeaLevel_1       3427 non-null   float64
 24  ResultSpeed_1    3427 non-null   float64
 25  ResultDir_1      3427 non-null   int64
 26  AvgSpeed_1       3427 non-null   float64
 27  PrecipTotal_1    3427 non-null   float64
 28  day_1            3427 non-null   int64
 29  weekday_1        3427 non-null   int64
 30  month_1          3427 non-null   int64
 31  year_1           3427 non-null   int64
 32  Station_2        3427 non-null   int64
 33  Tmax_2           3427 non-null   int64
 34  Tmin_2           3427 non-null   int64
 35  Tavg_2           3427 non-null   int32
 36  Depart_2         3427 non-null   int32
 37  DewPoint_2       3427 non-null   int64
 38  WetBulb_2        3427 non-null   int32
 39  Heat_2           3427 non-null   int32
 40  Cool_2           3427 non-null   int32
 41  Sunrise_2        3427 non-null   int32
 42  Sunset_2         3427 non-null   int32
 43  Depth_2          3427 non-null   int32
 44  SnowFall_2       3427 non-null   float64
 45  StnPressure_2    3427 non-null   float64
 46  SeaLevel_2       3427 non-null   float64
 47  ResultSpeed_2    3427 non-null   float64
 48  ResultDir_2      3427 non-null   int64
 49  AvgSpeed_2       3427 non-null   float64
 50  PrecipTotal_2    3427 non-null   float64
dtypes: float64(14), int32(16), int64(19), object(2)
memory usage: 1.2+ MB

In [103]:
#X_drop_list=['NumMosquitos', 'WnvPresent', 'RESTUANS', 'PIPIENS', 'Trap', 'Date', 'Latitude', 'Longitude']

X_drop_list=['NumMosquitos', 'WnvPresent', 'Trap', 'Date']
X_Data=clear_data(test_data.copy(), X_drop_list, revers=False)

Y_Data=clear_data(test_data.copy(), X_drop_list, revers=True)
Y_Data=clear_data(Y_Data, ['Trap', 'Date'], revers=False)

In [104]:
X_Data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3427 entries, 0 to 3426
Data columns (total 47 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Latitude         3427 non-null   float64
 1   Longitude        3427 non-null   float64
 2   AddressAccuracy  3427 non-null   int64
 3   RESTUANS         3427 non-null   int64
 4   PIPIENS          3427 non-null   int64
 5   Station_1        3427 non-null   int64
 6   Tmax_1           3427 non-null   int64
 7   Tmin_1           3427 non-null   int64
 8   Tavg_1           3427 non-null   int32
 9   Depart_1         3427 non-null   int32
 10  DewPoint_1       3427 non-null   int64
 11  WetBulb_1        3427 non-null   int32
 12  Heat_1           3427 non-null   int32
 13  Cool_1           3427 non-null   int32
 14  Sunrise_1        3427 non-null   int32
 15  Sunset_1         3427 non-null   int32
 16  Depth_1          3427 non-null   int32
 17  SnowFall_1       3427 non-null   float64
 18  StnPressure_1    3427 non-null   float64
 19  SeaLevel_1       3427 non-null   float64
 20  ResultSpeed_1    3427 non-null   float64
 21  ResultDir_1      3427 non-null   int64
 22  AvgSpeed_1       3427 non-null   float64
 23  PrecipTotal_1    3427 non-null   float64
 24  day_1            3427 non-null   int64
 25  weekday_1        3427 non-null   int64
 26  month_1          3427 non-null   int64
 27  year_1           3427 non-null   int64
 28  Station_2        3427 non-null   int64
 29  Tmax_2           3427 non-null   int64
 30  Tmin_2           3427 non-null   int64
 31  Tavg_2           3427 non-null   int32
 32  Depart_2         3427 non-null   int32
 33  DewPoint_2       3427 non-null   int64
 34  WetBulb_2        3427 non-null   int32
 35  Heat_2           3427 non-null   int32
 36  Cool_2           3427 non-null   int32
 37  Sunrise_2        3427 non-null   int32
 38  Sunset_2         3427 non-null   int32
 39  Depth_2          3427 non-null   int32
 40  SnowFall_2       3427 non-null   float64
 41  StnPressure_2    3427 non-null   float64
 42  SeaLevel_2       3427 non-null   float64
 43  ResultSpeed_2    3427 non-null   float64
 44  ResultDir_2      3427 non-null   int64
 45  AvgSpeed_2       3427 non-null   float64
 46  PrecipTotal_2    3427 non-null   float64
dtypes: float64(14), int32(16), int64(17)
memory usage: 1.0 MB

In [105]:
Y_Data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3427 entries, 0 to 3426
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   NumMosquitos  3427 non-null   int64
 1   WnvPresent    3427 non-null   int64
dtypes: int64(2)
memory usage: 80.3 KB

In [106]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

X_train, X_test, y_train, y_test = train_test_split(
    X_Data,  # перший масив, який потрібно розділити
    Y_Data,  # другий масив, який потрібно роздолити
    test_size=0.2,  # розмір меншої групи (20% від загальної кількості даних)
    random_state=42  # фіксація випадкового стану: тепер при перезапуску групи будуть однаковими
)

    # формальність для того, щоб не бачити попередження про зміни на зрізі з таблиці
X_train, X_test = X_train.copy(), X_test.copy()
    # побудуємо модель
mdl = LinearRegression().fit(X_train, y_train)

    # оцінимо точність моделі
train_predictions = mdl.predict(X_train)
test_predictions = mdl.predict(X_test)

print('Помилка на навчальному наборі: ', mean_squared_error(y_train, train_predictions))
print('Помилка на тестовому наборі: ', mean_squared_error(y_test, test_predictions))

Помилка на навчальному наборі:  1077.7509912727264
Помилка на тестовому наборі:  967.1932847979036

In [107]:
df['Date'].sort_values(ascending=True)
df.set_index('Date')
for _, d in df.groupby('Date'):
    for _, row in d.iterrows():
        print(f'{_}, {row}')

0, Date         2011-08-29
Time         6:56:58 PM
Latitude      42.391623
Longitude    -88.089163
Name: 0, dtype: object
1, Date         2011-08-29
Time         6:57:08 PM
Latitude      42.391348
Longitude    -88.089163
Name: 1, dtype: object
2, Date         2011-08-29
Time         6:57:18 PM
Latitude      42.391022
Longitude    -88.089157
Name: 2, dtype: object
3, Date         2011-08-29
Time         6:57:28 PM
Latitude      42.390637
Longitude    -88.089158
Name: 3, dtype: object
4, Date         2011-08-29
Time         6:57:38 PM
Latitude       42.39041
Longitude    -88.088858
Name: 4, dtype: object
5, Date         2011-08-29
Time         6:57:48 PM
Latitude      42.390395
Longitude    -88.088315
Name: 5, dtype: object
6, Date         2011-08-29
Time         6:57:58 PM
Latitude      42.390673
Longitude    -88.088002
Name: 6, dtype: object
7, Date         2011-08-29
Time         6:58:08 PM
Latitude      42.391027
Longitude    -88.088002
Name: 7, dtype: object
8, Date         2011-08-29
Time         6:58:18 PM
Latitude      42.391403
Longitude    -88.088003
Name: 8, dtype: object
9, Date         2011-08-29
Time         6:58:28 PM
Latitude      42.391718
Longitude    -88.087995
Name: 9, dtype: object
10, Date         2011-08-29
Time         6:58:38 PM
Latitude      42.392038
Longitude    -88.087988
Name: 10, dtype: object
11, Date         2011-08-29
Time         6:58:48 PM
Latitude       42.39241
Longitude    -88.088078
Name: 11, dtype: object
12, Date         2011-08-29
Time         6:58:58 PM
Latitude        42.3928
Longitude    -88.088332
Name: 12, dtype: object
13, Date         2011-08-29
Time         6:59:08 PM
Latitude      42.393257
Longitude     -88.08837
Name: 13, dtype: object
14, Date         2011-08-29
Time         6:59:18 PM
Latitude        42.3936
Longitude    -88.088232
Name: 14, dtype: object
15, Date         2011-08-29
Time         7:00:08 PM
Latitude      42.393203
Longitude    -88.088417
Name: 15, dtype: object
16, Date         2011-08-29
Time         7:00:18 PM
Latitude      42.392792
Longitude    -88.088312
Name: 16, dtype: object
17, Date         2011-08-29
Time         7:00:28 PM
Latitude      42.392477
Longitude     -88.08821
Name: 17, dtype: object
18, Date         2011-08-29
Time         7:00:38 PM
Latitude      42.392385
Longitude    -88.088697
Name: 18, dtype: object
19, Date         2011-08-29
Time         7:00:48 PM
Latitude      42.392098
Longitude    -88.089113
Name: 19, dtype: object
20, Date         2011-08-29
Time         7:00:58 PM
Latitude       42.39218
Longitude    -88.089498
Name: 20, dtype: object
21, Date         2011-08-29
Time         7:01:08 PM
Latitude      42.392428
Longitude     -88.08979
Name: 21, dtype: object
22, Date         2011-08-29
Time         7:01:18 PM
Latitude      42.392722
Longitude    -88.090042
Name: 22, dtype: object
23, Date         2011-08-29
Time         7:01:28 PM
Latitude      42.392958
Longitude      -88.0903
Name: 23, dtype: object
24, Date         2011-08-29
Time         7:01:38 PM
Latitude       42.39299
Longitude    -88.090895
Name: 24, dtype: object
25, Date         2011-08-29
Time         7:01:48 PM
Latitude      42.393002
Longitude    -88.091612
Name: 25, dtype: object
26, Date         2011-08-29
Time         7:01:58 PM
Latitude      42.393008
Longitude     -88.09201
Name: 26, dtype: object
27, Date         2011-08-29
Time         7:02:08 PM
Latitude       42.39302
Longitude    -88.092548
Name: 27, dtype: object
28, Date         2011-08-29
Time         7:02:18 PM
Latitude      42.393103
Longitude    -88.093182
Name: 28, dtype: object
29, Date         2011-08-29
Time         7:02:28 PM
Latitude      42.393118
Longitude    -88.093737
Name: 29, dtype: object
30, Date         2011-08-29
Time         7:02:38 PM
Latitude      42.393423
Longitude    -88.093895
Name: 30, dtype: object
31, Date         2011-08-29
Time         7:02:48 PM
Latitude      42.393743
Longitude    -88.094075
Name: 31, dtype: object
32, Date         2011-08-29
Time         7:02:58 PM
Latitude      42.394105
Longitude     -88.09425
Name: 32, dtype: object
33, Date         2011-08-29
Time         7:03:08 PM
Latitude      42.394478
Longitude    -88.094223
Name: 33, dtype: object
34, Date         2011-08-29
Time         7:03:18 PM
Latitude       42.39486
Longitude    -88.094198
Name: 34, dtype: object
35, Date         2011-08-29
Time         7:03:28 PM
Latitude      42.395085
Longitude    -88.094515
Name: 35, dtype: object
36, Date         2011-08-29
Time         7:03:38 PM
Latitude      42.395095
Longitude    -88.095027
Name: 36, dtype: object
37, Date         2011-08-29
Time         7:03:48 PM
Latitude      42.395078
Longitude     -88.09552
Name: 37, dtype: object
38, Date         2011-08-29
Time         7:03:58 PM
Latitude      42.395352
Longitude    -88.095772
Name: 38, dtype: object
39, Date         2011-08-29
Time         7:04:08 PM
Latitude      42.395697
Longitude    -88.095833
Name: 39, dtype: object
40, Date         2011-08-29
Time         7:04:18 PM
Latitude      42.395983
Longitude    -88.095757
Name: 40, dtype: object
41, Date         2011-08-29
Time         7:04:48 PM
Latitude      42.395218
Longitude    -88.095685
Name: 41, dtype: object
42, Date         2011-08-29
Time         7:04:58 PM
Latitude      42.394932
Longitude    -88.095555
Name: 42, dtype: object
43, Date         2011-08-29
Time         7:05:08 PM
Latitude      42.394617
Longitude    -88.095597
Name: 43, dtype: object
44, Date         2011-08-29
Time         7:05:18 PM
Latitude       42.39429
Longitude      -88.0956
Name: 44, dtype: object
45, Date         2011-08-29
Time         7:05:28 PM
Latitude      42.393957
Longitude    -88.095485
Name: 45, dtype: object
46, Date         2011-08-29
Time         7:05:38 PM
Latitude      42.393673
Longitude    -88.095372
Name: 46, dtype: object
47, Date         2011-08-29
Time         7:05:48 PM
Latitude      42.393332
Longitude    -88.095222
Name: 47, dtype: object
48, Date         2011-08-29
Time         7:05:58 PM
Latitude      42.393037
Longitude    -88.095143
Name: 48, dtype: object
49, Date         2011-08-29
Time         7:06:08 PM
Latitude      42.392647
Longitude    -88.095138
Name: 49, dtype: object
50, Date         2011-08-29
Time         7:06:18 PM
Latitude      42.392348
Longitude     -88.09514
Name: 50, dtype: object
51, Date         2011-08-29
Time         7:06:28 PM
Latitude      42.392237
Longitude    -88.095455
Name: 51, dtype: object
52, Date         2011-08-29
Time         7:06:38 PM
Latitude      42.392247
Longitude     -88.09598
Name: 52, dtype: object
53, Date         2011-08-29
Time         7:06:48 PM
Latitude      42.392463
Longitude    -88.096435
Name: 53, dtype: object
54, Date         2011-08-29
Time         7:06:58 PM
Latitude      42.392838
Longitude    -88.096445
Name: 54, dtype: object
55, Date         2011-08-29
Time         7:07:08 PM
Latitude      42.393193
Longitude    -88.096447
Name: 55, dtype: object
56, Date         2011-08-29
Time         7:07:18 PM
Latitude      42.393488
Longitude    -88.096267
Name: 56, dtype: object
57, Date         2011-08-29
Time         7:07:28 PM
Latitude      42.393603
Longitude    -88.095917
Name: 57, dtype: object
58, Date         2011-08-29
Time         7:07:38 PM
Latitude      42.393678
Longitude    -88.095593
Name: 58, dtype: object
59, Date         2011-08-29
Time         7:08:18 PM
Latitude      42.392527
Longitude    -88.095148
Name: 59, dtype: object
60, Date         2011-08-29
Time         7:08:28 PM
Latitude      42.392197
Longitude    -88.095163
Name: 60, dtype: object
61, Date         2011-08-29
Time         7:08:38 PM
Latitude       42.39186
Longitude     -88.09514
Name: 61, dtype: object
62, Date         2011-08-29
Time         7:08:48 PM
Latitude      42.391518
Longitude    -88.095143
Name: 62, dtype: object
63, Date         2011-08-29
Time         7:08:58 PM
Latitude      42.391297
Longitude    -88.095203
Name: 63, dtype: object
64, Date         2011-08-29
Time         7:09:08 PM
Latitude      42.391275
Longitude    -88.095608
Name: 64, dtype: object
65, Date         2011-08-29
Time         7:09:18 PM
Latitude       42.39127
Longitude    -88.096035
Name: 65, dtype: object
66, Date         2011-08-29
Time         7:09:28 PM
Latitude      42.391238
Longitude    -88.096468
Name: 66, dtype: object
67, Date         2011-08-29
Time         7:09:38 PM
Latitude      42.390952
Longitude    -88.096437
Name: 67, dtype: object
68, Date         2011-08-29
Time         7:09:48 PM
Latitude      42.390642
Longitude     -88.09644
Name: 68, dtype: object
69, Date         2011-08-29
Time         7:09:58 PM
Latitude      42.390335
Longitude    -88.096443
Name: 69, dtype: object
70, Date         2011-08-29
Time         7:10:08 PM
Latitude      42.390048
Longitude    -88.096435
Name: 70, dtype: object
71, Date         2011-08-29
Time         7:10:18 PM
Latitude       42.38987
Longitude    -88.096258
Name: 71, dtype: object
72, Date         2011-08-29
Time         7:10:28 PM
Latitude      42.389867
Longitude    -88.095878
Name: 72, dtype: object
73, Date         2011-08-29
Time         7:10:38 PM
Latitude      42.389858
Longitude    -88.095487
Name: 73, dtype: object
74, Date         2011-08-29
Time         7:10:48 PM
Latitude      42.389855
Longitude     -88.09508
Name: 74, dtype: object
75, Date         2011-08-29
Time         7:10:58 PM
Latitude      42.389843
Longitude    -88.094667
Name: 75, dtype: object
76, Date         2011-08-29
Time         7:11:08 PM
Latitude      42.389835
Longitude    -88.094218
Name: 76, dtype: object
77, Date         2011-08-29
Time         7:11:18 PM
Latitude      42.389712
Longitude     -88.09391
Name: 77, dtype: object
78, Date         2011-08-29
Time         7:11:28 PM
Latitude       42.38946
Longitude    -88.093895
Name: 78, dtype: object
79, Date         2011-08-29
Time         7:11:58 PM
Latitude      42.389722
Longitude    -88.093833
Name: 79, dtype: object
80, Date         2011-08-29
Time         7:12:28 PM
Latitude      42.389857
Longitude    -88.094905
Name: 80, dtype: object
81, Date         2011-08-29
Time         7:12:38 PM
Latitude      42.390067
Longitude    -88.095155
Name: 81, dtype: object
82, Date         2011-08-29
Time         7:12:48 PM
Latitude       42.39057
Longitude    -88.095143
Name: 82, dtype: object
83, Date         2011-08-29
Time         7:12:58 PM
Latitude      42.390953
Longitude    -88.095145
Name: 83, dtype: object
84, Date         2011-08-29
Time         7:13:08 PM
Latitude      42.391225
Longitude    -88.095153
Name: 84, dtype: object
85, Date         2011-08-29
Time         7:13:18 PM
Latitude      42.391532
Longitude    -88.095155
Name: 85, dtype: object
86, Date         2011-08-29
Time         7:13:28 PM
Latitude      42.391855
Longitude    -88.095172
Name: 86, dtype: object
87, Date         2011-08-29
Time         7:14:08 PM
Latitude      42.392988
Longitude     -88.09497
Name: 87, dtype: object
88, Date         2011-08-29
Time         7:14:18 PM
Latitude      42.393053
Longitude    -88.094515
Name: 88, dtype: object
89, Date         2011-08-29
Time         7:14:28 PM
Latitude      42.393093
Longitude    -88.094055
Name: 89, dtype: object
90, Date         2011-08-29
Time         7:14:38 PM
Latitude      42.392902
Longitude    -88.093853
Name: 90, dtype: object
91, Date         2011-08-29
Time         7:14:48 PM
Latitude      42.392587
Longitude    -88.093867
Name: 91, dtype: object
92, Date         2011-08-29
Time         7:14:58 PM
Latitude      42.392308
Longitude    -88.093873
Name: 92, dtype: object
93, Date         2011-08-29
Time         7:15:18 PM
Latitude      42.392183
Longitude    -88.093767
Name: 93, dtype: object
94, Date         2011-08-29
Time         7:15:28 PM
Latitude      42.392508
Longitude    -88.093847
Name: 94, dtype: object
95, Date         2011-09-07
Time         7:52:52 PM
Latitude      41.981433
Longitude    -87.787777
Name: 95, dtype: object
96, Date         2011-09-07
Time         7:53:02 PM
Latitude      41.980998
Longitude    -87.787778
Name: 96, dtype: object
97, Date         2011-09-07
Time         7:53:12 PM
Latitude       41.98056
Longitude    -87.787762
Name: 97, dtype: object
98, Date         2011-09-07
Time         7:53:22 PM
Latitude      41.980198
Longitude    -87.787758
Name: 98, dtype: object
99, Date         2011-09-07
Time         7:53:32 PM
Latitude      41.979752
Longitude    -87.787765
Name: 99, dtype: object
100, Date         2011-09-07
Time         7:53:42 PM
Latitude      41.979352
Longitude    -87.787753
Name: 100, dtype: object
101, Date         2011-09-07
Time         7:53:52 PM
Latitude       41.97885
Longitude    -87.787763
Name: 101, dtype: object
102, Date         2011-09-07
Time         7:54:02 PM
Latitude      41.978398
Longitude    -87.787773
Name: 102, dtype: object
103, Date         2011-09-07
Time         7:54:12 PM
Latitude       41.97799
Longitude     -87.78776
Name: 103, dtype: object
104, Date         2011-09-07
Time         7:54:22 PM
Latitude      41.977495
Longitude    -87.787778
Name: 104, dtype: object
105, Date         2011-09-07
Time         7:55:42 PM
Latitude      41.975373
Longitude    -87.787837
Name: 105, dtype: object
106, Date         2011-09-07
Time         7:55:52 PM
Latitude      41.974823
Longitude    -87.787842
Name: 106, dtype: object
107, Date         2011-09-07
Time         7:56:02 PM
Latitude      41.974283
Longitude    -87.787867
Name: 107, dtype: object
108, Date         2011-09-07
Time         7:56:12 PM
Latitude       41.97381
Longitude     -87.78788
Name: 108, dtype: object
109, Date         2011-09-07
Time         7:56:22 PM
Latitude      41.973353
Longitude     -87.78788
Name: 109, dtype: object
110, Date         2011-09-07
Time         7:56:32 PM
Latitude      41.972905
Longitude    -87.787893
Name: 110, dtype: object
111, Date         2011-09-07
Time         7:56:42 PM
Latitude      41.972447
Longitude    -87.787893
Name: 111, dtype: object
112, Date         2011-09-07
Time         7:56:52 PM
Latitude      41.971918
Longitude    -87.787922
Name: 112, dtype: object
113, Date         2011-09-07
Time         7:57:02 PM
Latitude      41.971383
Longitude    -87.787928
Name: 113, dtype: object
114, Date         2011-09-07
Time         7:57:12 PM
Latitude      41.970898
Longitude     -87.78792
Name: 114, dtype: object
115, Date         2011-09-07
Time         7:57:22 PM
Latitude        41.9704
Longitude    -87.787947
Name: 115, dtype: object
116, Date         2011-09-07
Time         7:57:32 PM
Latitude       41.96987
Longitude    -87.787962
Name: 116, dtype: object
117, Date         2011-09-07
Time         7:57:42 PM
Latitude       41.96934
Longitude    -87.787978
Name: 117, dtype: object
118, Date         2011-09-07
Time         7:58:12 PM
Latitude      41.968553
Longitude    -87.788695
Name: 118, dtype: object
119, Date         2011-09-07
Time         7:58:22 PM
Latitude      41.968557
Longitude    -87.789108
Name: 119, dtype: object
120, Date         2011-09-07
Time         7:58:32 PM
Latitude      41.968763
Longitude    -87.789148
Name: 120, dtype: object
121, Date         2011-09-07
Time         7:59:02 PM
Latitude      41.968867
Longitude    -87.789165
Name: 121, dtype: object
122, Date         2011-09-07
Time         7:59:12 PM
Latitude      41.969145
Longitude    -87.789177
Name: 122, dtype: object
123, Date         2011-09-07
Time         7:59:22 PM
Latitude      41.969422
Longitude    -87.789202
Name: 123, dtype: object
124, Date         2011-09-07
Time         7:59:32 PM
Latitude      41.969692
Longitude    -87.789203
Name: 124, dtype: object
125, Date         2011-09-07
Time         7:59:52 PM
Latitude      41.970253
Longitude    -87.789247
Name: 125, dtype: object
126, Date         2011-09-07
Time         8:00:02 PM
Latitude      41.970648
Longitude    -87.789243
Name: 126, dtype: object
127, Date         2011-09-07
Time         8:00:12 PM
Latitude      41.970997
Longitude    -87.789233
Name: 127, dtype: object
128, Date         2011-09-07
Time         8:00:22 PM
Latitude      41.971383
Longitude    -87.789225
Name: 128, dtype: object
129, Date         2011-09-07
Time         8:00:32 PM
Latitude       41.97171
Longitude    -87.789227
Name: 129, dtype: object
130, Date         2011-09-07
Time         8:00:42 PM
Latitude      41.972065
Longitude    -87.789248
Name: 130, dtype: object
131, Date         2011-09-07
Time         8:00:52 PM
Latitude      41.972455
Longitude    -87.789243
Name: 131, dtype: object
132, Date         2011-09-07
Time         8:01:02 PM
Latitude       41.97281
Longitude    -87.789247
Name: 132, dtype: object
133, Date         2011-09-07
Time         8:01:12 PM
Latitude      41.973147
Longitude    -87.789237
Name: 133, dtype: object
134, Date         2011-09-07
Time         8:01:22 PM
Latitude      41.973418
Longitude    -87.789218
Name: 134, dtype: object
135, Date         2011-09-07
Time         8:01:42 PM
Latitude      41.974102
Longitude    -87.789228
Name: 135, dtype: object
136, Date         2011-09-07
Time         8:01:52 PM
Latitude      41.974587
Longitude    -87.789217
Name: 136, dtype: object
137, Date         2011-09-07
Time         8:02:02 PM
Latitude      41.974948
Longitude    -87.789208
Name: 137, dtype: object
138, Date         2011-09-07
Time         8:02:32 PM
Latitude      41.975467
Longitude    -87.789173
Name: 138, dtype: object
139, Date         2011-09-07
Time         8:02:42 PM
Latitude      41.975953
Longitude     -87.78916
Name: 139, dtype: object
140, Date         2011-09-07
Time         8:03:02 PM
Latitude      41.976428
Longitude    -87.789138
Name: 140, dtype: object
141, Date         2011-09-07
Time         8:03:12 PM
Latitude      41.976807
Longitude    -87.789148
Name: 141, dtype: object
142, Date         2011-09-07
Time         8:03:22 PM
Latitude      41.977197
Longitude     -87.78914
Name: 142, dtype: object
143, Date         2011-09-07
Time         8:03:32 PM
Latitude      41.977528
Longitude    -87.789157
Name: 143, dtype: object
144, Date         2011-09-07
Time         8:03:42 PM
Latitude      41.977958
Longitude    -87.789152
Name: 144, dtype: object
145, Date         2011-09-07
Time         8:03:52 PM
Latitude       41.97835
Longitude    -87.789163
Name: 145, dtype: object
146, Date         2011-09-07
Time         8:04:02 PM
Latitude      41.978745
Longitude    -87.789143
Name: 146, dtype: object
147, Date         2011-09-07
Time         8:04:12 PM
Latitude       41.97916
Longitude    -87.789132
Name: 147, dtype: object
148, Date         2011-09-07
Time         8:04:32 PM
Latitude        41.9799
Longitude    -87.789125
Name: 148, dtype: object
149, Date         2011-09-07
Time         8:04:42 PM
Latitude      41.980413
Longitude    -87.789118
Name: 149, dtype: object
150, Date         2011-09-07
Time         8:05:02 PM
Latitude      41.980715
Longitude    -87.789702
Name: 150, dtype: object
151, Date         2011-09-07
Time         8:05:12 PM
Latitude      41.980752
Longitude     -87.79012
Name: 151, dtype: object
152, Date         2011-09-07
Time         8:05:22 PM
Latitude      41.980585
Longitude    -87.790227
Name: 152, dtype: object
153, Date         2011-09-07
Time         8:05:32 PM
Latitude      41.980252
Longitude    -87.790213
Name: 153, dtype: object
154, Date         2011-09-07
Time         8:05:42 PM
Latitude       41.97995
Longitude    -87.790218
Name: 154, dtype: object

155, Date         2011-09-07
Time         8:05:52 PM
Latitude      41.979597
Longitude    -87.790208
Name: 155, dtype: object
156, Date         2011-09-07
Time         8:06:02 PM
Latitude      41.979312
Longitude    -87.790195
Name: 156, dtype: object
157, Date         2011-09-07
Time         8:06:12 PM
Latitude      41.979005
Longitude    -87.790203
Name: 157, dtype: object
158, Date         2011-09-07
Time         8:06:22 PM
Latitude      41.978637
Longitude    -87.790202
Name: 158, dtype: object
159, Date         2011-09-07
Time         8:06:32 PM
Latitude      41.978332
Longitude    -87.790198
Name: 159, dtype: object
160, Date         2011-09-07
Time         8:06:52 PM
Latitude       41.97771
Longitude    -87.790205
Name: 160, dtype: object
161, Date         2011-09-07
Time         8:07:02 PM
Latitude      41.977343
Longitude    -87.790213
Name: 161, dtype: object
162, Date         2011-09-07
Time         8:07:22 PM
Latitude      41.977107
Longitude    -87.790237
Name: 162, dtype: object
163, Date         2011-09-07
Time         8:07:32 PM
Latitude      41.976707
Longitude    -87.790223
Name: 163, dtype: object
164, Date         2011-09-07
Time         8:07:42 PM
Latitude      41.976298
Longitude     -87.79024
Name: 164, dtype: object
165, Date         2011-09-07
Time         8:07:52 PM
Latitude      41.975905
Longitude    -87.790252
Name: 165, dtype: object
166, Date         2011-09-07
Time         8:08:02 PM
Latitude      41.975588
Longitude    -87.790242
Name: 166, dtype: object
167, Date         2011-09-07
Time         8:08:12 PM
Latitude       41.97526
Longitude    -87.790225
Name: 167, dtype: object
168, Date         2011-09-07
Time         8:08:22 PM
Latitude      41.974803
Longitude    -87.790247
Name: 168, dtype: object
169, Date         2011-09-07
Time         8:08:32 PM
Latitude       41.97428
Longitude    -87.790243
Name: 169, dtype: object
170, Date         2011-09-07
Time         8:08:42 PM
Latitude      41.973785
Longitude    -87.790255
Name: 170, dtype: object
171, Date         2011-09-07
Time         8:08:52 PM
Latitude      41.973175
Longitude    -87.790268
Name: 171, dtype: object
172, Date         2011-09-07
Time         8:09:02 PM
Latitude      41.972635
Longitude     -87.79028
Name: 172, dtype: object
173, Date         2011-09-07
Time         8:09:12 PM
Latitude      41.972258
Longitude    -87.790297
Name: 173, dtype: object
174, Date         2011-09-07
Time         8:09:22 PM
Latitude      41.971703
Longitude    -87.790313
Name: 174, dtype: object
175, Date         2011-09-07
Time         8:09:32 PM
Latitude       41.97111
Longitude    -87.790322
Name: 175, dtype: object
176, Date         2011-09-07
Time         8:09:42 PM
Latitude      41.970617
Longitude     -87.79034
Name: 176, dtype: object
177, Date         2011-09-07
Time         8:09:52 PM
Latitude      41.970415
Longitude    -87.790488
Name: 177, dtype: object
178, Date         2011-09-07
Time         8:10:32 PM
Latitude      41.970898
Longitude    -87.791507
Name: 178, dtype: object
179, Date         2011-09-07
Time         8:10:42 PM
Latitude      41.971325
Longitude    -87.791503
Name: 179, dtype: object
180, Date         2011-09-07
Time         8:10:52 PM
Latitude      41.971793
Longitude    -87.791505
Name: 180, dtype: object
181, Date         2011-09-07
Time         8:11:02 PM
Latitude      41.972232
Longitude    -87.791522
Name: 181, dtype: object
182, Date         2011-09-07
Time         8:11:12 PM
Latitude      41.972723
Longitude    -87.791525
Name: 182, dtype: object
183, Date         2011-09-07
Time         8:11:22 PM
Latitude      41.973238
Longitude    -87.791528
Name: 183, dtype: object
184, Date         2011-09-07
Time         8:11:32 PM
Latitude      41.973685
Longitude    -87.791533
Name: 184, dtype: object
185, Date         2011-09-07
Time         8:11:42 PM
Latitude      41.974243
Longitude    -87.791545
Name: 185, dtype: object
186, Date         2011-09-07
Time         8:11:52 PM
Latitude      41.974732
Longitude     -87.79154
Name: 186, dtype: object
187, Date         2011-09-07
Time         8:12:02 PM
Latitude      41.975232
Longitude    -87.791545
Name: 187, dtype: object
188, Date         2011-09-07
Time         8:12:32 PM
Latitude      41.975683
Longitude    -87.791577
Name: 188, dtype: object
189, Date         2011-09-07
Time         8:12:42 PM
Latitude      41.976125
Longitude    -87.791597
Name: 189, dtype: object
190, Date         2011-09-07
Time         8:12:52 PM
Latitude       41.97661
Longitude     -87.79159
Name: 190, dtype: object
191, Date         2011-09-07
Time         8:13:02 PM
Latitude      41.977062
Longitude    -87.791575
Name: 191, dtype: object
192, Date         2011-09-07
Time         8:13:12 PM
Latitude      41.977452
Longitude    -87.791562
Name: 192, dtype: object
193, Date         2011-09-07
Time         8:13:22 PM
Latitude      41.977937
Longitude    -87.791547
Name: 193, dtype: object
194, Date         2011-09-07
Time         8:13:32 PM
Latitude      41.978433
Longitude    -87.791537
Name: 194, dtype: object
195, Date         2011-09-07
Time         8:13:42 PM
Latitude       41.97887
Longitude    -87.791528
Name: 195, dtype: object
196, Date         2011-09-07
Time         8:13:52 PM
Latitude      41.978985
Longitude     -87.79125
Name: 196, dtype: object
197, Date         2011-09-07
Time         8:14:02 PM
Latitude      41.979003
Longitude    -87.790738
Name: 197, dtype: object
198, Date         2011-09-07
Time         8:14:12 PM
Latitude      41.979208
Longitude     -87.79035
Name: 198, dtype: object
199, Date         2011-09-07
Time         8:14:22 PM
Latitude      41.979698
Longitude    -87.790342
Name: 199, dtype: object
200, Date         2011-09-07
Time         8:14:32 PM
Latitude      41.980188
Longitude    -87.790335
Name: 200, dtype: object
201, Date         2011-09-07
Time         8:14:42 PM
Latitude      41.980657
Longitude    -87.790328
Name: 201, dtype: object
202, Date         2011-09-07
Time         8:14:52 PM
Latitude      41.980805
Longitude    -87.790742
Name: 202, dtype: object
203, Date         2011-09-07
Time         8:15:02 PM
Latitude      41.980822
Longitude    -87.791435
Name: 203, dtype: object
204, Date         2011-09-07
Time         8:15:12 PM
Latitude      41.980842
Longitude    -87.792058
Name: 204, dtype: object
205, Date         2011-09-07
Time         8:15:42 PM
Latitude      41.980405
Longitude    -87.792628
Name: 205, dtype: object
206, Date         2011-09-07
Time         8:17:22 PM
Latitude      41.977662
Longitude    -87.792682
Name: 206, dtype: object
207, Date         2011-09-07
Time         8:17:32 PM
Latitude        41.9771
Longitude     -87.79268
Name: 207, dtype: object
208, Date         2011-09-07
Time         8:17:42 PM
Latitude      41.976547
Longitude    -87.792688
Name: 208, dtype: object
209, Date         2011-09-07
Time         8:17:52 PM
Latitude      41.975997
Longitude    -87.792708
Name: 209, dtype: object
210, Date         2011-09-07
Time         8:18:02 PM
Latitude      41.975587
Longitude     -87.79271
Name: 210, dtype: object
211, Date         2011-09-07
Time         8:18:12 PM
Latitude      41.975132
Longitude    -87.792702
Name: 211, dtype: object
212, Date         2011-09-07
Time         8:18:22 PM
Latitude      41.974712
Longitude    -87.792675
Name: 212, dtype: object
213, Date         2011-09-07
Time         8:18:32 PM
Latitude       41.97419
Longitude     -87.79271
Name: 213, dtype: object
214, Date         2011-09-07
Time         8:18:42 PM
Latitude        41.9737
Longitude    -87.792705
Name: 214, dtype: object
215, Date         2011-09-07
Time         8:18:52 PM
Latitude      41.973148
Longitude     -87.79272
Name: 215, dtype: object
216, Date         2011-09-07
Time         8:19:02 PM
Latitude      41.972628
Longitude    -87.792733
Name: 216, dtype: object
217, Date         2011-09-07
Time         8:19:12 PM
Latitude      41.972203
Longitude     -87.79274
Name: 217, dtype: object
218, Date         2011-09-07
Time         8:19:22 PM
Latitude      41.971692
Longitude     -87.79276
Name: 218, dtype: object
219, Date         2011-09-07
Time         8:19:32 PM
Latitude      41.971123
Longitude    -87.792767
Name: 219, dtype: object
220, Date         2011-09-07
Time         8:19:42 PM
Latitude      41.970625
Longitude    -87.792782
Name: 220, dtype: object
221, Date         2011-09-07
Time         8:19:52 PM
Latitude      41.970127
Longitude      -87.7928
Name: 221, dtype: object
222, Date         2011-09-07
Time         8:20:02 PM
Latitude      41.969605
Longitude    -87.792792
Name: 222, dtype: object
223, Date         2011-09-07
Time         8:20:12 PM
Latitude      41.969055
Longitude     -87.79281
Name: 223, dtype: object
224, Date         2011-09-07
Time         8:20:42 PM
Latitude      41.968615
Longitude    -87.793047
Name: 224, dtype: object
225, Date         2011-09-07
Time         8:20:52 PM
Latitude       41.96859
Longitude    -87.793847
Name: 225, dtype: object
226, Date         2011-09-07
Time         8:21:02 PM
Latitude      41.968782
Longitude    -87.794017
Name: 226, dtype: object
227, Date         2011-09-07
Time         8:21:12 PM
Latitude      41.969238
Longitude     -87.79403
Name: 227, dtype: object
228, Date         2011-09-07
Time         8:21:22 PM
Latitude      41.969722
Longitude    -87.794017
Name: 228, dtype: object

229, Date         2011-09-07
Time         8:21:32 PM
Latitude      41.970172
Longitude    -87.794005
Name: 229, dtype: object
230, Date         2011-09-07
Time         8:21:42 PM
Latitude      41.970575
Longitude    -87.794015
Name: 230, dtype: object
231, Date         2011-09-07
Time         8:21:52 PM
Latitude         41.971
Longitude    -87.794018
Name: 231, dtype: object
232, Date         2011-09-07
Time         8:22:02 PM
Latitude      41.971445
Longitude     -87.79401
Name: 232, dtype: object
233, Date         2011-09-07
Time         8:22:12 PM
Latitude      41.971885
Longitude    -87.794003
Name: 233, dtype: object
234, Date         2011-09-07
Time         8:22:22 PM
Latitude      41.972442
Longitude     -87.79401
Name: 234, dtype: object
235, Date         2011-09-07
Time         8:22:32 PM
Latitude      41.973043
Longitude    -87.793988
Name: 235, dtype: object
236, Date         2011-09-07
Time         8:22:52 PM
Latitude      41.974102
Longitude    -87.793973
Name: 236, dtype: object
237, Date         2011-09-07
Time         8:23:02 PM
Latitude       41.97469
Longitude     -87.79396
Name: 237, dtype: object
238, Date         2011-09-07
Time         8:23:12 PM
Latitude      41.975152
Longitude    -87.793953
Name: 238, dtype: object
239, Date         2011-09-07
Time         8:23:22 PM
Latitude      41.975585
Longitude    -87.793952
Name: 239, dtype: object
240, Date         2011-09-07
Time         8:23:32 PM
Latitude       41.97613
Longitude    -87.793943
Name: 240, dtype: object
241, Date         2011-09-07
Time         8:23:42 PM
Latitude       41.97662
Longitude    -87.793927
Name: 241, dtype: object
242, Date         2011-09-07
Time         8:23:52 PM
Latitude       41.97707
Longitude    -87.793917
Name: 242, dtype: object
243, Date         2011-09-07
Time         8:24:02 PM
Latitude      41.977663
Longitude    -87.793912
Name: 243, dtype: object
244, Date         2011-09-07
Time         8:24:12 PM
Latitude      41.978137
Longitude    -87.793902
Name: 244, dtype: object
245, Date         2011-09-07
Time         8:24:22 PM
Latitude      41.978717
Longitude    -87.793912
Name: 245, dtype: object
246, Date         2011-09-07
Time         8:24:32 PM
Latitude      41.979255
Longitude    -87.793902
Name: 246, dtype: object
247, Date         2011-09-07
Time         8:24:42 PM
Latitude      41.979798
Longitude    -87.793898
Name: 247, dtype: object
248, Date         2011-09-07
Time         8:26:12 PM
Latitude       41.97803
Longitude    -87.795082
Name: 248, dtype: object
249, Date         2011-09-07
Time         8:26:22 PM
Latitude      41.977522
Longitude    -87.795093
Name: 249, dtype: object
250, Date         2011-09-07
Time         8:26:32 PM
Latitude      41.977028
Longitude    -87.795107
Name: 250, dtype: object
251, Date         2011-09-07
Time         8:26:42 PM
Latitude      41.976615
Longitude    -87.795113
Name: 251, dtype: object
252, Date         2011-09-07
Time         8:26:52 PM
Latitude      41.976287
Longitude    -87.795122
Name: 252, dtype: object
253, Date         2011-09-07
Time         8:27:02 PM
Latitude       41.97585
Longitude    -87.795142
Name: 253, dtype: object
254, Date         2011-09-07
Time         8:27:12 PM
Latitude      41.975507
Longitude     -87.79513
Name: 254, dtype: object
255, Date         2011-09-07
Time         8:27:22 PM
Latitude      41.975063
Longitude    -87.795103
Name: 255, dtype: object
256, Date         2011-09-07
Time         8:27:32 PM
Latitude      41.974527
Longitude    -87.795105
Name: 256, dtype: object
257, Date         2011-09-07
Time         8:27:42 PM
Latitude      41.974038
Longitude    -87.795103
Name: 257, dtype: object
258, Date         2011-09-07
Time         8:27:52 PM
Latitude       41.97354
Longitude     -87.79512
Name: 258, dtype: object
259, Date         2011-09-07
Time         8:28:02 PM
Latitude      41.972992
Longitude    -87.795132
Name: 259, dtype: object
260, Date         2011-09-07
Time         8:28:12 PM
Latitude      41.972425
Longitude    -87.795147
Name: 260, dtype: object
261, Date         2011-09-07
Time         8:28:22 PM
Latitude      41.971858
Longitude    -87.795158
Name: 261, dtype: object
262, Date         2011-09-07
Time         8:28:32 PM
Latitude       41.97137
Longitude    -87.795172
Name: 262, dtype: object
263, Date         2011-09-07
Time         8:28:42 PM
Latitude       41.97085
Longitude    -87.795183
Name: 263, dtype: object
264, Date         2011-09-07
Time         8:28:52 PM
Latitude       41.97038
Longitude    -87.795182
Name: 264, dtype: object
265, Date         2011-09-07
Time         8:29:02 PM
Latitude      41.969785
Longitude    -87.795195
Name: 265, dtype: object
266, Date         2011-09-07
Time         8:29:12 PM
Latitude      41.969212
Longitude    -87.795203
Name: 266, dtype: object
267, Date         2011-09-07
Time         8:29:22 PM
Latitude      41.968615
Longitude    -87.795268
Name: 267, dtype: object
268, Date         2011-09-07
Time         8:29:32 PM
Latitude       41.96858
Longitude    -87.796065
Name: 268, dtype: object
269, Date         2011-09-07
Time         8:29:42 PM
Latitude      41.968762
Longitude     -87.79645
Name: 269, dtype: object
270, Date         2011-09-07
Time         8:29:52 PM
Latitude      41.969278
Longitude    -87.796443
Name: 270, dtype: object
271, Date         2011-09-07
Time         8:30:02 PM
Latitude      41.969778
Longitude    -87.796443
Name: 271, dtype: object
272, Date         2011-09-07
Time         8:30:12 PM
Latitude      41.970187
Longitude    -87.796447
Name: 272, dtype: object
273, Date         2011-09-07
Time         8:30:22 PM
Latitude       41.97072
Longitude    -87.796453
Name: 273, dtype: object
274, Date         2011-09-07
Time         8:30:32 PM
Latitude      41.971317
Longitude     -87.79644
Name: 274, dtype: object
275, Date         2011-09-07
Time         8:30:42 PM
Latitude      41.971792
Longitude    -87.796445
Name: 275, dtype: object
276, Date         2011-09-07
Time         8:31:02 PM
Latitude      41.971968
Longitude    -87.797247
Name: 276, dtype: object
277, Date         2011-09-07
Time         8:31:12 PM
Latitude       41.97201
Longitude    -87.797597
Name: 277, dtype: object
278, Date         2011-09-07
Time         8:31:22 PM
Latitude        41.9725
Longitude    -87.797608
Name: 278, dtype: object
279, Date         2011-09-07
Time         8:31:32 PM
Latitude      41.972958
Longitude    -87.797608
Name: 279, dtype: object
280, Date         2011-09-07
Time         8:31:42 PM
Latitude      41.973497
Longitude    -87.797613
Name: 280, dtype: object
281, Date         2011-09-07
Time         8:31:52 PM
Latitude      41.974035
Longitude    -87.797608
Name: 281, dtype: object
282, Date         2011-09-07
Time         8:32:02 PM
Latitude      41.974658
Longitude    -87.797612
Name: 282, dtype: object
283, Date         2011-09-07
Time         8:32:12 PM
Latitude      41.975198
Longitude    -87.797603
Name: 283, dtype: object
284, Date         2011-09-07
Time         8:32:22 PM
Latitude      41.975648
Longitude    -87.797602
Name: 284, dtype: object
285, Date         2011-09-07
Time         8:32:32 PM
Latitude      41.976238
Longitude     -87.79759
Name: 285, dtype: object
286, Date         2011-09-07
Time         8:32:42 PM
Latitude      41.976847
Longitude    -87.797598
Name: 286, dtype: object
287, Date         2011-09-07
Time         8:33:02 PM
Latitude       41.97818
Longitude     -87.79757
Name: 287, dtype: object
288, Date         2011-09-07
Time         8:33:12 PM
Latitude      41.978663
Longitude     -87.79759
Name: 288, dtype: object
289, Date         2011-09-07
Time         8:33:22 PM
Latitude      41.979112
Longitude    -87.797697
Name: 289, dtype: object
290, Date         2011-09-07
Time         8:33:32 PM
Latitude       41.97972
Longitude    -87.797682
Name: 290, dtype: object
291, Date         2011-09-07
Time         8:33:42 PM
Latitude      41.980293
Longitude    -87.797692
Name: 291, dtype: object
292, Date         2011-09-07
Time         8:33:52 PM
Latitude      41.980888
Longitude    -87.797682
Name: 292, dtype: object
293, Date         2011-09-07
Time         8:34:02 PM
Latitude      41.981223
Longitude     -87.79768
Name: 293, dtype: object
294, Date         2011-09-07
Time         8:34:42 PM
Latitude      41.981603
Longitude    -87.798467
Name: 294, dtype: object
295, Date         2011-09-07
Time         8:34:52 PM
Latitude       41.98154
Longitude    -87.798838
Name: 295, dtype: object
296, Date         2011-09-07
Time         8:35:02 PM
Latitude      41.981097
Longitude    -87.798852
Name: 296, dtype: object
297, Date         2011-09-07
Time         8:35:12 PM
Latitude      41.980555
Longitude     -87.79885
Name: 297, dtype: object
298, Date         2011-09-07
Time         8:35:22 PM
Latitude      41.980025
Longitude    -87.798852
Name: 298, dtype: object
299, Date         2011-09-07
Time         8:35:32 PM
Latitude      41.979513
Longitude    -87.798867
Name: 299, dtype: object
300, Date         2011-09-07
Time         8:35:52 PM
Latitude       41.97917
Longitude    -87.798772
Name: 300, dtype: object
301, Date         2011-09-07
Time         8:36:02 PM
Latitude      41.978658
Longitude    -87.798763
Name: 301, dtype: object
302, Date         2011-09-07
Time         8:36:12 PM
Latitude      41.978147
Longitude    -87.798773
Name: 302, dtype: object
303, Date         2011-09-07
Time         8:36:22 PM
Latitude       41.97762
Longitude    -87.798775
Name: 303, dtype: object
304, Date         2011-09-07
Time         8:36:32 PM
Latitude       41.97714
Longitude    -87.798777
Name: 304, dtype: object
305, Date         2011-09-07
Time         8:36:42 PM
Latitude       41.97651
Longitude    -87.798775
Name: 305, dtype: object
306, Date         2011-09-07
Time         8:36:52 PM
Latitude      41.975917
Longitude    -87.798773
Name: 306, dtype: object
307, Date         2011-09-07
Time         8:37:32 PM
Latitude      41.975372
Longitude    -87.798775
Name: 307, dtype: object
308, Date         2011-09-07
Time         8:37:42 PM
Latitude      41.974842
Longitude     -87.79879
Name: 308, dtype: object
309, Date         2011-09-07
Time         8:37:52 PM
Latitude      41.974265
Longitude    -87.798805
Name: 309, dtype: object
310, Date         2011-09-07
Time         8:38:02 PM
Latitude       41.97377
Longitude    -87.798797
Name: 310, dtype: object
311, Date         2011-09-07
Time         8:38:12 PM
Latitude      41.973175
Longitude    -87.798805
Name: 311, dtype: object
312, Date         2011-09-07
Time         8:38:22 PM
Latitude      41.972953
Longitude    -87.798967
Name: 312, dtype: object
313, Date         2011-09-07
Time         8:38:32 PM
Latitude      41.972622
Longitude    -87.799048
Name: 313, dtype: object
314, Date         2011-09-07
Time         8:38:42 PM
Latitude       41.97211
Longitude    -87.798975
Name: 314, dtype: object
315, Date         2011-09-07
Time         8:38:52 PM
Latitude      41.971638
Longitude    -87.798813
Name: 315, dtype: object
316, Date         2011-09-07
Time         8:39:02 PM
Latitude       41.97103
Longitude    -87.798838
Name: 316, dtype: object
317, Date         2011-09-07
Time         8:39:12 PM
Latitude      41.970478
Longitude    -87.798837
Name: 317, dtype: object
318, Date         2011-09-07
Time         8:39:22 PM
Latitude      41.969998
Longitude    -87.798822
Name: 318, dtype: object
319, Date         2011-09-07
Time         8:39:32 PM
Latitude      41.969442
Longitude    -87.798848
Name: 319, dtype: object
320, Date         2011-09-07
Time         8:39:42 PM
Latitude      41.968855
Longitude    -87.798867
Name: 320, dtype: object
321, Date         2011-09-07
Time         8:40:02 PM
Latitude      41.968538
Longitude    -87.799545
Name: 321, dtype: object
322, Date         2011-09-07
Time         8:40:12 PM
Latitude      41.968637
Longitude    -87.800097
Name: 322, dtype: object
323, Date         2011-09-07
Time         8:40:22 PM
Latitude      41.969055
Longitude    -87.800072
Name: 323, dtype: object
324, Date         2011-09-07
Time         8:40:32 PM
Latitude      41.969528
Longitude    -87.800072
Name: 324, dtype: object
325, Date         2011-09-07
Time         8:40:42 PM
Latitude       41.96998
Longitude     -87.80006
Name: 325, dtype: object
326, Date         2011-09-07
Time         8:40:52 PM
Latitude       41.97032
Longitude     -87.80004
Name: 326, dtype: object
327, Date         2011-09-07
Time         8:41:02 PM
Latitude       41.97085
Longitude    -87.800045
Name: 327, dtype: object
328, Date         2011-09-07
Time         8:41:12 PM
Latitude      41.971378
Longitude    -87.800038
Name: 328, dtype: object
329, Date         2011-09-07
Time         8:41:22 PM
Latitude       41.97191
Longitude    -87.800033
Name: 329, dtype: object
330, Date         2011-09-07
Time         8:41:32 PM
Latitude      41.972512
Longitude     -87.80003
Name: 330, dtype: object
331, Date         2011-09-07
Time         8:41:42 PM
Latitude      41.973112
Longitude    -87.800018
Name: 331, dtype: object
332, Date         2011-09-07
Time         8:41:52 PM
Latitude       41.97357
Longitude    -87.800002
Name: 332, dtype: object
333, Date         2011-09-07
Time         8:42:02 PM
Latitude       41.97402
Longitude    -87.799998
Name: 333, dtype: object
334, Date         2011-09-07
Time         8:42:12 PM
Latitude       41.97469
Longitude    -87.799997
Name: 334, dtype: object
335, Date         2011-09-07
Time         8:42:22 PM
Latitude      41.975262
Longitude    -87.799977
Name: 335, dtype: object
336, Date         2011-09-07
Time         8:42:32 PM
Latitude      41.975467
Longitude    -87.800143
Name: 336, dtype: object
337, Date         2011-09-07
Time         8:42:42 PM
Latitude      41.975473
Longitude    -87.800892
Name: 337, dtype: object
338, Date         2011-09-07
Time         8:42:52 PM
Latitude      41.975253
Longitude    -87.801182
Name: 338, dtype: object
339, Date         2011-09-07
Time         8:43:02 PM
Latitude      41.974815
Longitude    -87.801195
Name: 339, dtype: object
340, Date         2011-09-07
Time         8:43:12 PM
Latitude      41.974328
Longitude    -87.801188
Name: 340, dtype: object
341, Date         2011-09-07
Time         8:43:22 PM
Latitude      41.973953
Longitude    -87.801208
Name: 341, dtype: object
342, Date         2011-09-07
Time         8:43:32 PM
Latitude       41.97354
Longitude    -87.801205
Name: 342, dtype: object
343, Date         2011-09-07
Time         8:43:42 PM
Latitude      41.972982
Longitude    -87.801215
Name: 343, dtype: object
344, Date         2011-09-07
Time         8:43:52 PM
Latitude      41.972452
Longitude    -87.801223
Name: 344, dtype: object
345, Date         2011-09-07
Time         8:44:02 PM
Latitude      41.971972
Longitude     -87.80124
Name: 345, dtype: object
346, Date         2011-09-07
Time         8:44:12 PM
Latitude       41.97139
Longitude    -87.801242
Name: 346, dtype: object
347, Date         2011-09-07
Time         8:44:22 PM
Latitude      41.970755
Longitude    -87.801258
Name: 347, dtype: object
348, Date         2011-09-07
Time         8:44:32 PM
Latitude      41.970142
Longitude    -87.801272
Name: 348, dtype: object
349, Date         2011-09-07
Time         8:44:42 PM
Latitude      41.969652
Longitude     -87.80127
Name: 349, dtype: object
350, Date         2011-09-07
Time         8:44:52 PM
Latitude      41.969118
Longitude    -87.801305
Name: 350, dtype: object
351, Date         2011-09-07
Time         8:45:02 PM
Latitude      41.968603
Longitude    -87.801332
Name: 351, dtype: object
352, Date         2011-09-07
Time         8:45:12 PM
Latitude      41.968442
Longitude    -87.801713
Name: 352, dtype: object
353, Date         2011-09-07
Time         8:45:22 PM
Latitude      41.968435
Longitude    -87.802447
Name: 353, dtype: object
354, Date         2011-09-07
Time         8:45:32 PM
Latitude      41.968825
Longitude    -87.802523
Name: 354, dtype: object
355, Date         2011-09-07
Time         8:45:42 PM
Latitude      41.969365
Longitude    -87.802497
Name: 355, dtype: object
356, Date         2011-09-07
Time         8:45:52 PM
Latitude      41.969857
Longitude     -87.80248
Name: 356, dtype: object
357, Date         2011-09-07
Time         8:46:12 PM
Latitude      41.970673
Longitude     -87.80246
Name: 357, dtype: object
358, Date         2011-09-07
Time         8:46:22 PM
Latitude      41.971172
Longitude    -87.802447
Name: 358, dtype: object
359, Date         2011-09-07
Time         8:46:32 PM
Latitude      41.971678
Longitude     -87.80246
Name: 359, dtype: object
360, Date         2011-09-07
Time         8:46:42 PM
Latitude      41.972155
Longitude    -87.802465
Name: 360, dtype: object
361, Date         2011-09-07
Time         8:46:52 PM
Latitude      41.972687
Longitude    -87.802457
Name: 361, dtype: object
362, Date         2011-09-07
Time         8:47:02 PM
Latitude      41.973255
Longitude    -87.802453
Name: 362, dtype: object
363, Date         2011-09-07
Time         8:47:12 PM
Latitude      41.973793
Longitude    -87.802442
Name: 363, dtype: object
364, Date         2011-09-07
Time         8:47:22 PM
Latitude      41.974332
Longitude    -87.802428
Name: 364, dtype: object
365, Date         2011-09-07
Time         8:47:32 PM
Latitude      41.974788
Longitude    -87.802438
Name: 365, dtype: object
366, Date         2011-09-07
Time         8:47:42 PM
Latitude      41.975222
Longitude    -87.802432
Name: 366, dtype: object
367, Date         2011-09-07
Time         8:48:02 PM
Latitude       41.97542
Longitude    -87.802433
Name: 367, dtype: object
368, Date         2011-09-07
Time         8:48:12 PM
Latitude      41.975898
Longitude    -87.802437
Name: 368, dtype: object
369, Date         2011-09-07
Time         8:48:22 PM
Latitude      41.976387
Longitude     -87.80243

Name: 369, dtype: object
370, Date         2011-09-07
Time         8:48:32 PM
Latitude      41.976927
Longitude     -87.80242
Name: 370, dtype: object
371, Date         2011-09-07
Time         8:48:42 PM
Latitude      41.977423
Longitude    -87.802422
Name: 371, dtype: object
372, Date         2011-09-07
Time         8:48:52 PM
Latitude       41.97795
Longitude    -87.802407
Name: 372, dtype: object
373, Date         2011-09-07
Time         8:49:02 PM
Latitude      41.978452
Longitude    -87.802383
Name: 373, dtype: object
374, Date         2011-09-07
Time         8:49:12 PM
Latitude      41.979023
Longitude    -87.802368
Name: 374, dtype: object
375, Date         2011-09-07
Time         8:49:22 PM
Latitude      41.979645
Longitude    -87.802368
Name: 375, dtype: object
376, Date         2011-09-07
Time         8:49:52 PM
Latitude      41.980992
Longitude    -87.802352
Name: 376, dtype: object
377, Date         2011-09-07
Time         8:50:02 PM
Latitude      41.981483
Longitude    -87.802335
Name: 377, dtype: object
378, Date         2011-09-07
Time         8:50:22 PM
Latitude      41.981727
Longitude    -87.802965
Name: 378, dtype: object
379, Date         2011-09-07
Time         8:50:32 PM
Latitude      41.981713
Longitude    -87.803448
Name: 379, dtype: object
380, Date         2011-09-07
Time         8:50:42 PM
Latitude      41.981332
Longitude    -87.803485
Name: 380, dtype: object
381, Date         2011-09-07
Time         8:50:52 PM
Latitude      41.980903
Longitude     -87.80352
Name: 381, dtype: object
382, Date         2011-09-07
Time         8:51:02 PM
Latitude      41.980438
Longitude    -87.803518
Name: 382, dtype: object
383, Date         2011-09-07
Time         8:51:12 PM
Latitude      41.980133
Longitude    -87.803532
Name: 383, dtype: object
384, Date         2011-09-07
Time         8:51:22 PM
Latitude       41.97966
Longitude    -87.803558
Name: 384, dtype: object
385, Date         2011-09-07
Time         8:51:32 PM
Latitude      41.979252
Longitude    -87.803562
Name: 385, dtype: object
386, Date         2011-09-07
Time         8:51:42 PM
Latitude      41.978792
Longitude    -87.803553
Name: 386, dtype: object
387, Date         2011-09-07
Time         8:51:52 PM
Latitude      41.978263
Longitude    -87.803565
Name: 387, dtype: object
388, Date         2011-09-07
Time         8:52:02 PM
Latitude      41.977898
Longitude    -87.803628
Name: 388, dtype: object
389, Date         2011-09-07
Time         8:52:12 PM
Latitude      41.977873
Longitude    -87.804283
Name: 389, dtype: object
390, Date         2011-09-07
Time         8:52:32 PM
Latitude      41.978522
Longitude    -87.804673
Name: 390, dtype: object
391, Date         2011-09-07
Time         8:52:42 PM
Latitude      41.979097
Longitude    -87.804658
Name: 391, dtype: object
392, Date         2011-09-07
Time         8:52:52 PM
Latitude       41.97973
Longitude     -87.80466
Name: 392, dtype: object
393, Date         2011-09-07
Time         8:53:02 PM
Latitude      41.980327
Longitude    -87.804655
Name: 393, dtype: object
394, Date         2011-09-07
Time         8:53:12 PM
Latitude      41.980623
Longitude    -87.804648
Name: 394, dtype: object
395, Date         2011-09-07
Time         8:53:22 PM
Latitude      41.981238
Longitude    -87.804645
Name: 395, dtype: object
396, Date         2011-09-07
Time         8:55:02 PM
Latitude      41.979082
Longitude     -87.80386
Name: 396, dtype: object
397, Date         2011-09-07
Time         8:56:02 PM
Latitude      41.979128
Longitude    -87.804572
Name: 397, dtype: object
398, Date         2011-09-07
Time         8:56:12 PM
Latitude      41.978688
Longitude    -87.804707
Name: 398, dtype: object
399, Date         2011-09-07
Time         8:56:22 PM
Latitude      41.978138
Longitude    -87.804718
Name: 399, dtype: object
400, Date         2011-09-07
Time         8:56:32 PM
Latitude      41.977653
Longitude    -87.804732
Name: 400, dtype: object
401, Date         2011-09-07
Time         8:56:42 PM
Latitude      41.977207
Longitude    -87.804725
Name: 401, dtype: object
402, Date         2011-09-07
Time         8:56:52 PM
Latitude      41.976768
Longitude     -87.80473
Name: 402, dtype: object
403, Date         2011-09-07
Time         8:57:02 PM
Latitude       41.97619
Longitude    -87.804752
Name: 403, dtype: object
404, Date         2011-09-07
Time         8:57:32 PM
Latitude      41.975137
Longitude    -87.804762
Name: 404, dtype: object
405, Date         2011-09-07
Time         8:57:42 PM
Latitude      41.974753
Longitude    -87.804767
Name: 405, dtype: object
406, Date         2011-09-07
Time         8:57:52 PM
Latitude      41.974298
Longitude    -87.804778
Name: 406, dtype: object
407, Date         2011-09-07
Time         8:58:02 PM
Latitude      41.973943
Longitude    -87.804772
Name: 407, dtype: object
408, Date         2011-09-07
Time         8:58:12 PM
Latitude       41.97382
Longitude     -87.80434
Name: 408, dtype: object
409, Date         2011-09-07
Time         8:58:22 PM
Latitude       41.97382
Longitude    -87.803943
Name: 409, dtype: object
410, Date         2011-09-07
Time         8:59:12 PM
Latitude      41.973793
Longitude    -87.803673
Name: 410, dtype: object
411, Date         2011-09-07
Time         8:59:22 PM
Latitude      41.973808
Longitude    -87.802978
Name: 411, dtype: object
412, Date         2011-09-07
Time         8:59:32 PM
Latitude       41.97381
Longitude    -87.802383
Name: 412, dtype: object
413, Date         2011-09-07
Time         8:59:42 PM
Latitude      41.973822
Longitude    -87.801585
Name: 413, dtype: object
414, Date         2011-09-07
Time         8:59:52 PM
Latitude      41.973832
Longitude     -87.80075
Name: 414, dtype: object
415, Date         2011-09-07
Time         9:00:02 PM
Latitude      41.973835
Longitude    -87.799922
Name: 415, dtype: object
416, Date         2011-09-07
Time         9:00:12 PM
Latitude      41.973847
Longitude    -87.799155
Name: 416, dtype: object
417, Date         2011-09-07
Time         9:00:42 PM
Latitude      41.973852
Longitude    -87.796783
Name: 417, dtype: object
418, Date         2011-09-07
Time         9:01:02 PM
Latitude      41.973868
Longitude    -87.795155
Name: 418, dtype: object
419, Date         2011-09-07
Time         9:01:12 PM
Latitude      41.973888
Longitude    -87.794407
Name: 419, dtype: object
420, Date         2011-09-07
Time         9:01:22 PM
Latitude      41.973897
Longitude     -87.79347
Name: 420, dtype: object
421, Date         2011-09-07
Time         9:01:32 PM
Latitude      41.973893
Longitude    -87.792565
Name: 421, dtype: object
422, Date         2011-09-07
Time         9:01:52 PM
Latitude      41.973888
Longitude    -87.790952
Name: 422, dtype: object
423, Date         2011-09-07
Time         9:02:02 PM
Latitude       41.97389
Longitude    -87.790017
Name: 423, dtype: object
424, Date         2011-09-07
Time         9:02:12 PM
Latitude      41.973903
Longitude     -87.78914
Name: 424, dtype: object
425, Date         2011-09-07
Time         9:02:22 PM
Latitude       41.97389
Longitude    -87.788532
Name: 425, dtype: object
426, Date         2011-09-07
Time         9:02:52 PM
Latitude      41.972138
Longitude    -87.788297
Name: 426, dtype: object
427, Date         2011-09-07
Time         9:03:02 PM
Latitude      41.972068
Longitude    -87.788915
Name: 427, dtype: object
428, Date         2011-09-07
Time         9:03:12 PM
Latitude       41.97205
Longitude    -87.789482
Name: 428, dtype: object
429, Date         2011-09-07
Time         9:03:22 PM
Latitude      41.972035
Longitude    -87.790243
Name: 429, dtype: object
430, Date         2011-09-07
Time         9:03:32 PM
Latitude       41.97203
Longitude    -87.790975
Name: 430, dtype: object
431, Date         2011-09-07
Time         9:03:42 PM
Latitude       41.97202
Longitude    -87.791817
Name: 431, dtype: object
432, Date         2011-09-07
Time         9:03:52 PM
Latitude         41.972
Longitude    -87.792663
Name: 432, dtype: object
433, Date         2011-09-07
Time         9:04:02 PM
Latitude      41.971972
Longitude     -87.79346
Name: 433, dtype: object
434, Date         2011-09-07
Time         9:04:12 PM
Latitude      41.971978
Longitude    -87.794218
Name: 434, dtype: object
435, Date         2011-09-07
Time         9:04:22 PM
Latitude      41.971973
Longitude    -87.795043
Name: 435, dtype: object
436, Date         2011-09-07
Time         9:04:32 PM
Latitude      41.971957
Longitude    -87.795853
Name: 436, dtype: object
437, Date         2011-09-07
Time         9:04:42 PM
Latitude      41.971957
Longitude    -87.796728
Name: 437, dtype: object
438, Date         2011-09-07
Time         9:04:52 PM
Latitude      41.971955
Longitude    -87.797478
Name: 438, dtype: object
439, Date         2011-09-07
Time         9:05:02 PM
Latitude      41.971957
Longitude    -87.798338
Name: 439, dtype: object
440, Date         2011-09-07
Time         9:05:12 PM
Latitude      41.971937
Longitude    -87.799145
Name: 440, dtype: object
441, Date         2011-09-07
Time         9:05:22 PM
Latitude      41.971927
Longitude    -87.799892
Name: 441, dtype: object
442, Date         2011-09-07
Time         9:05:32 PM
Latitude      41.971892
Longitude    -87.800733
Name: 442, dtype: object
443, Date         2011-09-07
Time         9:05:42 PM
Latitude       41.97189
Longitude    -87.801573
Name: 443, dtype: object
444, Date         2011-09-07
Time         9:05:52 PM
Latitude      41.971895
Longitude     -87.80239
Name: 444, dtype: object
445, Date         2011-09-07
Time         9:06:02 PM
Latitude      41.971883
Longitude    -87.803243
Name: 445, dtype: object
446, Date         2011-09-07
Time         9:06:12 PM
Latitude       41.97187
Longitude    -87.804082
Name: 446, dtype: object
447, Date         2011-09-07
Time         9:06:22 PM
Latitude      41.971862
Longitude    -87.804913
Name: 447, dtype: object
448, Date         2011-09-07
Time         9:06:32 PM
Latitude      41.971862
Longitude    -87.805737
Name: 448, dtype: object
449, Date         2011-09-07
Time         9:06:42 PM
Latitude      41.971862
Longitude     -87.80652
Name: 449, dtype: object
450, Date         2011-09-07
Time         9:08:02 PM
Latitude      41.970162
Longitude    -87.806592
Name: 450, dtype: object
451, Date         2011-09-07
Time         9:08:12 PM
Latitude      41.970163
Longitude    -87.806048
Name: 451, dtype: object
452, Date         2011-09-07
Time         9:08:22 PM
Latitude      41.970165
Longitude    -87.805312
Name: 452, dtype: object
453, Date         2011-09-07
Time         9:08:32 PM
Latitude      41.970158
Longitude    -87.804705
Name: 453, dtype: object

454, Date         2011-09-07
Time         9:08:42 PM
Latitude      41.970163
Longitude    -87.803965
Name: 454, dtype: object
455, Date         2011-09-07
Time         9:08:52 PM
Latitude      41.970178
Longitude    -87.803197
Name: 455, dtype: object
456, Date         2011-09-07
Time         9:09:02 PM
Latitude      41.970182
Longitude    -87.802387
Name: 456, dtype: object
457, Date         2011-09-07
Time         9:09:12 PM
Latitude      41.970193
Longitude    -87.801573
Name: 457, dtype: object
458, Date         2011-09-07
Time         9:09:22 PM
Latitude      41.970193
Longitude    -87.800803
Name: 458, dtype: object
459, Date         2011-09-07
Time         9:09:32 PM
Latitude      41.970188
Longitude    -87.800025
Name: 459, dtype: object
460, Date         2011-09-07
Time         9:09:42 PM
Latitude      41.970198
Longitude    -87.799135
Name: 460, dtype: object
461, Date         2011-09-07
Time         9:09:52 PM
Latitude      41.970202
Longitude    -87.798375
Name: 461, dtype: object
462, Date         2011-09-07
Time         9:10:02 PM
Latitude      41.970238
Longitude    -87.797877
Name: 462, dtype: object
463, Date         2011-09-07
Time         9:10:12 PM
Latitude      41.970238
Longitude    -87.797222
Name: 463, dtype: object
464, Date         2011-09-07
Time         9:10:22 PM
Latitude      41.970305
Longitude    -87.796772
Name: 464, dtype: object
465, Date         2011-09-07
Time         9:10:32 PM
Latitude      41.970298
Longitude    -87.796187
Name: 465, dtype: object
466, Date         2011-09-07
Time         9:10:42 PM
Latitude      41.970305
Longitude    -87.795637
Name: 466, dtype: object
467, Date         2011-09-07
Time         9:10:52 PM
Latitude      41.970322
Longitude    -87.794933
Name: 467, dtype: object
468, Date         2011-09-07
Time         9:11:02 PM
Latitude      41.970288
Longitude    -87.794435
Name: 468, dtype: object
469, Date         2011-09-07
Time         9:11:12 PM
Latitude      41.970292
Longitude    -87.793615
Name: 469, dtype: object
470, Date         2011-09-07
Time         9:11:22 PM
Latitude       41.97029
Longitude    -87.792853
Name: 470, dtype: object
471, Date         2011-09-07
Time         9:11:32 PM
Latitude      41.970302
Longitude     -87.79209
Name: 471, dtype: object
472, Date         2011-09-07
Time         9:11:42 PM
Latitude      41.970303
Longitude    -87.791383
Name: 472, dtype: object
473, Date         2011-09-07
Time         9:11:52 PM
Latitude       41.97032
Longitude     -87.79063
Name: 473, dtype: object
474, Date         2011-09-07
Time         9:12:02 PM
Latitude      41.970327
Longitude    -87.790082
Name: 474, dtype: object
475, Date         2011-09-07
Time         9:12:12 PM
Latitude      41.970352
Longitude    -87.789493
Name: 475, dtype: object
476, Date         2011-09-07
Time         7:42:12 PM
Latitude      41.982767
Longitude    -87.788192
Name: 476, dtype: object
477, Date         2011-09-07
Time         7:42:22 PM
Latitude      41.982727
Longitude    -87.788737
Name: 477, dtype: object
478, Date         2011-09-07
Time         7:42:32 PM
Latitude      41.982743
Longitude    -87.789485
Name: 478, dtype: object
479, Date         2011-09-07
Time         7:42:42 PM
Latitude      41.982742
Longitude    -87.790277
Name: 479, dtype: object
480, Date         2011-09-07
Time         7:42:52 PM
Latitude      41.982753
Longitude    -87.791015
Name: 480, dtype: object
481, Date         2011-09-07
Time         7:43:02 PM
Latitude      41.982755
Longitude    -87.791695
Name: 481, dtype: object
482, Date         2011-09-07
Time         7:43:15 PM
Latitude       41.98277
Longitude    -87.792457
Name: 482, dtype: object
483, Date         2011-09-07
Time         7:43:30 PM
Latitude       41.98337
Longitude    -87.792842
Name: 483, dtype: object
484, Date         2011-09-07
Time         7:43:40 PM
Latitude      41.983917
Longitude    -87.793088
Name: 484, dtype: object
485, Date         2011-09-07
Time         7:43:40 PM
Latitude      41.983917
Longitude    -87.793088
Name: 485, dtype: object
486, Date         2011-09-07
Time         7:44:02 PM
Latitude      41.984988
Longitude    -87.793563
Name: 486, dtype: object
487, Date         2011-09-07
Time         7:44:12 PM
Latitude      41.985455
Longitude    -87.793797
Name: 487, dtype: object
488, Date         2011-09-07
Time         7:44:20 PM
Latitude      41.985865
Longitude     -87.79398
Name: 488, dtype: object
489, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 489, dtype: object
490, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 490, dtype: object
491, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 491, dtype: object
492, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 492, dtype: object
493, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 493, dtype: object
494, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 494, dtype: object
495, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 495, dtype: object
496, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 496, dtype: object
497, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 497, dtype: object
498, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 498, dtype: object
499, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 499, dtype: object
500, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 500, dtype: object
501, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 501, dtype: object
502, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 502, dtype: object
503, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 503, dtype: object
504, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 504, dtype: object
505, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 505, dtype: object
506, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 506, dtype: object
507, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 507, dtype: object
508, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 508, dtype: object
509, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 509, dtype: object
510, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 510, dtype: object
511, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 511, dtype: object
512, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 512, dtype: object
513, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 513, dtype: object
514, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 514, dtype: object
515, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 515, dtype: object
516, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 516, dtype: object
517, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 517, dtype: object
518, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 518, dtype: object
519, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 519, dtype: object
520, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 520, dtype: object
521, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 521, dtype: object
522, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 522, dtype: object
523, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 523, dtype: object
524, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 524, dtype: object
525, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 525, dtype: object
526, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 526, dtype: object
527, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 527, dtype: object
528, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 528, dtype: object
529, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 529, dtype: object
530, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 530, dtype: object
531, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 531, dtype: object
532, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 532, dtype: object
533, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 533, dtype: object
534, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 534, dtype: object
535, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 535, dtype: object
536, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 536, dtype: object
537, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 537, dtype: object
538, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 538, dtype: object
539, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 539, dtype: object
540, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 540, dtype: object
541, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 541, dtype: object
542, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 542, dtype: object
543, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 543, dtype: object
544, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 544, dtype: object
545, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 545, dtype: object
546, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 546, dtype: object
547, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 547, dtype: object
548, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 548, dtype: object
549, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 549, dtype: object
550, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 550, dtype: object
551, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 551, dtype: object
552, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 552, dtype: object
553, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 553, dtype: object
554, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 554, dtype: object
555, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 555, dtype: object
556, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 556, dtype: object
557, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 557, dtype: object
558, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 558, dtype: object
559, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 559, dtype: object
560, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 560, dtype: object
561, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 561, dtype: object
562, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 562, dtype: object
563, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 563, dtype: object
564, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 564, dtype: object
565, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 565, dtype: object
566, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 566, dtype: object
567, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 567, dtype: object
568, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 568, dtype: object
569, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 569, dtype: object
570, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 570, dtype: object
571, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 571, dtype: object
572, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 572, dtype: object
573, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 573, dtype: object
574, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 574, dtype: object
575, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 575, dtype: object

576, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 576, dtype: object
577, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 577, dtype: object
578, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 578, dtype: object
579, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 579, dtype: object
580, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 580, dtype: object
581, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 581, dtype: object
582, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 582, dtype: object
583, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 583, dtype: object
584, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 584, dtype: object
585, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 585, dtype: object
586, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 586, dtype: object
587, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 587, dtype: object
588, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 588, dtype: object
589, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 589, dtype: object
590, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 590, dtype: object
591, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 591, dtype: object
592, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 592, dtype: object
593, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 593, dtype: object
594, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 594, dtype: object
595, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 595, dtype: object
596, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 596, dtype: object
597, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 597, dtype: object
598, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 598, dtype: object
599, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 599, dtype: object
600, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 600, dtype: object
601, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 601, dtype: object
602, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 602, dtype: object
603, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 603, dtype: object
604, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 604, dtype: object
605, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 605, dtype: object
606, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 606, dtype: object
607, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 607, dtype: object
608, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 608, dtype: object
609, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 609, dtype: object
610, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 610, dtype: object
611, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 611, dtype: object
612, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 612, dtype: object
613, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 613, dtype: object
614, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 614, dtype: object
615, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 615, dtype: object
616, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 616, dtype: object
617, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 617, dtype: object
618, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 618, dtype: object
619, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 619, dtype: object
620, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 620, dtype: object
621, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 621, dtype: object
622, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 622, dtype: object
623, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 623, dtype: object
624, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 624, dtype: object
625, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 625, dtype: object
626, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 626, dtype: object
627, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 627, dtype: object
628, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 628, dtype: object
629, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 629, dtype: object
630, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 630, dtype: object
631, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 631, dtype: object
632, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 632, dtype: object
633, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 633, dtype: object
634, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 634, dtype: object
635, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 635, dtype: object
636, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 636, dtype: object
637, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 637, dtype: object
638, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 638, dtype: object
639, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 639, dtype: object
640, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 640, dtype: object
641, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 641, dtype: object
642, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 642, dtype: object
643, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 643, dtype: object
644, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 644, dtype: object
645, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 645, dtype: object
646, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 646, dtype: object
647, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 647, dtype: object
648, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 648, dtype: object
649, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 649, dtype: object
650, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 650, dtype: object
651, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 651, dtype: object
652, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 652, dtype: object
653, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 653, dtype: object
654, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 654, dtype: object
655, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 655, dtype: object
656, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 656, dtype: object
657, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 657, dtype: object
658, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 658, dtype: object
659, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 659, dtype: object
660, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 660, dtype: object
661, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 661, dtype: object
662, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 662, dtype: object
663, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 663, dtype: object
664, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 664, dtype: object
665, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 665, dtype: object
666, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 666, dtype: object
667, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 667, dtype: object
668, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 668, dtype: object
669, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 669, dtype: object
670, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 670, dtype: object
671, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 671, dtype: object
672, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 672, dtype: object
673, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 673, dtype: object
674, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 674, dtype: object
675, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 675, dtype: object
676, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 676, dtype: object
677, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 677, dtype: object
678, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 678, dtype: object
679, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 679, dtype: object
680, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 680, dtype: object
681, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 681, dtype: object
682, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 682, dtype: object
683, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 683, dtype: object
684, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 684, dtype: object
685, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 685, dtype: object
686, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 686, dtype: object
687, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 687, dtype: object
688, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 688, dtype: object
689, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 689, dtype: object
690, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 690, dtype: object
691, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 691, dtype: object
692, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 692, dtype: object
693, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 693, dtype: object
694, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 694, dtype: object
695, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 695, dtype: object
696, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 696, dtype: object
697, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 697, dtype: object
698, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 698, dtype: object
699, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 699, dtype: object
700, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 700, dtype: object
701, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 701, dtype: object
702, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 702, dtype: object
703, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 703, dtype: object
704, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 704, dtype: object
705, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 705, dtype: object
706, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 706, dtype: object
707, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 707, dtype: object
708, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 708, dtype: object
709, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 709, dtype: object
710, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 710, dtype: object
711, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 711, dtype: object
712, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 712, dtype: object
713, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 713, dtype: object
714, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 714, dtype: object
715, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 715, dtype: object
716, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 716, dtype: object
717, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 717, dtype: object
718, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 718, dtype: object
719, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 719, dtype: object
720, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 720, dtype: object
721, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 721, dtype: object
722, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 722, dtype: object
723, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 723, dtype: object
724, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 724, dtype: object
725, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 725, dtype: object
726, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 726, dtype: object
727, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 727, dtype: object
728, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 728, dtype: object
729, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 729, dtype: object
730, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 730, dtype: object
731, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 731, dtype: object
732, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 732, dtype: object
733, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 733, dtype: object
734, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646

747, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 747, dtype: object
748, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 748, dtype: object
749, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 749, dtype: object
750, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 750, dtype: object
751, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 751, dtype: object
752, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 752, dtype: object
753, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 753, dtype: object
754, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 754, dtype: object
755, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 755, dtype: object
756, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 756, dtype: object
757, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 757, dtype: object
758, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 758, dtype: object
759, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 759, dtype: object
760, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 760, dtype: object
761, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 761, dtype: object
762, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 762, dtype: object
763, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 763, dtype: object
764, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 764, dtype: object
765, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 765, dtype: object
766, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 766, dtype: object
767, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 767, dtype: object
768, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 768, dtype: object
769, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 769, dtype: object
770, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 770, dtype: object
771, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 771, dtype: object
772, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 772, dtype: object
773, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 773, dtype: object
774, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 774, dtype: object
775, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 775, dtype: object
776, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 776, dtype: object
777, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 777, dtype: object
778, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 778, dtype: object
779, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 779, dtype: object
780, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 780, dtype: object
781, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 781, dtype: object
782, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 782, dtype: object
783, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 783, dtype: object
784, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 784, dtype: object
785, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 785, dtype: object
786, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 786, dtype: object
787, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 787, dtype: object
788, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 788, dtype: object
789, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 789, dtype: object
790, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 790, dtype: object
791, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 791, dtype: object
792, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 792, dtype: object
793, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 793, dtype: object
794, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 794, dtype: object
795, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 795, dtype: object
796, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 796, dtype: object
797, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 797, dtype: object
798, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 798, dtype: object
799, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 799, dtype: object
800, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 800, dtype: object
801, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 801, dtype: object
802, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 802, dtype: object
803, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 803, dtype: object
804, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 804, dtype: object
805, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 805, dtype: object
806, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 806, dtype: object
807, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 807, dtype: object
808, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 808, dtype: object
809, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 809, dtype: object
810, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 810, dtype: object
811, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 811, dtype: object
812, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 812, dtype: object
813, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 813, dtype: object
814, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 814, dtype: object
815, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 815, dtype: object
816, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 816, dtype: object
817, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 817, dtype: object
818, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 818, dtype: object
819, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 819, dtype: object
820, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 820, dtype: object
821, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 821, dtype: object
822, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 822, dtype: object
823, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 823, dtype: object
824, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 824, dtype: object
825, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 825, dtype: object
826, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 826, dtype: object
827, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 827, dtype: object
828, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 828, dtype: object
829, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 829, dtype: object
830, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 830, dtype: object
831, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 831, dtype: object

832, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 832, dtype: object
833, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 833, dtype: object
834, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 834, dtype: object
835, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 835, dtype: object
836, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 836, dtype: object
837, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 837, dtype: object
838, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 838, dtype: object
839, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 839, dtype: object
840, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 840, dtype: object
841, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 841, dtype: object
842, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 842, dtype: object
843, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 843, dtype: object
844, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 844, dtype: object
845, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 845, dtype: object
846, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 846, dtype: object
847, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 847, dtype: object
848, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 848, dtype: object
849, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 849, dtype: object
850, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 850, dtype: object
851, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 851, dtype: object
852, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 852, dtype: object
853, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 853, dtype: object
854, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 854, dtype: object
855, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 855, dtype: object
856, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 856, dtype: object
857, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 857, dtype: object
858, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 858, dtype: object
859, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 859, dtype: object
860, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 860, dtype: object
861, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 861, dtype: object
862, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 862, dtype: object
863, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 863, dtype: object
864, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 864, dtype: object
865, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 865, dtype: object
866, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 866, dtype: object
867, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 867, dtype: object
868, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 868, dtype: object
869, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 869, dtype: object
870, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 870, dtype: object
871, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 871, dtype: object
872, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 872, dtype: object
873, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 873, dtype: object
874, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 874, dtype: object
875, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 875, dtype: object
876, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 876, dtype: object
877, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 877, dtype: object
878, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 878, dtype: object
879, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 879, dtype: object
880, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 880, dtype: object
881, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 881, dtype: object
882, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 882, dtype: object
883, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 883, dtype: object
884, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 884, dtype: object
885, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 885, dtype: object
886, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 886, dtype: object
887, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 887, dtype: object
888, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 888, dtype: object
889, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 889, dtype: object
890, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 890, dtype: object
891, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 891, dtype: object
892, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 892, dtype: object
893, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 893, dtype: object
894, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 894, dtype: object
895, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 895, dtype: object
896, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 896, dtype: object
897, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 897, dtype: object
898, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 898, dtype: object
899, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 899, dtype: object
900, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 900, dtype: object
901, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 901, dtype: object
902, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 902, dtype: object
903, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 903, dtype: object
904, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 904, dtype: object
905, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 905, dtype: object
906, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 906, dtype: object
907, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 907, dtype: object
908, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 908, dtype: object
909, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 909, dtype: object
910, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 910, dtype: object
911, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 911, dtype: object
912, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 912, dtype: object
913, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 913, dtype: object
914, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 914, dtype: object
915, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 915, dtype: object
916, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 916, dtype: object
917, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 917, dtype: object
918, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 918, dtype: object
919, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 919, dtype: object
920, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 920, dtype: object
921, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 921, dtype: object
922, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 922, dtype: object
923, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 923, dtype: object
924, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 924, dtype: object
925, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 925, dtype: object
926, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 926, dtype: object
927, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 927, dtype: object
928, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 928, dtype: object
929, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 929, dtype: object
930, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 930, dtype: object
931, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 931, dtype: object
932, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 932, dtype: object
933, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 933, dtype: object
934, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 934, dtype: object
935, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 935, dtype: object
936, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 936, dtype: object
937, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 937, dtype: object
938, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 938, dtype: object
939, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 939, dtype: object
940, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 940, dtype: object
941, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 941, dtype: object
942, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 942, dtype: object
943, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 943, dtype: object
944, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 944, dtype: object
945, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 945, dtype: object
946, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 946, dtype: object
947, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 947, dtype: object
948, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 948, dtype: object
949, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 949, dtype: object
950, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 950, dtype: object
951, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 951, dtype: object
952, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 952, dtype: object
953, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 953, dtype: object
954, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 954, dtype: object
955, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 955, dtype: object
956, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 956, dtype: object
957, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 957, dtype: object
958, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 958, dtype: object
959, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 959, dtype: object
960, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 960, dtype: object
961, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 961, dtype: object
962, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 962, dtype: object
963, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 963, dtype: object
964, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 964, dtype: object
965, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 965, dtype: object
966, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 966, dtype: object
967, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 967, dtype: object
968, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 968, dtype: object
969, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 969, dtype: object
970, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 970, dtype: object
971, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 971, dtype: object
972, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 972, dtype: object
973, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 973, dtype: object
974, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 974, dtype: object
975, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 975, dtype: object
976, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 976, dtype: object
977, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 977, dtype: object
978, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 978, dtype: object
979, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 979, dtype: object
980, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 980, dtype: object
981, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 981, dtype: object
982, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 982, dtype: object
983, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 983, dtype: object
984, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 984, dtype: object

985, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 985, dtype: object
986, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 986, dtype: object
987, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 987, dtype: object
988, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 988, dtype: object
989, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 989, dtype: object
990, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 990, dtype: object
991, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 991, dtype: object
992, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 992, dtype: object
993, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 993, dtype: object
994, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 994, dtype: object
995, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 995, dtype: object
996, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 996, dtype: object
997, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 997, dtype: object
998, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 998, dtype: object
999, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 999, dtype: object
1000, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 1000, dtype: object
1001, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 1001, dtype: object
1002, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 1002, dtype: object
1003, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 1003, dtype: object
1004, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 1004, dtype: object
1005, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 1005, dtype: object
1006, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 1006, dtype: object
1007, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 1007, dtype: object
1008, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 1008, dtype: object
1009, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 1009, dtype: object
1010, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 1010, dtype: object
1011, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 1011, dtype: object
1012, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 1012, dtype: object
1013, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 1013, dtype: object
1014, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 1014, dtype: object
1015, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 1015, dtype: object
1016, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 1016, dtype: object
1017, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 1017, dtype: object
1018, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 1018, dtype: object
1019, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 1019, dtype: object
1020, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 1020, dtype: object
1021, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 1021, dtype: object
1022, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 1022, dtype: object
1023, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 1023, dtype: object
1024, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 1024, dtype: object
1025, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 1025, dtype: object
1026, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 1026, dtype: object
1027, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 1027, dtype: object
1028, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 1028, dtype: object
1029, Date         2011-09-07
Time         7:44:32 PM
Latitude       41.98646
Longitude    -87.794225
Name: 1029, dtype: object
1030, Date         2011-09-07
Time                NaN
Latitude      41.987092
Longitude    -87.794286
Name: 1030, dtype: object
1031, Date         2011-09-07
Time                NaN
Latitude       41.98762
Longitude    -87.794382
Name: 1031, dtype: object
1032, Date         2011-09-07
Time                NaN
Latitude      41.988004
Longitude    -87.794574
Name: 1032, dtype: object
1033, Date         2011-09-07
Time                NaN
Latitude      41.988292
Longitude    -87.795486
Name: 1033, dtype: object
1034, Date         2011-09-07
Time                NaN
Latitude        41.9881
Longitude    -87.796014
Name: 1034, dtype: object
1035, Date         2011-09-07
Time                NaN
Latitude      41.986372
Longitude    -87.794862
Name: 1035, dtype: object
1036, Date         2011-09-07
Time                NaN
Latitude      41.986228
Longitude    -87.795582
Name: 1036, dtype: object
1037, Date         2011-09-07
Time                NaN
Latitude      41.984836
Longitude    -87.793998
Name: 1037, dtype: object
1038, Date         2011-09-07
Time                NaN
Latitude      41.984836
Longitude     -87.79467
Name: 1038, dtype: object
1039, Date         2011-09-07
Time                NaN
Latitude      41.984884
Longitude    -87.795198
Name: 1039, dtype: object
1040, Date         2011-09-07
Time                NaN
Latitude       41.98282
Longitude    -87.793182
Name: 1040, dtype: object
1041, Date         2011-09-07
Time                NaN
Latitude      41.982772
Longitude     -87.79395
Name: 1041, dtype: object
1042, Date         2011-09-07
Time                NaN
Latitude      41.982772
Longitude    -87.795006
Name: 1042, dtype: object
1043, Date         2011-09-07
Time                NaN
Latitude      41.983444
Longitude    -87.795246
Name: 1043, dtype: object
1044, Date         2011-09-07
Time                NaN
Latitude      41.984068
Longitude    -87.795438
Name: 1044, dtype: object
1045, Date         2011-09-07
Time                NaN
Latitude      41.984596
Longitude    -87.795534
Name: 1045, dtype: object
1046, Date         2011-09-07
Time                NaN
Latitude       41.98498
Longitude     -87.79563
Name: 1046, dtype: object
1047, Date         2011-09-07
Time                NaN
Latitude      41.986708
Longitude     -87.79611
Name: 1047, dtype: object
1048, Date         2011-09-07
Time                NaN
Latitude      41.987524
Longitude    -87.796302
Name: 1048, dtype: object
1049, Date         2011-09-07
Time                NaN
Latitude       41.98882
Longitude    -87.796638
Name: 1049, dtype: object
1050, Date         2011-09-07
Time                NaN
Latitude      41.989444
Longitude     -87.79683
Name: 1050, dtype: object
1051, Date         2011-09-07
Time                NaN
Latitude      41.990068
Longitude    -87.796974
Name: 1051, dtype: object
1052, Date         2011-09-07
Time                NaN
Latitude      41.988244
Longitude    -87.797022
Name: 1052, dtype: object
1053, Date         2011-09-07
Time                NaN
Latitude      41.988196
Longitude    -87.797742
Name: 1053, dtype: object
1054, Date         2011-09-07
Time                NaN
Latitude      41.988196
Longitude    -87.798366
Name: 1054, dtype: object
1055, Date         2011-09-07
Time                NaN
Latitude      41.988196
Longitude    -87.798942
Name: 1055, dtype: object
1056, Date         2011-09-07
Time                NaN
Latitude      41.988196
Longitude    -87.799422
Name: 1056, dtype: object
1057, Date         2011-09-07
Time                NaN
Latitude      41.986372
Longitude    -87.796494
Name: 1057, dtype: object
1058, Date         2011-09-07
Time                NaN
Latitude      41.986372
Longitude     -87.79731
Name: 1058, dtype: object
1059, Date         2011-09-07
Time                NaN
Latitude      41.986372
Longitude     -87.79803
Name: 1059, dtype: object
1060, Date         2011-09-07
Time                NaN
Latitude       41.98642
Longitude    -87.798558
Name: 1060, dtype: object
1061, Date         2011-09-07
Time                NaN
Latitude      41.986612
Longitude    -87.799278
Name: 1061, dtype: object
1062, Date         2011-09-07
Time                NaN
Latitude      41.986708
Longitude    -87.799758
Name: 1062, dtype: object
1063, Date         2011-09-07
Time                NaN
Latitude        41.9869
Longitude    -87.800238
Name: 1063, dtype: object
1064, Date         2011-09-07
Time                NaN
Latitude       41.98498
Longitude    -87.796302
Name: 1064, dtype: object
1065, Date         2011-09-07
Time                NaN
Latitude      41.985028
Longitude    -87.797166
Name: 1065, dtype: object
1066, Date         2011-09-07
Time                NaN
Latitude      41.985028
Longitude    -87.797694
Name: 1066, dtype: object
1067, Date         2011-09-07
Time                NaN
Latitude      41.985076
Longitude     -87.79827
Name: 1067, dtype: object
1068, Date         2011-09-07
Time                NaN
Latitude      41.985076
Longitude    -87.798942
Name: 1068, dtype: object
1069, Date         2011-09-07
Time                NaN
Latitude      41.985124
Longitude    -87.799662
Name: 1069, dtype: object
1070, Date         2011-09-07
Time                NaN
Latitude      41.985652
Longitude     -87.79755
Name: 1070, dtype: object
1071, Date         2011-09-07
Time                NaN
Latitude      41.984452
Longitude    -87.797598
Name: 1071, dtype: object
1072, Date         2011-09-07
Time                NaN
Latitude      41.983828
Longitude    -87.797598
Name: 1072, dtype: object
1073, Date         2011-09-07
Time                NaN
Latitude      41.983396
Longitude    -87.797646
Name: 1073, dtype: object
1074, Date         2011-09-07
Time                NaN
Latitude      41.982772
Longitude     -87.79755
Name: 1074, dtype: object
1075, Date         2011-09-07
Time                NaN
Latitude      41.982772
Longitude    -87.796734
Name: 1075, dtype: object
1076, Date         2011-09-07
Time                NaN
Latitude       41.98282
Longitude    -87.796014
Name: 1076, dtype: object
1077, Date         2011-09-07
Time                NaN
Latitude       41.98282
Longitude     -87.79539
Name: 1077, dtype: object
1078, Date         2011-09-07
Time                NaN
Latitude       41.98354
Longitude     -87.79827
Name: 1078, dtype: object
1079, Date         2011-09-07
Time                NaN
Latitude      41.983732
Longitude     -87.79923
Name: 1079, dtype: object
1080, Date         2011-09-07
Time                NaN
Latitude      41.983876
Longitude    -87.799902
Name: 1080, dtype: object
1081, Date         2011-09-07
Time                NaN
Latitude      41.983972
Longitude    -87.800574
Name: 1081, dtype: object
1082, Date         2011-09-07
Time                NaN
Latitude      41.984068
Longitude    -87.801103
Name: 1082, dtype: object
1083, Date         2011-09-07
Time                NaN
Latitude      41.984356
Longitude    -87.801727
Name: 1083, dtype: object
1084, Date         2011-09-07
Time                NaN
Latitude      41.984596
Longitude    -87.802255
Name: 1084, dtype: object
1085, Date         2011-09-07
Time                NaN
Latitude      41.984788
Longitude    -87.802591
Name: 1085, dtype: object
1086, Date         2011-09-07
Time                NaN
Latitude      41.984932
Longitude    -87.802927
Name: 1086, dtype: object
1087, Date         2011-09-07
Time                NaN
Latitude       41.98522
Longitude    -87.803551
Name: 1087, dtype: object
1088, Date         2011-09-07
Time                NaN
Latitude      41.985364
Longitude    -87.800334
Name: 1088, dtype: object
1089, Date         2011-09-07
Time                NaN
Latitude      41.985556
Longitude    -87.800863
Name: 1089, dtype: object
1090, Date         2011-09-07
Time                NaN
Latitude      41.985748
Longitude    -87.801199
Name: 1090, dtype: object
1091, Date         2011-09-07
Time                NaN
Latitude      41.985844
Longitude    -87.801583
Name: 1091, dtype: object
1092, Date         2011-09-07
Time                NaN
Latitude      41.985988
Longitude    -87.798942
Name: 1092, dtype: object
1093, Date         2011-09-07
Time                NaN
Latitude      41.985556
Longitude    -87.799374
Name: 1093, dtype: object
1094, Date         2011-09-07
Time                NaN
Latitude      41.984404
Longitude    -87.800478
Name: 1094, dtype: object
1095, Date         2011-09-07
Time                NaN
Latitude      41.983732
Longitude    -87.801247
Name: 1095, dtype: object
1096, Date         2011-09-07
Time                NaN
Latitude      41.983588
Longitude    -87.801919
Name: 1096, dtype: object
1097, Date         2011-09-07
Time                NaN
Latitude      41.983876
Longitude    -87.802735
Name: 1097, dtype: object
1098, Date         2011-09-07
Time                NaN
Latitude      41.984116
Longitude    -87.803263
Name: 1098, dtype: object
1099, Date         2011-09-07
Time                NaN
Latitude      41.984308
Longitude    -87.803551
Name: 1099, dtype: object
1100, Date         2011-09-07
Time                NaN
Latitude      41.984548
Longitude    -87.803983
Name: 1100, dtype: object
1101, Date         2011-09-07
Time                NaN
Latitude       41.98474
Longitude    -87.804367
Name: 1101, dtype: object
1102, Date         2011-09-07
Time                NaN
Latitude      41.984932
Longitude    -87.804943
Name: 1102, dtype: object
1103, Date         2011-09-07
Time                NaN
Latitude      41.985268
Longitude    -87.805711
Name: 1103, dtype: object
1104, Date         2011-09-07
Time                NaN
Latitude      41.985508
Longitude    -87.806143
Name: 1104, dtype: object
1105, Date         2011-09-07
Time                NaN
Latitude      41.985652
Longitude    -87.806479
Name: 1105, dtype: object
1106, Date         2011-09-07
Time                NaN
Latitude      41.985796
Longitude    -87.806767
Name: 1106, dtype: object
1107, Date         2011-09-07
Time                NaN
Latitude      41.985652
Longitude    -87.804079
Name: 1107, dtype: object
1108, Date         2011-09-07
Time                NaN
Latitude      41.985988
Longitude    -87.804655
Name: 1108, dtype: object
1109, Date         2011-09-07
Time                NaN
Latitude      41.986324
Longitude    -87.805039
Name: 1109, dtype: object
1110, Date         2011-09-07
Time                NaN
Latitude      41.986564
Longitude    -87.805375
Name: 1110, dtype: object
1111, Date         2011-09-07
Time                NaN
Latitude       41.98714
Longitude    -87.805519
Name: 1111, dtype: object
1112, Date         2011-09-07
Time                NaN
Latitude       41.98786
Longitude    -87.805615
Name: 1112, dtype: object
1113, Date         2011-09-07
Time                NaN
Latitude      41.988292
Longitude    -87.805615
Name: 1113, dtype: object
1114, Date         2011-09-07
Time                NaN
Latitude       41.98882
Longitude    -87.805087
Name: 1114, dtype: object
1115, Date         2011-09-07
Time                NaN
Latitude      41.989204
Longitude    -87.804655
Name: 1115, dtype: object
1116, Date         2011-09-07
Time                NaN
Latitude      41.989588
Longitude    -87.804175
Name: 1116, dtype: object
1117, Date         2011-09-07
Time                NaN
Latitude      41.989972
Longitude    -87.803791
Name: 1117, dtype: object
1118, Date         2011-09-07
Time                NaN
Latitude      41.990164
Longitude    -87.803407
Name: 1118, dtype: object
1119, Date         2011-09-07
Time                NaN
Latitude      41.990452
Longitude    -87.802975
Name: 1119, dtype: object
1120, Date         2011-09-07
Time                NaN
Latitude      41.990644
Longitude    -87.802495
Name: 1120, dtype: object
1121, Date         2011-09-07
Time                NaN
Latitude      41.990644
Longitude    -87.801775
Name: 1121, dtype: object
1122, Date         2011-09-07
Time                NaN
Latitude      41.990644
Longitude    -87.801343
Name: 1122, dtype: object

1123, Date         2011-09-07
Time                NaN
Latitude      41.990596
Longitude    -87.800815
Name: 1123, dtype: object
1124, Date         2011-09-07
Time                NaN
Latitude      41.990452
Longitude    -87.800334
Name: 1124, dtype: object
1125, Date         2011-09-07
Time                NaN
Latitude      41.989876
Longitude    -87.799998
Name: 1125, dtype: object
1126, Date         2011-09-07
Time                NaN
Latitude      41.989348
Longitude    -87.799854
Name: 1126, dtype: object
1127, Date         2011-09-07
Time                NaN
Latitude      41.988724
Longitude     -87.79971
Name: 1127, dtype: object
1128, Date         2011-09-07
Time                NaN
Latitude      41.988244
Longitude    -87.799566
Name: 1128, dtype: object
1129, Date         2011-09-07
Time                NaN
Latitude      41.987668
Longitude    -87.799902
Name: 1129, dtype: object
1130, Date         2011-09-07
Time                NaN
Latitude      41.987188
Longitude    -87.800286
Name: 1130, dtype: object
1131, Date         2011-09-07
Time                NaN
Latitude      41.986612
Longitude     -87.80067
Name: 1131, dtype: object
1132, Date         2011-09-07
Time                NaN
Latitude      41.986276
Longitude    -87.801055
Name: 1132, dtype: object
1133, Date         2011-09-07
Time                NaN
Latitude      41.985796
Longitude    -87.802207
Name: 1133, dtype: object
1134, Date         2011-09-07
Time                NaN
Latitude      41.985556
Longitude    -87.802783
Name: 1134, dtype: object
1135, Date         2011-09-07
Time                NaN
Latitude       41.98546
Longitude    -87.803167
Name: 1135, dtype: object
1136, Date         2011-09-07
Time                NaN
Latitude      41.986084
Longitude    -87.803215
Name: 1136, dtype: object
1137, Date         2011-09-07
Time                NaN
Latitude      41.986852
Longitude    -87.803023
Name: 1137, dtype: object
1138, Date         2011-09-07
Time                NaN
Latitude      41.987284
Longitude    -87.802831
Name: 1138, dtype: object
1139, Date         2011-09-07
Time                NaN
Latitude      41.987764
Longitude    -87.802495
Name: 1139, dtype: object
1140, Date         2011-09-07
Time                NaN
Latitude      41.988724
Longitude    -87.801775
Name: 1140, dtype: object
1141, Date         2011-09-07
Time                NaN
Latitude      41.989108
Longitude    -87.801439
Name: 1141, dtype: object
1142, Date         2011-09-07
Time                NaN
Latitude       41.98954
Longitude    -87.801103
Name: 1142, dtype: object
1143, Date         2011-09-07
Time                NaN
Latitude      41.989972
Longitude    -87.800574
Name: 1143, dtype: object
1144, Date         2011-09-07
Time                NaN
Latitude        41.9881
Longitude    -87.802783
Name: 1144, dtype: object
1145, Date         2011-09-07
Time                NaN
Latitude      41.987716
Longitude    -87.803407
Name: 1145, dtype: object
1146, Date         2011-09-07
Time                NaN
Latitude      41.987476
Longitude    -87.803887
Name: 1146, dtype: object
1147, Date         2011-09-07
Time                NaN
Latitude       41.98714
Longitude    -87.804271
Name: 1147, dtype: object
1148, Date         2011-09-07
Time                NaN
Latitude        41.9869
Longitude    -87.804895
Name: 1148, dtype: object
1149, Date         2011-09-07
Time                NaN
Latitude       41.98666
Longitude    -87.805087
Name: 1149, dtype: object
1150, Date         2011-09-07
Time                NaN
Latitude      41.989636
Longitude    -87.803647
Name: 1150, dtype: object
1151, Date         2011-09-07
Time                NaN
Latitude      41.989156
Longitude    -87.803359
Name: 1151, dtype: object
1152, Date         2011-09-07
Time                NaN
Latitude      41.988676
Longitude    -87.803167
Name: 1152, dtype: object
1153, Date         2011-09-07
Time                NaN
Latitude      41.988388
Longitude    -87.803071
Name: 1153, dtype: object
1154, Date         2011-09-07
Time                NaN
Latitude      41.987572
Longitude    -87.802111
Name: 1154, dtype: object
1155, Date         2011-09-07
Time                NaN
Latitude       41.98738
Longitude    -87.801679
Name: 1155, dtype: object
1156, Date         2011-09-07
Time                NaN
Latitude      41.987188
Longitude    -87.801247
Name: 1156, dtype: object
1157, Date         2011-09-07
Time                NaN
Latitude      41.986996
Longitude    -87.800766
Name: 1157, dtype: object
1158, Date         2011-09-07
Time                NaN
Latitude      41.986132
Longitude    -87.806143
Name: 1158, dtype: object
1159, Date         2011-09-07
Time                NaN
Latitude      41.985844
Longitude    -87.806479
Name: 1159, dtype: object
1160, Date         2011-09-07
Time                NaN
Latitude      41.990692
Longitude    -87.799998
Name: 1160, dtype: object
1161, Date         2011-09-07
Time                NaN
Latitude      41.991076
Longitude    -87.799662
Name: 1161, dtype: object
1162, Date         2011-09-07
Time                NaN
Latitude      41.991364
Longitude    -87.799566
Name: 1162, dtype: object
1163, Date         2011-09-07
Time                NaN
Latitude      41.984452
Longitude    -87.805423
Name: 1163, dtype: object
1164, Date         2011-09-07
Time                NaN
Latitude      41.983924
Longitude    -87.805327
Name: 1164, dtype: object
1165, Date         2011-09-07
Time                NaN
Latitude      41.983252
Longitude    -87.805327
Name: 1165, dtype: object
1166, Date         2011-09-07
Time                NaN
Latitude      41.982868
Longitude    -87.805327
Name: 1166, dtype: object
1167, Date         2011-09-07
Time                NaN
Latitude      41.983876
Longitude    -87.803695
Name: 1167, dtype: object
1168, Date         2011-09-07
Time                NaN
Latitude      41.983492
Longitude    -87.803743
Name: 1168, dtype: object
1169, Date         2011-09-07
Time                NaN
Latitude      41.983156
Longitude    -87.803695
Name: 1169, dtype: object
1170, Date         2011-09-07
Time                NaN
Latitude      41.983204
Longitude    -87.802015
Name: 1170, dtype: object
1171, Date         2011-09-07
Time                NaN
Latitude      41.982916
Longitude    -87.801967
Name: 1171, dtype: object
1172, Date         2011-09-07
Time                NaN
Latitude      41.982868
Longitude     -87.79827
Name: 1172, dtype: object
1173, Date         2011-09-07
Time                NaN
Latitude       41.98282
Longitude    -87.799614
Name: 1173, dtype: object
1174, Date         2011-09-07
Time                NaN
Latitude      41.982772
Longitude     -87.80043
Name: 1174, dtype: object
1175, Date         2011-09-07
Time                NaN
Latitude      41.982772
Longitude    -87.801343
Name: 1175, dtype: object
1176, Date         2011-09-07
Time                NaN
Latitude      41.982772
Longitude    -87.802351
Name: 1176, dtype: object
1177, Date         2011-09-07
Time                NaN
Latitude      41.982772
Longitude    -87.803023
Name: 1177, dtype: object
1178, Date         2011-09-07
Time                NaN
Latitude      41.982772
Longitude    -87.803311
Name: 1178, dtype: object
1179, Date         2011-09-07
Time                NaN
Latitude      41.982724
Longitude    -87.804175
Name: 1179, dtype: object
1180, Date         2011-09-07
Time                NaN
Latitude      41.982724
Longitude    -87.804799
Name: 1180, dtype: object
1181, Date         2011-09-07
Time                NaN
Latitude      41.982772
Longitude    -87.806335
Name: 1181, dtype: object
1182, Date         2011-09-07
Time                NaN
Latitude       41.98306
Longitude    -87.806959
Name: 1182, dtype: object
1183, Date         2011-09-07
Time                NaN
Latitude       41.98354
Longitude    -87.807007
Name: 1183, dtype: object
1184, Date         2011-09-07
Time                NaN
Latitude      41.983924
Longitude    -87.806911
Name: 1184, dtype: object
1185, Date         2011-09-07
Time                NaN
Latitude      41.984404
Longitude    -87.806911
Name: 1185, dtype: object
1186, Date         2011-09-07
Time                NaN
Latitude       41.98498
Longitude    -87.806863
Name: 1186, dtype: object
1187, Date         2011-09-07
Time                NaN
Latitude      41.985604
Longitude    -87.806959
Name: 1187, dtype: object
1188, Date         2011-09-07
Time                NaN
Latitude      41.986372
Longitude    -87.806863
Name: 1188, dtype: object
1189, Date         2011-09-07
Time                NaN
Latitude      41.986804
Longitude    -87.806815
Name: 1189, dtype: object
1190, Date         2011-09-07
Time                NaN
Latitude      41.987284
Longitude    -87.806863
Name: 1190, dtype: object
1191, Date         2011-09-07
Time                NaN
Latitude       41.98762
Longitude    -87.806863
Name: 1191, dtype: object
1192, Date         2011-09-07
Time                NaN
Latitude      41.987956
Longitude    -87.806911
Name: 1192, dtype: object
1193, Date         2011-09-07
Time                NaN
Latitude      41.988484
Longitude    -87.806911
Name: 1193, dtype: object
1194, Date         2011-09-07
Time                NaN
Latitude      41.989108
Longitude    -87.806911
Name: 1194, dtype: object
1195, Date         2011-09-07
Time                NaN
Latitude       41.98954
Longitude    -87.806863
Name: 1195, dtype: object
1196, Date         2011-09-07
Time                NaN
Latitude      41.989876
Longitude    -87.806911
Name: 1196, dtype: object
1197, Date         2011-09-07
Time                NaN
Latitude      41.990452
Longitude    -87.806911
Name: 1197, dtype: object
1198, Date         2011-09-07
Time                NaN
Latitude      41.990932
Longitude    -87.806959
Name: 1198, dtype: object
1199, Date         2011-09-07
Time                NaN
Latitude      41.991268
Longitude    -87.806911
Name: 1199, dtype: object
1200, Date         2011-09-07
Time                NaN
Latitude        41.9917
Longitude    -87.806815
Name: 1200, dtype: object
1201, Date         2011-09-07
Time                NaN
Latitude      41.992372
Longitude    -87.806863
Name: 1201, dtype: object

1202, Date         2011-09-07
Time                NaN
Latitude      41.992996
Longitude    -87.806767
Name: 1202, dtype: object
1203, Date         2011-09-07
Time                NaN
Latitude      41.993428
Longitude    -87.806863
Name: 1203, dtype: object
1204, Date         2011-09-07
Time                NaN
Latitude      41.993908
Longitude    -87.806863
Name: 1204, dtype: object
1205, Date         2011-09-07
Time                NaN
Latitude       41.99434
Longitude    -87.806863
Name: 1205, dtype: object
1206, Date         2011-09-07
Time                NaN
Latitude       41.99482
Longitude    -87.806911
Name: 1206, dtype: object
1207, Date         2011-09-07
Time                NaN
Latitude        41.9953
Longitude    -87.806767
Name: 1207, dtype: object
1208, Date         2011-09-07
Time                NaN
Latitude      41.995588
Longitude    -87.806623
Name: 1208, dtype: object
1209, Date         2011-09-07
Time                NaN
Latitude        41.9953
Longitude    -87.805999
Name: 1209, dtype: object
1210, Date         2011-09-07
Time                NaN
Latitude      41.995012
Longitude    -87.805567
Name: 1210, dtype: object
1211, Date         2011-09-07
Time                NaN
Latitude      41.994676
Longitude    -87.805039
Name: 1211, dtype: object
1212, Date         2011-09-07
Time                NaN
Latitude      41.994292
Longitude    -87.804319
Name: 1212, dtype: object
1213, Date         2011-09-07
Time                NaN
Latitude        41.9941
Longitude    -87.804079
Name: 1213, dtype: object
1214, Date         2011-09-07
Time                NaN
Latitude      41.993908
Longitude    -87.803695
Name: 1214, dtype: object
1215, Date         2011-09-07
Time                NaN
Latitude      41.993668
Longitude    -87.803167
Name: 1215, dtype: object
1216, Date         2011-09-07
Time                NaN
Latitude       41.99338
Longitude    -87.802687
Name: 1216, dtype: object
1217, Date         2011-09-07
Time                NaN
Latitude      41.992948
Longitude    -87.802015
Name: 1217, dtype: object
1218, Date         2011-09-07
Time                NaN
Latitude      41.992756
Longitude    -87.801631
Name: 1218, dtype: object
1219, Date         2011-09-07
Time                NaN
Latitude      41.992228
Longitude    -87.800863
Name: 1219, dtype: object
1220, Date         2011-09-07
Time                NaN
Latitude      41.992084
Longitude     -87.80043
Name: 1220, dtype: object
1221, Date         2011-09-07
Time                NaN
Latitude      41.991892
Longitude    -87.800094
Name: 1221, dtype: object
1222, Date         2011-09-07
Time                NaN
Latitude        41.9917
Longitude    -87.799662
Name: 1222, dtype: object
1223, Date         2011-09-07
Time                NaN
Latitude      41.991364
Longitude    -87.799182
Name: 1223, dtype: object
1224, Date         2011-09-07
Time                NaN
Latitude      41.991028
Longitude    -87.798462
Name: 1224, dtype: object
1225, Date         2011-09-07
Time                NaN
Latitude      41.990788
Longitude     -87.79803
Name: 1225, dtype: object
1226, Date         2011-09-07
Time                NaN
Latitude        41.9905
Longitude     -87.79755
Name: 1226, dtype: object
1227, Date         2011-09-07
Time                NaN
Latitude       41.99026
Longitude     -87.79731
Name: 1227, dtype: object
1228, Date         2011-09-07
Time                NaN
Latitude      41.989828
Longitude    -87.796494
Name: 1228, dtype: object
1229, Date         2011-09-07
Time                NaN
Latitude      41.989348
Longitude     -87.79563
Name: 1229, dtype: object
1230, Date         2011-09-07
Time                NaN
Latitude       41.98906
Longitude    -87.795102
Name: 1230, dtype: object
1231, Date         2011-09-07
Time                NaN
Latitude      41.988676
Longitude     -87.79443
Name: 1231, dtype: object
1232, Date         2011-09-07
Time                NaN
Latitude      41.988388
Longitude    -87.794046
Name: 1232, dtype: object
1233, Date         2011-09-07
Time                NaN
Latitude      41.988052
Longitude    -87.793566
Name: 1233, dtype: object
1234, Date         2011-09-07
Time                NaN
Latitude      41.987812
Longitude    -87.792894
Name: 1234, dtype: object
1235, Date         2011-09-07
Time                NaN
Latitude      41.987524
Longitude    -87.792414
Name: 1235, dtype: object
1236, Date         2011-09-07
Time                NaN
Latitude      41.987284
Longitude    -87.791982
Name: 1236, dtype: object
1237, Date         2011-09-07
Time                NaN
Latitude      41.986996
Longitude    -87.791502
Name: 1237, dtype: object
1238, Date         2011-09-07
Time                NaN
Latitude      41.986708
Longitude    -87.791214
Name: 1238, dtype: object
1239, Date         2011-09-07
Time                NaN
Latitude      41.986564
Longitude    -87.790878
Name: 1239, dtype: object
1240, Date         2011-09-07
Time                NaN
Latitude      41.986372
Longitude     -87.79035
Name: 1240, dtype: object
1241, Date         2011-09-07
Time                NaN
Latitude      41.986084
Longitude     -87.78987
Name: 1241, dtype: object
1242, Date         2011-09-07
Time                NaN
Latitude        41.9857
Longitude    -87.789342
Name: 1242, dtype: object
1243, Date         2011-09-07
Time                NaN
Latitude       41.98546
Longitude    -87.788766
Name: 1243, dtype: object
1244, Date         2011-09-07
Time                NaN
Latitude      41.985172
Longitude     -87.78843
Name: 1244, dtype: object
1245, Date         2011-09-07
Time                NaN
Latitude      41.984452
Longitude     -87.78771
Name: 1245, dtype: object
1246, Date         2011-09-07
Time                NaN
Latitude       41.98426
Longitude    -87.788286
Name: 1246, dtype: object
1247, Date         2011-09-07
Time                NaN
Latitude      41.984548
Longitude    -87.788718
Name: 1247, dtype: object
1248, Date         2011-09-07
Time                NaN
Latitude      41.984884
Longitude     -87.78939
Name: 1248, dtype: object
1249, Date         2011-09-07
Time                NaN
Latitude      41.985076
Longitude     -87.78987
Name: 1249, dtype: object
1250, Date         2011-09-07
Time                NaN
Latitude      41.985268
Longitude     -87.79035
Name: 1250, dtype: object
1251, Date         2011-09-07
Time                NaN
Latitude      41.985556
Longitude    -87.790926
Name: 1251, dtype: object
1252, Date         2011-09-07
Time                NaN
Latitude      41.985748
Longitude    -87.791262
Name: 1252, dtype: object
1253, Date         2011-09-07
Time                NaN
Latitude       41.98594
Longitude    -87.791406
Name: 1253, dtype: object
1254, Date         2011-09-07
Time                NaN
Latitude      41.986276
Longitude    -87.790926
Name: 1254, dtype: object
1255, Date         2011-09-07
Time                NaN
Latitude      41.985652
Longitude     -87.79179
Name: 1255, dtype: object
1256, Date         2011-09-07
Time                NaN
Latitude      41.985508
Longitude    -87.792174
Name: 1256, dtype: object
1257, Date         2011-09-07
Time                NaN
Latitude      41.985316
Longitude     -87.79251
Name: 1257, dtype: object
1258, Date         2011-09-07
Time                NaN
Latitude       41.98522
Longitude    -87.792894
Name: 1258, dtype: object
1259, Date         2011-09-07
Time                NaN
Latitude      41.985076
Longitude    -87.793134
Name: 1259, dtype: object
1260, Date         2011-09-07
Time                NaN
Latitude      41.986084
Longitude    -87.807439
Name: 1260, dtype: object
1261, Date         2011-09-07
Time                NaN
Latitude      41.988916
Longitude    -87.805711
Name: 1261, dtype: object
1262, Date         2011-09-07
Time                NaN
Latitude      41.989588
Longitude    -87.805663
Name: 1262, dtype: object
1263, Date         2011-09-07
Time                NaN
Latitude      41.990164
Longitude    -87.805663
Name: 1263, dtype: object
1264, Date         2011-09-07
Time                NaN
Latitude      41.990548
Longitude    -87.805615
Name: 1264, dtype: object
1265, Date         2011-09-07
Time                NaN
Latitude      41.991076
Longitude    -87.805711
Name: 1265, dtype: object
1266, Date         2011-09-07
Time                NaN
Latitude      41.991508
Longitude    -87.805711
Name: 1266, dtype: object
1267, Date         2011-09-07
Time                NaN
Latitude      41.992036
Longitude    -87.805615
Name: 1267, dtype: object
1268, Date         2011-09-07
Time                NaN
Latitude       41.99242
Longitude    -87.805711
Name: 1268, dtype: object
1269, Date         2011-09-07
Time                NaN
Latitude      41.992948
Longitude    -87.805711
Name: 1269, dtype: object
1270, Date         2011-09-07
Time                NaN
Latitude      41.993716
Longitude    -87.805615
Name: 1270, dtype: object
1271, Date         2011-09-07
Time                NaN
Latitude       41.99434
Longitude    -87.805663
Name: 1271, dtype: object
1272, Date         2011-09-07
Time                NaN
Latitude      41.994724
Longitude    -87.805615
Name: 1272, dtype: object
1273, Date         2011-09-07
Time                NaN
Latitude      41.993428
Longitude    -87.805999
Name: 1273, dtype: object
1274, Date         2011-09-07
Time                NaN
Latitude      41.993092
Longitude    -87.805135
Name: 1274, dtype: object
1275, Date         2011-09-07
Time                NaN
Latitude      41.992804
Longitude    -87.804655
Name: 1275, dtype: object
1276, Date         2011-09-07
Time                NaN
Latitude      41.992516
Longitude    -87.804175
Name: 1276, dtype: object
1277, Date         2011-09-07
Time                NaN
Latitude       41.99218
Longitude    -87.803599
Name: 1277, dtype: object
1278, Date         2011-09-07
Time                NaN
Latitude      41.991892
Longitude    -87.802927
Name: 1278, dtype: object
1279, Date         2011-09-07
Time                NaN
Latitude      41.991556
Longitude    -87.802495
Name: 1279, dtype: object
1280, Date         2011-09-07
Time                NaN
Latitude       41.99146
Longitude    -87.802063
Name: 1280, dtype: object
1281, Date         2011-09-07
Time                NaN
Latitude      41.991124
Longitude    -87.801487
Name: 1281, dtype: object
1282, Date         2011-09-07
Time                NaN
Latitude      41.990884
Longitude    -87.801007
Name: 1282, dtype: object
1283, Date         2011-09-07
Time                NaN
Latitude       41.99218
Longitude    -87.801391
Name: 1283, dtype: object
1284, Date         2011-09-07
Time                NaN
Latitude       41.99194
Longitude    -87.801679
Name: 1284, dtype: object
1285, Date         2011-09-07
Time                NaN
Latitude      41.991652
Longitude    -87.801967
Name: 1285, dtype: object
1286, Date         2011-09-07
Time                NaN
Latitude      41.993332
Longitude    -87.803359
Name: 1286, dtype: object
1287, Date         2011-09-07
Time                NaN
Latitude      41.992612
Longitude    -87.803599
Name: 1287, dtype: object
1288, Date         2011-09-07
Time                NaN
Latitude        41.9917
Longitude    -87.803743
Name: 1288, dtype: object
1289, Date         2011-09-07
Time                NaN
Latitude       41.99122
Longitude    -87.803695
Name: 1289, dtype: object
1290, Date         2011-09-07
Time                NaN
Latitude      41.990836
Longitude    -87.803791
Name: 1290, dtype: object
1291, Date         2011-09-07
Time                NaN
Latitude      41.990404
Longitude    -87.803839
Name: 1291, dtype: object
1292, Date         2011-09-07
Time                NaN
Latitude      41.992324
Longitude    -87.804223
Name: 1292, dtype: object
1293, Date         2011-09-07
Time                NaN
Latitude      41.992276
Longitude    -87.804847
Name: 1293, dtype: object
1294, Date         2011-09-07
Time                NaN
Latitude      41.992372
Longitude    -87.805279
Name: 1294, dtype: object
1295, Date         2011-09-07
Time                NaN
Latitude      41.989924
Longitude    -87.804223
Name: 1295, dtype: object
1296, Date         2011-09-07
Time                NaN
Latitude      41.989972
Longitude    -87.804847
Name: 1296, dtype: object
1297, Date         2011-09-07
Time                NaN
Latitude      41.989924
Longitude    -87.805231
Name: 1297, dtype: object
1298, Date         2011-09-07
Time                NaN
Latitude      41.986372
Longitude    -87.807919
Name: 1298, dtype: object
1299, Date         2011-09-07
Time                NaN
Latitude       41.98666
Longitude    -87.808639
Name: 1299, dtype: object
1300, Date         2011-09-07
Time                NaN
Latitude        41.9869
Longitude    -87.809071
Name: 1300, dtype: object
1301, Date         2011-09-07
Time                NaN
Latitude      41.987044
Longitude    -87.809407
Name: 1301, dtype: object
1302, Date         2011-09-07
Time                NaN
Latitude      41.987236
Longitude    -87.809839
Name: 1302, dtype: object
1303, Date         2011-09-07
Time                NaN
Latitude      41.987332
Longitude    -87.810271
Name: 1303, dtype: object
1304, Date         2011-09-07
Time                NaN
Latitude       41.98762
Longitude    -87.810559
Name: 1304, dtype: object
1305, Date         2011-09-07
Time                NaN
Latitude      41.987956
Longitude    -87.811135
Name: 1305, dtype: object
1306, Date         2011-09-07
Time                NaN
Latitude      41.988052
Longitude    -87.811567
Name: 1306, dtype: object
1307, Date         2011-09-07
Time                NaN
Latitude      41.988196
Longitude    -87.811759
Name: 1307, dtype: object
1308, Date         2011-09-07
Time                NaN
Latitude      41.988388
Longitude    -87.811999
Name: 1308, dtype: object
1309, Date         2011-09-07
Time                NaN
Latitude      41.988676
Longitude    -87.812719
Name: 1309, dtype: object
1310, Date         2011-09-07
Time                NaN
Latitude      41.990644
Longitude    -87.816703
Name: 1310, dtype: object
1311, Date         2011-09-07
Time                NaN
Latitude       41.99098
Longitude    -87.817567
Name: 1311, dtype: object
1312, Date         2011-09-07
Time                NaN
Latitude       41.99146
Longitude    -87.818095
Name: 1312, dtype: object
1313, Date         2011-09-07
Time                NaN
Latitude        41.9917
Longitude    -87.818719
Name: 1313, dtype: object
1314, Date         2011-09-07
Time                NaN
Latitude      41.991844
Longitude    -87.819055
Name: 1314, dtype: object
1315, Date         2011-09-07
Time                NaN
Latitude       41.99194
Longitude    -87.819439
Name: 1315, dtype: object
1316, Date         2011-09-07
Time                NaN
Latitude      41.992276
Longitude    -87.820015
Name: 1316, dtype: object
1317, Date         2011-09-07
Time                NaN
Latitude       41.99266
Longitude    -87.820639
Name: 1317, dtype: object
1318, Date         2011-09-07
Time                NaN
Latitude        41.9929
Longitude    -87.821215
Name: 1318, dtype: object
1319, Date         2011-09-07
Time                NaN
Latitude      41.993188
Longitude    -87.821695
Name: 1319, dtype: object
1320, Date         2011-09-07
Time                NaN
Latitude      41.993236
Longitude    -87.822032
Name: 1320, dtype: object
1321, Date         2011-09-07
Time                NaN
Latitude      41.987764
Longitude    -87.811903
Name: 1321, dtype: object
1322, Date         2011-09-07
Time                NaN
Latitude      41.986996
Longitude    -87.811855
Name: 1322, dtype: object
1323, Date         2011-09-07
Time                NaN
Latitude      41.986564
Longitude    -87.811951
Name: 1323, dtype: object
1324, Date         2011-09-07
Time                NaN
Latitude      41.986036
Longitude    -87.811951
Name: 1324, dtype: object
1325, Date         2011-09-07
Time                NaN
Latitude      41.985652
Longitude    -87.811807
Name: 1325, dtype: object
1326, Date         2011-09-07
Time                NaN
Latitude      41.985268
Longitude    -87.811759
Name: 1326, dtype: object
1327, Date         2011-09-07
Time                NaN
Latitude      41.984884
Longitude    -87.811855
Name: 1327, dtype: object
1328, Date         2011-09-07
Time                NaN
Latitude      41.984404
Longitude    -87.811855
Name: 1328, dtype: object
1329, Date         2011-09-07
Time                NaN
Latitude      41.983924
Longitude    -87.811903
Name: 1329, dtype: object
1330, Date         2011-09-07
Time                NaN
Latitude       41.98354
Longitude    -87.811951
Name: 1330, dtype: object
1331, Date         2011-09-07
Time                NaN
Latitude      41.983108
Longitude    -87.811903
Name: 1331, dtype: object
1332, Date         2011-09-07
Time                NaN
Latitude      41.982724
Longitude    -87.811903
Name: 1332, dtype: object
1333, Date         2011-09-07
Time                NaN
Latitude      41.982628
Longitude    -87.811519
Name: 1333, dtype: object
1334, Date         2011-09-07
Time                NaN
Latitude      41.982628
Longitude    -87.810847
Name: 1334, dtype: object
1335, Date         2011-09-07
Time                NaN
Latitude      41.982628
Longitude    -87.810127
Name: 1335, dtype: object
1336, Date         2011-09-07
Time                NaN
Latitude      41.982676
Longitude    -87.809407
Name: 1336, dtype: object
1337, Date         2011-09-07
Time                NaN
Latitude      41.982676
Longitude    -87.808543
Name: 1337, dtype: object
1338, Date         2011-09-07
Time                NaN
Latitude      41.982916
Longitude    -87.810655
Name: 1338, dtype: object
1339, Date         2011-09-07
Time                NaN
Latitude      41.983492
Longitude    -87.810655
Name: 1339, dtype: object
1340, Date         2011-09-07
Time                NaN
Latitude      41.984068
Longitude    -87.810607
Name: 1340, dtype: object
1341, Date         2011-09-07
Time                NaN
Latitude      41.984596
Longitude    -87.810511
Name: 1341, dtype: object
1342, Date         2011-09-07
Time                NaN
Latitude       41.98498
Longitude    -87.810511
Name: 1342, dtype: object

1343, Date         2011-09-07
Time                NaN
Latitude      41.985604
Longitude    -87.810559
Name: 1343, dtype: object
1344, Date         2011-09-07
Time                NaN
Latitude       41.98594
Longitude    -87.810463
Name: 1344, dtype: object
1345, Date         2011-09-07
Time                NaN
Latitude       41.98642
Longitude    -87.810415
Name: 1345, dtype: object
1346, Date         2011-09-07
Time                NaN
Latitude        41.9869
Longitude    -87.810319
Name: 1346, dtype: object
1347, Date         2011-09-07
Time                NaN
Latitude      41.987188
Longitude    -87.810319
Name: 1347, dtype: object
1348, Date         2011-09-07
Time                NaN
Latitude      41.987716
Longitude    -87.810079
Name: 1348, dtype: object
1349, Date         2011-09-07
Time                NaN
Latitude      41.987812
Longitude    -87.809647
Name: 1349, dtype: object
1350, Date         2011-09-07
Time                NaN
Latitude      41.987812
Longitude    -87.809119
Name: 1350, dtype: object
1351, Date         2011-09-07
Time                NaN
Latitude      41.987812
Longitude    -87.808687
Name: 1351, dtype: object
1352, Date         2011-09-07
Time                NaN
Latitude      41.987764
Longitude    -87.808447
Name: 1352, dtype: object
1353, Date         2011-09-07
Time                NaN
Latitude       41.98738
Longitude    -87.808447
Name: 1353, dtype: object
1354, Date         2011-09-07
Time                NaN
Latitude      41.987044
Longitude    -87.808399
Name: 1354, dtype: object
1355, Date         2011-09-07
Time                NaN
Latitude      41.986564
Longitude    -87.808351
Name: 1355, dtype: object
1356, Date         2011-09-07
Time                NaN
Latitude        41.9893
Longitude    -87.810031
Name: 1356, dtype: object
1357, Date         2011-09-07
Time                NaN
Latitude      41.989492
Longitude    -87.810031
Name: 1357, dtype: object
1358, Date         2011-09-07
Time                NaN
Latitude      41.989828
Longitude    -87.810079
Name: 1358, dtype: object
1359, Date         2011-09-07
Time                NaN
Latitude      41.989828
Longitude    -87.809407
Name: 1359, dtype: object
1360, Date         2011-09-07
Time                NaN
Latitude       41.98978
Longitude    -87.808927
Name: 1360, dtype: object
1361, Date         2011-09-07
Time                NaN
Latitude      41.989828
Longitude    -87.808351
Name: 1361, dtype: object
1362, Date         2011-09-07
Time                NaN
Latitude      41.989828
Longitude    -87.808015
Name: 1362, dtype: object
1363, Date         2011-09-07
Time                NaN
Latitude      41.989924
Longitude    -87.806959
Name: 1363, dtype: object
1364, Date         2011-09-07
Time                NaN
Latitude      41.991844
Longitude    -87.808255
Name: 1364, dtype: object
1365, Date         2011-09-07
Time                NaN
Latitude      41.991364
Longitude    -87.808351
Name: 1365, dtype: object
1366, Date         2011-09-07
Time                NaN
Latitude      41.990788
Longitude    -87.808255
Name: 1366, dtype: object
1367, Date         2011-09-07
Time                NaN
Latitude      41.990356
Longitude    -87.808351
Name: 1367, dtype: object
1368, Date         2011-09-07
Time                NaN
Latitude      41.989444
Longitude    -87.808303
Name: 1368, dtype: object
1369, Date         2011-09-07
Time                NaN
Latitude      41.989012
Longitude    -87.808351
Name: 1369, dtype: object
1370, Date         2011-09-07
Time                NaN
Latitude      41.988436
Longitude    -87.808399
Name: 1370, dtype: object
1371, Date         2011-09-07
Time                NaN
Latitude      41.992036
Longitude    -87.807775
Name: 1371, dtype: object
1372, Date         2011-09-07
Time                NaN
Latitude      41.992084
Longitude    -87.807247
Name: 1372, dtype: object
1373, Date         2011-09-07
Time                NaN
Latitude      41.985316
Longitude    -87.809839
Name: 1373, dtype: object
1374, Date         2011-09-07
Time                NaN
Latitude      41.985268
Longitude    -87.809983
Name: 1374, dtype: object
1375, Date         2011-09-07
Time                NaN
Latitude      41.985268
Longitude    -87.810319
Name: 1375, dtype: object
1376, Date         2011-09-07
Time                NaN
Latitude      41.985172
Longitude    -87.810991
Name: 1376, dtype: object
1377, Date         2011-09-07
Time                NaN
Latitude       41.98522
Longitude    -87.811519
Name: 1377, dtype: object
1378, Date         2011-09-07
Time                NaN
Latitude       41.98594
Longitude    -87.809503
Name: 1378, dtype: object
1379, Date         2011-09-07
Time                NaN
Latitude      41.985652
Longitude    -87.809407
Name: 1379, dtype: object
1380, Date         2011-09-07
Time                NaN
Latitude      41.985172
Longitude    -87.809503
Name: 1380, dtype: object
1381, Date         2011-09-07
Time                NaN
Latitude      41.984788
Longitude    -87.809503
Name: 1381, dtype: object
1382, Date         2011-09-07
Time                NaN
Latitude      41.984404
Longitude    -87.809455
Name: 1382, dtype: object
1383, Date         2011-09-07
Time                NaN
Latitude      41.984164
Longitude    -87.809311
Name: 1383, dtype: object
1384, Date         2011-09-07
Time                NaN
Latitude       41.98426
Longitude    -87.808687
Name: 1384, dtype: object
1385, Date         2011-09-07
Time                NaN
Latitude      41.984164
Longitude    -87.808015
Name: 1385, dtype: object
1386, Date         2011-09-07
Time                NaN
Latitude      41.984116
Longitude    -87.807199
Name: 1386, dtype: object
1387, Date         2011-09-07
Time                NaN
Latitude      41.983636
Longitude    -87.807439
Name: 1387, dtype: object
1388, Date         2011-09-07
Time                NaN
Latitude      41.983588
Longitude    -87.808159
Name: 1388, dtype: object
1389, Date         2011-09-07
Time                NaN
Latitude      41.983588
Longitude    -87.808927
Name: 1389, dtype: object
1390, Date         2011-09-07
Time                NaN
Latitude      41.983588
Longitude    -87.809551
Name: 1390, dtype: object
1391, Date         2011-09-07
Time                NaN
Latitude      41.983492
Longitude    -87.809887
Name: 1391, dtype: object
1392, Date         2011-09-07
Time                NaN
Latitude      41.983588
Longitude    -87.810271
Name: 1392, dtype: object
1393, Date         2011-09-07
Time                NaN
Latitude      41.985508
Longitude    -87.815983
Name: 1393, dtype: object
1394, Date         2011-09-07
Time                NaN
Latitude      41.985604
Longitude    -87.815215
Name: 1394, dtype: object
1395, Date         2011-09-07
Time                NaN
Latitude      41.985652
Longitude    -87.814639
Name: 1395, dtype: object
1396, Date         2011-09-07
Time                NaN
Latitude      41.985652
Longitude    -87.814063
Name: 1396, dtype: object
1397, Date         2011-09-07
Time                NaN
Latitude      41.985604
Longitude    -87.813391
Name: 1397, dtype: object
1398, Date         2011-09-07
Time                NaN
Latitude      41.985652
Longitude    -87.813055
Name: 1398, dtype: object
1399, Date         2011-09-07
Time                NaN
Latitude      41.985364
Longitude    -87.812767
Name: 1399, dtype: object
1400, Date         2011-09-07
Time                NaN
Latitude      41.985124
Longitude    -87.812575
Name: 1400, dtype: object
1401, Date         2011-09-07
Time                NaN
Latitude      41.984884
Longitude    -87.815983
Name: 1401, dtype: object
1402, Date         2011-09-07
Time                NaN
Latitude      41.984932
Longitude    -87.815359
Name: 1402, dtype: object
1403, Date         2011-09-07
Time                NaN
Latitude      41.984884
Longitude    -87.814783
Name: 1403, dtype: object
1404, Date         2011-09-07
Time                NaN
Latitude      41.984884
Longitude    -87.814159
Name: 1404, dtype: object
1405, Date         2011-09-07
Time                NaN
Latitude      41.984884
Longitude    -87.813535
Name: 1405, dtype: object
1406, Date         2011-09-07
Time                NaN
Latitude      41.984884
Longitude    -87.813199
Name: 1406, dtype: object
1407, Date         2011-09-07
Time                NaN
Latitude      41.984068
Longitude    -87.816079
Name: 1407, dtype: object
1408, Date         2011-09-07
Time                NaN
Latitude      41.984068
Longitude    -87.815407
Name: 1408, dtype: object
1409, Date         2011-09-07
Time                NaN
Latitude      41.984116
Longitude    -87.814879
Name: 1409, dtype: object
1410, Date         2011-09-07
Time                NaN
Latitude      41.984068
Longitude    -87.814351
Name: 1410, dtype: object
1411, Date         2011-09-07
Time                NaN
Latitude      41.984068
Longitude    -87.813727
Name: 1411, dtype: object
1412, Date         2011-09-07
Time                NaN
Latitude       41.98402
Longitude    -87.813295
Name: 1412, dtype: object
1413, Date         2011-09-07
Time                NaN
Latitude      41.983876
Longitude    -87.813103
Name: 1413, dtype: object
1414, Date         2011-09-07
Time                NaN
Latitude      41.983396
Longitude    -87.816079
Name: 1414, dtype: object
1415, Date         2011-09-07
Time                NaN
Latitude      41.983156
Longitude    -87.815311
Name: 1415, dtype: object
1416, Date         2011-09-07
Time                NaN
Latitude      41.982916
Longitude    -87.814495
Name: 1416, dtype: object
1417, Date         2011-09-07
Time                NaN
Latitude       41.98282
Longitude    -87.814111
Name: 1417, dtype: object
1418, Date         2011-09-07
Time                NaN
Latitude      41.982676
Longitude    -87.813487
Name: 1418, dtype: object
1419, Date         2011-09-07
Time                NaN
Latitude      41.982676
Longitude    -87.812863
Name: 1419, dtype: object
1420, Date         2011-09-07
Time                NaN
Latitude      41.982676
Longitude    -87.812287
Name: 1420, dtype: object
1421, Date         2011-09-07
Time                NaN
Latitude      41.984068
Longitude    -87.815023
Name: 1421, dtype: object
1422, Date         2011-09-07
Time                NaN
Latitude      41.983684
Longitude    -87.814831
Name: 1422, dtype: object
1423, Date         2011-09-07
Time                NaN
Latitude      41.983444
Longitude    -87.814447
Name: 1423, dtype: object
1424, Date         2011-09-07
Time                NaN
Latitude      41.983348
Longitude    -87.814111
Name: 1424, dtype: object
1425, Date         2011-09-07
Time                NaN
Latitude      41.983252
Longitude    -87.813727
Name: 1425, dtype: object
1426, Date         2011-09-07
Time                NaN
Latitude      41.983204
Longitude    -87.813247
Name: 1426, dtype: object
1427, Date         2011-09-07
Time                NaN
Latitude      41.984452
Longitude    -87.813199
Name: 1427, dtype: object
1428, Date         2011-09-07
Time                NaN
Latitude      41.983492
Longitude    -87.813199
Name: 1428, dtype: object
1429, Date         2011-09-07
Time                NaN
Latitude        41.9845
Longitude    -87.815983
Name: 1429, dtype: object
1430, Date         2011-09-07
Time                NaN
Latitude       41.99362
Longitude    -87.821984
Name: 1430, dtype: object
1431, Date         2011-09-07
Time                NaN
Latitude      41.994964
Longitude    -87.821887
Name: 1431, dtype: object
1432, Date         2011-09-07
Time                NaN
Latitude      41.996644
Longitude    -87.821647
Name: 1432, dtype: object
1433, Date         2011-09-07
Time                NaN
Latitude      41.996836
Longitude    -87.821359
Name: 1433, dtype: object
1434, Date         2011-09-07
Time                NaN
Latitude      41.996836
Longitude    -87.820735
Name: 1434, dtype: object
1435, Date         2011-09-07
Time                NaN
Latitude      41.996788
Longitude    -87.820303
Name: 1435, dtype: object
1436, Date         2011-09-07
Time                NaN
Latitude      41.996836
Longitude    -87.819967
Name: 1436, dtype: object
1437, Date         2011-09-07
Time                NaN
Latitude      41.996884
Longitude    -87.819439
Name: 1437, dtype: object
1438, Date         2011-09-07
Time                NaN
Latitude      41.996884
Longitude    -87.819007
Name: 1438, dtype: object
1439, Date         2011-09-07
Time                NaN
Latitude      41.996884
Longitude    -87.818335
Name: 1439, dtype: object
1440, Date         2011-09-07
Time                NaN
Latitude      41.996932
Longitude    -87.817855
Name: 1440, dtype: object
1441, Date         2011-09-07
Time                NaN
Latitude      41.996932
Longitude    -87.817519
Name: 1441, dtype: object
1442, Date         2011-09-07
Time                NaN
Latitude      41.996884
Longitude    -87.816991
Name: 1442, dtype: object
1443, Date         2011-09-07
Time                NaN
Latitude      41.996884
Longitude    -87.816463
Name: 1443, dtype: object
1444, Date         2011-09-07
Time                NaN
Latitude      41.996932
Longitude    -87.815983
Name: 1444, dtype: object
1445, Date         2011-09-07
Time                NaN
Latitude       41.99698
Longitude    -87.815503
Name: 1445, dtype: object
1446, Date         2011-09-07
Time                NaN
Latitude      41.996932
Longitude    -87.815071
Name: 1446, dtype: object
1447, Date         2011-09-07
Time                NaN
Latitude      41.996932
Longitude    -87.814687
Name: 1447, dtype: object
1448, Date         2011-09-07
Time                NaN
Latitude       41.99698
Longitude    -87.814111
Name: 1448, dtype: object
1449, Date         2011-09-07
Time                NaN
Latitude       41.99698
Longitude    -87.813775
Name: 1449, dtype: object
1450, Date         2011-09-07
Time                NaN
Latitude      41.996932
Longitude    -87.813391
Name: 1450, dtype: object
1451, Date         2011-09-07
Time                NaN
Latitude       41.99698
Longitude    -87.812767
Name: 1451, dtype: object
1452, Date         2011-09-07
Time                NaN
Latitude       41.99698
Longitude    -87.812335
Name: 1452, dtype: object
1453, Date         2011-09-07
Time                NaN
Latitude      41.997028
Longitude    -87.811855
Name: 1453, dtype: object
1454, Date         2011-09-07
Time                NaN
Latitude      41.996932
Longitude    -87.811183
Name: 1454, dtype: object
1455, Date         2011-09-07
Time                NaN
Latitude      41.996932
Longitude    -87.810607
Name: 1455, dtype: object
1456, Date         2011-09-07
Time                NaN
Latitude       41.99698
Longitude    -87.810127
Name: 1456, dtype: object
1457, Date         2011-09-07
Time                NaN
Latitude      41.996308
Longitude    -87.809023
Name: 1457, dtype: object
1458, Date         2011-09-07
Time                NaN
Latitude      41.996164
Longitude    -87.808543
Name: 1458, dtype: object
1459, Date         2011-09-07
Time                NaN
Latitude      41.995876
Longitude    -87.808255
Name: 1459, dtype: object
1460, Date         2011-09-07
Time                NaN
Latitude      41.995732
Longitude    -87.807871
Name: 1460, dtype: object
1461, Date         2011-09-07
Time                NaN
Latitude      41.995588
Longitude    -87.807679
Name: 1461, dtype: object
1462, Date         2011-09-07
Time                NaN
Latitude      41.995348
Longitude    -87.807103
Name: 1462, dtype: object
1463, Date         2011-09-07
Time                NaN
Latitude        41.9965
Longitude    -87.818911
Name: 1463, dtype: object
1464, Date         2011-09-07
Time                NaN
Latitude      41.995732
Longitude    -87.818959
Name: 1464, dtype: object
1465, Date         2011-09-07
Time                NaN
Latitude       41.99482
Longitude    -87.819007
Name: 1465, dtype: object
1466, Date         2011-09-07
Time                NaN
Latitude      41.994484
Longitude    -87.819103
Name: 1466, dtype: object
1467, Date         2011-09-07
Time                NaN
Latitude        41.9929
Longitude    -87.819103
Name: 1467, dtype: object
1468, Date         2011-09-07
Time                NaN
Latitude       41.99242
Longitude    -87.819055
Name: 1468, dtype: object
1469, Date         2011-09-07
Time                NaN
Latitude      41.992132
Longitude    -87.819007
Name: 1469, dtype: object
1470, Date         2011-09-07
Time                NaN
Latitude       41.99602
Longitude    -87.821263
Name: 1470, dtype: object
1471, Date         2011-09-07
Time                NaN
Latitude       41.99602
Longitude    -87.820687
Name: 1471, dtype: object
1472, Date         2011-09-07
Time                NaN
Latitude      41.995972
Longitude    -87.820207
Name: 1472, dtype: object

1473, Date         2011-09-07
Time                NaN
Latitude       41.99602
Longitude    -87.819583
Name: 1473, dtype: object
1474, Date         2011-09-07
Time                NaN
Latitude       41.99602
Longitude    -87.818623
Name: 1474, dtype: object
1475, Date         2011-09-07
Time                NaN
Latitude       41.99602
Longitude    -87.817951
Name: 1475, dtype: object
1476, Date         2011-09-07
Time                NaN
Latitude      41.996068
Longitude    -87.817471
Name: 1476, dtype: object
1477, Date         2011-09-07
Time                NaN
Latitude       41.99602
Longitude    -87.816991
Name: 1477, dtype: object
1478, Date         2011-09-07
Time                NaN
Latitude      41.995012
Longitude    -87.821455
Name: 1478, dtype: object
1479, Date         2011-09-07
Time                NaN
Latitude      41.995012
Longitude    -87.820975
Name: 1479, dtype: object
1480, Date         2011-09-07
Time                NaN
Latitude      41.995012
Longitude    -87.820399
Name: 1480, dtype: object
1481, Date         2011-09-07
Time                NaN
Latitude      41.995012
Longitude    -87.820015
Name: 1481, dtype: object
1482, Date         2011-09-07
Time                NaN
Latitude      41.995012
Longitude    -87.819439
Name: 1482, dtype: object
1483, Date         2011-09-07
Time                NaN
Latitude      41.994964
Longitude    -87.818863
Name: 1483, dtype: object
1484, Date         2011-09-07
Time                NaN
Latitude       41.99506
Longitude    -87.818191
Name: 1484, dtype: object
1485, Date         2011-09-07
Time                NaN
Latitude      41.995012
Longitude    -87.817519
Name: 1485, dtype: object
1486, Date         2011-09-07
Time                NaN
Latitude      41.995108
Longitude    -87.816991
Name: 1486, dtype: object
1487, Date         2011-09-07
Time                NaN
Latitude      41.994196
Longitude    -87.821023
Name: 1487, dtype: object
1488, Date         2011-09-07
Time                NaN
Latitude      41.994196
Longitude    -87.820303
Name: 1488, dtype: object
1489, Date         2011-09-07
Time                NaN
Latitude      41.994196
Longitude    -87.819583
Name: 1489, dtype: object
1490, Date         2011-09-07
Time                NaN
Latitude      41.994244
Longitude    -87.818719
Name: 1490, dtype: object
1491, Date         2011-09-07
Time                NaN
Latitude      41.994244
Longitude    -87.818191
Name: 1491, dtype: object
1492, Date         2011-09-07
Time                NaN
Latitude      41.994244
Longitude    -87.817615
Name: 1492, dtype: object
1493, Date         2011-09-07
Time                NaN
Latitude      41.994196
Longitude    -87.817135
Name: 1493, dtype: object
1494, Date         2011-09-07
Time                NaN
Latitude      41.994244
Longitude    -87.816751
Name: 1494, dtype: object
1495, Date         2011-09-07
Time                NaN
Latitude      41.993188
Longitude    -87.821071
Name: 1495, dtype: object
1496, Date         2011-09-07
Time                NaN
Latitude      41.993332
Longitude    -87.820735
Name: 1496, dtype: object
1497, Date         2011-09-07
Time                NaN
Latitude      41.993332
Longitude    -87.820303
Name: 1497, dtype: object
1498, Date         2011-09-07
Time                NaN
Latitude      41.993332
Longitude    -87.819919
Name: 1498, dtype: object
1499, Date         2011-09-07
Time                NaN
Latitude       41.99338
Longitude    -87.819247
Name: 1499, dtype: object
1500, Date         2011-09-07
Time                NaN
Latitude      41.993332
Longitude    -87.818671
Name: 1500, dtype: object
1501, Date         2011-09-07
Time                NaN
Latitude      41.993332
Longitude    -87.818191
Name: 1501, dtype: object
1502, Date         2011-09-07
Time                NaN
Latitude       41.99338
Longitude    -87.817615
Name: 1502, dtype: object
1503, Date         2011-09-07
Time                NaN
Latitude       41.99338
Longitude    -87.817135
Name: 1503, dtype: object
1504, Date         2011-09-07
Time                NaN
Latitude      41.993332
Longitude    -87.816799
Name: 1504, dtype: object
1505, Date         2011-09-07
Time                NaN
Latitude      41.992276
Longitude    -87.816799
Name: 1505, dtype: object
1506, Date         2011-09-07
Time                NaN
Latitude      41.991796
Longitude    -87.816751
Name: 1506, dtype: object
1507, Date         2011-09-07
Time                NaN
Latitude      41.991316
Longitude    -87.816703
Name: 1507, dtype: object
1508, Date         2011-09-07
Time                NaN
Latitude      41.991028
Longitude    -87.816751
Name: 1508, dtype: object
1509, Date         2011-09-07
Time                NaN
Latitude      41.992372
Longitude    -87.817519
Name: 1509, dtype: object
1510, Date         2011-09-07
Time                NaN
Latitude      41.992372
Longitude    -87.817087
Name: 1510, dtype: object
1511, Date         2011-09-07
Time                NaN
Latitude      41.992372
Longitude    -87.816751
Name: 1511, dtype: object
1512, Date         2011-09-07
Time                NaN
Latitude      41.996452
Longitude    -87.816847
Name: 1512, dtype: object
1513, Date         2011-09-07
Time                NaN
Latitude        41.9965
Longitude    -87.816223
Name: 1513, dtype: object
1514, Date         2011-09-07
Time                NaN
Latitude        41.9965
Longitude    -87.815599
Name: 1514, dtype: object
1515, Date         2011-09-07
Time                NaN
Latitude      41.996452
Longitude    -87.815071
Name: 1515, dtype: object
1516, Date         2011-09-07
Time                NaN
Latitude        41.9965
Longitude    -87.814591
Name: 1516, dtype: object
1517, Date         2011-09-07
Time                NaN
Latitude        41.9965
Longitude    -87.814111
Name: 1517, dtype: object
1518, Date         2011-09-07
Time                NaN
Latitude      41.996452
Longitude    -87.813727
Name: 1518, dtype: object
1519, Date         2011-09-07
Time                NaN
Latitude      41.996452
Longitude    -87.813151
Name: 1519, dtype: object
1520, Date         2011-09-07
Time                NaN
Latitude        41.9965
Longitude    -87.812815
Name: 1520, dtype: object
1521, Date         2011-09-07
Time                NaN
Latitude      41.996452
Longitude    -87.812287
Name: 1521, dtype: object
1522, Date         2011-09-07
Time                NaN
Latitude      41.996308
Longitude    -87.812287
Name: 1522, dtype: object
1523, Date         2011-09-07
Time                NaN
Latitude      41.995396
Longitude    -87.816463
Name: 1523, dtype: object
1524, Date         2011-09-07
Time                NaN
Latitude      41.995396
Longitude    -87.815887
Name: 1524, dtype: object
1525, Date         2011-09-07
Time                NaN
Latitude      41.995396
Longitude    -87.815407
Name: 1525, dtype: object
1526, Date         2011-09-07
Time                NaN
Latitude      41.995444
Longitude    -87.814975
Name: 1526, dtype: object
1527, Date         2011-09-07
Time                NaN
Latitude      41.995444
Longitude    -87.814591
Name: 1527, dtype: object
1528, Date         2011-09-07
Time                NaN
Latitude      41.995396
Longitude    -87.814063
Name: 1528, dtype: object
1529, Date         2011-09-07
Time                NaN
Latitude      41.995396
Longitude    -87.813199
Name: 1529, dtype: object
1530, Date         2011-09-07
Time                NaN
Latitude      41.995396
Longitude    -87.812767
Name: 1530, dtype: object
1531, Date         2011-09-07
Time                NaN
Latitude      41.995396
Longitude    -87.812239
Name: 1531, dtype: object
1532, Date         2011-09-07
Time                NaN
Latitude      41.995396
Longitude    -87.811567
Name: 1532, dtype: object
1533, Date         2011-09-07
Time                NaN
Latitude      41.995396
Longitude    -87.810847
Name: 1533, dtype: object
1534, Date         2011-09-07
Time                NaN
Latitude      41.995444
Longitude    -87.810415
Name: 1534, dtype: object
1535, Date         2011-09-07
Time                NaN
Latitude      41.995396
Longitude    -87.809983
Name: 1535, dtype: object
1536, Date         2011-09-07
Time                NaN
Latitude      41.995348
Longitude    -87.809359
Name: 1536, dtype: object
1537, Date         2011-09-07
Time                NaN
Latitude      41.995396
Longitude    -87.808879
Name: 1537, dtype: object
1538, Date         2011-09-07
Time                NaN
Latitude      41.995348
Longitude    -87.808303
Name: 1538, dtype: object
1539, Date         2011-09-07
Time                NaN
Latitude      41.995348
Longitude    -87.807775
Name: 1539, dtype: object
1540, Date         2011-09-07
Time                NaN
Latitude      41.994484
Longitude    -87.816799
Name: 1540, dtype: object
1541, Date         2011-09-07
Time                NaN
Latitude      41.994484
Longitude    -87.816367
Name: 1541, dtype: object
1542, Date         2011-09-07
Time                NaN
Latitude      41.994532
Longitude    -87.815791
Name: 1542, dtype: object
1543, Date         2011-09-07
Time                NaN
Latitude      41.994484
Longitude    -87.815263
Name: 1543, dtype: object
1544, Date         2011-09-07
Time                NaN
Latitude      41.994484
Longitude    -87.814975
Name: 1544, dtype: object
1545, Date         2011-09-07
Time                NaN
Latitude      41.994484
Longitude    -87.814495
Name: 1545, dtype: object
1546, Date         2011-09-07
Time                NaN
Latitude      41.994484
Longitude    -87.814063
Name: 1546, dtype: object
1547, Date         2011-09-07
Time                NaN
Latitude      41.994484
Longitude    -87.813631
Name: 1547, dtype: object
1548, Date         2011-09-07
Time                NaN
Latitude      41.994484
Longitude    -87.813295
Name: 1548, dtype: object
1549, Date         2011-09-07
Time                NaN
Latitude      41.994436
Longitude    -87.812863
Name: 1549, dtype: object
1550, Date         2011-09-07
Time                NaN
Latitude      41.994436
Longitude    -87.812383
Name: 1550, dtype: object
1551, Date         2011-09-07
Time                NaN
Latitude      41.994436
Longitude    -87.811855
Name: 1551, dtype: object
1552, Date         2011-09-07
Time                NaN
Latitude      41.994436
Longitude    -87.811279
Name: 1552, dtype: object
1553, Date         2011-09-07
Time                NaN
Latitude      41.994436
Longitude    -87.810751
Name: 1553, dtype: object
1554, Date         2011-09-07
Time                NaN
Latitude      41.994388
Longitude    -87.810175
Name: 1554, dtype: object
1555, Date         2011-09-07
Time                NaN
Latitude      41.994388
Longitude    -87.809743
Name: 1555, dtype: object
1556, Date         2011-09-07
Time                NaN
Latitude       41.99434
Longitude    -87.809263
Name: 1556, dtype: object
1557, Date         2011-09-07
Time                NaN
Latitude      41.994388
Longitude    -87.808687
Name: 1557, dtype: object
1558, Date         2011-09-07
Time                NaN
Latitude      41.994436
Longitude    -87.808063
Name: 1558, dtype: object
1559, Date         2011-09-07
Time                NaN
Latitude      41.994388
Longitude    -87.807679
Name: 1559, dtype: object
1560, Date         2011-09-07
Time                NaN
Latitude      41.994436
Longitude    -87.806959
Name: 1560, dtype: object
1561, Date         2011-09-07
Time                NaN
Latitude      41.993524
Longitude    -87.816655
Name: 1561, dtype: object
1562, Date         2011-09-07
Time                NaN
Latitude      41.993524
Longitude    -87.815695
Name: 1562, dtype: object
1563, Date         2011-09-07
Time                NaN
Latitude      41.993476
Longitude    -87.815215
Name: 1563, dtype: object
1564, Date         2011-09-07
Time                NaN
Latitude      41.993428
Longitude    -87.814735
Name: 1564, dtype: object
1565, Date         2011-09-07
Time                NaN
Latitude       41.99338
Longitude    -87.814207
Name: 1565, dtype: object
1566, Date         2011-09-07
Time                NaN
Latitude      41.993428
Longitude    -87.813679
Name: 1566, dtype: object
1567, Date         2011-09-07
Time                NaN
Latitude      41.993476
Longitude    -87.813199
Name: 1567, dtype: object
1568, Date         2011-09-07
Time                NaN
Latitude      41.993524
Longitude    -87.812527
Name: 1568, dtype: object
1569, Date         2011-09-07
Time                NaN
Latitude      41.993476
Longitude    -87.812143
Name: 1569, dtype: object

1570, Date         2011-09-07
Time                NaN
Latitude      41.993428
Longitude    -87.811567
Name: 1570, dtype: object
1571, Date         2011-09-07
Time                NaN
Latitude      41.993524
Longitude    -87.810991
Name: 1571, dtype: object
1572, Date         2011-09-07
Time                NaN
Latitude      41.993524
Longitude    -87.810511
Name: 1572, dtype: object
1573, Date         2011-09-07
Time                NaN
Latitude      41.993524
Longitude    -87.810367
Name: 1573, dtype: object
1574, Date         2011-09-07
Time                NaN
Latitude      41.993428
Longitude    -87.810079
Name: 1574, dtype: object
1575, Date         2011-09-07
Time                NaN
Latitude      41.993476
Longitude    -87.809551
Name: 1575, dtype: object
1576, Date         2011-09-07
Time                NaN
Latitude      41.993428
Longitude    -87.809071
Name: 1576, dtype: object
1577, Date         2011-09-07
Time                NaN
Latitude      41.993476
Longitude    -87.808783
Name: 1577, dtype: object
1578, Date         2011-09-07
Time                NaN
Latitude      41.993524
Longitude    -87.808255
Name: 1578, dtype: object
1579, Date         2011-09-07
Time                NaN
Latitude      41.993524
Longitude    -87.807727
Name: 1579, dtype: object
1580, Date         2011-09-07
Time                NaN
Latitude      41.993476
Longitude    -87.807199
Name: 1580, dtype: object
1581, Date         2011-09-07
Time                NaN
Latitude      41.995876
Longitude    -87.816751
Name: 1581, dtype: object
1582, Date         2011-09-07
Time                NaN
Latitude       41.99482
Longitude    -87.816751
Name: 1582, dtype: object
1583, Date         2011-09-07
Time                NaN
Latitude      41.994052
Longitude    -87.816751
Name: 1583, dtype: object
1584, Date         2011-09-07
Time                NaN
Latitude      41.992372
Longitude    -87.816367
Name: 1584, dtype: object
1585, Date         2011-09-07
Time                NaN
Latitude      41.992468
Longitude    -87.815839
Name: 1585, dtype: object
1586, Date         2011-09-07
Time                NaN
Latitude      41.992516
Longitude    -87.815311
Name: 1586, dtype: object
1587, Date         2011-09-07
Time                NaN
Latitude      41.992564
Longitude    -87.814735
Name: 1587, dtype: object
1588, Date         2011-09-07
Time                NaN
Latitude      41.992612
Longitude    -87.814303
Name: 1588, dtype: object
1589, Date         2011-09-07
Time                NaN
Latitude      41.992612
Longitude    -87.813775
Name: 1589, dtype: object
1590, Date         2011-09-07
Time                NaN
Latitude      41.992612
Longitude    -87.813343
Name: 1590, dtype: object
1591, Date         2011-09-07
Time                NaN
Latitude       41.99266
Longitude    -87.812767
Name: 1591, dtype: object
1592, Date         2011-09-07
Time                NaN
Latitude       41.99266
Longitude    -87.812191
Name: 1592, dtype: object
1593, Date         2011-09-07
Time                NaN
Latitude      41.992612
Longitude    -87.811663
Name: 1593, dtype: object
1594, Date         2011-09-07
Time                NaN
Latitude       41.99266
Longitude    -87.811279
Name: 1594, dtype: object
1595, Date         2011-09-07
Time                NaN
Latitude       41.99266
Longitude    -87.810847
Name: 1595, dtype: object
1596, Date         2011-09-07
Time                NaN
Latitude      41.992612
Longitude    -87.810415
Name: 1596, dtype: object
1597, Date         2011-09-07
Time                NaN
Latitude       41.99266
Longitude    -87.809455
Name: 1597, dtype: object
1598, Date         2011-09-07
Time                NaN
Latitude       41.99266
Longitude    -87.809983
Name: 1598, dtype: object
1599, Date         2011-09-07
Time                NaN
Latitude      41.992708
Longitude    -87.808927
Name: 1599, dtype: object
1600, Date         2011-09-07
Time                NaN
Latitude      41.992708
Longitude    -87.808399
Name: 1600, dtype: object
1601, Date         2011-09-07
Time                NaN
Latitude      41.992756
Longitude    -87.807775
Name: 1601, dtype: object
1602, Date         2011-09-07
Time                NaN
Latitude      41.992756
Longitude    -87.807199
Name: 1602, dtype: object
1603, Date         2011-09-07
Time                NaN
Latitude      41.996164
Longitude    -87.813727
Name: 1603, dtype: object
1604, Date         2011-09-07
Time                NaN
Latitude      41.995732
Longitude    -87.813679
Name: 1604, dtype: object
1605, Date         2011-09-07
Time                NaN
Latitude      41.994916
Longitude    -87.813727
Name: 1605, dtype: object
1606, Date         2011-09-07
Time                NaN
Latitude      41.992948
Longitude    -87.813775
Name: 1606, dtype: object
1607, Date         2011-09-07
Time                NaN
Latitude      41.996644
Longitude    -87.811567
Name: 1607, dtype: object
1608, Date         2011-09-07
Time                NaN
Latitude       41.99626
Longitude    -87.811567
Name: 1608, dtype: object
1609, Date         2011-09-07
Time                NaN
Latitude      41.995876
Longitude    -87.811615
Name: 1609, dtype: object
1610, Date         2011-09-07
Time                NaN
Latitude      41.995972
Longitude    -87.810271
Name: 1610, dtype: object
1611, Date         2011-09-07
Time                NaN
Latitude      41.995684
Longitude    -87.810319
Name: 1611, dtype: object
1612, Date         2011-09-07
Time                NaN
Latitude      41.994724
Longitude    -87.810415
Name: 1612, dtype: object
1613, Date         2011-09-07
Time                NaN
Latitude      41.993092
Longitude    -87.810415
Name: 1613, dtype: object
1614, Date         2011-09-07
Time         7:46:30 PM
Latitude      41.973465
Longitude    -87.827643
Name: 1614, dtype: object
1615, Date         2011-09-07
Time         7:46:40 PM
Latitude      41.973457
Longitude    -87.828302
Name: 1615, dtype: object
1616, Date         2011-09-07
Time         7:46:50 PM
Latitude      41.973435
Longitude    -87.829073
Name: 1616, dtype: object
1617, Date         2011-09-07
Time         7:47:00 PM
Latitude      41.973442
Longitude    -87.829835
Name: 1617, dtype: object
1618, Date         2011-09-07
Time         7:47:10 PM
Latitude      41.973418
Longitude    -87.830568
Name: 1618, dtype: object
1619, Date         2011-09-07
Time         7:47:20 PM
Latitude      41.973482
Longitude    -87.831098
Name: 1619, dtype: object
1620, Date         2011-09-07
Time         7:47:50 PM
Latitude      41.973537
Longitude    -87.831167
Name: 1620, dtype: object
1621, Date         2011-09-07
Time         7:48:40 PM
Latitude      41.973443
Longitude    -87.828427
Name: 1621, dtype: object
1622, Date         2011-09-07
Time         7:48:50 PM
Latitude      41.973452
Longitude    -87.827772
Name: 1622, dtype: object
1623, Date         2011-09-07
Time         7:49:00 PM
Latitude      41.973455
Longitude    -87.827173
Name: 1623, dtype: object
1624, Date         2011-09-07
Time         7:49:10 PM
Latitude      41.973483
Longitude     -87.82679
Name: 1624, dtype: object
1625, Date         2011-09-07
Time         7:49:50 PM
Latitude      41.973985
Longitude    -87.827068
Name: 1625, dtype: object
1626, Date         2011-09-07
Time         7:50:00 PM
Latitude      41.973962
Longitude    -87.827908
Name: 1626, dtype: object
1627, Date         2011-09-07
Time         7:50:10 PM
Latitude      41.973955
Longitude    -87.828773
Name: 1627, dtype: object
1628, Date         2011-09-07
Time         7:50:20 PM
Latitude      41.973938
Longitude     -87.82977
Name: 1628, dtype: object
1629, Date         2011-09-07
Time         7:50:30 PM
Latitude      41.973918
Longitude    -87.830715
Name: 1629, dtype: object
1630, Date         2011-09-07
Time         7:50:40 PM
Latitude       41.97392
Longitude    -87.831623
Name: 1630, dtype: object
1631, Date         2011-09-07
Time         7:50:50 PM
Latitude      41.973918
Longitude    -87.832472
Name: 1631, dtype: object
1632, Date         2011-09-07
Time         7:51:00 PM
Latitude      41.974115
Longitude    -87.832838
Name: 1632, dtype: object
1633, Date         2011-09-07
Time         7:51:10 PM
Latitude       41.97452
Longitude    -87.832837
Name: 1633, dtype: object
1634, Date         2011-09-07
Time         7:51:20 PM
Latitude      41.974937
Longitude    -87.832842
Name: 1634, dtype: object
1635, Date         2011-09-07
Time         7:51:30 PM
Latitude      41.975312
Longitude    -87.832805
Name: 1635, dtype: object
1636, Date         2011-09-07
Time         7:51:40 PM
Latitude      41.975363
Longitude    -87.832235
Name: 1636, dtype: object
1637, Date         2011-09-07
Time         7:51:50 PM
Latitude      41.975357
Longitude     -87.83172
Name: 1637, dtype: object
1638, Date         2011-09-07
Time         7:52:00 PM
Latitude      41.975363
Longitude    -87.831152
Name: 1638, dtype: object
1639, Date         2011-09-07
Time         7:52:10 PM
Latitude      41.975372
Longitude    -87.830567
Name: 1639, dtype: object
1640, Date         2011-09-07
Time         7:52:20 PM
Latitude      41.975393
Longitude    -87.829978
Name: 1640, dtype: object
1641, Date         2011-09-07
Time         7:52:30 PM
Latitude      41.975402
Longitude    -87.829352
Name: 1641, dtype: object
1642, Date         2011-09-07
Time         7:52:40 PM
Latitude        41.9754
Longitude     -87.82876
Name: 1642, dtype: object
1643, Date         2011-09-07
Time         7:53:00 PM
Latitude      41.975428
Longitude     -87.82766
Name: 1643, dtype: object
1644, Date         2011-09-07
Time         7:53:10 PM
Latitude      41.975432
Longitude    -87.827005
Name: 1644, dtype: object
1645, Date         2011-09-07
Time         7:53:20 PM
Latitude      41.975425
Longitude    -87.826413
Name: 1645, dtype: object
1646, Date         2011-09-07
Time         7:53:30 PM
Latitude      41.975455
Longitude    -87.825768
Name: 1646, dtype: object
1647, Date         2011-09-07
Time         7:53:40 PM
Latitude       41.97548
Longitude     -87.82508
Name: 1647, dtype: object
1648, Date         2011-09-07
Time         7:54:00 PM
Latitude      41.975343
Longitude    -87.824613
Name: 1648, dtype: object
1649, Date         2011-09-07
Time         7:54:10 PM
Latitude       41.97473
Longitude    -87.824713
Name: 1649, dtype: object
1650, Date         2011-09-07
Time         7:54:50 PM
Latitude      41.974078
Longitude    -87.824947
Name: 1650, dtype: object
1651, Date         2011-09-07
Time         7:55:00 PM
Latitude      41.974072
Longitude    -87.825703
Name: 1651, dtype: object
1652, Date         2011-09-07
Time         7:55:10 PM
Latitude       41.97405
Longitude    -87.826343
Name: 1652, dtype: object
1653, Date         2011-09-07
Time         7:56:00 PM
Latitude      41.974397
Longitude     -87.82954
Name: 1653, dtype: object
1654, Date         2011-09-07
Time         7:56:10 PM
Latitude      41.974507
Longitude    -87.830143
Name: 1654, dtype: object
1655, Date         2011-09-07
Time         7:56:20 PM
Latitude        41.9745
Longitude    -87.830832
Name: 1655, dtype: object
1656, Date         2011-09-07
Time         7:56:30 PM
Latitude      41.974482
Longitude     -87.83145
Name: 1656, dtype: object
1657, Date         2011-09-07
Time         7:56:40 PM
Latitude      41.974702
Longitude    -87.831723
Name: 1657, dtype: object
1658, Date         2011-09-07
Time         7:56:50 PM
Latitude      41.975183
Longitude    -87.831717
Name: 1658, dtype: object
1659, Date         2011-09-07
Time         7:57:00 PM
Latitude      41.975595
Longitude    -87.831722
Name: 1659, dtype: object
1660, Date         2011-09-07
Time         7:57:10 PM
Latitude        41.9761
Longitude    -87.831717
Name: 1660, dtype: object
1661, Date         2011-09-07
Time         7:57:20 PM
Latitude       41.97637
Longitude    -87.831902
Name: 1661, dtype: object
1662, Date         2011-09-07
Time         7:57:30 PM
Latitude      41.976345
Longitude    -87.832517
Name: 1662, dtype: object
1663, Date         2011-09-07
Time         7:57:40 PM
Latitude      41.976337
Longitude     -87.83314
Name: 1663, dtype: object
1664, Date         2011-09-07
Time         7:57:50 PM
Latitude      41.976297
Longitude    -87.833715
Name: 1664, dtype: object
1665, Date         2011-09-07
Time         7:58:00 PM
Latitude       41.97584
Longitude     -87.83373
Name: 1665, dtype: object
1666, Date         2011-09-07
Time         7:58:10 PM
Latitude       41.97568
Longitude    -87.834192
Name: 1666, dtype: object
1667, Date         2011-09-07
Time         7:58:20 PM
Latitude      41.975668
Longitude    -87.834873
Name: 1667, dtype: object
1668, Date         2011-09-07
Time         7:58:30 PM
Latitude      41.975652
Longitude    -87.835552
Name: 1668, dtype: object
1669, Date         2011-09-07
Time         7:58:40 PM
Latitude      41.975643
Longitude     -87.83623
Name: 1669, dtype: object
1670, Date         2011-09-07
Time         7:58:50 PM
Latitude      41.975748
Longitude     -87.83656
Name: 1670, dtype: object
1671, Date         2011-09-07
Time         7:59:00 PM
Latitude      41.976298
Longitude    -87.836545
Name: 1671, dtype: object
1672, Date         2011-09-07
Time         7:59:10 PM
Latitude      41.976388
Longitude    -87.836113
Name: 1672, dtype: object
1673, Date         2011-09-07
Time         7:59:20 PM
Latitude      41.976405
Longitude    -87.835515
Name: 1673, dtype: object
1674, Date         2011-09-07
Time         7:59:30 PM
Latitude      41.976418
Longitude    -87.834813
Name: 1674, dtype: object
1675, Date         2011-09-07
Time         7:59:40 PM
Latitude      41.976435
Longitude    -87.834172
Name: 1675, dtype: object
1676, Date         2011-09-07
Time         8:00:20 PM
Latitude      41.976402
Longitude    -87.831807
Name: 1676, dtype: object
1677, Date         2011-09-07
Time         8:00:30 PM
Latitude       41.97679
Longitude    -87.831797
Name: 1677, dtype: object
1678, Date         2011-09-07
Time         8:00:40 PM
Latitude      41.977172
Longitude    -87.831818
Name: 1678, dtype: object
1679, Date         2011-09-07
Time         8:00:50 PM
Latitude      41.977658
Longitude     -87.83184
Name: 1679, dtype: object
1680, Date         2011-09-07
Time         8:01:00 PM
Latitude      41.977943
Longitude      -87.8316
Name: 1680, dtype: object
1681, Date         2011-09-07
Time         8:01:10 PM
Latitude      41.977958
Longitude    -87.831038
Name: 1681, dtype: object
1682, Date         2011-09-07
Time         8:01:20 PM
Latitude       41.97796
Longitude    -87.830348
Name: 1682, dtype: object
1683, Date         2011-09-07
Time         8:01:30 PM
Latitude       41.97797
Longitude    -87.829765
Name: 1683, dtype: object
1684, Date         2011-09-07
Time         8:01:40 PM
Latitude       41.97791
Longitude    -87.829373
Name: 1684, dtype: object
1685, Date         2011-09-07
Time         8:01:50 PM
Latitude      41.977537
Longitude    -87.829362
Name: 1685, dtype: object
1686, Date         2011-09-07
Time         8:02:00 PM
Latitude      41.977325
Longitude    -87.829352
Name: 1686, dtype: object
1687, Date         2011-09-07
Time         8:02:10 PM
Latitude      41.977267
Longitude    -87.829892
Name: 1687, dtype: object
1688, Date         2011-09-07
Time         8:02:20 PM
Latitude      41.977252
Longitude    -87.830583
Name: 1688, dtype: object
1689, Date         2011-09-07
Time         8:02:30 PM
Latitude      41.977242
Longitude    -87.831263
Name: 1689, dtype: object
1690, Date         2011-09-07
Time         8:02:40 PM
Latitude      41.977232
Longitude    -87.831778
Name: 1690, dtype: object
1691, Date         2011-09-07
Time         8:02:50 PM
Latitude      41.977225
Longitude    -87.832407
Name: 1691, dtype: object
1692, Date         2011-09-07
Time         8:03:00 PM
Latitude       41.97721
Longitude    -87.832985
Name: 1692, dtype: object
1693, Date         2011-09-07
Time         8:03:20 PM
Latitude        41.9772
Longitude    -87.834035
Name: 1693, dtype: object
1694, Date         2011-09-07
Time         8:03:30 PM
Latitude      41.977185
Longitude    -87.834663
Name: 1694, dtype: object
1695, Date         2011-09-07
Time         8:03:40 PM
Latitude      41.977168
Longitude    -87.835333
Name: 1695, dtype: object
1696, Date         2011-09-07
Time         8:03:50 PM
Latitude       41.97718
Longitude     -87.83598
Name: 1696, dtype: object
1697, Date         2011-09-07
Time         8:04:00 PM
Latitude      41.977203
Longitude     -87.83656
Name: 1697, dtype: object
1698, Date         2011-09-07
Time         8:04:20 PM
Latitude      41.977783
Longitude    -87.836542
Name: 1698, dtype: object
1699, Date         2011-09-07
Time         8:04:30 PM
Latitude      41.977955
Longitude    -87.836193
Name: 1699, dtype: object
1700, Date         2011-09-07
Time         8:04:40 PM
Latitude      41.977958
Longitude    -87.835538
Name: 1700, dtype: object
1701, Date         2011-09-07
Time         8:04:50 PM
Latitude      41.977973
Longitude    -87.834937
Name: 1701, dtype: object
1702, Date         2011-09-07
Time         8:05:00 PM
Latitude       41.97798
Longitude    -87.834303
Name: 1702, dtype: object
1703, Date         2011-09-07
Time         8:05:10 PM
Latitude      41.977992
Longitude    -87.833727
Name: 1703, dtype: object
1704, Date         2011-09-07
Time         8:05:20 PM
Latitude      41.978007
Longitude    -87.833152
Name: 1704, dtype: object
1705, Date         2011-09-07
Time         8:05:30 PM
Latitude      41.978158
Longitude    -87.832792
Name: 1705, dtype: object
1706, Date         2011-09-07
Time         8:05:40 PM
Latitude      41.978582
Longitude    -87.832803
Name: 1706, dtype: object
1707, Date         2011-09-07
Time         8:05:50 PM
Latitude      41.978983
Longitude    -87.832812
Name: 1707, dtype: object
1708, Date         2011-09-07
Time         8:06:00 PM
Latitude      41.979528
Longitude    -87.832797
Name: 1708, dtype: object
1709, Date         2011-09-07
Time         8:06:10 PM
Latitude      41.980017
Longitude      -87.8328
Name: 1709, dtype: object
1710, Date         2011-09-07
Time         8:06:20 PM
Latitude      41.980093
Longitude    -87.832353
Name: 1710, dtype: object

1711, Date         2011-09-07
Time         8:06:30 PM
Latitude      41.980107
Longitude    -87.831732
Name: 1711, dtype: object
1712, Date         2011-09-07
Time         8:06:40 PM
Latitude      41.980117
Longitude    -87.831057
Name: 1712, dtype: object
1713, Date         2011-09-07
Time         8:06:50 PM
Latitude      41.980037
Longitude    -87.830532
Name: 1713, dtype: object
1714, Date         2011-09-07
Time         8:07:00 PM
Latitude       41.97957
Longitude    -87.830522
Name: 1714, dtype: object
1715, Date         2011-09-07
Time         8:07:10 PM
Latitude      41.979115
Longitude    -87.830508
Name: 1715, dtype: object
1716, Date         2011-09-07
Time         8:07:20 PM
Latitude      41.978713
Longitude    -87.830702
Name: 1716, dtype: object
1717, Date         2011-09-07
Time         8:07:30 PM
Latitude      41.978697
Longitude    -87.831302
Name: 1717, dtype: object
1718, Date         2011-09-07
Time         8:07:40 PM
Latitude      41.978965
Longitude    -87.831638
Name: 1718, dtype: object
1719, Date         2011-09-07
Time         8:07:50 PM
Latitude      41.979462
Longitude    -87.831642
Name: 1719, dtype: object
1720, Date         2011-09-07
Time         8:08:00 PM
Latitude      41.979947
Longitude    -87.831633
Name: 1720, dtype: object
1721, Date         2011-09-07
Time         8:08:10 PM
Latitude      41.980153
Longitude    -87.831372
Name: 1721, dtype: object
1722, Date         2011-09-07
Time         8:08:20 PM
Latitude       41.98017
Longitude    -87.830718
Name: 1722, dtype: object
1723, Date         2011-09-07
Time         8:08:30 PM
Latitude      41.980187
Longitude    -87.830037
Name: 1723, dtype: object
1724, Date         2011-09-07
Time         8:08:40 PM
Latitude        41.9802
Longitude     -87.82947
Name: 1724, dtype: object
1725, Date         2011-09-07
Time         8:08:50 PM
Latitude      41.979865
Longitude    -87.829358
Name: 1725, dtype: object
1726, Date         2011-09-07
Time         8:09:00 PM
Latitude      41.979362
Longitude    -87.829355
Name: 1726, dtype: object
1727, Date         2011-09-07
Time         8:09:10 PM
Latitude      41.978855
Longitude    -87.829337
Name: 1727, dtype: object
1728, Date         2011-09-07
Time         8:09:20 PM
Latitude      41.978362
Longitude    -87.829338
Name: 1728, dtype: object
1729, Date         2011-09-07
Time         8:09:30 PM
Latitude       41.97791
Longitude    -87.829328
Name: 1729, dtype: object
1730, Date         2011-09-07
Time         8:09:50 PM
Latitude      41.977363
Longitude     -87.82969
Name: 1730, dtype: object
1731, Date         2011-09-07
Time         8:10:00 PM
Latitude      41.977348
Longitude    -87.830347
Name: 1731, dtype: object
1732, Date         2011-09-07
Time         8:10:10 PM
Latitude      41.977333
Longitude    -87.831047
Name: 1732, dtype: object
1733, Date         2011-09-07
Time         8:10:20 PM
Latitude      41.977318
Longitude     -87.83168
Name: 1733, dtype: object
1734, Date         2011-09-07
Time         8:10:30 PM
Latitude      41.977298
Longitude     -87.83239
Name: 1734, dtype: object
1735, Date         2011-09-07
Time         8:10:40 PM
Latitude      41.977503
Longitude    -87.832747
Name: 1735, dtype: object
1736, Date         2011-09-07
Time         8:10:50 PM
Latitude      41.977935
Longitude    -87.832735
Name: 1736, dtype: object
1737, Date         2011-09-07
Time         8:11:00 PM
Latitude      41.978475
Longitude     -87.83274
Name: 1737, dtype: object
1738, Date         2011-09-07
Time         8:11:10 PM
Latitude      41.978967
Longitude     -87.83275
Name: 1738, dtype: object
1739, Date         2011-09-07
Time         8:11:20 PM
Latitude      41.979443
Longitude     -87.83273
Name: 1739, dtype: object
1740, Date         2011-09-07
Time         8:11:30 PM
Latitude       41.97991
Longitude    -87.832728
Name: 1740, dtype: object
1741, Date         2011-09-07
Time         8:11:40 PM
Latitude       41.98017
Longitude    -87.832903
Name: 1741, dtype: object
1742, Date         2011-09-07
Time         8:11:50 PM
Latitude      41.980428
Longitude    -87.833153
Name: 1742, dtype: object
1743, Date         2011-09-07
Time         8:12:00 PM
Latitude      41.980913
Longitude    -87.833145
Name: 1743, dtype: object
1744, Date         2011-09-07
Time         8:12:20 PM
Latitude      41.981148
Longitude    -87.833515
Name: 1744, dtype: object
1745, Date         2011-09-07
Time         8:12:30 PM
Latitude      41.981148
Longitude    -87.834068
Name: 1745, dtype: object
1746, Date         2011-09-07
Time         8:12:40 PM
Latitude      41.981152
Longitude    -87.834638
Name: 1746, dtype: object
1747, Date         2011-09-07
Time         8:12:50 PM
Latitude      41.981142
Longitude     -87.83541
Name: 1747, dtype: object
1748, Date         2011-09-07
Time         8:13:00 PM
Latitude      41.981123
Longitude    -87.836092
Name: 1748, dtype: object
1749, Date         2011-09-07
Time         8:13:10 PM
Latitude       41.98081
Longitude    -87.836327
Name: 1749, dtype: object
1750, Date         2011-09-07
Time         8:13:20 PM
Latitude      41.980373
Longitude    -87.836337
Name: 1750, dtype: object
1751, Date         2011-09-07
Time         8:13:30 PM
Latitude      41.979928
Longitude    -87.836272
Name: 1751, dtype: object
1752, Date         2011-09-07
Time         8:13:40 PM
Latitude      41.979577
Longitude    -87.836033
Name: 1752, dtype: object
1753, Date         2011-09-07
Time         8:13:50 PM
Latitude      41.979473
Longitude    -87.835732
Name: 1753, dtype: object
1754, Date         2011-09-07
Time         8:15:30 PM
Latitude      41.981142
Longitude    -87.834658
Name: 1754, dtype: object
1755, Date         2011-09-07
Time         8:15:40 PM
Latitude      41.981375
Longitude    -87.834367
Name: 1755, dtype: object
1756, Date         2011-09-07
Time         8:15:50 PM
Latitude      41.981852
Longitude     -87.83437
Name: 1756, dtype: object
1757, Date         2011-09-07
Time         8:16:00 PM
Latitude      41.982307
Longitude    -87.834363
Name: 1757, dtype: object
1758, Date         2011-09-07
Time         8:16:10 PM
Latitude      41.982747
Longitude    -87.834343
Name: 1758, dtype: object
1759, Date         2011-09-07
Time         8:16:20 PM
Latitude       41.98312
Longitude     -87.83404
Name: 1759, dtype: object
1760, Date         2011-09-07
Time         8:16:30 PM
Latitude        41.9832
Longitude    -87.833495
Name: 1760, dtype: object
1761, Date         2011-09-07
Time         8:16:40 PM
Latitude      41.983142
Longitude    -87.833142
Name: 1761, dtype: object
1762, Date         2011-09-07
Time         8:16:50 PM
Latitude      41.982713
Longitude    -87.833155
Name: 1762, dtype: object
1763, Date         2011-09-07
Time         8:17:00 PM
Latitude      41.982262
Longitude    -87.833155
Name: 1763, dtype: object
1764, Date         2011-09-07
Time         8:17:10 PM
Latitude      41.981745
Longitude    -87.833158
Name: 1764, dtype: object
1765, Date         2011-09-07
Time         8:17:20 PM
Latitude      41.981345
Longitude    -87.833162
Name: 1765, dtype: object
1766, Date         2011-09-07
Time         8:17:30 PM
Latitude      41.981192
Longitude    -87.832868
Name: 1766, dtype: object
1767, Date         2011-09-07
Time         8:17:40 PM
Latitude      41.981187
Longitude    -87.832377
Name: 1767, dtype: object
1768, Date         2011-09-07
Time         8:17:50 PM
Latitude      41.981198
Longitude    -87.831793
Name: 1768, dtype: object
1769, Date         2011-09-07
Time         8:18:00 PM
Latitude       41.98121
Longitude     -87.83121
Name: 1769, dtype: object
1770, Date         2011-09-07
Time         8:18:10 PM
Latitude       41.98122
Longitude    -87.830568
Name: 1770, dtype: object
1771, Date         2011-09-07
Time         8:18:20 PM
Latitude       41.98123
Longitude    -87.829907
Name: 1771, dtype: object
1772, Date         2011-09-07
Time         8:18:30 PM
Latitude      41.981238
Longitude    -87.829443
Name: 1772, dtype: object
1773, Date         2011-09-07
Time         8:18:40 PM
Latitude      41.981248
Longitude    -87.828878
Name: 1773, dtype: object
1774, Date         2011-09-07
Time         8:18:50 PM
Latitude      41.981255
Longitude    -87.828362
Name: 1774, dtype: object
1775, Date         2011-09-07
Time         8:19:00 PM
Latitude       41.98159
Longitude    -87.828198
Name: 1775, dtype: object
1776, Date         2011-09-07
Time         8:19:10 PM
Latitude       41.98207
Longitude    -87.828197
Name: 1776, dtype: object
1777, Date         2011-09-07
Time         8:19:20 PM
Latitude      41.982567
Longitude    -87.828212
Name: 1777, dtype: object
1778, Date         2011-09-07
Time         8:19:30 PM
Latitude      41.983088
Longitude    -87.828218
Name: 1778, dtype: object
1779, Date         2011-09-07
Time         8:19:40 PM
Latitude       41.98357
Longitude    -87.828222
Name: 1779, dtype: object
1780, Date         2011-09-07
Time         8:19:50 PM
Latitude      41.984008
Longitude     -87.82813
Name: 1780, dtype: object
1781, Date         2011-09-07
Time         8:20:00 PM
Latitude      41.984008
Longitude    -87.827463
Name: 1781, dtype: object
1782, Date         2011-09-07
Time         8:20:10 PM
Latitude      41.983967
Longitude     -87.82674
Name: 1782, dtype: object
1783, Date         2011-09-07
Time         8:20:20 PM
Latitude      41.983923
Longitude    -87.826185
Name: 1783, dtype: object
1784, Date         2011-09-07
Time         8:20:30 PM
Latitude      41.983855
Longitude    -87.825472
Name: 1784, dtype: object
1785, Date         2011-09-07
Time         8:20:40 PM
Latitude      41.983778
Longitude     -87.82481
Name: 1785, dtype: object
1786, Date         2011-09-07
Time         8:20:50 PM
Latitude      41.983703
Longitude    -87.824127
Name: 1786, dtype: object
1787, Date         2011-09-07
Time         8:21:00 PM
Latitude       41.98366
Longitude    -87.823707
Name: 1787, dtype: object
1788, Date         2011-09-07
Time         8:21:20 PM
Latitude      41.983215
Longitude    -87.823592
Name: 1788, dtype: object
1789, Date         2011-09-07
Time         8:21:30 PM
Latitude      41.983078
Longitude    -87.823972
Name: 1789, dtype: object
1790, Date         2011-09-07
Time         8:21:40 PM
Latitude       41.98308
Longitude    -87.824585
Name: 1790, dtype: object
1791, Date         2011-09-07
Time         8:21:50 PM
Latitude       41.98308
Longitude    -87.825262
Name: 1791, dtype: object
1792, Date         2011-09-07
Time         8:22:00 PM
Latitude      41.983065
Longitude    -87.825885
Name: 1792, dtype: object
1793, Date         2011-09-07
Time         8:22:10 PM
Latitude       41.98272
Longitude    -87.826027
Name: 1793, dtype: object
1794, Date         2011-09-07
Time         8:22:20 PM
Latitude      41.982273
Longitude    -87.826017
Name: 1794, dtype: object
1795, Date         2011-09-07
Time         8:23:00 PM
Latitude       41.98296
Longitude    -87.826035
Name: 1795, dtype: object
1796, Date         2011-09-07
Time         8:23:10 PM
Latitude      41.983358
Longitude    -87.826212
Name: 1796, dtype: object
1797, Date         2011-09-07
Time         8:23:20 PM
Latitude       41.98383
Longitude    -87.826197
Name: 1797, dtype: object
1798, Date         2011-09-07
Time         8:23:40 PM
Latitude      41.983758
Longitude     -87.82507
Name: 1798, dtype: object
1799, Date         2011-09-07
Time         8:23:50 PM
Latitude      41.983312
Longitude    -87.825068
Name: 1799, dtype: object
1800, Date         2011-09-07
Time         8:24:00 PM
Latitude      41.983073
Longitude      -87.8249
Name: 1800, dtype: object
1801, Date         2011-09-07
Time         8:24:10 PM
Latitude      41.983087
Longitude    -87.824232
Name: 1801, dtype: object
1802, Date         2011-09-07
Time         8:24:30 PM
Latitude      41.983178
Longitude    -87.823222
Name: 1802, dtype: object
1803, Date         2011-09-07
Time         8:24:40 PM
Latitude      41.983208
Longitude    -87.822567
Name: 1803, dtype: object
1804, Date         2011-09-07
Time         8:24:50 PM
Latitude      41.983223
Longitude    -87.821978
Name: 1804, dtype: object
1805, Date         2011-09-07
Time         8:25:00 PM
Latitude       41.98324
Longitude    -87.821215
Name: 1805, dtype: object
1806, Date         2011-09-07
Time         8:25:20 PM
Latitude      41.983187
Longitude     -87.81969
Name: 1806, dtype: object
1807, Date         2011-09-07
Time         8:25:30 PM
Latitude      41.983098
Longitude    -87.818945
Name: 1807, dtype: object
1808, Date         2011-09-07
Time         8:25:40 PM
Latitude      41.982963
Longitude    -87.818257
Name: 1808, dtype: object
1809, Date         2011-09-07
Time         8:25:50 PM
Latitude      41.982783
Longitude     -87.81756
Name: 1809, dtype: object
1810, Date         2011-09-07
Time         8:26:00 PM
Latitude      41.982662
Longitude    -87.817093
Name: 1810, dtype: object
1811, Date         2011-09-07
Time         8:26:10 PM
Latitude      41.982537
Longitude     -87.81657
Name: 1811, dtype: object
1812, Date         2011-09-07
Time         8:26:20 PM
Latitude      41.982392
Longitude    -87.815925
Name: 1812, dtype: object
1813, Date         2011-09-07
Time         8:26:30 PM
Latitude      41.982283
Longitude    -87.815295
Name: 1813, dtype: object
1814, Date         2011-09-07
Time         8:26:40 PM
Latitude      41.982152
Longitude    -87.814513
Name: 1814, dtype: object
1815, Date         2011-09-07
Time         8:26:50 PM
Latitude      41.981948
Longitude    -87.814212
Name: 1815, dtype: object
1816, Date         2011-09-07
Time         8:27:00 PM
Latitude      41.981765
Longitude    -87.814787
Name: 1816, dtype: object
1817, Date         2011-09-07
Time         8:27:10 PM
Latitude      41.981638
Longitude     -87.81543
Name: 1817, dtype: object
1818, Date         2011-09-07
Time         8:27:20 PM
Latitude      41.981585
Longitude     -87.81608
Name: 1818, dtype: object
1819, Date         2011-09-07
Time         8:27:30 PM
Latitude      41.981565
Longitude    -87.816607
Name: 1819, dtype: object
1820, Date         2011-09-07
Time         8:27:40 PM
Latitude      41.981603
Longitude    -87.816847
Name: 1820, dtype: object
1821, Date         2011-09-07
Time         8:27:50 PM
Latitude      41.982048
Longitude    -87.816862
Name: 1821, dtype: object
1822, Date         2011-09-07
Time         8:28:00 PM
Latitude      41.982497
Longitude     -87.81686
Name: 1822, dtype: object
1823, Date         2011-09-07
Time         8:28:10 PM
Latitude      41.982697
Longitude    -87.817217
Name: 1823, dtype: object
1824, Date         2011-09-07
Time         8:28:20 PM
Latitude      41.982863
Longitude    -87.817793
Name: 1824, dtype: object
1825, Date         2011-09-07
Time         8:28:30 PM
Latitude      41.982633
Longitude    -87.818082
Name: 1825, dtype: object
1826, Date         2011-09-07
Time         8:28:40 PM
Latitude       41.98213
Longitude    -87.818073
Name: 1826, dtype: object
1827, Date         2011-09-07
Time         8:28:50 PM
Latitude      41.981675
Longitude    -87.818078
Name: 1827, dtype: object
1828, Date         2011-09-07
Time         8:29:00 PM
Latitude      41.981535
Longitude    -87.818497
Name: 1828, dtype: object
1829, Date         2011-09-07
Time         8:29:10 PM
Latitude      41.981513
Longitude    -87.819097
Name: 1829, dtype: object
1830, Date         2011-09-07
Time         8:29:20 PM
Latitude      41.981778
Longitude    -87.819305
Name: 1830, dtype: object
1831, Date         2011-09-07
Time         8:29:30 PM
Latitude      41.982273
Longitude    -87.819307
Name: 1831, dtype: object
1832, Date         2011-09-07
Time         8:29:40 PM
Latitude      41.982745
Longitude    -87.819308
Name: 1832, dtype: object
1833, Date         2011-09-07
Time         8:29:50 PM
Latitude      41.983077
Longitude    -87.819323
Name: 1833, dtype: object
1834, Date         2011-09-07
Time         8:30:00 PM
Latitude      41.983158
Longitude    -87.819877
Name: 1834, dtype: object
1835, Date         2011-09-07
Time         8:30:10 PM
Latitude      41.983183
Longitude    -87.820458
Name: 1835, dtype: object
1836, Date         2011-09-07
Time         8:30:20 PM
Latitude      41.982788
Longitude    -87.820543
Name: 1836, dtype: object
1837, Date         2011-09-07
Time         8:30:30 PM
Latitude      41.982305
Longitude    -87.820542
Name: 1837, dtype: object
1838, Date         2011-09-07
Time         8:30:40 PM
Latitude      41.981838
Longitude    -87.820547
Name: 1838, dtype: object
1839, Date         2011-09-07
Time         8:30:50 PM
Latitude      41.981525
Longitude     -87.82058
Name: 1839, dtype: object
1840, Date         2011-09-07
Time         8:31:00 PM
Latitude      41.981482
Longitude    -87.821125
Name: 1840, dtype: object
1841, Date         2011-09-07
Time         8:31:10 PM
Latitude      41.981463
Longitude     -87.82167
Name: 1841, dtype: object
1842, Date         2011-09-07
Time         8:31:20 PM
Latitude      41.981885
Longitude    -87.821753
Name: 1842, dtype: object
1843, Date         2011-09-07
Time         8:31:30 PM
Latitude      41.982317
Longitude    -87.821787
Name: 1843, dtype: object
1844, Date         2011-09-07
Time         8:31:40 PM
Latitude      41.982795
Longitude    -87.821778
Name: 1844, dtype: object
1845, Date         2011-09-07
Time         8:31:50 PM
Latitude      41.983132
Longitude     -87.82176
Name: 1845, dtype: object
1846, Date         2011-09-07
Time         8:32:00 PM
Latitude      41.983182
Longitude    -87.821153
Name: 1846, dtype: object
1847, Date         2011-09-07
Time         8:32:10 PM
Latitude      41.982927
Longitude    -87.821073
Name: 1847, dtype: object
1848, Date         2011-09-07
Time         8:32:20 PM
Latitude       41.98258
Longitude    -87.821102
Name: 1848, dtype: object
1849, Date         2011-09-07
Time         8:32:30 PM
Latitude      41.982315
Longitude    -87.821252
Name: 1849, dtype: object
1850, Date         2011-09-07
Time         8:32:40 PM
Latitude      41.982322
Longitude      -87.8218
Name: 1850, dtype: object
1851, Date         2011-09-07
Time         8:32:50 PM
Latitude      41.982293
Longitude    -87.822528
Name: 1851, dtype: object
1852, Date         2011-09-07
Time         8:33:20 PM
Latitude      41.982092
Longitude    -87.823618
Name: 1852, dtype: object
1853, Date         2011-09-07
Time         8:33:30 PM
Latitude      41.981597
Longitude    -87.823678
Name: 1853, dtype: object
1854, Date         2011-09-07
Time         8:33:40 PM
Latitude      41.981373
Longitude     -87.82339
Name: 1854, dtype: object
1855, Date         2011-09-07
Time         8:33:50 PM
Latitude       41.98139
Longitude    -87.822757
Name: 1855, dtype: object
1856, Date         2011-09-07
Time         8:34:00 PM
Latitude      41.981408
Longitude    -87.822122
Name: 1856, dtype: object
1857, Date         2011-09-07
Time         8:34:10 PM
Latitude      41.981417
Longitude     -87.82153
Name: 1857, dtype: object
1858, Date         2011-09-07
Time         8:34:20 PM
Latitude      41.981445
Longitude    -87.820875
Name: 1858, dtype: object
1859, Date         2011-09-07
Time         8:34:30 PM
Latitude      41.981457
Longitude    -87.820202
Name: 1859, dtype: object
1860, Date         2011-09-07
Time         8:34:40 PM
Latitude      41.981462
Longitude    -87.819563
Name: 1860, dtype: object
1861, Date         2011-09-07
Time         8:34:50 PM
Latitude       41.98149
Longitude    -87.818918
Name: 1861, dtype: object
1862, Date         2011-09-07
Time         8:35:00 PM
Latitude      41.981507
Longitude    -87.818192
Name: 1862, dtype: object
1863, Date         2011-09-07
Time         8:35:10 PM
Latitude       41.98152
Longitude    -87.817443
Name: 1863, dtype: object
1864, Date         2011-09-07
Time         8:35:20 PM
Latitude      41.981518
Longitude     -87.81702
Name: 1864, dtype: object
1865, Date         2011-09-07
Time         8:35:30 PM
Latitude      41.981067
Longitude    -87.816955
Name: 1865, dtype: object
1866, Date         2011-09-07
Time         8:35:40 PM
Latitude      41.980655
Longitude    -87.817097
Name: 1866, dtype: object
1867, Date         2011-09-07

1874, Date         2011-09-07
Time         8:37:10 PM
Latitude      41.980515
Longitude    -87.822257
Name: 1874, dtype: object
1875, Date         2011-09-07
Time         8:37:20 PM
Latitude      41.980483
Longitude     -87.82308
Name: 1875, dtype: object
1876, Date         2011-09-07
Time         8:37:30 PM
Latitude      41.980483
Longitude    -87.823608
Name: 1876, dtype: object
1877, Date         2011-09-07
Time         8:37:40 PM
Latitude      41.980165
Longitude    -87.823842
Name: 1877, dtype: object
1878, Date         2011-09-07
Time         8:37:50 PM
Latitude      41.979635
Longitude    -87.823868
Name: 1878, dtype: object
1879, Date         2011-09-07
Time         8:38:00 PM
Latitude      41.979587
Longitude     -87.82334
Name: 1879, dtype: object
1880, Date         2011-09-07
Time         8:38:10 PM
Latitude      41.979597
Longitude     -87.82272
Name: 1880, dtype: object
1881, Date         2011-09-07
Time         8:38:20 PM
Latitude      41.979618
Longitude    -87.822057
Name: 1881, dtype: object
1882, Date         2011-09-07
Time         8:38:30 PM
Latitude      41.979627
Longitude    -87.821533
Name: 1882, dtype: object
1883, Date         2011-09-07
Time         8:38:40 PM
Latitude      41.979648
Longitude    -87.820827
Name: 1883, dtype: object
1884, Date         2011-09-07
Time         8:38:50 PM
Latitude      41.979688
Longitude      -87.8202
Name: 1884, dtype: object
1885, Date         2011-09-07
Time         8:39:00 PM
Latitude      41.979695
Longitude    -87.819622
Name: 1885, dtype: object
1886, Date         2011-09-07
Time         8:39:10 PM
Latitude      41.979708
Longitude    -87.819005
Name: 1886, dtype: object
1887, Date         2011-09-07
Time         8:39:20 PM
Latitude      41.979737
Longitude     -87.81827
Name: 1887, dtype: object
1888, Date         2011-09-07
Time         8:39:30 PM
Latitude      41.979732
Longitude     -87.81762
Name: 1888, dtype: object
1889, Date         2011-09-07
Time         8:39:50 PM
Latitude       41.97937
Longitude    -87.817057
Name: 1889, dtype: object
1890, Date         2011-09-07
Time         8:40:00 PM
Latitude      41.978917
Longitude    -87.817102
Name: 1890, dtype: object
1891, Date         2011-09-07
Time         8:40:10 PM
Latitude      41.978872
Longitude    -87.817633
Name: 1891, dtype: object
1892, Date         2011-09-07
Time         8:40:20 PM
Latitude      41.978858
Longitude    -87.818335
Name: 1892, dtype: object
1893, Date         2011-09-07
Time         8:40:40 PM
Latitude       41.97882
Longitude    -87.819562
Name: 1893, dtype: object
1894, Date         2011-09-07
Time         8:40:50 PM
Latitude      41.978787
Longitude    -87.820147
Name: 1894, dtype: object
1895, Date         2011-09-07
Time         8:41:00 PM
Latitude      41.978773
Longitude    -87.820723
Name: 1895, dtype: object
1896, Date         2011-09-07
Time         8:41:10 PM
Latitude      41.978748
Longitude     -87.82136
Name: 1896, dtype: object
1897, Date         2011-09-07
Time         8:41:20 PM
Latitude      41.978722
Longitude    -87.821868
Name: 1897, dtype: object
1898, Date         2011-09-07
Time         8:41:30 PM
Latitude      41.978697
Longitude    -87.822648
Name: 1898, dtype: object
1899, Date         2011-09-07
Time         8:41:40 PM
Latitude      41.978685
Longitude    -87.823403
Name: 1899, dtype: object
1900, Date         2011-09-07
Time         8:42:00 PM
Latitude      41.978412
Longitude    -87.824058
Name: 1900, dtype: object
1901, Date         2011-09-07
Time         8:42:10 PM
Latitude      41.977898
Longitude    -87.824115
Name: 1901, dtype: object
1902, Date         2011-09-07
Time         8:42:20 PM
Latitude      41.977777
Longitude    -87.823673
Name: 1902, dtype: object
1903, Date         2011-09-07
Time         8:42:30 PM
Latitude      41.977797
Longitude     -87.82303
Name: 1903, dtype: object
1904, Date         2011-09-07
Time         8:42:40 PM
Latitude      41.977802
Longitude    -87.822425
Name: 1904, dtype: object
1905, Date         2011-09-07
Time         8:42:50 PM
Latitude      41.977832
Longitude    -87.821878
Name: 1905, dtype: object
1906, Date         2011-09-07
Time         8:43:00 PM
Latitude      41.977835
Longitude    -87.821178
Name: 1906, dtype: object
1907, Date         2011-09-07
Time         8:43:10 PM
Latitude      41.977857
Longitude    -87.820485
Name: 1907, dtype: object
1908, Date         2011-09-07
Time         8:43:20 PM
Latitude      41.977883
Longitude    -87.819815
Name: 1908, dtype: object
1909, Date         2011-09-07
Time         8:43:30 PM
Latitude      41.977903
Longitude    -87.819212
Name: 1909, dtype: object
1910, Date         2011-09-07
Time         8:43:40 PM
Latitude      41.977923
Longitude    -87.818513
Name: 1910, dtype: object
1911, Date         2011-09-07
Time         8:43:50 PM
Latitude      41.977943
Longitude     -87.81781
Name: 1911, dtype: object
1912, Date         2011-09-07
Time         8:44:00 PM
Latitude      41.977947
Longitude    -87.817197
Name: 1912, dtype: object
1913, Date         2011-09-07
Time         8:44:10 PM
Latitude      41.977507
Longitude    -87.817077
Name: 1913, dtype: object
1914, Date         2011-09-07
Time         8:44:20 PM
Latitude      41.977082
Longitude    -87.817147
Name: 1914, dtype: object
1915, Date         2011-09-07
Time         8:44:30 PM
Latitude      41.977047
Longitude    -87.817742
Name: 1915, dtype: object
1916, Date         2011-09-07
Time         8:44:40 PM
Latitude      41.977033
Longitude    -87.818333
Name: 1916, dtype: object
1917, Date         2011-09-07
Time         8:44:50 PM
Latitude      41.977012
Longitude    -87.819027
Name: 1917, dtype: object
1918, Date         2011-09-07
Time         8:45:00 PM
Latitude      41.976982
Longitude    -87.819747
Name: 1918, dtype: object
1919, Date         2011-09-07
Time         8:45:10 PM
Latitude      41.976958
Longitude     -87.82042
Name: 1919, dtype: object
1920, Date         2011-09-07
Time         8:45:20 PM
Latitude      41.976942
Longitude    -87.821093
Name: 1920, dtype: object
1921, Date         2011-09-07
Time         8:45:30 PM
Latitude      41.976922
Longitude    -87.821628
Name: 1921, dtype: object
1922, Date         2011-09-07
Time         8:45:40 PM
Latitude      41.976897
Longitude    -87.822313
Name: 1922, dtype: object
1923, Date         2011-09-07
Time         8:45:50 PM
Latitude      41.976877
Longitude    -87.823037
Name: 1923, dtype: object
1924, Date         2011-09-07
Time         8:46:00 PM
Latitude      41.976857
Longitude    -87.823757
Name: 1924, dtype: object
1925, Date         2011-09-07
Time         8:46:20 PM
Latitude      41.976527
Longitude    -87.824247
Name: 1925, dtype: object
1926, Date         2011-09-07
Time         8:46:30 PM
Latitude      41.975998
Longitude    -87.824275
Name: 1926, dtype: object
1927, Date         2011-09-07
Time         8:46:40 PM
Latitude      41.975952
Longitude    -87.823703
Name: 1927, dtype: object
1928, Date         2011-09-07
Time         8:46:50 PM
Latitude      41.975962
Longitude    -87.823045
Name: 1928, dtype: object
1929, Date         2011-09-07
Time         8:47:00 PM
Latitude       41.97598
Longitude    -87.822412
Name: 1929, dtype: object
1930, Date         2011-09-07
Time         8:47:10 PM
Latitude      41.975988
Longitude    -87.821775
Name: 1930, dtype: object
1931, Date         2011-09-07
Time         8:47:20 PM
Latitude       41.97601
Longitude    -87.821137
Name: 1931, dtype: object
1932, Date         2011-09-07
Time         8:47:30 PM
Latitude      41.976032
Longitude     -87.82053
Name: 1932, dtype: object
1933, Date         2011-09-07
Time         8:47:40 PM
Latitude      41.976027
Longitude    -87.819943
Name: 1933, dtype: object
1934, Date         2011-09-07
Time         8:47:50 PM
Latitude       41.97605
Longitude    -87.819467
Name: 1934, dtype: object
1935, Date         2011-09-07
Time         8:48:00 PM
Latitude      41.976085
Longitude    -87.818765
Name: 1935, dtype: object
1936, Date         2011-09-07
Time         8:48:10 PM
Latitude      41.976093
Longitude    -87.818123
Name: 1936, dtype: object
1937, Date         2011-09-07
Time         8:48:20 PM
Latitude      41.976105
Longitude    -87.817447
Name: 1937, dtype: object
1938, Date         2011-09-07
Time         8:48:40 PM
Latitude       41.97564
Longitude    -87.817067
Name: 1938, dtype: object
1939, Date         2011-09-07
Time         8:48:50 PM
Latitude      41.975222
Longitude    -87.817205
Name: 1939, dtype: object
1940, Date         2011-09-07
Time         8:49:00 PM
Latitude      41.975213
Longitude    -87.817748
Name: 1940, dtype: object
1941, Date         2011-09-07
Time         8:49:10 PM
Latitude      41.975185
Longitude    -87.818378
Name: 1941, dtype: object
1942, Date         2011-09-07
Time         8:49:20 PM
Latitude      41.975172
Longitude    -87.819023
Name: 1942, dtype: object
1943, Date         2011-09-07
Time         8:49:30 PM
Latitude      41.975148
Longitude    -87.819472
Name: 1943, dtype: object
1944, Date         2011-09-07
Time         8:49:40 PM
Latitude      41.975127
Longitude    -87.820107
Name: 1944, dtype: object
1945, Date         2011-09-07
Time         8:49:50 PM
Latitude      41.975105
Longitude    -87.820802
Name: 1945, dtype: object
1946, Date         2011-09-07
Time         8:50:00 PM
Latitude      41.975088
Longitude    -87.821485
Name: 1946, dtype: object
1947, Date         2011-09-07
Time         8:50:10 PM
Latitude       41.97507
Longitude      -87.8221
Name: 1947, dtype: object
1948, Date         2011-09-07
Time         8:50:20 PM
Latitude      41.975038
Longitude    -87.822832
Name: 1948, dtype: object
1949, Date         2011-09-07
Time         8:50:30 PM
Latitude      41.975018
Longitude    -87.823552
Name: 1949, dtype: object
1950, Date         2011-09-07
Time         8:50:40 PM
Latitude         41.975
Longitude    -87.824197
Name: 1950, dtype: object
1951, Date         2011-09-07
Time         8:51:10 PM
Latitude      41.974075
Longitude    -87.824082
Name: 1951, dtype: object
1952, Date         2011-09-07
Time         8:51:20 PM
Latitude      41.974102
Longitude     -87.82319
Name: 1952, dtype: object
1953, Date         2011-09-07
Time         8:51:30 PM
Latitude      41.974127
Longitude     -87.82238
Name: 1953, dtype: object
1954, Date         2011-09-07
Time         8:51:40 PM
Latitude      41.974148
Longitude    -87.821633
Name: 1954, dtype: object
1955, Date         2011-09-07
Time         8:51:50 PM
Latitude      41.974165
Longitude    -87.820848
Name: 1955, dtype: object
1956, Date         2011-09-07
Time         8:52:00 PM
Latitude      41.974178
Longitude    -87.820075
Name: 1956, dtype: object
1957, Date         2011-09-07
Time         8:52:10 PM
Latitude       41.97419
Longitude    -87.819552
Name: 1957, dtype: object

1958, Date         2011-09-07
Time         8:52:20 PM
Latitude      41.973808
Longitude    -87.819427
Name: 1958, dtype: object
1959, Date         2011-09-07
Time         8:52:30 PM
Latitude      41.973477
Longitude    -87.819303
Name: 1959, dtype: object
1960, Date         2011-09-07
Time         8:52:40 PM
Latitude      41.973485
Longitude    -87.818702
Name: 1960, dtype: object
1961, Date         2011-09-07
Time         8:52:50 PM
Latitude      41.973168
Longitude    -87.818493
Name: 1961, dtype: object
1962, Date         2011-09-07
Time         8:53:00 PM
Latitude      41.972623
Longitude    -87.818505
Name: 1962, dtype: object
1963, Date         2011-09-07
Time         8:53:10 PM
Latitude        41.9721
Longitude    -87.818508
Name: 1963, dtype: object
1964, Date         2011-09-07
Time         8:53:20 PM
Latitude      41.971535
Longitude      -87.8185
Name: 1964, dtype: object
1965, Date         2011-09-07
Time         8:53:30 PM
Latitude      41.971057
Longitude     -87.81844
Name: 1965, dtype: object
1966, Date         2011-09-07
Time         8:53:40 PM
Latitude      41.971012
Longitude    -87.817792
Name: 1966, dtype: object
1967, Date         2011-09-07
Time         8:53:50 PM
Latitude       41.97137
Longitude    -87.817608
Name: 1967, dtype: object
1968, Date         2011-09-07
Time         8:53:56 PM
Latitude       41.97188
Longitude    -87.817598
Name: 1968, dtype: object
1969, Date         2011-09-07
Time         8:54:06 PM
Latitude      41.972393
Longitude    -87.817593
Name: 1969, dtype: object
1970, Date         2011-09-07
Time         8:54:16 PM
Latitude      41.972923
Longitude    -87.817575
Name: 1970, dtype: object
1971, Date         2011-09-07
Time         8:54:26 PM
Latitude      41.973398
Longitude    -87.817583
Name: 1971, dtype: object
1972, Date         2011-09-07
Time         8:54:37 PM
Latitude       41.97354
Longitude     -87.81718
Name: 1972, dtype: object
1973, Date         2011-09-07
Time         8:54:46 PM
Latitude      41.973757
Longitude    -87.816963
Name: 1973, dtype: object
1974, Date         2011-09-07
Time         8:55:17 PM
Latitude      41.974815
Longitude    -87.816975
Name: 1974, dtype: object
1975, Date         2011-09-07
Time         8:55:26 PM
Latitude      41.975327
Longitude    -87.816963
Name: 1975, dtype: object
1976, Date         2011-09-07
Time         8:55:36 PM
Latitude       41.97584
Longitude    -87.816967
Name: 1976, dtype: object
1977, Date         2011-09-07
Time         8:55:46 PM
Latitude        41.9761
Longitude    -87.816673
Name: 1977, dtype: object
1978, Date         2011-09-07
Time         8:55:57 PM
Latitude      41.976113
Longitude    -87.815987
Name: 1978, dtype: object
1979, Date         2011-09-07
Time         8:56:47 PM
Latitude      41.976558
Longitude     -87.81579
Name: 1979, dtype: object
1980, Date         2011-09-07
Time         8:56:56 PM
Latitude       41.97689
Longitude    -87.815783
Name: 1980, dtype: object
1981, Date         2011-09-07
Time         8:57:46 PM
Latitude      41.975932
Longitude    -87.815778
Name: 1981, dtype: object
1982, Date         2011-09-07
Time         8:57:56 PM
Latitude      41.975508
Longitude    -87.815767
Name: 1982, dtype: object
1983, Date         2011-09-07
Time         8:58:07 PM
Latitude       41.97491
Longitude    -87.815757
Name: 1983, dtype: object
1984, Date         2011-09-07
Time         8:58:17 PM
Latitude       41.97449
Longitude    -87.815765
Name: 1984, dtype: object
1985, Date         2011-09-07
Time         8:58:26 PM
Latitude       41.97438
Longitude    -87.815307
Name: 1985, dtype: object
1986, Date         2011-09-07
Time         8:58:37 PM
Latitude       41.97447
Longitude     -87.81456
Name: 1986, dtype: object
1987, Date         2011-09-07
Time         8:58:46 PM
Latitude      41.974907
Longitude    -87.814512
Name: 1987, dtype: object
1988, Date         2011-09-07
Time         8:58:56 PM
Latitude      41.975408
Longitude    -87.814512
Name: 1988, dtype: object
1989, Date         2011-09-07
Time         8:59:06 PM
Latitude      41.975935
Longitude    -87.814502
Name: 1989, dtype: object
1990, Date         2011-09-07
Time         8:59:16 PM
Latitude      41.976417
Longitude    -87.814495
Name: 1990, dtype: object
1991, Date         2011-09-07
Time         8:59:26 PM
Latitude      41.976673
Longitude     -87.81449
Name: 1991, dtype: object
1992, Date         2011-09-07
Time         8:59:36 PM
Latitude       41.97709
Longitude    -87.814498
Name: 1992, dtype: object
1993, Date         2011-09-07
Time         8:59:46 PM
Latitude      41.977398
Longitude    -87.814502
Name: 1993, dtype: object
1994, Date         2011-09-07
Time         8:59:56 PM
Latitude      41.977768
Longitude    -87.814475
Name: 1994, dtype: object
1995, Date         2011-09-07
Time         9:00:07 PM
Latitude      41.977902
Longitude    -87.814047
Name: 1995, dtype: object
1996, Date         2011-09-07
Time         9:00:17 PM
Latitude      41.977913
Longitude    -87.813602
Name: 1996, dtype: object
1997, Date         2011-09-07
Time         9:00:27 PM
Latitude      41.977727
Longitude    -87.813282
Name: 1997, dtype: object
1998, Date         2011-09-07
Time         9:00:36 PM
Latitude       41.97721
Longitude     -87.81328
Name: 1998, dtype: object
1999, Date         2011-09-07
Time         9:00:46 PM
Latitude      41.976713
Longitude    -87.813275
Name: 1999, dtype: object
2000, Date         2011-09-07
Time         9:00:57 PM
Latitude      41.976187
Longitude    -87.813283
Name: 2000, dtype: object
2001, Date         2011-09-07
Time         9:01:07 PM
Latitude      41.975632
Longitude     -87.81328
Name: 2001, dtype: object
2002, Date         2011-09-07
Time         9:01:17 PM
Latitude      41.975085
Longitude    -87.813277
Name: 2002, dtype: object
2003, Date         2011-09-07
Time         9:01:26 PM
Latitude      41.974595
Longitude    -87.813277
Name: 2003, dtype: object
2004, Date         2011-09-07
Time         9:01:36 PM
Latitude      41.974408
Longitude    -87.812973
Name: 2004, dtype: object
2005, Date         2011-09-07
Time         9:01:46 PM
Latitude      41.974427
Longitude    -87.812313
Name: 2005, dtype: object
2006, Date         2011-09-07
Time         9:01:57 PM
Latitude      41.974805
Longitude    -87.812072
Name: 2006, dtype: object
2007, Date         2011-09-07
Time         9:02:06 PM
Latitude      41.975215
Longitude    -87.812058
Name: 2007, dtype: object
2008, Date         2011-09-07
Time         9:02:17 PM
Latitude      41.975745
Longitude    -87.812063
Name: 2008, dtype: object
2009, Date         2011-09-07
Time         9:02:27 PM
Latitude      41.976188
Longitude    -87.812035
Name: 2009, dtype: object
2010, Date         2011-09-07
Time         9:02:37 PM
Latitude      41.976758
Longitude    -87.812055
Name: 2010, dtype: object
2011, Date         2011-09-07
Time         9:02:46 PM
Latitude       41.97719
Longitude    -87.812045
Name: 2011, dtype: object
2012, Date         2011-09-07
Time         9:02:56 PM
Latitude       41.97764
Longitude     -87.81203
Name: 2012, dtype: object
2013, Date         2011-09-07
Time         9:03:06 PM
Latitude      41.978075
Longitude    -87.812017
Name: 2013, dtype: object
2014, Date         2011-09-07
Time         9:03:16 PM
Latitude      41.978308
Longitude    -87.811707
Name: 2014, dtype: object
2015, Date         2011-09-07
Time         9:03:26 PM
Latitude      41.978298
Longitude    -87.811072
Name: 2015, dtype: object
2016, Date         2011-09-07
Time         9:03:37 PM
Latitude        41.9783
Longitude    -87.810428
Name: 2016, dtype: object
2017, Date         2011-09-07
Time         9:03:46 PM
Latitude      41.978207
Longitude    -87.809915
Name: 2017, dtype: object
2018, Date         2011-09-07
Time         9:03:56 PM
Latitude      41.978155
Longitude    -87.809508
Name: 2018, dtype: object
2019, Date         2011-09-07
Time         9:04:07 PM
Latitude      41.978462
Longitude    -87.808902
Name: 2019, dtype: object
2020, Date         2011-09-07
Time         9:04:16 PM
Latitude      41.978585
Longitude    -87.808355
Name: 2020, dtype: object
2021, Date         2011-09-07
Time         9:04:27 PM
Latitude       41.97863
Longitude    -87.807567
Name: 2021, dtype: object
2022, Date         2011-09-07
Time         9:05:06 PM
Latitude       41.97842
Longitude    -87.807227
Name: 2022, dtype: object
2023, Date         2011-09-07
Time         9:05:17 PM
Latitude      41.977927
Longitude    -87.807292
Name: 2023, dtype: object
2024, Date         2011-09-07
Time         9:05:27 PM
Latitude      41.977917
Longitude    -87.807868
Name: 2024, dtype: object
2025, Date         2011-09-07
Time         9:05:37 PM
Latitude       41.97782
Longitude    -87.808368
Name: 2025, dtype: object
2026, Date         2011-09-07
Time         9:05:47 PM
Latitude      41.977438
Longitude     -87.80839
Name: 2026, dtype: object
2027, Date         2011-09-07
Time         9:05:56 PM
Latitude      41.977213
Longitude    -87.808097
Name: 2027, dtype: object
2028, Date         2011-09-07
Time         9:06:30 PM
Latitude      41.976852
Longitude    -87.807182
Name: 2028, dtype: object
2029, Date         2011-09-07
Time         9:06:40 PM
Latitude      41.976378
Longitude    -87.807185
Name: 2029, dtype: object
2030, Date         2011-09-07
Time         9:06:50 PM
Latitude       41.97598
Longitude    -87.807183
Name: 2030, dtype: object
2031, Date         2011-09-07
Time         9:07:00 PM
Latitude      41.975453
Longitude    -87.807185
Name: 2031, dtype: object
2032, Date         2011-09-07
Time         9:07:10 PM
Latitude      41.974843
Longitude    -87.807177
Name: 2032, dtype: object
2033, Date         2011-09-07
Time         9:07:20 PM
Latitude      41.974645
Longitude     -87.80771
Name: 2033, dtype: object
2034, Date         2011-09-07
Time         9:07:30 PM
Latitude      41.974607
Longitude    -87.808612
Name: 2034, dtype: object
2035, Date         2011-09-07
Time         9:07:40 PM
Latitude      41.974568
Longitude    -87.809558
Name: 2035, dtype: object
2036, Date         2011-09-07
Time         9:07:50 PM
Latitude      41.974545
Longitude    -87.810497
Name: 2036, dtype: object
2037, Date         2011-09-07
Time         9:08:00 PM
Latitude      41.974512
Longitude     -87.81149
Name: 2037, dtype: object
2038, Date         2011-09-07
Time         9:08:40 PM
Latitude      41.976163
Longitude    -87.812042
Name: 2038, dtype: object
2039, Date         2011-09-07
Time         9:08:50 PM
Latitude      41.976672
Longitude    -87.812048
Name: 2039, dtype: object
2040, Date         2011-09-07
Time         9:09:00 PM
Latitude      41.977218
Longitude    -87.812047
Name: 2040, dtype: object

2041, Date         2011-09-07
Time         9:09:10 PM
Latitude      41.977635
Longitude    -87.811998
Name: 2041, dtype: object
2042, Date         2011-09-07
Time         9:09:20 PM
Latitude      41.977628
Longitude    -87.811398
Name: 2042, dtype: object
2043, Date         2011-09-07
Time         9:09:30 PM
Latitude      41.977653
Longitude    -87.810715
Name: 2043, dtype: object
2044, Date         2011-09-07
Time         9:09:40 PM
Latitude      41.977552
Longitude    -87.810053
Name: 2044, dtype: object
2045, Date         2011-09-07
Time         9:09:50 PM
Latitude      41.977242
Longitude    -87.809602
Name: 2045, dtype: object
2046, Date         2011-09-07
Time         9:10:00 PM
Latitude       41.97682
Longitude    -87.809335
Name: 2046, dtype: object
2047, Date         2011-09-07
Time         9:10:10 PM
Latitude      41.976378
Longitude    -87.809253
Name: 2047, dtype: object
2048, Date         2011-09-07
Time         9:10:20 PM
Latitude      41.976283
Longitude    -87.809755
Name: 2048, dtype: object
2049, Date         2011-09-07
Time         9:10:30 PM
Latitude      41.976275
Longitude    -87.810357
Name: 2049, dtype: object
2050, Date         2011-09-07
Time         9:10:40 PM
Latitude      41.976268
Longitude    -87.811038
Name: 2050, dtype: object
2051, Date         2011-09-07
Time         9:10:50 PM
Latitude      41.976247
Longitude    -87.811648
Name: 2051, dtype: object
2052, Date         2011-09-07
Time         9:11:20 PM
Latitude      41.976995
Longitude     -87.81178
Name: 2052, dtype: object
2053, Date         2011-09-07
Time         9:11:30 PM
Latitude      41.976993
Longitude    -87.811087
Name: 2053, dtype: object
2054, Date         2011-09-07
Time         9:11:40 PM
Latitude      41.976878
Longitude    -87.810398
Name: 2054, dtype: object
2055, Date         2011-09-07
Time         9:13:10 PM
Latitude      41.978442
Longitude    -87.812017
Name: 2055, dtype: object
2056, Date         2011-09-07
Time         9:13:20 PM
Latitude       41.97884
Longitude    -87.811972
Name: 2056, dtype: object
2057, Date         2011-09-07
Time         9:13:30 PM
Latitude      41.979172
Longitude    -87.811867
Name: 2057, dtype: object
2058, Date         2011-09-07
Time         9:13:40 PM
Latitude      41.979707
Longitude    -87.811857
Name: 2058, dtype: object
2059, Date         2011-09-07
Time         9:13:50 PM
Latitude      41.980258
Longitude    -87.811852
Name: 2059, dtype: object
2060, Date         2011-09-07
Time         9:14:00 PM
Latitude      41.980775
Longitude    -87.811847
Name: 2060, dtype: object
2061, Date         2011-09-07
Time         9:14:10 PM
Latitude      41.980953
Longitude    -87.811447
Name: 2061, dtype: object
2062, Date         2011-09-07
Time         9:14:19 PM
Latitude       41.98092
Longitude    -87.810963
Name: 2062, dtype: object
2063, Date         2011-09-07
Time         9:14:30 PM
Latitude      41.980903
Longitude    -87.810433
Name: 2063, dtype: object
2064, Date         2011-09-07
Time         9:14:40 PM
Latitude      41.980888
Longitude    -87.809852
Name: 2064, dtype: object
2065, Date         2011-09-07
Time         9:14:50 PM
Latitude      41.980792
Longitude    -87.809233
Name: 2065, dtype: object
2066, Date         2011-09-07
Time         9:15:00 PM
Latitude       41.98036
Longitude     -87.80904
Name: 2066, dtype: object
2067, Date         2011-09-07
Time         9:15:10 PM
Latitude      41.979775
Longitude     -87.80904
Name: 2067, dtype: object
2068, Date         2011-09-07
Time         9:15:20 PM
Latitude       41.97926
Longitude     -87.80904
Name: 2068, dtype: object
2069, Date         2011-09-07
Time         9:15:30 PM
Latitude      41.979105
Longitude     -87.80947
Name: 2069, dtype: object
2070, Date         2011-09-07
Time         9:15:40 PM
Latitude       41.97916
Longitude    -87.809995
Name: 2070, dtype: object
2071, Date         2011-09-07
Time         9:15:50 PM
Latitude      41.979647
Longitude     -87.81001
Name: 2071, dtype: object
2072, Date         2011-09-07
Time         9:16:00 PM
Latitude      41.980177
Longitude     -87.80999
Name: 2072, dtype: object
2073, Date         2011-09-07
Time         9:16:10 PM
Latitude      41.980668
Longitude    -87.809978
Name: 2073, dtype: object
2074, Date         2011-09-07
Time         9:16:30 PM
Latitude       41.98095
Longitude    -87.810738
Name: 2074, dtype: object
2075, Date         2011-09-07
Time         9:16:40 PM
Latitude      41.980547
Longitude    -87.810885
Name: 2075, dtype: object
2076, Date         2011-09-07
Time         9:16:50 PM
Latitude      41.980073
Longitude    -87.810892
Name: 2076, dtype: object
2077, Date         2011-09-07
Time         9:17:00 PM
Latitude       41.97958
Longitude      -87.8109
Name: 2077, dtype: object
2078, Date         2011-09-07
Time         9:17:10 PM
Latitude        41.9791
Longitude    -87.810933
Name: 2078, dtype: object
2079, Date         2011-09-07
Time         9:17:20 PM
Latitude      41.979123
Longitude    -87.811458
Name: 2079, dtype: object
2080, Date         2011-09-07
Time         9:17:30 PM
Latitude      41.979303
Longitude     -87.81193
Name: 2080, dtype: object
2081, Date         2011-09-07
Time         9:17:40 PM
Latitude      41.979327
Longitude    -87.812622
Name: 2081, dtype: object
2082, Date         2011-09-07
Time         9:17:50 PM
Latitude      41.979715
Longitude    -87.812797
Name: 2082, dtype: object
2083, Date         2011-09-07
Time         9:18:00 PM
Latitude      41.980217
Longitude    -87.812805
Name: 2083, dtype: object
2084, Date         2011-09-07
Time         9:18:10 PM
Latitude      41.980732
Longitude    -87.812793
Name: 2084, dtype: object
2085, Date         2011-09-07
Time         9:18:20 PM
Latitude      41.981137
Longitude    -87.812737
Name: 2085, dtype: object
2086, Date         2011-09-07
Time         9:18:30 PM
Latitude      41.981348
Longitude    -87.813088
Name: 2086, dtype: object
2087, Date         2011-09-07
Time         9:18:40 PM
Latitude      41.981453
Longitude    -87.813597
Name: 2087, dtype: object
2088, Date         2011-09-07
Time         9:18:50 PM
Latitude       41.98104
Longitude    -87.813845
Name: 2088, dtype: object
2089, Date         2011-09-07
Time         9:19:00 PM
Latitude      41.980513
Longitude    -87.813845
Name: 2089, dtype: object
2090, Date         2011-09-07
Time         9:19:10 PM
Latitude      41.979995
Longitude    -87.813853
Name: 2090, dtype: object
2091, Date         2011-09-07
Time         9:19:20 PM
Latitude      41.979533
Longitude    -87.813628
Name: 2091, dtype: object
2092, Date         2011-09-07
Time         9:19:30 PM
Latitude      41.979358
Longitude    -87.813068
Name: 2092, dtype: object
2093, Date         2011-09-07
Time         9:20:30 PM
Latitude      41.981438
Longitude    -87.813405
Name: 2093, dtype: object
2094, Date         2011-09-07
Time         9:20:40 PM
Latitude      41.981622
Longitude    -87.813967
Name: 2094, dtype: object
2095, Date         2011-09-07
Time         9:20:50 PM
Latitude      41.981882
Longitude    -87.814072
Name: 2095, dtype: object
2096, Date         2011-09-07
Time         9:21:10 PM
Latitude        41.9822
Longitude    -87.814688
Name: 2096, dtype: object
2097, Date         2011-09-07
Time         9:21:20 PM
Latitude      41.982348
Longitude    -87.815425
Name: 2097, dtype: object
2098, Date         2011-09-07
Time         9:21:30 PM
Latitude      41.982527
Longitude    -87.816257
Name: 2098, dtype: object
2099, Date         2011-09-07
Time         9:21:40 PM
Latitude       41.98265
Longitude    -87.816712
Name: 2099, dtype: object
2100, Date         2011-09-07
Time         9:21:50 PM
Latitude      41.983078
Longitude    -87.816808
Name: 2100, dtype: object
2101, Date         2011-09-07
Time         9:22:00 PM
Latitude      41.983438
Longitude     -87.81681
Name: 2101, dtype: object
2102, Date         2011-09-07
Time         9:22:10 PM
Latitude      41.983675
Longitude    -87.817402
Name: 2102, dtype: object
2103, Date         2011-09-07
Time         9:22:20 PM
Latitude      41.983893
Longitude    -87.818083
Name: 2103, dtype: object
2104, Date         2011-09-07
Time         9:22:30 PM
Latitude       41.98442
Longitude    -87.818077
Name: 2104, dtype: object
2105, Date         2011-09-07
Time         9:22:40 PM
Latitude      41.984932
Longitude    -87.818075
Name: 2105, dtype: object
2106, Date         2011-09-07
Time         9:22:50 PM
Latitude      41.985352
Longitude    -87.818082
Name: 2106, dtype: object
2107, Date         2011-09-07
Time         9:23:00 PM
Latitude      41.985845
Longitude     -87.81807
Name: 2107, dtype: object
2108, Date         2011-09-07
Time         9:23:10 PM
Latitude      41.986353
Longitude    -87.818088
Name: 2108, dtype: object
2109, Date         2011-09-07
Time         9:23:20 PM
Latitude      41.986865
Longitude    -87.818083
Name: 2109, dtype: object
2110, Date         2011-09-07
Time         9:23:30 PM
Latitude      41.987507
Longitude    -87.818088
Name: 2110, dtype: object
2111, Date         2011-09-07
Time         9:23:40 PM
Latitude      41.988038
Longitude    -87.818092
Name: 2111, dtype: object
2112, Date         2011-09-07
Time         9:23:50 PM
Latitude      41.988518
Longitude    -87.818073
Name: 2112, dtype: object
2113, Date         2011-09-07
Time         9:24:00 PM
Latitude      41.988635
Longitude    -87.818505
Name: 2113, dtype: object
2114, Date         2011-09-07
Time         9:24:10 PM
Latitude      41.988615
Longitude    -87.819223
Name: 2114, dtype: object
2115, Date         2011-09-07
Time         9:24:20 PM
Latitude      41.988593
Longitude    -87.819987
Name: 2115, dtype: object
2116, Date         2011-09-07
Time         9:24:30 PM
Latitude      41.988592
Longitude    -87.820655
Name: 2116, dtype: object
2117, Date         2011-09-07
Time         9:24:40 PM
Latitude      41.988587
Longitude    -87.821428
Name: 2117, dtype: object
2118, Date         2011-09-07
Time         9:24:50 PM
Latitude       41.98823
Longitude    -87.821675
Name: 2118, dtype: object
2119, Date         2011-09-07
Time         9:25:00 PM
Latitude      41.987642
Longitude     -87.82168
Name: 2119, dtype: object
2120, Date         2011-09-07
Time         9:25:10 PM
Latitude      41.987535
Longitude    -87.821307
Name: 2120, dtype: object
2121, Date         2011-09-07
Time         9:25:20 PM
Latitude      41.987577
Longitude    -87.820542
Name: 2121, dtype: object
2122, Date         2011-09-07
Time         9:25:30 PM
Latitude      41.987728
Longitude    -87.819802
Name: 2122, dtype: object
2123, Date         2011-09-07
Time         9:25:40 PM
Latitude      41.987883
Longitude    -87.819043
Name: 2123, dtype: object
2124, Date         2011-09-07
Time         9:25:50 PM
Latitude      41.987915
Longitude     -87.81831
Name: 2124, dtype: object
2125, Date         2011-09-07
Time         9:26:00 PM
Latitude      41.988072
Longitude    -87.818063
Name: 2125, dtype: object
2126, Date         2011-09-07
Time         9:26:10 PM
Latitude      41.988568
Longitude    -87.818045
Name: 2126, dtype: object
2127, Date         2011-09-07
Time         9:26:20 PM
Latitude      41.988695
Longitude    -87.817615
Name: 2127, dtype: object
2128, Date         2011-09-07
Time         9:26:30 PM
Latitude      41.988728
Longitude    -87.817062
Name: 2128, dtype: object
2129, Date         2011-09-07
Time         9:26:40 PM
Latitude      41.988382
Longitude     -87.81689
Name: 2129, dtype: object
2130, Date         2011-09-07
Time         9:26:50 PM
Latitude      41.987785
Longitude    -87.816892
Name: 2130, dtype: object
2131, Date         2011-09-07
Time         9:27:00 PM
Latitude      41.987183
Longitude    -87.816888
Name: 2131, dtype: object
2132, Date         2011-09-07
Time         9:27:10 PM
Latitude      41.986638
Longitude     -87.81688
Name: 2132, dtype: object
2133, Date         2011-09-07
Time         9:27:20 PM
Latitude      41.985977
Longitude    -87.816875
Name: 2133, dtype: object
2134, Date         2011-09-07
Time         9:27:30 PM
Latitude      41.985405
Longitude    -87.816877
Name: 2134, dtype: object
2135, Date         2011-09-07
Time         9:27:40 PM
Latitude      41.985192
Longitude    -87.817298
Name: 2135, dtype: object
2136, Date         2011-09-07
Time         9:27:50 PM
Latitude      41.985187
Longitude    -87.818013
Name: 2136, dtype: object
2137, Date         2011-09-07
Time         9:28:00 PM
Latitude       41.98524
Longitude    -87.818808
Name: 2137, dtype: object
2138, Date         2011-09-07
Time         9:28:10 PM
Latitude      41.985527
Longitude    -87.819222
Name: 2138, dtype: object
2139, Date         2011-09-07
Time         9:28:20 PM
Latitude      41.986102
Longitude    -87.819138
Name: 2139, dtype: object
2140, Date         2011-09-07
Time         9:28:30 PM
Latitude      41.986655
Longitude    -87.819258
Name: 2140, dtype: object
2141, Date         2011-09-07
Time         9:28:40 PM
Latitude      41.986875
Longitude    -87.819807
Name: 2141, dtype: object
2142, Date         2011-09-07
Time         9:28:50 PM
Latitude      41.986773
Longitude    -87.820327
Name: 2142, dtype: object
2143, Date         2011-09-07
Time         9:29:00 PM
Latitude      41.986333
Longitude    -87.820208
Name: 2143, dtype: object
2144, Date         2011-09-07
Time         9:29:10 PM
Latitude      41.985815
Longitude    -87.820195
Name: 2144, dtype: object
2145, Date         2011-09-07
Time         9:29:20 PM
Latitude      41.985217
Longitude    -87.820288
Name: 2145, dtype: object
2146, Date         2011-09-07
Time         9:29:30 PM
Latitude      41.984707
Longitude    -87.820288
Name: 2146, dtype: object
2147, Date         2011-09-07
Time         9:29:40 PM
Latitude      41.984597
Longitude    -87.819585
Name: 2147, dtype: object
2148, Date         2011-09-07
Time         9:29:50 PM
Latitude      41.984483
Longitude    -87.818798
Name: 2148, dtype: object
2149, Date         2011-09-07
Time         9:30:00 PM
Latitude      41.984367
Longitude    -87.818153
Name: 2149, dtype: object
2150, Date         2011-09-07
Time         9:30:10 PM
Latitude      41.984032
Longitude    -87.818153
Name: 2150, dtype: object
2151, Date         2011-09-07
Time         9:30:20 PM
Latitude      41.984038
Longitude    -87.818915
Name: 2151, dtype: object
2152, Date         2011-09-07
Time         9:31:00 PM
Latitude      41.984625
Longitude    -87.823272
Name: 2152, dtype: object
2153, Date         2011-09-07
Time         9:31:10 PM
Latitude       41.98507
Longitude     -87.82326
Name: 2153, dtype: object
2154, Date         2011-09-07
Time         9:31:20 PM
Latitude      41.985225
Longitude    -87.822817
Name: 2154, dtype: object
2155, Date         2011-09-07
Time         9:31:30 PM
Latitude      41.985232
Longitude     -87.82212
Name: 2155, dtype: object
2156, Date         2011-09-07
Time         9:31:40 PM
Latitude      41.985252
Longitude    -87.821603
Name: 2156, dtype: object
2157, Date         2011-09-07
Time         9:31:50 PM
Latitude      41.985267
Longitude    -87.820857
Name: 2157, dtype: object
2158, Date         2011-09-07
Time         9:32:00 PM
Latitude      41.985352
Longitude     -87.82032
Name: 2158, dtype: object
2159, Date         2011-09-07
Time         9:32:10 PM
Latitude      41.985803
Longitude    -87.820238
Name: 2159, dtype: object
2160, Date         2011-09-07
Time         9:32:20 PM
Latitude      41.985883
Longitude    -87.820818
Name: 2160, dtype: object
2161, Date         2011-09-07
Time         9:32:30 PM
Latitude      41.985858
Longitude    -87.821758
Name: 2161, dtype: object
2162, Date         2011-09-07
Time         9:32:40 PM
Latitude      41.985835
Longitude    -87.822577
Name: 2162, dtype: object
2163, Date         2011-09-07
Time         9:32:50 PM
Latitude      41.985855
Longitude    -87.823143
Name: 2163, dtype: object
2164, Date         2011-09-07
Time         9:33:00 PM
Latitude      41.986415
Longitude    -87.823103
Name: 2164, dtype: object
2165, Date         2011-09-07
Time         9:33:10 PM
Latitude      41.986703
Longitude    -87.822717
Name: 2165, dtype: object
2166, Date         2011-09-07
Time         9:33:20 PM
Latitude       41.98672
Longitude     -87.82197
Name: 2166, dtype: object
2167, Date         2011-09-07
Time         9:33:30 PM
Latitude      41.986747
Longitude    -87.821238
Name: 2167, dtype: object
2168, Date         2011-09-07
Time         9:33:40 PM
Latitude      41.986772
Longitude    -87.820637
Name: 2168, dtype: object
2169, Date         2011-09-07
Time         9:33:50 PM
Latitude      41.987087
Longitude    -87.820547
Name: 2169, dtype: object
2170, Date         2011-09-07
Time         9:34:00 PM
Latitude      41.987535
Longitude     -87.82055
Name: 2170, dtype: object
2171, Date         2011-09-07
Time         9:34:10 PM
Latitude      41.987605
Longitude    -87.821148
Name: 2171, dtype: object
2172, Date         2011-09-07
Time         9:34:20 PM
Latitude        41.9877
Longitude    -87.821792
Name: 2172, dtype: object
2173, Date         2011-09-07
Time         9:34:30 PM
Latitude      41.988307
Longitude    -87.821777
Name: 2173, dtype: object
2174, Date         2011-09-07
Time         9:34:40 PM
Latitude      41.988863
Longitude    -87.821773
Name: 2174, dtype: object
2175, Date         2011-09-07
Time         9:34:50 PM
Latitude      41.989402
Longitude    -87.821747
Name: 2175, dtype: object
2176, Date         2011-09-07
Time         9:35:00 PM
Latitude      41.989492
Longitude    -87.821292
Name: 2176, dtype: object
2177, Date         2011-09-07
Time         9:35:10 PM
Latitude        41.9895
Longitude    -87.820815
Name: 2177, dtype: object
2178, Date         2011-09-07
Time         9:35:30 PM
Latitude      41.989645
Longitude     -87.82174
Name: 2178, dtype: object
2179, Date         2011-09-07
Time         9:35:40 PM
Latitude      41.990158
Longitude    -87.821723
Name: 2179, dtype: object
2180, Date         2011-09-07
Time         9:35:50 PM
Latitude      41.990258
Longitude    -87.821243
Name: 2180, dtype: object
2181, Date         2011-09-07
Time         9:36:00 PM
Latitude      41.990525
Longitude    -87.820833
Name: 2181, dtype: object
2182, Date         2011-09-07
Time         9:36:10 PM
Latitude      41.990917
Longitude    -87.820837
Name: 2182, dtype: object
2183, Date         2011-09-07
Time         9:36:20 PM
Latitude      41.990978
Longitude    -87.821257
Name: 2183, dtype: object
2184, Date         2011-09-07
Time         9:36:30 PM
Latitude       41.99092
Longitude    -87.821463
Name: 2184, dtype: object
2185, Date         2011-09-07
Time         9:36:50 PM
Latitude      41.991133
Longitude     -87.82078
Name: 2185, dtype: object
2186, Date         2011-09-07
Time         9:37:00 PM
Latitude      41.991672
Longitude    -87.820878
Name: 2186, dtype: object
2187, Date         2011-09-07
Time         9:37:10 PM
Latitude      41.991982
Longitude    -87.821412
Name: 2187, dtype: object
2188, Date         2011-09-07
Time         9:37:20 PM
Latitude      41.992315
Longitude    -87.821292
Name: 2188, dtype: object
2189, Date         2011-09-07
Time         9:37:30 PM
Latitude      41.992595
Longitude    -87.821017
Name: 2189, dtype: object
2190, Date         2011-09-07
Time         9:37:50 PM
Latitude      41.991883
Longitude    -87.819525
Name: 2190, dtype: object
2191, Date         2011-09-07
Time         9:38:00 PM
Latitude      41.991573
Longitude    -87.819648
Name: 2191, dtype: object
2192, Date         2011-09-07
Time         9:38:10 PM
Latitude      41.991095
Longitude    -87.819727
Name: 2192, dtype: object
2193, Date         2011-09-07
Time         9:38:20 PM
Latitude      41.990535
Longitude     -87.81976
Name: 2193, dtype: object
2194, Date         2011-09-07
Time         9:38:30 PM
Latitude      41.990028
Longitude    -87.819785
Name: 2194, dtype: object
2195, Date         2011-09-07
Time         9:38:40 PM
Latitude      41.989588
Longitude    -87.819725
Name: 2195, dtype: object
2196, Date         2011-09-07
Time         9:38:50 PM
Latitude       41.98957
Longitude     -87.81915
Name: 2196, dtype: object
2197, Date         2011-09-07

2209, Date         2013-07-17
Time         7:45:45 PM
Latitude      41.997728
Longitude    -87.767532
Name: 2209, dtype: object
2210, Date         2013-07-17
Time         7:45:55 PM
Latitude       41.99799
Longitude    -87.768085
Name: 2210, dtype: object
2211, Date         2013-07-17
Time         7:46:05 PM
Latitude      41.998237
Longitude    -87.768623
Name: 2211, dtype: object
2212, Date         2013-07-17
Time         7:46:15 PM
Latitude       41.99851
Longitude    -87.769225
Name: 2212, dtype: object
2213, Date         2013-07-17
Time         7:46:25 PM
Latitude      41.998793
Longitude    -87.769833
Name: 2213, dtype: object
2214, Date         2013-07-17
Time         7:46:35 PM
Latitude       41.99908
Longitude    -87.770452
Name: 2214, dtype: object
2215, Date         2013-07-17
Time         7:46:45 PM
Latitude      41.999377
Longitude    -87.771073
Name: 2215, dtype: object
2216, Date         2013-07-17
Time         7:46:55 PM
Latitude      41.999675
Longitude    -87.771713
Name: 2216, dtype: object
2217, Date         2013-07-17
Time         7:47:04 PM
Latitude      41.999958
Longitude    -87.772302
Name: 2217, dtype: object
2218, Date         2013-07-17
Time         7:47:15 PM
Latitude      42.000262
Longitude    -87.772937
Name: 2218, dtype: object
2219, Date         2013-07-17
Time         7:47:25 PM
Latitude      42.000518
Longitude     -87.77349
Name: 2219, dtype: object
2220, Date         2013-07-17
Time         7:47:35 PM
Latitude      42.000773
Longitude    -87.774032
Name: 2220, dtype: object
2221, Date         2013-07-17
Time         7:47:45 PM
Latitude      42.001028
Longitude    -87.774578
Name: 2221, dtype: object
2222, Date         2013-07-17
Time         7:47:55 PM
Latitude      42.001303
Longitude    -87.775165
Name: 2222, dtype: object
2223, Date         2013-07-17
Time         7:48:05 PM
Latitude      42.001587
Longitude    -87.775762
Name: 2223, dtype: object
2224, Date         2013-07-17
Time         7:48:15 PM
Latitude      42.001877
Longitude     -87.77638
Name: 2224, dtype: object
2225, Date         2013-07-17
Time         7:48:25 PM
Latitude      42.002167
Longitude    -87.776998
Name: 2225, dtype: object
2226, Date         2013-07-17
Time         7:48:35 PM
Latitude      42.002468
Longitude    -87.777638
Name: 2226, dtype: object
2227, Date         2013-07-17
Time         7:48:45 PM
Latitude      42.002785
Longitude    -87.778322
Name: 2227, dtype: object
2228, Date         2013-07-17
Time         7:48:55 PM
Latitude      42.003103
Longitude    -87.779003
Name: 2228, dtype: object
2229, Date         2013-07-17
Time         7:49:05 PM
Latitude      42.003408
Longitude     -87.77967
Name: 2229, dtype: object
2230, Date         2013-07-17
Time         7:49:15 PM
Latitude      42.003702
Longitude    -87.780295
Name: 2230, dtype: object
2231, Date         2013-07-17
Time         7:49:25 PM
Latitude      42.003995
Longitude    -87.780935
Name: 2231, dtype: object
2232, Date         2013-07-17
Time         7:49:35 PM
Latitude      42.004322
Longitude    -87.781587
Name: 2232, dtype: object
2233, Date         2013-07-17
Time         7:49:45 PM
Latitude      42.004698
Longitude    -87.782203
Name: 2233, dtype: object
2234, Date         2013-07-17
Time         7:49:54 PM
Latitude       42.00509
Longitude     -87.78267
Name: 2234, dtype: object
2235, Date         2013-07-17
Time         7:50:05 PM
Latitude       42.00563
Longitude    -87.783193
Name: 2235, dtype: object
2236, Date         2013-07-17
Time         7:50:14 PM
Latitude      42.006047
Longitude     -87.78356
Name: 2236, dtype: object
2237, Date         2013-07-17
Time         7:50:25 PM
Latitude      42.006588
Longitude    -87.784028
Name: 2237, dtype: object
2238, Date         2013-07-17
Time         7:50:35 PM
Latitude      42.007055
Longitude    -87.784433
Name: 2238, dtype: object
2239, Date         2013-07-17
Time         7:50:45 PM
Latitude       42.00753
Longitude     -87.78485
Name: 2239, dtype: object
2240, Date         2013-07-17
Time         7:51:11 PM
Latitude      42.008033
Longitude    -87.785285
Name: 2240, dtype: object
2241, Date         2013-07-17
Time         7:51:21 PM
Latitude      42.008472
Longitude    -87.785675
Name: 2241, dtype: object
2242, Date         2013-07-17
Time         7:51:31 PM
Latitude      42.008927
Longitude    -87.786068
Name: 2242, dtype: object
2243, Date         2013-07-17
Time         7:51:41 PM
Latitude      42.009412
Longitude    -87.786487
Name: 2243, dtype: object
2244, Date         2013-07-17
Time         7:51:51 PM
Latitude      42.009882
Longitude    -87.786897
Name: 2244, dtype: object
2245, Date         2013-07-17
Time         7:52:01 PM
Latitude      42.010388
Longitude    -87.787322
Name: 2245, dtype: object
2246, Date         2013-07-17
Time         7:52:11 PM
Latitude      42.010903
Longitude    -87.787748
Name: 2246, dtype: object
2247, Date         2013-07-17
Time         7:52:21 PM
Latitude       42.01144
Longitude    -87.788212
Name: 2247, dtype: object
2248, Date         2013-07-17
Time         7:52:31 PM
Latitude      42.011812
Longitude    -87.788258
Name: 2248, dtype: object
2249, Date         2013-07-17
Time         7:52:41 PM
Latitude      42.011812
Longitude    -87.787413
Name: 2249, dtype: object
2250, Date         2013-07-17
Time         7:52:51 PM
Latitude      42.011835
Longitude    -87.786607
Name: 2250, dtype: object
2251, Date         2013-07-17
Time         7:53:01 PM
Latitude      42.011835
Longitude    -87.785817
Name: 2251, dtype: object
2252, Date         2013-07-17
Time         7:53:11 PM
Latitude      42.011843
Longitude    -87.785085
Name: 2252, dtype: object
2253, Date         2013-07-17
Time         7:53:21 PM
Latitude      42.011858
Longitude    -87.784405
Name: 2253, dtype: object
2254, Date         2013-07-17
Time         7:53:31 PM
Latitude      42.011455
Longitude    -87.784315
Name: 2254, dtype: object
2255, Date         2013-07-17
Time         7:53:41 PM
Latitude      42.011005
Longitude    -87.784318
Name: 2255, dtype: object
2256, Date         2013-07-17
Time         7:53:51 PM
Latitude       42.01056
Longitude    -87.784325
Name: 2256, dtype: object
2257, Date         2013-07-17
Time         7:54:01 PM
Latitude      42.010145
Longitude    -87.784352
Name: 2257, dtype: object
2258, Date         2013-07-17
Time         7:54:11 PM
Latitude      42.010132
Longitude    -87.785017
Name: 2258, dtype: object
2259, Date         2013-07-17
Time         7:54:21 PM
Latitude       42.01013
Longitude    -87.785642
Name: 2259, dtype: object
2260, Date         2013-07-17
Time         7:54:31 PM
Latitude      42.010135
Longitude    -87.786352
Name: 2260, dtype: object
2261, Date         2013-07-17
Time         7:54:41 PM
Latitude      42.010382
Longitude    -87.786653
Name: 2261, dtype: object
2262, Date         2013-07-17
Time         7:54:51 PM
Latitude      42.010908
Longitude    -87.786643
Name: 2262, dtype: object
2263, Date         2013-07-17
Time         7:55:01 PM
Latitude      42.011035
Longitude    -87.786172
Name: 2263, dtype: object
2264, Date         2013-07-17
Time         7:55:11 PM
Latitude      42.011018
Longitude    -87.785552
Name: 2264, dtype: object
2265, Date         2013-07-17
Time         7:55:21 PM
Latitude      42.011012
Longitude    -87.784933
Name: 2265, dtype: object
2266, Date         2013-07-17
Time         7:55:31 PM
Latitude      42.011005
Longitude    -87.784388
Name: 2266, dtype: object
2267, Date         2013-07-17
Time         7:55:41 PM
Latitude       42.01052
Longitude     -87.78434
Name: 2267, dtype: object
2268, Date         2013-07-17
Time         7:55:51 PM
Latitude      42.010162
Longitude    -87.784305
Name: 2268, dtype: object
2269, Date         2013-07-17
Time         7:56:01 PM
Latitude      42.010152
Longitude    -87.783777
Name: 2269, dtype: object
2270, Date         2013-07-17
Time         7:56:11 PM
Latitude       42.01019
Longitude     -87.78322
Name: 2270, dtype: object
2271, Date         2013-07-17
Time         7:56:21 PM
Latitude      42.010685
Longitude     -87.78321
Name: 2271, dtype: object
2272, Date         2013-07-17
Time         7:56:31 PM
Latitude       42.01121
Longitude    -87.783225
Name: 2272, dtype: object
2273, Date         2013-07-17
Time         7:56:41 PM
Latitude      42.011692
Longitude    -87.783203
Name: 2273, dtype: object
2274, Date         2013-07-17
Time         7:56:51 PM
Latitude      42.011898
Longitude    -87.782828
Name: 2274, dtype: object
2275, Date         2013-07-17
Time         7:57:01 PM
Latitude      42.011865
Longitude    -87.782015
Name: 2275, dtype: object
2276, Date         2013-07-17
Time         7:57:11 PM
Latitude       42.01142
Longitude    -87.781978
Name: 2276, dtype: object
2277, Date         2013-07-17
Time         7:57:21 PM
Latitude      42.011037
Longitude    -87.781962
Name: 2277, dtype: object
2278, Date         2013-07-17
Time         7:57:31 PM
Latitude       42.01062
Longitude    -87.781958
Name: 2278, dtype: object
2279, Date         2013-07-17
Time         7:57:41 PM
Latitude      42.010163
Longitude    -87.781988
Name: 2279, dtype: object
2280, Date         2013-07-17
Time         7:57:51 PM
Latitude      42.010127
Longitude    -87.782568
Name: 2280, dtype: object
2281, Date         2013-07-17
Time         7:58:01 PM
Latitude      42.010053
Longitude    -87.783107
Name: 2281, dtype: object
2282, Date         2013-07-17
Time         7:58:11 PM
Latitude      42.009655
Longitude    -87.782992
Name: 2282, dtype: object
2283, Date         2013-07-17
Time         7:58:21 PM
Latitude      42.009335
Longitude      -87.7827
Name: 2283, dtype: object
2284, Date         2013-07-17
Time         7:58:31 PM
Latitude      42.008963
Longitude    -87.782372
Name: 2284, dtype: object
2285, Date         2013-07-17
Time         7:58:41 PM
Latitude      42.008658
Longitude     -87.78213
Name: 2285, dtype: object
2286, Date         2013-07-17
Time         7:58:51 PM
Latitude      42.008363
Longitude    -87.782617
Name: 2286, dtype: object
2287, Date         2013-07-17
Time         7:59:01 PM
Latitude      42.008058
Longitude    -87.783215
Name: 2287, dtype: object
2288, Date         2013-07-17
Time         7:59:11 PM
Latitude      42.008095
Longitude    -87.783677
Name: 2288, dtype: object
2289, Date         2013-07-17
Time         7:59:21 PM
Latitude      42.008525
Longitude    -87.784063
Name: 2289, dtype: object
2290, Date         2013-07-17
Time         7:59:31 PM
Latitude      42.008985
Longitude    -87.784308
Name: 2290, dtype: object
2291, Date         2013-07-17
Time         7:59:41 PM
Latitude      42.009283
Longitude    -87.784587
Name: 2291, dtype: object
2292, Date         2013-07-17
Time         7:59:51 PM
Latitude      42.009287
Longitude     -87.78534
Name: 2292, dtype: object
2293, Date         2013-07-17
Time         8:00:01 PM
Latitude      42.009135
Longitude    -87.785817
Name: 2293, dtype: object
2294, Date         2013-07-17
Time         8:00:21 PM
Latitude      42.008838
Longitude    -87.785882
Name: 2294, dtype: object
2295, Date         2013-07-17
Time         8:00:41 PM
Latitude      42.007395
Longitude    -87.784498
Name: 2295, dtype: object
2296, Date         2013-07-17
Time         8:00:51 PM
Latitude      42.007648
Longitude    -87.784003
Name: 2296, dtype: object
2297, Date         2013-07-17
Time         8:01:01 PM
Latitude      42.007935
Longitude    -87.783493
Name: 2297, dtype: object
2298, Date         2013-07-17
Time         8:01:11 PM
Latitude      42.008213
Longitude     -87.78296
Name: 2298, dtype: object
2299, Date         2013-07-17
Time         8:01:21 PM
Latitude      42.008465
Longitude    -87.782433
Name: 2299, dtype: object
2300, Date         2013-07-17
Time         8:01:31 PM
Latitude      42.008712
Longitude    -87.781925
Name: 2300, dtype: object
2301, Date         2013-07-17
Time         8:01:41 PM
Latitude      42.009023
Longitude     -87.78131
Name: 2301, dtype: object
2302, Date         2013-07-17
Time         8:01:51 PM
Latitude      42.009435
Longitude    -87.781453
Name: 2302, dtype: object
2303, Date         2013-07-17
Time         8:02:01 PM
Latitude      42.009782
Longitude    -87.781402
Name: 2303, dtype: object
2304, Date         2013-07-17
Time         8:02:11 PM
Latitude      42.010053
Longitude     -87.78086
Name: 2304, dtype: object
2305, Date         2013-07-17
Time         8:02:21 PM
Latitude      42.010392
Longitude    -87.780853
Name: 2305, dtype: object
2306, Date         2013-07-17
Time         8:02:31 PM
Latitude       42.01088
Longitude    -87.780953
Name: 2306, dtype: object
2307, Date         2013-07-17
Time         8:02:41 PM
Latitude      42.011367
Longitude    -87.780878
Name: 2307, dtype: object
2308, Date         2013-07-17
Time         8:02:51 PM
Latitude       42.01179
Longitude    -87.780843
Name: 2308, dtype: object
2309, Date         2013-07-17
Time         8:03:11 PM
Latitude      42.011935
Longitude    -87.780378
Name: 2309, dtype: object

2310, Date         2013-07-17
Time         8:03:21 PM
Latitude      42.011587
Longitude    -87.780177
Name: 2310, dtype: object
2311, Date         2013-07-17
Time         8:03:31 PM
Latitude      42.011288
Longitude     -87.78016
Name: 2311, dtype: object
2312, Date         2013-07-17
Time         8:03:41 PM
Latitude       42.01164
Longitude     -87.78016
Name: 2312, dtype: object
2313, Date         2013-07-17
Time         8:04:31 PM
Latitude      42.012407
Longitude    -87.778803
Name: 2313, dtype: object
2314, Date         2013-07-17
Time         8:04:41 PM
Latitude      42.012942
Longitude    -87.778793
Name: 2314, dtype: object
2315, Date         2013-07-17
Time         8:04:51 PM
Latitude      42.013497
Longitude    -87.778767
Name: 2315, dtype: object
2316, Date         2013-07-17
Time         8:05:01 PM
Latitude      42.014032
Longitude    -87.778762
Name: 2316, dtype: object
2317, Date         2013-07-17
Time         8:05:11 PM
Latitude      42.014553
Longitude    -87.778767
Name: 2317, dtype: object
2318, Date         2013-07-17
Time         8:05:21 PM
Latitude      42.014993
Longitude     -87.77874
Name: 2318, dtype: object
2319, Date         2013-07-17
Time         8:05:31 PM
Latitude      42.015045
Longitude    -87.778208
Name: 2319, dtype: object
2320, Date         2013-07-17
Time         8:05:41 PM
Latitude      42.015098
Longitude     -87.77774
Name: 2320, dtype: object
2321, Date         2013-07-17
Time         8:05:51 PM
Latitude      42.014813
Longitude    -87.777673
Name: 2321, dtype: object
2322, Date         2013-07-17
Time         8:06:01 PM
Latitude      42.014403
Longitude    -87.777673
Name: 2322, dtype: object
2323, Date         2013-07-17
Time         8:06:11 PM
Latitude      42.013967
Longitude     -87.77766
Name: 2323, dtype: object
2324, Date         2013-07-17
Time         8:06:21 PM
Latitude      42.013475
Longitude    -87.777662
Name: 2324, dtype: object
2325, Date         2013-07-17
Time         8:06:31 PM
Latitude      42.012987
Longitude    -87.777867
Name: 2325, dtype: object
2326, Date         2013-07-17
Time         8:06:41 PM
Latitude      42.012822
Longitude    -87.778482
Name: 2326, dtype: object
2327, Date         2013-07-17
Time         8:06:51 PM
Latitude      42.012432
Longitude    -87.778727
Name: 2327, dtype: object
2328, Date         2013-07-17
Time         8:08:01 PM
Latitude      42.011987
Longitude     -87.77859
Name: 2328, dtype: object
2329, Date         2013-07-17
Time         8:08:11 PM
Latitude      42.011965
Longitude    -87.777858
Name: 2329, dtype: object
2330, Date         2013-07-17
Time         8:08:21 PM
Latitude      42.011953
Longitude    -87.777152
Name: 2330, dtype: object
2331, Date         2013-07-17
Time         8:08:31 PM
Latitude      42.011672
Longitude    -87.777335
Name: 2331, dtype: object
2332, Date         2013-07-17
Time         8:08:41 PM
Latitude      42.011437
Longitude     -87.77769
Name: 2332, dtype: object
2333, Date         2013-07-17
Time         8:08:51 PM
Latitude      42.011197
Longitude     -87.77808
Name: 2333, dtype: object
2334, Date         2013-07-17
Time         8:09:01 PM
Latitude       42.01096
Longitude    -87.778597
Name: 2334, dtype: object
2335, Date         2013-07-17
Time         8:09:11 PM
Latitude      42.010733
Longitude    -87.779047
Name: 2335, dtype: object
2336, Date         2013-07-17
Time         8:09:21 PM
Latitude       42.01049
Longitude    -87.779513
Name: 2336, dtype: object
2337, Date         2013-07-17
Time         8:09:31 PM
Latitude      42.010287
Longitude    -87.779955
Name: 2337, dtype: object
2338, Date         2013-07-17
Time         8:09:41 PM
Latitude      42.009982
Longitude    -87.780118
Name: 2338, dtype: object
2339, Date         2013-07-17
Time         8:09:51 PM
Latitude      42.009655
Longitude    -87.779835
Name: 2339, dtype: object
2340, Date         2013-07-17
Time         8:10:01 PM
Latitude      42.009495
Longitude    -87.779507
Name: 2340, dtype: object
2341, Date         2013-07-17
Time         8:10:11 PM
Latitude      42.009722
Longitude    -87.779082
Name: 2341, dtype: object
2342, Date         2013-07-17
Time         8:10:21 PM
Latitude      42.009943
Longitude      -87.7787
Name: 2342, dtype: object
2343, Date         2013-07-17
Time         8:10:31 PM
Latitude      42.010205
Longitude     -87.77823
Name: 2343, dtype: object
2344, Date         2013-07-17
Time         8:10:41 PM
Latitude      42.010433
Longitude    -87.777777
Name: 2344, dtype: object
2345, Date         2013-07-17
Time         8:10:51 PM
Latitude       42.01069
Longitude    -87.777332
Name: 2345, dtype: object
2346, Date         2013-07-17
Time         8:11:01 PM
Latitude      42.010905
Longitude    -87.776867
Name: 2346, dtype: object
2347, Date         2013-07-17
Time         8:11:11 PM
Latitude       42.01109
Longitude    -87.776427
Name: 2347, dtype: object
2348, Date         2013-07-17
Time         8:11:21 PM
Latitude      42.011105
Longitude    -87.775812
Name: 2348, dtype: object
2349, Date         2013-07-17
Time         8:11:31 PM
Latitude      42.011128
Longitude    -87.775175
Name: 2349, dtype: object
2350, Date         2013-07-17
Time         8:11:41 PM
Latitude      42.011132
Longitude    -87.774568
Name: 2350, dtype: object
2351, Date         2013-07-17
Time         8:11:51 PM
Latitude      42.010653
Longitude    -87.774455
Name: 2351, dtype: object
2352, Date         2013-07-17
Time         8:12:01 PM
Latitude      42.010258
Longitude    -87.774505
Name: 2352, dtype: object
2353, Date         2013-07-17
Time         8:12:11 PM
Latitude      42.010192
Longitude    -87.774947
Name: 2353, dtype: object
2354, Date         2013-07-17
Time         8:12:21 PM
Latitude       42.01016
Longitude    -87.775442
Name: 2354, dtype: object
2355, Date         2013-07-17
Time         8:12:31 PM
Latitude      42.010148
Longitude    -87.775985
Name: 2355, dtype: object
2356, Date         2013-07-17
Time         8:12:41 PM
Latitude      42.009917
Longitude    -87.776528
Name: 2356, dtype: object
2357, Date         2013-07-17
Time         8:12:51 PM
Latitude      42.009655
Longitude     -87.77702
Name: 2357, dtype: object
2358, Date         2013-07-17
Time         8:13:01 PM
Latitude      42.009427
Longitude     -87.77743
Name: 2358, dtype: object
2359, Date         2013-07-17
Time         8:13:11 PM
Latitude      42.009205
Longitude    -87.777753
Name: 2359, dtype: object
2360, Date         2013-07-17
Time         8:13:21 PM
Latitude      42.008827
Longitude    -87.777495
Name: 2360, dtype: object
2361, Date         2013-07-17
Time         8:13:31 PM
Latitude      42.008498
Longitude     -87.77719
Name: 2361, dtype: object
2362, Date         2013-07-17
Time         8:13:41 PM
Latitude      42.008703
Longitude     -87.77673
Name: 2362, dtype: object
2363, Date         2013-07-17
Time         8:13:51 PM
Latitude      42.008918
Longitude    -87.776307
Name: 2363, dtype: object
2364, Date         2013-07-17
Time         8:14:01 PM
Latitude      42.009138
Longitude    -87.775872
Name: 2364, dtype: object
2365, Date         2013-07-17
Time         8:14:11 PM
Latitude      42.009418
Longitude    -87.775477
Name: 2365, dtype: object
2366, Date         2013-07-17
Time         8:14:21 PM
Latitude      42.009822
Longitude    -87.775527
Name: 2366, dtype: object
2367, Date         2013-07-17
Time         8:14:31 PM
Latitude      42.010093
Longitude    -87.775438
Name: 2367, dtype: object
2368, Date         2013-07-17
Time         8:14:41 PM
Latitude      42.010138
Longitude    -87.774788
Name: 2368, dtype: object
2369, Date         2013-07-17
Time         8:14:51 PM
Latitude      42.010063
Longitude    -87.774328
Name: 2369, dtype: object
2370, Date         2013-07-17
Time         8:15:01 PM
Latitude      42.009587
Longitude    -87.774315
Name: 2370, dtype: object
2371, Date         2013-07-17
Time         8:15:11 PM
Latitude      42.009115
Longitude    -87.774307
Name: 2371, dtype: object
2372, Date         2013-07-17
Time         8:15:21 PM
Latitude      42.008743
Longitude    -87.774572
Name: 2372, dtype: object
2373, Date         2013-07-17
Time         8:15:31 PM
Latitude      42.008483
Longitude    -87.775068
Name: 2373, dtype: object
2374, Date         2013-07-17
Time         8:15:41 PM
Latitude      42.008202
Longitude    -87.775573
Name: 2374, dtype: object
2375, Date         2013-07-17
Time         8:15:51 PM
Latitude      42.007928
Longitude    -87.776075
Name: 2375, dtype: object
2376, Date         2013-07-17
Time         8:16:01 PM
Latitude      42.007622
Longitude    -87.776688
Name: 2376, dtype: object
2377, Date         2013-07-17
Time         8:16:11 PM
Latitude      42.007378
Longitude    -87.777293
Name: 2377, dtype: object
2378, Date         2013-07-17
Time         8:16:21 PM
Latitude      42.007093
Longitude    -87.777868
Name: 2378, dtype: object
2379, Date         2013-07-17
Time         8:16:31 PM
Latitude      42.006795
Longitude    -87.778402
Name: 2379, dtype: object
2380, Date         2013-07-17
Time         8:16:41 PM
Latitude        42.0065
Longitude    -87.778993
Name: 2380, dtype: object
2381, Date         2013-07-17
Time         8:16:51 PM
Latitude      42.006197
Longitude    -87.779502
Name: 2381, dtype: object
2382, Date         2013-07-17
Time         8:17:01 PM
Latitude      42.005888
Longitude    -87.780117
Name: 2382, dtype: object
2383, Date         2013-07-17
Time         8:17:11 PM
Latitude      42.005592
Longitude    -87.780698
Name: 2383, dtype: object
2384, Date         2013-07-17
Time         8:17:21 PM
Latitude      42.005337
Longitude    -87.781262
Name: 2384, dtype: object
2385, Date         2013-07-17
Time         8:17:31 PM
Latitude      42.005012
Longitude    -87.781923
Name: 2385, dtype: object
2386, Date         2013-07-17
Time         8:17:41 PM
Latitude      42.005317
Longitude    -87.782572
Name: 2386, dtype: object
2387, Date         2013-07-17
Time         8:17:51 PM
Latitude      42.005733
Longitude    -87.782715
Name: 2387, dtype: object
2388, Date         2013-07-17
Time         8:18:01 PM
Latitude      42.006025
Longitude    -87.782205
Name: 2388, dtype: object
2389, Date         2013-07-17
Time         8:18:11 PM
Latitude      42.006345
Longitude    -87.782115
Name: 2389, dtype: object
2390, Date         2013-07-17
Time         8:18:21 PM
Latitude       42.00672
Longitude    -87.782457
Name: 2390, dtype: object
2391, Date         2013-07-17
Time         8:18:31 PM
Latitude      42.007168
Longitude    -87.782857
Name: 2391, dtype: object

2392, Date         2013-07-17
Time         8:18:41 PM
Latitude      42.007605
Longitude    -87.783252
Name: 2392, dtype: object
2393, Date         2013-07-17
Time         8:18:51 PM
Latitude      42.007962
Longitude    -87.783218
Name: 2393, dtype: object
2394, Date         2013-07-17
Time         8:19:01 PM
Latitude      42.008307
Longitude    -87.782555
Name: 2394, dtype: object
2395, Date         2013-07-17
Time         8:19:11 PM
Latitude      42.008472
Longitude    -87.782025
Name: 2395, dtype: object
2396, Date         2013-07-17
Time         8:19:21 PM
Latitude      42.007987
Longitude    -87.781645
Name: 2396, dtype: object
2397, Date         2013-07-17
Time         8:19:31 PM
Latitude      42.007592
Longitude    -87.781452
Name: 2397, dtype: object
2398, Date         2013-07-17
Time         8:19:41 PM
Latitude       42.00736
Longitude    -87.781962
Name: 2398, dtype: object
2399, Date         2013-07-17
Time         8:19:51 PM
Latitude      42.007082
Longitude     -87.78255
Name: 2399, dtype: object
2400, Date         2013-07-17
Time         8:20:01 PM
Latitude      42.006747
Longitude    -87.782525
Name: 2400, dtype: object
2401, Date         2013-07-17
Time         8:20:11 PM
Latitude      42.006325
Longitude    -87.782185
Name: 2401, dtype: object
2402, Date         2013-07-17
Time         8:20:21 PM
Latitude      42.006025
Longitude    -87.782507
Name: 2402, dtype: object
2403, Date         2013-07-17
Time         8:20:31 PM
Latitude      42.005732
Longitude    -87.783067
Name: 2403, dtype: object
2404, Date         2013-07-17
Time         8:20:41 PM
Latitude       42.00524
Longitude    -87.782673
Name: 2404, dtype: object
2405, Date         2013-07-17
Time         8:21:01 PM
Latitude       42.00439
Longitude    -87.781252
Name: 2405, dtype: object
2406, Date         2013-07-17
Time         8:21:11 PM
Latitude      42.004632
Longitude    -87.780712
Name: 2406, dtype: object
2407, Date         2013-07-17
Time         8:21:21 PM
Latitude      42.004893
Longitude    -87.780118
Name: 2407, dtype: object
2408, Date         2013-07-17
Time         8:21:31 PM
Latitude       42.00517
Longitude    -87.779637
Name: 2408, dtype: object
2409, Date         2013-07-17
Time         8:21:41 PM
Latitude      42.005417
Longitude    -87.779157
Name: 2409, dtype: object
2410, Date         2013-07-17
Time         8:21:51 PM
Latitude      42.005673
Longitude    -87.778658
Name: 2410, dtype: object
2411, Date         2013-07-17
Time         8:22:01 PM
Latitude      42.005967
Longitude     -87.77811
Name: 2411, dtype: object
2412, Date         2013-07-17
Time         8:22:11 PM
Latitude      42.006245
Longitude    -87.777528
Name: 2412, dtype: object
2413, Date         2013-07-17
Time         8:22:21 PM
Latitude      42.006505
Longitude     -87.77699
Name: 2413, dtype: object
2414, Date         2013-07-17
Time         8:22:31 PM
Latitude      42.006745
Longitude     -87.77649
Name: 2414, dtype: object
2415, Date         2013-07-17
Time         8:22:41 PM
Latitude       42.00701
Longitude    -87.775888
Name: 2415, dtype: object
2416, Date         2013-07-17
Time         8:22:51 PM
Latitude      42.007227
Longitude    -87.775302
Name: 2416, dtype: object
2417, Date         2013-07-17
Time         8:23:01 PM
Latitude      42.007457
Longitude     -87.77491
Name: 2417, dtype: object
2418, Date         2013-07-17
Time         8:23:11 PM
Latitude      42.007752
Longitude    -87.774333
Name: 2418, dtype: object
2419, Date         2013-07-17
Time         8:23:21 PM
Latitude      42.008038
Longitude      -87.7738
Name: 2419, dtype: object
2420, Date         2013-07-17
Time         8:23:31 PM
Latitude      42.008322
Longitude     -87.77316
Name: 2420, dtype: object
2421, Date         2013-07-17
Time         8:23:41 PM
Latitude      42.008583
Longitude    -87.772512
Name: 2421, dtype: object
2422, Date         2013-07-17
Time         8:23:51 PM
Latitude       42.00842
Longitude     -87.77211
Name: 2422, dtype: object
2423, Date         2013-07-17
Time         8:24:01 PM
Latitude      42.007978
Longitude    -87.771812
Name: 2423, dtype: object
2424, Date         2013-07-17
Time         8:24:11 PM
Latitude       42.00771
Longitude    -87.771943
Name: 2424, dtype: object
2425, Date         2013-07-17
Time         8:24:21 PM
Latitude      42.007368
Longitude    -87.772552
Name: 2425, dtype: object
2426, Date         2013-07-17
Time         8:24:31 PM
Latitude      42.007093
Longitude    -87.773175
Name: 2426, dtype: object
2427, Date         2013-07-17
Time         8:24:41 PM
Latitude      42.006772
Longitude    -87.773757
Name: 2427, dtype: object
2428, Date         2013-07-17
Time         8:24:51 PM
Latitude      42.006463
Longitude    -87.774228
Name: 2428, dtype: object
2429, Date         2013-07-17
Time         8:25:01 PM
Latitude      42.006207
Longitude    -87.774812
Name: 2429, dtype: object
2430, Date         2013-07-17
Time         8:25:11 PM
Latitude      42.005887
Longitude    -87.775343
Name: 2430, dtype: object
2431, Date         2013-07-17
Time         8:25:21 PM
Latitude      42.005542
Longitude     -87.77593
Name: 2431, dtype: object
2432, Date         2013-07-17
Time         8:25:31 PM
Latitude      42.005228
Longitude    -87.776585
Name: 2432, dtype: object
2433, Date         2013-07-17
Time         8:25:41 PM
Latitude      42.004908
Longitude     -87.77724
Name: 2433, dtype: object
2434, Date         2013-07-17
Time         8:25:51 PM
Latitude      42.004563
Longitude     -87.77794
Name: 2434, dtype: object
2435, Date         2013-07-17
Time         8:26:01 PM
Latitude       42.00422
Longitude    -87.778655
Name: 2435, dtype: object
2436, Date         2013-07-17
Time         8:26:11 PM
Latitude       42.00389
Longitude    -87.779392
Name: 2436, dtype: object
2437, Date         2013-07-17
Time         8:26:31 PM
Latitude      42.003562
Longitude     -87.77961
Name: 2437, dtype: object
2438, Date         2013-07-17
Time         8:26:41 PM
Latitude      42.003212
Longitude    -87.778823
Name: 2438, dtype: object
2439, Date         2013-07-17
Time         8:26:51 PM
Latitude        42.0033
Longitude    -87.778108
Name: 2439, dtype: object
2440, Date         2013-07-17
Time         8:27:01 PM
Latitude      42.003595
Longitude     -87.77757
Name: 2440, dtype: object
2441, Date         2013-07-17
Time         8:27:11 PM
Latitude      42.003833
Longitude    -87.777093
Name: 2441, dtype: object
2442, Date         2013-07-17
Time         8:27:21 PM
Latitude      42.004068
Longitude    -87.776637
Name: 2442, dtype: object
2443, Date         2013-07-17
Time         8:27:31 PM
Latitude       42.00431
Longitude    -87.776183
Name: 2443, dtype: object
2444, Date         2013-07-17
Time         8:27:41 PM
Latitude      42.004565
Longitude     -87.77562
Name: 2444, dtype: object
2445, Date         2013-07-17
Time         8:27:51 PM
Latitude      42.004802
Longitude    -87.775028
Name: 2445, dtype: object
2446, Date         2013-07-17
Time         8:28:01 PM
Latitude      42.005018
Longitude    -87.774572
Name: 2446, dtype: object
2447, Date         2013-07-17
Time         8:28:11 PM
Latitude      42.005242
Longitude    -87.774057
Name: 2447, dtype: object
2448, Date         2013-07-17
Time         8:28:21 PM
Latitude      42.005492
Longitude    -87.773503
Name: 2448, dtype: object
2449, Date         2013-07-17
Time         8:28:31 PM
Latitude      42.005758
Longitude    -87.772885
Name: 2449, dtype: object
2450, Date         2013-07-17
Time         8:28:41 PM
Latitude       42.00605
Longitude    -87.772287
Name: 2450, dtype: object
2451, Date         2013-07-17
Time         8:28:51 PM
Latitude      42.006358
Longitude    -87.771685
Name: 2451, dtype: object
2452, Date         2013-07-17
Time         8:29:01 PM
Latitude       42.00662
Longitude     -87.77117
Name: 2452, dtype: object
2453, Date         2013-07-17
Time         8:29:21 PM
Latitude      42.006157
Longitude    -87.770752
Name: 2453, dtype: object
2454, Date         2013-07-17
Time         8:29:31 PM
Latitude      42.005645
Longitude    -87.770435
Name: 2454, dtype: object
2455, Date         2013-07-17
Time         8:29:41 PM
Latitude      42.005208
Longitude    -87.770393
Name: 2455, dtype: object
2456, Date         2013-07-17
Time         8:29:51 PM
Latitude      42.004757
Longitude    -87.770705
Name: 2456, dtype: object
2457, Date         2013-07-17
Time         8:30:01 PM
Latitude      42.004297
Longitude    -87.771042
Name: 2457, dtype: object
2458, Date         2013-07-17
Time         8:30:11 PM
Latitude      42.003868
Longitude    -87.771308
Name: 2458, dtype: object
2459, Date         2013-07-17
Time         8:30:21 PM
Latitude      42.004072
Longitude    -87.771905
Name: 2459, dtype: object
2460, Date         2013-07-17
Time         8:30:31 PM
Latitude       42.00441
Longitude    -87.772588
Name: 2460, dtype: object
2461, Date         2013-07-17
Time         8:30:41 PM
Latitude      42.004682
Longitude     -87.77265
Name: 2461, dtype: object
2462, Date         2013-07-17
Time         8:30:51 PM
Latitude      42.004962
Longitude     -87.77205
Name: 2462, dtype: object
2463, Date         2013-07-17
Time         8:31:01 PM
Latitude      42.005033
Longitude    -87.771582
Name: 2463, dtype: object
2464, Date         2013-07-17
Time         8:31:11 PM
Latitude      42.005328
Longitude    -87.771228
Name: 2464, dtype: object
2465, Date         2013-07-17
Time         8:31:21 PM
Latitude      42.005225
Longitude    -87.770713
Name: 2465, dtype: object
2466, Date         2013-07-17
Time         8:31:31 PM
Latitude      42.004937
Longitude    -87.770333
Name: 2466, dtype: object
2467, Date         2013-07-17
Time         8:31:41 PM
Latitude      42.004462
Longitude    -87.770723
Name: 2467, dtype: object
2468, Date         2013-07-17
Time         8:31:51 PM
Latitude      42.003927
Longitude    -87.771133
Name: 2468, dtype: object
2469, Date         2013-07-17
Time         8:32:01 PM
Latitude      42.003988
Longitude    -87.771647
Name: 2469, dtype: object
2470, Date         2013-07-17
Time         8:32:11 PM
Latitude       42.00416
Longitude     -87.77232
Name: 2470, dtype: object
2471, Date         2013-07-17
Time         8:32:21 PM
Latitude       42.00361
Longitude    -87.772715
Name: 2471, dtype: object
2472, Date         2013-07-17
Time         8:32:31 PM
Latitude      42.003093
Longitude    -87.773132
Name: 2472, dtype: object
2473, Date         2013-07-17
Time         8:32:41 PM
Latitude        42.0026
Longitude    -87.773522
Name: 2473, dtype: object
2474, Date         2013-07-17
Time         8:32:51 PM
Latitude       42.00212
Longitude      -87.7739
Name: 2474, dtype: object
2475, Date         2013-07-17
Time         8:33:01 PM
Latitude      42.001618
Longitude    -87.774293
Name: 2475, dtype: object
2476, Date         2013-07-17
Time         8:33:31 PM
Latitude      42.000897
Longitude     -87.77403
Name: 2476, dtype: object
2477, Date         2013-07-17
Time         8:33:41 PM
Latitude      42.000912
Longitude    -87.773517
Name: 2477, dtype: object
2478, Date         2013-07-17
Time         8:33:51 PM
Latitude      42.001323
Longitude    -87.773185
Name: 2478, dtype: object
2479, Date         2013-07-17
Time         8:34:01 PM
Latitude      42.001765
Longitude    -87.772818
Name: 2479, dtype: object
2480, Date         2013-07-17
Time         8:34:11 PM
Latitude      42.002092
Longitude    -87.772565
Name: 2480, dtype: object
2481, Date         2013-07-17
Time         8:35:21 PM
Latitude      42.002005
Longitude    -87.772183
Name: 2481, dtype: object
2482, Date         2013-07-17
Time         8:35:31 PM
Latitude       42.00175
Longitude    -87.771615
Name: 2482, dtype: object
2483, Date         2013-07-17
Time         8:35:41 PM
Latitude      42.001228
Longitude    -87.772002
Name: 2483, dtype: object
2484, Date         2013-07-17
Time         8:35:51 PM
Latitude      42.000668
Longitude    -87.772453
Name: 2484, dtype: object
2485, Date         2013-07-17
Time         8:36:01 PM
Latitude       42.00031
Longitude    -87.772947
Name: 2485, dtype: object
2486, Date         2013-07-17
Time         8:36:11 PM
Latitude      42.000688
Longitude    -87.773712
Name: 2486, dtype: object
2487, Date         2013-07-17
Time         8:36:31 PM
Latitude      42.001482
Longitude     -87.77542
Name: 2487, dtype: object
2488, Date         2013-07-17
Time         8:36:41 PM
Latitude      42.001827
Longitude    -87.775753
Name: 2488, dtype: object
2489, Date         2013-07-17
Time         8:36:51 PM
Latitude       42.00233
Longitude    -87.775302
Name: 2489, dtype: object
2490, Date         2013-07-17
Time         8:37:01 PM
Latitude      42.002698
Longitude    -87.775668
Name: 2490, dtype: object
2491, Date         2013-07-17
Time         8:37:11 PM
Latitude      42.002813
Longitude    -87.776423
Name: 2491, dtype: object
2492, Date         2013-07-17
Time         8:37:21 PM
Latitude      42.002532
Longitude    -87.776625
Name: 2492, dtype: object
2493, Date         2013-07-17
Time         8:37:31 PM
Latitude      42.002833
Longitude    -87.776345
Name: 2493, dtype: object
2494, Date         2013-07-17
Time         8:37:41 PM
Latitude      42.002692
Longitude     -87.77562
Name: 2494, dtype: object
2495, Date         2013-07-17
Time         8:37:51 PM
Latitude      42.002608
Longitude     -87.77504
Name: 2495, dtype: object
2496, Date         2013-07-17
Time         8:38:01 PM
Latitude       42.00311
Longitude    -87.774635
Name: 2496, dtype: object
2497, Date         2013-07-17
Time         8:38:11 PM
Latitude      42.003578
Longitude    -87.774263
Name: 2497, dtype: object
2498, Date         2013-07-17
Time         8:38:21 PM
Latitude      42.004102
Longitude    -87.773843
Name: 2498, dtype: object
2499, Date         2013-07-17
Time         8:38:31 PM
Latitude      42.004582
Longitude    -87.773443
Name: 2499, dtype: object
2500, Date         2013-07-17
Time         8:38:41 PM
Latitude      42.004862
Longitude     -87.77384
Name: 2500, dtype: object
2501, Date         2013-07-17
Time         8:38:51 PM
Latitude      42.005048
Longitude    -87.773922
Name: 2501, dtype: object
2502, Date         2013-07-17
Time         8:39:01 PM
Latitude      42.005388
Longitude    -87.773268
Name: 2502, dtype: object
2503, Date         2013-07-17
Time         8:39:11 PM
Latitude      42.005682
Longitude    -87.772563
Name: 2503, dtype: object
2504, Date         2013-07-17
Time         8:39:21 PM
Latitude      42.005963
Longitude    -87.772038
Name: 2504, dtype: object
2505, Date         2013-07-17
Time         8:39:31 PM
Latitude      42.006247
Longitude    -87.772537
Name: 2505, dtype: object
2506, Date         2013-07-17
Time         8:39:41 PM
Latitude      42.006528
Longitude    -87.773075
Name: 2506, dtype: object
2507, Date         2013-07-17
Time         8:39:51 PM
Latitude      42.006843
Longitude    -87.773707
Name: 2507, dtype: object
2508, Date         2013-07-17
Time         8:40:01 PM
Latitude      42.007135
Longitude    -87.774298
Name: 2508, dtype: object
2509, Date         2013-07-17
Time         8:40:11 PM
Latitude       42.00745
Longitude    -87.774093
Name: 2509, dtype: object
2510, Date         2013-07-17
Time         8:40:21 PM
Latitude      42.007787
Longitude    -87.773412
Name: 2510, dtype: object
2511, Date         2013-07-17
Time         8:40:31 PM
Latitude      42.008143
Longitude     -87.77275
Name: 2511, dtype: object
2512, Date         2013-07-17
Time         8:40:41 PM
Latitude      42.008455
Longitude    -87.772088
Name: 2512, dtype: object
2513, Date         2013-07-17
Time         8:41:21 PM
Latitude      42.008472
Longitude    -87.771767
Name: 2513, dtype: object
2514, Date         2013-07-17
Time         8:41:31 PM
Latitude       42.00797
Longitude    -87.771475
Name: 2514, dtype: object
2515, Date         2013-07-17
Time         8:41:41 PM
Latitude      42.007422
Longitude    -87.771177
Name: 2515, dtype: object
2516, Date         2013-07-17
Time         8:41:51 PM
Latitude      42.006787
Longitude    -87.770838
Name: 2516, dtype: object
2517, Date         2013-07-17
Time         8:42:01 PM
Latitude       42.00617
Longitude     -87.77049
Name: 2517, dtype: object
2518, Date         2013-07-17
Time         8:42:11 PM
Latitude      42.005567
Longitude    -87.770152
Name: 2518, dtype: object
2519, Date         2013-07-17
Time         8:42:21 PM
Latitude      42.004937
Longitude    -87.769803
Name: 2519, dtype: object
2520, Date         2013-07-17
Time         8:42:31 PM
Latitude      42.004332
Longitude    -87.769468
Name: 2520, dtype: object
2521, Date         2013-07-17
Time         8:42:41 PM
Latitude      42.003815
Longitude    -87.769175
Name: 2521, dtype: object
2522, Date         2013-07-17
Time         8:42:51 PM
Latitude      42.003283
Longitude     -87.76888
Name: 2522, dtype: object
2523, Date         2013-07-17
Time         8:43:01 PM
Latitude      42.002778
Longitude    -87.768593
Name: 2523, dtype: object
2524, Date         2013-07-17
Time         8:43:11 PM
Latitude      42.002208
Longitude    -87.768287
Name: 2524, dtype: object
2525, Date         2013-07-17
Time         8:43:21 PM
Latitude      42.001632
Longitude    -87.767975
Name: 2525, dtype: object
2526, Date         2013-07-17
Time         8:43:31 PM
Latitude      42.001057
Longitude    -87.767655
Name: 2526, dtype: object
2527, Date         2013-07-17
Time         8:43:41 PM
Latitude      42.000488
Longitude    -87.767347
Name: 2527, dtype: object
2528, Date         2013-07-17
Time         8:43:51 PM
Latitude      41.999907
Longitude    -87.767038
Name: 2528, dtype: object
2529, Date         2013-07-17
Time         8:44:01 PM
Latitude       41.99924
Longitude    -87.766682
Name: 2529, dtype: object
2530, Date         2013-07-17
Time         8:44:11 PM
Latitude      41.998498
Longitude    -87.766323
Name: 2530, dtype: object
2531, Date         2013-07-17
Time         8:44:21 PM
Latitude      41.997883
Longitude    -87.766047
Name: 2531, dtype: object
2532, Date          2013-07-17
Time         10:49:04 AM
Latitude       41.973142
Longitude     -87.870252
Name: 2532, dtype: object
2533, Date          2013-07-17
Time         10:49:14 AM
Latitude        41.97314
Longitude     -87.870737
Name: 2533, dtype: object
2534, Date          2013-07-17
Time         10:49:24 AM
Latitude       41.972853
Longitude     -87.871023
Name: 2534, dtype: object
2535, Date          2013-07-17
Time         10:49:34 AM
Latitude       41.972617
Longitude     -87.870615
Name: 2535, dtype: object
2536, Date          2013-07-17
Time         10:49:44 AM
Latitude        41.97271
Longitude      -87.87015
Name: 2536, dtype: object
2537, Date         2013-07-17
Time         8:01:37 PM
Latitude       41.72879
Longitude    -87.642872
Name: 2537, dtype: object
2538, Date         2013-07-17
Time         8:01:47 PM
Latitude       41.72879
Longitude    -87.642375
Name: 2538, dtype: object
2539, Date         2013-07-17
Time         8:01:57 PM
Latitude      41.728815
Longitude    -87.641942
Name: 2539, dtype: object
2540, Date         2013-07-17
Time         8:02:07 PM
Latitude       41.72881
Longitude    -87.641263
Name: 2540, dtype: object
2541, Date         2013-07-17
Time         8:02:17 PM
Latitude      41.728832
Longitude    -87.640528
Name: 2541, dtype: object
2542, Date         2013-07-17
Time         8:02:27 PM
Latitude      41.728848
Longitude    -87.639855
Name: 2542, dtype: object
2543, Date         2013-07-17
Time         8:02:37 PM
Latitude      41.728848
Longitude    -87.639005
Name: 2543, dtype: object
2544, Date         2013-07-17
Time         8:02:47 PM
Latitude      41.728873
Longitude     -87.63821
Name: 2544, dtype: object
2545, Date         2013-07-17
Time         8:02:57 PM
Latitude      41.728887
Longitude    -87.637482
Name: 2545, dtype: object
2546, Date         2013-07-17
Time         8:03:07 PM
Latitude      41.728893
Longitude    -87.636668
Name: 2546, dtype: object
2547, Date         2013-07-17
Time         8:03:17 PM
Latitude      41.728877
Longitude    -87.636118
Name: 2547, dtype: object

2635, Date         2013-07-17
Time         8:21:57 PM
Latitude       41.72888
Longitude    -87.636798
Name: 2635, dtype: object
2636, Date         2013-07-17
Time         8:22:07 PM
Latitude      41.728675
Longitude    -87.637377
Name: 2636, dtype: object
2637, Date         2013-07-17
Time         8:22:17 PM
Latitude      41.727968
Longitude    -87.637347
Name: 2637, dtype: object
2638, Date         2013-07-17
Time         8:22:27 PM
Latitude      41.727268
Longitude    -87.637325
Name: 2638, dtype: object
2639, Date         2013-07-17
Time         8:22:37 PM
Latitude      41.726587
Longitude    -87.637307
Name: 2639, dtype: object
2640, Date         2013-07-17
Time         8:22:47 PM
Latitude       41.72608
Longitude    -87.637282
Name: 2640, dtype: object
2641, Date         2013-07-17
Time         8:22:57 PM
Latitude      41.725562
Longitude    -87.637277
Name: 2641, dtype: object
2642, Date         2013-07-17
Time         8:23:07 PM
Latitude      41.724872
Longitude    -87.637263
Name: 2642, dtype: object
2643, Date         2013-07-17
Time         8:23:17 PM
Latitude      41.724357
Longitude    -87.637247
Name: 2643, dtype: object
2644, Date         2013-07-17
Time         8:23:27 PM
Latitude      41.723888
Longitude    -87.637228
Name: 2644, dtype: object
2645, Date         2013-07-17
Time         8:23:37 PM
Latitude      41.723443
Longitude    -87.637227
Name: 2645, dtype: object
2646, Date         2013-07-17
Time         8:23:47 PM
Latitude      41.722795
Longitude    -87.637212
Name: 2646, dtype: object
2647, Date         2013-07-17
Time         8:24:37 PM
Latitude       41.72221
Longitude    -87.637193
Name: 2647, dtype: object
2648, Date         2013-07-17
Time         8:25:47 PM
Latitude      41.721673
Longitude     -87.63777
Name: 2648, dtype: object
2649, Date         2013-07-17
Time         8:25:57 PM
Latitude      41.721805
Longitude      -87.6384
Name: 2649, dtype: object
2650, Date         2013-07-17
Time         8:26:07 PM
Latitude      41.722423
Longitude     -87.63841
Name: 2650, dtype: object
2651, Date         2013-07-17
Time         8:26:17 PM
Latitude      41.723065
Longitude    -87.638423
Name: 2651, dtype: object
2652, Date         2013-07-17
Time         8:26:27 PM
Latitude      41.723707
Longitude    -87.638443
Name: 2652, dtype: object
2653, Date         2013-07-17
Time         8:26:37 PM
Latitude      41.724252
Longitude    -87.638448
Name: 2653, dtype: object
2654, Date         2013-07-17
Time         8:26:47 PM
Latitude      41.724765
Longitude    -87.638467
Name: 2654, dtype: object
2655, Date         2013-07-17
Time         8:26:57 PM
Latitude      41.725342
Longitude    -87.638493
Name: 2655, dtype: object
2656, Date         2013-07-17
Time         8:27:07 PM
Latitude      41.726037
Longitude     -87.63851
Name: 2656, dtype: object
2657, Date         2013-07-17
Time         8:27:17 PM
Latitude      41.726752
Longitude    -87.638523
Name: 2657, dtype: object
2658, Date         2013-07-17
Time         8:27:27 PM
Latitude      41.727372
Longitude    -87.638525
Name: 2658, dtype: object
2659, Date         2013-07-17
Time         8:27:37 PM
Latitude      41.728047
Longitude    -87.638557
Name: 2659, dtype: object
2660, Date         2013-07-17
Time         8:27:47 PM
Latitude      41.728672
Longitude     -87.63855
Name: 2660, dtype: object
2661, Date         2013-07-17
Time         8:27:57 PM
Latitude      41.728763
Longitude     -87.63915
Name: 2661, dtype: object
2662, Date         2013-07-17
Time         8:28:17 PM
Latitude        41.7283
Longitude    -87.639735
Name: 2662, dtype: object
2663, Date         2013-07-17
Time         8:28:27 PM
Latitude      41.727623
Longitude    -87.639715
Name: 2663, dtype: object
2664, Date         2013-07-17
Time         8:28:37 PM
Latitude      41.726925
Longitude     -87.63969
Name: 2664, dtype: object
2665, Date         2013-07-17
Time         8:28:47 PM
Latitude      41.726187
Longitude    -87.639668
Name: 2665, dtype: object
2666, Date         2013-07-17
Time         8:28:57 PM
Latitude       41.72547
Longitude     -87.63965
Name: 2666, dtype: object
2667, Date         2013-07-17
Time         8:29:07 PM
Latitude      41.724838
Longitude    -87.639673
Name: 2667, dtype: object
2668, Date         2013-07-17
Time         8:29:17 PM
Latitude      41.724347
Longitude     -87.63964
Name: 2668, dtype: object
2669, Date         2013-07-17
Time         8:29:27 PM
Latitude        41.7239
Longitude    -87.639633
Name: 2669, dtype: object
2670, Date         2013-07-17
Time         8:29:37 PM
Latitude       41.72336
Longitude     -87.63961
Name: 2670, dtype: object
2671, Date         2013-07-17
Time         8:29:47 PM
Latitude      41.722825
Longitude    -87.639602
Name: 2671, dtype: object
2672, Date         2013-07-17
Time         8:29:57 PM
Latitude      41.722298
Longitude    -87.639573
Name: 2672, dtype: object
2673, Date         2013-07-17
Time         8:30:07 PM
Latitude       41.72189
Longitude    -87.639573
Name: 2673, dtype: object
2674, Date         2013-07-17
Time         8:30:27 PM
Latitude      41.721708
Longitude    -87.639723
Name: 2674, dtype: object
2675, Date         2013-07-17
Time         8:30:37 PM
Latitude      41.721698
Longitude    -87.640663
Name: 2675, dtype: object
2676, Date         2013-07-17
Time         8:30:47 PM
Latitude      41.722105
Longitude    -87.640787
Name: 2676, dtype: object
2677, Date         2013-07-17
Time         8:30:57 PM
Latitude       41.72246
Longitude    -87.640788
Name: 2677, dtype: object
2678, Date         2013-07-17
Time         8:31:17 PM
Latitude      41.723298
Longitude    -87.640818
Name: 2678, dtype: object
2679, Date         2013-07-17
Time         8:31:27 PM
Latitude      41.723823
Longitude    -87.640843
Name: 2679, dtype: object
2680, Date         2013-07-17
Time         8:31:37 PM
Latitude      41.724228
Longitude    -87.640853
Name: 2680, dtype: object
2681, Date         2013-07-17
Time         8:31:47 PM
Latitude       41.72471
Longitude     -87.64087
Name: 2681, dtype: object
2682, Date         2013-07-17
Time         8:31:57 PM
Latitude      41.725308
Longitude    -87.640897
Name: 2682, dtype: object
2683, Date         2013-07-17
Time         8:32:07 PM
Latitude      41.726028
Longitude    -87.640908
Name: 2683, dtype: object
2684, Date         2013-07-17
Time         8:32:17 PM
Latitude       41.72668
Longitude    -87.640932
Name: 2684, dtype: object
2685, Date         2013-07-17
Time         8:32:27 PM
Latitude       41.72738
Longitude     -87.64095
Name: 2685, dtype: object
2686, Date         2013-07-17
Time         8:32:37 PM
Latitude      41.728112
Longitude    -87.640987
Name: 2686, dtype: object
2687, Date         2013-07-17
Time         8:32:47 PM
Latitude      41.728672
Longitude    -87.641123
Name: 2687, dtype: object
2688, Date         2013-07-17
Time         8:32:57 PM
Latitude      41.728648
Longitude     -87.64185
Name: 2688, dtype: object
2689, Date         2013-07-17
Time         8:33:07 PM
Latitude      41.728437
Longitude    -87.642188
Name: 2689, dtype: object
2690, Date         2013-07-17
Time         8:33:17 PM
Latitude      41.728018
Longitude    -87.642172
Name: 2690, dtype: object
2691, Date         2013-07-17
Time         8:33:27 PM
Latitude       41.72752
Longitude    -87.642145
Name: 2691, dtype: object
2692, Date         2013-07-17
Time         8:33:37 PM
Latitude       41.72713
Longitude    -87.642137
Name: 2692, dtype: object
2693, Date         2013-07-17
Time         8:33:47 PM
Latitude      41.726583
Longitude     -87.64212
Name: 2693, dtype: object
2694, Date         2013-07-17
Time         8:33:57 PM
Latitude      41.725955
Longitude    -87.642105
Name: 2694, dtype: object
2695, Date         2013-07-17
Time         8:34:07 PM
Latitude      41.725315
Longitude    -87.642077
Name: 2695, dtype: object
2696, Date         2013-07-17
Time         8:34:17 PM
Latitude      41.724637
Longitude    -87.642047
Name: 2696, dtype: object
2697, Date         2013-07-17
Time         8:34:27 PM
Latitude      41.723912
Longitude    -87.642035
Name: 2697, dtype: object
2698, Date         2013-07-17
Time         8:34:37 PM
Latitude      41.723243
Longitude     -87.64201
Name: 2698, dtype: object
2699, Date         2013-07-17
Time         8:34:47 PM
Latitude      41.722577
Longitude    -87.641985
Name: 2699, dtype: object
2700, Date         2013-07-17
Time         8:34:57 PM
Latitude      41.721918
Longitude    -87.641972
Name: 2700, dtype: object
2701, Date         2013-07-17
Time         8:35:47 PM
Latitude      41.721137
Longitude     -87.64196
Name: 2701, dtype: object
2702, Date         2013-07-17
Time         8:35:57 PM
Latitude       41.72068
Longitude    -87.641947
Name: 2702, dtype: object
2703, Date         2013-07-17
Time         8:36:07 PM
Latitude       41.72024
Longitude    -87.641935
Name: 2703, dtype: object
2704, Date         2013-07-17
Time         8:36:17 PM
Latitude       41.71968
Longitude    -87.641915
Name: 2704, dtype: object
2705, Date         2013-07-17
Time         8:36:27 PM
Latitude      41.718995
Longitude    -87.641908
Name: 2705, dtype: object
2706, Date         2013-07-17
Time         8:36:37 PM
Latitude      41.718333
Longitude    -87.641895
Name: 2706, dtype: object
2707, Date         2013-07-17
Time         8:36:47 PM
Latitude      41.717682
Longitude    -87.641878
Name: 2707, dtype: object
2708, Date         2013-07-17
Time         8:36:57 PM
Latitude      41.717137
Longitude    -87.641875
Name: 2708, dtype: object
2709, Date         2013-07-17
Time         8:37:07 PM
Latitude       41.71659
Longitude    -87.641858
Name: 2709, dtype: object
2710, Date         2013-07-17
Time         8:37:17 PM
Latitude      41.716233
Longitude    -87.641633
Name: 2710, dtype: object
2711, Date         2013-07-17
Time         8:37:27 PM
Latitude       41.71623
Longitude    -87.640817
Name: 2711, dtype: object
2712, Date         2013-07-17
Time         8:37:37 PM
Latitude      41.716652
Longitude     -87.64073
Name: 2712, dtype: object
2713, Date         2013-07-17
Time         8:37:47 PM
Latitude       41.71732
Longitude     -87.64074
Name: 2713, dtype: object
2714, Date         2013-07-17
Time         8:37:57 PM
Latitude      41.717973
Longitude    -87.640758
Name: 2714, dtype: object
2715, Date         2013-07-17
Time         8:38:07 PM
Latitude      41.718715
Longitude     -87.64078
Name: 2715, dtype: object
2716, Date         2013-07-17
Time         8:38:17 PM
Latitude      41.719367
Longitude    -87.640783
Name: 2716, dtype: object
2717, Date         2013-07-17
Time         8:38:27 PM
Latitude      41.720045
Longitude    -87.640785
Name: 2717, dtype: object
2718, Date         2013-07-17
Time         8:38:37 PM
Latitude      41.720613
Longitude    -87.640807
Name: 2718, dtype: object
2719, Date         2013-07-17
Time         8:38:47 PM
Latitude       41.72115
Longitude    -87.640823
Name: 2719, dtype: object
2720, Date         2013-07-17
Time         8:38:57 PM
Latitude      41.721452
Longitude    -87.640508
Name: 2720, dtype: object
2721, Date         2013-07-17
Time         8:39:07 PM
Latitude      41.721393
Longitude    -87.639633
Name: 2721, dtype: object
2722, Date         2013-07-17
Time         8:39:17 PM
Latitude      41.720787
Longitude    -87.639613
Name: 2722, dtype: object
2723, Date         2013-07-17
Time         8:39:27 PM
Latitude      41.720125
Longitude    -87.639587
Name: 2723, dtype: object
2724, Date         2013-07-17
Time         8:39:37 PM
Latitude      41.719487
Longitude     -87.63956
Name: 2724, dtype: object
2725, Date         2013-07-17
Time         8:39:47 PM
Latitude      41.718808
Longitude     -87.63954
Name: 2725, dtype: object
2726, Date         2013-07-17
Time         8:39:57 PM
Latitude      41.718182
Longitude    -87.639528
Name: 2726, dtype: object
2727, Date         2013-07-17
Time         8:40:07 PM
Latitude      41.717555
Longitude    -87.639502
Name: 2727, dtype: object
2728, Date         2013-07-17
Time         8:40:17 PM
Latitude      41.716952
Longitude    -87.639477
Name: 2728, dtype: object
2729, Date         2013-07-17
Time         8:40:27 PM
Latitude      41.716457
Longitude    -87.639472
Name: 2729, dtype: object
2730, Date         2013-07-17
Time         8:40:37 PM
Latitude       41.71624
Longitude     -87.63909
Name: 2730, dtype: object
2731, Date         2013-07-17
Time         8:40:47 PM
Latitude      41.716297
Longitude    -87.638332
Name: 2731, dtype: object
2732, Date         2013-07-17
Time         8:40:57 PM
Latitude      41.716867
Longitude    -87.638307
Name: 2732, dtype: object
2733, Date         2013-07-17
Time         8:41:07 PM
Latitude      41.717577
Longitude    -87.638292
Name: 2733, dtype: object
2734, Date         2013-07-17
Time         8:41:27 PM
Latitude      41.718538
Longitude    -87.638343
Name: 2734, dtype: object
2735, Date         2013-07-17
Time         8:41:37 PM
Latitude      41.719253
Longitude     -87.63836
Name: 2735, dtype: object
2736, Date         2013-07-17
Time         8:41:47 PM
Latitude      41.719827
Longitude    -87.638368
Name: 2736, dtype: object
2737, Date         2013-07-17
Time         8:41:57 PM
Latitude      41.720522
Longitude    -87.638392
Name: 2737, dtype: object
2738, Date         2013-07-17
Time         8:42:07 PM
Latitude      41.721198
Longitude    -87.638395
Name: 2738, dtype: object
2739, Date         2013-07-17
Time         8:42:27 PM
Latitude      41.721463
Longitude     -87.63783
Name: 2739, dtype: object
2740, Date         2013-07-17
Time         8:42:37 PM
Latitude      41.721255
Longitude    -87.637165
Name: 2740, dtype: object
2741, Date         2013-07-17
Time         8:42:47 PM
Latitude      41.720503
Longitude    -87.637157
Name: 2741, dtype: object
2742, Date         2013-07-17
Time         8:42:57 PM
Latitude      41.719887
Longitude    -87.637127
Name: 2742, dtype: object
2743, Date         2013-07-17
Time         8:43:07 PM
Latitude       41.71919
Longitude    -87.637105
Name: 2743, dtype: object
2744, Date         2013-07-17
Time         8:43:17 PM
Latitude      41.718492
Longitude     -87.63709
Name: 2744, dtype: object
2745, Date         2013-07-17
Time         8:43:27 PM
Latitude      41.717807
Longitude    -87.637087
Name: 2745, dtype: object
2746, Date         2013-07-17
Time         8:43:37 PM
Latitude       41.71724
Longitude    -87.637062
Name: 2746, dtype: object
2747, Date         2013-07-17
Time         8:43:47 PM
Latitude      41.716745
Longitude    -87.637047
Name: 2747, dtype: object
2748, Date         2013-07-17
Time         8:43:57 PM
Latitude      41.716218
Longitude    -87.636865
Name: 2748, dtype: object
2749, Date         2013-07-17
Time         8:44:07 PM
Latitude      41.716227
Longitude    -87.636038
Name: 2749, dtype: object
2750, Date         2013-07-17
Time         8:44:17 PM
Latitude      41.716723
Longitude    -87.635883
Name: 2750, dtype: object
2751, Date         2013-07-17
Time         8:44:27 PM
Latitude       41.71739
Longitude    -87.635908
Name: 2751, dtype: object
2752, Date         2013-07-17
Time         8:44:37 PM
Latitude      41.718075
Longitude    -87.635912
Name: 2752, dtype: object
2753, Date         2013-07-17
Time         8:44:47 PM
Latitude      41.718765
Longitude    -87.635928
Name: 2753, dtype: object
2754, Date         2013-07-17
Time         8:44:57 PM
Latitude      41.719423
Longitude    -87.635935
Name: 2754, dtype: object
2755, Date         2013-07-17
Time         8:45:07 PM
Latitude       41.72008
Longitude    -87.635938
Name: 2755, dtype: object
2756, Date         2013-07-17
Time         8:45:17 PM
Latitude       41.72082
Longitude    -87.635958
Name: 2756, dtype: object
2757, Date         2013-07-17
Time         8:45:27 PM
Latitude      41.721483
Longitude     -87.63594
Name: 2757, dtype: object
2758, Date         2013-07-17
Time         8:45:47 PM
Latitude      41.721448
Longitude     -87.63401
Name: 2758, dtype: object
2759, Date         2013-07-17
Time         8:45:57 PM
Latitude      41.720897
Longitude    -87.634005
Name: 2759, dtype: object
2760, Date         2013-07-17
Time         8:46:07 PM
Latitude      41.720293
Longitude    -87.633992
Name: 2760, dtype: object
2761, Date         2013-07-17
Time         8:46:17 PM
Latitude       41.71961
Longitude     -87.63397
Name: 2761, dtype: object
2762, Date         2013-07-17
Time         8:46:27 PM
Latitude       41.71892
Longitude    -87.633973
Name: 2762, dtype: object
2763, Date         2013-07-17
Time         8:46:37 PM
Latitude      41.718247
Longitude    -87.633955
Name: 2763, dtype: object
2764, Date         2013-07-17
Time         8:46:47 PM
Latitude      41.717745
Longitude    -87.633938
Name: 2764, dtype: object
2765, Date         2013-07-17
Time         8:46:57 PM
Latitude      41.717043
Longitude    -87.633917
Name: 2765, dtype: object
2766, Date         2013-07-17
Time         8:47:07 PM
Latitude      41.716378
Longitude    -87.633907
Name: 2766, dtype: object
2767, Date         2013-07-17
Time         8:47:17 PM
Latitude      41.716255
Longitude    -87.634577
Name: 2767, dtype: object
2768, Date         2013-07-17
Time         8:47:27 PM
Latitude       41.71622
Longitude    -87.635467
Name: 2768, dtype: object
2769, Date         2013-07-17
Time         8:47:37 PM
Latitude      41.716535
Longitude    -87.635843
Name: 2769, dtype: object
2770, Date         2013-07-17
Time         8:47:47 PM
Latitude      41.717082
Longitude    -87.635778
Name: 2770, dtype: object
2771, Date         2013-07-17
Time         8:47:57 PM
Latitude      41.717083
Longitude    -87.634927
Name: 2771, dtype: object
2772, Date         2013-07-17
Time         8:48:07 PM
Latitude      41.717092
Longitude    -87.634083
Name: 2772, dtype: object
2773, Date         2013-07-17
Time         8:48:17 PM
Latitude      41.717595
Longitude     -87.63394
Name: 2773, dtype: object
2774, Date         2013-07-17
Time         8:48:27 PM
Latitude       41.71796
Longitude     -87.63432
Name: 2774, dtype: object
2775, Date         2013-07-17
Time         8:48:37 PM
Latitude      41.717968
Longitude    -87.635153
Name: 2775, dtype: object
2776, Date         2013-07-17
Time         8:48:47 PM
Latitude      41.718002
Longitude    -87.635875
Name: 2776, dtype: object
2777, Date         2013-07-17
Time         8:48:57 PM
Latitude      41.718597
Longitude    -87.635893
Name: 2777, dtype: object
2778, Date         2013-07-17
Time         8:49:07 PM
Latitude      41.718837
Longitude    -87.635393
Name: 2778, dtype: object
2779, Date         2013-07-17
Time         8:49:17 PM
Latitude      41.718835
Longitude     -87.63445
Name: 2779, dtype: object
2780, Date         2013-07-17
Time         8:49:27 PM
Latitude      41.718993
Longitude    -87.633947
Name: 2780, dtype: object
2781, Date         2013-07-17
Time         8:49:37 PM
Latitude      41.719633
Longitude    -87.633993
Name: 2781, dtype: object
2782, Date         2013-07-17
Time         8:49:47 PM
Latitude       41.71972
Longitude     -87.63463
Name: 2782, dtype: object
2783, Date         2013-07-17
Time         8:49:57 PM
Latitude      41.719713
Longitude    -87.635345
Name: 2783, dtype: object
2784, Date         2013-07-17
Time         8:50:07 PM
Latitude      41.719707
Longitude    -87.636068
Name: 2784, dtype: object
2785, Date         2013-07-17
Time         8:50:17 PM
Latitude      41.719697
Longitude    -87.637052
Name: 2785, dtype: object
2786, Date         2013-07-17
Time         8:50:27 PM
Latitude       41.71968
Longitude    -87.638005
Name: 2786, dtype: object
2787, Date         2013-07-17
Time         8:50:37 PM
Latitude      41.719678
Longitude    -87.638915
Name: 2787, dtype: object
2788, Date         2013-07-17
Time         8:50:47 PM
Latitude      41.719663
Longitude     -87.63981
Name: 2788, dtype: object
2789, Date         2013-07-17
Time         8:50:57 PM
Latitude      41.719665
Longitude    -87.640727
Name: 2789, dtype: object
2790, Date         2013-07-17
Time         8:51:07 PM
Latitude      41.719647
Longitude    -87.641663
Name: 2790, dtype: object
2791, Date         2013-07-17

2933, Date         2013-07-17
Time         9:19:27 PM
Latitude      41.717047
Longitude    -87.650877
Name: 2933, dtype: object
2934, Date         2013-07-17
Time         9:19:37 PM
Latitude      41.717615
Longitude    -87.650688
Name: 2934, dtype: object
2935, Date         2013-07-17
Time         9:19:47 PM
Latitude      41.718167
Longitude     -87.65049
Name: 2935, dtype: object
2936, Date         2013-07-17
Time         9:19:57 PM
Latitude      41.718662
Longitude    -87.650313
Name: 2936, dtype: object
2937, Date         2013-07-17
Time         9:20:07 PM
Latitude      41.719158
Longitude    -87.650125
Name: 2937, dtype: object
2938, Date         2013-07-17
Time         9:20:27 PM
Latitude      41.720623
Longitude    -87.649563
Name: 2938, dtype: object
2939, Date         2013-07-17
Time         9:21:27 PM
Latitude      41.721307
Longitude     -87.64948
Name: 2939, dtype: object
2940, Date         2013-07-17
Time         9:22:07 PM
Latitude       41.72135
Longitude    -87.650313
Name: 2940, dtype: object
2941, Date         2013-07-17
Time         9:22:17 PM
Latitude      41.721347
Longitude    -87.650825
Name: 2941, dtype: object
2942, Date         2013-07-17
Time         9:22:37 PM
Latitude       41.72137
Longitude    -87.652947
Name: 2942, dtype: object
2943, Date         2013-07-17
Time         9:22:47 PM
Latitude      41.721943
Longitude     -87.65298
Name: 2943, dtype: object
2944, Date         2013-07-17
Time         9:22:57 PM
Latitude      41.722568
Longitude    -87.652993
Name: 2944, dtype: object
2945, Date         2013-07-17
Time         9:23:07 PM
Latitude      41.723172
Longitude     -87.65302
Name: 2945, dtype: object
2946, Date         2013-07-17
Time         9:23:17 PM
Latitude      41.723843
Longitude    -87.653033
Name: 2946, dtype: object
2947, Date         2013-07-17
Time         9:23:27 PM
Latitude      41.724553
Longitude    -87.653053
Name: 2947, dtype: object
2948, Date         2013-07-17
Time         9:23:37 PM
Latitude      41.724903
Longitude    -87.653067
Name: 2948, dtype: object
2949, Date         2013-07-17
Time         9:23:47 PM
Latitude      41.725535
Longitude    -87.653082
Name: 2949, dtype: object
2950, Date         2013-07-17
Time         9:23:57 PM
Latitude       41.72621
Longitude    -87.653078
Name: 2950, dtype: object
2951, Date         2013-07-17
Time         9:24:07 PM
Latitude      41.726858
Longitude    -87.653097
Name: 2951, dtype: object
2952, Date         2013-07-17
Time         9:24:17 PM
Latitude      41.727498
Longitude     -87.65313
Name: 2952, dtype: object
2953, Date         2013-07-17
Time         9:24:27 PM
Latitude      41.728193
Longitude    -87.653115
Name: 2953, dtype: object
2954, Date         2013-07-17
Time         9:24:37 PM
Latitude       41.72851
Longitude    -87.652877
Name: 2954, dtype: object
2955, Date         2013-07-17
Time         9:24:47 PM
Latitude        41.7285
Longitude    -87.652095
Name: 2955, dtype: object
2956, Date         2013-07-17
Time         9:24:57 PM
Latitude      41.728145
Longitude    -87.651947
Name: 2956, dtype: object
2957, Date         2013-07-17
Time         9:25:07 PM
Latitude       41.72756
Longitude    -87.651932
Name: 2957, dtype: object
2958, Date         2013-07-17
Time         9:25:17 PM
Latitude      41.726992
Longitude     -87.65191
Name: 2958, dtype: object
2959, Date         2013-07-17
Time         9:25:27 PM
Latitude      41.726482
Longitude    -87.651908
Name: 2959, dtype: object
2960, Date         2013-07-17
Time         9:25:37 PM
Latitude       41.72591
Longitude    -87.651892
Name: 2960, dtype: object
2961, Date         2013-07-17
Time         9:25:47 PM
Latitude      41.725337
Longitude     -87.65188
Name: 2961, dtype: object
2962, Date         2013-07-17
Time         9:25:57 PM
Latitude      41.724952
Longitude    -87.651868
Name: 2962, dtype: object
2963, Date         2013-07-17
Time         9:26:07 PM
Latitude       41.72431
Longitude    -87.651847
Name: 2963, dtype: object
2964, Date         2013-07-17
Time         9:26:17 PM
Latitude      41.723697
Longitude    -87.651815
Name: 2964, dtype: object
2965, Date         2013-07-17
Time         9:26:27 PM
Latitude      41.723072
Longitude    -87.651803
Name: 2965, dtype: object
2966, Date         2013-07-17
Time         9:26:37 PM
Latitude      41.722455
Longitude     -87.65178
Name: 2966, dtype: object
2967, Date         2013-07-17
Time         9:26:47 PM
Latitude      41.721822
Longitude    -87.651782
Name: 2967, dtype: object
2968, Date         2013-07-17
Time         9:27:17 PM
Latitude      41.721795
Longitude    -87.652985
Name: 2968, dtype: object
2969, Date         2013-07-17
Time         9:27:27 PM
Latitude      41.722337
Longitude    -87.652993
Name: 2969, dtype: object
2970, Date         2013-07-17
Time         9:27:37 PM
Latitude      41.722907
Longitude    -87.653013
Name: 2970, dtype: object
2971, Date         2013-07-17
Time         9:27:47 PM
Latitude      41.723158
Longitude    -87.652683
Name: 2971, dtype: object
2972, Date         2013-07-17
Time         9:27:57 PM
Latitude      41.723148
Longitude     -87.65191
Name: 2972, dtype: object
2973, Date         2013-07-17
Time         9:28:07 PM
Latitude      41.723177
Longitude    -87.651082
Name: 2973, dtype: object
2974, Date         2013-07-17
Time         9:28:17 PM
Latitude       41.72347
Longitude    -87.650623
Name: 2974, dtype: object
2975, Date         2013-07-17
Time         9:28:27 PM
Latitude       41.72409
Longitude    -87.650645
Name: 2975, dtype: object
2976, Date         2013-07-17
Time         9:28:37 PM
Latitude      41.724703
Longitude     -87.65065
Name: 2976, dtype: object
2977, Date         2013-07-17
Time         9:28:47 PM
Latitude      41.724942
Longitude    -87.650962
Name: 2977, dtype: object
2978, Date         2013-07-17
Time         9:28:57 PM
Latitude       41.72494
Longitude    -87.651798
Name: 2978, dtype: object
2979, Date         2013-07-17
Time         9:29:07 PM
Latitude      41.724923
Longitude    -87.652592
Name: 2979, dtype: object
2980, Date         2013-07-17
Time         9:29:17 PM
Latitude      41.724983
Longitude    -87.653018
Name: 2980, dtype: object
2981, Date         2013-07-17
Time         9:29:27 PM
Latitude      41.725563
Longitude    -87.653032
Name: 2981, dtype: object
2982, Date         2013-07-17
Time         9:29:37 PM
Latitude      41.726207
Longitude     -87.65303
Name: 2982, dtype: object
2983, Date         2013-07-17
Time         9:29:47 PM
Latitude      41.726692
Longitude    -87.652937
Name: 2983, dtype: object
2984, Date         2013-07-17
Time         9:29:57 PM
Latitude      41.726695
Longitude    -87.652148
Name: 2984, dtype: object
2985, Date         2013-07-17
Time         9:30:07 PM
Latitude      41.726722
Longitude    -87.651278
Name: 2985, dtype: object
2986, Date         2013-07-17
Time         9:30:17 PM
Latitude      41.726747
Longitude    -87.650385
Name: 2986, dtype: object
2987, Date         2013-07-17
Time         9:30:27 PM
Latitude       41.72674
Longitude    -87.649623
Name: 2987, dtype: object
2988, Date         2013-07-17
Time         9:30:37 PM
Latitude      41.727195
Longitude    -87.649545
Name: 2988, dtype: object
2989, Date         2013-07-17
Time         9:30:47 PM
Latitude      41.727738
Longitude    -87.649557
Name: 2989, dtype: object
2990, Date         2013-07-17
Time         9:30:57 PM
Latitude      41.728275
Longitude    -87.649567
Name: 2990, dtype: object
2991, Date         2013-07-17
Time         9:31:07 PM
Latitude      41.728485
Longitude     -87.65005
Name: 2991, dtype: object
2992, Date         2013-07-17
Time         9:31:17 PM
Latitude       41.72851
Longitude    -87.650712
Name: 2992, dtype: object
2993, Date         2013-07-17
Time         9:31:27 PM
Latitude      41.729072
Longitude    -87.650778
Name: 2993, dtype: object
2994, Date         2013-07-17
Time         9:31:37 PM
Latitude      41.729668
Longitude    -87.650797
Name: 2994, dtype: object
2995, Date         2013-07-17
Time         9:31:47 PM
Latitude      41.730248
Longitude    -87.650772
Name: 2995, dtype: object
2996, Date         2013-07-17
Time         9:31:57 PM
Latitude      41.730287
Longitude     -87.64998
Name: 2996, dtype: object
2997, Date         2013-07-17
Time         9:32:07 PM
Latitude       41.73031
Longitude     -87.64908
Name: 2997, dtype: object
2998, Date         2013-07-17
Time         9:32:17 PM
Latitude      41.730277
Longitude    -87.648425
Name: 2998, dtype: object
2999, Date         2013-07-17
Time         9:32:27 PM
Latitude      41.729698
Longitude    -87.648397
Name: 2999, dtype: object
3000, Date         2013-07-17
Time         9:32:37 PM
Latitude      41.729043
Longitude     -87.64837
Name: 3000, dtype: object
3001, Date         2013-07-17
Time         9:32:47 PM
Latitude      41.728583
Longitude    -87.648278
Name: 3001, dtype: object
3002, Date         2013-07-17
Time         9:33:37 PM
Latitude      41.728213
Longitude     -87.64816
Name: 3002, dtype: object
3003, Date         2013-07-17
Time         9:35:07 PM
Latitude      41.721325
Longitude    -87.650567
Name: 3003, dtype: object
3004, Date         2013-07-17
Time         9:35:17 PM
Latitude      41.721322
Longitude    -87.649703
Name: 3004, dtype: object
3005, Date         2013-07-17
Time         9:35:47 PM
Latitude      41.721883
Longitude    -87.649103
Name: 3005, dtype: object
3006, Date         2013-07-17
Time         9:35:57 PM
Latitude        41.7225
Longitude     -87.64887
Name: 3006, dtype: object
3007, Date         2013-07-17
Time         9:36:07 PM
Latitude      41.722902
Longitude    -87.648453
Name: 3007, dtype: object
3008, Date         2013-07-17
Time         9:36:17 PM
Latitude      41.722553
Longitude     -87.64814
Name: 3008, dtype: object
3009, Date         2013-07-17
Time         9:36:27 PM
Latitude      41.721848
Longitude    -87.648102
Name: 3009, dtype: object
3010, Date         2013-07-17
Time         9:36:57 PM
Latitude      41.721295
Longitude    -87.647812
Name: 3010, dtype: object
3011, Date         2013-07-17
Time         9:37:17 PM
Latitude       41.72141
Longitude    -87.645768
Name: 3011, dtype: object
3012, Date         2013-07-17
Time         9:37:27 PM
Latitude      41.721428
Longitude    -87.646542
Name: 3012, dtype: object
3013, Date         2013-07-17
Time         9:37:37 PM
Latitude      41.721723
Longitude     -87.64687
Name: 3013, dtype: object
3014, Date         2013-07-17
Time         9:37:47 PM
Latitude      41.722467
Longitude     -87.64689
Name: 3014, dtype: object
3015, Date         2013-07-17
Time         9:37:57 PM
Latitude      41.723197
Longitude    -87.646915
Name: 3015, dtype: object
3016, Date         2013-07-17
Time         9:38:07 PM
Latitude      41.723875
Longitude     -87.64695
Name: 3016, dtype: object
3017, Date         2013-07-17
Time         9:38:17 PM
Latitude      41.724562
Longitude    -87.646973
Name: 3017, dtype: object
3018, Date         2013-07-17
Time         9:38:27 PM
Latitude      41.725217
Longitude    -87.646985
Name: 3018, dtype: object
3019, Date         2013-07-17
Time         9:38:37 PM
Latitude      41.725932
Longitude    -87.647018
Name: 3019, dtype: object
3020, Date         2013-07-17
Time         9:38:47 PM
Latitude      41.726595
Longitude    -87.647027
Name: 3020, dtype: object
3021, Date         2013-07-17
Time         9:38:57 PM
Latitude      41.726713
Longitude    -87.646277
Name: 3021, dtype: object
3022, Date         2013-07-17
Time         9:39:07 PM
Latitude      41.726453
Longitude     -87.64581
Name: 3022, dtype: object
3023, Date         2013-07-17
Time         9:39:17 PM
Latitude      41.725872
Longitude    -87.645797
Name: 3023, dtype: object
3024, Date         2013-07-17
Time         9:39:27 PM
Latitude      41.725253
Longitude    -87.645777
Name: 3024, dtype: object
3025, Date         2013-07-17
Time         9:39:37 PM
Latitude      41.724677
Longitude    -87.645755
Name: 3025, dtype: object
3026, Date         2013-07-17
Time         9:39:47 PM
Latitude      41.724112
Longitude    -87.645738
Name: 3026, dtype: object
3027, Date         2013-07-17
Time         9:39:57 PM
Latitude      41.723572
Longitude    -87.645707
Name: 3027, dtype: object
3028, Date         2013-07-17
Time         9:40:07 PM
Latitude      41.722967
Longitude    -87.645692
Name: 3028, dtype: object
3029, Date         2013-07-17
Time         9:40:17 PM
Latitude      41.722273
Longitude    -87.645663
Name: 3029, dtype: object
3030, Date         2013-07-17
Time         9:40:27 PM
Latitude      41.721632
Longitude    -87.645643
Name: 3030, dtype: object
3031, Date         2013-07-17
Time         9:40:47 PM
Latitude      41.721362
Longitude    -87.644888
Name: 3031, dtype: object
3032, Date         2013-07-17
Time         9:40:57 PM
Latitude      41.721695
Longitude    -87.644447
Name: 3032, dtype: object
3033, Date         2013-07-17
Time         9:41:07 PM
Latitude       41.72241
Longitude     -87.64449
Name: 3033, dtype: object
3034, Date         2013-07-17
Time         9:41:17 PM
Latitude      41.722988
Longitude    -87.644502
Name: 3034, dtype: object
3035, Date         2013-07-17
Time         9:41:27 PM
Latitude      41.723662
Longitude    -87.644522
Name: 3035, dtype: object
3036, Date         2013-07-17
Time         9:41:37 PM
Latitude      41.724365
Longitude    -87.644543
Name: 3036, dtype: object
3037, Date         2013-07-17
Time         9:41:47 PM
Latitude      41.725025
Longitude    -87.644558
Name: 3037, dtype: object
3038, Date         2013-07-17
Time         9:41:57 PM
Latitude       41.72569
Longitude    -87.644603
Name: 3038, dtype: object
3039, Date         2013-07-17
Time         9:42:07 PM
Latitude      41.726353
Longitude    -87.644617
Name: 3039, dtype: object
3040, Date         2013-07-17
Time         9:42:17 PM
Latitude      41.726815
Longitude    -87.644632
Name: 3040, dtype: object
3041, Date         2013-07-17
Time         9:42:27 PM
Latitude      41.727517
Longitude    -87.644652
Name: 3041, dtype: object
3042, Date         2013-07-17
Time         9:42:37 PM
Latitude      41.728215
Longitude    -87.644665
Name: 3042, dtype: object
3043, Date         2013-07-17
Time         9:42:47 PM
Latitude       41.72869
Longitude    -87.644462
Name: 3043, dtype: object
3044, Date         2013-07-17
Time         9:42:57 PM
Latitude      41.728695
Longitude    -87.643767
Name: 3044, dtype: object
3045, Date         2013-07-17
Time         9:43:07 PM
Latitude      41.728545
Longitude    -87.643555
Name: 3045, dtype: object
3046, Date         2013-07-17
Time         9:43:27 PM
Latitude      41.726822
Longitude    -87.643612
Name: 3046, dtype: object
3047, Date         2013-07-17
Time         9:43:37 PM
Latitude      41.726817
Longitude     -87.64439
Name: 3047, dtype: object
3048, Date         2013-07-17
Time         9:43:47 PM
Latitude      41.726808
Longitude    -87.645323
Name: 3048, dtype: object
3049, Date         2013-07-17
Time         9:43:57 PM
Latitude      41.726803
Longitude     -87.64627
Name: 3049, dtype: object
3050, Date         2013-07-17
Time         9:44:07 PM
Latitude      41.726668
Longitude    -87.647023
Name: 3050, dtype: object
3051, Date         2013-07-17
Time         9:44:17 PM
Latitude      41.726027
Longitude    -87.647005
Name: 3051, dtype: object
3052, Date         2013-07-17
Time         9:44:27 PM
Latitude      41.725373
Longitude    -87.646978
Name: 3052, dtype: object
3053, Date         2013-07-17
Time         9:44:37 PM
Latitude      41.724858
Longitude     -87.64676
Name: 3053, dtype: object
3054, Date         2013-07-17
Time         9:44:47 PM
Latitude      41.724858
Longitude    -87.646012
Name: 3054, dtype: object
3055, Date         2013-07-17
Time         9:45:07 PM
Latitude      41.724882
Longitude     -87.64409
Name: 3055, dtype: object
3056, Date         2013-07-17
Time         9:45:17 PM
Latitude      41.724878
Longitude    -87.643533
Name: 3056, dtype: object
3057, Date         2013-07-17
Time         9:45:47 PM
Latitude      41.722992
Longitude    -87.643852
Name: 3057, dtype: object
3058, Date         2013-07-17
Time         9:45:57 PM
Latitude      41.722985
Longitude    -87.644702
Name: 3058, dtype: object
3059, Date         2013-07-17
Time         9:46:07 PM
Latitude      41.722977
Longitude    -87.645617
Name: 3059, dtype: object
3060, Date         2013-07-17
Time         9:46:17 PM
Latitude      41.722952
Longitude    -87.646528
Name: 3060, dtype: object
3061, Date         2013-07-17
Time         9:46:27 PM
Latitude      41.722945
Longitude     -87.64741
Name: 3061, dtype: object
3062, Date         2013-07-17
Time         9:46:37 PM
Latitude      41.722938
Longitude     -87.64827
Name: 3062, dtype: object
3063, Date         2013-07-17
Time         9:46:47 PM
Latitude       41.72268
Longitude     -87.64879
Name: 3063, dtype: object
3064, Date         2013-07-17
Time         8:02:16 PM
Latitude      41.740667
Longitude    -87.639778
Name: 3064, dtype: object
3065, Date         2013-07-17
Time         8:02:26 PM
Latitude      41.740867
Longitude     -87.63996
Name: 3065, dtype: object
3066, Date         2013-07-17
Time         8:02:36 PM
Latitude       41.74114
Longitude    -87.640205
Name: 3066, dtype: object
3067, Date         2013-07-17
Time         8:02:46 PM
Latitude       41.74152
Longitude    -87.640545
Name: 3067, dtype: object
3068, Date         2013-07-17
Time         8:02:56 PM
Latitude      41.741802
Longitude    -87.640798
Name: 3068, dtype: object
3069, Date         2013-07-17
Time         8:03:06 PM
Latitude      41.742088
Longitude     -87.64106
Name: 3069, dtype: object
3070, Date         2013-07-17
Time         8:03:16 PM
Latitude      41.742387
Longitude    -87.641328
Name: 3070, dtype: object
3071, Date         2013-07-17
Time         8:03:26 PM
Latitude      41.742733
Longitude    -87.641643
Name: 3071, dtype: object
3072, Date         2013-07-17
Time         8:03:36 PM
Latitude      41.743075
Longitude    -87.641813
Name: 3072, dtype: object
3073, Date         2013-07-17
Time         8:03:46 PM
Latitude      41.743282
Longitude    -87.641522
Name: 3073, dtype: object
3074, Date         2013-07-17
Time         8:03:56 PM
Latitude      41.743287
Longitude     -87.64072
Name: 3074, dtype: object
3075, Date         2013-07-17
Time         8:04:06 PM
Latitude        41.7428
Longitude    -87.640263
Name: 3075, dtype: object
3076, Date         2013-07-17
Time         8:04:16 PM
Latitude       41.74233
Longitude    -87.639847
Name: 3076, dtype: object
3077, Date         2013-07-17
Time         8:04:26 PM
Latitude      41.741847
Longitude     -87.63941
Name: 3077, dtype: object
3078, Date         2013-07-17
Time         8:04:36 PM
Latitude      41.741593
Longitude    -87.638797
Name: 3078, dtype: object
3079, Date         2013-07-17
Time         8:05:06 PM
Latitude      41.741455
Longitude    -87.638295
Name: 3079, dtype: object
3080, Date         2013-07-17
Time         8:05:16 PM
Latitude      41.740878
Longitude    -87.638795
Name: 3080, dtype: object
3081, Date         2013-07-17
Time         8:05:26 PM
Latitude      41.740412
Longitude     -87.63918
Name: 3081, dtype: object
3082, Date         2013-07-17
Time         8:03:57 PM
Latitude      41.739668
Longitude    -87.639855
Name: 3082, dtype: object
3083, Date         2013-07-17
Time         8:04:07 PM
Latitude      41.739538
Longitude    -87.640215
Name: 3083, dtype: object
3084, Date         2013-07-17
Time         8:04:17 PM
Latitude      41.739955
Longitude    -87.640585
Name: 3084, dtype: object
3085, Date         2013-07-17
Time         8:04:27 PM
Latitude      41.740242
Longitude    -87.640855
Name: 3085, dtype: object
3086, Date         2013-07-17
Time         8:04:37 PM
Latitude      41.740522
Longitude    -87.640787
Name: 3086, dtype: object
3087, Date         2013-07-17
Time         8:04:47 PM
Latitude      41.740807
Longitude     -87.64105
Name: 3087, dtype: object
3088, Date         2013-07-17
Time         8:04:57 PM
Latitude      41.741073
Longitude     -87.64129
Name: 3088, dtype: object
3089, Date         2013-07-17

3312, Date         2013-07-17
Time         8:47:57 PM
Latitude      41.736955
Longitude    -87.659405
Name: 3312, dtype: object
3313, Date         2013-07-17
Time         8:48:07 PM
Latitude      41.737367
Longitude    -87.659423
Name: 3313, dtype: object
3314, Date         2013-07-17
Time         8:48:17 PM
Latitude      41.737632
Longitude    -87.659408
Name: 3314, dtype: object
3315, Date         2013-07-17
Time         8:48:27 PM
Latitude      41.737985
Longitude    -87.659445
Name: 3315, dtype: object
3316, Date         2013-07-17
Time         8:48:37 PM
Latitude       41.73845
Longitude    -87.659472
Name: 3316, dtype: object
3317, Date         2013-07-17
Time         8:48:47 PM
Latitude      41.738953
Longitude    -87.659503
Name: 3317, dtype: object
3318, Date         2013-07-17
Time         8:48:57 PM
Latitude      41.739312
Longitude    -87.659545
Name: 3318, dtype: object
3319, Date         2013-07-17
Time         8:49:07 PM
Latitude      41.739365
Longitude    -87.660088
Name: 3319, dtype: object
3320, Date         2013-07-17
Time         8:49:17 PM
Latitude       41.73936
Longitude    -87.660553
Name: 3320, dtype: object
3321, Date         2013-07-17
Time         8:49:27 PM
Latitude      41.739358
Longitude    -87.661123
Name: 3321, dtype: object
3322, Date         2013-07-17
Time         8:49:37 PM
Latitude      41.739362
Longitude    -87.661732
Name: 3322, dtype: object
3323, Date         2013-07-17
Time         8:49:47 PM
Latitude      41.739145
Longitude    -87.661892
Name: 3323, dtype: object
3324, Date         2013-07-17
Time         8:49:57 PM
Latitude      41.738653
Longitude    -87.661862
Name: 3324, dtype: object
3325, Date         2013-07-17
Time         8:50:07 PM
Latitude      41.738173
Longitude    -87.661835
Name: 3325, dtype: object
3326, Date         2013-07-17
Time         8:50:17 PM
Latitude      41.737715
Longitude     -87.66182
Name: 3326, dtype: object
3327, Date         2013-07-17
Time         8:50:27 PM
Latitude      41.737185
Longitude    -87.661802
Name: 3327, dtype: object
3328, Date         2013-07-17
Time         8:50:37 PM
Latitude      41.736662
Longitude     -87.66179
Name: 3328, dtype: object
3329, Date         2013-07-17
Time         8:50:47 PM
Latitude      41.736142
Longitude    -87.661782
Name: 3329, dtype: object
3330, Date         2013-07-17
Time         8:51:27 PM
Latitude       41.73671
Longitude     -87.66293
Name: 3330, dtype: object
3331, Date         2013-07-17
Time         8:51:37 PM
Latitude      41.737253
Longitude    -87.662965
Name: 3331, dtype: object
3332, Date         2013-07-17
Time         8:51:47 PM
Latitude      41.737878
Longitude     -87.66299
Name: 3332, dtype: object
3333, Date         2013-07-17
Time         8:51:57 PM
Latitude      41.738565
Longitude    -87.663005
Name: 3333, dtype: object
3334, Date         2013-07-17
Time         8:52:07 PM
Latitude       41.73924
Longitude    -87.663033
Name: 3334, dtype: object
3335, Date         2013-07-17
Time         8:52:17 PM
Latitude      41.739955
Longitude    -87.663052
Name: 3335, dtype: object
3336, Date         2013-07-17
Time         8:52:27 PM
Latitude      41.740762
Longitude    -87.663077
Name: 3336, dtype: object
3337, Date         2013-07-17
Time         8:53:07 PM
Latitude      41.743058
Longitude     -87.66252
Name: 3337, dtype: object
3338, Date         2013-07-17
Time         8:53:17 PM
Latitude       41.74308
Longitude    -87.661765
Name: 3338, dtype: object
3339, Date         2013-07-17
Time         8:53:27 PM
Latitude      41.742783
Longitude    -87.661622
Name: 3339, dtype: object
3340, Date         2013-07-17
Time         8:53:37 PM
Latitude      41.742282
Longitude    -87.661593
Name: 3340, dtype: object
3341, Date         2013-07-17
Time         8:53:47 PM
Latitude      41.741843
Longitude    -87.661567
Name: 3341, dtype: object
3342, Date         2013-07-17
Time         8:53:57 PM
Latitude      41.741452
Longitude     -87.66156
Name: 3342, dtype: object
3343, Date         2013-07-17
Time         8:54:07 PM
Latitude      41.740867
Longitude    -87.661522
Name: 3343, dtype: object
3344, Date         2013-07-17
Time         8:54:17 PM
Latitude      41.740343
Longitude    -87.661515
Name: 3344, dtype: object
3345, Date         2013-07-17
Time         8:54:27 PM
Latitude      41.739923
Longitude    -87.661485
Name: 3345, dtype: object
3346, Date         2013-07-17
Time         8:54:37 PM
Latitude      41.739627
Longitude    -87.661347
Name: 3346, dtype: object
3347, Date         2013-07-17
Time         8:54:47 PM
Latitude       41.73961
Longitude    -87.660817
Name: 3347, dtype: object
3348, Date         2013-07-17
Time         8:54:57 PM
Latitude      41.739615
Longitude    -87.660133
Name: 3348, dtype: object
3349, Date         2013-07-17
Time         8:55:07 PM
Latitude      41.739368
Longitude    -87.660083
Name: 3349, dtype: object
3350, Date         2013-07-17
Time         8:55:17 PM
Latitude      41.739037
Longitude    -87.660072
Name: 3350, dtype: object
3351, Date         2013-07-17
Time         8:55:27 PM
Latitude      41.738773
Longitude    -87.660065
Name: 3351, dtype: object
3352, Date         2013-07-17
Time         8:55:37 PM
Latitude      41.738403
Longitude    -87.660048
Name: 3352, dtype: object
3353, Date         2013-07-17
Time         8:55:47 PM
Latitude      41.738105
Longitude    -87.660053
Name: 3353, dtype: object
3354, Date         2013-07-17
Time         8:55:57 PM
Latitude      41.737828
Longitude    -87.660048
Name: 3354, dtype: object
3355, Date         2013-07-17
Time         8:56:07 PM
Latitude      41.737457
Longitude    -87.660042
Name: 3355, dtype: object
3356, Date         2013-07-17
Time         8:56:17 PM
Latitude      41.736995
Longitude    -87.660018
Name: 3356, dtype: object
3357, Date         2013-07-17
Time         8:56:27 PM
Latitude      41.736688
Longitude     -87.66002
Name: 3357, dtype: object
3358, Date         2013-07-17
Time         8:56:37 PM
Latitude      41.736543
Longitude    -87.659837
Name: 3358, dtype: object
3359, Date         2013-07-17
Time         8:56:47 PM
Latitude       41.73651
Longitude    -87.659443
Name: 3359, dtype: object
3360, Date         2013-07-17
Time         8:56:57 PM
Latitude      41.736127
Longitude    -87.659418
Name: 3360, dtype: object
3361, Date         2013-07-17
Time         8:57:07 PM
Latitude      41.736013
Longitude    -87.660257
Name: 3361, dtype: object
3362, Date         2013-07-17
Time         8:57:37 PM
Latitude      41.735313
Longitude      -87.6618
Name: 3362, dtype: object
3363, Date         2013-07-17
Time         8:57:47 PM
Latitude      41.734907
Longitude    -87.661777
Name: 3363, dtype: object
3364, Date         2013-07-17
Time         8:57:57 PM
Latitude      41.734505
Longitude    -87.661758
Name: 3364, dtype: object
3365, Date         2013-07-17
Time         8:58:07 PM
Latitude      41.733978
Longitude    -87.661737
Name: 3365, dtype: object
3366, Date         2013-07-17
Time         8:58:17 PM
Latitude      41.733472
Longitude    -87.661717
Name: 3366, dtype: object
3367, Date         2013-07-17
Time         8:58:27 PM
Latitude      41.732987
Longitude    -87.661687
Name: 3367, dtype: object
3368, Date         2013-07-17
Time         8:58:37 PM
Latitude      41.732597
Longitude    -87.661675
Name: 3368, dtype: object
3369, Date         2013-07-17
Time         8:58:47 PM
Latitude      41.732488
Longitude    -87.661125
Name: 3369, dtype: object
3370, Date         2013-07-17
Time         8:58:57 PM
Latitude      41.732458
Longitude    -87.660503
Name: 3370, dtype: object
3371, Date         2013-07-17
Time         8:59:07 PM
Latitude       41.73217
Longitude     -87.66063
Name: 3371, dtype: object
3372, Date         2013-07-17
Time         8:59:17 PM
Latitude      41.732227
Longitude    -87.661302
Name: 3372, dtype: object
3373, Date         2013-07-17
Time         8:59:27 PM
Latitude      41.732127
Longitude    -87.661695
Name: 3373, dtype: object
3374, Date         2013-07-17
Time         8:59:37 PM
Latitude       41.73168
Longitude    -87.661657
Name: 3374, dtype: object
3375, Date         2013-07-17
Time         8:59:47 PM
Latitude      41.731163
Longitude    -87.661657
Name: 3375, dtype: object
3376, Date         2013-07-17
Time         8:59:57 PM
Latitude      41.730683
Longitude    -87.661628
Name: 3376, dtype: object
3377, Date         2013-07-17
Time         9:00:07 PM
Latitude      41.730275
Longitude    -87.661623
Name: 3377, dtype: object
3378, Date         2013-07-17
Time         9:00:17 PM
Latitude      41.729902
Longitude    -87.661622
Name: 3378, dtype: object
3379, Date         2013-07-17
Time         9:00:27 PM
Latitude      41.729468
Longitude    -87.661592
Name: 3379, dtype: object
3380, Date         2013-07-17
Time         9:00:37 PM
Latitude      41.728947
Longitude    -87.661565
Name: 3380, dtype: object
3381, Date         2013-07-17
Time         9:00:47 PM
Latitude      41.728772
Longitude    -87.661945
Name: 3381, dtype: object
3382, Date         2013-07-17
Time         9:00:57 PM
Latitude       41.72889
Longitude    -87.662118
Name: 3382, dtype: object
3383, Date         2013-07-17
Time         9:01:07 PM
Latitude      41.729193
Longitude    -87.662142
Name: 3383, dtype: object
3384, Date         2013-07-17
Time         9:01:17 PM
Latitude      41.729505
Longitude     -87.66218
Name: 3384, dtype: object
3385, Date         2013-07-17
Time         9:01:27 PM
Latitude       41.72983
Longitude    -87.662197
Name: 3385, dtype: object
3386, Date         2013-07-17
Time         9:01:37 PM
Latitude       41.73009
Longitude     -87.66219
Name: 3386, dtype: object
3387, Date         2013-07-17
Time         9:01:57 PM
Latitude      41.730455
Longitude    -87.662212
Name: 3387, dtype: object
3388, Date         2013-07-17
Time         9:02:07 PM
Latitude      41.730945
Longitude    -87.662253
Name: 3388, dtype: object
3389, Date         2013-07-17
Time         9:02:17 PM
Latitude      41.731318
Longitude    -87.662277
Name: 3389, dtype: object
3390, Date         2013-07-17
Time         9:02:27 PM
Latitude      41.731757
Longitude    -87.662313
Name: 3390, dtype: object
3391, Date         2013-07-17
Time         9:02:37 PM
Latitude      41.731928
Longitude    -87.661842
Name: 3391, dtype: object
3392, Date         2013-07-17
Time         9:02:47 PM
Latitude      41.731903
Longitude     -87.66091
Name: 3392, dtype: object
3393, Date         2013-07-17
Time         9:02:57 PM
Latitude      41.731902
Longitude     -87.66059
Name: 3393, dtype: object
3394, Date         2013-07-17
Time         9:03:07 PM
Latitude      41.732243
Longitude    -87.660555
Name: 3394, dtype: object
3395, Date         2013-07-17
Time         9:03:17 PM
Latitude      41.732872
Longitude    -87.660583
Name: 3395, dtype: object
3396, Date         2013-07-17
Time         9:03:27 PM
Latitude       41.73345
Longitude    -87.660602
Name: 3396, dtype: object
3397, Date         2013-07-17
Time         9:03:37 PM
Latitude       41.73392
Longitude     -87.66062
Name: 3397, dtype: object
3398, Date         2013-07-17
Time         9:03:47 PM
Latitude      41.734483
Longitude    -87.660647
Name: 3398, dtype: object
3399, Date         2013-07-17
Time         9:03:57 PM
Latitude      41.735085
Longitude    -87.660672
Name: 3399, dtype: object
3400, Date         2013-07-17
Time         9:04:47 PM
Latitude      41.735243
Longitude     -87.65945
Name: 3400, dtype: object
3401, Date         2013-07-17
Time         9:04:57 PM
Latitude      41.734722
Longitude    -87.659427
Name: 3401, dtype: object
3402, Date         2013-07-17
Time         9:05:07 PM
Latitude      41.734262
Longitude    -87.659393
Name: 3402, dtype: object
3403, Date         2013-07-17
Time         9:05:17 PM
Latitude       41.73384
Longitude    -87.659385
Name: 3403, dtype: object
3404, Date         2013-07-17
Time         9:05:27 PM
Latitude      41.733323
Longitude    -87.659357
Name: 3404, dtype: object
3405, Date         2013-07-17
Time         9:05:37 PM
Latitude      41.732803
Longitude     -87.65933
Name: 3405, dtype: object
3406, Date         2013-07-17
Time         9:05:47 PM
Latitude      41.732408
Longitude    -87.659288
Name: 3406, dtype: object
3407, Date         2013-07-17
Time         9:05:57 PM
Latitude      41.732373
Longitude    -87.658777
Name: 3407, dtype: object
3408, Date         2013-07-17
Time         9:06:07 PM
Latitude      41.732365
Longitude     -87.65822
Name: 3408, dtype: object
3409, Date         2013-07-17
Time         9:06:17 PM
Latitude      41.732365
Longitude     -87.65757
Name: 3409, dtype: object
3410, Date         2013-07-17
Time         9:06:27 PM
Latitude      41.732365
Longitude    -87.656992
Name: 3410, dtype: object
3411, Date         2013-07-17
Time         9:06:37 PM
Latitude      41.732813
Longitude    -87.656953
Name: 3411, dtype: object
3412, Date         2013-07-17
Time         9:06:47 PM
Latitude      41.733362
Longitude    -87.656978
Name: 3412, dtype: object
3413, Date         2013-07-17
Time         9:06:57 PM
Latitude       41.73388
Longitude    -87.656997
Name: 3413, dtype: object
3414, Date         2013-07-17
Time         9:07:07 PM
Latitude      41.734475
Longitude    -87.657022
Name: 3414, dtype: object
3415, Date         2013-07-17
Time         9:07:17 PM
Latitude      41.735005
Longitude    -87.657045
Name: 3415, dtype: object
3416, Date         2013-07-17
Time         9:08:37 PM
Latitude      41.735337
Longitude    -87.658242
Name: 3416, dtype: object
3417, Date         2013-07-17
Time         9:08:47 PM
Latitude      41.734885
Longitude    -87.658213
Name: 3417, dtype: object
3418, Date         2013-07-17
Time         9:08:57 PM
Latitude      41.734413
Longitude    -87.658193
Name: 3418, dtype: object
3419, Date         2013-07-17
Time         9:09:07 PM
Latitude       41.73403
Longitude     -87.65836
Name: 3419, dtype: object
3420, Date         2013-07-17
Time         9:09:17 PM
Latitude      41.733998
Longitude    -87.659183
Name: 3420, dtype: object
3421, Date         2013-07-17
Time         9:09:27 PM
Latitude      41.733565
Longitude    -87.659302
Name: 3421, dtype: object
3422, Date         2013-07-17
Time         9:09:37 PM
Latitude      41.732922
Longitude    -87.659277
Name: 3422, dtype: object
3423, Date         2013-07-17
Time         9:09:47 PM
Latitude      41.732393
Longitude    -87.659257
Name: 3423, dtype: object
3424, Date         2013-07-17
Time         9:09:57 PM
Latitude      41.732333
Longitude     -87.65874
Name: 3424, dtype: object
3425, Date         2013-07-17
Time         9:10:07 PM
Latitude      41.732573
Longitude    -87.658685
Name: 3425, dtype: object
3426, Date         2013-07-17
Time         9:10:17 PM
Latitude      41.732893
Longitude    -87.658702
Name: 3426, dtype: object
3427, Date         2013-07-17
Time         9:10:27 PM
Latitude       41.73328
Longitude    -87.658733
Name: 3427, dtype: object
3428, Date         2013-07-17
Time         9:10:37 PM
Latitude      41.733758
Longitude    -87.658755
Name: 3428, dtype: object
3429, Date         2013-07-17
Time         9:10:57 PM
Latitude       41.73385
Longitude    -87.658178
Name: 3429, dtype: object
3430, Date         2013-07-17
Time         9:11:07 PM
Latitude      41.733207
Longitude    -87.658152
Name: 3430, dtype: object
3431, Date         2013-07-17
Time         9:11:17 PM
Latitude      41.732617
Longitude    -87.658125
Name: 3431, dtype: object
3432, Date         2013-07-17
Time         9:11:27 PM
Latitude      41.732335
Longitude    -87.657838
Name: 3432, dtype: object
3433, Date         2013-07-17
Time         9:11:37 PM
Latitude      41.732327
Longitude    -87.657145
Name: 3433, dtype: object
3434, Date         2013-07-17
Time         9:11:47 PM
Latitude      41.732445
Longitude    -87.656923
Name: 3434, dtype: object
3435, Date         2013-07-17
Time         9:11:57 PM
Latitude       41.73301
Longitude    -87.656942
Name: 3435, dtype: object
3436, Date         2013-07-17
Time         9:12:07 PM
Latitude      41.733553
Longitude    -87.656985
Name: 3436, dtype: object
3437, Date         2013-07-17
Time         9:12:17 PM
Latitude      41.733963
Longitude     -87.65701
Name: 3437, dtype: object
3438, Date         2013-07-17
Time         9:12:27 PM
Latitude      41.734672
Longitude    -87.657025
Name: 3438, dtype: object
3439, Date         2013-07-17
Time         9:12:37 PM
Latitude      41.735255
Longitude    -87.657047
Name: 3439, dtype: object
3440, Date         2013-07-17
Time         9:12:57 PM
Latitude      41.735717
Longitude    -87.656075
Name: 3440, dtype: object
3441, Date         2013-07-17
Time         9:13:07 PM
Latitude      41.735518
Longitude    -87.655813
Name: 3441, dtype: object
3442, Date         2013-07-17
Time         9:13:17 PM
Latitude      41.735178
Longitude    -87.655773
Name: 3442, dtype: object
3443, Date         2013-07-17
Time         9:13:27 PM
Latitude       41.73465
Longitude    -87.655735
Name: 3443, dtype: object
3444, Date         2013-07-17
Time         9:13:37 PM
Latitude       41.73427
Longitude    -87.655722
Name: 3444, dtype: object
3445, Date         2013-07-17
Time         9:13:47 PM
Latitude      41.733745
Longitude     -87.65567
Name: 3445, dtype: object
3446, Date         2013-07-17
Time         9:13:57 PM
Latitude      41.733298
Longitude    -87.655642
Name: 3446, dtype: object
3447, Date         2013-07-17
Time         9:14:07 PM
Latitude      41.732783
Longitude    -87.655628
Name: 3447, dtype: object
3448, Date         2013-07-17
Time         9:14:17 PM
Latitude      41.732482
Longitude    -87.655305
Name: 3448, dtype: object
3449, Date         2013-07-17
Time         9:14:27 PM
Latitude      41.732468
Longitude     -87.65457
Name: 3449, dtype: object
3450, Date         2013-07-17
Time         9:14:37 PM
Latitude      41.732788
Longitude    -87.654457
Name: 3450, dtype: object
3451, Date         2013-07-17
Time         9:14:47 PM
Latitude      41.733335
Longitude    -87.654477
Name: 3451, dtype: object
3452, Date         2013-07-17
Time         9:14:57 PM
Latitude        41.7339
Longitude    -87.654507
Name: 3452, dtype: object
3453, Date         2013-07-17
Time         9:15:07 PM
Latitude      41.734532
Longitude    -87.654532
Name: 3453, dtype: object
3454, Date         2013-07-17
Time         9:15:17 PM
Latitude      41.735168
Longitude    -87.654568
Name: 3454, dtype: object
3455, Date         2013-07-17
Time         9:15:27 PM
Latitude      41.735675
Longitude    -87.654567
Name: 3455, dtype: object
3456, Date         2013-07-17
Time         9:15:47 PM
Latitude      41.735738
Longitude    -87.653413
Name: 3456, dtype: object
3457, Date         2013-07-17
Time         9:15:57 PM
Latitude      41.735037
Longitude     -87.65336
Name: 3457, dtype: object
3458, Date         2013-07-17
Time         9:16:07 PM
Latitude       41.73432
Longitude    -87.653345
Name: 3458, dtype: object
3459, Date         2013-07-17
Time         9:16:17 PM
Latitude      41.733818
Longitude    -87.653313
Name: 3459, dtype: object
3460, Date         2013-07-17
Time         9:16:27 PM
Latitude      41.733368
Longitude    -87.653288
Name: 3460, dtype: object
3461, Date         2013-07-17
Time         9:16:37 PM
Latitude      41.732997
Longitude    -87.653287
Name: 3461, dtype: object
3462, Date         2013-07-17
Time         9:16:47 PM
Latitude      41.732553
Longitude    -87.653238
Name: 3462, dtype: object
3463, Date         2013-07-17
Time         9:16:57 PM
Latitude        41.7325
Longitude    -87.652472
Name: 3463, dtype: object
3464, Date         2013-07-17
Time         9:17:07 PM
Latitude      41.732487
Longitude    -87.651675
Name: 3464, dtype: object
3465, Date         2013-07-17
Time         9:17:17 PM
Latitude      41.732487
Longitude    -87.650912
Name: 3465, dtype: object
3466, Date         2013-07-17
Time         9:17:27 PM
Latitude      41.732888
Longitude    -87.650882
Name: 3466, dtype: object
3467, Date         2013-07-17
Time         9:17:37 PM
Latitude       41.73344
Longitude    -87.650898
Name: 3467, dtype: object
3468, Date         2013-07-17

3660, Date         2013-07-17
Time         9:55:17 PM
Latitude      41.737427
Longitude    -87.642475
Name: 3660, dtype: object
3661, Date         2013-07-17
Time         9:55:27 PM
Latitude      41.737728
Longitude    -87.642692
Name: 3661, dtype: object
3662, Date         2013-07-17
Time         8:05:11 PM
Latitude      41.735178
Longitude    -87.672362
Name: 3662, dtype: object
3663, Date         2013-07-17
Time         8:05:21 PM
Latitude       41.73476
Longitude    -87.672015
Name: 3663, dtype: object
3664, Date         2013-07-17
Time         8:05:31 PM
Latitude       41.73434
Longitude    -87.671648
Name: 3664, dtype: object
3665, Date         2013-07-17
Time         8:05:41 PM
Latitude      41.733842
Longitude    -87.671228
Name: 3665, dtype: object
3666, Date         2013-07-17
Time         8:05:51 PM
Latitude       41.73338
Longitude     -87.67083
Name: 3666, dtype: object
3667, Date         2013-07-17
Time         8:06:01 PM
Latitude      41.732858
Longitude    -87.670398
Name: 3667, dtype: object
3668, Date         2013-07-17
Time         8:06:10 PM
Latitude      41.732417
Longitude    -87.670013
Name: 3668, dtype: object
3669, Date         2013-07-17
Time         8:06:21 PM
Latitude      41.731895
Longitude    -87.669573
Name: 3669, dtype: object
3670, Date         2013-07-17
Time         8:06:31 PM
Latitude      41.731417
Longitude    -87.669165
Name: 3670, dtype: object
3671, Date         2013-07-17
Time         8:06:41 PM
Latitude       41.73092
Longitude    -87.668712
Name: 3671, dtype: object
3672, Date         2013-07-17
Time         8:06:51 PM
Latitude       41.73042
Longitude    -87.668307
Name: 3672, dtype: object
3673, Date         2013-07-17
Time         8:07:01 PM
Latitude      41.730298
Longitude    -87.667723
Name: 3673, dtype: object
3674, Date         2013-07-17
Time         8:07:11 PM
Latitude      41.730302
Longitude    -87.667043
Name: 3674, dtype: object
3675, Date         2013-07-17
Time         8:07:21 PM
Latitude      41.730175
Longitude    -87.666775
Name: 3675, dtype: object
3676, Date         2013-07-17
Time         8:07:31 PM
Latitude      41.729883
Longitude    -87.666987
Name: 3676, dtype: object
3677, Date         2013-07-17
Time         8:07:41 PM
Latitude       41.72959
Longitude    -87.667118
Name: 3677, dtype: object
3678, Date         2013-07-17
Time         8:07:51 PM
Latitude      41.729255
Longitude    -87.667248
Name: 3678, dtype: object
3679, Date         2013-07-17
Time         8:08:01 PM
Latitude      41.728913
Longitude    -87.667348
Name: 3679, dtype: object
3680, Date         2013-07-17
Time         8:08:11 PM
Latitude      41.728597
Longitude    -87.667533
Name: 3680, dtype: object
3681, Date         2013-07-17
Time         8:08:21 PM
Latitude      41.728518
Longitude    -87.667833
Name: 3681, dtype: object
3682, Date         2013-07-17
Time         8:08:31 PM
Latitude      41.728533
Longitude    -87.667557
Name: 3682, dtype: object
3683, Date         2013-07-17
Time         8:08:41 PM
Latitude       41.72889
Longitude     -87.66735
Name: 3683, dtype: object
3684, Date         2013-07-17
Time         8:08:51 PM
Latitude       41.72936
Longitude     -87.66719
Name: 3684, dtype: object
3685, Date         2013-07-17
Time         8:09:01 PM
Latitude      41.729705
Longitude    -87.667028
Name: 3685, dtype: object
3686, Date         2013-07-17
Time         8:09:11 PM
Latitude      41.730022
Longitude    -87.666845
Name: 3686, dtype: object
3687, Date         2013-07-17
Time         8:09:21 PM
Latitude      41.730342
Longitude     -87.66665
Name: 3687, dtype: object
3688, Date         2013-07-17
Time         8:09:31 PM
Latitude      41.730815
Longitude    -87.666655
Name: 3688, dtype: object
3689, Date         2013-07-17
Time         8:09:41 PM
Latitude      41.731123
Longitude    -87.666667
Name: 3689, dtype: object
3690, Date         2013-07-17
Time         8:09:51 PM
Latitude      41.731485
Longitude    -87.666685
Name: 3690, dtype: object
3691, Date         2013-07-17
Time         8:10:01 PM
Latitude       41.73191
Longitude    -87.666703
Name: 3691, dtype: object
3692, Date         2013-07-17
Time         8:10:11 PM
Latitude      41.732217
Longitude    -87.666702
Name: 3692, dtype: object
3693, Date         2013-07-17
Time         8:10:21 PM
Latitude      41.732623
Longitude    -87.666707
Name: 3693, dtype: object
3694, Date         2013-07-17
Time         8:10:31 PM
Latitude       41.73311
Longitude    -87.666715
Name: 3694, dtype: object
3695, Date         2013-07-17
Time         8:10:41 PM
Latitude      41.733628
Longitude    -87.666725
Name: 3695, dtype: object
3696, Date         2013-07-17
Time         8:10:51 PM
Latitude       41.73415
Longitude    -87.666743
Name: 3696, dtype: object
3697, Date         2013-07-17
Time         8:11:01 PM
Latitude      41.734737
Longitude    -87.666753
Name: 3697, dtype: object
3698, Date         2013-07-17
Time         8:11:11 PM
Latitude      41.735112
Longitude    -87.666812
Name: 3698, dtype: object
3699, Date         2013-07-17
Time         8:11:21 PM
Latitude      41.735132
Longitude    -87.667197
Name: 3699, dtype: object
3700, Date         2013-07-17
Time         8:11:31 PM
Latitude      41.735128
Longitude    -87.667642
Name: 3700, dtype: object
3701, Date         2013-07-17
Time         8:11:41 PM
Latitude      41.735128
Longitude    -87.667938
Name: 3701, dtype: object
3702, Date         2013-07-17
Time         8:11:51 PM
Latitude       41.73513
Longitude    -87.668333
Name: 3702, dtype: object
3703, Date         2013-07-17
Time         8:12:01 PM
Latitude      41.735137
Longitude    -87.668767
Name: 3703, dtype: object
3704, Date         2013-07-17
Time         8:12:21 PM
Latitude      41.735162
Longitude    -87.669417
Name: 3704, dtype: object
3705, Date         2013-07-17
Time         8:12:31 PM
Latitude      41.735125
Longitude    -87.669748
Name: 3705, dtype: object
3706, Date         2013-07-17
Time         8:12:41 PM
Latitude      41.735108
Longitude    -87.670208
Name: 3706, dtype: object
3707, Date         2013-07-17
Time         8:13:11 PM
Latitude       41.73472
Longitude    -87.670423
Name: 3707, dtype: object
3708, Date         2013-07-17
Time         8:13:21 PM
Latitude      41.734363
Longitude    -87.670168
Name: 3708, dtype: object
3709, Date         2013-07-17
Time         8:13:31 PM
Latitude      41.734003
Longitude    -87.669845
Name: 3709, dtype: object
3710, Date         2013-07-17
Time         8:13:41 PM
Latitude       41.73359
Longitude    -87.669497
Name: 3710, dtype: object
3711, Date         2013-07-17
Time         8:13:51 PM
Latitude      41.733282
Longitude    -87.669238
Name: 3711, dtype: object
3712, Date         2013-07-17
Time         8:14:01 PM
Latitude      41.733438
Longitude    -87.669098
Name: 3712, dtype: object
3713, Date         2013-07-17
Time         8:14:11 PM
Latitude      41.733753
Longitude    -87.669107
Name: 3713, dtype: object
3714, Date         2013-07-17
Time         8:14:21 PM
Latitude      41.734115
Longitude     -87.66912
Name: 3714, dtype: object
3715, Date         2013-07-17
Time         8:14:31 PM
Latitude       41.73446
Longitude    -87.669133
Name: 3715, dtype: object
3716, Date         2013-07-17
Time         8:14:41 PM
Latitude      41.734878
Longitude    -87.669152
Name: 3716, dtype: object
3717, Date         2013-07-17
Time         8:14:51 PM
Latitude      41.735252
Longitude    -87.669165
Name: 3717, dtype: object
3718, Date         2013-07-17
Time         8:15:11 PM
Latitude      41.735658
Longitude    -87.668958
Name: 3718, dtype: object
3719, Date         2013-07-17
Time         8:15:21 PM
Latitude      41.735628
Longitude     -87.66834
Name: 3719, dtype: object
3720, Date         2013-07-17
Time         8:15:31 PM
Latitude      41.735478
Longitude     -87.66796
Name: 3720, dtype: object
3721, Date         2013-07-17
Time         8:15:41 PM
Latitude      41.735065
Longitude    -87.667947
Name: 3721, dtype: object
3722, Date         2013-07-17
Time         8:15:51 PM
Latitude      41.734632
Longitude     -87.66795
Name: 3722, dtype: object
3723, Date         2013-07-17
Time         8:16:01 PM
Latitude      41.734205
Longitude    -87.667928
Name: 3723, dtype: object
3724, Date         2013-07-17
Time         8:16:11 PM
Latitude      41.733772
Longitude    -87.667912
Name: 3724, dtype: object
3725, Date         2013-07-17
Time         8:16:21 PM
Latitude      41.733355
Longitude    -87.667898
Name: 3725, dtype: object
3726, Date         2013-07-17
Time         8:16:41 PM
Latitude      41.732708
Longitude    -87.667887
Name: 3726, dtype: object
3727, Date         2013-07-17
Time         8:16:51 PM
Latitude       41.73239
Longitude    -87.667882
Name: 3727, dtype: object
3728, Date         2013-07-17
Time         8:17:11 PM
Latitude       41.73205
Longitude     -87.66814
Name: 3728, dtype: object
3729, Date         2013-07-17
Time         8:17:21 PM
Latitude      41.731673
Longitude     -87.66782
Name: 3729, dtype: object
3730, Date         2013-07-17
Time         8:17:31 PM
Latitude      41.731232
Longitude     -87.66746
Name: 3730, dtype: object
3731, Date         2013-07-17
Time         8:17:41 PM
Latitude      41.730892
Longitude     -87.66718
Name: 3731, dtype: object
3732, Date         2013-07-17
Time         8:17:51 PM
Latitude      41.730528
Longitude    -87.666877
Name: 3732, dtype: object
3733, Date         2013-07-17
Time         8:18:11 PM
Latitude      41.730837
Longitude    -87.666625
Name: 3733, dtype: object
3734, Date         2013-07-17
Time         8:18:31 PM
Latitude      41.731582
Longitude    -87.666677
Name: 3734, dtype: object
3735, Date         2013-07-17
Time         8:18:41 PM
Latitude      41.732017
Longitude    -87.666685
Name: 3735, dtype: object
3736, Date         2013-07-17
Time         8:18:51 PM
Latitude      41.732458
Longitude    -87.666697
Name: 3736, dtype: object
3737, Date         2013-07-17
Time         8:19:01 PM
Latitude      41.732913
Longitude    -87.666712
Name: 3737, dtype: object
3738, Date         2013-07-17
Time         8:19:11 PM
Latitude      41.733442
Longitude     -87.66672
Name: 3738, dtype: object
3739, Date         2013-07-17
Time         8:19:21 PM
Latitude      41.733928
Longitude    -87.666728
Name: 3739, dtype: object
3740, Date         2013-07-17
Time         8:19:31 PM
Latitude      41.734438
Longitude     -87.66674
Name: 3740, dtype: object
3741, Date         2013-07-17
Time         8:19:41 PM
Latitude      41.734903
Longitude    -87.666752
Name: 3741, dtype: object
3742, Date         2013-07-17
Time         8:19:51 PM
Latitude      41.735355
Longitude    -87.666748
Name: 3742, dtype: object
3743, Date         2013-07-17
Time         8:20:11 PM
Latitude      41.735565
Longitude    -87.666717
Name: 3743, dtype: object
3744, Date         2013-07-17
Time         8:20:21 PM
Latitude       41.73559
Longitude    -87.666018
Name: 3744, dtype: object
3745, Date         2013-07-17
Time         8:20:31 PM
Latitude      41.735527
Longitude    -87.665553
Name: 3745, dtype: object
3746, Date         2013-07-17
Time         8:20:41 PM
Latitude      41.735188
Longitude    -87.665533
Name: 3746, dtype: object
3747, Date         2013-07-17
Time         8:20:51 PM
Latitude      41.734803
Longitude    -87.665528
Name: 3747, dtype: object
3748, Date         2013-07-17
Time         8:21:01 PM
Latitude      41.734418
Longitude    -87.665537
Name: 3748, dtype: object
3749, Date         2013-07-17
Time         8:21:11 PM
Latitude      41.734105
Longitude    -87.665523
Name: 3749, dtype: object
3750, Date         2013-07-17
Time         8:21:21 PM
Latitude      41.733723
Longitude      -87.6655
Name: 3750, dtype: object
3751, Date         2013-07-17
Time         8:21:31 PM
Latitude       41.73329
Longitude    -87.665487
Name: 3751, dtype: object
3752, Date         2013-07-17
Time         8:21:41 PM
Latitude        41.7329
Longitude    -87.665468
Name: 3752, dtype: object
3753, Date         2013-07-17
Time         8:21:51 PM
Latitude      41.732525
Longitude    -87.665467
Name: 3753, dtype: object
3754, Date         2013-07-17
Time         8:22:01 PM
Latitude       41.73202
Longitude    -87.665428
Name: 3754, dtype: object
3755, Date         2013-07-17
Time         8:22:11 PM
Latitude      41.731567
Longitude    -87.665423
Name: 3755, dtype: object
3756, Date         2013-07-17
Time         8:22:21 PM
Latitude      41.731125
Longitude    -87.665407
Name: 3756, dtype: object
3757, Date         2013-07-17
Time         8:22:31 PM
Latitude      41.730638
Longitude    -87.665383
Name: 3757, dtype: object
3758, Date         2013-07-17
Time         8:22:41 PM
Latitude      41.730182
Longitude    -87.665368
Name: 3758, dtype: object
3759, Date         2013-07-17
Time         8:23:01 PM
Latitude      41.729197
Longitude    -87.665333
Name: 3759, dtype: object
3760, Date         2013-07-17
Time         8:23:11 PM
Latitude      41.728822
Longitude     -87.66534
Name: 3760, dtype: object
3761, Date         2013-07-17
Time         8:23:21 PM
Latitude      41.728298
Longitude    -87.665305
Name: 3761, dtype: object
3762, Date         2013-07-17
Time         8:23:31 PM
Latitude      41.727838
Longitude    -87.665305
Name: 3762, dtype: object
3763, Date         2013-07-17
Time         8:23:41 PM
Latitude      41.727307
Longitude    -87.665288
Name: 3763, dtype: object
3764, Date         2013-07-17
Time         8:23:51 PM
Latitude      41.726933
Longitude    -87.665238
Name: 3764, dtype: object
3765, Date         2013-07-17
Time         8:24:01 PM
Latitude       41.72689
Longitude    -87.664647
Name: 3765, dtype: object
3766, Date         2013-07-17
Time         8:24:11 PM
Latitude      41.726863
Longitude    -87.664212
Name: 3766, dtype: object
3767, Date         2013-07-17
Time         8:24:21 PM
Latitude       41.72726
Longitude    -87.664158
Name: 3767, dtype: object
3768, Date         2013-07-17
Time         8:24:31 PM
Latitude      41.727722
Longitude    -87.664168
Name: 3768, dtype: object
3769, Date         2013-07-17
Time         8:24:41 PM
Latitude      41.728147
Longitude    -87.664178
Name: 3769, dtype: object
3770, Date         2013-07-17
Time         8:24:51 PM
Latitude      41.728587
Longitude    -87.664182
Name: 3770, dtype: object
3771, Date         2013-07-17
Time         8:25:01 PM
Latitude      41.729072
Longitude    -87.664203
Name: 3771, dtype: object
3772, Date         2013-07-17
Time         8:25:11 PM
Latitude      41.729523
Longitude    -87.664205
Name: 3772, dtype: object
3773, Date         2013-07-17
Time         8:25:21 PM
Latitude      41.729945
Longitude    -87.664217
Name: 3773, dtype: object
3774, Date         2013-07-17
Time         8:25:31 PM
Latitude      41.730395
Longitude    -87.664218
Name: 3774, dtype: object
3775, Date         2013-07-17
Time         8:25:41 PM
Latitude       41.73088
Longitude    -87.664235
Name: 3775, dtype: object
3776, Date         2013-07-17
Time         8:25:51 PM
Latitude      41.731288
Longitude    -87.664242
Name: 3776, dtype: object
3777, Date         2013-07-17
Time         8:26:01 PM
Latitude      41.731598
Longitude    -87.664247
Name: 3777, dtype: object
3778, Date         2013-07-17
Time         8:26:11 PM
Latitude      41.731787
Longitude    -87.663987
Name: 3778, dtype: object
3779, Date         2013-07-17
Time         8:26:21 PM
Latitude      41.731668
Longitude    -87.663673
Name: 3779, dtype: object
3780, Date         2013-07-17
Time         8:26:31 PM
Latitude      41.731335
Longitude    -87.663625
Name: 3780, dtype: object
3781, Date         2013-07-17
Time         8:26:41 PM
Latitude      41.731007
Longitude    -87.663613
Name: 3781, dtype: object
3782, Date         2013-07-17
Time         8:26:51 PM
Latitude      41.730675
Longitude    -87.663607
Name: 3782, dtype: object
3783, Date         2013-07-17
Time         8:27:01 PM
Latitude      41.730442
Longitude    -87.663578
Name: 3783, dtype: object
3784, Date         2013-07-17
Time         8:27:21 PM
Latitude      41.730283
Longitude    -87.664287
Name: 3784, dtype: object
3785, Date         2013-07-17
Time         8:27:31 PM
Latitude      41.730275
Longitude    -87.664957
Name: 3785, dtype: object
3786, Date         2013-07-17
Time         8:27:41 PM
Latitude      41.730257
Longitude    -87.665688
Name: 3786, dtype: object
3787, Date         2013-07-17
Time         8:27:51 PM
Latitude      41.730243
Longitude    -87.666315
Name: 3787, dtype: object
3788, Date         2013-07-17
Time         8:28:01 PM
Latitude       41.73024
Longitude    -87.666883
Name: 3788, dtype: object
3789, Date         2013-07-17
Time         8:28:11 PM
Latitude      41.730235
Longitude     -87.66753
Name: 3789, dtype: object
3790, Date         2013-07-17
Time         8:28:21 PM
Latitude      41.730238
Longitude    -87.668017
Name: 3790, dtype: object
3791, Date         2013-07-17
Time         8:28:31 PM
Latitude       41.73055
Longitude    -87.668368
Name: 3791, dtype: object
3792, Date         2013-07-17
Time         8:28:41 PM
Latitude      41.730907
Longitude    -87.668668
Name: 3792, dtype: object
3793, Date         2013-07-17
Time         8:29:01 PM
Latitude       41.73119
Longitude    -87.668455
Name: 3793, dtype: object
3794, Date         2013-07-17
Time         8:29:11 PM
Latitude      41.731128
Longitude    -87.668175
Name: 3794, dtype: object
3795, Date         2013-07-17
Time         8:29:21 PM
Latitude      41.730847
Longitude    -87.667938
Name: 3795, dtype: object
3796, Date         2013-07-17
Time         8:29:31 PM
Latitude      41.730557
Longitude    -87.667697
Name: 3796, dtype: object
3797, Date         2013-07-17
Time         8:30:21 PM
Latitude      41.730233
Longitude    -87.667043
Name: 3797, dtype: object
3798, Date         2013-07-17
Time         8:30:31 PM
Latitude      41.730243
Longitude    -87.666468
Name: 3798, dtype: object
3799, Date         2013-07-17
Time         8:30:41 PM
Latitude      41.730252
Longitude    -87.665693
Name: 3799, dtype: object
3800, Date         2013-07-17
Time         8:30:51 PM
Latitude      41.730048
Longitude     -87.66536
Name: 3800, dtype: object
3801, Date         2013-07-17
Time         8:31:01 PM
Latitude      41.729598
Longitude    -87.665347
Name: 3801, dtype: object
3802, Date         2013-07-17
Time         8:31:11 PM
Latitude      41.729075
Longitude     -87.66533
Name: 3802, dtype: object
3803, Date         2013-07-17
Time         8:31:21 PM
Latitude      41.728702
Longitude    -87.665318
Name: 3803, dtype: object
3804, Date         2013-07-17
Time         8:31:31 PM
Latitude      41.728553
Longitude    -87.665673
Name: 3804, dtype: object
3805, Date         2013-07-17
Time         8:31:41 PM
Latitude      41.728518
Longitude    -87.666247
Name: 3805, dtype: object
3806, Date         2013-07-17
Time         8:31:51 PM
Latitude        41.7285
Longitude    -87.666767
Name: 3806, dtype: object
3807, Date         2013-07-17
Time         8:32:01 PM
Latitude      41.728175
Longitude    -87.666778
Name: 3807, dtype: object
3808, Date         2013-07-17
Time         8:32:11 PM
Latitude      41.727703
Longitude    -87.666552
Name: 3808, dtype: object
3809, Date         2013-07-17
Time         8:32:21 PM
Latitude      41.727613
Longitude    -87.666038
Name: 3809, dtype: object
3810, Date         2013-07-17
Time         8:32:31 PM
Latitude      41.727622
Longitude     -87.66547
Name: 3810, dtype: object
3811, Date         2013-07-17
Time         8:32:41 PM
Latitude      41.727372
Longitude    -87.665237
Name: 3811, dtype: object
3812, Date         2013-07-17
Time         8:32:51 PM
Latitude      41.726933
Longitude    -87.665237
Name: 3812, dtype: object
3813, Date         2013-07-17
Time         8:33:01 PM
Latitude      41.726733
Longitude    -87.665467
Name: 3813, dtype: object
3814, Date         2013-07-17
Time         8:33:11 PM
Latitude      41.726693
Longitude    -87.665937
Name: 3814, dtype: object
3815, Date         2013-07-17
Time         8:33:21 PM
Latitude      41.726278
Longitude    -87.665843
Name: 3815, dtype: object
3816, Date         2013-07-17

4044, Date         2013-07-17
Time         9:15:01 PM
Latitude       41.72163
Longitude    -87.659913
Name: 4044, dtype: object
4045, Date         2013-07-17
Time         9:15:11 PM
Latitude        41.7216
Longitude     -87.66066
Name: 4045, dtype: object
4046, Date         2013-07-17
Time         9:15:21 PM
Latitude      41.721577
Longitude    -87.661277
Name: 4046, dtype: object
4047, Date         2013-07-17
Time         9:15:31 PM
Latitude      41.721893
Longitude    -87.661378
Name: 4047, dtype: object
4048, Date         2013-07-17
Time         9:15:41 PM
Latitude      41.722307
Longitude    -87.661412
Name: 4048, dtype: object
4049, Date         2013-07-17
Time         9:15:51 PM
Latitude      41.722788
Longitude    -87.661432
Name: 4049, dtype: object
4050, Date         2013-07-17
Time         9:16:01 PM
Latitude      41.723203
Longitude    -87.661443
Name: 4050, dtype: object
4051, Date         2013-07-17
Time         9:16:11 PM
Latitude      41.723643
Longitude    -87.661485
Name: 4051, dtype: object
4052, Date         2013-07-17
Time         9:16:21 PM
Latitude      41.724103
Longitude    -87.661488
Name: 4052, dtype: object
4053, Date         2013-07-17
Time         9:16:31 PM
Latitude      41.724573
Longitude    -87.661495
Name: 4053, dtype: object
4054, Date         2013-07-17
Time         9:16:41 PM
Latitude      41.725012
Longitude    -87.661502
Name: 4054, dtype: object
4055, Date         2013-07-17
Time         9:16:51 PM
Latitude      41.725437
Longitude    -87.661518
Name: 4055, dtype: object
4056, Date         2013-07-17
Time         9:17:01 PM
Latitude      41.725848
Longitude     -87.66155
Name: 4056, dtype: object
4057, Date         2013-07-17
Time         9:17:11 PM
Latitude      41.726192
Longitude     -87.66154
Name: 4057, dtype: object
4058, Date         2013-07-17
Time         9:17:21 PM
Latitude       41.72634
Longitude    -87.661543
Name: 4058, dtype: object
4059, Date         2013-07-17
Time         9:17:31 PM
Latitude      41.726823
Longitude    -87.661603
Name: 4059, dtype: object
4060, Date         2013-07-17
Time         9:17:41 PM
Latitude      41.727362
Longitude    -87.661628
Name: 4060, dtype: object
4061, Date         2013-07-17
Time         9:17:51 PM
Latitude      41.727885
Longitude    -87.661615
Name: 4061, dtype: object
4062, Date         2013-07-17
Time         9:18:01 PM
Latitude      41.728177
Longitude    -87.661457
Name: 4062, dtype: object
4063, Date         2013-07-17
Time         9:18:11 PM
Latitude      41.728212
Longitude    -87.660882
Name: 4063, dtype: object
4064, Date         2013-07-17
Time         9:18:21 PM
Latitude      41.728153
Longitude     -87.66051
Name: 4064, dtype: object
4065, Date         2013-07-17
Time         9:18:31 PM
Latitude      41.727747
Longitude    -87.660455
Name: 4065, dtype: object
4066, Date         2013-07-17
Time         9:18:41 PM
Latitude      41.727287
Longitude    -87.660417
Name: 4066, dtype: object
4067, Date         2013-07-17
Time         9:18:51 PM
Latitude      41.726843
Longitude    -87.660403
Name: 4067, dtype: object
4068, Date         2013-07-17
Time         9:19:01 PM
Latitude      41.726513
Longitude    -87.660373
Name: 4068, dtype: object
4069, Date         2013-07-17
Time         9:19:11 PM
Latitude      41.726063
Longitude     -87.66036
Name: 4069, dtype: object
4070, Date         2013-07-17
Time         9:19:21 PM
Latitude      41.725678
Longitude    -87.660333
Name: 4070, dtype: object
4071, Date         2013-07-17
Time         9:19:31 PM
Latitude       41.72524
Longitude    -87.660307
Name: 4071, dtype: object
4072, Date         2013-07-17
Time         9:19:41 PM
Latitude      41.724752
Longitude     -87.66029
Name: 4072, dtype: object
4073, Date         2013-07-17
Time         9:19:51 PM
Latitude      41.724253
Longitude    -87.660273
Name: 4073, dtype: object
4074, Date         2013-07-17
Time         9:20:01 PM
Latitude      41.723763
Longitude    -87.660248
Name: 4074, dtype: object
4075, Date         2013-07-17
Time         9:20:11 PM
Latitude       41.72326
Longitude    -87.660228
Name: 4075, dtype: object
4076, Date         2013-07-17
Time         9:20:21 PM
Latitude      41.722712
Longitude    -87.660233
Name: 4076, dtype: object
4077, Date         2013-07-17
Time         9:20:31 PM
Latitude      41.722157
Longitude    -87.660228
Name: 4077, dtype: object
4078, Date         2013-07-17
Time         9:28:11 PM
Latitude      41.728693
Longitude    -87.642778
Name: 4078, dtype: object
4079, Date         2013-07-17
Time         9:28:21 PM
Latitude      41.728703
Longitude    -87.642205
Name: 4079, dtype: object
4080, Date         2013-07-17
Time         9:28:31 PM
Latitude      41.728695
Longitude    -87.641463
Name: 4080, dtype: object
4081, Date         2013-07-17
Time         9:28:41 PM
Latitude      41.728723
Longitude    -87.640812
Name: 4081, dtype: object
4082, Date         2013-07-17
Time         9:28:51 PM
Latitude      41.728743
Longitude    -87.640143
Name: 4082, dtype: object
4083, Date         2013-07-17
Time         9:29:01 PM
Latitude      41.728745
Longitude    -87.639495
Name: 4083, dtype: object
4084, Date         2013-07-17
Time         9:29:11 PM
Latitude      41.728742
Longitude     -87.63886
Name: 4084, dtype: object
4085, Date         2013-07-17
Time         9:29:21 PM
Latitude      41.728765
Longitude     -87.63819
Name: 4085, dtype: object
4086, Date         2013-07-17
Time         9:29:31 PM
Latitude       41.72877
Longitude    -87.637473
Name: 4086, dtype: object
4087, Date         2013-07-17
Time         9:29:41 PM
Latitude      41.728778
Longitude    -87.636708
Name: 4087, dtype: object
4088, Date         2013-07-17
Time         9:29:51 PM
Latitude      41.728757
Longitude    -87.636137
Name: 4088, dtype: object
4089, Date         2013-07-17
Time         9:30:01 PM
Latitude      41.728787
Longitude    -87.635408
Name: 4089, dtype: object
4090, Date         2013-07-17
Time         9:30:31 PM
Latitude      41.728822
Longitude    -87.636087
Name: 4090, dtype: object
4091, Date         2013-07-17
Time         9:30:41 PM
Latitude      41.729145
Longitude    -87.636265
Name: 4091, dtype: object
4092, Date         2013-07-17
Time         9:30:51 PM
Latitude      41.729603
Longitude    -87.636267
Name: 4092, dtype: object
4093, Date         2013-07-17
Time         9:31:01 PM
Latitude      41.729973
Longitude     -87.63627
Name: 4093, dtype: object
4094, Date         2013-07-17
Time         9:31:11 PM
Latitude      41.730435
Longitude    -87.636268
Name: 4094, dtype: object
4095, Date         2013-07-17
Time         9:31:21 PM
Latitude      41.730875
Longitude    -87.636283
Name: 4095, dtype: object
4096, Date         2013-07-17
Time         9:31:31 PM
Latitude      41.731352
Longitude     -87.63628
Name: 4096, dtype: object
4097, Date         2013-07-17
Time         9:31:41 PM
Latitude      41.731813
Longitude    -87.636288
Name: 4097, dtype: object
4098, Date         2013-07-17
Time         9:31:51 PM
Latitude      41.732315
Longitude    -87.636297
Name: 4098, dtype: object
4099, Date         2013-07-17
Time         9:32:01 PM
Latitude      41.732835
Longitude    -87.636313
Name: 4099, dtype: object
4100, Date         2013-07-17
Time         9:32:11 PM
Latitude       41.73334
Longitude    -87.636348
Name: 4100, dtype: object
4101, Date         2013-07-17
Time         9:32:21 PM
Latitude       41.73383
Longitude    -87.636352
Name: 4101, dtype: object
4102, Date         2013-07-17
Time         9:32:31 PM
Latitude      41.734318
Longitude    -87.636375
Name: 4102, dtype: object
4103, Date         2013-07-17
Time         9:32:41 PM
Latitude      41.734792
Longitude    -87.636393
Name: 4103, dtype: object
4104, Date         2013-07-17
Time         9:33:01 PM
Latitude      41.735133
Longitude    -87.636872
Name: 4104, dtype: object
4105, Date         2013-07-17
Time         9:33:11 PM
Latitude      41.735147
Longitude    -87.637258
Name: 4105, dtype: object
4106, Date         2013-07-17
Time         9:33:31 PM
Latitude      41.734737
Longitude    -87.637482
Name: 4106, dtype: object
4107, Date         2013-07-17
Time         9:33:41 PM
Latitude      41.734328
Longitude    -87.637455
Name: 4107, dtype: object
4108, Date         2013-07-17
Time         9:33:51 PM
Latitude       41.73398
Longitude    -87.637423
Name: 4108, dtype: object
4109, Date         2013-07-17
Time         9:34:01 PM
Latitude      41.733497
Longitude    -87.637413
Name: 4109, dtype: object
4110, Date         2013-07-17
Time         9:34:11 PM
Latitude      41.733027
Longitude      -87.6374
Name: 4110, dtype: object
4111, Date         2013-07-17
Time         9:34:21 PM
Latitude      41.732585
Longitude    -87.637378
Name: 4111, dtype: object
4112, Date         2013-07-17
Time         9:34:31 PM
Latitude       41.73211
Longitude    -87.637353
Name: 4112, dtype: object
4113, Date         2013-07-17
Time         9:34:41 PM
Latitude      41.731802
Longitude    -87.637335
Name: 4113, dtype: object
4114, Date         2013-07-17
Time         9:34:51 PM
Latitude      41.731408
Longitude    -87.637328
Name: 4114, dtype: object
4115, Date         2013-07-17
Time         9:35:01 PM
Latitude      41.730895
Longitude    -87.637332
Name: 4115, dtype: object
4116, Date         2013-07-17
Time         9:35:31 PM
Latitude      41.729548
Longitude    -87.637317
Name: 4116, dtype: object
4117, Date         2013-07-17
Time         9:35:41 PM
Latitude      41.729128
Longitude    -87.637328
Name: 4117, dtype: object
4118, Date         2013-07-17
Time         9:35:51 PM
Latitude       41.72901
Longitude    -87.637822
Name: 4118, dtype: object
4119, Date         2013-07-17
Time         9:36:01 PM
Latitude      41.728988
Longitude    -87.638297
Name: 4119, dtype: object
4120, Date         2013-07-17
Time         9:36:11 PM
Latitude      41.729127
Longitude    -87.638505
Name: 4120, dtype: object
4121, Date         2013-07-17
Time         9:36:21 PM
Latitude      41.729587
Longitude    -87.638535
Name: 4121, dtype: object
4122, Date         2013-07-17
Time         9:36:31 PM
Latitude       41.72991
Longitude    -87.638557
Name: 4122, dtype: object
4123, Date         2013-07-17
Time         9:36:41 PM
Latitude      41.730375
Longitude    -87.638565
Name: 4123, dtype: object
4124, Date         2013-07-17
Time         9:36:51 PM
Latitude      41.730727
Longitude    -87.638588
Name: 4124, dtype: object
4125, Date         2013-07-17
Time         9:37:01 PM
Latitude      41.731112
Longitude    -87.638622
Name: 4125, dtype: object
4126, Date         2013-07-17
Time         9:37:11 PM
Latitude      41.731488
Longitude    -87.638643
Name: 4126, dtype: object
4127, Date         2013-07-17
Time         9:37:31 PM
Latitude       41.73225
Longitude    -87.638692
Name: 4127, dtype: object
4128, Date         2013-07-17
Time         9:37:41 PM
Latitude        41.7327
Longitude    -87.638712
Name: 4128, dtype: object
4129, Date         2013-07-17
Time         9:37:51 PM
Latitude      41.733175
Longitude     -87.63873
Name: 4129, dtype: object
4130, Date         2013-07-17
Time         9:38:01 PM
Latitude      41.733622
Longitude    -87.638747
Name: 4130, dtype: object
4131, Date         2013-07-17
Time         9:38:21 PM
Latitude      41.734273
Longitude    -87.638775
Name: 4131, dtype: object
4132, Date         2013-07-17
Time         9:38:31 PM
Latitude      41.734832
Longitude    -87.638783
Name: 4132, dtype: object
4133, Date         2013-07-17
Time         9:38:41 PM
Latitude        41.7353
Longitude     -87.63879
Name: 4133, dtype: object
4134, Date         2013-07-17
Time         9:39:11 PM
Latitude      41.735772
Longitude    -87.638823
Name: 4134, dtype: object
4135, Date         2013-07-17
Time         9:39:21 PM
Latitude      41.735845
Longitude    -87.639628
Name: 4135, dtype: object
4136, Date         2013-07-17
Time         9:39:31 PM
Latitude      41.735603
Longitude    -87.639983
Name: 4136, dtype: object
4137, Date         2013-07-17
Time         9:39:41 PM
Latitude      41.735133
Longitude     -87.63996
Name: 4137, dtype: object
4138, Date         2013-07-17
Time         9:39:51 PM
Latitude      41.734668
Longitude    -87.639962
Name: 4138, dtype: object
4139, Date         2013-07-17
Time         9:40:01 PM
Latitude      41.734233
Longitude    -87.639948
Name: 4139, dtype: object
4140, Date         2013-07-17
Time         9:40:11 PM
Latitude      41.733773
Longitude     -87.63993
Name: 4140, dtype: object
4141, Date         2013-07-17
Time         9:40:21 PM
Latitude      41.733348
Longitude    -87.639907
Name: 4141, dtype: object
4142, Date         2013-07-17
Time         9:40:31 PM
Latitude       41.73294
Longitude    -87.639883
Name: 4142, dtype: object
4143, Date         2013-07-17
Time         9:40:41 PM
Latitude      41.732428
Longitude    -87.639875
Name: 4143, dtype: object
4144, Date         2013-07-17
Time         9:40:51 PM
Latitude      41.731885
Longitude    -87.639853
Name: 4144, dtype: object
4145, Date         2013-07-17
Time         9:41:01 PM
Latitude      41.731353
Longitude    -87.639823
Name: 4145, dtype: object
4146, Date         2013-07-17
Time         9:41:11 PM
Latitude       41.73087
Longitude    -87.639818
Name: 4146, dtype: object
4147, Date         2013-07-17
Time         9:41:21 PM
Latitude      41.730395
Longitude    -87.639798
Name: 4147, dtype: object
4148, Date         2013-07-17
Time         9:41:41 PM
Latitude       41.72969
Longitude    -87.639772
Name: 4148, dtype: object
4149, Date         2013-07-17
Time         9:41:51 PM
Latitude      41.729162
Longitude    -87.639762
Name: 4149, dtype: object
4150, Date         2013-07-17
Time         9:42:01 PM
Latitude      41.728968
Longitude     -87.64007
Name: 4150, dtype: object
4151, Date         2013-07-17
Time         9:42:11 PM
Latitude      41.728943
Longitude    -87.640725
Name: 4151, dtype: object
4152, Date         2013-07-17
Time         9:42:21 PM
Latitude      41.729183
Longitude    -87.640972
Name: 4152, dtype: object
4153, Date         2013-07-17
Time         9:42:31 PM
Latitude      41.729532
Longitude    -87.640985
Name: 4153, dtype: object
4154, Date         2013-07-17
Time         9:42:41 PM
Latitude      41.729978
Longitude    -87.641017
Name: 4154, dtype: object
4155, Date         2013-07-17
Time         9:42:51 PM
Latitude      41.730338
Longitude    -87.641032
Name: 4155, dtype: object
4156, Date         2013-07-17
Time         9:43:01 PM
Latitude       41.73084
Longitude    -87.641038
Name: 4156, dtype: object
4157, Date         2013-07-17
Time         9:43:11 PM
Latitude      41.731347
Longitude    -87.641085
Name: 4157, dtype: object
4158, Date         2013-07-17
Time         9:43:21 PM
Latitude      41.731815
Longitude      -87.6411
Name: 4158, dtype: object
4159, Date         2013-07-17
Time         9:43:31 PM
Latitude       41.73222
Longitude    -87.641138
Name: 4159, dtype: object
4160, Date         2013-07-17
Time         9:43:41 PM
Latitude      41.732568
Longitude    -87.641153
Name: 4160, dtype: object
4161, Date         2013-07-17
Time         9:43:51 PM
Latitude      41.733063
Longitude    -87.641187
Name: 4161, dtype: object
4162, Date         2013-07-17
Time         9:44:01 PM
Latitude      41.733638
Longitude    -87.641192
Name: 4162, dtype: object
4163, Date         2013-07-17
Time         9:44:11 PM
Latitude      41.734097
Longitude     -87.64121
Name: 4163, dtype: object
4164, Date         2013-07-17
Time         9:44:21 PM
Latitude      41.734567
Longitude    -87.641228
Name: 4164, dtype: object
4165, Date         2013-07-17
Time         9:44:31 PM
Latitude       41.73511
Longitude    -87.641243
Name: 4165, dtype: object
4166, Date         2013-07-17
Time         9:44:41 PM
Latitude      41.735518
Longitude    -87.641248
Name: 4166, dtype: object
4167, Date         2013-07-17
Time         9:44:51 PM
Latitude      41.735638
Longitude    -87.641763
Name: 4167, dtype: object
4168, Date         2013-07-17
Time         9:45:01 PM
Latitude      41.735652
Longitude    -87.642162
Name: 4168, dtype: object
4169, Date         2013-07-17
Time         9:45:11 PM
Latitude      41.735448
Longitude    -87.642343
Name: 4169, dtype: object
4170, Date         2013-07-17
Time         9:45:21 PM
Latitude      41.735097
Longitude    -87.642338
Name: 4170, dtype: object
4171, Date         2013-07-17
Time         9:45:31 PM
Latitude      41.734707
Longitude    -87.642328
Name: 4171, dtype: object
4172, Date         2013-07-17
Time         9:45:41 PM
Latitude      41.734372
Longitude    -87.642328
Name: 4172, dtype: object
4173, Date         2013-07-17
Time         9:45:51 PM
Latitude      41.733873
Longitude    -87.642302
Name: 4173, dtype: object
4174, Date         2013-07-17
Time         9:46:01 PM
Latitude      41.733358
Longitude    -87.642292
Name: 4174, dtype: object
4175, Date         2013-07-17
Time         9:46:11 PM
Latitude      41.732888
Longitude    -87.642275
Name: 4175, dtype: object
4176, Date         2013-07-17
Time         9:46:21 PM
Latitude       41.73251
Longitude    -87.642263
Name: 4176, dtype: object
4177, Date         2013-07-17
Time         9:46:31 PM
Latitude      41.731975
Longitude    -87.642238
Name: 4177, dtype: object
4178, Date         2013-07-17
Time         9:46:41 PM
Latitude      41.731473
Longitude    -87.642223
Name: 4178, dtype: object
4179, Date         2013-07-17
Time         9:46:51 PM
Latitude      41.731022
Longitude     -87.64221
Name: 4179, dtype: object
4180, Date         2013-07-17
Time         9:47:01 PM
Latitude      41.730858
Longitude    -87.642478
Name: 4180, dtype: object
4181, Date         2013-07-17
Time         9:47:11 PM
Latitude      41.730858
Longitude     -87.64308
Name: 4181, dtype: object
4182, Date         2013-07-17
Time         9:47:41 PM
Latitude      41.730997
Longitude    -87.643365
Name: 4182, dtype: object
4183, Date         2013-07-17
Time         7:48:32 PM
Latitude      42.002867
Longitude     -87.76243
Name: 4183, dtype: object
4184, Date         2013-07-17
Time         7:48:42 PM
Latitude      42.003087
Longitude    -87.762895
Name: 4184, dtype: object
4185, Date         2013-07-17
Time         7:48:52 PM
Latitude       42.00335
Longitude    -87.763465
Name: 4185, dtype: object
4186, Date         2013-07-17
Time         7:49:02 PM
Latitude      42.003625
Longitude    -87.764055
Name: 4186, dtype: object
4187, Date         2013-07-17
Time         7:49:12 PM
Latitude      42.003893
Longitude    -87.764647
Name: 4187, dtype: object
4188, Date         2013-07-17
Time         7:49:22 PM
Latitude      42.004157
Longitude    -87.765218
Name: 4188, dtype: object
4189, Date         2013-07-17
Time         7:49:32 PM
Latitude      42.004447
Longitude     -87.76585
Name: 4189, dtype: object
4190, Date         2013-07-17
Time         7:49:42 PM
Latitude       42.00474
Longitude    -87.766467
Name: 4190, dtype: object
4191, Date         2013-07-17
Time         7:49:52 PM
Latitude       42.00509
Longitude    -87.766935
Name: 4191, dtype: object
4192, Date         2013-07-17
Time         7:50:02 PM
Latitude      42.005623
Longitude    -87.766977
Name: 4192, dtype: object
4193, Date         2013-07-17
Time         7:50:12 PM
Latitude      42.006198
Longitude    -87.766982
Name: 4193, dtype: object
4194, Date         2013-07-17
Time         7:50:22 PM
Latitude      42.006728
Longitude    -87.766968
Name: 4194, dtype: object
4195, Date         2013-07-17
Time         7:50:32 PM
Latitude      42.007315
Longitude    -87.766965
Name: 4195, dtype: object
4196, Date         2013-07-17
Time         7:50:42 PM
Latitude      42.007797
Longitude    -87.766768
Name: 4196, dtype: object
4197, Date         2013-07-17
Time         7:50:52 PM
Latitude      42.007805
Longitude    -87.766035
Name: 4197, dtype: object
4198, Date         2013-07-17
Time         7:51:02 PM
Latitude      42.007813
Longitude    -87.765293
Name: 4198, dtype: object
4199, Date         2013-07-17
Time         7:51:12 PM
Latitude       42.00782
Longitude    -87.764452
Name: 4199, dtype: object
4200, Date         2013-07-17

4231, Date         2013-07-17
Time         7:57:52 PM
Latitude      42.004023
Longitude    -87.762545
Name: 4231, dtype: object
4232, Date         2013-07-17
Time         7:58:02 PM
Latitude       42.00422
Longitude     -87.76299
Name: 4232, dtype: object
4233, Date         2013-07-17
Time         7:58:12 PM
Latitude      42.004558
Longitude    -87.763695
Name: 4233, dtype: object
4234, Date         2013-07-17
Time         7:58:22 PM
Latitude      42.004867
Longitude    -87.764335
Name: 4234, dtype: object
4235, Date         2013-07-17
Time         7:58:32 PM
Latitude      42.004838
Longitude    -87.764673
Name: 4235, dtype: object
4236, Date         2013-07-17
Time         7:58:42 PM
Latitude      42.004505
Longitude    -87.764922
Name: 4236, dtype: object
4237, Date         2013-07-17
Time         7:58:52 PM
Latitude      42.004247
Longitude    -87.765133
Name: 4237, dtype: object
4238, Date         2013-07-17
Time         7:59:02 PM
Latitude      42.003987
Longitude    -87.764783
Name: 4238, dtype: object
4239, Date         2013-07-17
Time         7:59:12 PM
Latitude      42.003695
Longitude    -87.764162
Name: 4239, dtype: object
4240, Date         2013-07-17
Time         7:59:22 PM
Latitude      42.003405
Longitude     -87.76355
Name: 4240, dtype: object
4241, Date         2013-07-17
Time         7:59:32 PM
Latitude      42.003145
Longitude    -87.762977
Name: 4241, dtype: object
4242, Date         2013-07-17
Time         7:59:42 PM
Latitude       42.00285
Longitude    -87.762352
Name: 4242, dtype: object
4243, Date         2013-07-17
Time         8:00:12 PM
Latitude      42.002428
Longitude    -87.762165
Name: 4243, dtype: object
4244, Date         2013-07-17
Time         8:00:22 PM
Latitude      42.001853
Longitude    -87.762362
Name: 4244, dtype: object
4245, Date         2013-07-17
Time         8:00:32 PM
Latitude      42.002057
Longitude    -87.762957
Name: 4245, dtype: object
4246, Date         2013-07-17
Time         8:00:42 PM
Latitude      42.002325
Longitude    -87.763573
Name: 4246, dtype: object
4247, Date         2013-07-17
Time         8:00:52 PM
Latitude       42.00262
Longitude    -87.764243
Name: 4247, dtype: object
4248, Date         2013-07-17
Time         8:01:02 PM
Latitude      42.002917
Longitude    -87.764925
Name: 4248, dtype: object
4249, Date         2013-07-17
Time         8:01:12 PM
Latitude      42.003222
Longitude     -87.76557
Name: 4249, dtype: object
4250, Date         2013-07-17
Time         8:01:22 PM
Latitude      42.003478
Longitude    -87.766152
Name: 4250, dtype: object
4251, Date         2013-07-17
Time         8:01:32 PM
Latitude       42.00376
Longitude     -87.76676
Name: 4251, dtype: object
4252, Date         2013-07-17
Time         8:01:42 PM
Latitude      42.003993
Longitude    -87.767267
Name: 4252, dtype: object
4253, Date         2013-07-17
Time         8:01:52 PM
Latitude      42.004077
Longitude    -87.767598
Name: 4253, dtype: object
4254, Date         2013-07-17
Time         8:02:02 PM
Latitude      42.003737
Longitude    -87.767913
Name: 4254, dtype: object
4255, Date         2013-07-17
Time         8:02:12 PM
Latitude       42.00339
Longitude    -87.768073
Name: 4255, dtype: object
4256, Date         2013-07-17
Time         8:02:22 PM
Latitude      42.003182
Longitude    -87.767658
Name: 4256, dtype: object
4257, Date         2013-07-17
Time         8:02:32 PM
Latitude      42.002912
Longitude    -87.767047
Name: 4257, dtype: object
4258, Date         2013-07-17
Time         8:02:42 PM
Latitude       42.00264
Longitude    -87.766433
Name: 4258, dtype: object
4259, Date         2013-07-17
Time         8:02:52 PM
Latitude      42.002303
Longitude    -87.765722
Name: 4259, dtype: object
4260, Date         2013-07-17
Time         8:03:02 PM
Latitude      42.001997
Longitude    -87.765022
Name: 4260, dtype: object
4261, Date         2013-07-17
Time         8:03:12 PM
Latitude      42.001643
Longitude    -87.764277
Name: 4261, dtype: object
4262, Date         2013-07-17
Time         8:03:22 PM
Latitude      42.001328
Longitude    -87.763598
Name: 4262, dtype: object
4263, Date         2013-07-17
Time         8:03:32 PM
Latitude      42.001045
Longitude    -87.762988
Name: 4263, dtype: object
4264, Date         2013-07-17
Time         8:03:52 PM
Latitude      42.000227
Longitude    -87.763072
Name: 4264, dtype: object
4265, Date         2013-07-17
Time         8:04:02 PM
Latitude      42.000352
Longitude    -87.763633
Name: 4265, dtype: object
4266, Date         2013-07-17
Time         8:04:12 PM
Latitude      42.000672
Longitude    -87.764318
Name: 4266, dtype: object
4267, Date         2013-07-17
Time         8:04:22 PM
Latitude      42.000975
Longitude    -87.765005
Name: 4267, dtype: object
4268, Date         2013-07-17
Time         8:04:32 PM
Latitude      42.001337
Longitude    -87.765758
Name: 4268, dtype: object
4269, Date         2013-07-17
Time         8:04:42 PM
Latitude      42.001612
Longitude    -87.766418
Name: 4269, dtype: object
4270, Date         2013-07-17
Time         8:04:52 PM
Latitude      42.001883
Longitude    -87.767042
Name: 4270, dtype: object
4271, Date         2013-07-17
Time         8:05:02 PM
Latitude      42.002207
Longitude    -87.767613
Name: 4271, dtype: object
4272, Date         2013-07-17
Time         8:05:12 PM
Latitude      42.002692
Longitude    -87.767885
Name: 4272, dtype: object
4273, Date         2013-07-17
Time         8:05:22 PM
Latitude      42.003278
Longitude    -87.768193
Name: 4273, dtype: object
4274, Date         2013-07-17
Time         8:05:32 PM
Latitude      42.003848
Longitude     -87.76814
Name: 4274, dtype: object
4275, Date         2013-07-17
Time         8:05:42 PM
Latitude      42.004192
Longitude    -87.767748
Name: 4275, dtype: object
4276, Date         2013-07-17
Time         8:05:52 PM
Latitude      42.003908
Longitude    -87.767138
Name: 4276, dtype: object
4277, Date         2013-07-17
Time         8:06:02 PM
Latitude      42.003707
Longitude    -87.766708
Name: 4277, dtype: object
4278, Date         2013-07-17
Time         8:06:12 PM
Latitude      42.003462
Longitude    -87.766182
Name: 4278, dtype: object
4279, Date         2013-07-17
Time         8:06:22 PM
Latitude      42.003323
Longitude     -87.76589
Name: 4279, dtype: object
4280, Date         2013-07-17
Time         8:06:32 PM
Latitude      42.003082
Longitude    -87.765377
Name: 4280, dtype: object
4281, Date         2013-07-17
Time         8:06:42 PM
Latitude      42.002817
Longitude     -87.76478
Name: 4281, dtype: object
4282, Date         2013-07-17
Time         8:06:52 PM
Latitude      42.002552
Longitude    -87.764188
Name: 4282, dtype: object
4283, Date         2013-07-17
Time         8:07:02 PM
Latitude       42.00227
Longitude    -87.763547
Name: 4283, dtype: object
4284, Date         2013-07-17
Time         8:07:12 PM
Latitude      42.001948
Longitude    -87.762902
Name: 4284, dtype: object
4285, Date         2013-07-17
Time         8:07:22 PM
Latitude      42.001618
Longitude    -87.762737
Name: 4285, dtype: object
4286, Date         2013-07-17
Time         8:08:52 PM
Latitude      41.998165
Longitude    -87.765718
Name: 4286, dtype: object
4287, Date         2013-07-17
Time         8:09:02 PM
Latitude       41.99864
Longitude    -87.765925
Name: 4287, dtype: object
4288, Date         2013-07-17
Time         8:09:12 PM
Latitude      41.998955
Longitude    -87.766058
Name: 4288, dtype: object
4289, Date         2013-07-17
Time         8:09:22 PM
Latitude      41.998788
Longitude    -87.766047
Name: 4289, dtype: object
4290, Date         2013-07-17
Time         8:09:32 PM
Latitude      41.998248
Longitude    -87.765752
Name: 4290, dtype: object
4291, Date         2013-07-17
Time         8:10:52 PM
Latitude       41.99808
Longitude    -87.763717
Name: 4291, dtype: object
4292, Date         2013-07-17
Time         8:11:02 PM
Latitude      41.998402
Longitude    -87.764337
Name: 4292, dtype: object
4293, Date         2013-07-17
Time         8:11:12 PM
Latitude      41.998688
Longitude    -87.765025
Name: 4293, dtype: object
4294, Date         2013-07-17
Time         8:11:22 PM
Latitude      41.998982
Longitude    -87.765658
Name: 4294, dtype: object
4295, Date         2013-07-17
Time         8:11:32 PM
Latitude       41.99928
Longitude     -87.76612
Name: 4295, dtype: object
4296, Date         2013-07-17
Time         8:11:42 PM
Latitude      41.999728
Longitude    -87.765817
Name: 4296, dtype: object
4297, Date         2013-07-17
Time         8:11:52 PM
Latitude        42.0002
Longitude    -87.765482
Name: 4297, dtype: object
4298, Date         2013-07-17
Time         8:12:02 PM
Latitude      42.000765
Longitude     -87.76504
Name: 4298, dtype: object
4299, Date         2013-07-17
Time         8:12:12 PM
Latitude      42.001352
Longitude    -87.764562
Name: 4299, dtype: object
4300, Date         2013-07-17
Time         8:12:22 PM
Latitude      42.001982
Longitude    -87.764055
Name: 4300, dtype: object
4301, Date         2013-07-17
Time         8:12:32 PM
Latitude      42.002518
Longitude    -87.763678
Name: 4301, dtype: object
4302, Date         2013-07-17
Time         8:12:42 PM
Latitude      42.002902
Longitude     -87.76333
Name: 4302, dtype: object
4303, Date         2013-07-17
Time         8:12:52 PM
Latitude      42.003243
Longitude    -87.763792
Name: 4303, dtype: object
4304, Date         2013-07-17
Time         8:13:02 PM
Latitude      42.003668
Longitude    -87.764658
Name: 4304, dtype: object
4305, Date         2013-07-17
Time         8:13:12 PM
Latitude      42.003918
Longitude    -87.765282
Name: 4305, dtype: object
4306, Date         2013-07-17
Time         8:13:22 PM
Latitude      42.003427
Longitude    -87.765685
Name: 4306, dtype: object
4307, Date         2013-07-17
Time         8:13:32 PM
Latitude      42.002882
Longitude    -87.766112
Name: 4307, dtype: object
4308, Date         2013-07-17
Time         8:13:42 PM
Latitude       42.00237
Longitude    -87.766487
Name: 4308, dtype: object
4309, Date         2013-07-17
Time         8:13:52 PM
Latitude      42.001845
Longitude    -87.766878
Name: 4309, dtype: object
4310, Date         2013-07-17
Time         8:14:02 PM
Latitude       42.00138
Longitude    -87.767165
Name: 4310, dtype: object
4311, Date         2013-07-17
Time         8:14:12 PM
Latitude       42.00093
Longitude    -87.766945
Name: 4311, dtype: object
4312, Date         2013-07-17
Time         8:14:22 PM
Latitude      42.000622
Longitude    -87.766602
Name: 4312, dtype: object
4313, Date         2013-07-17
Time         8:14:32 PM
Latitude      42.000338
Longitude    -87.765977
Name: 4313, dtype: object
4314, Date         2013-07-17
Time         8:14:42 PM
Latitude      42.000025
Longitude    -87.765307
Name: 4314, dtype: object
4315, Date         2013-07-17
Time         8:14:52 PM
Latitude      41.999707
Longitude     -87.76461
Name: 4315, dtype: object
4316, Date         2013-07-17
Time         8:15:02 PM
Latitude      41.999442
Longitude    -87.764022
Name: 4316, dtype: object
4317, Date         2013-07-17
Time         8:15:12 PM
Latitude      41.999188
Longitude    -87.763533
Name: 4317, dtype: object
4318, Date         2013-07-17
Time         8:15:22 PM
Latitude      41.998652
Longitude    -87.763653
Name: 4318, dtype: object
4319, Date         2013-07-17
Time         8:15:32 PM
Latitude      41.998073
Longitude    -87.763853
Name: 4319, dtype: object
4320, Date         2013-07-17
Time         8:16:52 PM
Latitude      41.998898
Longitude    -87.766585
Name: 4320, dtype: object
4321, Date         2013-07-17
Time         8:17:02 PM
Latitude      41.998658
Longitude    -87.766988
Name: 4321, dtype: object
4322, Date         2013-07-17
Time         8:17:12 PM
Latitude       41.99816
Longitude    -87.767378
Name: 4322, dtype: object
4323, Date         2013-07-17
Time         8:17:22 PM
Latitude         41.998
Longitude    -87.767735
Name: 4323, dtype: object
4324, Date         2013-07-17
Time         8:17:32 PM
Latitude      41.998323
Longitude    -87.768467
Name: 4324, dtype: object
4325, Date         2013-07-17
Time         8:17:42 PM
Latitude      41.998845
Longitude      -87.7681
Name: 4325, dtype: object
4326, Date         2013-07-17
Time         8:17:52 PM
Latitude      41.999408
Longitude    -87.767652
Name: 4326, dtype: object
4327, Date         2013-07-17
Time         8:18:02 PM
Latitude      41.999892
Longitude     -87.76724
Name: 4327, dtype: object
4328, Date         2013-07-17
Time         8:18:12 PM
Latitude      42.000403
Longitude    -87.767355
Name: 4328, dtype: object
4329, Date         2013-07-17
Time         8:18:22 PM
Latitude      42.000895
Longitude     -87.76769
Name: 4329, dtype: object
4330, Date         2013-07-17
Time         8:18:32 PM
Latitude      42.000448
Longitude    -87.768122
Name: 4330, dtype: object
4331, Date         2013-07-17
Time         8:18:42 PM
Latitude      41.999925
Longitude    -87.768563
Name: 4331, dtype: object
4332, Date         2013-07-17
Time         8:18:52 PM
Latitude      41.999372
Longitude    -87.769017
Name: 4332, dtype: object
4333, Date         2013-07-17
Time         8:19:02 PM
Latitude      41.998812
Longitude    -87.769463
Name: 4333, dtype: object
4334, Date         2013-07-17
Time         8:19:12 PM
Latitude      41.999012
Longitude    -87.770117
Name: 4334, dtype: object
4335, Date         2013-07-17
Time         8:19:22 PM
Latitude       41.99944
Longitude    -87.770338
Name: 4335, dtype: object
4336, Date         2013-07-17
Time         8:19:32 PM
Latitude       41.99999
Longitude    -87.769908
Name: 4336, dtype: object
4337, Date         2013-07-17
Time         8:19:42 PM
Latitude       42.00054
Longitude    -87.769488
Name: 4337, dtype: object
4338, Date         2013-07-17
Time         8:19:52 PM
Latitude      42.001115
Longitude    -87.769078
Name: 4338, dtype: object
4339, Date         2013-07-17
Time         8:20:02 PM
Latitude      42.001705
Longitude     -87.76862
Name: 4339, dtype: object
4340, Date         2013-07-17
Time         8:20:22 PM
Latitude      42.002325
Longitude    -87.768462
Name: 4340, dtype: object
4341, Date         2013-07-17
Time         8:20:32 PM
Latitude      42.002593
Longitude     -87.76902
Name: 4341, dtype: object
4342, Date         2013-07-17
Time         8:20:42 PM
Latitude      42.002315
Longitude    -87.769432
Name: 4342, dtype: object
4343, Date         2013-07-17
Time         8:20:52 PM
Latitude      42.001795
Longitude    -87.769857
Name: 4343, dtype: object
4344, Date         2013-07-17
Time         8:21:02 PM
Latitude       42.00125
Longitude      -87.7703
Name: 4344, dtype: object
4345, Date         2013-07-17
Time         8:21:12 PM
Latitude       42.00069
Longitude    -87.770695
Name: 4345, dtype: object
4346, Date         2013-07-17
Time         8:21:22 PM
Latitude      42.000117
Longitude    -87.771155
Name: 4346, dtype: object
4347, Date         2013-07-17
Time         8:21:32 PM
Latitude      41.999755
Longitude    -87.771525
Name: 4347, dtype: object
4348, Date         2013-07-17
Time         8:21:42 PM
Latitude      42.000013
Longitude     -87.77216
Name: 4348, dtype: object
4349, Date         2013-07-17
Time         8:22:02 PM
Latitude      42.000658
Longitude    -87.772187
Name: 4349, dtype: object
4350, Date         2013-07-17
Time         8:22:12 PM
Latitude      42.001118
Longitude      -87.7719
Name: 4350, dtype: object
4351, Date         2013-07-17
Time         8:22:22 PM
Latitude      42.001585
Longitude    -87.771522
Name: 4351, dtype: object
4352, Date         2013-07-17
Time         8:22:32 PM
Latitude      42.002063
Longitude    -87.771182
Name: 4352, dtype: object
4353, Date         2013-07-17
Time         8:22:52 PM
Latitude       42.00306
Longitude    -87.770438
Name: 4353, dtype: object
4354, Date         2013-07-17
Time         8:23:02 PM
Latitude      42.003538
Longitude    -87.770047
Name: 4354, dtype: object
4355, Date         2013-07-17
Time         8:23:12 PM
Latitude      42.003967
Longitude      -87.7697
Name: 4355, dtype: object
4356, Date         2013-07-17
Time         8:23:22 PM
Latitude      42.004105
Longitude    -87.769585
Name: 4356, dtype: object
4357, Date         2013-07-17
Time         8:23:32 PM
Latitude      42.004707
Longitude     -87.76985
Name: 4357, dtype: object
4358, Date         2013-07-17
Time         8:23:42 PM
Latitude      42.004935
Longitude    -87.770217
Name: 4358, dtype: object
4359, Date         2013-07-17
Time         8:23:52 PM
Latitude      42.004432
Longitude    -87.770585
Name: 4359, dtype: object
4360, Date         2013-07-17
Time         8:24:02 PM
Latitude       42.00397
Longitude     -87.77095
Name: 4360, dtype: object
4361, Date         2013-07-17
Time         8:24:12 PM
Latitude      42.003543
Longitude     -87.77127
Name: 4361, dtype: object
4362, Date         2013-07-17
Time         8:24:22 PM
Latitude      42.003022
Longitude     -87.77171
Name: 4362, dtype: object
4363, Date         2013-07-17
Time         8:24:32 PM
Latitude      42.002495
Longitude    -87.772147
Name: 4363, dtype: object
4364, Date         2013-07-17
Time         8:24:42 PM
Latitude       42.00202
Longitude     -87.77254
Name: 4364, dtype: object
4365, Date         2013-07-17
Time         8:24:52 PM
Latitude      42.001475
Longitude    -87.772967
Name: 4365, dtype: object
4366, Date         2013-07-17
Time         8:25:02 PM
Latitude      42.000935
Longitude    -87.773412
Name: 4366, dtype: object
4367, Date         2013-07-17
Time         8:25:22 PM
Latitude      42.000928
Longitude    -87.774273
Name: 4367, dtype: object
4368, Date         2013-07-17
Time         8:25:32 PM
Latitude      42.001295
Longitude    -87.774505
Name: 4368, dtype: object
4369, Date         2013-07-17
Time         8:25:42 PM
Latitude      42.001793
Longitude     -87.77411
Name: 4369, dtype: object
4370, Date         2013-07-17
Time         8:25:52 PM
Latitude      42.002247
Longitude    -87.773743
Name: 4370, dtype: object
4371, Date         2013-07-17
Time         8:26:02 PM
Latitude      42.002723
Longitude     -87.77339
Name: 4371, dtype: object
4372, Date         2013-07-17
Time         8:26:12 PM
Latitude      42.003257
Longitude    -87.772983
Name: 4372, dtype: object
4373, Date         2013-07-17
Time         8:26:22 PM
Latitude      42.003752
Longitude    -87.772587
Name: 4373, dtype: object
4374, Date         2013-07-17
Time         8:26:32 PM
Latitude      42.004132
Longitude     -87.77241
Name: 4374, dtype: object
4375, Date         2013-07-17
Time         8:26:42 PM
Latitude      42.004377
Longitude    -87.772922
Name: 4375, dtype: object
4376, Date         2013-07-17
Time         8:26:52 PM
Latitude      42.004433
Longitude     -87.77337
Name: 4376, dtype: object
4377, Date         2013-07-17
Time         8:27:02 PM
Latitude      42.004082
Longitude    -87.773712
Name: 4377, dtype: object
4378, Date         2013-07-17
Time         8:27:12 PM
Latitude      42.003642
Longitude     -87.77404
Name: 4378, dtype: object
4379, Date         2013-07-17
Time         8:27:22 PM
Latitude      42.003177
Longitude    -87.774413
Name: 4379, dtype: object
4380, Date         2013-07-17
Time         8:27:32 PM
Latitude      42.002692
Longitude    -87.774837
Name: 4380, dtype: object
4381, Date         2013-07-17
Time         8:27:42 PM
Latitude      42.002098
Longitude    -87.775343
Name: 4381, dtype: object
4382, Date         2013-07-17
Time         8:27:52 PM
Latitude      42.001633
Longitude     -87.77571
Name: 4382, dtype: object
4383, Date         2013-07-17
Time         8:28:02 PM
Latitude      42.001237
Longitude    -87.774992
Name: 4383, dtype: object
4384, Date         2013-07-17
Time         8:31:02 PM
Latitude      41.998578
Longitude    -87.766955
Name: 4384, dtype: object
4385, Date         2013-07-17
Time         8:31:12 PM
Latitude      41.998187
Longitude    -87.767298
Name: 4385, dtype: object
4386, Date         2013-07-17
Time         8:31:32 PM
Latitude      41.998205
Longitude    -87.768262
Name: 4386, dtype: object
4387, Date         2013-07-17

4512, Date         2013-07-25
Time         9:14:36 PM
Latitude      41.949057
Longitude    -87.732362
Name: 4512, dtype: object
4513, Date         2013-07-25
Time         9:14:46 PM
Latitude       41.94955
Longitude    -87.732397
Name: 4513, dtype: object
4514, Date         2013-07-25
Time         9:14:56 PM
Latitude       41.95006
Longitude    -87.732412
Name: 4514, dtype: object
4515, Date         2013-07-25
Time         9:15:06 PM
Latitude      41.950783
Longitude    -87.732425
Name: 4515, dtype: object
4516, Date         2013-07-25
Time         9:15:16 PM
Latitude      41.951417
Longitude    -87.732438
Name: 4516, dtype: object
4517, Date         2013-07-25
Time         9:15:26 PM
Latitude      41.951912
Longitude    -87.732457
Name: 4517, dtype: object
4518, Date         2013-07-25
Time         9:15:36 PM
Latitude      41.952703
Longitude    -87.732498
Name: 4518, dtype: object
4519, Date         2013-07-25
Time         9:15:56 PM
Latitude      41.953123
Longitude    -87.731762
Name: 4519, dtype: object
4520, Date         2013-07-25
Time         9:16:06 PM
Latitude      41.952663
Longitude    -87.730937
Name: 4520, dtype: object
4521, Date         2013-07-25
Time         9:16:16 PM
Latitude      41.952055
Longitude     -87.73079
Name: 4521, dtype: object
4522, Date         2013-07-25
Time         9:16:26 PM
Latitude      41.951605
Longitude     -87.73078
Name: 4522, dtype: object
4523, Date         2013-07-25
Time         9:16:36 PM
Latitude      41.951043
Longitude    -87.730727
Name: 4523, dtype: object
4524, Date         2013-07-25
Time         9:16:46 PM
Latitude      41.950478
Longitude    -87.730705
Name: 4524, dtype: object
4525, Date         2013-07-25
Time         9:16:56 PM
Latitude       41.94997
Longitude     -87.73069
Name: 4525, dtype: object
4526, Date         2013-07-25
Time         9:17:06 PM
Latitude      41.949517
Longitude    -87.730673
Name: 4526, dtype: object
4527, Date         2013-07-25
Time         9:17:16 PM
Latitude      41.949058
Longitude    -87.730668
Name: 4527, dtype: object
4528, Date         2013-07-25
Time         9:17:26 PM
Latitude       41.94845
Longitude    -87.730675
Name: 4528, dtype: object
4529, Date         2013-07-25
Time         9:17:36 PM
Latitude      41.948072
Longitude    -87.730633
Name: 4529, dtype: object
4530, Date         2013-07-25
Time         9:17:46 PM
Latitude      41.947418
Longitude    -87.730643
Name: 4530, dtype: object
4531, Date         2013-07-25
Time         9:17:56 PM
Latitude      41.946905
Longitude    -87.730658
Name: 4531, dtype: object
4532, Date         2013-07-25
Time         9:20:26 PM
Latitude      41.946752
Longitude    -87.720167
Name: 4532, dtype: object
4533, Date         2013-07-25
Time         9:20:36 PM
Latitude      41.947193
Longitude    -87.720943
Name: 4533, dtype: object
4534, Date         2013-07-25
Time         9:20:56 PM
Latitude      41.948067
Longitude    -87.722537
Name: 4534, dtype: object
4535, Date         2013-07-25
Time         9:21:06 PM
Latitude      41.947628
Longitude    -87.722583
Name: 4535, dtype: object
4536, Date         2013-07-25
Time         9:21:16 PM
Latitude       41.94696
Longitude     -87.72255
Name: 4536, dtype: object
4537, Date         2013-07-25
Time         9:21:36 PM
Latitude      41.946528
Longitude    -87.723572
Name: 4537, dtype: object
4538, Date         2013-07-25
Time         9:21:46 PM
Latitude      41.946818
Longitude    -87.723665
Name: 4538, dtype: object
4539, Date         2013-07-25
Time         9:21:56 PM
Latitude       41.94726
Longitude     -87.72368
Name: 4539, dtype: object
4540, Date         2013-07-25
Time         9:22:06 PM
Latitude      41.947755
Longitude    -87.723722
Name: 4540, dtype: object
4541, Date         2013-07-25
Time         9:22:16 PM
Latitude      41.948228
Longitude    -87.723743
Name: 4541, dtype: object
4542, Date         2013-07-25
Time         9:22:26 PM
Latitude      41.948605
Longitude    -87.723778
Name: 4542, dtype: object
4543, Date         2013-07-25
Time         9:22:36 PM
Latitude      41.949033
Longitude     -87.72439
Name: 4543, dtype: object
4544, Date         2013-07-25
Time         9:22:46 PM
Latitude      41.949322
Longitude    -87.725077
Name: 4544, dtype: object
4545, Date         2013-07-25
Time         9:22:56 PM
Latitude      41.948817
Longitude    -87.724998
Name: 4545, dtype: object
4546, Date         2013-07-25
Time         9:23:06 PM
Latitude      41.948317
Longitude    -87.724978
Name: 4546, dtype: object
4547, Date         2013-07-25
Time         9:23:16 PM
Latitude        41.9478
Longitude     -87.72497
Name: 4547, dtype: object
4548, Date         2013-07-25
Time         9:23:26 PM
Latitude      41.947122
Longitude    -87.724935
Name: 4548, dtype: object
4549, Date         2013-07-25
Time         9:23:56 PM
Latitude      41.946687
Longitude    -87.725958
Name: 4549, dtype: object
4550, Date         2013-07-25
Time         9:24:06 PM
Latitude      41.947337
Longitude     -87.72601
Name: 4550, dtype: object
4551, Date         2013-07-25
Time         9:24:16 PM
Latitude      41.947958
Longitude    -87.726022
Name: 4551, dtype: object
4552, Date         2013-07-25
Time         9:24:26 PM
Latitude       41.94859
Longitude     -87.72603
Name: 4552, dtype: object
4553, Date         2013-07-25
Time         9:24:36 PM
Latitude      41.949293
Longitude    -87.726065
Name: 4553, dtype: object
4554, Date         2013-07-25
Time         9:24:46 PM
Latitude      41.949833
Longitude    -87.726102
Name: 4554, dtype: object
4555, Date         2013-07-25
Time         9:24:56 PM
Latitude      41.949625
Longitude    -87.725575
Name: 4555, dtype: object
4556, Date         2013-07-25
Time         9:25:06 PM
Latitude      41.949163
Longitude    -87.725018
Name: 4556, dtype: object
4557, Date         2013-07-25
Time         9:25:16 PM
Latitude      41.948532
Longitude    -87.725007
Name: 4557, dtype: object
4558, Date         2013-07-25
Time         9:25:26 PM
Latitude      41.948165
Longitude    -87.724857
Name: 4558, dtype: object
4559, Date         2013-07-25
Time         9:25:46 PM
Latitude      41.948203
Longitude    -87.724278
Name: 4559, dtype: object
4560, Date         2013-07-25
Time         9:25:56 PM
Latitude      41.948208
Longitude    -87.723967
Name: 4560, dtype: object
4561, Date         2013-07-25
Time         9:26:06 PM
Latitude      41.947918
Longitude     -87.72389
Name: 4561, dtype: object
4562, Date         2013-07-25
Time         9:26:16 PM
Latitude      41.947563
Longitude      -87.7239
Name: 4562, dtype: object
4563, Date         2013-07-25
Time         9:26:26 PM
Latitude      41.947153
Longitude    -87.723872
Name: 4563, dtype: object
4564, Date         2013-07-25
Time         9:26:36 PM
Latitude      41.946873
Longitude    -87.723855
Name: 4564, dtype: object
4565, Date         2013-07-25
Time         9:27:16 PM
Latitude      41.946555
Longitude    -87.724198
Name: 4565, dtype: object
4566, Date         2013-07-25
Time         9:29:46 PM
Latitude      41.945987
Longitude    -87.737183
Name: 4566, dtype: object
4567, Date         2013-07-25
Time         9:29:56 PM
Latitude       41.94527
Longitude     -87.73723
Name: 4567, dtype: object
4568, Date         2013-07-25
Time         9:30:06 PM
Latitude      41.944557
Longitude    -87.737212
Name: 4568, dtype: object
4569, Date         2013-07-25
Time         9:30:16 PM
Latitude      41.943872
Longitude    -87.737195
Name: 4569, dtype: object
4570, Date         2013-07-25
Time         9:30:26 PM
Latitude      41.943197
Longitude    -87.737162
Name: 4570, dtype: object
4571, Date         2013-07-25
Time         9:30:36 PM
Latitude      41.943083
Longitude    -87.736823
Name: 4571, dtype: object
4572, Date         2013-07-25
Time         9:30:46 PM
Latitude        41.9431
Longitude    -87.736147
Name: 4572, dtype: object
4573, Date         2013-07-25
Time         9:30:56 PM
Latitude      41.943365
Longitude    -87.736037
Name: 4573, dtype: object
4574, Date         2013-07-25
Time         9:31:06 PM
Latitude      41.943938
Longitude    -87.736048
Name: 4574, dtype: object
4575, Date         2013-07-25
Time         9:31:16 PM
Latitude      41.944443
Longitude    -87.736067
Name: 4575, dtype: object
4576, Date         2013-07-25
Time         9:31:26 PM
Latitude      41.945045
Longitude    -87.736092
Name: 4576, dtype: object
4577, Date         2013-07-25
Time         9:31:36 PM
Latitude       41.94563
Longitude    -87.736085
Name: 4577, dtype: object
4578, Date         2013-07-25
Time         9:32:26 PM
Latitude      41.945363
Longitude     -87.73485
Name: 4578, dtype: object
4579, Date         2013-07-25
Time         9:32:36 PM
Latitude       41.94465
Longitude    -87.734815
Name: 4579, dtype: object
4580, Date         2013-07-25
Time         9:32:46 PM
Latitude      41.944073
Longitude     -87.73479
Name: 4580, dtype: object
4581, Date         2013-07-25
Time         9:32:56 PM
Latitude      41.943352
Longitude    -87.734765
Name: 4581, dtype: object
4582, Date         2013-07-25
Time         9:33:06 PM
Latitude      41.942812
Longitude    -87.734738
Name: 4582, dtype: object
4583, Date         2013-07-25
Time         9:33:16 PM
Latitude       41.94237
Longitude    -87.734732
Name: 4583, dtype: object
4584, Date         2013-07-25
Time         9:33:26 PM
Latitude      41.941958
Longitude    -87.734713
Name: 4584, dtype: object
4585, Date         2013-07-25
Time         9:33:36 PM
Latitude      41.941473
Longitude     -87.73472
Name: 4585, dtype: object
4586, Date         2013-07-25
Time         9:33:46 PM
Latitude      41.941038
Longitude    -87.734698
Name: 4586, dtype: object
4587, Date         2013-07-25
Time         9:33:56 PM
Latitude      41.940495
Longitude     -87.73467
Name: 4587, dtype: object
4588, Date         2013-07-25
Time         9:34:06 PM
Latitude      41.940085
Longitude    -87.734633
Name: 4588, dtype: object
4589, Date         2013-07-25
Time         9:34:16 PM
Latitude      41.940033
Longitude    -87.733957
Name: 4589, dtype: object
4590, Date         2013-07-25
Time         9:34:26 PM
Latitude      41.940042
Longitude     -87.73325
Name: 4590, dtype: object
4591, Date         2013-07-25
Time         9:34:36 PM
Latitude       41.94005
Longitude    -87.732532
Name: 4591, dtype: object
4592, Date         2013-07-25
Time         9:34:46 PM
Latitude      41.940075
Longitude    -87.731873
Name: 4592, dtype: object
4593, Date         2013-07-25
Time         9:34:56 PM
Latitude      41.940083
Longitude    -87.731035
Name: 4593, dtype: object
4594, Date         2013-07-25
Time         9:35:06 PM
Latitude      41.940117
Longitude    -87.730327
Name: 4594, dtype: object
4595, Date         2013-07-25
Time         9:35:16 PM
Latitude      41.940117
Longitude    -87.729663
Name: 4595, dtype: object
4596, Date         2013-07-25
Time         9:35:26 PM
Latitude       41.94012
Longitude    -87.728708
Name: 4596, dtype: object
4597, Date         2013-07-25
Time         9:38:26 PM
Latitude      41.939378
Longitude    -87.738312
Name: 4597, dtype: object
4598, Date         2013-07-25
Time         9:38:36 PM
Latitude      41.940135
Longitude    -87.738348
Name: 4598, dtype: object
4599, Date         2013-07-25
Time         9:38:46 PM
Latitude      41.940677
Longitude    -87.738347
Name: 4599, dtype: object
4600, Date         2013-07-25
Time         9:38:56 PM
Latitude      41.941272
Longitude    -87.738372
Name: 4600, dtype: object
4601, Date         2013-07-25
Time         9:39:06 PM
Latitude      41.941743
Longitude    -87.738385
Name: 4601, dtype: object
4602, Date         2013-07-25
Time         9:39:16 PM
Latitude      41.942243
Longitude    -87.738408
Name: 4602, dtype: object
4603, Date         2013-07-25
Time         9:39:26 PM
Latitude      41.942533
Longitude    -87.738115
Name: 4603, dtype: object
4604, Date         2013-07-25
Time         9:39:36 PM
Latitude      41.942537
Longitude    -87.737522
Name: 4604, dtype: object
4605, Date         2013-07-25
Time         9:39:46 PM
Latitude       41.94206
Longitude    -87.737247
Name: 4605, dtype: object
4606, Date         2013-07-25
Time         9:39:56 PM
Latitude      41.941557
Longitude    -87.737222
Name: 4606, dtype: object
4607, Date         2013-07-25
Time         9:40:06 PM
Latitude      41.941067
Longitude     -87.73722
Name: 4607, dtype: object
4608, Date         2013-07-25
Time         9:40:16 PM
Latitude      41.940498
Longitude    -87.737195
Name: 4608, dtype: object
4609, Date         2013-07-25
Time         9:40:26 PM
Latitude      41.939933
Longitude    -87.737177
Name: 4609, dtype: object
4610, Date         2013-07-25
Time         9:40:36 PM
Latitude      41.939415
Longitude     -87.73716
Name: 4610, dtype: object
4611, Date         2013-07-25
Time         9:42:26 PM
Latitude      41.939373
Longitude    -87.732127
Name: 4611, dtype: object
4612, Date         2013-07-25
Time         9:42:36 PM
Latitude      41.939882
Longitude    -87.732133
Name: 4612, dtype: object
4613, Date         2013-07-25
Time         9:42:46 PM
Latitude      41.940522
Longitude    -87.732145
Name: 4613, dtype: object
4614, Date         2013-07-25
Time         9:42:56 PM
Latitude      41.940962
Longitude    -87.732172
Name: 4614, dtype: object
4615, Date         2013-07-25
Time         9:43:06 PM
Latitude       41.94149
Longitude    -87.732168
Name: 4615, dtype: object
4616, Date         2013-07-25
Time         9:43:16 PM
Latitude      41.941883
Longitude    -87.732185
Name: 4616, dtype: object
4617, Date         2013-07-25
Time         9:43:26 PM
Latitude      41.942313
Longitude    -87.732155
Name: 4617, dtype: object
4618, Date         2013-07-25
Time         9:43:36 PM
Latitude      41.942755
Longitude    -87.732182
Name: 4618, dtype: object
4619, Date         2013-07-25
Time         9:43:46 PM
Latitude      41.943245
Longitude    -87.732223
Name: 4619, dtype: object
4620, Date         2013-07-25
Time         9:43:56 PM
Latitude      41.943753
Longitude    -87.732237
Name: 4620, dtype: object
4621, Date         2013-07-25
Time         9:44:46 PM
Latitude      41.944685
Longitude    -87.734782
Name: 4621, dtype: object
4622, Date         2013-07-25
Time         9:44:56 PM
Latitude      41.944035
Longitude     -87.73476
Name: 4622, dtype: object
4623, Date         2013-07-25
Time         9:45:06 PM
Latitude      41.943385
Longitude    -87.734728
Name: 4623, dtype: object
4624, Date         2013-07-25
Time         9:45:16 PM
Latitude       41.94277
Longitude    -87.734703
Name: 4624, dtype: object
4625, Date         2013-07-25
Time         9:45:26 PM
Latitude       41.94266
Longitude     -87.73422
Name: 4625, dtype: object
4626, Date         2013-07-25
Time         9:45:36 PM
Latitude      41.942758
Longitude     -87.73354
Name: 4626, dtype: object
4627, Date         2013-07-25
Time         9:45:46 PM
Latitude      41.943247
Longitude    -87.733572
Name: 4627, dtype: object
4628, Date         2013-07-25
Time         9:45:56 PM
Latitude      41.943713
Longitude    -87.733588
Name: 4628, dtype: object
4629, Date         2013-07-25
Time         9:46:06 PM
Latitude       41.94424
Longitude    -87.733618
Name: 4629, dtype: object
4630, Date         2013-07-25
Time         9:46:36 PM
Latitude      41.945528
Longitude    -87.734862
Name: 4630, dtype: object
4631, Date         2013-07-25
Time         9:46:46 PM
Latitude      41.944937
Longitude    -87.734843
Name: 4631, dtype: object
4632, Date         2013-07-25
Time         9:46:56 PM
Latitude        41.9443
Longitude    -87.734825
Name: 4632, dtype: object
4633, Date         2013-07-25
Time         9:47:06 PM
Latitude      41.943657
Longitude    -87.734802
Name: 4633, dtype: object
4634, Date         2013-07-25
Time         9:47:16 PM
Latitude      41.943015
Longitude     -87.73477
Name: 4634, dtype: object
4635, Date         2013-07-25
Time         9:47:26 PM
Latitude      41.942463
Longitude    -87.734763
Name: 4635, dtype: object
4636, Date         2013-07-25
Time         9:47:36 PM
Latitude      41.941995
Longitude    -87.734757
Name: 4636, dtype: object
4637, Date         2013-07-25
Time         9:47:46 PM
Latitude      41.941788
Longitude     -87.73448
Name: 4637, dtype: object
4638, Date         2013-07-25
Time         9:47:56 PM
Latitude      41.941813
Longitude    -87.733762
Name: 4638, dtype: object
4639, Date         2013-07-25
Time         9:48:06 PM
Latitude       41.94184
Longitude    -87.733062
Name: 4639, dtype: object
4640, Date         2013-07-25
Time         9:48:16 PM
Latitude      41.941842
Longitude    -87.732417
Name: 4640, dtype: object
4641, Date         2013-07-25
Time         9:48:26 PM
Latitude      41.941845
Longitude    -87.731685
Name: 4641, dtype: object
4642, Date         2013-07-25
Time         9:48:36 PM
Latitude      41.941845
Longitude    -87.730982
Name: 4642, dtype: object
4643, Date         2013-07-25
Time         9:48:46 PM
Latitude      41.941868
Longitude    -87.730193
Name: 4643, dtype: object
4644, Date         2013-07-25
Time         9:48:56 PM
Latitude      41.941498
Longitude     -87.72996
Name: 4644, dtype: object
4645, Date         2013-07-25
Time         9:49:06 PM
Latitude      41.940977
Longitude    -87.730057
Name: 4645, dtype: object
4646, Date         2013-07-25
Time         9:49:16 PM
Latitude       41.94096
Longitude    -87.730708
Name: 4646, dtype: object
4647, Date         2013-07-25
Time         9:49:26 PM
Latitude      41.940897
Longitude    -87.731245
Name: 4647, dtype: object
4648, Date         2013-07-25
Time         9:49:36 PM
Latitude      41.940873
Longitude    -87.731882
Name: 4648, dtype: object
4649, Date         2013-07-25
Time         9:49:46 PM
Latitude      41.940858
Longitude     -87.73265
Name: 4649, dtype: object
4650, Date         2013-07-25
Time         9:49:56 PM
Latitude      41.940823
Longitude     -87.73328
Name: 4650, dtype: object
4651, Date         2013-07-25
Time         9:50:06 PM
Latitude      41.940815
Longitude    -87.733923
Name: 4651, dtype: object
4652, Date         2013-07-25
Time         9:50:16 PM
Latitude      41.940717
Longitude    -87.734507
Name: 4652, dtype: object
4653, Date         2013-07-25
Time         9:50:26 PM
Latitude      41.940288
Longitude    -87.734477
Name: 4653, dtype: object
4654, Date         2013-07-25
Time         9:50:36 PM
Latitude      41.939945
Longitude    -87.734188
Name: 4654, dtype: object
4655, Date         2013-07-25
Time         9:50:46 PM
Latitude      41.939953
Longitude    -87.733578
Name: 4655, dtype: object
4656, Date         2013-07-25
Time         9:50:56 PM
Latitude      41.939977
Longitude      -87.7329
Name: 4656, dtype: object
4657, Date         2013-07-25
Time         9:51:06 PM
Latitude      41.940005
Longitude    -87.732145
Name: 4657, dtype: object
4658, Date         2013-07-25
Time         9:51:16 PM
Latitude      41.940597
Longitude    -87.732117
Name: 4658, dtype: object
4659, Date         2013-07-25
Time         9:51:26 PM
Latitude      41.941283
Longitude    -87.732133
Name: 4659, dtype: object
4660, Date         2013-07-25
Time         9:51:36 PM
Latitude      41.941712
Longitude    -87.732152
Name: 4660, dtype: object
4661, Date         2013-07-25
Time         9:51:46 PM
Latitude      41.942162
Longitude    -87.732153
Name: 4661, dtype: object
4662, Date         2013-07-25
Time         9:51:56 PM
Latitude      41.942652
Longitude    -87.732088
Name: 4662, dtype: object
4663, Date         2013-07-25
Time         9:52:06 PM
Latitude      41.942677
Longitude    -87.731422
Name: 4663, dtype: object
4664, Date         2013-07-25
Time         9:52:16 PM
Latitude      41.942892
Longitude    -87.730872
Name: 4664, dtype: object
4665, Date         2013-07-25
Time         9:52:46 PM
Latitude       41.94251
Longitude    -87.729505
Name: 4665, dtype: object
4666, Date         2013-07-25
Time         9:52:56 PM
Latitude      41.942828
Longitude     -87.72922
Name: 4666, dtype: object
4667, Date         2013-07-25
Time         9:53:06 PM
Latitude       41.94313
Longitude    -87.729078
Name: 4667, dtype: object
4668, Date         2013-07-25

4834, Date          2013-07-25
Time         10:30:56 PM
Latitude       41.939308
Longitude     -87.721047
Name: 4834, dtype: object
4835, Date          2013-07-25
Time         10:31:06 PM
Latitude       41.939797
Longitude     -87.721157
Name: 4835, dtype: object
4836, Date          2013-07-25
Time         10:31:16 PM
Latitude       41.940262
Longitude     -87.721195
Name: 4836, dtype: object
4837, Date          2013-07-25
Time         10:31:26 PM
Latitude       41.940713
Longitude      -87.72121
Name: 4837, dtype: object
4838, Date          2013-07-25
Time         10:31:36 PM
Latitude       41.941315
Longitude     -87.721235
Name: 4838, dtype: object
4839, Date          2013-07-25
Time         10:31:46 PM
Latitude       41.941972
Longitude     -87.721273
Name: 4839, dtype: object
4840, Date          2013-07-25
Time         10:31:56 PM
Latitude       41.942617
Longitude     -87.721282
Name: 4840, dtype: object
4841, Date          2013-07-25
Time         10:32:06 PM
Latitude       41.943222
Longitude     -87.721307
Name: 4841, dtype: object
4842, Date          2013-07-25
Time         10:32:16 PM
Latitude       41.943872
Longitude     -87.721318
Name: 4842, dtype: object
4843, Date          2013-07-25
Time         10:32:26 PM
Latitude       41.944505
Longitude     -87.721338
Name: 4843, dtype: object
4844, Date          2013-07-25
Time         10:32:36 PM
Latitude       41.944623
Longitude       -87.7219
Name: 4844, dtype: object
4845, Date          2013-07-25
Time         10:32:46 PM
Latitude       41.944603
Longitude     -87.722792
Name: 4845, dtype: object
4846, Date          2013-07-25
Time         10:32:56 PM
Latitude       41.944592
Longitude     -87.723627
Name: 4846, dtype: object
4847, Date          2013-07-25
Time         10:33:06 PM
Latitude       41.944565
Longitude     -87.724507
Name: 4847, dtype: object
4848, Date          2013-07-25
Time         10:33:16 PM
Latitude       41.944358
Longitude      -87.72481
Name: 4848, dtype: object
4849, Date          2013-07-25
Time         10:33:26 PM
Latitude       41.943855
Longitude     -87.724782
Name: 4849, dtype: object
4850, Date          2013-07-25
Time         10:33:36 PM
Latitude       41.943418
Longitude     -87.724747
Name: 4850, dtype: object
4851, Date          2013-07-25
Time         10:33:46 PM
Latitude       41.942845
Longitude     -87.724712
Name: 4851, dtype: object
4852, Date          2013-07-25
Time         10:33:56 PM
Latitude       41.942823
Longitude     -87.724003
Name: 4852, dtype: object
4853, Date          2013-07-25
Time         10:34:06 PM
Latitude       41.942968
Longitude     -87.723572
Name: 4853, dtype: object
4854, Date          2013-07-25
Time         10:34:16 PM
Latitude        41.94356
Longitude     -87.723605
Name: 4854, dtype: object
4855, Date          2013-07-25
Time         10:34:26 PM
Latitude       41.944198
Longitude     -87.723633
Name: 4855, dtype: object
4856, Date          2013-07-25
Time         10:34:36 PM
Latitude       41.944585
Longitude     -87.723832
Name: 4856, dtype: object
4857, Date          2013-07-25
Time         10:34:46 PM
Latitude       41.944575
Longitude      -87.72462
Name: 4857, dtype: object
4858, Date          2013-07-25
Time         10:34:56 PM
Latitude       41.944537
Longitude     -87.725498
Name: 4858, dtype: object
4859, Date          2013-07-25
Time         10:35:06 PM
Latitude       41.944515
Longitude     -87.726338
Name: 4859, dtype: object
4860, Date          2013-07-25
Time         10:35:16 PM
Latitude       41.944528
Longitude     -87.727125
Name: 4860, dtype: object
4861, Date          2013-07-25
Time         10:35:36 PM
Latitude       41.945432
Longitude     -87.726612
Name: 4861, dtype: object
4862, Date          2013-07-25
Time         10:35:46 PM
Latitude       41.945463
Longitude     -87.725888
Name: 4862, dtype: object
4863, Date          2013-07-25
Time         10:35:56 PM
Latitude       41.945488
Longitude     -87.725217
Name: 4863, dtype: object
4864, Date          2013-07-25
Time         10:36:06 PM
Latitude       41.945508
Longitude     -87.724467
Name: 4864, dtype: object
4865, Date          2013-07-25
Time         10:36:16 PM
Latitude       41.945532
Longitude     -87.723715
Name: 4865, dtype: object
4866, Date          2013-07-25
Time         10:36:26 PM
Latitude       41.945535
Longitude     -87.722992
Name: 4866, dtype: object
4867, Date          2013-07-25
Time         10:36:36 PM
Latitude       41.945803
Longitude     -87.722707
Name: 4867, dtype: object
4868, Date          2013-07-25
Time         10:36:46 PM
Latitude        41.94626
Longitude     -87.722743
Name: 4868, dtype: object
4869, Date          2013-07-25
Time         10:37:16 PM
Latitude       41.946452
Longitude     -87.723065
Name: 4869, dtype: object
4870, Date          2013-07-25
Time         10:37:26 PM
Latitude       41.946463
Longitude     -87.723933
Name: 4870, dtype: object
4871, Date         2013-07-25
Time         7:58:20 PM
Latitude      41.967742
Longitude    -87.720732
Name: 4871, dtype: object
4872, Date         2013-07-25
Time         7:58:40 PM
Latitude      41.967292
Longitude    -87.720705
Name: 4872, dtype: object
4873, Date         2013-07-25
Time         7:58:50 PM
Latitude      41.967088
Longitude     -87.72072
Name: 4873, dtype: object
4874, Date         2013-07-25
Time         7:59:10 PM
Latitude      41.966578
Longitude    -87.720712
Name: 4874, dtype: object
4875, Date         2013-07-25
Time         7:59:20 PM
Latitude      41.966297
Longitude    -87.720693
Name: 4875, dtype: object
4876, Date         2013-07-25
Time         7:59:30 PM
Latitude      41.965903
Longitude    -87.720668
Name: 4876, dtype: object
4877, Date         2013-07-25
Time         7:59:40 PM
Latitude      41.965595
Longitude    -87.720643
Name: 4877, dtype: object
4878, Date         2013-07-25
Time         7:59:50 PM
Latitude      41.965253
Longitude    -87.720627
Name: 4878, dtype: object
4879, Date         2013-07-25
Time         8:00:20 PM
Latitude      41.964383
Longitude      -87.7206
Name: 4879, dtype: object
4880, Date         2013-07-25
Time         8:00:30 PM
Latitude      41.963977
Longitude     -87.72058
Name: 4880, dtype: object
4881, Date         2013-07-25
Time         8:00:40 PM
Latitude       41.96354
Longitude    -87.720573
Name: 4881, dtype: object
4882, Date         2013-07-25
Time         8:00:50 PM
Latitude      41.963248
Longitude     -87.72056
Name: 4882, dtype: object
4883, Date         2013-07-25
Time         8:01:00 PM
Latitude      41.962862
Longitude    -87.720523
Name: 4883, dtype: object
4884, Date         2013-07-25
Time         8:01:10 PM
Latitude      41.962545
Longitude      -87.7205
Name: 4884, dtype: object
4885, Date         2013-07-25
Time         8:01:20 PM
Latitude      41.962167
Longitude     -87.72048
Name: 4885, dtype: object
4886, Date         2013-07-25
Time         8:01:30 PM
Latitude      41.961828
Longitude     -87.72049
Name: 4886, dtype: object
4887, Date         2013-07-25
Time         8:01:41 PM
Latitude       41.96153
Longitude     -87.72047
Name: 4887, dtype: object
4888, Date         2013-07-25
Time         8:01:50 PM
Latitude      41.961175
Longitude     -87.72046
Name: 4888, dtype: object
4889, Date         2013-07-25
Time         8:02:00 PM
Latitude      41.960817
Longitude    -87.720448
Name: 4889, dtype: object
4890, Date         2013-07-25
Time         8:02:10 PM
Latitude      41.960433
Longitude    -87.720422
Name: 4890, dtype: object
4891, Date         2013-07-25
Time         8:02:20 PM
Latitude      41.960097
Longitude    -87.720422
Name: 4891, dtype: object
4892, Date         2013-07-25
Time         8:02:31 PM
Latitude      41.959782
Longitude      -87.7204
Name: 4892, dtype: object
4893, Date         2013-07-25
Time         8:02:40 PM
Latitude      41.959472
Longitude     -87.72038
Name: 4893, dtype: object
4894, Date         2013-07-25
Time         8:02:50 PM
Latitude      41.959128
Longitude    -87.720375
Name: 4894, dtype: object
4895, Date         2013-07-25
Time         8:03:00 PM
Latitude      41.958722
Longitude    -87.720368
Name: 4895, dtype: object
4896, Date         2013-07-25
Time         8:03:10 PM
Latitude      41.958272
Longitude    -87.720338
Name: 4896, dtype: object
4897, Date         2013-07-25
Time         8:03:20 PM
Latitude       41.95781
Longitude    -87.720318
Name: 4897, dtype: object
4898, Date         2013-07-25
Time         8:03:30 PM
Latitude       41.95734
Longitude     -87.72032
Name: 4898, dtype: object
4899, Date         2013-07-25
Time         8:03:41 PM
Latitude       41.95682
Longitude    -87.720305
Name: 4899, dtype: object
4900, Date         2013-07-25
Time         8:03:50 PM
Latitude       41.95644
Longitude    -87.720293
Name: 4900, dtype: object
4901, Date         2013-07-25
Time         8:04:00 PM
Latitude       41.95621
Longitude    -87.720228
Name: 4901, dtype: object
4902, Date         2013-07-25
Time         8:04:10 PM
Latitude      41.956162
Longitude    -87.719928
Name: 4902, dtype: object
4903, Date         2013-07-25
Time         8:04:20 PM
Latitude      41.956123
Longitude     -87.71958
Name: 4903, dtype: object
4904, Date         2013-07-25
Time         8:04:50 PM
Latitude      41.956432
Longitude    -87.719247
Name: 4904, dtype: object
4905, Date         2013-07-25
Time         8:05:00 PM
Latitude      41.956702
Longitude    -87.719253
Name: 4905, dtype: object
4906, Date         2013-07-25
Time         8:05:11 PM
Latitude      41.957185
Longitude    -87.719265
Name: 4906, dtype: object
4907, Date         2013-07-25
Time         8:05:20 PM
Latitude      41.957497
Longitude    -87.719283
Name: 4907, dtype: object
4908, Date         2013-07-25
Time         8:05:31 PM
Latitude      41.957988
Longitude      -87.7193
Name: 4908, dtype: object
4909, Date         2013-07-25
Time         8:05:40 PM
Latitude        41.9584
Longitude    -87.719312
Name: 4909, dtype: object
4910, Date         2013-07-25
Time         8:05:50 PM
Latitude      41.958825
Longitude      -87.7193
Name: 4910, dtype: object
4911, Date         2013-07-25
Time         8:06:00 PM
Latitude      41.959232
Longitude    -87.719308
Name: 4911, dtype: object
4912, Date         2013-07-25
Time         8:06:11 PM
Latitude      41.959722
Longitude    -87.719323
Name: 4912, dtype: object
4913, Date         2013-07-25
Time         8:06:20 PM
Latitude      41.960108
Longitude    -87.719327
Name: 4913, dtype: object
4914, Date         2013-07-25
Time         8:06:31 PM
Latitude      41.960608
Longitude    -87.719345
Name: 4914, dtype: object
4915, Date         2013-07-25
Time         8:07:21 PM
Latitude       41.96118
Longitude     -87.71935
Name: 4915, dtype: object
4916, Date         2013-07-25
Time         8:07:30 PM
Latitude      41.961563
Longitude     -87.71937
Name: 4916, dtype: object
4917, Date         2013-07-25
Time         8:07:40 PM
Latitude      41.961958
Longitude    -87.719365
Name: 4917, dtype: object
4918, Date         2013-07-25
Time         8:07:51 PM
Latitude      41.962447
Longitude     -87.71937
Name: 4918, dtype: object
4919, Date         2013-07-25
Time         8:08:00 PM
Latitude      41.962817
Longitude    -87.719383
Name: 4919, dtype: object
4920, Date         2013-07-25
Time         8:08:10 PM
Latitude       41.96332
Longitude    -87.719395
Name: 4920, dtype: object
4921, Date         2013-07-25
Time         8:08:21 PM
Latitude       41.96384
Longitude     -87.71941
Name: 4921, dtype: object
4922, Date         2013-07-25
Time         8:08:30 PM
Latitude      41.964238
Longitude     -87.71942
Name: 4922, dtype: object
4923, Date         2013-07-25
Time         8:08:40 PM
Latitude      41.964685
Longitude    -87.719467
Name: 4923, dtype: object
4924, Date         2013-07-25
Time         8:08:50 PM
Latitude      41.965047
Longitude    -87.719497
Name: 4924, dtype: object
4925, Date         2013-07-25
Time         8:09:00 PM
Latitude      41.965415
Longitude    -87.719515
Name: 4925, dtype: object
4926, Date         2013-07-25
Time         8:09:11 PM
Latitude      41.965907
Longitude    -87.719523
Name: 4926, dtype: object
4927, Date         2013-07-25
Time         8:09:20 PM
Latitude       41.96671
Longitude    -87.719447
Name: 4927, dtype: object
4928, Date         2013-07-25
Time         8:09:30 PM
Latitude        41.9671
Longitude    -87.719438
Name: 4928, dtype: object
4929, Date         2013-07-25
Time         8:09:40 PM
Latitude      41.967572
Longitude    -87.719458
Name: 4929, dtype: object
4930, Date         2013-07-25
Time         8:09:51 PM
Latitude      41.968015
Longitude    -87.719465
Name: 4930, dtype: object
4931, Date         2013-07-25
Time         8:10:01 PM
Latitude      41.968092
Longitude    -87.718933
Name: 4931, dtype: object
4932, Date         2013-07-25
Time         8:10:10 PM
Latitude      41.968082
Longitude    -87.718483
Name: 4932, dtype: object
4933, Date         2013-07-25
Time         8:10:20 PM
Latitude      41.967912
Longitude    -87.718268
Name: 4933, dtype: object
4934, Date         2013-07-25
Time         8:10:30 PM
Latitude      41.967587
Longitude     -87.71826
Name: 4934, dtype: object
4935, Date         2013-07-25
Time         8:10:40 PM
Latitude      41.967138
Longitude    -87.718243
Name: 4935, dtype: object
4936, Date         2013-07-25
Time         8:10:51 PM
Latitude      41.966613
Longitude    -87.718203
Name: 4936, dtype: object
4937, Date         2013-07-25
Time         8:11:00 PM
Latitude      41.966235
Longitude    -87.718202
Name: 4937, dtype: object
4938, Date         2013-07-25
Time         8:11:11 PM
Latitude      41.965792
Longitude     -87.71816
Name: 4938, dtype: object
4939, Date         2013-07-25
Time         8:11:20 PM
Latitude      41.965328
Longitude    -87.718152
Name: 4939, dtype: object
4940, Date         2013-07-25
Time         8:11:40 PM
Latitude      41.964562
Longitude    -87.718103
Name: 4940, dtype: object
4941, Date         2013-07-25
Time         8:11:50 PM
Latitude      41.964047
Longitude    -87.718063
Name: 4941, dtype: object
4942, Date         2013-07-25
Time         8:12:01 PM
Latitude      41.963563
Longitude    -87.718025
Name: 4942, dtype: object
4943, Date         2013-07-25
Time         8:12:10 PM
Latitude      41.963188
Longitude    -87.717995
Name: 4943, dtype: object
4944, Date         2013-07-25
Time         8:12:21 PM
Latitude      41.962573
Longitude    -87.717973
Name: 4944, dtype: object
4945, Date         2013-07-25
Time         8:12:31 PM
Latitude      41.962045
Longitude    -87.717957
Name: 4945, dtype: object
4946, Date         2013-07-25
Time         8:12:41 PM
Latitude       41.96147
Longitude    -87.717975
Name: 4946, dtype: object
4947, Date         2013-07-25
Time         8:12:50 PM
Latitude      41.960973
Longitude     -87.71797
Name: 4947, dtype: object
4948, Date         2013-07-25
Time         8:13:01 PM
Latitude      41.960543
Longitude    -87.718013
Name: 4948, dtype: object
4949, Date         2013-07-25
Time         8:13:10 PM
Latitude      41.960162
Longitude    -87.718013
Name: 4949, dtype: object
4950, Date         2013-07-25
Time         8:13:20 PM
Latitude      41.959737
Longitude     -87.71799
Name: 4950, dtype: object
4951, Date         2013-07-25
Time         8:13:31 PM
Latitude      41.959183
Longitude    -87.717968
Name: 4951, dtype: object
4952, Date         2013-07-25
Time         8:13:40 PM
Latitude      41.958777
Longitude    -87.717962
Name: 4952, dtype: object
4953, Date         2013-07-25
Time         8:13:51 PM
Latitude      41.958185
Longitude    -87.717955
Name: 4953, dtype: object
4954, Date         2013-07-25
Time         8:14:00 PM
Latitude      41.957637
Longitude    -87.717927
Name: 4954, dtype: object
4955, Date         2013-07-25
Time         8:14:10 PM
Latitude      41.957228
Longitude    -87.717917
Name: 4955, dtype: object
4956, Date         2013-07-25
Time         8:14:21 PM
Latitude      41.956727
Longitude    -87.717893
Name: 4956, dtype: object
4957, Date         2013-07-25
Time         8:14:30 PM
Latitude      41.956328
Longitude    -87.717872
Name: 4957, dtype: object
4958, Date         2013-07-25
Time         8:14:40 PM
Latitude      41.955975
Longitude    -87.717847
Name: 4958, dtype: object
4959, Date         2013-07-25
Time         8:14:51 PM
Latitude       41.95563
Longitude    -87.717858
Name: 4959, dtype: object
4960, Date         2013-07-25
Time         8:15:01 PM
Latitude      41.955235
Longitude    -87.717843
Name: 4960, dtype: object
4961, Date         2013-07-25
Time         8:15:11 PM
Latitude      41.954798
Longitude    -87.717822
Name: 4961, dtype: object
4962, Date         2013-07-25
Time         8:15:20 PM
Latitude      41.954358
Longitude    -87.717703
Name: 4962, dtype: object
4963, Date         2013-07-25
Time         8:15:30 PM
Latitude      41.954322
Longitude    -87.716962
Name: 4963, dtype: object
4964, Date         2013-07-25
Time         8:16:00 PM
Latitude       41.95468
Longitude    -87.716623
Name: 4964, dtype: object
4965, Date         2013-07-25
Time         8:16:11 PM
Latitude      41.955077
Longitude    -87.716638
Name: 4965, dtype: object
4966, Date         2013-07-25
Time         8:16:20 PM
Latitude      41.955472
Longitude    -87.716658
Name: 4966, dtype: object
4967, Date         2013-07-25
Time         8:16:30 PM
Latitude      41.955965
Longitude    -87.716695
Name: 4967, dtype: object
4968, Date         2013-07-25
Time         8:16:41 PM
Latitude      41.956538
Longitude     -87.71672
Name: 4968, dtype: object
4969, Date         2013-07-25
Time         8:16:50 PM
Latitude      41.957018
Longitude    -87.716738
Name: 4969, dtype: object
4970, Date         2013-07-25
Time         8:17:01 PM
Latitude      41.957572
Longitude    -87.716743
Name: 4970, dtype: object
4971, Date         2013-07-25
Time         8:17:11 PM
Latitude       41.95801
Longitude     -87.71676
Name: 4971, dtype: object
4972, Date         2013-07-25
Time         8:17:21 PM
Latitude      41.958417
Longitude     -87.71679
Name: 4972, dtype: object
4973, Date         2013-07-25
Time         8:17:30 PM
Latitude      41.958708
Longitude    -87.716795
Name: 4973, dtype: object
4974, Date         2013-07-25
Time         8:17:41 PM
Latitude       41.95909
Longitude    -87.716798
Name: 4974, dtype: object
4975, Date         2013-07-25
Time         8:17:50 PM
Latitude      41.959435
Longitude    -87.716803
Name: 4975, dtype: object
4976, Date         2013-07-25
Time         8:18:00 PM
Latitude      41.959895
Longitude    -87.716843
Name: 4976, dtype: object
4977, Date         2013-07-25
Time         8:18:10 PM
Latitude      41.960368
Longitude    -87.716857
Name: 4977, dtype: object
4978, Date         2013-07-25
Time         8:18:31 PM
Latitude      41.960862
Longitude    -87.716868
Name: 4978, dtype: object
4979, Date         2013-07-25
Time         8:18:40 PM
Latitude      41.961227
Longitude      -87.7169
Name: 4979, dtype: object
4980, Date         2013-07-25
Time         8:18:51 PM
Latitude      41.961683
Longitude    -87.716938
Name: 4980, dtype: object
4981, Date         2013-07-25
Time         8:19:01 PM
Latitude       41.96216
Longitude    -87.716948
Name: 4981, dtype: object
4982, Date         2013-07-25
Time         8:19:10 PM
Latitude      41.962565
Longitude    -87.716958
Name: 4982, dtype: object
4983, Date         2013-07-25
Time         8:19:21 PM
Latitude       41.96315
Longitude    -87.716985
Name: 4983, dtype: object
4984, Date         2013-07-25
Time         8:19:31 PM
Latitude       41.96366
Longitude    -87.717007
Name: 4984, dtype: object
4985, Date         2013-07-25
Time         8:19:40 PM
Latitude      41.964122
Longitude     -87.71701
Name: 4985, dtype: object
4986, Date         2013-07-25
Time         8:19:51 PM
Latitude      41.964545
Longitude    -87.717023
Name: 4986, dtype: object
4987, Date         2013-07-25
Time         8:20:00 PM
Latitude      41.964907
Longitude    -87.717032
Name: 4987, dtype: object
4988, Date         2013-07-25
Time         8:20:11 PM
Latitude      41.965377
Longitude    -87.717033
Name: 4988, dtype: object

5226, Date         2013-07-25
Time         9:18:01 PM
Latitude       41.96018
Longitude    -87.710627
Name: 5226, dtype: object
5227, Date         2013-07-25
Time         9:18:11 PM
Latitude      41.959695
Longitude    -87.710575
Name: 5227, dtype: object
5228, Date         2013-07-25
Time         9:18:21 PM
Latitude      41.959255
Longitude     -87.71056
Name: 5228, dtype: object
5229, Date         2013-07-25
Time         9:18:31 PM
Latitude       41.95875
Longitude     -87.71053
Name: 5229, dtype: object
5230, Date         2013-07-25
Time         9:18:41 PM
Latitude      41.958262
Longitude    -87.710518
Name: 5230, dtype: object
5231, Date         2013-07-25
Time         9:18:51 PM
Latitude      41.957825
Longitude      -87.7105
Name: 5231, dtype: object
5232, Date         2013-07-25
Time         9:19:01 PM
Latitude      41.957363
Longitude    -87.710497
Name: 5232, dtype: object
5233, Date         2013-07-25
Time         9:19:11 PM
Latitude      41.956908
Longitude    -87.710488
Name: 5233, dtype: object
5234, Date         2013-07-25
Time         9:19:21 PM
Latitude      41.956435
Longitude    -87.710477
Name: 5234, dtype: object
5235, Date         2013-07-25
Time         9:19:31 PM
Latitude      41.955977
Longitude    -87.710487
Name: 5235, dtype: object
5236, Date         2013-07-25
Time         9:19:41 PM
Latitude      41.955538
Longitude    -87.710457
Name: 5236, dtype: object
5237, Date         2013-07-25
Time         9:19:51 PM
Latitude      41.955113
Longitude    -87.710403
Name: 5237, dtype: object
5238, Date         2013-07-25
Time         9:20:01 PM
Latitude      41.954683
Longitude    -87.710388
Name: 5238, dtype: object
5239, Date         2013-07-25
Time         9:20:11 PM
Latitude      41.954282
Longitude    -87.710408
Name: 5239, dtype: object
5240, Date         2013-07-25
Time         9:24:51 PM
Latitude      41.965382
Longitude    -87.712948
Name: 5240, dtype: object
5241, Date         2013-07-25
Time         9:25:01 PM
Latitude      41.965413
Longitude    -87.712505
Name: 5241, dtype: object
5242, Date         2013-07-25
Time         9:25:11 PM
Latitude      41.965417
Longitude    -87.711922
Name: 5242, dtype: object
5243, Date         2013-07-25
Time         9:25:21 PM
Latitude      41.965428
Longitude    -87.711327
Name: 5243, dtype: object
5244, Date         2013-07-25
Time         9:25:31 PM
Latitude      41.965457
Longitude    -87.710735
Name: 5244, dtype: object
5245, Date         2013-07-25
Time         9:25:41 PM
Latitude      41.965488
Longitude    -87.709958
Name: 5245, dtype: object
5246, Date         2013-07-25
Time         9:25:51 PM
Latitude      41.965462
Longitude    -87.709283
Name: 5246, dtype: object
5247, Date         2013-07-25
Time         9:27:31 PM
Latitude      41.966503
Longitude    -87.708632
Name: 5247, dtype: object
5248, Date         2013-07-25
Time         9:27:41 PM
Latitude      41.966518
Longitude    -87.709135
Name: 5248, dtype: object
5249, Date         2013-07-25
Time         9:27:51 PM
Latitude       41.96652
Longitude    -87.709553
Name: 5249, dtype: object
5250, Date         2013-07-25
Time         9:28:01 PM
Latitude      41.966765
Longitude     -87.70969
Name: 5250, dtype: object
5251, Date         2013-07-25
Time         9:28:11 PM
Latitude      41.967128
Longitude    -87.709693
Name: 5251, dtype: object
5252, Date         2013-07-25
Time         9:28:21 PM
Latitude      41.967533
Longitude    -87.709692
Name: 5252, dtype: object
5253, Date         2013-07-25
Time         9:28:31 PM
Latitude      41.967913
Longitude    -87.709695
Name: 5253, dtype: object
5254, Date         2013-07-25
Time         9:29:11 PM
Latitude      41.968097
Longitude    -87.710865
Name: 5254, dtype: object
5255, Date         2013-07-25
Time         9:29:21 PM
Latitude      41.967732
Longitude    -87.710842
Name: 5255, dtype: object
5256, Date         2013-07-25
Time         9:29:31 PM
Latitude      41.967333
Longitude    -87.710848
Name: 5256, dtype: object
5257, Date         2013-07-25
Time         9:29:41 PM
Latitude      41.967027
Longitude    -87.710863
Name: 5257, dtype: object
5258, Date         2013-07-25
Time         9:29:51 PM
Latitude       41.96666
Longitude    -87.710875
Name: 5258, dtype: object
5259, Date         2013-07-25
Time         9:30:01 PM
Latitude      41.966353
Longitude    -87.710907
Name: 5259, dtype: object
5260, Date         2013-07-25
Time         9:31:11 PM
Latitude       41.96599
Longitude     -87.71087
Name: 5260, dtype: object
5261, Date         2013-07-25
Time         9:31:21 PM
Latitude       41.96564
Longitude    -87.710883
Name: 5261, dtype: object
5262, Date         2013-07-25
Time         9:31:31 PM
Latitude      41.965323
Longitude    -87.710882
Name: 5262, dtype: object
5263, Date         2013-07-25
Time         9:31:41 PM
Latitude      41.965003
Longitude    -87.710883
Name: 5263, dtype: object
5264, Date         2013-07-25
Time         9:31:51 PM
Latitude      41.964618
Longitude    -87.710892
Name: 5264, dtype: object
5265, Date         2013-07-25
Time         9:32:01 PM
Latitude      41.964203
Longitude    -87.710853
Name: 5265, dtype: object
5266, Date         2013-07-25
Time         9:32:11 PM
Latitude      41.963683
Longitude    -87.710838
Name: 5266, dtype: object
5267, Date         2013-07-25
Time         9:32:21 PM
Latitude      41.963308
Longitude    -87.710845
Name: 5267, dtype: object
5268, Date         2013-07-25
Time         9:32:31 PM
Latitude      41.962988
Longitude    -87.710823
Name: 5268, dtype: object
5269, Date         2013-07-25
Time         9:32:41 PM
Latitude      41.962567
Longitude    -87.710813
Name: 5269, dtype: object
5270, Date         2013-07-25
Time         9:32:51 PM
Latitude      41.962112
Longitude    -87.710805
Name: 5270, dtype: object
5271, Date         2013-07-25
Time         9:33:01 PM
Latitude       41.96169
Longitude    -87.710802
Name: 5271, dtype: object
5272, Date         2013-07-25
Time         9:33:31 PM
Latitude      41.961405
Longitude    -87.711927
Name: 5272, dtype: object
5273, Date         2013-07-25
Time         9:33:41 PM
Latitude      41.961702
Longitude    -87.711928
Name: 5273, dtype: object
5274, Date         2013-07-25
Time         9:33:51 PM
Latitude       41.96202
Longitude    -87.711905
Name: 5274, dtype: object
5275, Date         2013-07-25
Time         9:34:01 PM
Latitude      41.962385
Longitude     -87.71193
Name: 5275, dtype: object
5276, Date         2013-07-25
Time         9:34:11 PM
Latitude       41.96273
Longitude    -87.711928
Name: 5276, dtype: object
5277, Date         2013-07-25
Time         9:34:21 PM
Latitude      41.963112
Longitude    -87.711922
Name: 5277, dtype: object
5278, Date         2013-07-25
Time         9:34:31 PM
Latitude      41.963522
Longitude    -87.711932
Name: 5278, dtype: object
5279, Date         2013-07-25
Time         9:34:41 PM
Latitude      41.963948
Longitude    -87.711915
Name: 5279, dtype: object
5280, Date         2013-07-25
Time         9:34:51 PM
Latitude      41.964298
Longitude    -87.711913
Name: 5280, dtype: object
5281, Date         2013-07-25
Time         9:35:01 PM
Latitude      41.964538
Longitude    -87.712027
Name: 5281, dtype: object
5282, Date         2013-07-25
Time         9:35:11 PM
Latitude      41.964532
Longitude     -87.71257
Name: 5282, dtype: object
5283, Date         2013-07-25
Time         9:36:41 PM
Latitude      41.962958
Longitude    -87.712485
Name: 5283, dtype: object
5284, Date         2013-07-25
Time         9:36:51 PM
Latitude       41.96297
Longitude    -87.712033
Name: 5284, dtype: object
5285, Date         2013-07-25
Time         9:37:01 PM
Latitude      41.962985
Longitude    -87.711517
Name: 5285, dtype: object
5286, Date         2013-07-25
Time         9:37:11 PM
Latitude      41.962997
Longitude    -87.711025
Name: 5286, dtype: object
5287, Date         2013-07-25
Time         9:37:21 PM
Latitude      41.962998
Longitude    -87.710513
Name: 5287, dtype: object
5288, Date         2013-07-25
Time         9:37:31 PM
Latitude       41.96301
Longitude    -87.710002
Name: 5288, dtype: object
5289, Date         2013-07-25
Time         9:37:41 PM
Latitude       41.96303
Longitude    -87.709568
Name: 5289, dtype: object
5290, Date         2013-07-25
Time         9:37:51 PM
Latitude       41.96303
Longitude    -87.709093
Name: 5290, dtype: object
5291, Date         2013-07-25
Time         9:38:11 PM
Latitude      41.962608
Longitude    -87.708553
Name: 5291, dtype: object
5292, Date         2013-07-25
Time         9:38:21 PM
Latitude      41.962035
Longitude    -87.708502
Name: 5292, dtype: object
5293, Date         2013-07-25
Time         9:38:51 PM
Latitude      41.961282
Longitude     -87.70957
Name: 5293, dtype: object
5294, Date         2013-07-25
Time         9:39:01 PM
Latitude      41.961688
Longitude    -87.709613
Name: 5294, dtype: object
5295, Date         2013-07-25
Time         9:39:11 PM
Latitude      41.962005
Longitude      -87.7096
Name: 5295, dtype: object
5296, Date         2013-07-25
Time         9:39:31 PM
Latitude      41.962475
Longitude    -87.709608
Name: 5296, dtype: object
5297, Date         2013-07-25
Time         9:39:41 PM
Latitude      41.962882
Longitude    -87.709608
Name: 5297, dtype: object
5298, Date         2013-07-25
Time         9:39:51 PM
Latitude       41.96338
Longitude    -87.709593
Name: 5298, dtype: object
5299, Date         2013-07-25
Time         9:40:01 PM
Latitude      41.963853
Longitude    -87.709603
Name: 5299, dtype: object
5300, Date         2013-07-25
Time         9:40:11 PM
Latitude       41.96427
Longitude    -87.709603
Name: 5300, dtype: object
5301, Date         2013-07-25
Time         9:40:21 PM
Latitude      41.964433
Longitude    -87.709227
Name: 5301, dtype: object
5302, Date         2013-07-25
Time         9:44:11 PM
Latitude      41.953307
Longitude     -87.71045
Name: 5302, dtype: object
5303, Date         2013-07-25
Time         9:44:21 PM
Latitude      41.952978
Longitude    -87.710428
Name: 5303, dtype: object
5304, Date         2013-07-25
Time         9:44:31 PM
Latitude      41.952623
Longitude    -87.710422
Name: 5304, dtype: object
5305, Date         2013-07-25
Time         9:44:41 PM
Latitude      41.952185
Longitude    -87.710413
Name: 5305, dtype: object
5306, Date         2013-07-25
Time         9:44:51 PM
Latitude      41.951672
Longitude    -87.710403
Name: 5306, dtype: object
5307, Date         2013-07-25
Time         9:45:01 PM
Latitude      41.951132
Longitude    -87.710407
Name: 5307, dtype: object
5308, Date         2013-07-25
Time         9:45:11 PM
Latitude       41.95063
Longitude    -87.710387
Name: 5308, dtype: object
5309, Date         2013-07-25
Time         9:45:21 PM
Latitude      41.950208
Longitude    -87.710368
Name: 5309, dtype: object
5310, Date         2013-07-25
Time         9:45:31 PM
Latitude      41.949687
Longitude     -87.71037
Name: 5310, dtype: object
5311, Date         2013-07-25
Time         9:45:41 PM
Latitude       41.94912
Longitude    -87.710352
Name: 5311, dtype: object
5312, Date         2013-07-25
Time         9:45:51 PM
Latitude       41.94855
Longitude    -87.710342
Name: 5312, dtype: object
5313, Date         2013-07-25
Time         9:46:21 PM
Latitude      41.948497
Longitude    -87.711192
Name: 5313, dtype: object
5314, Date         2013-07-25
Time         9:46:31 PM
Latitude      41.948988
Longitude    -87.711543
Name: 5314, dtype: object
5315, Date         2013-07-25
Time         9:46:41 PM
Latitude      41.949418
Longitude    -87.711577
Name: 5315, dtype: object
5316, Date         2013-07-25
Time         9:46:51 PM
Latitude      41.949903
Longitude    -87.711582
Name: 5316, dtype: object
5317, Date         2013-07-25
Time         9:47:01 PM
Latitude      41.950372
Longitude    -87.711583
Name: 5317, dtype: object
5318, Date         2013-07-25
Time         9:47:11 PM
Latitude       41.95082
Longitude    -87.711595
Name: 5318, dtype: object
5319, Date         2013-07-25
Time         9:47:21 PM
Latitude      41.951338
Longitude      -87.7116
Name: 5319, dtype: object
5320, Date         2013-07-25
Time         9:47:31 PM
Latitude      41.951788
Longitude    -87.711618
Name: 5320, dtype: object
5321, Date         2013-07-25
Time         9:47:41 PM
Latitude       41.95208
Longitude     -87.71162
Name: 5321, dtype: object
5322, Date         2013-07-25
Time         9:47:51 PM
Latitude      41.952405
Longitude    -87.711612
Name: 5322, dtype: object
5323, Date         2013-07-25
Time         9:48:01 PM
Latitude      41.952677
Longitude    -87.711652
Name: 5323, dtype: object
5324, Date         2013-07-25
Time         9:48:11 PM
Latitude      41.952993
Longitude    -87.711672
Name: 5324, dtype: object
5325, Date         2013-07-25
Time         9:48:21 PM
Latitude        41.9533
Longitude    -87.711647
Name: 5325, dtype: object
5326, Date         2013-07-25
Time         9:48:51 PM
Latitude      41.953557
Longitude     -87.71158
Name: 5326, dtype: object
5327, Date         2013-07-25
Time         9:49:01 PM
Latitude      41.953587
Longitude    -87.710865
Name: 5327, dtype: object
5328, Date         2013-07-25
Time         9:49:21 PM
Latitude      41.953507
Longitude    -87.709302
Name: 5328, dtype: object
5329, Date         2013-07-25
Time         9:49:31 PM
Latitude      41.953082
Longitude    -87.709272
Name: 5329, dtype: object
5330, Date         2013-07-25
Time         9:49:41 PM
Latitude       41.95269
Longitude     -87.70925
Name: 5330, dtype: object
5331, Date         2013-07-25
Time         9:49:51 PM
Latitude       41.95228
Longitude    -87.709217
Name: 5331, dtype: object
5332, Date         2013-07-25
Time         9:50:01 PM
Latitude       41.95182
Longitude    -87.709213
Name: 5332, dtype: object
5333, Date         2013-07-25
Time         9:50:11 PM
Latitude      41.951418
Longitude    -87.709222
Name: 5333, dtype: object
5334, Date         2013-07-25
Time         9:50:21 PM
Latitude      41.950948
Longitude    -87.709218
Name: 5334, dtype: object
5335, Date         2013-07-25
Time         9:50:31 PM
Latitude      41.950532
Longitude    -87.709227
Name: 5335, dtype: object
5336, Date         2013-07-25
Time         9:50:41 PM
Latitude      41.950177
Longitude    -87.709207
Name: 5336, dtype: object
5337, Date         2013-07-25
Time         9:50:51 PM
Latitude      41.949858
Longitude     -87.70921
Name: 5337, dtype: object
5338, Date         2013-07-25
Time         9:51:01 PM
Latitude        41.9495
Longitude     -87.70921
Name: 5338, dtype: object
5339, Date         2013-07-25
Time         9:51:11 PM
Latitude      41.949113
Longitude    -87.709215
Name: 5339, dtype: object
5340, Date         2013-07-25
Time         9:51:21 PM
Latitude      41.948747
Longitude     -87.70923
Name: 5340, dtype: object
5341, Date         2013-07-25
Time         9:51:31 PM
Latitude      41.948318
Longitude    -87.709205
Name: 5341, dtype: object
5342, Date         2013-07-25
Time         9:51:41 PM
Latitude      41.947948
Longitude    -87.709193
Name: 5342, dtype: object
5343, Date         2013-07-25
Time         9:51:51 PM
Latitude      41.947728
Longitude    -87.709183
Name: 5343, dtype: object
5344, Date         2013-07-25
Time         9:52:01 PM
Latitude       41.94734
Longitude     -87.70918
Name: 5344, dtype: object
5345, Date         2013-07-25
Time         9:53:01 PM
Latitude      41.948595
Longitude    -87.707987
Name: 5345, dtype: object
5346, Date         2013-07-25
Time         9:53:11 PM
Latitude      41.948612
Longitude    -87.708533
Name: 5346, dtype: object
5347, Date         2013-07-25
Time         9:53:21 PM
Latitude      41.948607
Longitude     -87.70906
Name: 5347, dtype: object
5348, Date         2013-07-25
Time         9:53:31 PM
Latitude      41.948563
Longitude     -87.70966
Name: 5348, dtype: object
5349, Date         2013-07-25
Time         9:53:41 PM
Latitude       41.94853
Longitude    -87.710078
Name: 5349, dtype: object
5350, Date         2013-07-25
Time         9:55:21 PM
Latitude      41.950887
Longitude    -87.712688
Name: 5350, dtype: object
5351, Date         2013-07-25
Time         9:55:31 PM
Latitude      41.951472
Longitude     -87.71272
Name: 5351, dtype: object
5352, Date         2013-07-25
Time         9:55:41 PM
Latitude      41.951958
Longitude     -87.71272
Name: 5352, dtype: object
5353, Date         2013-07-25
Time         9:55:51 PM
Latitude      41.951998
Longitude     -87.71222
Name: 5353, dtype: object
5354, Date         2013-07-25
Time         9:56:01 PM
Latitude      41.952012
Longitude    -87.711622
Name: 5354, dtype: object
5355, Date         2013-07-25
Time         9:56:11 PM
Latitude      41.952032
Longitude     -87.71096
Name: 5355, dtype: object
5356, Date         2013-07-25
Time         9:56:21 PM
Latitude      41.952042
Longitude    -87.710318
Name: 5356, dtype: object
5357, Date         2013-07-25
Time         9:56:31 PM
Latitude       41.95205
Longitude    -87.709748
Name: 5357, dtype: object
5358, Date         2013-07-25
Time         9:56:41 PM
Latitude      41.952068
Longitude    -87.709243
Name: 5358, dtype: object
5359, Date         2013-07-25
Time         9:56:51 PM
Latitude      41.952085
Longitude    -87.708628
Name: 5359, dtype: object
5360, Date         2013-07-25
Time         9:57:31 PM
Latitude      41.950338
Longitude    -87.708138
Name: 5360, dtype: object
5361, Date         2013-07-25
Time         9:57:41 PM
Latitude      41.950277
Longitude    -87.708548
Name: 5361, dtype: object
5362, Date         2013-07-25
Time         9:57:51 PM
Latitude      41.950252
Longitude    -87.709027
Name: 5362, dtype: object
5363, Date         2013-07-25
Time         9:58:01 PM
Latitude       41.95025
Longitude    -87.709633
Name: 5363, dtype: object
5364, Date         2013-07-25
Time         9:58:11 PM
Latitude      41.950252
Longitude    -87.710162
Name: 5364, dtype: object
5365, Date         2013-07-25
Time         9:58:21 PM
Latitude       41.95024
Longitude    -87.710772
Name: 5365, dtype: object
5366, Date         2013-07-25
Time         9:58:31 PM
Latitude      41.950223
Longitude    -87.711247
Name: 5366, dtype: object
5367, Date         2013-07-25
Time         9:58:41 PM
Latitude      41.950227
Longitude    -87.711833
Name: 5367, dtype: object
5368, Date          2013-07-25
Time         10:00:21 PM
Latitude       41.948747
Longitude     -87.712757
Name: 5368, dtype: object
5369, Date          2013-07-25
Time         10:00:41 PM
Latitude        41.94847
Longitude     -87.712147
Name: 5369, dtype: object
5370, Date          2013-07-25
Time         10:00:51 PM
Latitude       41.948445
Longitude     -87.711642
Name: 5370, dtype: object
5371, Date          2013-07-25
Time         10:01:01 PM
Latitude       41.948005
Longitude      -87.71155
Name: 5371, dtype: object
5372, Date          2013-07-25
Time         10:01:11 PM
Latitude        41.94758
Longitude     -87.711542
Name: 5372, dtype: object
5373, Date          2013-07-25
Time         10:01:21 PM
Latitude       41.947097
Longitude      -87.71153
Name: 5373, dtype: object
5374, Date          2013-07-25
Time         10:02:11 PM
Latitude       41.946717
Longitude      -87.71197
Name: 5374, dtype: object
5375, Date          2013-07-25
Time         10:03:11 PM
Latitude        41.94587
Longitude     -87.712732
Name: 5375, dtype: object
5376, Date          2013-07-25
Time         10:03:21 PM
Latitude       41.945217
Longitude      -87.71272
Name: 5376, dtype: object
5377, Date          2013-07-25
Time         10:03:31 PM
Latitude       41.944533
Longitude     -87.712702
Name: 5377, dtype: object
5378, Date          2013-07-25
Time         10:03:41 PM
Latitude       41.943867
Longitude     -87.712687
Name: 5378, dtype: object
5379, Date          2013-07-25
Time         10:03:51 PM
Latitude       41.943203
Longitude     -87.712677
Name: 5379, dtype: object
5380, Date          2013-07-25
Time         10:04:21 PM
Latitude       41.942682
Longitude     -87.712773
Name: 5380, dtype: object
5381, Date          2013-07-25
Time         10:04:31 PM
Latitude       41.942052
Longitude     -87.712783

5625, Date         2013-07-25
Time         8:43:06 PM
Latitude      41.967162
Longitude    -87.731693
Name: 5625, dtype: object
5626, Date         2013-07-25
Time         8:43:16 PM
Latitude      41.967072
Longitude    -87.732225
Name: 5626, dtype: object
5627, Date         2013-07-25
Time         8:43:26 PM
Latitude       41.96705
Longitude    -87.732833
Name: 5627, dtype: object
5628, Date         2013-07-25
Time         8:43:36 PM
Latitude       41.96704
Longitude    -87.733568
Name: 5628, dtype: object
5629, Date         2013-07-25
Time         8:43:46 PM
Latitude      41.967008
Longitude    -87.734268
Name: 5629, dtype: object
5630, Date         2013-07-25
Time         8:43:56 PM
Latitude      41.966938
Longitude    -87.734742
Name: 5630, dtype: object
5631, Date         2013-07-25
Time         8:44:06 PM
Latitude       41.96656
Longitude    -87.734252
Name: 5631, dtype: object
5632, Date         2013-07-25
Time         8:44:16 PM
Latitude        41.9662
Longitude    -87.733715
Name: 5632, dtype: object
5633, Date         2013-07-25
Time         8:44:26 PM
Latitude      41.965812
Longitude    -87.733152
Name: 5633, dtype: object
5634, Date         2013-07-25
Time         8:44:36 PM
Latitude      41.965405
Longitude    -87.732592
Name: 5634, dtype: object
5635, Date         2013-07-25
Time         8:44:46 PM
Latitude      41.965072
Longitude    -87.732052
Name: 5635, dtype: object
5636, Date         2013-07-25
Time         8:44:56 PM
Latitude       41.96477
Longitude    -87.732145
Name: 5636, dtype: object
5637, Date         2013-07-25
Time         8:45:06 PM
Latitude      41.964452
Longitude    -87.732568
Name: 5637, dtype: object
5638, Date         2013-07-25
Time         8:45:16 PM
Latitude      41.964157
Longitude    -87.732955
Name: 5638, dtype: object
5639, Date         2013-07-25
Time         8:45:56 PM
Latitude      41.964837
Longitude    -87.734645
Name: 5639, dtype: object
5640, Date         2013-07-25
Time         8:46:06 PM
Latitude       41.96501
Longitude    -87.734452
Name: 5640, dtype: object
5641, Date         2013-07-25
Time         8:46:16 PM
Latitude      41.965297
Longitude    -87.734043
Name: 5641, dtype: object
5642, Date         2013-07-25
Time         8:46:26 PM
Latitude      41.965682
Longitude    -87.733567
Name: 5642, dtype: object
5643, Date         2013-07-25
Time         8:46:36 PM
Latitude      41.966005
Longitude    -87.733598
Name: 5643, dtype: object
5644, Date         2013-07-25
Time         8:46:46 PM
Latitude       41.96634
Longitude    -87.733508
Name: 5644, dtype: object
5645, Date         2013-07-25
Time         8:46:56 PM
Latitude       41.96667
Longitude     -87.73303
Name: 5645, dtype: object
5646, Date         2013-07-25
Time         8:47:06 PM
Latitude      41.966922
Longitude    -87.732537
Name: 5646, dtype: object
5647, Date         2013-07-25
Time         8:47:16 PM
Latitude      41.966973
Longitude    -87.731858
Name: 5647, dtype: object
5648, Date         2013-07-25
Time         8:47:26 PM
Latitude      41.966758
Longitude    -87.731397
Name: 5648, dtype: object
5649, Date         2013-07-25
Time         8:47:36 PM
Latitude      41.966473
Longitude    -87.731662
Name: 5649, dtype: object
5650, Date         2013-07-25
Time         8:47:46 PM
Latitude      41.966158
Longitude    -87.732043
Name: 5650, dtype: object
5651, Date         2013-07-25
Time         8:47:56 PM
Latitude      41.965892
Longitude    -87.732397
Name: 5651, dtype: object
5652, Date         2013-07-25
Time         8:48:06 PM
Latitude       41.96568
Longitude    -87.732683
Name: 5652, dtype: object
5653, Date         2013-07-25
Time         8:48:16 PM
Latitude      41.965465
Longitude    -87.732682
Name: 5653, dtype: object
5654, Date         2013-07-25
Time         8:48:26 PM
Latitude       41.96523
Longitude     -87.73234
Name: 5654, dtype: object
5655, Date         2013-07-25
Time         8:48:36 PM
Latitude         41.965
Longitude    -87.732048
Name: 5655, dtype: object
5656, Date         2013-07-25
Time         8:48:46 PM
Latitude      41.965148
Longitude     -87.73173
Name: 5656, dtype: object
5657, Date         2013-07-25
Time         8:49:06 PM
Latitude      41.964467
Longitude    -87.731648
Name: 5657, dtype: object
5658, Date         2013-07-25
Time         8:49:16 PM
Latitude      41.964173
Longitude     -87.73163
Name: 5658, dtype: object
5659, Date         2013-07-25
Time         8:49:26 PM
Latitude      41.963705
Longitude    -87.731592
Name: 5659, dtype: object
5660, Date         2013-07-25
Time         8:49:36 PM
Latitude      41.963362
Longitude    -87.731343
Name: 5660, dtype: object
5661, Date         2013-07-25
Time         8:49:46 PM
Latitude      41.963062
Longitude    -87.731438
Name: 5661, dtype: object
5662, Date         2013-07-25
Time         8:51:06 PM
Latitude      41.966107
Longitude    -87.736623
Name: 5662, dtype: object
5663, Date         2013-07-25
Time         8:51:16 PM
Latitude      41.966477
Longitude    -87.736097
Name: 5663, dtype: object
5664, Date         2013-07-25
Time         8:51:26 PM
Latitude      41.966878
Longitude    -87.735592
Name: 5664, dtype: object
5665, Date         2013-07-25
Time         8:51:36 PM
Latitude      41.967428
Longitude    -87.735498
Name: 5665, dtype: object
5666, Date         2013-07-25
Time         8:54:06 PM
Latitude      41.965673
Longitude    -87.728025
Name: 5666, dtype: object
5667, Date         2013-07-25
Time         8:55:06 PM
Latitude      41.962492
Longitude    -87.728942
Name: 5667, dtype: object
5668, Date         2013-07-25
Time         8:55:16 PM
Latitude      41.962478
Longitude    -87.729648
Name: 5668, dtype: object
5669, Date         2013-07-25
Time         8:55:26 PM
Latitude      41.962527
Longitude    -87.730288
Name: 5669, dtype: object
5670, Date         2013-07-25
Time         8:55:36 PM
Latitude      41.962908
Longitude    -87.730848
Name: 5670, dtype: object
5671, Date         2013-07-25
Time         8:55:46 PM
Latitude      41.963285
Longitude    -87.731448
Name: 5671, dtype: object
5672, Date         2013-07-25
Time         8:55:56 PM
Latitude       41.96378
Longitude    -87.731478
Name: 5672, dtype: object
5673, Date         2013-07-25
Time         8:56:06 PM
Latitude      41.963932
Longitude    -87.731178
Name: 5673, dtype: object
5674, Date         2013-07-25
Time         8:56:16 PM
Latitude      41.963947
Longitude    -87.730553
Name: 5674, dtype: object
5675, Date         2013-07-25
Time         8:56:26 PM
Latitude      41.963957
Longitude     -87.72993
Name: 5675, dtype: object
5676, Date         2013-07-25
Time         8:56:36 PM
Latitude      41.963968
Longitude     -87.72918
Name: 5676, dtype: object
5677, Date         2013-07-25
Time         8:57:46 PM
Latitude      41.961133
Longitude    -87.729082
Name: 5677, dtype: object
5678, Date         2013-07-25
Time         8:57:56 PM
Latitude      41.961702
Longitude    -87.729127
Name: 5678, dtype: object
5679, Date         2013-07-25
Time         8:58:06 PM
Latitude      41.962265
Longitude    -87.729123
Name: 5679, dtype: object
5680, Date         2013-07-25
Time         8:58:16 PM
Latitude       41.96278
Longitude    -87.729137
Name: 5680, dtype: object
5681, Date         2013-07-25
Time         8:58:26 PM
Latitude       41.96344
Longitude    -87.729155
Name: 5681, dtype: object
5682, Date         2013-07-25
Time         8:58:36 PM
Latitude      41.964025
Longitude    -87.729177
Name: 5682, dtype: object
5683, Date         2013-07-25
Time         8:58:46 PM
Latitude      41.964717
Longitude    -87.729187
Name: 5683, dtype: object
5684, Date         2013-07-25
Time         8:58:56 PM
Latitude      41.965338
Longitude    -87.729188
Name: 5684, dtype: object
5685, Date         2013-07-25
Time         8:59:06 PM
Latitude      41.965852
Longitude     -87.72921
Name: 5685, dtype: object
5686, Date         2013-07-25
Time         8:59:16 PM
Latitude      41.966453
Longitude    -87.729247
Name: 5686, dtype: object
5687, Date         2013-07-25
Time         8:59:26 PM
Latitude      41.966992
Longitude    -87.729245
Name: 5687, dtype: object
5688, Date         2013-07-25
Time         9:00:06 PM
Latitude       41.96782
Longitude    -87.730477
Name: 5688, dtype: object
5689, Date         2013-07-25
Time         9:00:16 PM
Latitude       41.96735
Longitude    -87.730438
Name: 5689, dtype: object
5690, Date         2013-07-25
Time         9:00:26 PM
Latitude      41.966777
Longitude    -87.730408
Name: 5690, dtype: object
5691, Date         2013-07-25
Time         9:00:35 PM
Latitude      41.966247
Longitude     -87.73039
Name: 5691, dtype: object
5692, Date         2013-07-25
Time         9:00:46 PM
Latitude      41.965707
Longitude     -87.73037
Name: 5692, dtype: object
5693, Date         2013-07-25
Time         9:00:56 PM
Latitude      41.965227
Longitude     -87.73037
Name: 5693, dtype: object
5694, Date         2013-07-25
Time         9:01:06 PM
Latitude      41.964693
Longitude    -87.730348
Name: 5694, dtype: object
5695, Date         2013-07-25
Time         9:01:16 PM
Latitude      41.964187
Longitude    -87.730302
Name: 5695, dtype: object
5696, Date         2013-07-25
Time         9:01:26 PM
Latitude      41.963635
Longitude    -87.730272
Name: 5696, dtype: object
5697, Date         2013-07-25
Time         9:01:36 PM
Latitude       41.96307
Longitude    -87.730262
Name: 5697, dtype: object
5698, Date         2013-07-25
Time         9:01:46 PM
Latitude      41.962655
Longitude    -87.730232
Name: 5698, dtype: object
5699, Date         2013-07-25
Time         9:01:56 PM
Latitude      41.962595
Longitude    -87.729683
Name: 5699, dtype: object
5700, Date         2013-07-25
Time         9:02:06 PM
Latitude      41.962567
Longitude    -87.728958
Name: 5700, dtype: object
5701, Date         2013-07-25
Time         9:04:36 PM
Latitude      41.967887
Longitude    -87.726803
Name: 5701, dtype: object
5702, Date         2013-07-25
Time         9:04:46 PM
Latitude      41.967238
Longitude    -87.726793
Name: 5702, dtype: object
5703, Date         2013-07-25
Time         9:04:56 PM
Latitude      41.966658
Longitude    -87.726763
Name: 5703, dtype: object
5704, Date         2013-07-25
Time         9:05:06 PM
Latitude      41.966412
Longitude    -87.726757
Name: 5704, dtype: object
5705, Date         2013-07-25
Time         9:05:16 PM
Latitude      41.965753
Longitude    -87.726737
Name: 5705, dtype: object
5706, Date         2013-07-25
Time         9:05:26 PM
Latitude      41.965163
Longitude    -87.726687
Name: 5706, dtype: object
5707, Date         2013-07-25
Time         9:05:36 PM
Latitude      41.964638
Longitude     -87.72667
Name: 5707, dtype: object
5708, Date         2013-07-25
Time         9:05:46 PM
Latitude      41.964027
Longitude    -87.726648
Name: 5708, dtype: object
5709, Date         2013-07-25
Time         9:05:56 PM
Latitude      41.963438
Longitude    -87.726603
Name: 5709, dtype: object
5710, Date         2013-07-25
Time         9:06:06 PM
Latitude       41.96295
Longitude    -87.726562
Name: 5710, dtype: object
5711, Date         2013-07-25
Time         9:06:16 PM
Latitude       41.96237
Longitude    -87.726542
Name: 5711, dtype: object
5712, Date         2013-07-25
Time         9:06:26 PM
Latitude      41.961735
Longitude    -87.726527
Name: 5712, dtype: object
5713, Date         2013-07-25
Time         9:07:06 PM
Latitude      41.961558
Longitude    -87.725362
Name: 5713, dtype: object
5714, Date         2013-07-25
Time         9:07:16 PM
Latitude      41.962067
Longitude    -87.725387
Name: 5714, dtype: object
5715, Date         2013-07-25
Time         9:07:26 PM
Latitude      41.962597
Longitude    -87.725415
Name: 5715, dtype: object
5716, Date         2013-07-25
Time         9:07:36 PM
Latitude      41.963142
Longitude    -87.725435
Name: 5716, dtype: object
5717, Date         2013-07-25
Time         9:07:56 PM
Latitude      41.964332
Longitude    -87.725477
Name: 5717, dtype: object
5718, Date         2013-07-25
Time         9:08:06 PM
Latitude      41.964775
Longitude    -87.725503
Name: 5718, dtype: object
5719, Date         2013-07-25
Time         9:08:16 PM
Latitude      41.965293
Longitude    -87.725515
Name: 5719, dtype: object
5720, Date         2013-07-25
Time         9:08:26 PM
Latitude      41.965847
Longitude     -87.72558
Name: 5720, dtype: object
5721, Date         2013-07-25
Time         9:08:36 PM
Latitude      41.966285
Longitude    -87.725593
Name: 5721, dtype: object
5722, Date         2013-07-25
Time         9:08:46 PM
Latitude      41.966793
Longitude    -87.725613
Name: 5722, dtype: object
5723, Date         2013-07-25
Time         9:08:56 PM
Latitude       41.96741
Longitude    -87.725617
Name: 5723, dtype: object
5724, Date         2013-07-25
Time         9:09:26 PM
Latitude      41.967767
Longitude    -87.724422
Name: 5724, dtype: object
5725, Date         2013-07-25
Time         9:09:36 PM
Latitude      41.967227
Longitude    -87.724382
Name: 5725, dtype: object
5726, Date         2013-07-25
Time         9:09:46 PM
Latitude      41.966693
Longitude     -87.72433
Name: 5726, dtype: object
5727, Date         2013-07-25
Time         9:09:56 PM
Latitude      41.966212
Longitude    -87.724285
Name: 5727, dtype: object
5728, Date         2013-07-25
Time         9:10:06 PM
Latitude      41.965698
Longitude     -87.72424
Name: 5728, dtype: object
5729, Date         2013-07-25
Time         9:10:16 PM
Latitude      41.965345
Longitude    -87.724187
Name: 5729, dtype: object
5730, Date         2013-07-25
Time         9:10:26 PM
Latitude      41.964853
Longitude    -87.724205
Name: 5730, dtype: object
5731, Date         2013-07-25
Time         9:10:36 PM
Latitude       41.96429
Longitude     -87.72418
Name: 5731, dtype: object
5732, Date         2013-07-25
Time         9:10:46 PM
Latitude      41.963753
Longitude    -87.724172
Name: 5732, dtype: object
5733, Date         2013-07-25
Time         9:10:56 PM
Latitude      41.963263
Longitude    -87.724163
Name: 5733, dtype: object
5734, Date         2013-07-25
Time         9:11:06 PM
Latitude      41.962798
Longitude    -87.724157
Name: 5734, dtype: object
5735, Date         2013-07-25
Time         9:11:16 PM
Latitude      41.962265
Longitude    -87.724148
Name: 5735, dtype: object
5736, Date         2013-07-25
Time         9:11:26 PM
Latitude      41.961738
Longitude    -87.724125
Name: 5736, dtype: object
5737, Date         2013-07-25
Time         9:12:16 PM
Latitude      41.961657
Longitude    -87.722958
Name: 5737, dtype: object
5738, Date         2013-07-25
Time         9:12:26 PM
Latitude      41.962155
Longitude    -87.722998
Name: 5738, dtype: object
5739, Date         2013-07-25
Time         9:12:36 PM
Latitude      41.962765
Longitude    -87.723018
Name: 5739, dtype: object
5740, Date         2013-07-25
Time         9:12:46 PM
Latitude      41.963277
Longitude    -87.723048
Name: 5740, dtype: object
5741, Date         2013-07-25
Time         9:12:56 PM
Latitude      41.963797
Longitude    -87.723042
Name: 5741, dtype: object
5742, Date         2013-07-25
Time         9:13:06 PM
Latitude      41.964198
Longitude    -87.723067
Name: 5742, dtype: object
5743, Date         2013-07-25
Time         9:13:16 PM
Latitude       41.96464
Longitude    -87.723083
Name: 5743, dtype: object
5744, Date         2013-07-25
Time         9:13:26 PM
Latitude      41.965242
Longitude    -87.723108
Name: 5744, dtype: object
5745, Date         2013-07-25
Time         9:13:36 PM
Latitude      41.965742
Longitude    -87.723083
Name: 5745, dtype: object
5746, Date         2013-07-25
Time         9:13:46 PM
Latitude      41.966237
Longitude    -87.723108
Name: 5746, dtype: object
5747, Date         2013-07-25
Time         9:13:56 PM
Latitude      41.966733
Longitude    -87.723162
Name: 5747, dtype: object
5748, Date         2013-07-25
Time         9:14:06 PM
Latitude      41.967283
Longitude      -87.7232
Name: 5748, dtype: object
5749, Date         2013-07-25
Time         9:16:16 PM
Latitude      41.966312
Longitude    -87.727632
Name: 5749, dtype: object
5750, Date         2013-07-25
Time         9:16:26 PM
Latitude      41.966302
Longitude    -87.727075
Name: 5750, dtype: object
5751, Date         2013-07-25
Time         9:16:36 PM
Latitude      41.966295
Longitude    -87.726505
Name: 5751, dtype: object
5752, Date         2013-07-25
Time         9:16:46 PM
Latitude      41.966313
Longitude    -87.725837
Name: 5752, dtype: object
5753, Date         2013-07-25
Time         9:16:56 PM
Latitude      41.966338
Longitude    -87.725077
Name: 5753, dtype: object
5754, Date         2013-07-25
Time         9:17:06 PM
Latitude      41.966343
Longitude    -87.724297
Name: 5754, dtype: object
5755, Date         2013-07-25
Time         9:17:16 PM
Latitude      41.966365
Longitude    -87.723545
Name: 5755, dtype: object
5756, Date         2013-07-25
Time         9:17:26 PM
Latitude      41.966377
Longitude      -87.7228
Name: 5756, dtype: object
5757, Date         2013-07-25
Time         9:17:36 PM
Latitude       41.96638
Longitude    -87.721987
Name: 5757, dtype: object
5758, Date         2013-07-25
Time         9:17:46 PM
Latitude      41.966405
Longitude    -87.721148
Name: 5758, dtype: object
5759, Date         2013-07-25
Time         9:17:56 PM
Latitude      41.966148
Longitude    -87.720798
Name: 5759, dtype: object
5760, Date         2013-07-25
Time         9:18:06 PM
Latitude      41.965615
Longitude    -87.720768
Name: 5760, dtype: object
5761, Date         2013-07-25
Time         9:18:16 PM
Latitude      41.965027
Longitude    -87.720727
Name: 5761, dtype: object
5762, Date         2013-07-25
Time         9:18:26 PM
Latitude       41.96461
Longitude    -87.720855
Name: 5762, dtype: object
5763, Date         2013-07-25
Time         9:18:36 PM
Latitude      41.964598
Longitude    -87.721495
Name: 5763, dtype: object
5764, Date         2013-07-25
Time         9:18:46 PM
Latitude      41.964587
Longitude    -87.722325
Name: 5764, dtype: object
5765, Date         2013-07-25
Time         9:18:56 PM
Latitude      41.964583
Longitude    -87.723138
Name: 5765, dtype: object
5766, Date         2013-07-25
Time         9:19:06 PM
Latitude      41.964587
Longitude     -87.72396
Name: 5766, dtype: object
5767, Date         2013-07-25
Time         9:19:16 PM
Latitude       41.96458
Longitude    -87.724713
Name: 5767, dtype: object
5768, Date         2013-07-25
Time         9:19:36 PM
Latitude      41.964553
Longitude    -87.726185
Name: 5768, dtype: object
5769, Date         2013-07-25
Time         9:19:46 PM
Latitude      41.964533
Longitude    -87.726882
Name: 5769, dtype: object
5770, Date         2013-07-25
Time         9:20:56 PM
Latitude      41.962767
Longitude    -87.727763
Name: 5770, dtype: object
5771, Date         2013-07-25
Time         9:21:06 PM
Latitude      41.962755
Longitude    -87.727143
Name: 5771, dtype: object
5772, Date         2013-07-25
Time         9:21:16 PM
Latitude      41.962775
Longitude    -87.726463
Name: 5772, dtype: object
5773, Date         2013-07-25
Time         9:21:26 PM
Latitude      41.962795
Longitude    -87.725792
Name: 5773, dtype: object
5774, Date         2013-07-25
Time         9:21:36 PM
Latitude      41.962802
Longitude    -87.725103
Name: 5774, dtype: object
5775, Date         2013-07-25
Time         9:21:46 PM
Latitude      41.962813
Longitude    -87.724413
Name: 5775, dtype: object
5776, Date         2013-07-25
Time         9:21:56 PM
Latitude       41.96283
Longitude    -87.723722
Name: 5776, dtype: object
5777, Date         2013-07-25
Time         9:22:16 PM
Latitude      41.962865
Longitude    -87.722427
Name: 5777, dtype: object
5778, Date         2013-07-25
Time         9:22:26 PM
Latitude      41.962842
Longitude      -87.7217
Name: 5778, dtype: object
5779, Date         2013-07-25
Time         9:22:36 PM
Latitude       41.96285
Longitude    -87.720947
Name: 5779, dtype: object
5780, Date         2013-07-25
Time         9:22:46 PM
Latitude      41.962565
Longitude     -87.72068
Name: 5780, dtype: object
5781, Date         2013-07-25

5952, Date          2013-07-25
Time         10:04:36 PM
Latitude       41.958715
Longitude     -87.730997
Name: 5952, dtype: object
5953, Date          2013-07-25
Time         10:04:47 PM
Latitude       41.959368
Longitude     -87.731002
Name: 5953, dtype: object
5954, Date          2013-07-25
Time         10:04:57 PM
Latitude       41.959935
Longitude     -87.731018
Name: 5954, dtype: object
5955, Date          2013-07-25
Time         10:08:37 PM
Latitude       41.953532
Longitude     -87.721577
Name: 5955, dtype: object
5956, Date          2013-07-25
Time         10:08:47 PM
Latitude        41.95313
Longitude     -87.721558
Name: 5956, dtype: object
5957, Date          2013-07-25
Time         10:08:57 PM
Latitude       41.952722
Longitude     -87.721547
Name: 5957, dtype: object
5958, Date          2013-07-25
Time         10:09:06 PM
Latitude       41.952335
Longitude     -87.721522
Name: 5958, dtype: object
5959, Date          2013-07-25
Time         10:09:17 PM
Latitude       41.951778
Longitude     -87.721512
Name: 5959, dtype: object
5960, Date          2013-07-25
Time         10:09:27 PM
Latitude       41.951047
Longitude     -87.721478
Name: 5960, dtype: object
5961, Date          2013-07-25
Time         10:09:37 PM
Latitude        41.95035
Longitude     -87.721447
Name: 5961, dtype: object
5962, Date          2013-07-25
Time         10:09:47 PM
Latitude       41.949705
Longitude     -87.721415
Name: 5962, dtype: object
5963, Date          2013-07-25
Time         10:09:56 PM
Latitude       41.949297
Longitude     -87.721317
Name: 5963, dtype: object
5964, Date          2013-07-25
Time         10:10:06 PM
Latitude       41.948953
Longitude     -87.720648
Name: 5964, dtype: object
5965, Date          2013-07-25
Time         10:10:17 PM
Latitude         41.9491
Longitude       -87.7202
Name: 5965, dtype: object
5966, Date          2013-07-25
Time         10:10:26 PM
Latitude       41.949635
Longitude       -87.7202
Name: 5966, dtype: object
5967, Date          2013-07-25
Time         10:10:36 PM
Latitude       41.950153
Longitude     -87.720218
Name: 5967, dtype: object
5968, Date          2013-07-25
Time         10:10:46 PM
Latitude       41.950213
Longitude     -87.720803
Name: 5968, dtype: object
5969, Date          2013-07-25
Time         10:10:56 PM
Latitude       41.950188
Longitude     -87.721465
Name: 5969, dtype: object
5970, Date          2013-07-25
Time         10:11:07 PM
Latitude       41.950153
Longitude     -87.722313
Name: 5970, dtype: object
5971, Date          2013-07-25
Time         10:11:16 PM
Latitude       41.950488
Longitude     -87.722547
Name: 5971, dtype: object
5972, Date          2013-07-25
Time         10:11:26 PM
Latitude       41.951067
Longitude     -87.722568
Name: 5972, dtype: object
5973, Date          2013-07-25
Time         10:11:36 PM
Latitude       41.951585
Longitude     -87.722598
Name: 5973, dtype: object
5974, Date          2013-07-25
Time         10:11:46 PM
Latitude       41.951915
Longitude     -87.722822
Name: 5974, dtype: object
5975, Date          2013-07-25
Time         10:11:57 PM
Latitude       41.951907
Longitude     -87.723493
Name: 5975, dtype: object
5976, Date          2013-07-25
Time         10:12:07 PM
Latitude       41.951618
Longitude     -87.723798
Name: 5976, dtype: object
5977, Date          2013-07-25
Time         10:12:16 PM
Latitude       41.951068
Longitude     -87.723775
Name: 5977, dtype: object
5978, Date          2013-07-25
Time         10:12:26 PM
Latitude       41.950535
Longitude     -87.723797
Name: 5978, dtype: object
5979, Date          2013-07-25
Time         10:12:36 PM
Latitude       41.950797
Longitude     -87.724407
Name: 5979, dtype: object
5980, Date          2013-07-25
Time         10:12:47 PM
Latitude       41.951245
Longitude     -87.725108
Name: 5980, dtype: object
5981, Date          2013-07-25
Time         10:12:57 PM
Latitude       41.951675
Longitude     -87.725753
Name: 5981, dtype: object
5982, Date          2013-07-25
Time         10:13:07 PM
Latitude       41.951867
Longitude       -87.7257
Name: 5982, dtype: object
5983, Date          2013-07-25
Time         10:13:17 PM
Latitude       41.951878
Longitude     -87.725022
Name: 5983, dtype: object
5984, Date          2013-07-25
Time         10:13:26 PM
Latitude        41.95189
Longitude     -87.724377
Name: 5984, dtype: object
5985, Date          2013-07-25
Time         10:13:36 PM
Latitude       41.951842
Longitude     -87.723893
Name: 5985, dtype: object
5986, Date          2013-07-25
Time         10:13:46 PM
Latitude       41.951323
Longitude     -87.723863
Name: 5986, dtype: object
5987, Date          2013-07-25
Time         10:14:16 PM
Latitude       41.951315
Longitude      -87.72509
Name: 5987, dtype: object
5988, Date          2013-07-25
Time         10:14:27 PM
Latitude       41.951832
Longitude     -87.725108
Name: 5988, dtype: object
5989, Date          2013-07-25
Time         10:14:36 PM
Latitude       41.952228
Longitude     -87.725075
Name: 5989, dtype: object
5990, Date          2013-07-25
Time         10:14:47 PM
Latitude       41.952888
Longitude     -87.725108
Name: 5990, dtype: object
5991, Date          2013-07-25
Time         10:15:16 PM
Latitude       41.953635
Longitude     -87.723395
Name: 5991, dtype: object
5992, Date          2013-07-25
Time         10:15:27 PM
Latitude       41.953532
Longitude     -87.722765
Name: 5992, dtype: object
5993, Date          2013-07-25
Time         10:15:36 PM
Latitude       41.953092
Longitude     -87.722742
Name: 5993, dtype: object
5994, Date          2013-07-25
Time         10:15:47 PM
Latitude       41.952598
Longitude     -87.722715
Name: 5994, dtype: object
5995, Date          2013-07-25
Time         10:15:56 PM
Latitude       41.952152
Longitude     -87.722695
Name: 5995, dtype: object
5996, Date          2013-07-25
Time         10:16:07 PM
Latitude       41.951955
Longitude     -87.722975
Name: 5996, dtype: object
5997, Date          2013-07-25
Time         10:16:17 PM
Latitude       41.951952
Longitude     -87.723432
Name: 5997, dtype: object
5998, Date          2013-07-25
Time         10:16:27 PM
Latitude       41.951947
Longitude     -87.724028
Name: 5998, dtype: object
5999, Date          2013-07-25
Time         10:16:36 PM
Latitude       41.951945
Longitude     -87.724497
Name: 5999, dtype: object
6000, Date          2013-07-25
Time         10:16:47 PM
Latitude       41.951982
Longitude      -87.72499
Name: 6000, dtype: object
6001, Date          2013-07-25
Time         10:16:57 PM
Latitude        41.95238
Longitude     -87.724962
Name: 6001, dtype: object
6002, Date          2013-07-25
Time         10:17:07 PM
Latitude       41.952725
Longitude     -87.725068
Name: 6002, dtype: object
6003, Date          2013-07-25
Time         10:17:17 PM
Latitude       41.952727
Longitude     -87.725755
Name: 6003, dtype: object
6004, Date          2013-07-25
Time         10:17:26 PM
Latitude       41.952707
Longitude     -87.726512
Name: 6004, dtype: object
6005, Date          2013-07-25
Time         10:26:56 PM
Latitude       41.950753
Longitude     -87.714068
Name: 6005, dtype: object
6006, Date          2013-07-25
Time         10:27:06 PM
Latitude       41.951122
Longitude     -87.714072
Name: 6006, dtype: object
6007, Date          2013-07-25
Time         10:27:16 PM
Latitude       41.951547
Longitude     -87.714087
Name: 6007, dtype: object
6008, Date          2013-07-25
Time         10:27:27 PM
Latitude       41.951953
Longitude     -87.714093
Name: 6008, dtype: object
6009, Date          2013-07-25
Time         10:27:37 PM
Latitude       41.952483
Longitude     -87.714118
Name: 6009, dtype: object
6010, Date          2013-07-25
Time         10:27:47 PM
Latitude       41.953155
Longitude      -87.71413
Name: 6010, dtype: object
6011, Date          2013-07-25
Time         10:28:17 PM
Latitude        41.95333
Longitude     -87.715363
Name: 6011, dtype: object
6012, Date          2013-07-25
Time         10:28:26 PM
Latitude        41.95295
Longitude      -87.71535
Name: 6012, dtype: object
6013, Date          2013-07-25
Time         10:28:37 PM
Latitude       41.952447
Longitude     -87.715325
Name: 6013, dtype: object
6014, Date          2013-07-25
Time         10:28:57 PM
Latitude       41.952045
Longitude     -87.714633
Name: 6014, dtype: object
6015, Date          2013-07-25
Time         10:29:07 PM
Latitude       41.952062
Longitude     -87.713948
Name: 6015, dtype: object
6016, Date          2013-07-25
Time         10:29:17 PM
Latitude       41.952077
Longitude     -87.713353
Name: 6016, dtype: object
6017, Date          2013-07-25
Time         10:32:57 PM
Latitude       41.952837
Longitude     -87.712892
Name: 6017, dtype: object
6018, Date         2013-08-08
Time         8:22:35 PM
Latitude      41.919128
Longitude    -87.696737
Name: 6018, dtype: object
6019, Date         2013-08-08
Time         8:23:05 PM
Latitude      41.918935
Longitude    -87.696405
Name: 6019, dtype: object
6020, Date         2013-08-08
Time         8:23:15 PM
Latitude      41.918665
Longitude    -87.695948
Name: 6020, dtype: object
6021, Date         2013-08-08
Time         8:23:25 PM
Latitude       41.91852
Longitude    -87.695568
Name: 6021, dtype: object
6022, Date         2013-08-08
Time         8:23:45 PM
Latitude      41.918023
Longitude    -87.694743
Name: 6022, dtype: object
6023, Date         2013-08-08
Time         8:23:55 PM
Latitude      41.917765
Longitude    -87.694332
Name: 6023, dtype: object
6024, Date         2013-08-08
Time         8:25:15 PM
Latitude       41.91823
Longitude     -87.69242
Name: 6024, dtype: object
6025, Date         2013-08-08
Time         8:25:25 PM
Latitude      41.918508
Longitude    -87.692917
Name: 6025, dtype: object
6026, Date         2013-08-08
Time         8:25:35 PM
Latitude      41.918788
Longitude    -87.693403
Name: 6026, dtype: object
6027, Date         2013-08-08
Time         8:25:45 PM
Latitude      41.919087
Longitude    -87.693888
Name: 6027, dtype: object
6028, Date         2013-08-08
Time         8:25:55 PM
Latitude      41.919282
Longitude    -87.694253
Name: 6028, dtype: object
6029, Date         2013-08-08
Time         8:26:15 PM
Latitude      41.919758
Longitude    -87.695055
Name: 6029, dtype: object
6030, Date         2013-08-08
Time         8:26:25 PM
Latitude      41.919987
Longitude    -87.695433
Name: 6030, dtype: object
6031, Date         2013-08-08
Time         8:26:35 PM
Latitude      41.920275
Longitude     -87.69588
Name: 6031, dtype: object
6032, Date         2013-08-08
Time         8:26:45 PM
Latitude      41.920548
Longitude    -87.696332
Name: 6032, dtype: object
6033, Date         2013-08-08
Time         8:27:05 PM
Latitude      41.921015
Longitude     -87.69686
Name: 6033, dtype: object
6034, Date         2013-08-08
Time         8:27:15 PM
Latitude      41.921292
Longitude    -87.696562
Name: 6034, dtype: object
6035, Date         2013-08-08
Time         8:27:55 PM
Latitude      41.921255
Longitude    -87.695697
Name: 6035, dtype: object
6036, Date         2013-08-08
Time         8:28:15 PM
Latitude      41.920812
Longitude    -87.696213
Name: 6036, dtype: object
6037, Date         2013-08-08
Time         8:30:55 PM
Latitude      41.919978
Longitude    -87.693363
Name: 6037, dtype: object
6038, Date         2013-08-08
Time         8:31:05 PM
Latitude      41.919718
Longitude    -87.693672
Name: 6038, dtype: object
6039, Date         2013-08-08
Time         8:31:15 PM
Latitude      41.919505
Longitude     -87.69348
Name: 6039, dtype: object
6040, Date         2013-08-08
Time         8:31:25 PM
Latitude      41.919332
Longitude    -87.693178
Name: 6040, dtype: object
6041, Date         2013-08-08
Time         8:31:35 PM
Latitude      41.919092
Longitude    -87.692848
Name: 6041, dtype: object
6042, Date         2013-08-08
Time         8:32:05 PM
Latitude       41.91853
Longitude    -87.691917
Name: 6042, dtype: object
6043, Date         2013-08-08
Time         8:32:15 PM
Latitude      41.918318
Longitude    -87.691597
Name: 6043, dtype: object
6044, Date         2013-08-08
Time         8:32:25 PM
Latitude      41.918072
Longitude    -87.691177
Name: 6044, dtype: object
6045, Date         2013-08-08
Time         8:34:45 PM
Latitude      41.919462
Longitude    -87.691473
Name: 6045, dtype: object
6046, Date         2013-08-08
Time         8:34:55 PM
Latitude      41.919863
Longitude    -87.691457
Name: 6046, dtype: object
6047, Date         2013-08-08
Time         8:35:05 PM
Latitude      41.920235
Longitude    -87.691447
Name: 6047, dtype: object
6048, Date         2013-08-08
Time         8:35:15 PM
Latitude      41.920553
Longitude     -87.69144
Name: 6048, dtype: object
6049, Date         2013-08-08
Time         8:35:25 PM
Latitude      41.920905
Longitude    -87.691443
Name: 6049, dtype: object
6050, Date         2013-08-08
Time         8:35:35 PM
Latitude      41.921242
Longitude    -87.691403
Name: 6050, dtype: object
6051, Date         2013-08-08
Time         8:35:45 PM
Latitude      41.921635
Longitude     -87.69144
Name: 6051, dtype: object
6052, Date         2013-08-08
Time         8:35:55 PM
Latitude      41.921967
Longitude    -87.691445
Name: 6052, dtype: object
6053, Date         2013-08-08
Time         8:36:05 PM
Latitude      41.922285
Longitude    -87.691453
Name: 6053, dtype: object
6054, Date         2013-08-08
Time         8:36:25 PM
Latitude        41.9229
Longitude    -87.691425
Name: 6054, dtype: object
6055, Date         2013-08-08
Time         8:36:35 PM
Latitude       41.92333
Longitude    -87.691418
Name: 6055, dtype: object
6056, Date         2013-08-08
Time         8:36:45 PM
Latitude      41.923693
Longitude    -87.691428
Name: 6056, dtype: object
6057, Date         2013-08-08
Time         8:36:55 PM
Latitude       41.92384
Longitude    -87.691035
Name: 6057, dtype: object
6058, Date         2013-08-08
Time         8:37:05 PM
Latitude      41.923863
Longitude    -87.690382
Name: 6058, dtype: object
6059, Date         2013-08-08
Time         8:37:15 PM
Latitude       41.92388
Longitude    -87.689765
Name: 6059, dtype: object
6060, Date         2013-08-08
Time         8:37:25 PM
Latitude      41.923848
Longitude    -87.689488
Name: 6060, dtype: object
6061, Date         2013-08-08
Time         8:37:35 PM
Latitude      41.923528
Longitude    -87.689487
Name: 6061, dtype: object
6062, Date         2013-08-08
Time         8:37:55 PM
Latitude       41.92294
Longitude    -87.689508
Name: 6062, dtype: object
6063, Date         2013-08-08
Time         8:38:05 PM
Latitude      41.922637
Longitude    -87.689518
Name: 6063, dtype: object
6064, Date         2013-08-08
Time         8:38:15 PM
Latitude      41.922178
Longitude    -87.689498
Name: 6064, dtype: object
6065, Date         2013-08-08
Time         8:38:25 PM
Latitude       41.92173
Longitude    -87.689507
Name: 6065, dtype: object
6066, Date         2013-08-08
Time         8:38:35 PM
Latitude      41.921238
Longitude    -87.689467
Name: 6066, dtype: object
6067, Date         2013-08-08
Time         8:38:45 PM
Latitude      41.920695
Longitude     -87.68942
Name: 6067, dtype: object
6068, Date         2013-08-08
Time         8:38:55 PM
Latitude      41.920223
Longitude     -87.68943
Name: 6068, dtype: object
6069, Date         2013-08-08
Time         8:39:05 PM
Latitude       41.91986
Longitude     -87.68943
Name: 6069, dtype: object
6070, Date         2013-08-08
Time         8:39:25 PM
Latitude      41.918815
Longitude    -87.689155
Name: 6070, dtype: object
6071, Date         2013-08-08
Time         8:39:35 PM
Latitude      41.918682
Longitude    -87.688835
Name: 6071, dtype: object
6072, Date         2013-08-08
Time         8:39:45 PM
Latitude        41.9187
Longitude    -87.688465
Name: 6072, dtype: object
6073, Date         2013-08-08
Time         8:41:15 PM
Latitude      41.920037
Longitude    -87.687657
Name: 6073, dtype: object
6074, Date         2013-08-08
Time         8:41:25 PM
Latitude      41.920018
Longitude    -87.688287
Name: 6074, dtype: object
6075, Date         2013-08-08
Time         8:41:35 PM
Latitude      41.919998
Longitude    -87.688797
Name: 6075, dtype: object
6076, Date         2013-08-08
Time         8:41:45 PM
Latitude      41.919968
Longitude    -87.689375
Name: 6076, dtype: object
6077, Date         2013-08-08
Time         8:41:55 PM
Latitude      41.919962
Longitude    -87.690038
Name: 6077, dtype: object
6078, Date         2013-08-08
Time         8:42:05 PM
Latitude       41.91995
Longitude     -87.69074
Name: 6078, dtype: object
6079, Date         2013-08-08
Time         8:42:15 PM
Latitude      41.919993
Longitude    -87.691165
Name: 6079, dtype: object
6080, Date         2013-08-08
Time         8:42:25 PM
Latitude      41.920408
Longitude    -87.691187
Name: 6080, dtype: object
6081, Date         2013-08-08
Time         8:42:35 PM
Latitude      41.920728
Longitude    -87.691052
Name: 6081, dtype: object
6082, Date         2013-08-08
Time         8:42:55 PM
Latitude       41.92077
Longitude     -87.69012
Name: 6082, dtype: object
6083, Date         2013-08-08
Time         8:43:05 PM
Latitude       41.92087
Longitude     -87.68989
Name: 6083, dtype: object
6084, Date         2013-08-08
Time         8:43:15 PM
Latitude      41.921187
Longitude      -87.6899
Name: 6084, dtype: object
6085, Date         2013-08-08
Time         8:43:35 PM
Latitude      41.921537
Longitude    -87.690182
Name: 6085, dtype: object
6086, Date         2013-08-08
Time         8:43:45 PM
Latitude       41.92152
Longitude    -87.690807
Name: 6086, dtype: object
6087, Date         2013-08-08
Time         8:43:55 PM
Latitude      41.921535
Longitude    -87.691182
Name: 6087, dtype: object
6088, Date         2013-08-08
Time         8:44:05 PM
Latitude       41.92194
Longitude    -87.691265
Name: 6088, dtype: object
6089, Date         2013-08-08
Time         8:44:15 PM
Latitude      41.922292
Longitude    -87.691242
Name: 6089, dtype: object
6090, Date         2013-08-08
Time         8:44:35 PM
Latitude      41.922312
Longitude    -87.690005
Name: 6090, dtype: object
6091, Date         2013-08-08
Time         8:44:45 PM
Latitude      41.922333
Longitude    -87.689383
Name: 6091, dtype: object
6092, Date         2013-08-08
Time         8:44:55 PM
Latitude      41.922352
Longitude     -87.68874
Name: 6092, dtype: object
6093, Date         2013-08-08
Time         8:45:35 PM
Latitude      41.923128
Longitude    -87.688098
Name: 6093, dtype: object
6094, Date         2013-08-08
Time         8:45:45 PM
Latitude      41.923122
Longitude    -87.688565
Name: 6094, dtype: object
6095, Date         2013-08-08
Time         8:45:55 PM
Latitude       41.92312
Longitude    -87.689205
Name: 6095, dtype: object
6096, Date         2013-08-08
Time         8:46:05 PM
Latitude      41.923123
Longitude    -87.689892
Name: 6096, dtype: object
6097, Date         2013-08-08
Time         8:46:15 PM
Latitude      41.923108
Longitude    -87.690388
Name: 6097, dtype: object
6098, Date         2013-08-08
Time         8:46:25 PM
Latitude      41.923107
Longitude    -87.690902
Name: 6098, dtype: object
6099, Date         2013-08-08
Time         8:46:35 PM
Latitude       41.92327
Longitude    -87.691283
Name: 6099, dtype: object
6100, Date         2013-08-08
Time         8:46:45 PM
Latitude       41.92367
Longitude    -87.691303
Name: 6100, dtype: object
6101, Date         2013-08-08
Time         8:46:55 PM
Latitude      41.924053
Longitude    -87.691337
Name: 6101, dtype: object
6102, Date         2013-08-08
Time         8:48:15 PM
Latitude      41.924442
Longitude     -87.69274
Name: 6102, dtype: object
6103, Date         2013-08-08
Time         8:48:25 PM
Latitude      41.924035
Longitude    -87.692752
Name: 6103, dtype: object
6104, Date         2013-08-08
Time         8:48:35 PM
Latitude      41.923603
Longitude    -87.692752
Name: 6104, dtype: object
6105, Date         2013-08-08
Time         8:48:45 PM
Latitude      41.923193
Longitude     -87.69276
Name: 6105, dtype: object

6398, Date         2013-08-08
Time         8:35:35 PM
Latitude      41.939723
Longitude    -87.706428
Name: 6398, dtype: object
6399, Date         2013-08-08
Time         8:35:45 PM
Latitude        41.9402
Longitude     -87.70645
Name: 6399, dtype: object
6400, Date         2013-08-08
Time         8:35:55 PM
Latitude      41.940705
Longitude    -87.706445
Name: 6400, dtype: object
6401, Date         2013-08-08
Time         8:36:05 PM
Latitude      41.941163
Longitude    -87.706447
Name: 6401, dtype: object
6402, Date         2013-08-08
Time         8:36:15 PM
Latitude      41.941683
Longitude    -87.706445
Name: 6402, dtype: object
6403, Date         2013-08-08
Time         8:36:25 PM
Latitude      41.942233
Longitude    -87.706447
Name: 6403, dtype: object
6404, Date         2013-08-08
Time         8:36:35 PM
Latitude      41.942717
Longitude    -87.706458
Name: 6404, dtype: object
6405, Date         2013-08-08
Time         8:36:45 PM
Latitude      41.943337
Longitude    -87.706483
Name: 6405, dtype: object
6406, Date         2013-08-08
Time         8:36:55 PM
Latitude       41.94387
Longitude    -87.706508
Name: 6406, dtype: object
6407, Date         2013-08-08
Time         8:37:05 PM
Latitude      41.944303
Longitude    -87.706508
Name: 6407, dtype: object
6408, Date         2013-08-08
Time         8:37:35 PM
Latitude      41.945225
Longitude    -87.706868
Name: 6408, dtype: object
6409, Date         2013-08-08
Time         8:37:45 PM
Latitude      41.945583
Longitude    -87.706577
Name: 6409, dtype: object
6410, Date         2013-08-08
Time         8:37:55 PM
Latitude       41.94606
Longitude    -87.706577
Name: 6410, dtype: object
6411, Date         2013-08-08
Time         8:38:05 PM
Latitude      41.946417
Longitude     -87.70648
Name: 6411, dtype: object
6412, Date         2013-08-08
Time         8:38:15 PM
Latitude       41.94639
Longitude     -87.70574
Name: 6412, dtype: object
6413, Date         2013-08-08
Time         8:38:25 PM
Latitude      41.946162
Longitude    -87.705398
Name: 6413, dtype: object
6414, Date         2013-08-08
Time         8:38:35 PM
Latitude       41.94567
Longitude     -87.70541
Name: 6414, dtype: object
6415, Date         2013-08-08
Time         8:38:45 PM
Latitude      41.945142
Longitude    -87.705403
Name: 6415, dtype: object
6416, Date         2013-08-08
Time         8:38:55 PM
Latitude      41.944685
Longitude    -87.705415
Name: 6416, dtype: object
6417, Date         2013-08-08
Time         8:39:05 PM
Latitude      41.944635
Longitude    -87.704933
Name: 6417, dtype: object
6418, Date         2013-08-08
Time         8:39:15 PM
Latitude      41.944667
Longitude     -87.70443
Name: 6418, dtype: object
6419, Date         2013-08-08
Time         8:39:25 PM
Latitude      41.944697
Longitude    -87.703783
Name: 6419, dtype: object
6420, Date         2013-08-08
Time         8:39:35 PM
Latitude      41.944702
Longitude     -87.70313
Name: 6420, dtype: object
6421, Date         2013-08-08
Time         8:39:45 PM
Latitude      41.945175
Longitude    -87.703007
Name: 6421, dtype: object
6422, Date         2013-08-08
Time         8:39:55 PM
Latitude      41.945708
Longitude    -87.703007
Name: 6422, dtype: object
6423, Date         2013-08-08
Time         8:40:05 PM
Latitude      41.946183
Longitude    -87.703012
Name: 6423, dtype: object
6424, Date         2013-08-08
Time         8:41:15 PM
Latitude       41.94655
Longitude    -87.704143
Name: 6424, dtype: object
6425, Date         2013-08-08
Time         8:41:25 PM
Latitude      41.946122
Longitude    -87.704175
Name: 6425, dtype: object
6426, Date         2013-08-08
Time         8:41:35 PM
Latitude        41.9456
Longitude    -87.704188
Name: 6426, dtype: object
6427, Date         2013-08-08
Time         8:41:45 PM
Latitude      41.945108
Longitude    -87.704167
Name: 6427, dtype: object
6428, Date         2013-08-08
Time         8:41:55 PM
Latitude      41.944592
Longitude    -87.704167
Name: 6428, dtype: object
6429, Date         2013-08-08
Time         8:42:05 PM
Latitude       41.94406
Longitude    -87.704185
Name: 6429, dtype: object
6430, Date         2013-08-08
Time         8:42:15 PM
Latitude      41.943592
Longitude    -87.704173
Name: 6430, dtype: object
6431, Date         2013-08-08
Time         8:42:25 PM
Latitude      41.943513
Longitude     -87.70435
Name: 6431, dtype: object
6432, Date         2013-08-08
Time         8:42:35 PM
Latitude      41.943925
Longitude     -87.70494
Name: 6432, dtype: object
6433, Date         2013-08-08
Time         8:42:45 PM
Latitude      41.943967
Longitude    -87.705357
Name: 6433, dtype: object
6434, Date         2013-08-08
Time         8:42:55 PM
Latitude      41.943577
Longitude    -87.705355
Name: 6434, dtype: object
6435, Date         2013-08-08
Time         8:43:05 PM
Latitude      41.943145
Longitude    -87.705337
Name: 6435, dtype: object
6436, Date         2013-08-08
Time         8:43:15 PM
Latitude      41.942713
Longitude    -87.705322
Name: 6436, dtype: object
6437, Date         2013-08-08
Time         8:43:25 PM
Latitude      41.942223
Longitude    -87.705327
Name: 6437, dtype: object
6438, Date         2013-08-08
Time         8:43:35 PM
Latitude      41.941753
Longitude    -87.705315
Name: 6438, dtype: object
6439, Date         2013-08-08
Time         8:43:45 PM
Latitude      41.941318
Longitude    -87.705327
Name: 6439, dtype: object
6440, Date         2013-08-08
Time         8:43:55 PM
Latitude      41.940852
Longitude    -87.705338
Name: 6440, dtype: object
6441, Date         2013-08-08
Time         8:44:05 PM
Latitude      41.940332
Longitude    -87.705312
Name: 6441, dtype: object
6442, Date         2013-08-08
Time         8:44:15 PM
Latitude      41.939842
Longitude    -87.705288
Name: 6442, dtype: object
6443, Date         2013-08-08
Time         8:44:35 PM
Latitude      41.939467
Longitude     -87.70487
Name: 6443, dtype: object
6444, Date         2013-08-08
Time         8:44:45 PM
Latitude      41.939543
Longitude    -87.704077
Name: 6444, dtype: object
6445, Date         2013-08-08
Time         8:44:55 PM
Latitude      41.940003
Longitude    -87.704058
Name: 6445, dtype: object
6446, Date         2013-08-08
Time         8:45:05 PM
Latitude      41.940445
Longitude    -87.704068
Name: 6446, dtype: object
6447, Date         2013-08-08
Time         8:45:15 PM
Latitude      41.940733
Longitude    -87.704025
Name: 6447, dtype: object
6448, Date         2013-08-08
Time         8:45:35 PM
Latitude      41.941277
Longitude    -87.704007
Name: 6448, dtype: object
6449, Date         2013-08-08
Time         8:45:45 PM
Latitude       41.94175
Longitude    -87.704028
Name: 6449, dtype: object
6450, Date         2013-08-08
Time         8:45:55 PM
Latitude       41.94223
Longitude    -87.704032
Name: 6450, dtype: object
6451, Date         2013-08-08
Time         8:46:05 PM
Latitude      41.942577
Longitude    -87.704033
Name: 6451, dtype: object
6452, Date         2013-08-08
Time         8:46:15 PM
Latitude      41.942628
Longitude    -87.704532
Name: 6452, dtype: object
6453, Date         2013-08-08
Time         8:46:25 PM
Latitude      41.942635
Longitude    -87.705092
Name: 6453, dtype: object
6454, Date         2013-08-08
Time         8:46:35 PM
Latitude      41.942628
Longitude    -87.705757
Name: 6454, dtype: object
6455, Date         2013-08-08
Time         8:46:45 PM
Latitude       41.94264
Longitude    -87.706188
Name: 6455, dtype: object
6456, Date         2013-08-08
Time         8:46:55 PM
Latitude      41.942637
Longitude    -87.706515
Name: 6456, dtype: object
6457, Date         2013-08-08
Time         8:47:05 PM
Latitude      41.942637
Longitude    -87.707088
Name: 6457, dtype: object
6458, Date         2013-08-08
Time         8:47:25 PM
Latitude      41.942408
Longitude    -87.707622
Name: 6458, dtype: object
6459, Date         2013-08-08
Time         8:47:45 PM
Latitude      41.941062
Longitude    -87.707573
Name: 6459, dtype: object
6460, Date         2013-08-08
Time         8:47:55 PM
Latitude      41.940957
Longitude    -87.707003
Name: 6460, dtype: object
6461, Date         2013-08-08
Time         8:48:05 PM
Latitude      41.940962
Longitude    -87.706428
Name: 6461, dtype: object
6462, Date         2013-08-08
Time         8:48:15 PM
Latitude      41.940973
Longitude     -87.70579
Name: 6462, dtype: object
6463, Date         2013-08-08
Time         8:48:25 PM
Latitude      41.940997
Longitude    -87.705297
Name: 6463, dtype: object
6464, Date         2013-08-08
Time         8:48:35 PM
Latitude       41.94102
Longitude    -87.704543
Name: 6464, dtype: object
6465, Date         2013-08-08
Time         8:48:45 PM
Latitude      41.941035
Longitude    -87.703873
Name: 6465, dtype: object
6466, Date         2013-08-08
Time         8:48:55 PM
Latitude      41.941052
Longitude    -87.703208
Name: 6466, dtype: object
6467, Date         2013-08-08
Time         8:49:05 PM
Latitude      41.941058
Longitude    -87.702767
Name: 6467, dtype: object
6468, Date         2013-08-08
Time         8:49:15 PM
Latitude      41.941072
Longitude    -87.702143
Name: 6468, dtype: object
6469, Date         2013-08-08
Time         8:49:25 PM
Latitude      41.941037
Longitude    -87.701747
Name: 6469, dtype: object
6470, Date         2013-08-08
Time         8:49:35 PM
Latitude      41.940575
Longitude    -87.701715
Name: 6470, dtype: object
6471, Date         2013-08-08
Time         8:49:45 PM
Latitude      41.940135
Longitude    -87.701712
Name: 6471, dtype: object
6472, Date         2013-08-08
Time         8:49:55 PM
Latitude      41.939728
Longitude    -87.701712
Name: 6472, dtype: object
6473, Date         2013-08-08
Time         8:50:15 PM
Latitude      41.939412
Longitude    -87.701448
Name: 6473, dtype: object
6474, Date         2013-08-08
Time         8:50:25 PM
Latitude      41.939433
Longitude    -87.700718
Name: 6474, dtype: object
6475, Date         2013-08-08
Time         8:51:35 PM
Latitude      41.939905
Longitude    -87.699128
Name: 6475, dtype: object
6476, Date         2013-08-08
Time         8:51:45 PM
Latitude      41.940357
Longitude    -87.699783
Name: 6476, dtype: object
6477, Date         2013-08-08
Time         8:51:55 PM
Latitude      41.940787
Longitude    -87.700398
Name: 6477, dtype: object
6478, Date         2013-08-08
Time         8:52:05 PM
Latitude       41.94121
Longitude     -87.70101
Name: 6478, dtype: object
6479, Date         2013-08-08
Time         8:52:15 PM
Latitude      41.941492
Longitude     -87.70113
Name: 6479, dtype: object
6480, Date         2013-08-08
Time         8:52:25 PM
Latitude      41.941815
Longitude    -87.700717
Name: 6480, dtype: object
6481, Date         2013-08-08
Time         8:52:45 PM
Latitude      41.941903
Longitude     -87.69973
Name: 6481, dtype: object
6482, Date         2013-08-08
Time         8:52:55 PM
Latitude      41.941908
Longitude    -87.699183
Name: 6482, dtype: object
6483, Date         2013-08-08
Time         8:53:05 PM
Latitude      41.941927
Longitude    -87.698535
Name: 6483, dtype: object
6484, Date         2013-08-08
Time         8:53:15 PM
Latitude      41.941775
Longitude    -87.698165
Name: 6484, dtype: object
6485, Date         2013-08-08
Time         8:53:25 PM
Latitude      41.941167
Longitude    -87.698137
Name: 6485, dtype: object
6486, Date         2013-08-08
Time         8:53:35 PM
Latitude      41.940653
Longitude    -87.698152
Name: 6486, dtype: object
6487, Date         2013-08-08
Time         8:53:45 PM
Latitude      41.940283
Longitude    -87.698287
Name: 6487, dtype: object
6488, Date         2013-08-08
Time         8:53:55 PM
Latitude      41.940262
Longitude    -87.698798
Name: 6488, dtype: object
6489, Date         2013-08-08
Time         8:54:05 PM
Latitude      41.940262
Longitude    -87.699393
Name: 6489, dtype: object
6490, Date         2013-08-08
Time         8:54:55 PM
Latitude      41.942243
Longitude    -87.702485
Name: 6490, dtype: object
6491, Date         2013-08-08
Time         8:55:05 PM
Latitude      41.942615
Longitude     -87.70296
Name: 6491, dtype: object
6492, Date         2013-08-08
Time         8:55:15 PM
Latitude      41.942768
Longitude    -87.702672
Name: 6492, dtype: object
6493, Date         2013-08-08
Time         8:55:25 PM
Latitude      41.942778
Longitude    -87.701975
Name: 6493, dtype: object
6494, Date         2013-08-08
Time         8:55:35 PM
Latitude       41.94279
Longitude    -87.701158
Name: 6494, dtype: object
6495, Date         2013-08-08
Time         8:55:45 PM
Latitude      41.942798
Longitude    -87.700417
Name: 6495, dtype: object
6496, Date         2013-08-08
Time         8:55:55 PM
Latitude      41.942822
Longitude    -87.699703
Name: 6496, dtype: object
6497, Date         2013-08-08
Time         8:56:05 PM
Latitude       41.94284
Longitude     -87.69899
Name: 6497, dtype: object
6498, Date         2013-08-08
Time         8:56:15 PM
Latitude      41.942833
Longitude    -87.698312
Name: 6498, dtype: object
6499, Date         2013-08-08
Time         8:56:25 PM
Latitude      41.942368
Longitude    -87.698173
Name: 6499, dtype: object
6500, Date         2013-08-08
Time         8:56:35 PM
Latitude      41.941725
Longitude     -87.69814
Name: 6500, dtype: object
6501, Date         2013-08-08
Time         8:56:45 PM
Latitude      41.941083
Longitude    -87.698112
Name: 6501, dtype: object
6502, Date         2013-08-08
Time         8:56:55 PM
Latitude      41.940498
Longitude    -87.698105
Name: 6502, dtype: object
6503, Date         2013-08-08
Time         8:57:05 PM
Latitude      41.940332
Longitude    -87.697615
Name: 6503, dtype: object
6504, Date         2013-08-08
Time         8:57:15 PM
Latitude      41.940352
Longitude    -87.697135
Name: 6504, dtype: object
6505, Date         2013-08-08
Time         8:57:25 PM
Latitude      41.940347
Longitude    -87.696587
Name: 6505, dtype: object
6506, Date         2013-08-08
Time         8:57:35 PM
Latitude      41.940343
Longitude    -87.696088
Name: 6506, dtype: object
6507, Date         2013-08-08
Time         8:57:45 PM
Latitude      41.940337
Longitude    -87.695715
Name: 6507, dtype: object
6508, Date         2013-08-08
Time         8:57:55 PM
Latitude      41.940057
Longitude    -87.695567
Name: 6508, dtype: object
6509, Date         2013-08-08
Time         8:58:05 PM
Latitude      41.939662
Longitude    -87.695557
Name: 6509, dtype: object
6510, Date         2013-08-08
Time         8:58:15 PM
Latitude      41.939473
Longitude    -87.695065
Name: 6510, dtype: object
6511, Date         2013-08-08
Time         8:58:25 PM
Latitude      41.939487
Longitude    -87.694207
Name: 6511, dtype: object
6512, Date         2013-08-08
Time         8:58:35 PM
Latitude      41.939497
Longitude     -87.69349
Name: 6512, dtype: object
6513, Date         2013-08-08
Time         8:58:45 PM
Latitude      41.939115
Longitude     -87.69323
Name: 6513, dtype: object
6514, Date         2013-08-08
Time         8:58:55 PM
Latitude      41.938645
Longitude    -87.693327
Name: 6514, dtype: object
6515, Date         2013-08-08
Time         8:59:05 PM
Latitude      41.938623
Longitude    -87.693952
Name: 6515, dtype: object
6516, Date         2013-08-08
Time         8:59:15 PM
Latitude      41.938588
Longitude    -87.694598
Name: 6516, dtype: object
6517, Date         2013-08-08
Time         8:59:25 PM
Latitude      41.938572
Longitude    -87.695257
Name: 6517, dtype: object
6518, Date         2013-08-08
Time         8:59:35 PM
Latitude      41.938547
Longitude    -87.695848
Name: 6518, dtype: object
6519, Date         2013-08-08
Time         8:59:45 PM
Latitude      41.938452
Longitude    -87.696408
Name: 6519, dtype: object
6520, Date         2013-08-08
Time         8:59:55 PM
Latitude       41.93816
Longitude    -87.696552
Name: 6520, dtype: object
6521, Date         2013-08-08
Time         9:00:05 PM
Latitude      41.937748
Longitude    -87.695942
Name: 6521, dtype: object
6522, Date         2013-08-08
Time         9:00:15 PM
Latitude      41.937442
Longitude    -87.695332
Name: 6522, dtype: object
6523, Date         2013-08-08
Time         9:00:25 PM
Latitude      41.937805
Longitude    -87.695265
Name: 6523, dtype: object
6524, Date         2013-08-08
Time         9:00:35 PM
Latitude      41.938083
Longitude    -87.695295
Name: 6524, dtype: object
6525, Date         2013-08-08
Time         9:00:45 PM
Latitude      41.938417
Longitude     -87.69529
Name: 6525, dtype: object
6526, Date         2013-08-08
Time         9:00:55 PM
Latitude      41.938868
Longitude    -87.695295
Name: 6526, dtype: object
6527, Date         2013-08-08
Time         9:01:15 PM
Latitude      41.939245
Longitude    -87.695638
Name: 6527, dtype: object
6528, Date         2013-08-08
Time         9:03:25 PM
Latitude      41.938428
Longitude    -87.698118
Name: 6528, dtype: object
6529, Date         2013-08-08
Time         9:03:35 PM
Latitude      41.938422
Longitude    -87.698665
Name: 6529, dtype: object
6530, Date         2013-08-08
Time         9:03:45 PM
Latitude       41.93841
Longitude    -87.699218
Name: 6530, dtype: object
6531, Date         2013-08-08
Time         9:03:55 PM
Latitude      41.938405
Longitude    -87.699752
Name: 6531, dtype: object
6532, Date         2013-08-08
Time         9:04:05 PM
Latitude      41.938405
Longitude    -87.700365
Name: 6532, dtype: object
6533, Date         2013-08-08
Time         9:04:15 PM
Latitude      41.938368
Longitude     -87.70089
Name: 6533, dtype: object
6534, Date         2013-08-08
Time         9:04:25 PM
Latitude      41.938365
Longitude    -87.701435
Name: 6534, dtype: object
6535, Date         2013-08-08
Time         9:04:35 PM
Latitude      41.938372
Longitude    -87.702015
Name: 6535, dtype: object
6536, Date         2013-08-08
Time         9:04:55 PM
Latitude      41.938005
Longitude    -87.702462
Name: 6536, dtype: object
6537, Date         2013-08-08
Time         9:05:05 PM
Latitude      41.937618
Longitude    -87.702237
Name: 6537, dtype: object
6538, Date         2013-08-08
Time         9:05:15 PM
Latitude      41.937393
Longitude    -87.701872
Name: 6538, dtype: object
6539, Date         2013-08-08
Time         9:05:25 PM
Latitude      41.937343
Longitude    -87.701527
Name: 6539, dtype: object
6540, Date         2013-08-08
Time         9:05:35 PM
Latitude       41.93762
Longitude     -87.70139
Name: 6540, dtype: object
6541, Date         2013-08-08
Time         9:05:45 PM
Latitude      41.938023
Longitude    -87.701447
Name: 6541, dtype: object
6542, Date         2013-08-08
Time         9:06:55 PM
Latitude      41.937283
Longitude    -87.701847
Name: 6542, dtype: object
6543, Date         2013-08-08
Time         9:07:05 PM
Latitude      41.937067
Longitude    -87.701462
Name: 6543, dtype: object
6544, Date         2013-08-08
Time         9:07:15 PM
Latitude       41.93684
Longitude    -87.701053
Name: 6544, dtype: object
6545, Date         2013-08-08
Time         9:07:25 PM
Latitude       41.93669
Longitude    -87.700668
Name: 6545, dtype: object
6546, Date         2013-08-08
Time         9:07:35 PM
Latitude      41.936665
Longitude    -87.700137
Name: 6546, dtype: object
6547, Date         2013-08-08
Time         9:07:45 PM
Latitude      41.936692
Longitude    -87.699665
Name: 6547, dtype: object
6548, Date         2013-08-08
Time         9:08:15 PM
Latitude      41.936665
Longitude    -87.698188
Name: 6548, dtype: object
6549, Date         2013-08-08
Time         9:08:25 PM
Latitude      41.936245
Longitude    -87.697983
Name: 6549, dtype: object
6550, Date         2013-08-08
Time         9:08:35 PM
Latitude      41.935785
Longitude    -87.698045
Name: 6550, dtype: object
6551, Date         2013-08-08
Time         9:08:45 PM
Latitude      41.935767
Longitude     -87.69861
Name: 6551, dtype: object
6552, Date         2013-08-08
Time         9:08:55 PM
Latitude      41.935763
Longitude    -87.699108
Name: 6552, dtype: object
6553, Date         2013-08-08
Time         9:09:05 PM
Latitude      41.935765
Longitude    -87.699667
Name: 6553, dtype: object
6554, Date         2013-08-08

6837, Date         2013-08-08
Time         8:16:44 PM
Latitude      41.917227
Longitude    -87.713703
Name: 6837, dtype: object
6838, Date         2013-08-08
Time         8:16:54 PM
Latitude      41.917618
Longitude    -87.713668
Name: 6838, dtype: object
6839, Date         2013-08-08
Time         8:17:04 PM
Latitude      41.918062
Longitude    -87.713647
Name: 6839, dtype: object
6840, Date         2013-08-08
Time         8:17:14 PM
Latitude       41.91851
Longitude    -87.713645
Name: 6840, dtype: object
6841, Date         2013-08-08
Time         8:17:24 PM
Latitude      41.918907
Longitude    -87.713618
Name: 6841, dtype: object
6842, Date         2013-08-08
Time         8:17:34 PM
Latitude      41.919335
Longitude    -87.713647
Name: 6842, dtype: object
6843, Date         2013-08-08
Time         8:17:44 PM
Latitude      41.919865
Longitude     -87.71367
Name: 6843, dtype: object
6844, Date         2013-08-08
Time         8:17:54 PM
Latitude      41.920368
Longitude    -87.713675
Name: 6844, dtype: object
6845, Date         2013-08-08
Time         8:18:04 PM
Latitude       41.92082
Longitude     -87.71367
Name: 6845, dtype: object
6846, Date         2013-08-08
Time         8:18:14 PM
Latitude      41.921323
Longitude    -87.713677
Name: 6846, dtype: object
6847, Date         2013-08-08
Time         8:18:24 PM
Latitude       41.92173
Longitude     -87.71365
Name: 6847, dtype: object
6848, Date         2013-08-08
Time         8:18:34 PM
Latitude      41.922265
Longitude    -87.713653
Name: 6848, dtype: object
6849, Date         2013-08-08
Time         8:18:44 PM
Latitude      41.922765
Longitude    -87.713677
Name: 6849, dtype: object
6850, Date         2013-08-08
Time         8:18:54 PM
Latitude      41.923267
Longitude    -87.713695
Name: 6850, dtype: object
6851, Date         2013-08-08
Time         8:19:04 PM
Latitude      41.923452
Longitude    -87.714028
Name: 6851, dtype: object
6852, Date         2013-08-08
Time         8:19:14 PM
Latitude      41.923453
Longitude    -87.714725
Name: 6852, dtype: object
6853, Date         2013-08-08
Time         8:19:24 PM
Latitude      41.923463
Longitude    -87.715228
Name: 6853, dtype: object
6854, Date         2013-08-08
Time         8:19:34 PM
Latitude      41.922933
Longitude    -87.715255
Name: 6854, dtype: object
6855, Date         2013-08-08
Time         8:19:44 PM
Latitude      41.922397
Longitude    -87.715262
Name: 6855, dtype: object
6856, Date         2013-08-08
Time         8:19:54 PM
Latitude      41.921882
Longitude    -87.715278
Name: 6856, dtype: object
6857, Date         2013-08-08
Time         8:20:04 PM
Latitude       41.92134
Longitude    -87.715255
Name: 6857, dtype: object
6858, Date         2013-08-08
Time         8:20:14 PM
Latitude      41.920865
Longitude    -87.715245
Name: 6858, dtype: object
6859, Date         2013-08-08
Time         8:20:24 PM
Latitude      41.920385
Longitude    -87.715228
Name: 6859, dtype: object
6860, Date         2013-08-08
Time         8:20:34 PM
Latitude      41.919902
Longitude    -87.715245
Name: 6860, dtype: object
6861, Date         2013-08-08
Time         8:20:54 PM
Latitude      41.918942
Longitude    -87.715238
Name: 6861, dtype: object
6862, Date         2013-08-08
Time         8:21:04 PM
Latitude      41.918362
Longitude    -87.715105
Name: 6862, dtype: object
6863, Date         2013-08-08
Time         8:21:14 PM
Latitude      41.917865
Longitude    -87.715102
Name: 6863, dtype: object
6864, Date         2013-08-08
Time         8:23:24 PM
Latitude      41.918108
Longitude    -87.708968
Name: 6864, dtype: object
6865, Date         2013-08-08
Time         8:23:34 PM
Latitude      41.918583
Longitude    -87.708977
Name: 6865, dtype: object
6866, Date         2013-08-08
Time         8:23:44 PM
Latitude      41.919023
Longitude    -87.708963
Name: 6866, dtype: object
6867, Date         2013-08-08
Time         8:23:54 PM
Latitude      41.919527
Longitude    -87.708963
Name: 6867, dtype: object
6868, Date         2013-08-08
Time         8:24:04 PM
Latitude      41.920027
Longitude    -87.708965
Name: 6868, dtype: object
6869, Date         2013-08-08
Time         8:24:14 PM
Latitude      41.920502
Longitude    -87.708962
Name: 6869, dtype: object
6870, Date         2013-08-08
Time         8:24:24 PM
Latitude      41.920973
Longitude    -87.708977
Name: 6870, dtype: object
6871, Date         2013-08-08
Time         8:24:34 PM
Latitude      41.921437
Longitude       -87.709
Name: 6871, dtype: object
6872, Date         2013-08-08
Time         8:24:44 PM
Latitude      41.921873
Longitude    -87.708998
Name: 6872, dtype: object
6873, Date         2013-08-08
Time         8:24:54 PM
Latitude      41.922292
Longitude    -87.709028
Name: 6873, dtype: object
6874, Date         2013-08-08
Time         8:25:04 PM
Latitude      41.922613
Longitude    -87.709025
Name: 6874, dtype: object
6875, Date         2013-08-08
Time         8:25:44 PM
Latitude      41.923782
Longitude    -87.709338
Name: 6875, dtype: object
6876, Date         2013-08-08
Time         8:25:54 PM
Latitude       41.92376
Longitude    -87.709773
Name: 6876, dtype: object
6877, Date         2013-08-08
Time         8:26:04 PM
Latitude       41.92377
Longitude    -87.710162
Name: 6877, dtype: object
6878, Date         2013-08-08
Time         8:26:14 PM
Latitude      41.923488
Longitude    -87.710248
Name: 6878, dtype: object
6879, Date         2013-08-08
Time         8:26:34 PM
Latitude      41.922928
Longitude     -87.71028
Name: 6879, dtype: object
6880, Date         2013-08-08
Time         8:26:44 PM
Latitude      41.922595
Longitude    -87.710335
Name: 6880, dtype: object
6881, Date         2013-08-08
Time         8:26:54 PM
Latitude      41.922078
Longitude    -87.710313
Name: 6881, dtype: object
6882, Date         2013-08-08
Time         8:27:04 PM
Latitude      41.921553
Longitude     -87.71032
Name: 6882, dtype: object
6883, Date         2013-08-08
Time         8:27:24 PM
Latitude      41.920623
Longitude    -87.710315
Name: 6883, dtype: object
6884, Date         2013-08-08
Time         8:27:34 PM
Latitude      41.920115
Longitude      -87.7103
Name: 6884, dtype: object
6885, Date         2013-08-08
Time         8:27:44 PM
Latitude      41.919643
Longitude    -87.710325
Name: 6885, dtype: object
6886, Date         2013-08-08
Time         8:28:04 PM
Latitude      41.918797
Longitude    -87.710302
Name: 6886, dtype: object
6887, Date         2013-08-08
Time         8:28:14 PM
Latitude      41.918397
Longitude     -87.71029
Name: 6887, dtype: object
6888, Date         2013-08-08
Time         8:28:24 PM
Latitude      41.918117
Longitude    -87.710308
Name: 6888, dtype: object
6889, Date         2013-08-08
Time         8:31:14 PM
Latitude      41.917817
Longitude    -87.705312
Name: 6889, dtype: object
6890, Date         2013-08-08
Time         8:31:24 PM
Latitude      41.918228
Longitude    -87.705308
Name: 6890, dtype: object
6891, Date         2013-08-08
Time         8:31:34 PM
Latitude      41.918705
Longitude     -87.70531
Name: 6891, dtype: object
6892, Date         2013-08-08
Time         8:31:44 PM
Latitude      41.919047
Longitude    -87.705312
Name: 6892, dtype: object
6893, Date         2013-08-08
Time         8:31:54 PM
Latitude      41.919505
Longitude    -87.705312
Name: 6893, dtype: object
6894, Date         2013-08-08
Time         8:32:04 PM
Latitude      41.919978
Longitude    -87.705348
Name: 6894, dtype: object
6895, Date         2013-08-08
Time         8:32:14 PM
Latitude       41.92034
Longitude    -87.705332
Name: 6895, dtype: object
6896, Date         2013-08-08
Time         8:32:24 PM
Latitude      41.920463
Longitude    -87.704692
Name: 6896, dtype: object
6897, Date         2013-08-08
Time         8:32:34 PM
Latitude      41.920453
Longitude    -87.704102
Name: 6897, dtype: object
6898, Date         2013-08-08
Time         8:32:44 PM
Latitude      41.920063
Longitude    -87.703965
Name: 6898, dtype: object
6899, Date         2013-08-08
Time         8:32:54 PM
Latitude       41.91957
Longitude    -87.703967
Name: 6899, dtype: object
6900, Date         2013-08-08
Time         8:33:04 PM
Latitude      41.919113
Longitude    -87.703957
Name: 6900, dtype: object
6901, Date         2013-08-08
Time         8:33:14 PM
Latitude      41.918575
Longitude    -87.703932
Name: 6901, dtype: object
6902, Date         2013-08-08
Time         8:33:24 PM
Latitude      41.918105
Longitude    -87.703937
Name: 6902, dtype: object
6903, Date         2013-08-08
Time         8:35:44 PM
Latitude      41.917923
Longitude    -87.700093
Name: 6903, dtype: object
6904, Date         2013-08-08
Time         8:35:54 PM
Latitude       41.91838
Longitude    -87.700093
Name: 6904, dtype: object
6905, Date         2013-08-08
Time         8:36:04 PM
Latitude       41.91887
Longitude    -87.700105
Name: 6905, dtype: object
6906, Date         2013-08-08
Time         8:36:14 PM
Latitude       41.91934
Longitude    -87.700107
Name: 6906, dtype: object
6907, Date         2013-08-08
Time         8:36:24 PM
Latitude      41.919878
Longitude    -87.700097
Name: 6907, dtype: object
6908, Date         2013-08-08
Time         8:36:34 PM
Latitude      41.920382
Longitude    -87.700105
Name: 6908, dtype: object
6909, Date         2013-08-08
Time         8:36:44 PM
Latitude      41.920882
Longitude    -87.700105
Name: 6909, dtype: object
6910, Date         2013-08-08
Time         8:36:54 PM
Latitude      41.921047
Longitude    -87.699985
Name: 6910, dtype: object
6911, Date         2013-08-08
Time         8:37:04 PM
Latitude      41.921057
Longitude     -87.69954
Name: 6911, dtype: object
6912, Date         2013-08-08
Time         8:37:14 PM
Latitude      41.921063
Longitude    -87.699112
Name: 6912, dtype: object
6913, Date         2013-08-08
Time         8:37:34 PM
Latitude      41.921507
Longitude    -87.698795
Name: 6913, dtype: object
6914, Date         2013-08-08
Time         8:37:44 PM
Latitude      41.921537
Longitude     -87.69932
Name: 6914, dtype: object
6915, Date         2013-08-08
Time         8:37:54 PM
Latitude      41.921525
Longitude    -87.699878
Name: 6915, dtype: object
6916, Date         2013-08-08
Time         8:38:04 PM
Latitude      41.921522
Longitude    -87.700447
Name: 6916, dtype: object
6917, Date         2013-08-08
Time         8:38:14 PM
Latitude      41.921513
Longitude    -87.701087
Name: 6917, dtype: object
6918, Date         2013-08-08
Time         8:41:24 PM
Latitude      41.918767
Longitude    -87.698645
Name: 6918, dtype: object
6919, Date         2013-08-08
Time         8:41:34 PM
Latitude      41.919292
Longitude    -87.698647
Name: 6919, dtype: object
6920, Date         2013-08-08
Time         8:41:44 PM
Latitude      41.919747
Longitude    -87.698637
Name: 6920, dtype: object
6921, Date         2013-08-08
Time         8:41:54 PM
Latitude      41.920238
Longitude    -87.698632
Name: 6921, dtype: object
6922, Date         2013-08-08
Time         8:42:04 PM
Latitude      41.920757
Longitude    -87.698652
Name: 6922, dtype: object
6923, Date         2013-08-08
Time         8:42:14 PM
Latitude      41.921247
Longitude    -87.698658
Name: 6923, dtype: object
6924, Date         2013-08-08
Time         8:42:24 PM
Latitude      41.921543
Longitude    -87.698827
Name: 6924, dtype: object
6925, Date         2013-08-08
Time         8:42:34 PM
Latitude      41.921532
Longitude    -87.699417
Name: 6925, dtype: object
6926, Date         2013-08-08
Time         8:44:14 PM
Latitude      41.922275
Longitude    -87.703265
Name: 6926, dtype: object
6927, Date         2013-08-08
Time         8:44:24 PM
Latitude      41.922242
Longitude    -87.703665
Name: 6927, dtype: object
6928, Date         2013-08-08
Time         8:44:34 PM
Latitude      41.922267
Longitude    -87.704137
Name: 6928, dtype: object
6929, Date         2013-08-08
Time         8:44:44 PM
Latitude      41.922253
Longitude    -87.704703
Name: 6929, dtype: object
6930, Date         2013-08-08
Time         8:44:54 PM
Latitude       41.92225
Longitude    -87.705342
Name: 6930, dtype: object
6931, Date         2013-08-08
Time         8:45:04 PM
Latitude      41.922255
Longitude     -87.70595
Name: 6931, dtype: object
6932, Date         2013-08-08
Time         8:45:14 PM
Latitude       41.92224
Longitude    -87.706362
Name: 6932, dtype: object
6933, Date         2013-08-08
Time         8:45:24 PM
Latitude      41.922632
Longitude    -87.706488
Name: 6933, dtype: object
6934, Date         2013-08-08
Time         8:45:34 PM
Latitude      41.922998
Longitude     -87.70652
Name: 6934, dtype: object
6935, Date         2013-08-08
Time         8:45:44 PM
Latitude       41.92311
Longitude    -87.706105
Name: 6935, dtype: object
6936, Date         2013-08-08
Time         8:46:34 PM
Latitude       41.92318
Longitude    -87.704868
Name: 6936, dtype: object
6937, Date         2013-08-08
Time         8:46:44 PM
Latitude      41.923173
Longitude    -87.705523
Name: 6937, dtype: object
6938, Date         2013-08-08
Time         8:46:54 PM
Latitude      41.923173
Longitude    -87.706285
Name: 6938, dtype: object
6939, Date         2013-08-08
Time         8:47:04 PM
Latitude      41.923227
Longitude    -87.706668
Name: 6939, dtype: object
6940, Date         2013-08-08
Time         8:47:14 PM
Latitude      41.923658
Longitude     -87.70668
Name: 6940, dtype: object
6941, Date         2013-08-08
Time         8:48:44 PM
Latitude      41.926043
Longitude    -87.706502
Name: 6941, dtype: object
6942, Date         2013-08-08
Time         8:48:54 PM
Latitude      41.925982
Longitude    -87.706067
Name: 6942, dtype: object
6943, Date         2013-08-08
Time         8:49:04 PM
Latitude      41.925743
Longitude    -87.705658
Name: 6943, dtype: object
6944, Date         2013-08-08
Time         8:49:14 PM
Latitude      41.925477
Longitude    -87.705262
Name: 6944, dtype: object
6945, Date         2013-08-08
Time         8:51:04 PM
Latitude      41.927043
Longitude    -87.706113
Name: 6945, dtype: object
6946, Date         2013-08-08
Time         8:51:24 PM
Latitude      41.926447
Longitude    -87.705077
Name: 6946, dtype: object
6947, Date         2013-08-08
Time         8:51:34 PM
Latitude      41.926117
Longitude     -87.70454
Name: 6947, dtype: object
6948, Date         2013-08-08
Time         8:51:44 PM
Latitude        41.9258
Longitude     -87.70399
Name: 6948, dtype: object
6949, Date         2013-08-08
Time         8:51:54 PM
Latitude       41.92571
Longitude     -87.70335
Name: 6949, dtype: object
6950, Date         2013-08-08
Time         8:53:14 PM
Latitude      41.923355
Longitude     -87.70181
Name: 6950, dtype: object
6951, Date         2013-08-08
Time         8:53:54 PM
Latitude      41.923343
Longitude    -87.700252
Name: 6951, dtype: object
6952, Date         2013-08-08
Time         8:54:04 PM
Latitude      41.923323
Longitude    -87.699803
Name: 6952, dtype: object
6953, Date         2013-08-08
Time         8:54:54 PM
Latitude      41.923685
Longitude    -87.700388
Name: 6953, dtype: object
6954, Date         2013-08-08
Time         8:55:04 PM
Latitude      41.923683
Longitude    -87.701032
Name: 6954, dtype: object
6955, Date         2013-08-08
Time         8:55:14 PM
Latitude      41.923683
Longitude    -87.701637
Name: 6955, dtype: object
6956, Date         2013-08-08
Time         8:55:24 PM
Latitude      41.923678
Longitude    -87.702163
Name: 6956, dtype: object
6957, Date         2013-08-08
Time         8:55:54 PM
Latitude       41.92369
Longitude     -87.70298
Name: 6957, dtype: object
6958, Date         2013-08-08
Time         8:56:04 PM
Latitude      41.923703
Longitude    -87.703595
Name: 6958, dtype: object
6959, Date         2013-08-08
Time         8:56:14 PM
Latitude      41.923713
Longitude    -87.704203
Name: 6959, dtype: object
6960, Date         2013-08-08
Time         8:56:24 PM
Latitude      41.923678
Longitude     -87.70462
Name: 6960, dtype: object
6961, Date         2013-08-08
Time         8:56:34 PM
Latitude       41.92338
Longitude    -87.704633
Name: 6961, dtype: object
6962, Date         2013-08-08
Time         8:56:44 PM
Latitude      41.923228
Longitude    -87.704312
Name: 6962, dtype: object
6963, Date         2013-08-08
Time         8:56:54 PM
Latitude      41.923227
Longitude    -87.703795
Name: 6963, dtype: object
6964, Date         2013-08-08
Time         8:57:04 PM
Latitude      41.923223
Longitude    -87.703213
Name: 6964, dtype: object
6965, Date         2013-08-08
Time         8:57:14 PM
Latitude       41.92323
Longitude    -87.702677
Name: 6965, dtype: object
6966, Date         2013-08-08
Time         8:58:04 PM
Latitude      41.921455
Longitude    -87.703565
Name: 6966, dtype: object
6967, Date         2013-08-08
Time         9:00:04 PM
Latitude        41.9211
Longitude    -87.707693
Name: 6967, dtype: object
6968, Date         2013-08-08
Time         9:00:14 PM
Latitude      41.921093
Longitude     -87.70839
Name: 6968, dtype: object
6969, Date         2013-08-08
Time         9:00:34 PM
Latitude       41.92104
Longitude    -87.709213
Name: 6969, dtype: object
6970, Date         2013-08-08
Time         9:00:44 PM
Latitude       41.92101
Longitude    -87.709997
Name: 6970, dtype: object
6971, Date         2013-08-08
Time         9:00:54 PM
Latitude      41.921015
Longitude    -87.710793
Name: 6971, dtype: object
6972, Date         2013-08-08
Time         9:01:04 PM
Latitude      41.920992
Longitude    -87.711412
Name: 6972, dtype: object
6973, Date         2013-08-08
Time         9:01:14 PM
Latitude      41.920975
Longitude    -87.711917
Name: 6973, dtype: object
6974, Date         2013-08-08
Time         9:01:34 PM
Latitude      41.920963
Longitude    -87.713203
Name: 6974, dtype: object
6975, Date         2013-08-08
Time         9:01:44 PM
Latitude      41.920952
Longitude    -87.713733
Name: 6975, dtype: object
6976, Date         2013-08-08
Time         9:01:54 PM
Latitude      41.920953
Longitude     -87.71413
Name: 6976, dtype: object
6977, Date         2013-08-08
Time         9:02:04 PM
Latitude      41.920958
Longitude     -87.71464
Name: 6977, dtype: object
6978, Date         2013-08-08
Time         9:02:14 PM
Latitude       41.92095
Longitude    -87.715345
Name: 6978, dtype: object
6979, Date         2013-08-08
Time         9:02:24 PM
Latitude      41.920947
Longitude    -87.716057
Name: 6979, dtype: object
6980, Date         2013-08-08
Time         9:03:44 PM
Latitude        41.9192
Longitude     -87.71666
Name: 6980, dtype: object
6981, Date         2013-08-08
Time         9:03:54 PM
Latitude      41.919188
Longitude    -87.716047
Name: 6981, dtype: object
6982, Date         2013-08-08
Time         9:04:04 PM
Latitude      41.919195
Longitude    -87.715438
Name: 6982, dtype: object
6983, Date         2013-08-08
Time         9:04:14 PM
Latitude      41.919192
Longitude     -87.71484
Name: 6983, dtype: object
6984, Date         2013-08-08
Time         9:04:44 PM
Latitude      41.919213
Longitude    -87.714232
Name: 6984, dtype: object
6985, Date         2013-08-08
Time         9:04:54 PM
Latitude      41.919192
Longitude    -87.713743
Name: 6985, dtype: object
6986, Date         2013-08-08
Time         9:05:04 PM
Latitude      41.919208
Longitude    -87.713075
Name: 6986, dtype: object
6987, Date         2013-08-08
Time         9:05:14 PM
Latitude      41.919218
Longitude    -87.712418
Name: 6987, dtype: object
6988, Date         2013-08-08
Time         9:05:34 PM
Latitude      41.919228
Longitude    -87.711417
Name: 6988, dtype: object
6989, Date         2013-08-08
Time         9:05:44 PM
Latitude      41.919222
Longitude    -87.710775
Name: 6989, dtype: object
6990, Date         2013-08-08
Time         9:05:54 PM
Latitude       41.91925
Longitude    -87.710127
Name: 6990, dtype: object
6991, Date         2013-08-08
Time         9:06:04 PM
Latitude      41.919242
Longitude    -87.709445
Name: 6991, dtype: object
6992, Date         2013-08-08
Time         9:06:14 PM
Latitude      41.919242
Longitude    -87.708782
Name: 6992, dtype: object
6993, Date         2013-08-08

7200, Date          2013-08-08
Time         10:15:14 PM
Latitude         41.9292
Longitude      -87.71594
Name: 7200, dtype: object
7201, Date          2013-08-08
Time         10:15:24 PM
Latitude       41.928767
Longitude     -87.715912
Name: 7201, dtype: object
7202, Date          2013-08-08
Time         10:15:34 PM
Latitude        41.92838
Longitude     -87.715917
Name: 7202, dtype: object
7203, Date          2013-08-08
Time         10:15:44 PM
Latitude        41.92782
Longitude     -87.715892
Name: 7203, dtype: object
7204, Date          2013-08-08
Time         10:15:54 PM
Latitude       41.927295
Longitude     -87.715878
Name: 7204, dtype: object
7205, Date          2013-08-08
Time         10:16:04 PM
Latitude       41.926795
Longitude     -87.715883
Name: 7205, dtype: object
7206, Date          2013-08-08
Time         10:16:14 PM
Latitude       41.926587
Longitude     -87.715628
Name: 7206, dtype: object
7207, Date          2013-08-08
Time         10:16:24 PM
Latitude       41.926568
Longitude      -87.71503
Name: 7207, dtype: object
7208, Date          2013-08-08
Time         10:16:34 PM
Latitude        41.92657
Longitude     -87.714508
Name: 7208, dtype: object
7209, Date          2013-08-08
Time         10:16:44 PM
Latitude       41.926563
Longitude     -87.713815
Name: 7209, dtype: object
7210, Date          2013-08-08
Time         10:16:54 PM
Latitude       41.926653
Longitude     -87.713518
Name: 7210, dtype: object
7211, Date          2013-08-08
Time         10:17:04 PM
Latitude       41.927038
Longitude     -87.713513
Name: 7211, dtype: object
7212, Date          2013-08-08
Time         10:17:14 PM
Latitude       41.927482
Longitude     -87.713525
Name: 7212, dtype: object
7213, Date         2013-08-15
Time         8:18:38 PM
Latitude      41.944718
Longitude    -87.808187
Name: 7213, dtype: object
7214, Date         2013-08-15
Time         8:18:58 PM
Latitude      41.944125
Longitude    -87.808177
Name: 7214, dtype: object
7215, Date         2013-08-15
Time         8:19:08 PM
Latitude      41.943768
Longitude    -87.808162
Name: 7215, dtype: object
7216, Date         2013-08-15
Time         8:19:18 PM
Latitude      41.943405
Longitude    -87.808153
Name: 7216, dtype: object
7217, Date         2013-08-15
Time         8:19:28 PM
Latitude      41.942983
Longitude    -87.808135
Name: 7217, dtype: object
7218, Date         2013-08-15
Time         8:19:38 PM
Latitude      41.942518
Longitude    -87.808125
Name: 7218, dtype: object
7219, Date         2013-08-15
Time         8:19:58 PM
Latitude       41.94174
Longitude      -87.8081
Name: 7219, dtype: object
7220, Date         2013-08-15
Time         8:20:08 PM
Latitude      41.941407
Longitude    -87.808097
Name: 7220, dtype: object
7221, Date         2013-08-15
Time         8:20:18 PM
Latitude       41.94102
Longitude     -87.80808
Name: 7221, dtype: object
7222, Date         2013-08-15
Time         8:20:28 PM
Latitude      41.940582
Longitude    -87.808075
Name: 7222, dtype: object
7223, Date         2013-08-15
Time         8:20:38 PM
Latitude       41.94011
Longitude    -87.808057
Name: 7223, dtype: object
7224, Date         2013-08-15
Time         8:20:48 PM
Latitude      41.939638
Longitude    -87.808038
Name: 7224, dtype: object
7225, Date         2013-08-15
Time         8:20:58 PM
Latitude      41.939225
Longitude    -87.808015
Name: 7225, dtype: object
7226, Date         2013-08-15
Time         8:21:08 PM
Latitude      41.938793
Longitude    -87.808007
Name: 7226, dtype: object
7227, Date         2013-08-15
Time         8:21:18 PM
Latitude      41.938562
Longitude    -87.808128
Name: 7227, dtype: object
7228, Date         2013-08-15
Time         8:21:28 PM
Latitude      41.938562
Longitude     -87.80863
Name: 7228, dtype: object
7229, Date         2013-08-15
Time         8:21:38 PM
Latitude      41.938557
Longitude    -87.808937
Name: 7229, dtype: object
7230, Date         2013-08-15
Time         8:21:58 PM
Latitude      41.938773
Longitude    -87.809173
Name: 7230, dtype: object
7231, Date         2013-08-15
Time         8:22:08 PM
Latitude      41.939177
Longitude     -87.80919
Name: 7231, dtype: object
7232, Date         2013-08-15
Time         8:22:18 PM
Latitude      41.939477
Longitude    -87.809193
Name: 7232, dtype: object
7233, Date         2013-08-15
Time         8:22:28 PM
Latitude      41.939882
Longitude    -87.809202
Name: 7233, dtype: object
7234, Date         2013-08-15
Time         8:22:48 PM
Latitude      41.940788
Longitude    -87.809262
Name: 7234, dtype: object
7235, Date         2013-08-15
Time         8:22:58 PM
Latitude      41.941232
Longitude    -87.809272
Name: 7235, dtype: object
7236, Date         2013-08-15
Time         8:23:08 PM
Latitude      41.941668
Longitude    -87.809295
Name: 7236, dtype: object
7237, Date         2013-08-15
Time         8:23:18 PM
Latitude      41.942075
Longitude    -87.809308
Name: 7237, dtype: object
7238, Date         2013-08-15
Time         8:23:28 PM
Latitude      41.942487
Longitude    -87.809333
Name: 7238, dtype: object
7239, Date         2013-08-15
Time         8:23:38 PM
Latitude      41.942823
Longitude    -87.809345
Name: 7239, dtype: object
7240, Date         2013-08-15
Time         8:23:48 PM
Latitude      41.943172
Longitude    -87.809357
Name: 7240, dtype: object
7241, Date         2013-08-15
Time         8:23:58 PM
Latitude        41.9436
Longitude    -87.809362
Name: 7241, dtype: object
7242, Date         2013-08-15
Time         8:24:08 PM
Latitude      41.944063
Longitude    -87.809382
Name: 7242, dtype: object
7243, Date         2013-08-15
Time         8:24:18 PM
Latitude      41.944503
Longitude    -87.809403
Name: 7243, dtype: object
7244, Date         2013-08-15
Time         8:24:38 PM
Latitude      41.944687
Longitude    -87.809922
Name: 7244, dtype: object
7245, Date         2013-08-15
Time         8:24:48 PM
Latitude      41.944683
Longitude    -87.810312
Name: 7245, dtype: object
7246, Date         2013-08-15
Time         8:25:08 PM
Latitude      41.944673
Longitude    -87.810962
Name: 7246, dtype: object
7247, Date         2013-08-15
Time         8:25:48 PM
Latitude      41.944542
Longitude    -87.811698
Name: 7247, dtype: object
7248, Date         2013-08-15
Time         8:25:58 PM
Latitude       41.94419
Longitude    -87.811675
Name: 7248, dtype: object
7249, Date         2013-08-15
Time         8:26:08 PM
Latitude      41.943872
Longitude    -87.811672
Name: 7249, dtype: object
7250, Date         2013-08-15
Time         8:26:18 PM
Latitude      41.943533
Longitude    -87.811648
Name: 7250, dtype: object
7251, Date         2013-08-15
Time         8:26:28 PM
Latitude      41.943127
Longitude    -87.811608
Name: 7251, dtype: object
7252, Date         2013-08-15
Time         8:26:38 PM
Latitude      41.942618
Longitude    -87.811578
Name: 7252, dtype: object
7253, Date         2013-08-15
Time         8:26:48 PM
Latitude      41.942163
Longitude     -87.81156
Name: 7253, dtype: object
7254, Date         2013-08-15
Time         8:26:58 PM
Latitude      41.941732
Longitude    -87.811538
Name: 7254, dtype: object
7255, Date         2013-08-15
Time         8:27:08 PM
Latitude       41.94131
Longitude    -87.811518
Name: 7255, dtype: object
7256, Date         2013-08-15
Time         8:27:18 PM
Latitude      41.940897
Longitude     -87.81149
Name: 7256, dtype: object
7257, Date         2013-08-15
Time         8:27:38 PM
Latitude        41.9401
Longitude    -87.811428
Name: 7257, dtype: object
7258, Date         2013-08-15
Time         8:27:48 PM
Latitude      41.939683
Longitude    -87.811418
Name: 7258, dtype: object
7259, Date         2013-08-15
Time         8:27:58 PM
Latitude      41.939245
Longitude    -87.811397
Name: 7259, dtype: object
7260, Date         2013-08-15
Time         8:28:08 PM
Latitude      41.938797
Longitude    -87.811362
Name: 7260, dtype: object
7261, Date         2013-08-15
Time         8:28:18 PM
Latitude      41.938495
Longitude    -87.811428
Name: 7261, dtype: object
7262, Date         2013-08-15
Time         8:28:28 PM
Latitude      41.938488
Longitude    -87.811882
Name: 7262, dtype: object
7263, Date         2013-08-15
Time         8:28:38 PM
Latitude      41.938478
Longitude    -87.812342
Name: 7263, dtype: object
7264, Date         2013-08-15
Time         8:28:58 PM
Latitude       41.93875
Longitude    -87.812872
Name: 7264, dtype: object
7265, Date         2013-08-15
Time         8:29:18 PM
Latitude      41.939557
Longitude    -87.812905
Name: 7265, dtype: object
7266, Date         2013-08-15
Time         8:29:28 PM
Latitude      41.939968
Longitude    -87.812927
Name: 7266, dtype: object
7267, Date         2013-08-15
Time         8:29:38 PM
Latitude      41.940297
Longitude    -87.812943
Name: 7267, dtype: object
7268, Date         2013-08-15
Time         8:29:48 PM
Latitude      41.940708
Longitude     -87.81297
Name: 7268, dtype: object
7269, Date         2013-08-15
Time         8:29:58 PM
Latitude      41.941028
Longitude     -87.81298
Name: 7269, dtype: object
7270, Date         2013-08-15
Time         8:30:08 PM
Latitude      41.941363
Longitude    -87.812993
Name: 7270, dtype: object
7271, Date         2013-08-15
Time         8:30:18 PM
Latitude      41.941808
Longitude    -87.813005
Name: 7271, dtype: object
7272, Date         2013-08-15
Time         8:30:28 PM
Latitude      41.942088
Longitude    -87.813017
Name: 7272, dtype: object
7273, Date         2013-08-15
Time         8:30:38 PM
Latitude      41.942495
Longitude    -87.813013
Name: 7273, dtype: object
7274, Date         2013-08-15
Time         8:30:48 PM
Latitude       41.94289
Longitude    -87.813028
Name: 7274, dtype: object
7275, Date         2013-08-15
Time         8:30:58 PM
Latitude      41.943235
Longitude    -87.813032
Name: 7275, dtype: object
7276, Date         2013-08-15
Time         8:31:08 PM
Latitude      41.943727
Longitude    -87.813052
Name: 7276, dtype: object
7277, Date         2013-08-15
Time         8:31:18 PM
Latitude      41.944192
Longitude    -87.813067
Name: 7277, dtype: object
7278, Date         2013-08-15
Time         8:31:28 PM
Latitude      41.944547
Longitude    -87.813087
Name: 7278, dtype: object
7279, Date         2013-08-15
Time         8:31:38 PM
Latitude      41.944582
Longitude    -87.813477
Name: 7279, dtype: object
7280, Date         2013-08-15
Time         8:31:48 PM
Latitude      41.944573
Longitude    -87.813877
Name: 7280, dtype: object
7281, Date         2013-08-15
Time         8:31:58 PM
Latitude      41.944573
Longitude    -87.814195
Name: 7281, dtype: object
7282, Date         2013-08-15
Time         8:32:08 PM
Latitude      41.944287
Longitude     -87.81429
Name: 7282, dtype: object
7283, Date         2013-08-15
Time         8:32:18 PM
Latitude      41.943985
Longitude    -87.814253
Name: 7283, dtype: object
7284, Date         2013-08-15
Time         8:32:28 PM
Latitude      41.943697
Longitude    -87.814267
Name: 7284, dtype: object
7285, Date         2013-08-15
Time         8:32:38 PM
Latitude      41.943382
Longitude    -87.814273
Name: 7285, dtype: object
7286, Date         2013-08-15
Time         8:32:48 PM
Latitude       41.94299
Longitude    -87.814237
Name: 7286, dtype: object
7287, Date         2013-08-15
Time         8:32:58 PM
Latitude       41.94263
Longitude     -87.81424
Name: 7287, dtype: object
7288, Date         2013-08-15
Time         8:33:08 PM
Latitude      41.942203
Longitude    -87.814233
Name: 7288, dtype: object
7289, Date         2013-08-15
Time         8:33:18 PM
Latitude      41.941855
Longitude    -87.814208
Name: 7289, dtype: object
7290, Date         2013-08-15
Time         8:33:28 PM
Latitude      41.941485
Longitude      -87.8142
Name: 7290, dtype: object
7291, Date         2013-08-15
Time         8:33:38 PM
Latitude      41.941028
Longitude    -87.814185
Name: 7291, dtype: object
7292, Date         2013-08-15
Time         8:33:48 PM
Latitude       41.94062
Longitude    -87.814173
Name: 7292, dtype: object
7293, Date         2013-08-15
Time         8:33:58 PM
Latitude      41.940248
Longitude    -87.814152
Name: 7293, dtype: object
7294, Date         2013-08-15
Time         8:34:08 PM
Latitude      41.939855
Longitude    -87.814143
Name: 7294, dtype: object
7295, Date         2013-08-15
Time         8:34:18 PM
Latitude      41.939398
Longitude    -87.814127
Name: 7295, dtype: object
7296, Date         2013-08-15
Time         8:34:28 PM
Latitude      41.939052
Longitude    -87.814115
Name: 7296, dtype: object
7297, Date         2013-08-15
Time         8:34:38 PM
Latitude      41.938677
Longitude    -87.814102
Name: 7297, dtype: object
7298, Date         2013-08-15
Time         8:34:48 PM
Latitude      41.938503
Longitude    -87.814243
Name: 7298, dtype: object
7299, Date         2013-08-15
Time         8:38:48 PM
Latitude      41.938437
Longitude    -87.814827
Name: 7299, dtype: object
7300, Date         2013-08-15
Time         8:38:58 PM
Latitude      41.938425
Longitude    -87.815175
Name: 7300, dtype: object
7301, Date         2013-08-15
Time         8:39:08 PM
Latitude        41.9387
Longitude     -87.81534
Name: 7301, dtype: object
7302, Date         2013-08-15
Time         8:39:18 PM
Latitude      41.939188
Longitude    -87.815375
Name: 7302, dtype: object
7303, Date         2013-08-15
Time         8:39:28 PM
Latitude       41.93957
Longitude    -87.815378
Name: 7303, dtype: object
7304, Date         2013-08-15
Time         8:39:38 PM
Latitude      41.940117
Longitude    -87.815402
Name: 7304, dtype: object
7305, Date         2013-08-15
Time         8:39:48 PM
Latitude        41.9407
Longitude    -87.815422
Name: 7305, dtype: object
7306, Date         2013-08-15
Time         8:39:58 PM
Latitude      41.941212
Longitude     -87.81542
Name: 7306, dtype: object
7307, Date         2013-08-15
Time         8:40:08 PM
Latitude      41.941643
Longitude    -87.815443
Name: 7307, dtype: object
7308, Date         2013-08-15
Time         8:40:18 PM
Latitude      41.942172
Longitude    -87.815463
Name: 7308, dtype: object
7309, Date         2013-08-15
Time         8:40:28 PM
Latitude      41.942633
Longitude    -87.815485
Name: 7309, dtype: object
7310, Date         2013-08-15
Time         8:40:38 PM
Latitude      41.943058
Longitude    -87.815503
Name: 7310, dtype: object
7311, Date         2013-08-15
Time         8:40:48 PM
Latitude      41.943517
Longitude    -87.815518
Name: 7311, dtype: object
7312, Date         2013-08-15
Time         8:40:58 PM
Latitude      41.944035
Longitude    -87.815535
Name: 7312, dtype: object
7313, Date         2013-08-15
Time         8:41:08 PM
Latitude      41.944477
Longitude     -87.81556
Name: 7313, dtype: object
7314, Date         2013-08-15
Time         8:41:18 PM
Latitude      41.944502
Longitude     -87.81595
Name: 7314, dtype: object
7315, Date         2013-08-15
Time         8:41:28 PM
Latitude      41.944498
Longitude    -87.816445
Name: 7315, dtype: object
7316, Date         2013-08-15
Time         8:41:38 PM
Latitude      41.944323
Longitude      -87.8167
Name: 7316, dtype: object
7317, Date         2013-08-15
Time         8:41:48 PM
Latitude      41.943957
Longitude    -87.816693
Name: 7317, dtype: object
7318, Date         2013-08-15
Time         8:41:58 PM
Latitude      41.943527
Longitude    -87.816702
Name: 7318, dtype: object
7319, Date         2013-08-15
Time         8:42:08 PM
Latitude      41.943115
Longitude    -87.816708
Name: 7319, dtype: object
7320, Date         2013-08-15
Time         8:42:18 PM
Latitude      41.942637
Longitude    -87.816697
Name: 7320, dtype: object
7321, Date         2013-08-15
Time         8:42:28 PM
Latitude       41.94218
Longitude    -87.816697
Name: 7321, dtype: object
7322, Date         2013-08-15
Time         8:42:38 PM
Latitude      41.941833
Longitude    -87.816677
Name: 7322, dtype: object
7323, Date         2013-08-15
Time         8:42:48 PM
Latitude      41.941492
Longitude    -87.816678
Name: 7323, dtype: object
7324, Date         2013-08-15
Time         8:42:58 PM
Latitude      41.941117
Longitude    -87.816677
Name: 7324, dtype: object
7325, Date         2013-08-15
Time         8:43:08 PM
Latitude      41.940688
Longitude     -87.81667
Name: 7325, dtype: object
7326, Date         2013-08-15
Time         8:43:18 PM
Latitude      41.940268
Longitude    -87.816657
Name: 7326, dtype: object
7327, Date         2013-08-15
Time         8:43:28 PM
Latitude        41.9398
Longitude    -87.816635
Name: 7327, dtype: object
7328, Date         2013-08-15
Time         8:43:38 PM
Latitude      41.939253
Longitude    -87.816612
Name: 7328, dtype: object
7329, Date         2013-08-15
Time         8:43:48 PM
Latitude      41.938798
Longitude      -87.8166
Name: 7329, dtype: object
7330, Date         2013-08-15
Time         8:43:58 PM
Latitude       41.93853
Longitude    -87.816755
Name: 7330, dtype: object
7331, Date         2013-08-15
Time         8:44:08 PM
Latitude      41.938507
Longitude     -87.81727
Name: 7331, dtype: object
7332, Date         2013-08-15
Time         8:44:18 PM
Latitude      41.938465
Longitude    -87.817652
Name: 7332, dtype: object
7333, Date         2013-08-15
Time         8:44:28 PM
Latitude       41.93875
Longitude    -87.817767
Name: 7333, dtype: object
7334, Date         2013-08-15
Time         8:44:38 PM
Latitude      41.939138
Longitude    -87.817782
Name: 7334, dtype: object
7335, Date         2013-08-15
Time         8:44:48 PM
Latitude      41.939533
Longitude    -87.817783
Name: 7335, dtype: object
7336, Date         2013-08-15
Time         8:44:58 PM
Latitude      41.940025
Longitude    -87.817805
Name: 7336, dtype: object
7337, Date         2013-08-15
Time         8:45:08 PM
Latitude      41.940528
Longitude     -87.81783
Name: 7337, dtype: object
7338, Date         2013-08-15
Time         8:45:18 PM
Latitude       41.94106
Longitude    -87.817857
Name: 7338, dtype: object
7339, Date         2013-08-15
Time         8:45:28 PM
Latitude       41.94152
Longitude    -87.817887
Name: 7339, dtype: object
7340, Date         2013-08-15
Time         8:45:38 PM
Latitude      41.941882
Longitude    -87.817912
Name: 7340, dtype: object
7341, Date         2013-08-15
Time         8:45:58 PM
Latitude       41.94272
Longitude    -87.817938
Name: 7341, dtype: object
7342, Date         2013-08-15
Time         8:46:08 PM
Latitude       41.94314
Longitude    -87.817953
Name: 7342, dtype: object
7343, Date         2013-08-15
Time         8:46:18 PM
Latitude      41.943632
Longitude     -87.81798
Name: 7343, dtype: object
7344, Date         2013-08-15
Time         8:46:28 PM
Latitude      41.944102
Longitude    -87.818005
Name: 7344, dtype: object
7345, Date         2013-08-15
Time         8:46:38 PM
Latitude      41.944557
Longitude    -87.818015
Name: 7345, dtype: object
7346, Date         2013-08-15
Time         8:46:48 PM
Latitude      41.944988
Longitude    -87.818032
Name: 7346, dtype: object
7347, Date         2013-08-15
Time         8:47:08 PM
Latitude      41.945553
Longitude    -87.818067
Name: 7347, dtype: object
7348, Date         2013-08-15
Time         8:47:18 PM
Latitude      41.945977
Longitude    -87.818178
Name: 7348, dtype: object
7349, Date         2013-08-15
Time         8:47:28 PM
Latitude      41.946392
Longitude    -87.818302
Name: 7349, dtype: object
7350, Date         2013-08-15
Time         8:47:38 PM
Latitude      41.946868
Longitude    -87.818318
Name: 7350, dtype: object
7351, Date         2013-08-15
Time         8:47:48 PM
Latitude       41.94723
Longitude    -87.818332
Name: 7351, dtype: object
7352, Date         2013-08-15
Time         8:47:58 PM
Latitude      41.947642
Longitude    -87.818353
Name: 7352, dtype: object
7353, Date         2013-08-15
Time         8:48:08 PM
Latitude      41.948023
Longitude     -87.81838
Name: 7353, dtype: object
7354, Date         2013-08-15
Time         8:48:18 PM
Latitude      41.948442
Longitude    -87.818408
Name: 7354, dtype: object
7355, Date         2013-08-15
Time         8:48:38 PM
Latitude      41.949022
Longitude    -87.818258

7509, Date         2013-08-15
Time         9:18:38 PM
Latitude      41.945575
Longitude    -87.803357
Name: 7509, dtype: object
7510, Date         2013-08-15
Time         9:18:48 PM
Latitude       41.94595
Longitude    -87.803368
Name: 7510, dtype: object
7511, Date         2013-08-15
Time         9:18:58 PM
Latitude      41.946353
Longitude    -87.803383
Name: 7511, dtype: object
7512, Date         2013-08-15
Time         9:19:08 PM
Latitude      41.946727
Longitude    -87.803403
Name: 7512, dtype: object
7513, Date         2013-08-15
Time         9:19:18 PM
Latitude       41.94706
Longitude     -87.80342
Name: 7513, dtype: object
7514, Date         2013-08-15
Time         9:19:28 PM
Latitude        41.9475
Longitude     -87.80345
Name: 7514, dtype: object
7515, Date         2013-08-15
Time         9:19:38 PM
Latitude      41.947945
Longitude    -87.803463
Name: 7515, dtype: object
7516, Date         2013-08-15
Time         9:19:48 PM
Latitude      41.948403
Longitude    -87.803497
Name: 7516, dtype: object
7517, Date         2013-08-15
Time         9:19:58 PM
Latitude       41.94882
Longitude    -87.803498
Name: 7517, dtype: object
7518, Date         2013-08-15
Time         9:20:18 PM
Latitude      41.949735
Longitude    -87.803533
Name: 7518, dtype: object
7519, Date         2013-08-15
Time         9:20:28 PM
Latitude       41.95017
Longitude    -87.803547
Name: 7519, dtype: object
7520, Date         2013-08-15
Time         9:20:38 PM
Latitude      41.950603
Longitude    -87.803585
Name: 7520, dtype: object
7521, Date         2013-08-15
Time         9:20:48 PM
Latitude      41.951097
Longitude    -87.803608
Name: 7521, dtype: object
7522, Date         2013-08-15
Time         9:20:58 PM
Latitude      41.951525
Longitude    -87.803637
Name: 7522, dtype: object
7523, Date         2013-08-15
Time         9:21:08 PM
Latitude      41.951935
Longitude    -87.803648
Name: 7523, dtype: object
7524, Date         2013-08-15
Time         9:21:58 PM
Latitude      41.952392
Longitude    -87.801182
Name: 7524, dtype: object
7525, Date         2013-08-15
Time         9:22:08 PM
Latitude      41.951963
Longitude    -87.801152
Name: 7525, dtype: object
7526, Date         2013-08-15
Time         9:22:18 PM
Latitude       41.95157
Longitude    -87.801133
Name: 7526, dtype: object
7527, Date         2013-08-15
Time         9:22:28 PM
Latitude      41.951222
Longitude    -87.801115
Name: 7527, dtype: object
7528, Date         2013-08-15
Time         9:22:38 PM
Latitude      41.950838
Longitude    -87.801078
Name: 7528, dtype: object
7529, Date         2013-08-15
Time         9:22:48 PM
Latitude      41.950293
Longitude    -87.801048
Name: 7529, dtype: object
7530, Date         2013-08-15
Time         9:22:58 PM
Latitude      41.949763
Longitude    -87.801017
Name: 7530, dtype: object
7531, Date         2013-08-15
Time         9:23:08 PM
Latitude      41.949267
Longitude    -87.801003
Name: 7531, dtype: object
7532, Date         2013-08-15
Time         9:23:18 PM
Latitude      41.948825
Longitude    -87.800988
Name: 7532, dtype: object
7533, Date         2013-08-15
Time         9:23:28 PM
Latitude      41.948452
Longitude    -87.800967
Name: 7533, dtype: object
7534, Date         2013-08-15
Time         9:23:38 PM
Latitude      41.948038
Longitude    -87.800933
Name: 7534, dtype: object
7535, Date         2013-08-15
Time         9:23:48 PM
Latitude      41.947678
Longitude    -87.800927
Name: 7535, dtype: object
7536, Date         2013-08-15
Time         9:23:58 PM
Latitude      41.947327
Longitude    -87.800913
Name: 7536, dtype: object
7537, Date         2013-08-15
Time         9:24:08 PM
Latitude      41.946895
Longitude    -87.800907
Name: 7537, dtype: object
7538, Date         2013-08-15
Time         9:24:18 PM
Latitude      41.946478
Longitude    -87.800878
Name: 7538, dtype: object
7539, Date         2013-08-15
Time         9:24:28 PM
Latitude      41.946163
Longitude    -87.800858
Name: 7539, dtype: object
7540, Date         2013-08-15
Time         9:24:38 PM
Latitude      41.945727
Longitude    -87.800842
Name: 7540, dtype: object
7541, Date         2013-08-15
Time         9:24:58 PM
Latitude      41.945562
Longitude    -87.799673
Name: 7541, dtype: object
7542, Date         2013-08-15
Time         9:25:08 PM
Latitude      41.945852
Longitude    -87.799662
Name: 7542, dtype: object
7543, Date         2013-08-15
Time         9:25:18 PM
Latitude      41.946238
Longitude     -87.79969
Name: 7543, dtype: object
7544, Date         2013-08-15
Time         9:25:28 PM
Latitude      41.946703
Longitude    -87.799712
Name: 7544, dtype: object
7545, Date         2013-08-15
Time         9:25:48 PM
Latitude      41.947562
Longitude    -87.799762
Name: 7545, dtype: object
7546, Date         2013-08-15
Time         9:25:58 PM
Latitude      41.947872
Longitude    -87.799792
Name: 7546, dtype: object
7547, Date         2013-08-15
Time         9:26:08 PM
Latitude       41.94827
Longitude    -87.799813
Name: 7547, dtype: object
7548, Date         2013-08-15
Time         9:26:18 PM
Latitude       41.94866
Longitude    -87.799818
Name: 7548, dtype: object
7549, Date         2013-08-15
Time         9:26:28 PM
Latitude      41.949062
Longitude    -87.799843
Name: 7549, dtype: object
7550, Date         2013-08-15
Time         9:26:38 PM
Latitude      41.949572
Longitude    -87.799857
Name: 7550, dtype: object
7551, Date         2013-08-15
Time         9:26:48 PM
Latitude      41.949917
Longitude    -87.799868
Name: 7551, dtype: object
7552, Date         2013-08-15
Time         9:27:08 PM
Latitude      41.950707
Longitude    -87.799913
Name: 7552, dtype: object
7553, Date         2013-08-15
Time         9:27:18 PM
Latitude      41.951233
Longitude    -87.799923
Name: 7553, dtype: object
7554, Date         2013-08-15
Time         9:27:28 PM
Latitude       41.95165
Longitude    -87.799942
Name: 7554, dtype: object
7555, Date         2013-08-15
Time         9:27:38 PM
Latitude      41.952027
Longitude    -87.799948
Name: 7555, dtype: object
7556, Date         2013-08-15
Time         9:27:48 PM
Latitude      41.952213
Longitude    -87.799777
Name: 7556, dtype: object
7557, Date         2013-08-15
Time         9:27:58 PM
Latitude      41.952213
Longitude    -87.799342
Name: 7557, dtype: object
7558, Date         2013-08-15
Time         9:28:08 PM
Latitude      41.952218
Longitude    -87.798978
Name: 7558, dtype: object
7559, Date         2013-08-15
Time         9:28:18 PM
Latitude       41.95215
Longitude    -87.798728
Name: 7559, dtype: object
7560, Date         2013-08-15
Time         9:28:28 PM
Latitude      41.951688
Longitude     -87.79872
Name: 7560, dtype: object
7561, Date         2013-08-15
Time         9:28:38 PM
Latitude      41.951217
Longitude      -87.7987
Name: 7561, dtype: object
7562, Date         2013-08-15
Time         9:28:48 PM
Latitude      41.950798
Longitude    -87.798692
Name: 7562, dtype: object
7563, Date         2013-08-15
Time         9:28:58 PM
Latitude      41.950345
Longitude    -87.798675
Name: 7563, dtype: object
7564, Date         2013-08-15
Time         9:29:08 PM
Latitude      41.949947
Longitude    -87.798655
Name: 7564, dtype: object
7565, Date         2013-08-15
Time         9:29:18 PM
Latitude       41.94957
Longitude    -87.798638
Name: 7565, dtype: object
7566, Date         2013-08-15
Time         9:29:28 PM
Latitude      41.949197
Longitude    -87.798618
Name: 7566, dtype: object
7567, Date         2013-08-15
Time         9:29:38 PM
Latitude       41.94879
Longitude    -87.798602
Name: 7567, dtype: object
7568, Date         2013-08-15
Time         9:29:48 PM
Latitude       41.94834
Longitude    -87.798583
Name: 7568, dtype: object
7569, Date         2013-08-15
Time         9:29:58 PM
Latitude      41.947827
Longitude    -87.798558
Name: 7569, dtype: object
7570, Date         2013-08-15
Time         9:30:08 PM
Latitude       41.94738
Longitude    -87.798542
Name: 7570, dtype: object
7571, Date         2013-08-15
Time         9:30:18 PM
Latitude      41.946882
Longitude    -87.798517
Name: 7571, dtype: object
7572, Date         2013-08-15
Time         9:30:28 PM
Latitude       41.94634
Longitude    -87.798498
Name: 7572, dtype: object
7573, Date         2013-08-15
Time         9:30:38 PM
Latitude      41.945845
Longitude     -87.79848
Name: 7573, dtype: object
7574, Date         2013-08-15
Time         9:31:08 PM
Latitude      41.945538
Longitude    -87.797797
Name: 7574, dtype: object
7575, Date         2013-08-15
Time         9:31:18 PM
Latitude      41.945578
Longitude    -87.797293
Name: 7575, dtype: object
7576, Date         2013-08-15
Time         9:31:28 PM
Latitude      41.946032
Longitude    -87.797275
Name: 7576, dtype: object
7577, Date         2013-08-15
Time         9:31:38 PM
Latitude      41.946535
Longitude     -87.79728
Name: 7577, dtype: object
7578, Date         2013-08-15
Time         9:31:48 PM
Latitude      41.947043
Longitude    -87.797312
Name: 7578, dtype: object
7579, Date         2013-08-15
Time         9:31:58 PM
Latitude      41.947532
Longitude    -87.797332
Name: 7579, dtype: object
7580, Date         2013-08-15
Time         9:32:08 PM
Latitude      41.947998
Longitude    -87.797355
Name: 7580, dtype: object
7581, Date         2013-08-15
Time         9:32:18 PM
Latitude       41.94847
Longitude    -87.797382
Name: 7581, dtype: object
7582, Date         2013-08-15
Time         9:32:28 PM
Latitude      41.948925
Longitude    -87.797408
Name: 7582, dtype: object
7583, Date         2013-08-15
Time         9:32:38 PM
Latitude      41.949412
Longitude     -87.79742
Name: 7583, dtype: object
7584, Date         2013-08-15
Time         9:32:48 PM
Latitude      41.949827
Longitude    -87.797437
Name: 7584, dtype: object
7585, Date         2013-08-15
Time         9:32:58 PM
Latitude      41.950237
Longitude    -87.797465
Name: 7585, dtype: object
7586, Date         2013-08-15
Time         9:33:08 PM
Latitude       41.95069
Longitude    -87.797485
Name: 7586, dtype: object
7587, Date         2013-08-15
Time         9:33:18 PM
Latitude      41.951143
Longitude    -87.797512
Name: 7587, dtype: object
7588, Date         2013-08-15
Time         9:33:28 PM
Latitude      41.951675
Longitude    -87.797538
Name: 7588, dtype: object
7589, Date         2013-08-15
Time         9:33:38 PM
Latitude      41.952127
Longitude    -87.797552
Name: 7589, dtype: object
7590, Date         2013-08-15
Time         9:33:48 PM
Latitude      41.952272
Longitude    -87.797838
Name: 7590, dtype: object
7591, Date         2013-08-15
Time         9:33:58 PM
Latitude      41.952277
Longitude    -87.798282
Name: 7591, dtype: object
7592, Date         2013-08-15
Time         9:34:08 PM
Latitude      41.952293
Longitude    -87.798662
Name: 7592, dtype: object
7593, Date         2013-08-15
Time         9:34:18 PM
Latitude      41.951877
Longitude    -87.798717
Name: 7593, dtype: object
7594, Date         2013-08-15
Time         9:34:28 PM
Latitude      41.951307
Longitude    -87.798697
Name: 7594, dtype: object
7595, Date         2013-08-15
Time         9:34:38 PM
Latitude      41.950807
Longitude     -87.79868
Name: 7595, dtype: object
7596, Date         2013-08-15
Time         9:34:48 PM
Latitude      41.950345
Longitude    -87.798657
Name: 7596, dtype: object
7597, Date         2013-08-15
Time         9:34:58 PM
Latitude      41.949857
Longitude    -87.798642
Name: 7597, dtype: object
7598, Date         2013-08-15
Time         9:35:08 PM
Latitude      41.949475
Longitude    -87.798618
Name: 7598, dtype: object
7599, Date         2013-08-15
Time         9:35:18 PM
Latitude      41.949122
Longitude    -87.798673
Name: 7599, dtype: object
7600, Date         2013-08-15
Time         9:35:38 PM
Latitude      41.949088
Longitude     -87.79996
Name: 7600, dtype: object
7601, Date         2013-08-15
Time         9:35:48 PM
Latitude      41.949073
Longitude    -87.800645
Name: 7601, dtype: object
7602, Date         2013-08-15
Time         9:35:58 PM
Latitude      41.949052
Longitude    -87.801297
Name: 7602, dtype: object
7603, Date         2013-08-15
Time         9:36:08 PM
Latitude      41.949043
Longitude    -87.801978
Name: 7603, dtype: object
7604, Date         2013-08-15
Time         9:36:18 PM
Latitude       41.94904
Longitude    -87.802615
Name: 7604, dtype: object
7605, Date         2013-08-15
Time         9:36:28 PM
Latitude      41.949027
Longitude     -87.80324
Name: 7605, dtype: object
7606, Date         2013-08-15
Time         9:36:38 PM
Latitude      41.949015
Longitude    -87.803923
Name: 7606, dtype: object
7607, Date         2013-08-15
Time         9:36:48 PM
Latitude      41.949002
Longitude     -87.80454
Name: 7607, dtype: object
7608, Date         2013-08-15
Time         9:36:58 PM
Latitude      41.948567
Longitude    -87.804632
Name: 7608, dtype: object
7609, Date         2013-08-15
Time         9:37:08 PM
Latitude      41.948037
Longitude    -87.804597
Name: 7609, dtype: object
7610, Date         2013-08-15
Time         9:37:18 PM
Latitude      41.947535
Longitude    -87.804568
Name: 7610, dtype: object
7611, Date         2013-08-15
Time         9:37:28 PM
Latitude      41.947123
Longitude    -87.804562
Name: 7611, dtype: object
7612, Date         2013-08-15
Time         9:37:38 PM
Latitude      41.946595
Longitude    -87.804535
Name: 7612, dtype: object
7613, Date         2013-08-15
Time         9:37:48 PM
Latitude      41.946063
Longitude    -87.804517
Name: 7613, dtype: object
7614, Date         2013-08-15
Time         9:37:58 PM
Latitude      41.945583
Longitude    -87.804505
Name: 7614, dtype: object
7615, Date         2013-08-15
Time         9:38:08 PM
Latitude      41.945183
Longitude    -87.804487
Name: 7615, dtype: object
7616, Date         2013-08-15
Time         9:38:18 PM
Latitude        41.9448
Longitude     -87.80448
Name: 7616, dtype: object
7617, Date         2013-08-15
Time         9:38:28 PM
Latitude      41.944332
Longitude    -87.804465
Name: 7617, dtype: object
7618, Date         2013-08-15
Time         9:38:38 PM
Latitude      41.943927
Longitude    -87.804455
Name: 7618, dtype: object
7619, Date         2013-08-15
Time         9:38:48 PM
Latitude      41.943528
Longitude    -87.804438
Name: 7619, dtype: object
7620, Date         2013-08-15
Time         9:38:58 PM
Latitude      41.943065
Longitude     -87.80443
Name: 7620, dtype: object
7621, Date         2013-08-15
Time         9:39:08 PM
Latitude      41.942552
Longitude     -87.80442
Name: 7621, dtype: object
7622, Date         2013-08-15
Time         9:39:18 PM
Latitude      41.942082
Longitude    -87.804402
Name: 7622, dtype: object
7623, Date         2013-08-15
Time         9:39:28 PM
Latitude      41.941648
Longitude    -87.804392
Name: 7623, dtype: object
7624, Date         2013-08-15
Time         9:39:38 PM
Latitude       41.94112
Longitude     -87.80438
Name: 7624, dtype: object
7625, Date         2013-08-15
Time         9:39:48 PM
Latitude       41.94058
Longitude    -87.804353
Name: 7625, dtype: object
7626, Date         2013-08-15
Time         9:39:58 PM
Latitude      41.940213
Longitude    -87.804337
Name: 7626, dtype: object
7627, Date         2013-08-15
Time         9:40:08 PM
Latitude      41.939767
Longitude    -87.804328
Name: 7627, dtype: object
7628, Date         2013-08-15
Time         9:40:18 PM
Latitude      41.939183
Longitude    -87.804312
Name: 7628, dtype: object
7629, Date         2013-08-15
Time         9:40:28 PM
Latitude      41.938733
Longitude    -87.804303
Name: 7629, dtype: object
7630, Date         2013-08-15
Time         9:40:38 PM
Latitude      41.938665
Longitude    -87.803952
Name: 7630, dtype: object
7631, Date         2013-08-15
Time         9:40:48 PM
Latitude      41.938657
Longitude    -87.803572
Name: 7631, dtype: object
7632, Date         2013-08-15
Time         9:41:08 PM
Latitude      41.938795
Longitude    -87.803157
Name: 7632, dtype: object
7633, Date         2013-08-15
Time         9:41:18 PM
Latitude      41.939128
Longitude    -87.803183
Name: 7633, dtype: object
7634, Date         2013-08-15
Time         9:41:28 PM
Latitude      41.939527
Longitude    -87.803202
Name: 7634, dtype: object
7635, Date         2013-08-15
Time         9:41:38 PM
Latitude      41.939935
Longitude    -87.803217
Name: 7635, dtype: object
7636, Date         2013-08-15
Time         9:41:48 PM
Latitude       41.94045
Longitude    -87.803238
Name: 7636, dtype: object
7637, Date         2013-08-15
Time         9:41:58 PM
Latitude      41.940938
Longitude    -87.803263
Name: 7637, dtype: object
7638, Date         2013-08-15
Time         9:42:08 PM
Latitude      41.941393
Longitude    -87.803275
Name: 7638, dtype: object
7639, Date         2013-08-15
Time         9:42:18 PM
Latitude       41.94173
Longitude    -87.803292
Name: 7639, dtype: object
7640, Date         2013-08-15
Time         9:42:28 PM
Latitude      41.942178
Longitude    -87.803298
Name: 7640, dtype: object
7641, Date         2013-08-15
Time         9:42:38 PM
Latitude      41.942652
Longitude    -87.803302
Name: 7641, dtype: object
7642, Date         2013-08-15
Time         9:42:48 PM
Latitude      41.943138
Longitude     -87.80332
Name: 7642, dtype: object
7643, Date         2013-08-15
Time         9:42:58 PM
Latitude      41.943547
Longitude     -87.80334
Name: 7643, dtype: object
7644, Date         2013-08-15
Time         9:43:08 PM
Latitude       41.94404
Longitude    -87.803355
Name: 7644, dtype: object
7645, Date         2013-08-15
Time         9:43:18 PM
Latitude      41.944552
Longitude     -87.80337
Name: 7645, dtype: object
7646, Date         2013-08-15
Time         9:43:28 PM
Latitude      41.944785
Longitude    -87.803167
Name: 7646, dtype: object
7647, Date         2013-08-15
Time         9:43:38 PM
Latitude       41.94479
Longitude    -87.802683
Name: 7647, dtype: object
7648, Date         2013-08-15
Time         9:43:48 PM
Latitude      41.944782
Longitude    -87.802353
Name: 7648, dtype: object
7649, Date         2013-08-15
Time         9:43:58 PM
Latitude      41.944798
Longitude    -87.802002
Name: 7649, dtype: object
7650, Date         2013-08-15
Time         9:44:38 PM
Latitude      41.944478
Longitude    -87.801567
Name: 7650, dtype: object
7651, Date         2013-08-15
Time         9:44:48 PM
Latitude      41.944175
Longitude    -87.801542
Name: 7651, dtype: object
7652, Date         2013-08-15
Time         9:44:58 PM
Latitude      41.943797
Longitude    -87.801487
Name: 7652, dtype: object
7653, Date         2013-08-15
Time         9:45:08 PM
Latitude       41.94344
Longitude    -87.801508
Name: 7653, dtype: object
7654, Date         2013-08-15
Time         9:45:18 PM
Latitude      41.943038
Longitude    -87.801503
Name: 7654, dtype: object
7655, Date         2013-08-15
Time         9:45:28 PM
Latitude      41.942672
Longitude    -87.801472
Name: 7655, dtype: object
7656, Date         2013-08-15
Time         9:45:38 PM
Latitude      41.942247
Longitude    -87.801442
Name: 7656, dtype: object
7657, Date         2013-08-15
Time         9:45:58 PM
Latitude      41.941393
Longitude    -87.801368
Name: 7657, dtype: object
7658, Date         2013-08-15
Time         9:46:08 PM
Latitude      41.940965
Longitude    -87.801367
Name: 7658, dtype: object
7659, Date         2013-08-15
Time         9:46:18 PM
Latitude      41.940428
Longitude    -87.801343
Name: 7659, dtype: object
7660, Date         2013-08-15
Time         9:46:28 PM
Latitude      41.939997
Longitude    -87.801312
Name: 7660, dtype: object
7661, Date         2013-08-15
Time         9:46:38 PM
Latitude      41.939455
Longitude    -87.801277
Name: 7661, dtype: object
7662, Date         2013-08-15
Time         9:46:48 PM
Latitude      41.938952
Longitude     -87.80126
Name: 7662, dtype: object
7663, Date         2013-08-15
Time         9:46:58 PM
Latitude      41.938468
Longitude    -87.801243
Name: 7663, dtype: object
7664, Date         2013-08-15
Time         9:48:08 PM
Latitude      41.938335
Longitude    -87.799458
Name: 7664, dtype: object
7665, Date         2013-08-15

7901, Date          2013-08-15
Time         10:54:58 PM
Latitude       41.939328
Longitude     -87.798358
Name: 7901, dtype: object
7902, Date          2013-08-15
Time         10:55:08 PM
Latitude       41.939955
Longitude     -87.798357
Name: 7902, dtype: object
7903, Date          2013-08-15
Time         10:55:18 PM
Latitude       41.940532
Longitude     -87.798368
Name: 7903, dtype: object
7904, Date          2013-08-15
Time         10:55:28 PM
Latitude       41.941113
Longitude     -87.798392
Name: 7904, dtype: object
7905, Date          2013-08-15
Time         10:55:38 PM
Latitude       41.941667
Longitude     -87.798387
Name: 7905, dtype: object
7906, Date          2013-08-15
Time         10:55:48 PM
Latitude       41.942213
Longitude       -87.7984
Name: 7906, dtype: object
7907, Date          2013-08-15
Time         10:55:58 PM
Latitude       41.942753
Longitude     -87.798408
Name: 7907, dtype: object
7908, Date          2013-08-15
Time         10:56:08 PM
Latitude       41.943295
Longitude     -87.798458
Name: 7908, dtype: object
7909, Date          2013-08-15
Time         10:56:18 PM
Latitude       41.943887
Longitude     -87.798475
Name: 7909, dtype: object
7910, Date          2013-08-15
Time         10:56:28 PM
Latitude       41.944505
Longitude     -87.798498
Name: 7910, dtype: object
7911, Date          2013-08-15
Time         10:56:38 PM
Latitude       41.945135
Longitude       -87.7985
Name: 7911, dtype: object
7912, Date          2013-08-15
Time         11:00:08 PM
Latitude       41.939238
Longitude     -87.785882
Name: 7912, dtype: object
7913, Date          2013-08-15
Time         11:00:18 PM
Latitude       41.939223
Longitude     -87.785203
Name: 7913, dtype: object
7914, Date          2013-08-15
Time         11:00:28 PM
Latitude       41.939235
Longitude      -87.78445
Name: 7914, dtype: object
7915, Date          2013-08-15
Time         11:00:38 PM
Latitude       41.939223
Longitude     -87.783693
Name: 7915, dtype: object
7916, Date          2013-08-15
Time         11:00:48 PM
Latitude       41.939245
Longitude      -87.78298
Name: 7916, dtype: object
7917, Date          2013-08-15
Time         11:00:58 PM
Latitude        41.93921
Longitude     -87.782172
Name: 7917, dtype: object
7918, Date          2013-08-15
Time         11:01:08 PM
Latitude       41.939232
Longitude     -87.781355
Name: 7918, dtype: object
7919, Date          2013-08-15
Time         11:01:18 PM
Latitude       41.939238
Longitude     -87.780727
Name: 7919, dtype: object
7920, Date          2013-08-15
Time         11:01:28 PM
Latitude       41.939237
Longitude      -87.78001
Name: 7920, dtype: object
7921, Date          2013-08-15
Time         11:01:48 PM
Latitude        41.93928
Longitude     -87.778585
Name: 7921, dtype: object
7922, Date          2013-08-15
Time         11:01:58 PM
Latitude       41.939275
Longitude     -87.777773
Name: 7922, dtype: object
7923, Date          2013-08-15
Time         11:02:08 PM
Latitude       41.939315
Longitude      -87.77692
Name: 7923, dtype: object
7924, Date          2013-08-15
Time         11:02:18 PM
Latitude        41.93933
Longitude     -87.776372
Name: 7924, dtype: object
7925, Date          2013-08-15
Time         11:02:28 PM
Latitude       41.939885
Longitude      -87.77635
Name: 7925, dtype: object
7926, Date          2013-08-15
Time         11:02:38 PM
Latitude       41.940212
Longitude     -87.776693
Name: 7926, dtype: object
7927, Date          2013-08-15
Time         11:02:48 PM
Latitude       41.940218
Longitude     -87.777433
Name: 7927, dtype: object
7928, Date          2013-08-15
Time         11:02:58 PM
Latitude       41.940223
Longitude     -87.778178
Name: 7928, dtype: object
7929, Date          2013-08-15
Time         11:03:08 PM
Latitude        41.94022
Longitude     -87.778878
Name: 7929, dtype: object
7930, Date          2013-08-15
Time         11:03:18 PM
Latitude        41.94022
Longitude     -87.779738
Name: 7930, dtype: object
7931, Date          2013-08-15
Time         11:03:28 PM
Latitude       41.940222
Longitude     -87.780495
Name: 7931, dtype: object
7932, Date          2013-08-15
Time         11:03:38 PM
Latitude       41.940205
Longitude     -87.781188
Name: 7932, dtype: object
7933, Date          2013-08-15
Time         11:03:48 PM
Latitude       41.940202
Longitude     -87.781982
Name: 7933, dtype: object
7934, Date          2013-08-15
Time         11:03:58 PM
Latitude       41.940182
Longitude     -87.782755
Name: 7934, dtype: object
7935, Date          2013-08-15
Time         11:04:08 PM
Latitude        41.94019
Longitude     -87.783453
Name: 7935, dtype: object
7936, Date          2013-08-15
Time         11:04:18 PM
Latitude       41.940177
Longitude     -87.784197
Name: 7936, dtype: object
7937, Date          2013-08-15
Time         11:04:28 PM
Latitude       41.940173
Longitude      -87.78496
Name: 7937, dtype: object
7938, Date          2013-08-15
Time         11:04:38 PM
Latitude       41.940172
Longitude     -87.785738
Name: 7938, dtype: object
7939, Date          2013-08-15
Time         11:04:48 PM
Latitude         41.9404
Longitude     -87.786107
Name: 7939, dtype: object
7940, Date          2013-08-15
Time         11:04:58 PM
Latitude       41.941013
Longitude     -87.786123
Name: 7940, dtype: object
7941, Date          2013-08-15
Time         11:05:08 PM
Latitude       41.941102
Longitude     -87.785498
Name: 7941, dtype: object
7942, Date          2013-08-15
Time         11:05:18 PM
Latitude       41.941123
Longitude     -87.784587
Name: 7942, dtype: object
7943, Date          2013-08-15
Time         11:05:28 PM
Latitude       41.941132
Longitude     -87.783803
Name: 7943, dtype: object
7944, Date          2013-08-15
Time         11:05:38 PM
Latitude       41.941153
Longitude     -87.783187
Name: 7944, dtype: object
7945, Date          2013-08-15
Time         11:05:48 PM
Latitude       41.941153
Longitude      -87.78236
Name: 7945, dtype: object
7946, Date          2013-08-15
Time         11:05:58 PM
Latitude       41.941157
Longitude     -87.781507
Name: 7946, dtype: object
7947, Date          2013-08-15
Time         11:06:08 PM
Latitude       41.941155
Longitude     -87.780773
Name: 7947, dtype: object
7948, Date          2013-08-15
Time         11:06:18 PM
Latitude       41.941175
Longitude     -87.779898
Name: 7948, dtype: object
7949, Date          2013-08-15
Time         11:06:28 PM
Latitude       41.941192
Longitude     -87.779027
Name: 7949, dtype: object
7950, Date          2013-08-15
Time         11:06:38 PM
Latitude       41.941187
Longitude     -87.778357
Name: 7950, dtype: object
7951, Date          2013-08-15
Time         11:06:48 PM
Latitude       41.941172
Longitude     -87.777547
Name: 7951, dtype: object
7952, Date          2013-08-15
Time         11:06:58 PM
Latitude       41.941187
Longitude     -87.776707
Name: 7952, dtype: object
7953, Date          2013-08-15
Time         11:08:08 PM
Latitude       41.943952
Longitude     -87.776853
Name: 7953, dtype: object
7954, Date          2013-08-15
Time         11:08:18 PM
Latitude       41.943953
Longitude     -87.777607
Name: 7954, dtype: object
7955, Date          2013-08-15
Time         11:08:28 PM
Latitude       41.943952
Longitude     -87.778313
Name: 7955, dtype: object
7956, Date          2013-08-15
Time         11:08:38 PM
Latitude       41.943962
Longitude     -87.778958
Name: 7956, dtype: object
7957, Date          2013-08-15
Time         11:08:48 PM
Latitude       41.943957
Longitude     -87.779767
Name: 7957, dtype: object
7958, Date          2013-08-15
Time         11:08:58 PM
Latitude       41.943962
Longitude     -87.780565
Name: 7958, dtype: object
7959, Date          2013-08-15
Time         11:09:08 PM
Latitude       41.943938
Longitude     -87.781282
Name: 7959, dtype: object
7960, Date          2013-08-15
Time         11:09:18 PM
Latitude        41.94394
Longitude     -87.782067
Name: 7960, dtype: object
7961, Date          2013-08-15
Time         11:09:28 PM
Latitude       41.943943
Longitude     -87.782883
Name: 7961, dtype: object
7962, Date          2013-08-15
Time         11:09:38 PM
Latitude       41.943922
Longitude      -87.78366
Name: 7962, dtype: object
7963, Date          2013-08-15
Time         11:09:58 PM
Latitude       41.943938
Longitude     -87.785327
Name: 7963, dtype: object
7964, Date          2013-08-15
Time         11:10:08 PM
Latitude       41.943708
Longitude      -87.78564
Name: 7964, dtype: object
7965, Date          2013-08-15
Time         11:10:18 PM
Latitude        41.94318
Longitude     -87.785612
Name: 7965, dtype: object
7966, Date          2013-08-15
Time         11:10:28 PM
Latitude       41.943037
Longitude     -87.785333
Name: 7966, dtype: object
7967, Date          2013-08-15
Time         11:10:38 PM
Latitude       41.943027
Longitude     -87.784625
Name: 7967, dtype: object
7968, Date          2013-08-15
Time         11:10:48 PM
Latitude       41.943037
Longitude      -87.78385
Name: 7968, dtype: object
7969, Date          2013-08-15
Time         11:10:58 PM
Latitude       41.943035
Longitude      -87.78305
Name: 7969, dtype: object
7970, Date          2013-08-15
Time         11:11:08 PM
Latitude       41.943033
Longitude     -87.782218
Name: 7970, dtype: object
7971, Date          2013-08-15
Time         11:11:18 PM
Latitude       41.943013
Longitude     -87.781413
Name: 7971, dtype: object
7972, Date          2013-08-15
Time         11:11:28 PM
Latitude       41.943015
Longitude     -87.780653
Name: 7972, dtype: object
7973, Date          2013-08-15
Time         11:11:48 PM
Latitude       41.943048
Longitude     -87.779213
Name: 7973, dtype: object
7974, Date          2013-08-15
Time         11:11:58 PM
Latitude       41.942768
Longitude     -87.778903
Name: 7974, dtype: object
7975, Date          2013-08-15
Time         11:12:08 PM
Latitude       41.942262
Longitude       -87.7789
Name: 7975, dtype: object
7976, Date          2013-08-15
Time         11:12:18 PM
Latitude        41.94216
Longitude     -87.779385
Name: 7976, dtype: object
7977, Date          2013-08-15
Time         11:12:28 PM
Latitude       41.942147
Longitude     -87.780082
Name: 7977, dtype: object
7978, Date          2013-08-15
Time         11:12:38 PM
Latitude       41.942128
Longitude     -87.780733
Name: 7978, dtype: object
7979, Date          2013-08-15
Time         11:12:48 PM
Latitude       41.942118
Longitude     -87.781448
Name: 7979, dtype: object
7980, Date          2013-08-15
Time         11:12:58 PM
Latitude       41.942125
Longitude     -87.782252
Name: 7980, dtype: object
7981, Date          2013-08-15
Time         11:13:08 PM
Latitude       41.942112
Longitude       -87.7831
Name: 7981, dtype: object
7982, Date          2013-08-15
Time         11:13:18 PM
Latitude       41.942093
Longitude     -87.783785
Name: 7982, dtype: object
7983, Date          2013-08-15
Time         11:13:28 PM
Latitude       41.942103
Longitude     -87.784658
Name: 7983, dtype: object
7984, Date          2013-08-15
Time         11:13:38 PM
Latitude       41.942085
Longitude     -87.785553
Name: 7984, dtype: object
7985, Date          2013-08-15
Time         11:14:28 PM
Latitude       41.944842
Longitude     -87.786187
Name: 7985, dtype: object
7986, Date          2013-08-15
Time         11:14:38 PM
Latitude       41.944838
Longitude     -87.785503
Name: 7986, dtype: object
7987, Date          2013-08-15
Time         11:14:48 PM
Latitude       41.944863
Longitude     -87.784798
Name: 7987, dtype: object
7988, Date          2013-08-15
Time         11:14:58 PM
Latitude       41.944857
Longitude     -87.784102
Name: 7988, dtype: object
7989, Date          2013-08-15
Time         11:15:08 PM
Latitude       41.944862
Longitude     -87.783402
Name: 7989, dtype: object
7990, Date          2013-08-15
Time         11:15:18 PM
Latitude       41.944877
Longitude      -87.78264
Name: 7990, dtype: object
7991, Date          2013-08-15
Time         11:15:28 PM
Latitude       41.944883
Longitude     -87.781863
Name: 7991, dtype: object
7992, Date          2013-08-15
Time         11:15:38 PM
Latitude       41.944865
Longitude      -87.78121
Name: 7992, dtype: object
7993, Date          2013-08-15
Time         11:15:58 PM
Latitude         41.9449
Longitude     -87.779787
Name: 7993, dtype: object
7994, Date          2013-08-15
Time         11:16:08 PM
Latitude       41.944897
Longitude     -87.779125
Name: 7994, dtype: object
7995, Date          2013-08-15
Time         11:16:18 PM
Latitude       41.944903
Longitude     -87.778295
Name: 7995, dtype: object
7996, Date          2013-08-15
Time         11:16:28 PM
Latitude       41.944932
Longitude     -87.777572
Name: 7996, dtype: object
7997, Date          2013-08-15
Time         11:16:38 PM
Latitude       41.944923
Longitude     -87.776833
Name: 7997, dtype: object
7998, Date          2013-08-15
Time         11:17:18 PM
Latitude       41.946407
Longitude     -87.776663
Name: 7998, dtype: object
7999, Date          2013-08-15
Time         11:17:28 PM
Latitude        41.94675
Longitude     -87.777013
Name: 7999, dtype: object
8000, Date          2013-08-15
Time         11:17:38 PM
Latitude       41.946733
Longitude     -87.777678
Name: 8000, dtype: object
8001, Date          2013-08-15
Time         11:17:48 PM
Latitude       41.946727
Longitude     -87.778417
Name: 8001, dtype: object
8002, Date          2013-08-15
Time         11:17:58 PM
Latitude       41.946708
Longitude     -87.779187
Name: 8002, dtype: object
8003, Date          2013-08-15
Time         11:18:08 PM
Latitude       41.946705
Longitude     -87.779985
Name: 8003, dtype: object
8004, Date          2013-08-15
Time         11:18:18 PM
Latitude       41.946697
Longitude     -87.780813
Name: 8004, dtype: object
8005, Date          2013-08-15
Time         11:18:28 PM
Latitude       41.946692
Longitude     -87.781527
Name: 8005, dtype: object
8006, Date          2013-08-15
Time         11:18:38 PM
Latitude       41.946675
Longitude     -87.782392
Name: 8006, dtype: object
8007, Date          2013-08-15
Time         11:18:48 PM
Latitude        41.94666
Longitude     -87.783208
Name: 8007, dtype: object
8008, Date          2013-08-15
Time         11:19:08 PM
Latitude       41.946652
Longitude     -87.784492
Name: 8008, dtype: object
8009, Date          2013-08-15
Time         11:19:18 PM
Latitude       41.946665
Longitude     -87.785337
Name: 8009, dtype: object
8010, Date          2013-08-15
Time         11:19:48 PM
Latitude       41.947542
Longitude      -87.78581
Name: 8010, dtype: object
8011, Date          2013-08-15
Time         11:19:58 PM
Latitude        41.94754
Longitude     -87.785128
Name: 8011, dtype: object
8012, Date          2013-08-15
Time         11:20:08 PM
Latitude        41.94755
Longitude      -87.78452
Name: 8012, dtype: object
8013, Date          2013-08-15
Time         11:20:18 PM
Latitude       41.947538
Longitude     -87.783858
Name: 8013, dtype: object
8014, Date          2013-08-15
Time         11:20:28 PM
Latitude       41.947527
Longitude     -87.783112
Name: 8014, dtype: object
8015, Date          2013-08-15
Time         11:20:38 PM
Latitude       41.947553
Longitude     -87.782435
Name: 8015, dtype: object
8016, Date          2013-08-15
Time         11:20:48 PM
Latitude       41.947562
Longitude     -87.781753
Name: 8016, dtype: object
8017, Date          2013-08-15
Time         11:20:58 PM
Latitude       41.947575
Longitude      -87.78105
Name: 8017, dtype: object
8018, Date          2013-08-15
Time         11:21:08 PM
Latitude       41.947583
Longitude     -87.780197
Name: 8018, dtype: object
8019, Date          2013-08-15
Time         11:21:18 PM
Latitude       41.947578
Longitude     -87.779318
Name: 8019, dtype: object
8020, Date          2013-08-15
Time         11:21:28 PM
Latitude       41.947578
Longitude     -87.778663
Name: 8020, dtype: object
8021, Date          2013-08-15
Time         11:21:38 PM
Latitude       41.947605
Longitude      -87.77794
Name: 8021, dtype: object
8022, Date          2013-08-15
Time         11:21:48 PM
Latitude       41.947603
Longitude     -87.777178
Name: 8022, dtype: object
8023, Date          2013-08-15
Time         11:22:18 PM
Latitude       41.948503
Longitude     -87.777237
Name: 8023, dtype: object
8024, Date          2013-08-15
Time         11:22:28 PM
Latitude       41.948512
Longitude      -87.77796
Name: 8024, dtype: object
8025, Date          2013-08-15
Time         11:22:38 PM
Latitude       41.948512
Longitude     -87.778673
Name: 8025, dtype: object
8026, Date          2013-08-15
Time         11:22:48 PM
Latitude       41.948498
Longitude     -87.779305
Name: 8026, dtype: object
8027, Date          2013-08-15
Time         11:22:58 PM
Latitude       41.948495
Longitude     -87.779975
Name: 8027, dtype: object
8028, Date          2013-08-15
Time         11:23:08 PM
Latitude       41.948488
Longitude     -87.780667
Name: 8028, dtype: object
8029, Date          2013-08-15
Time         11:23:18 PM
Latitude         41.9485
Longitude      -87.78129
Name: 8029, dtype: object
8030, Date          2013-08-15
Time         11:23:28 PM
Latitude       41.948493
Longitude     -87.781915
Name: 8030, dtype: object
8031, Date          2013-08-15
Time         11:23:38 PM
Latitude        41.94848
Longitude     -87.782523
Name: 8031, dtype: object
8032, Date          2013-08-15
Time         11:23:48 PM
Latitude        41.94847
Longitude     -87.783248
Name: 8032, dtype: object
8033, Date          2013-08-15
Time         11:23:58 PM
Latitude        41.94847
Longitude     -87.783918
Name: 8033, dtype: object
8034, Date          2013-08-15
Time         11:24:08 PM
Latitude       41.948465
Longitude     -87.784747
Name: 8034, dtype: object
8035, Date          2013-08-15
Time         11:24:18 PM
Latitude       41.948452
Longitude     -87.785533
Name: 8035, dtype: object
8036, Date          2013-08-15
Time         11:24:28 PM
Latitude        41.94885
Longitude     -87.785608
Name: 8036, dtype: object
8037, Date          2013-08-15
Time         11:24:38 PM
Latitude       41.949263
Longitude      -87.78563
Name: 8037, dtype: object
8038, Date          2013-08-15
Time         11:24:48 PM
Latitude       41.949363
Longitude     -87.785267
Name: 8038, dtype: object
8039, Date          2013-08-15
Time         11:24:58 PM
Latitude       41.949368
Longitude     -87.784652
Name: 8039, dtype: object
8040, Date          2013-08-15
Time         11:25:08 PM
Latitude       41.949372
Longitude     -87.784027
Name: 8040, dtype: object
8041, Date          2013-08-15
Time         11:25:18 PM
Latitude       41.949393
Longitude     -87.783448
Name: 8041, dtype: object
8042, Date          2013-08-15
Time         11:25:28 PM
Latitude       41.949397
Longitude     -87.782783
Name: 8042, dtype: object
8043, Date          2013-08-15
Time         11:25:38 PM
Latitude        41.94939
Longitude     -87.782123
Name: 8043, dtype: object
8044, Date          2013-08-15
Time         11:25:48 PM
Latitude       41.949398
Longitude     -87.781457
Name: 8044, dtype: object
8045, Date          2013-08-15
Time         11:25:58 PM
Latitude       41.949395
Longitude      -87.78068
Name: 8045, dtype: object
8046, Date          2013-08-15
Time         11:26:08 PM
Latitude       41.949413
Longitude     -87.779933
Name: 8046, dtype: object
8047, Date          2013-08-15
Time         11:26:18 PM
Latitude        41.94942
Longitude     -87.779287
Name: 8047, dtype: object
8048, Date          2013-08-15
Time         11:26:28 PM
Latitude       41.949428
Longitude     -87.778508
Name: 8048, dtype: object
8049, Date          2013-08-15
Time         11:26:38 PM
Latitude       41.949387
Longitude     -87.777883
Name: 8049, dtype: object
8050, Date          2013-08-15
Time         11:30:18 PM
Latitude       41.949417
Longitude     -87.777402
Name: 8050, dtype: object
8051, Date          2013-08-15
Time         11:30:48 PM
Latitude       41.950318
Longitude     -87.777127
Name: 8051, dtype: object
8052, Date          2013-08-15
Time         11:30:58 PM

8273, Date         2013-08-15
Time         8:42:16 PM
Latitude      41.900857
Longitude    -87.768125
Name: 8273, dtype: object
8274, Date         2013-08-15
Time         8:42:36 PM
Latitude      41.900192
Longitude    -87.768128
Name: 8274, dtype: object
8275, Date         2013-08-15
Time         8:42:46 PM
Latitude      41.899872
Longitude    -87.768148
Name: 8275, dtype: object
8276, Date         2013-08-15
Time         8:42:56 PM
Latitude      41.899495
Longitude     -87.76814
Name: 8276, dtype: object
8277, Date         2013-08-15
Time         8:43:06 PM
Latitude      41.899068
Longitude     -87.76812
Name: 8277, dtype: object
8278, Date         2013-08-15
Time         8:43:26 PM
Latitude      41.898467
Longitude    -87.768097
Name: 8278, dtype: object
8279, Date         2013-08-15
Time         8:43:36 PM
Latitude      41.898072
Longitude    -87.768068
Name: 8279, dtype: object
8280, Date         2013-08-15
Time         8:43:46 PM
Latitude      41.897708
Longitude    -87.768037
Name: 8280, dtype: object
8281, Date         2013-08-15
Time         8:43:56 PM
Latitude       41.89737
Longitude    -87.768018
Name: 8281, dtype: object
8282, Date         2013-08-15
Time         8:44:06 PM
Latitude      41.897062
Longitude    -87.768007
Name: 8282, dtype: object
8283, Date         2013-08-15
Time         8:44:16 PM
Latitude      41.896618
Longitude    -87.767995
Name: 8283, dtype: object
8284, Date         2013-08-15
Time         8:44:26 PM
Latitude      41.896207
Longitude    -87.767963
Name: 8284, dtype: object
8285, Date         2013-08-15
Time         8:44:36 PM
Latitude      41.895832
Longitude    -87.767942
Name: 8285, dtype: object
8286, Date         2013-08-15
Time         8:44:46 PM
Latitude      41.895507
Longitude    -87.767938
Name: 8286, dtype: object
8287, Date         2013-08-15
Time         8:45:06 PM
Latitude      41.894905
Longitude    -87.767993
Name: 8287, dtype: object
8288, Date         2013-08-15
Time         8:45:16 PM
Latitude      41.894543
Longitude    -87.767975
Name: 8288, dtype: object
8289, Date         2013-08-15
Time         8:45:26 PM
Latitude       41.89416
Longitude    -87.767937
Name: 8289, dtype: object
8290, Date         2013-08-15
Time         8:45:36 PM
Latitude      41.893835
Longitude    -87.767928
Name: 8290, dtype: object
8291, Date         2013-08-15
Time         8:45:46 PM
Latitude      41.893497
Longitude    -87.767935
Name: 8291, dtype: object
8292, Date         2013-08-15
Time         8:45:56 PM
Latitude       41.89315
Longitude    -87.767928
Name: 8292, dtype: object
8293, Date         2013-08-15
Time         8:46:06 PM
Latitude      41.892818
Longitude    -87.767937
Name: 8293, dtype: object
8294, Date         2013-08-15
Time         8:46:16 PM
Latitude      41.892497
Longitude    -87.767958
Name: 8294, dtype: object
8295, Date         2013-08-15
Time         8:46:26 PM
Latitude        41.8921
Longitude     -87.76792
Name: 8295, dtype: object
8296, Date         2013-08-15
Time         8:46:36 PM
Latitude      41.891733
Longitude    -87.767898
Name: 8296, dtype: object
8297, Date         2013-08-15
Time         8:46:46 PM
Latitude      41.891352
Longitude    -87.767883
Name: 8297, dtype: object
8298, Date         2013-08-15
Time         8:46:56 PM
Latitude       41.89096
Longitude    -87.767868
Name: 8298, dtype: object
8299, Date         2013-08-15
Time         8:47:06 PM
Latitude      41.890582
Longitude    -87.767853
Name: 8299, dtype: object
8300, Date         2013-08-15
Time         8:47:16 PM
Latitude      41.890133
Longitude    -87.767835
Name: 8300, dtype: object
8301, Date         2013-08-15
Time         8:47:26 PM
Latitude      41.889742
Longitude    -87.767827
Name: 8301, dtype: object
8302, Date         2013-08-15
Time         8:47:36 PM
Latitude      41.889333
Longitude    -87.767802
Name: 8302, dtype: object
8303, Date         2013-08-15
Time         8:47:46 PM
Latitude      41.888927
Longitude    -87.767782
Name: 8303, dtype: object
8304, Date         2013-08-15
Time         8:47:56 PM
Latitude      41.888552
Longitude    -87.767765
Name: 8304, dtype: object
8305, Date         2013-08-15
Time         8:49:06 PM
Latitude      41.888577
Longitude      -87.7665
Name: 8305, dtype: object
8306, Date         2013-08-15
Time         8:49:16 PM
Latitude      41.888933
Longitude    -87.766497
Name: 8306, dtype: object
8307, Date         2013-08-15
Time         8:49:26 PM
Latitude       41.88924
Longitude    -87.766508
Name: 8307, dtype: object
8308, Date         2013-08-15
Time         8:49:36 PM
Latitude      41.889563
Longitude    -87.766513
Name: 8308, dtype: object
8309, Date         2013-08-15
Time         8:49:46 PM
Latitude      41.889892
Longitude    -87.766515
Name: 8309, dtype: object
8310, Date         2013-08-15
Time         8:49:56 PM
Latitude       41.89019
Longitude     -87.76653
Name: 8310, dtype: object
8311, Date         2013-08-15
Time         8:50:06 PM
Latitude      41.890482
Longitude    -87.766557
Name: 8311, dtype: object
8312, Date         2013-08-15
Time         8:50:16 PM
Latitude      41.890863
Longitude    -87.766602
Name: 8312, dtype: object
8313, Date         2013-08-15
Time         8:50:26 PM
Latitude      41.891138
Longitude    -87.766612
Name: 8313, dtype: object
8314, Date         2013-08-15
Time         8:50:36 PM
Latitude      41.891525
Longitude     -87.76664
Name: 8314, dtype: object
8315, Date         2013-08-15
Time         8:50:46 PM
Latitude      41.891887
Longitude    -87.766663
Name: 8315, dtype: object
8316, Date         2013-08-15
Time         8:50:56 PM
Latitude      41.892248
Longitude    -87.766677
Name: 8316, dtype: object
8317, Date         2013-08-15
Time         8:51:06 PM
Latitude      41.892652
Longitude     -87.76668
Name: 8317, dtype: object
8318, Date         2013-08-15
Time         8:51:16 PM
Latitude      41.892998
Longitude    -87.766692
Name: 8318, dtype: object
8319, Date         2013-08-15
Time         8:51:26 PM
Latitude      41.893355
Longitude     -87.76671
Name: 8319, dtype: object
8320, Date         2013-08-15
Time         8:51:36 PM
Latitude      41.893762
Longitude     -87.76673
Name: 8320, dtype: object
8321, Date         2013-08-15
Time         8:51:46 PM
Latitude      41.894077
Longitude    -87.766728
Name: 8321, dtype: object
8322, Date         2013-08-15
Time         8:52:56 PM
Latitude      41.895263
Longitude    -87.766712
Name: 8322, dtype: object
8323, Date         2013-08-15
Time         8:53:06 PM
Latitude      41.895535
Longitude      -87.7667
Name: 8323, dtype: object
8324, Date         2013-08-15
Time         8:53:16 PM
Latitude      41.895837
Longitude    -87.766723
Name: 8324, dtype: object
8325, Date         2013-08-15
Time         8:53:26 PM
Latitude      41.896173
Longitude    -87.766728
Name: 8325, dtype: object
8326, Date         2013-08-15
Time         8:53:36 PM
Latitude      41.896413
Longitude    -87.766728
Name: 8326, dtype: object
8327, Date         2013-08-15
Time         8:53:46 PM
Latitude      41.896807
Longitude    -87.766753
Name: 8327, dtype: object
8328, Date         2013-08-15
Time         8:53:56 PM
Latitude      41.897145
Longitude     -87.76677
Name: 8328, dtype: object
8329, Date         2013-08-15
Time         8:54:06 PM
Latitude      41.897512
Longitude     -87.76679
Name: 8329, dtype: object
8330, Date         2013-08-15
Time         8:54:16 PM
Latitude      41.897775
Longitude    -87.766787
Name: 8330, dtype: object
8331, Date         2013-08-15
Time         8:54:26 PM
Latitude      41.898057
Longitude    -87.766793
Name: 8331, dtype: object
8332, Date         2013-08-15
Time         8:54:36 PM
Latitude        41.8984
Longitude    -87.766808
Name: 8332, dtype: object
8333, Date         2013-08-15
Time         8:54:46 PM
Latitude      41.898823
Longitude    -87.766817
Name: 8333, dtype: object
8334, Date         2013-08-15
Time         8:54:56 PM
Latitude        41.8992
Longitude    -87.766817
Name: 8334, dtype: object
8335, Date         2013-08-15
Time         8:55:06 PM
Latitude      41.899587
Longitude    -87.766823
Name: 8335, dtype: object
8336, Date         2013-08-15
Time         8:55:16 PM
Latitude      41.899927
Longitude    -87.766838
Name: 8336, dtype: object
8337, Date         2013-08-15
Time         8:55:26 PM
Latitude      41.900317
Longitude    -87.766872
Name: 8337, dtype: object
8338, Date         2013-08-15
Time         8:55:36 PM
Latitude      41.900643
Longitude     -87.76688
Name: 8338, dtype: object
8339, Date         2013-08-15
Time         8:55:46 PM
Latitude      41.900962
Longitude    -87.766902
Name: 8339, dtype: object
8340, Date         2013-08-15
Time         8:55:56 PM
Latitude      41.901243
Longitude    -87.766902
Name: 8340, dtype: object
8341, Date         2013-08-15
Time         8:56:06 PM
Latitude       41.90158
Longitude     -87.76692
Name: 8341, dtype: object
8342, Date         2013-08-15
Time         8:56:36 PM
Latitude      41.902315
Longitude    -87.766977
Name: 8342, dtype: object
8343, Date         2013-08-15
Time         8:56:46 PM
Latitude      41.902628
Longitude     -87.76699
Name: 8343, dtype: object
8344, Date         2013-08-15
Time         8:56:56 PM
Latitude      41.903043
Longitude    -87.767005
Name: 8344, dtype: object
8345, Date         2013-08-15
Time         8:57:06 PM
Latitude      41.903385
Longitude     -87.76701
Name: 8345, dtype: object
8346, Date         2013-08-15
Time         8:57:26 PM
Latitude       41.90406
Longitude    -87.767023
Name: 8346, dtype: object
8347, Date         2013-08-15
Time         8:57:36 PM
Latitude      41.904378
Longitude    -87.767013
Name: 8347, dtype: object
8348, Date         2013-08-15
Time         8:57:46 PM
Latitude      41.904732
Longitude    -87.767027
Name: 8348, dtype: object
8349, Date         2013-08-15
Time         8:57:56 PM
Latitude      41.905018
Longitude    -87.767047
Name: 8349, dtype: object
8350, Date         2013-08-15
Time         8:58:06 PM
Latitude      41.905338
Longitude    -87.767057
Name: 8350, dtype: object
8351, Date         2013-08-15
Time         8:58:16 PM
Latitude      41.905765
Longitude    -87.767068
Name: 8351, dtype: object
8352, Date         2013-08-15
Time         8:58:26 PM
Latitude      41.906132
Longitude    -87.767088
Name: 8352, dtype: object
8353, Date         2013-08-15
Time         8:58:36 PM
Latitude      41.906433
Longitude    -87.767082
Name: 8353, dtype: object
8354, Date         2013-08-15
Time         8:58:46 PM
Latitude      41.906738
Longitude    -87.767095
Name: 8354, dtype: object
8355, Date         2013-08-15
Time         8:58:56 PM
Latitude      41.907147
Longitude    -87.767105
Name: 8355, dtype: object
8356, Date         2013-08-15
Time         8:59:06 PM
Latitude      41.907507
Longitude    -87.767123
Name: 8356, dtype: object
8357, Date         2013-08-15
Time         8:59:16 PM
Latitude      41.907897
Longitude    -87.767155
Name: 8357, dtype: object
8358, Date         2013-08-15
Time         8:59:26 PM
Latitude      41.908243
Longitude    -87.767167
Name: 8358, dtype: object
8359, Date         2013-08-15
Time         8:59:36 PM
Latitude        41.9086
Longitude    -87.767182
Name: 8359, dtype: object
8360, Date         2013-08-15
Time         8:59:46 PM
Latitude      41.908938
Longitude    -87.767187
Name: 8360, dtype: object
8361, Date         2013-08-15
Time         9:01:06 PM
Latitude       41.90911
Longitude    -87.764717
Name: 8361, dtype: object
8362, Date         2013-08-15
Time         9:01:16 PM
Latitude      41.908738
Longitude    -87.764697
Name: 8362, dtype: object
8363, Date         2013-08-15
Time         9:01:26 PM
Latitude      41.908377
Longitude    -87.764685
Name: 8363, dtype: object
8364, Date         2013-08-15
Time         9:01:36 PM
Latitude      41.907988
Longitude    -87.764668
Name: 8364, dtype: object
8365, Date         2013-08-15
Time         9:01:46 PM
Latitude      41.907678
Longitude    -87.764658
Name: 8365, dtype: object
8366, Date         2013-08-15
Time         9:01:56 PM
Latitude      41.907327
Longitude    -87.764645
Name: 8366, dtype: object
8367, Date         2013-08-15
Time         9:02:06 PM
Latitude      41.906887
Longitude    -87.764625
Name: 8367, dtype: object
8368, Date         2013-08-15
Time         9:02:16 PM
Latitude       41.90646
Longitude    -87.764608
Name: 8368, dtype: object
8369, Date         2013-08-15
Time         9:02:26 PM
Latitude      41.906027
Longitude     -87.76459
Name: 8369, dtype: object
8370, Date         2013-08-15
Time         9:02:56 PM
Latitude       41.90579
Longitude    -87.764063
Name: 8370, dtype: object
8371, Date         2013-08-15
Time         9:03:06 PM
Latitude      41.905413
Longitude    -87.764003
Name: 8371, dtype: object
8372, Date         2013-08-15
Time         9:03:46 PM
Latitude       41.90446
Longitude    -87.763935
Name: 8372, dtype: object
8373, Date         2013-08-15
Time         9:03:56 PM
Latitude      41.904135
Longitude    -87.763918
Name: 8373, dtype: object
8374, Date         2013-08-15
Time         9:04:06 PM
Latitude      41.903738
Longitude    -87.763892
Name: 8374, dtype: object
8375, Date         2013-08-15
Time         9:04:16 PM
Latitude      41.903443
Longitude    -87.763875
Name: 8375, dtype: object
8376, Date         2013-08-15
Time         9:04:26 PM
Latitude      41.903232
Longitude    -87.763887
Name: 8376, dtype: object
8377, Date         2013-08-15
Time         9:04:36 PM
Latitude      41.902998
Longitude    -87.763863
Name: 8377, dtype: object
8378, Date         2013-08-15
Time         9:04:46 PM
Latitude      41.902708
Longitude    -87.763847
Name: 8378, dtype: object
8379, Date         2013-08-15
Time         9:05:26 PM
Latitude      41.901535
Longitude    -87.763775
Name: 8379, dtype: object
8380, Date         2013-08-15
Time         9:05:36 PM
Latitude       41.90112
Longitude     -87.76374
Name: 8380, dtype: object
8381, Date         2013-08-15
Time         9:05:46 PM
Latitude      41.900703
Longitude     -87.76373
Name: 8381, dtype: object
8382, Date         2013-08-15
Time         9:05:56 PM
Latitude      41.900408
Longitude    -87.763738
Name: 8382, dtype: object
8383, Date         2013-08-15
Time         9:06:06 PM
Latitude       41.90013
Longitude    -87.763737
Name: 8383, dtype: object
8384, Date         2013-08-15
Time         9:06:16 PM
Latitude      41.899872
Longitude    -87.763725
Name: 8384, dtype: object
8385, Date         2013-08-15
Time         9:06:36 PM
Latitude      41.899527
Longitude    -87.763713
Name: 8385, dtype: object
8386, Date         2013-08-15
Time         9:06:46 PM
Latitude      41.899237
Longitude    -87.763702
Name: 8386, dtype: object
8387, Date         2013-08-15
Time         9:06:56 PM
Latitude      41.898955
Longitude    -87.763678
Name: 8387, dtype: object
8388, Date         2013-08-15
Time         9:07:26 PM
Latitude      41.898317
Longitude     -87.76366
Name: 8388, dtype: object
8389, Date         2013-08-15
Time         9:07:36 PM
Latitude      41.898022
Longitude    -87.763657
Name: 8389, dtype: object
8390, Date         2013-08-15
Time         9:07:56 PM
Latitude      41.897572
Longitude    -87.763603
Name: 8390, dtype: object
8391, Date         2013-08-15
Time         9:08:06 PM
Latitude      41.897152
Longitude     -87.76358
Name: 8391, dtype: object
8392, Date         2013-08-15
Time         9:08:16 PM
Latitude      41.896837
Longitude    -87.763583
Name: 8392, dtype: object
8393, Date         2013-08-15
Time         9:08:46 PM
Latitude      41.895748
Longitude    -87.763545
Name: 8393, dtype: object
8394, Date         2013-08-15
Time         9:08:56 PM
Latitude      41.895393
Longitude    -87.763533
Name: 8394, dtype: object
8395, Date         2013-08-15
Time         9:09:16 PM
Latitude      41.894853
Longitude    -87.763522
Name: 8395, dtype: object
8396, Date         2013-08-15
Time         9:09:26 PM
Latitude      41.894537
Longitude    -87.763488
Name: 8396, dtype: object
8397, Date         2013-08-15
Time         9:09:46 PM
Latitude      41.893895
Longitude    -87.763468
Name: 8397, dtype: object
8398, Date         2013-08-15
Time         9:09:56 PM
Latitude       41.89354
Longitude    -87.763467
Name: 8398, dtype: object
8399, Date         2013-08-15
Time         9:10:06 PM
Latitude      41.893262
Longitude    -87.763463
Name: 8399, dtype: object
8400, Date         2013-08-15
Time         9:10:16 PM
Latitude      41.892817
Longitude     -87.76345
Name: 8400, dtype: object
8401, Date         2013-08-15
Time         9:10:26 PM
Latitude      41.892425
Longitude    -87.763445
Name: 8401, dtype: object
8402, Date         2013-08-15
Time         9:10:36 PM
Latitude      41.891982
Longitude     -87.76343
Name: 8402, dtype: object
8403, Date         2013-08-15
Time         9:10:46 PM
Latitude        41.8916
Longitude    -87.763407
Name: 8403, dtype: object
8404, Date         2013-08-15
Time         9:10:56 PM
Latitude      41.891322
Longitude      -87.7634
Name: 8404, dtype: object
8405, Date         2013-08-15
Time         9:11:06 PM
Latitude      41.891003
Longitude    -87.763393
Name: 8405, dtype: object
8406, Date         2013-08-15
Time         9:11:16 PM
Latitude      41.890633
Longitude    -87.763365
Name: 8406, dtype: object
8407, Date         2013-08-15
Time         9:11:26 PM
Latitude      41.890282
Longitude    -87.763327
Name: 8407, dtype: object
8408, Date         2013-08-15
Time         9:11:36 PM
Latitude      41.889847
Longitude    -87.763303
Name: 8408, dtype: object
8409, Date         2013-08-15
Time         9:11:46 PM
Latitude      41.889398
Longitude    -87.763288
Name: 8409, dtype: object
8410, Date         2013-08-15
Time         9:11:56 PM
Latitude      41.888852
Longitude    -87.763273
Name: 8410, dtype: object
8411, Date         2013-08-15
Time         9:12:06 PM
Latitude      41.888363
Longitude    -87.763265
Name: 8411, dtype: object
8412, Date         2013-08-15
Time         9:12:26 PM
Latitude      41.887923
Longitude    -87.763282
Name: 8412, dtype: object
8413, Date         2013-08-15
Time         9:13:36 PM
Latitude      41.888127
Longitude     -87.76046
Name: 8413, dtype: object
8414, Date         2013-08-15
Time         9:13:46 PM
Latitude      41.888552
Longitude    -87.760482
Name: 8414, dtype: object
8415, Date         2013-08-15
Time         9:13:56 PM
Latitude      41.888925
Longitude    -87.760502
Name: 8415, dtype: object
8416, Date         2013-08-15
Time         9:14:06 PM
Latitude      41.889327
Longitude    -87.760523
Name: 8416, dtype: object
8417, Date         2013-08-15
Time         9:14:16 PM
Latitude      41.889675
Longitude    -87.760528
Name: 8417, dtype: object
8418, Date         2013-08-15
Time         9:14:26 PM
Latitude      41.889938
Longitude    -87.760543
Name: 8418, dtype: object
8419, Date         2013-08-15
Time         9:14:36 PM
Latitude       41.89028
Longitude    -87.760563
Name: 8419, dtype: object
8420, Date         2013-08-15
Time         9:14:46 PM
Latitude      41.890557
Longitude     -87.76056
Name: 8420, dtype: object
8421, Date         2013-08-15
Time         9:14:56 PM
Latitude      41.890842
Longitude     -87.76057
Name: 8421, dtype: object
8422, Date         2013-08-15
Time         9:15:06 PM
Latitude      41.891187
Longitude    -87.760578
Name: 8422, dtype: object
8423, Date         2013-08-15
Time         9:15:16 PM
Latitude      41.891577
Longitude    -87.760588
Name: 8423, dtype: object
8424, Date         2013-08-15
Time         9:15:26 PM
Latitude      41.891987
Longitude    -87.760597
Name: 8424, dtype: object
8425, Date         2013-08-15
Time         9:15:36 PM
Latitude      41.892343
Longitude    -87.760603
Name: 8425, dtype: object
8426, Date         2013-08-15
Time         9:15:46 PM
Latitude      41.892705
Longitude    -87.760613
Name: 8426, dtype: object
8427, Date         2013-08-15
Time         9:15:56 PM
Latitude      41.893145
Longitude    -87.760632
Name: 8427, dtype: object
8428, Date         2013-08-15
Time         9:16:06 PM
Latitude       41.89353
Longitude     -87.76065
Name: 8428, dtype: object
8429, Date         2013-08-15

8662, Date          2013-08-15
Time         10:34:51 PM
Latitude       41.906328
Longitude     -87.752125
Name: 8662, dtype: object
8663, Date          2013-08-15
Time         10:35:01 PM
Latitude        41.90605
Longitude     -87.752237
Name: 8663, dtype: object
8664, Date          2013-08-15
Time         10:35:11 PM
Latitude       41.906045
Longitude       -87.7529
Name: 8664, dtype: object
8665, Date          2013-08-15
Time         10:35:21 PM
Latitude       41.906063
Longitude     -87.753293
Name: 8665, dtype: object
8666, Date          2013-08-15
Time         10:35:31 PM
Latitude       41.906432
Longitude     -87.753337
Name: 8666, dtype: object
8667, Date          2013-08-15
Time         10:35:41 PM
Latitude       41.906875
Longitude     -87.753355
Name: 8667, dtype: object
8668, Date          2013-08-15
Time         10:35:51 PM
Latitude       41.907295
Longitude     -87.753368
Name: 8668, dtype: object
8669, Date          2013-08-15
Time         10:36:01 PM
Latitude       41.907653
Longitude     -87.753385
Name: 8669, dtype: object
8670, Date          2013-08-15
Time         10:36:11 PM
Latitude       41.908122
Longitude     -87.753403
Name: 8670, dtype: object
8671, Date          2013-08-15
Time         10:36:21 PM
Latitude       41.908563
Longitude     -87.753418
Name: 8671, dtype: object
8672, Date          2013-08-15
Time         10:36:31 PM
Latitude       41.908918
Longitude      -87.75344
Name: 8672, dtype: object
8673, Date          2013-08-15
Time         10:36:41 PM
Latitude        41.90901
Longitude     -87.753685
Name: 8673, dtype: object
8674, Date          2013-08-15
Time         10:36:51 PM
Latitude       41.908995
Longitude     -87.754142
Name: 8674, dtype: object
8675, Date          2013-08-15
Time         10:37:01 PM
Latitude       41.908948
Longitude     -87.754488
Name: 8675, dtype: object
8676, Date          2013-08-15
Time         10:37:11 PM
Latitude       41.908708
Longitude     -87.754593
Name: 8676, dtype: object
8677, Date          2013-08-15
Time         10:37:21 PM
Latitude       41.908323
Longitude     -87.754587
Name: 8677, dtype: object
8678, Date          2013-08-15
Time         10:37:31 PM
Latitude       41.907975
Longitude     -87.754575
Name: 8678, dtype: object
8679, Date          2013-08-15
Time         10:37:41 PM
Latitude       41.907597
Longitude     -87.754588
Name: 8679, dtype: object
8680, Date          2013-08-15
Time         10:37:51 PM
Latitude       41.907267
Longitude     -87.754573
Name: 8680, dtype: object
8681, Date          2013-08-15
Time         10:38:01 PM
Latitude       41.906938
Longitude     -87.754587
Name: 8681, dtype: object
8682, Date          2013-08-15
Time         10:38:11 PM
Latitude       41.906573
Longitude     -87.754588
Name: 8682, dtype: object
8683, Date          2013-08-15
Time         10:38:21 PM
Latitude       41.906295
Longitude     -87.754568
Name: 8683, dtype: object
8684, Date          2013-08-15
Time         10:38:31 PM
Latitude       41.906092
Longitude     -87.754795
Name: 8684, dtype: object
8685, Date          2013-08-15
Time         10:38:41 PM
Latitude       41.906052
Longitude     -87.755428
Name: 8685, dtype: object
8686, Date          2013-08-15
Time         10:39:31 PM
Latitude       41.907742
Longitude     -87.754913
Name: 8686, dtype: object
8687, Date          2013-08-15
Time         10:39:41 PM
Latitude        41.90777
Longitude     -87.754193
Name: 8687, dtype: object
8688, Date          2013-08-15
Time         10:39:51 PM
Latitude       41.907765
Longitude      -87.75353
Name: 8688, dtype: object
8689, Date          2013-08-15
Time         10:40:01 PM
Latitude       41.907762
Longitude     -87.752792
Name: 8689, dtype: object
8690, Date          2013-08-15
Time         10:40:11 PM
Latitude        41.90778
Longitude     -87.752002
Name: 8690, dtype: object
8691, Date          2013-08-15
Time         10:41:41 PM
Latitude       41.907757
Longitude     -87.750867
Name: 8691, dtype: object
8692, Date          2013-08-15
Time         10:41:51 PM
Latitude        41.90775
Longitude      -87.74992
Name: 8692, dtype: object
8693, Date          2013-08-15
Time         10:42:01 PM
Latitude        41.90776
Longitude     -87.749003
Name: 8693, dtype: object
8694, Date          2013-08-15
Time         10:42:11 PM
Latitude       41.907768
Longitude     -87.748143
Name: 8694, dtype: object
8695, Date          2013-08-15
Time         10:42:21 PM
Latitude        41.90777
Longitude     -87.747282
Name: 8695, dtype: object
8696, Date          2013-08-15
Time         10:43:31 PM
Latitude       41.905047
Longitude      -87.74712
Name: 8696, dtype: object
8697, Date          2013-08-15
Time         10:43:41 PM
Latitude       41.905037
Longitude     -87.748075
Name: 8697, dtype: object
8698, Date          2013-08-15
Time         10:43:51 PM
Latitude        41.90503
Longitude     -87.748688
Name: 8698, dtype: object
8699, Date          2013-08-15
Time         10:44:01 PM
Latitude        41.90503
Longitude     -87.749385
Name: 8699, dtype: object
8700, Date          2013-08-15
Time         10:44:11 PM
Latitude       41.905035
Longitude     -87.750015
Name: 8700, dtype: object
8701, Date          2013-08-15
Time         10:44:21 PM
Latitude        41.90501
Longitude     -87.750742
Name: 8701, dtype: object
8702, Date          2013-08-15
Time         10:44:31 PM
Latitude       41.904642
Longitude     -87.750863
Name: 8702, dtype: object
8703, Date          2013-08-15
Time         10:44:41 PM
Latitude        41.90404
Longitude     -87.750852
Name: 8703, dtype: object
8704, Date          2013-08-15
Time         10:44:51 PM
Latitude       41.903397
Longitude     -87.750845
Name: 8704, dtype: object
8705, Date          2013-08-15
Time         10:45:01 PM
Latitude       41.902782
Longitude     -87.750818
Name: 8705, dtype: object
8706, Date          2013-08-15
Time         10:45:21 PM
Latitude       41.902107
Longitude     -87.750842
Name: 8706, dtype: object
8707, Date          2013-08-15
Time         10:45:31 PM
Latitude       41.901448
Longitude     -87.750867
Name: 8707, dtype: object
8708, Date          2013-08-15
Time         10:45:41 PM
Latitude       41.900787
Longitude     -87.750787
Name: 8708, dtype: object
8709, Date          2013-08-15
Time         10:45:51 PM
Latitude        41.90023
Longitude     -87.750765
Name: 8709, dtype: object
8710, Date          2013-08-15
Time         10:46:01 PM
Latitude        41.89959
Longitude     -87.750763
Name: 8710, dtype: object
8711, Date          2013-08-15
Time         10:46:11 PM
Latitude       41.898968
Longitude     -87.750748
Name: 8711, dtype: object
8712, Date          2013-08-15
Time         10:46:31 PM
Latitude       41.898153
Longitude     -87.750738
Name: 8712, dtype: object
8713, Date          2013-08-15
Time         10:46:41 PM
Latitude       41.897612
Longitude     -87.750745
Name: 8713, dtype: object
8714, Date          2013-08-15
Time         10:46:51 PM
Latitude       41.897035
Longitude     -87.750715
Name: 8714, dtype: object
8715, Date          2013-08-15
Time         10:47:01 PM
Latitude       41.896943
Longitude     -87.750245
Name: 8715, dtype: object
8716, Date          2013-08-15
Time         10:47:11 PM
Latitude       41.896935
Longitude     -87.749595
Name: 8716, dtype: object
8717, Date          2013-08-15
Time         10:47:21 PM
Latitude       41.896953
Longitude     -87.748887
Name: 8717, dtype: object
8718, Date          2013-08-15
Time         10:47:31 PM
Latitude        41.89701
Longitude     -87.748402
Name: 8718, dtype: object
8719, Date          2013-08-15
Time         10:47:41 PM
Latitude       41.897418
Longitude     -87.748432
Name: 8719, dtype: object
8720, Date          2013-08-15
Time         10:47:51 PM
Latitude        41.89797
Longitude      -87.74842
Name: 8720, dtype: object
8721, Date          2013-08-15
Time         10:48:21 PM
Latitude       41.899337
Longitude     -87.748458
Name: 8721, dtype: object
8722, Date          2013-08-15
Time         10:48:31 PM
Latitude       41.899947
Longitude     -87.748453
Name: 8722, dtype: object
8723, Date          2013-08-15
Time         10:48:41 PM
Latitude       41.900368
Longitude     -87.748453
Name: 8723, dtype: object
8724, Date          2013-08-15
Time         10:48:51 PM
Latitude       41.900927
Longitude     -87.748468
Name: 8724, dtype: object
8725, Date          2013-08-15
Time         10:49:01 PM
Latitude         41.9015
Longitude     -87.748468
Name: 8725, dtype: object
8726, Date          2013-08-15
Time         10:49:11 PM
Latitude       41.902025
Longitude     -87.748455
Name: 8726, dtype: object
8727, Date          2013-08-15
Time         10:49:31 PM
Latitude       41.902625
Longitude      -87.74847
Name: 8727, dtype: object
8728, Date          2013-08-15
Time         10:49:41 PM
Latitude       41.903183
Longitude     -87.748465
Name: 8728, dtype: object
8729, Date          2013-08-15
Time         10:49:51 PM
Latitude       41.903853
Longitude      -87.74846
Name: 8729, dtype: object
8730, Date          2013-08-15
Time         10:50:01 PM
Latitude       41.904362
Longitude      -87.74847
Name: 8730, dtype: object
8731, Date          2013-08-15
Time         10:50:11 PM
Latitude       41.904967
Longitude     -87.748467
Name: 8731, dtype: object
8732, Date          2013-08-15
Time         10:50:21 PM
Latitude        41.90564
Longitude     -87.748472
Name: 8732, dtype: object
8733, Date          2013-08-15
Time         10:50:31 PM
Latitude       41.905803
Longitude     -87.747912
Name: 8733, dtype: object
8734, Date          2013-08-15
Time         10:50:41 PM
Latitude       41.905855
Longitude     -87.746985
Name: 8734, dtype: object
8735, Date          2013-08-15
Time         10:54:31 PM
Latitude       41.887967
Longitude     -87.745625
Name: 8735, dtype: object
8736, Date          2013-08-15
Time         10:54:41 PM
Latitude       41.887875
Longitude     -87.746145
Name: 8736, dtype: object
8737, Date          2013-08-15
Time         10:54:51 PM
Latitude        41.88785
Longitude      -87.74713
Name: 8737, dtype: object
8738, Date          2013-08-15
Time         10:55:01 PM
Latitude       41.887842
Longitude     -87.747935
Name: 8738, dtype: object
8739, Date          2013-08-15
Time         10:55:11 PM
Latitude       41.887825
Longitude     -87.748587
Name: 8739, dtype: object
8740, Date          2013-08-15
Time         10:55:41 PM
Latitude       41.888087
Longitude     -87.750398
Name: 8740, dtype: object
8741, Date          2013-08-15
Time         10:55:51 PM
Latitude       41.888678
Longitude     -87.750427
Name: 8741, dtype: object
8742, Date          2013-08-15
Time         10:56:01 PM
Latitude       41.889108
Longitude     -87.750418
Name: 8742, dtype: object
8743, Date          2013-08-15
Time         10:56:11 PM
Latitude       41.889288
Longitude     -87.750447
Name: 8743, dtype: object
8744, Date          2013-08-15
Time         10:56:21 PM
Latitude       41.889793
Longitude     -87.750462
Name: 8744, dtype: object
8745, Date          2013-08-15
Time         10:56:31 PM
Latitude        41.89029
Longitude      -87.75048
Name: 8745, dtype: object
8746, Date          2013-08-15
Time         10:58:11 PM
Latitude       41.894282
Longitude     -87.748178
Name: 8746, dtype: object
8747, Date          2013-08-15
Time         10:58:21 PM
Latitude       41.893588
Longitude     -87.748183
Name: 8747, dtype: object
8748, Date          2013-08-15
Time         10:58:41 PM
Latitude       41.892503
Longitude     -87.748138
Name: 8748, dtype: object
8749, Date          2013-08-15
Time         10:58:51 PM
Latitude       41.891982
Longitude      -87.74813
Name: 8749, dtype: object
8750, Date          2013-08-15
Time         10:59:01 PM
Latitude       41.891338
Longitude     -87.748132
Name: 8750, dtype: object
8751, Date          2013-08-15
Time         10:59:11 PM
Latitude       41.890685
Longitude     -87.748122
Name: 8751, dtype: object
8752, Date          2013-08-15
Time         10:59:21 PM
Latitude       41.890162
Longitude      -87.74811
Name: 8752, dtype: object
8753, Date          2013-08-15
Time         10:59:31 PM
Latitude       41.889587
Longitude      -87.74808
Name: 8753, dtype: object
8754, Date          2013-08-15
Time         10:59:41 PM
Latitude       41.888968
Longitude     -87.748068
Name: 8754, dtype: object
8755, Date          2013-08-15
Time         10:59:51 PM
Latitude       41.888687
Longitude     -87.748275
Name: 8755, dtype: object
8756, Date          2013-08-15
Time         11:00:11 PM
Latitude       41.888672
Longitude     -87.749543
Name: 8756, dtype: object
8757, Date          2013-08-15
Time         11:00:21 PM
Latitude       41.888678
Longitude     -87.750242
Name: 8757, dtype: object
8758, Date          2013-08-15
Time         11:00:31 PM
Latitude       41.889007
Longitude     -87.750358
Name: 8758, dtype: object
8759, Date          2013-08-15
Time         11:01:41 PM
Latitude       41.891287
Longitude     -87.751497
Name: 8759, dtype: object
8760, Date          2013-08-15
Time         11:01:51 PM
Latitude       41.891283
Longitude     -87.752282
Name: 8760, dtype: object
8761, Date          2013-08-15
Time         11:02:01 PM
Latitude        41.89129
Longitude     -87.752875
Name: 8761, dtype: object
8762, Date          2013-08-15
Time         11:02:31 PM
Latitude        41.89129
Longitude     -87.753885
Name: 8762, dtype: object
8763, Date          2013-08-15
Time         11:02:41 PM
Latitude       41.891273
Longitude     -87.754453
Name: 8763, dtype: object
8764, Date          2013-08-15
Time         11:03:11 PM
Latitude       41.890023
Longitude     -87.755555
Name: 8764, dtype: object
8765, Date          2013-08-15
Time         11:03:21 PM
Latitude       41.890017
Longitude     -87.756278
Name: 8765, dtype: object
8766, Date          2013-08-15
Time         11:03:31 PM
Latitude       41.890007
Longitude     -87.756978
Name: 8766, dtype: object
8767, Date          2013-08-15
Time         11:03:41 PM
Latitude       41.890063
Longitude     -87.757662
Name: 8767, dtype: object
8768, Date          2013-08-15
Time         11:04:01 PM
Latitude       41.891242
Longitude      -87.75774
Name: 8768, dtype: object
8769, Date          2013-08-15
Time         11:04:11 PM
Latitude       41.891877
Longitude      -87.75777
Name: 8769, dtype: object
8770, Date          2013-08-15
Time         11:04:21 PM
Latitude       41.892503
Longitude     -87.757793
Name: 8770, dtype: object
8771, Date          2013-08-15
Time         11:04:31 PM
Latitude        41.89302
Longitude     -87.757825
Name: 8771, dtype: object
8772, Date          2013-08-15
Time         11:04:41 PM
Latitude       41.893768
Longitude     -87.757847
Name: 8772, dtype: object
8773, Date          2013-08-15
Time         11:04:51 PM
Latitude       41.894477
Longitude     -87.757887
Name: 8773, dtype: object
8774, Date          2013-08-15
Time         11:05:11 PM
Latitude        41.89519
Longitude     -87.757888
Name: 8774, dtype: object
8775, Date          2013-08-15
Time         11:05:21 PM
Latitude        41.89566
Longitude     -87.757915
Name: 8775, dtype: object
8776, Date          2013-08-15
Time         11:05:31 PM
Latitude       41.896172
Longitude     -87.757937
Name: 8776, dtype: object
8777, Date          2013-08-15
Time         11:05:41 PM
Latitude       41.896665
Longitude     -87.757952
Name: 8777, dtype: object
8778, Date          2013-08-15
Time         11:05:51 PM
Latitude       41.897417
Longitude     -87.757982
Name: 8778, dtype: object
8779, Date          2013-08-15
Time         11:06:01 PM
Latitude       41.898113
Longitude     -87.758022
Name: 8779, dtype: object
8780, Date          2013-08-15
Time         11:06:11 PM
Latitude        41.89856
Longitude     -87.758032
Name: 8780, dtype: object
8781, Date          2013-08-15
Time         11:06:21 PM
Latitude       41.899123
Longitude     -87.758055
Name: 8781, dtype: object
8782, Date          2013-08-15
Time         11:06:31 PM
Latitude       41.899607
Longitude      -87.75809
Name: 8782, dtype: object
8783, Date          2013-08-15
Time         11:06:41 PM
Latitude        41.90004
Longitude     -87.758103
Name: 8783, dtype: object
8784, Date          2013-08-15
Time         11:06:51 PM
Latitude       41.900568
Longitude     -87.758122
Name: 8784, dtype: object
8785, Date          2013-08-15
Time         11:07:01 PM
Latitude       41.901042
Longitude     -87.758143
Name: 8785, dtype: object
8786, Date          2013-08-15
Time         11:07:11 PM
Latitude       41.901515
Longitude     -87.758173
Name: 8786, dtype: object
8787, Date          2013-08-15
Time         11:07:41 PM
Latitude       41.901793
Longitude     -87.759462
Name: 8787, dtype: object
8788, Date          2013-08-15
Time         11:07:51 PM
Latitude       41.901253
Longitude     -87.759437
Name: 8788, dtype: object
8789, Date          2013-08-15
Time         11:08:01 PM
Latitude       41.900535
Longitude     -87.759438
Name: 8789, dtype: object
8790, Date          2013-08-15
Time         11:08:11 PM
Latitude       41.899958
Longitude     -87.759452
Name: 8790, dtype: object
8791, Date          2013-08-15
Time         11:08:21 PM
Latitude       41.899338
Longitude     -87.759435
Name: 8791, dtype: object
8792, Date          2013-08-15
Time         11:08:31 PM
Latitude       41.898733
Longitude     -87.759427
Name: 8792, dtype: object
8793, Date          2013-08-15
Time         11:08:41 PM
Latitude       41.898303
Longitude     -87.759413
Name: 8793, dtype: object
8794, Date          2013-08-15
Time         11:08:51 PM
Latitude       41.897657
Longitude     -87.759412
Name: 8794, dtype: object
8795, Date          2013-08-15
Time         11:09:01 PM
Latitude       41.897035
Longitude     -87.759392
Name: 8795, dtype: object
8796, Date          2013-08-15
Time         11:09:11 PM
Latitude       41.896513
Longitude     -87.759385
Name: 8796, dtype: object
8797, Date          2013-08-15
Time         11:09:21 PM
Latitude       41.895975
Longitude     -87.759375
Name: 8797, dtype: object
8798, Date          2013-08-15
Time         11:09:31 PM
Latitude       41.895362
Longitude     -87.759352
Name: 8798, dtype: object
8799, Date          2013-08-15
Time         11:10:01 PM
Latitude       41.894267
Longitude     -87.759332
Name: 8799, dtype: object
8800, Date          2013-08-15
Time         11:10:11 PM
Latitude       41.893783
Longitude     -87.759317
Name: 8800, dtype: object
8801, Date          2013-08-15
Time         11:10:21 PM
Latitude        41.89343
Longitude     -87.759303
Name: 8801, dtype: object
8802, Date          2013-08-15
Time         11:10:31 PM
Latitude       41.893103
Longitude     -87.759288
Name: 8802, dtype: object
8803, Date          2013-08-15
Time         11:10:41 PM
Latitude       41.892578
Longitude     -87.759252
Name: 8803, dtype: object
8804, Date          2013-08-15
Time         11:10:51 PM
Latitude        41.89197
Longitude     -87.759235
Name: 8804, dtype: object
8805, Date          2013-08-15
Time         11:11:01 PM
Latitude       41.891463
Longitude      -87.75919
Name: 8805, dtype: object
8806, Date          2013-08-15
Time         11:11:11 PM
Latitude        41.89127
Longitude      -87.75906
Name: 8806, dtype: object
8807, Date          2013-08-15
Time         11:11:21 PM
Latitude       41.891278
Longitude     -87.758258
Name: 8807, dtype: object
8808, Date          2013-08-15
Time         11:12:01 PM
Latitude        41.89089
Longitude     -87.756273
Name: 8808, dtype: object
8809, Date          2013-08-15
Time         11:12:11 PM
Latitude       41.890582
Longitude     -87.756257
Name: 8809, dtype: object
8810, Date          2013-08-15
Time         11:12:21 PM
Latitude       41.890218
Longitude     -87.756245
Name: 8810, dtype: object
8811, Date          2013-08-15
Time         11:12:31 PM
Latitude       41.890167
Longitude     -87.756863
Name: 8811, dtype: object
8812, Date          2013-08-15
Time         11:12:41 PM
Latitude       41.890152
Longitude     -87.757545
Name: 8812, dtype: object
8813, Date          2013-08-15
Time         11:12:51 PM

9028, Date         2013-08-15
Time         8:33:15 PM
Latitude      41.931648
Longitude     -87.80105
Name: 9028, dtype: object
9029, Date         2013-08-15
Time         8:33:25 PM
Latitude      41.932232
Longitude     -87.80108
Name: 9029, dtype: object
9030, Date         2013-08-15
Time         8:33:35 PM
Latitude      41.932872
Longitude    -87.801105
Name: 9030, dtype: object
9031, Date         2013-08-15
Time         8:33:45 PM
Latitude       41.93352
Longitude    -87.801123
Name: 9031, dtype: object
9032, Date         2013-08-15
Time         8:33:55 PM
Latitude      41.934142
Longitude    -87.801145
Name: 9032, dtype: object
9033, Date         2013-08-15
Time         8:34:05 PM
Latitude      41.934763
Longitude    -87.801158
Name: 9033, dtype: object
9034, Date         2013-08-15
Time         8:34:15 PM
Latitude      41.935397
Longitude    -87.801183
Name: 9034, dtype: object
9035, Date         2013-08-15
Time         8:34:25 PM
Latitude      41.936043
Longitude    -87.801217
Name: 9035, dtype: object
9036, Date         2013-08-15
Time         8:34:35 PM
Latitude      41.936725
Longitude    -87.801237
Name: 9036, dtype: object
9037, Date         2013-08-15
Time         8:34:45 PM
Latitude      41.937425
Longitude    -87.801275
Name: 9037, dtype: object
9038, Date         2013-08-15
Time         8:35:35 PM
Latitude       41.93751
Longitude    -87.799425
Name: 9038, dtype: object
9039, Date         2013-08-15
Time         8:35:45 PM
Latitude      41.936895
Longitude    -87.799402
Name: 9039, dtype: object
9040, Date         2013-08-15
Time         8:35:55 PM
Latitude      41.936323
Longitude    -87.799368
Name: 9040, dtype: object
9041, Date         2013-08-15
Time         8:36:05 PM
Latitude      41.935715
Longitude    -87.799333
Name: 9041, dtype: object
9042, Date         2013-08-15
Time         8:36:15 PM
Latitude        41.9351
Longitude    -87.799328
Name: 9042, dtype: object
9043, Date         2013-08-15
Time         8:36:25 PM
Latitude      41.934607
Longitude    -87.799312
Name: 9043, dtype: object
9044, Date         2013-08-15
Time         8:36:35 PM
Latitude      41.934023
Longitude    -87.799305
Name: 9044, dtype: object
9045, Date         2013-08-15
Time         8:36:45 PM
Latitude      41.933425
Longitude     -87.79928
Name: 9045, dtype: object
9046, Date         2013-08-15
Time         8:36:55 PM
Latitude      41.932905
Longitude    -87.799268
Name: 9046, dtype: object
9047, Date         2013-08-15
Time         8:37:05 PM
Latitude      41.932353
Longitude    -87.799253
Name: 9047, dtype: object
9048, Date         2013-08-15
Time         8:37:15 PM
Latitude       41.93214
Longitude    -87.799233
Name: 9048, dtype: object
9049, Date         2013-08-15
Time         8:37:25 PM
Latitude      41.931553
Longitude    -87.799202
Name: 9049, dtype: object
9050, Date         2013-08-15
Time         8:37:55 PM
Latitude      41.931235
Longitude    -87.797988
Name: 9050, dtype: object
9051, Date         2013-08-15
Time         8:38:05 PM
Latitude      41.931903
Longitude    -87.798003
Name: 9051, dtype: object
9052, Date         2013-08-15
Time         8:38:15 PM
Latitude      41.932512
Longitude    -87.798027
Name: 9052, dtype: object
9053, Date         2013-08-15
Time         8:38:25 PM
Latitude      41.933147
Longitude    -87.798038
Name: 9053, dtype: object
9054, Date         2013-08-15
Time         8:38:35 PM
Latitude      41.933873
Longitude    -87.798062
Name: 9054, dtype: object
9055, Date         2013-08-15
Time         8:38:45 PM
Latitude      41.934375
Longitude    -87.798075
Name: 9055, dtype: object
9056, Date         2013-08-15
Time         8:38:55 PM
Latitude      41.934988
Longitude    -87.798093
Name: 9056, dtype: object
9057, Date         2013-08-15
Time         8:39:05 PM
Latitude      41.935623
Longitude    -87.798123
Name: 9057, dtype: object
9058, Date         2013-08-15
Time         8:39:15 PM
Latitude      41.936232
Longitude     -87.79815
Name: 9058, dtype: object
9059, Date         2013-08-15
Time         8:39:25 PM
Latitude      41.936843
Longitude    -87.798173
Name: 9059, dtype: object
9060, Date         2013-08-15
Time         8:39:35 PM
Latitude       41.93752
Longitude    -87.798195
Name: 9060, dtype: object
9061, Date         2013-08-15
Time         8:40:05 PM
Latitude      41.937707
Longitude    -87.796973
Name: 9061, dtype: object
9062, Date         2013-08-15
Time         8:40:15 PM
Latitude      41.937122
Longitude    -87.796962
Name: 9062, dtype: object
9063, Date         2013-08-15
Time         8:40:25 PM
Latitude      41.936557
Longitude    -87.796928
Name: 9063, dtype: object
9064, Date         2013-08-15
Time         8:40:35 PM
Latitude      41.935975
Longitude    -87.796905
Name: 9064, dtype: object
9065, Date         2013-08-15
Time         8:40:45 PM
Latitude      41.935353
Longitude    -87.796892
Name: 9065, dtype: object
9066, Date         2013-08-15
Time         8:40:55 PM
Latitude      41.934732
Longitude    -87.796832
Name: 9066, dtype: object
9067, Date         2013-08-15
Time         8:41:05 PM
Latitude      41.934128
Longitude     -87.79682
Name: 9067, dtype: object
9068, Date         2013-08-15
Time         8:41:15 PM
Latitude      41.933562
Longitude    -87.796797
Name: 9068, dtype: object
9069, Date         2013-08-15
Time         8:41:25 PM
Latitude      41.933063
Longitude     -87.79679
Name: 9069, dtype: object
9070, Date         2013-08-15
Time         8:41:35 PM
Latitude       41.93243
Longitude    -87.796763
Name: 9070, dtype: object
9071, Date         2013-08-15
Time         8:41:45 PM
Latitude      41.931822
Longitude     -87.79674
Name: 9071, dtype: object
9072, Date         2013-08-15
Time         8:41:55 PM
Latitude      41.931213
Longitude    -87.796712
Name: 9072, dtype: object
9073, Date         2013-08-15
Time         8:42:55 PM
Latitude      41.931488
Longitude    -87.793093
Name: 9073, dtype: object
9074, Date         2013-08-15
Time         8:43:05 PM
Latitude      41.932077
Longitude     -87.79313
Name: 9074, dtype: object
9075, Date         2013-08-15
Time         8:43:15 PM
Latitude      41.932583
Longitude    -87.793132
Name: 9075, dtype: object
9076, Date         2013-08-15
Time         8:43:25 PM
Latitude      41.933252
Longitude    -87.793138
Name: 9076, dtype: object
9077, Date         2013-08-15
Time         8:43:35 PM
Latitude      41.933972
Longitude    -87.793157
Name: 9077, dtype: object
9078, Date         2013-08-15
Time         8:43:45 PM
Latitude      41.934612
Longitude     -87.79317
Name: 9078, dtype: object
9079, Date         2013-08-15
Time         8:43:55 PM
Latitude      41.935157
Longitude    -87.793212
Name: 9079, dtype: object
9080, Date         2013-08-15
Time         8:44:05 PM
Latitude      41.935737
Longitude     -87.79323
Name: 9080, dtype: object
9081, Date         2013-08-15
Time         8:44:15 PM
Latitude      41.936338
Longitude    -87.793243
Name: 9081, dtype: object
9082, Date         2013-08-15
Time         8:44:25 PM
Latitude      41.936997
Longitude    -87.793267
Name: 9082, dtype: object
9083, Date         2013-08-15
Time         8:44:35 PM
Latitude      41.937678
Longitude    -87.793298
Name: 9083, dtype: object
9084, Date         2013-08-15
Time         8:45:05 PM
Latitude      41.937815
Longitude    -87.794508
Name: 9084, dtype: object
9085, Date         2013-08-15
Time         8:45:15 PM
Latitude       41.93732
Longitude    -87.794498
Name: 9085, dtype: object
9086, Date         2013-08-15
Time         8:45:25 PM
Latitude      41.936722
Longitude     -87.79447
Name: 9086, dtype: object
9087, Date         2013-08-15
Time         8:45:35 PM
Latitude      41.936178
Longitude    -87.794457
Name: 9087, dtype: object
9088, Date         2013-08-15
Time         8:45:45 PM
Latitude      41.935427
Longitude    -87.794413
Name: 9088, dtype: object
9089, Date         2013-08-15
Time         8:45:55 PM
Latitude        41.9349
Longitude    -87.794388
Name: 9089, dtype: object
9090, Date         2013-08-15
Time         8:46:05 PM
Latitude      41.934373
Longitude    -87.794372
Name: 9090, dtype: object
9091, Date         2013-08-15
Time         8:46:15 PM
Latitude      41.933743
Longitude    -87.794352
Name: 9091, dtype: object
9092, Date         2013-08-15
Time         8:46:25 PM
Latitude       41.93313
Longitude    -87.794342
Name: 9092, dtype: object
9093, Date         2013-08-15
Time         8:46:35 PM
Latitude      41.932495
Longitude    -87.794315
Name: 9093, dtype: object
9094, Date         2013-08-15
Time         8:46:45 PM
Latitude      41.931845
Longitude    -87.794298
Name: 9094, dtype: object
9095, Date         2013-08-15
Time         8:46:55 PM
Latitude      41.931198
Longitude    -87.794283
Name: 9095, dtype: object
9096, Date         2013-08-15
Time         8:48:15 PM
Latitude      41.931245
Longitude    -87.791875
Name: 9096, dtype: object
9097, Date         2013-08-15
Time         8:48:25 PM
Latitude       41.93188
Longitude    -87.791888
Name: 9097, dtype: object
9098, Date         2013-08-15
Time         8:48:35 PM
Latitude      41.932445
Longitude    -87.791902
Name: 9098, dtype: object
9099, Date         2013-08-15
Time         8:48:45 PM
Latitude         41.933
Longitude    -87.791918
Name: 9099, dtype: object
9100, Date         2013-08-15
Time         8:48:55 PM
Latitude      41.933595
Longitude    -87.791935
Name: 9100, dtype: object
9101, Date         2013-08-15
Time         8:49:05 PM
Latitude      41.934158
Longitude    -87.791955
Name: 9101, dtype: object
9102, Date         2013-08-15
Time         8:49:15 PM
Latitude      41.934665
Longitude    -87.791963
Name: 9102, dtype: object
9103, Date         2013-08-15
Time         8:49:25 PM
Latitude      41.935322
Longitude    -87.791985
Name: 9103, dtype: object
9104, Date         2013-08-15
Time         8:49:35 PM
Latitude      41.935957
Longitude    -87.792003
Name: 9104, dtype: object
9105, Date         2013-08-15
Time         8:49:45 PM
Latitude      41.936583
Longitude    -87.792028
Name: 9105, dtype: object
9106, Date         2013-08-15
Time         8:49:55 PM
Latitude      41.937198
Longitude    -87.792053
Name: 9106, dtype: object
9107, Date         2013-08-15
Time         8:50:05 PM
Latitude      41.937732
Longitude    -87.792065
Name: 9107, dtype: object
9108, Date         2013-08-15
Time         8:50:35 PM
Latitude      41.937753
Longitude    -87.790795
Name: 9108, dtype: object
9109, Date         2013-08-15
Time         8:50:45 PM
Latitude      41.937235
Longitude    -87.790755
Name: 9109, dtype: object
9110, Date         2013-08-15
Time         8:50:55 PM
Latitude      41.936723
Longitude    -87.790738
Name: 9110, dtype: object
9111, Date         2013-08-15
Time         8:51:05 PM
Latitude      41.936217
Longitude    -87.790697
Name: 9111, dtype: object
9112, Date         2013-08-15
Time         8:51:15 PM
Latitude      41.935708
Longitude     -87.79068
Name: 9112, dtype: object
9113, Date         2013-08-15
Time         8:51:25 PM
Latitude       41.93526
Longitude    -87.790687
Name: 9113, dtype: object
9114, Date         2013-08-15
Time         8:51:35 PM
Latitude      41.934805
Longitude    -87.790673
Name: 9114, dtype: object
9115, Date         2013-08-15
Time         8:51:45 PM
Latitude      41.934285
Longitude    -87.790655
Name: 9115, dtype: object
9116, Date         2013-08-15
Time         8:51:55 PM
Latitude      41.933757
Longitude    -87.790647
Name: 9116, dtype: object
9117, Date         2013-08-15
Time         8:52:05 PM
Latitude      41.933257
Longitude     -87.79064
Name: 9117, dtype: object
9118, Date         2013-08-15
Time         8:52:15 PM
Latitude      41.932892
Longitude    -87.790732
Name: 9118, dtype: object
9119, Date         2013-08-15
Time         8:52:25 PM
Latitude      41.932863
Longitude    -87.791422
Name: 9119, dtype: object
9120, Date         2013-08-15
Time         8:52:35 PM
Latitude      41.932743
Longitude    -87.791885
Name: 9120, dtype: object
9121, Date         2013-08-15
Time         8:52:45 PM
Latitude       41.93215
Longitude    -87.791853
Name: 9121, dtype: object
9122, Date         2013-08-15
Time         8:52:55 PM
Latitude      41.931503
Longitude    -87.791842
Name: 9122, dtype: object
9123, Date         2013-08-15
Time         8:53:45 PM
Latitude      41.931735
Longitude    -87.789432
Name: 9123, dtype: object
9124, Date         2013-08-15
Time         8:53:55 PM
Latitude      41.932305
Longitude    -87.789448
Name: 9124, dtype: object
9125, Date         2013-08-15
Time         8:54:05 PM
Latitude      41.932845
Longitude    -87.789425
Name: 9125, dtype: object
9126, Date         2013-08-15
Time         8:54:15 PM
Latitude      41.933322
Longitude    -87.789492
Name: 9126, dtype: object
9127, Date         2013-08-15
Time         8:54:25 PM
Latitude      41.933848
Longitude    -87.789528
Name: 9127, dtype: object
9128, Date         2013-08-15
Time         8:54:35 PM
Latitude      41.934338
Longitude    -87.789533
Name: 9128, dtype: object
9129, Date         2013-08-15
Time         8:54:45 PM
Latitude      41.934765
Longitude    -87.789543
Name: 9129, dtype: object
9130, Date         2013-08-15
Time         8:54:55 PM
Latitude      41.935305
Longitude    -87.789555
Name: 9130, dtype: object
9131, Date         2013-08-15
Time         8:55:05 PM
Latitude      41.935792
Longitude    -87.789577
Name: 9131, dtype: object
9132, Date         2013-08-15
Time         8:55:15 PM
Latitude      41.936273
Longitude    -87.789592
Name: 9132, dtype: object
9133, Date         2013-08-15
Time         8:55:25 PM
Latitude       41.93677
Longitude    -87.789612
Name: 9133, dtype: object
9134, Date         2013-08-15
Time         8:55:35 PM
Latitude      41.937323
Longitude    -87.789635
Name: 9134, dtype: object
9135, Date         2013-08-15
Time         8:55:45 PM
Latitude      41.937923
Longitude    -87.789655
Name: 9135, dtype: object
9136, Date         2013-08-15
Time         8:56:05 PM
Latitude       41.93812
Longitude     -87.78843
Name: 9136, dtype: object
9137, Date         2013-08-15
Time         8:56:15 PM
Latitude      41.937542
Longitude    -87.788422
Name: 9137, dtype: object
9138, Date         2013-08-15
Time         8:56:25 PM
Latitude       41.93695
Longitude    -87.788395
Name: 9138, dtype: object
9139, Date         2013-08-15
Time         8:56:35 PM
Latitude       41.93637
Longitude    -87.788372
Name: 9139, dtype: object
9140, Date         2013-08-15
Time         8:56:45 PM
Latitude      41.935733
Longitude     -87.78835
Name: 9140, dtype: object
9141, Date         2013-08-15
Time         8:56:55 PM
Latitude      41.935077
Longitude    -87.788333
Name: 9141, dtype: object
9142, Date         2013-08-15
Time         8:57:05 PM
Latitude      41.934558
Longitude    -87.788305
Name: 9142, dtype: object
9143, Date         2013-08-15
Time         8:57:15 PM
Latitude         41.934
Longitude    -87.788278
Name: 9143, dtype: object
9144, Date         2013-08-15
Time         8:57:25 PM
Latitude       41.93372
Longitude     -87.78825
Name: 9144, dtype: object
9145, Date         2013-08-15
Time         8:57:35 PM
Latitude      41.933293
Longitude    -87.788225
Name: 9145, dtype: object
9146, Date         2013-08-15
Time         8:57:45 PM
Latitude      41.932803
Longitude    -87.788227
Name: 9146, dtype: object
9147, Date         2013-08-15
Time         8:57:55 PM
Latitude      41.932218
Longitude     -87.78819
Name: 9147, dtype: object
9148, Date         2013-08-15
Time         8:58:05 PM
Latitude      41.931717
Longitude     -87.78817
Name: 9148, dtype: object
9149, Date         2013-08-15
Time         8:58:45 PM
Latitude      41.931572
Longitude    -87.786968
Name: 9149, dtype: object
9150, Date         2013-08-15
Time         8:58:55 PM
Latitude      41.932288
Longitude       -87.787
Name: 9150, dtype: object
9151, Date         2013-08-15
Time         8:59:05 PM
Latitude      41.932927
Longitude    -87.787015
Name: 9151, dtype: object
9152, Date         2013-08-15
Time         8:59:15 PM
Latitude      41.933583
Longitude     -87.78704
Name: 9152, dtype: object
9153, Date         2013-08-15
Time         8:59:25 PM
Latitude      41.934212
Longitude    -87.787052
Name: 9153, dtype: object
9154, Date         2013-08-15
Time         8:59:35 PM
Latitude      41.934855
Longitude    -87.787085
Name: 9154, dtype: object
9155, Date         2013-08-15
Time         8:59:45 PM
Latitude      41.935538
Longitude    -87.787108
Name: 9155, dtype: object
9156, Date         2013-08-15
Time         8:59:55 PM
Latitude      41.936223
Longitude    -87.787122
Name: 9156, dtype: object
9157, Date         2013-08-15
Time         9:00:05 PM
Latitude      41.936818
Longitude    -87.787147
Name: 9157, dtype: object
9158, Date         2013-08-15
Time         9:00:15 PM
Latitude      41.937503
Longitude    -87.787177
Name: 9158, dtype: object
9159, Date         2013-08-15
Time         9:01:35 PM
Latitude      41.934685
Longitude    -87.786178
Name: 9159, dtype: object
9160, Date         2013-08-15
Time         9:01:45 PM
Latitude      41.934677
Longitude    -87.786928
Name: 9160, dtype: object
9161, Date         2013-08-15
Time         9:01:55 PM
Latitude       41.93467
Longitude    -87.787802
Name: 9161, dtype: object
9162, Date         2013-08-15
Time         9:02:05 PM
Latitude      41.934648
Longitude    -87.788597
Name: 9162, dtype: object
9163, Date         2013-08-15
Time         9:02:15 PM
Latitude      41.934633
Longitude    -87.789402
Name: 9163, dtype: object
9164, Date         2013-08-15
Time         9:02:25 PM
Latitude      41.934617
Longitude    -87.790248
Name: 9164, dtype: object
9165, Date         2013-08-15
Time         9:02:35 PM
Latitude      41.934605
Longitude     -87.79117
Name: 9165, dtype: object
9166, Date         2013-08-15
Time         9:02:45 PM
Latitude        41.9346
Longitude    -87.792098
Name: 9166, dtype: object
9167, Date         2013-08-15
Time         9:02:55 PM
Latitude      41.934605
Longitude    -87.793015
Name: 9167, dtype: object
9168, Date         2013-08-15
Time         9:03:05 PM
Latitude       41.93458
Longitude    -87.793903
Name: 9168, dtype: object
9169, Date         2013-08-15
Time         9:03:15 PM
Latitude      41.934382
Longitude    -87.794287
Name: 9169, dtype: object
9170, Date         2013-08-15
Time         9:03:25 PM
Latitude      41.933813
Longitude    -87.794255
Name: 9170, dtype: object
9171, Date         2013-08-15
Time         9:03:35 PM
Latitude       41.93322
Longitude     -87.79425
Name: 9171, dtype: object
9172, Date         2013-08-15
Time         9:03:45 PM
Latitude      41.932685
Longitude    -87.794215
Name: 9172, dtype: object
9173, Date         2013-08-15
Time         9:03:55 PM
Latitude      41.932005
Longitude    -87.794197
Name: 9173, dtype: object
9174, Date         2013-08-15
Time         9:04:05 PM
Latitude       41.93131
Longitude    -87.794178
Name: 9174, dtype: object
9175, Date         2013-08-15
Time         9:04:35 PM
Latitude      41.930577
Longitude    -87.794138
Name: 9175, dtype: object
9176, Date         2013-08-15
Time         9:04:45 PM
Latitude      41.930048
Longitude    -87.794127
Name: 9176, dtype: object
9177, Date         2013-08-15
Time         9:04:55 PM
Latitude      41.929497
Longitude    -87.794117
Name: 9177, dtype: object
9178, Date         2013-08-15
Time         9:05:05 PM
Latitude      41.928857
Longitude    -87.794108
Name: 9178, dtype: object
9179, Date         2013-08-15
Time         9:05:15 PM
Latitude      41.928328
Longitude      -87.7941
Name: 9179, dtype: object
9180, Date         2013-08-15
Time         9:05:25 PM
Latitude      41.927923
Longitude    -87.794082
Name: 9180, dtype: object
9181, Date         2013-08-15
Time         9:05:35 PM
Latitude      41.927463
Longitude     -87.79407
Name: 9181, dtype: object
9182, Date         2013-08-15
Time         9:05:45 PM
Latitude       41.92689
Longitude    -87.794053
Name: 9182, dtype: object
9183, Date         2013-08-15
Time         9:05:55 PM
Latitude      41.926255
Longitude    -87.794032
Name: 9183, dtype: object
9184, Date         2013-08-15

9420, Date          2013-08-15
Time         10:01:15 PM
Latitude       41.922475
Longitude     -87.779312
Name: 9420, dtype: object
9421, Date          2013-08-15
Time         10:01:25 PM
Latitude       41.921898
Longitude     -87.779307
Name: 9421, dtype: object
9422, Date          2013-08-15
Time         10:01:35 PM
Latitude        41.92131
Longitude     -87.779278
Name: 9422, dtype: object
9423, Date          2013-08-15
Time         10:01:45 PM
Latitude        41.92067
Longitude     -87.779262
Name: 9423, dtype: object
9424, Date          2013-08-15
Time         10:01:55 PM
Latitude       41.920055
Longitude     -87.779223
Name: 9424, dtype: object
9425, Date          2013-08-15
Time         10:02:05 PM
Latitude        41.91934
Longitude     -87.779193
Name: 9425, dtype: object
9426, Date          2013-08-15
Time         10:02:15 PM
Latitude       41.918648
Longitude     -87.779175
Name: 9426, dtype: object
9427, Date          2013-08-15
Time         10:02:25 PM
Latitude       41.918018
Longitude     -87.779158
Name: 9427, dtype: object
9428, Date          2013-08-15
Time         10:02:35 PM
Latitude       41.917942
Longitude     -87.778442
Name: 9428, dtype: object
9429, Date          2013-08-15
Time         10:02:45 PM
Latitude       41.918173
Longitude     -87.777973
Name: 9429, dtype: object
9430, Date          2013-08-15
Time         10:02:55 PM
Latitude        41.91872
Longitude     -87.777998
Name: 9430, dtype: object
9431, Date          2013-08-15
Time         10:03:05 PM
Latitude       41.919265
Longitude     -87.778013
Name: 9431, dtype: object
9432, Date          2013-08-15
Time         10:04:25 PM
Latitude       41.919937
Longitude      -87.77806
Name: 9432, dtype: object
9433, Date          2013-08-15
Time         10:04:35 PM
Latitude       41.920318
Longitude     -87.778082
Name: 9433, dtype: object
9434, Date          2013-08-15
Time         10:04:45 PM
Latitude       41.920793
Longitude     -87.778095
Name: 9434, dtype: object
9435, Date          2013-08-15
Time         10:05:05 PM
Latitude       41.921425
Longitude     -87.778117
Name: 9435, dtype: object
9436, Date          2013-08-15
Time         10:05:15 PM
Latitude       41.921898
Longitude     -87.778132
Name: 9436, dtype: object
9437, Date          2013-08-15
Time         10:05:25 PM
Latitude       41.922518
Longitude      -87.77815
Name: 9437, dtype: object
9438, Date          2013-08-15
Time         10:05:35 PM
Latitude       41.923115
Longitude     -87.778162
Name: 9438, dtype: object
9439, Date          2013-08-15
Time         10:05:45 PM
Latitude         41.9235
Longitude     -87.778165
Name: 9439, dtype: object
9440, Date          2013-08-15
Time         10:06:15 PM
Latitude        41.92332
Longitude     -87.776925
Name: 9440, dtype: object
9441, Date          2013-08-15
Time         10:06:35 PM
Latitude       41.922793
Longitude     -87.776907
Name: 9441, dtype: object
9442, Date          2013-08-15
Time         10:06:45 PM
Latitude       41.922108
Longitude     -87.776898
Name: 9442, dtype: object
9443, Date          2013-08-15
Time         10:06:55 PM
Latitude       41.921447
Longitude     -87.776872
Name: 9443, dtype: object
9444, Date          2013-08-15
Time         10:07:05 PM
Latitude       41.920972
Longitude     -87.776855
Name: 9444, dtype: object
9445, Date          2013-08-15
Time         10:07:15 PM
Latitude       41.920738
Longitude      -87.77685
Name: 9445, dtype: object
9446, Date          2013-08-15
Time         10:07:25 PM
Latitude       41.920068
Longitude     -87.776808
Name: 9446, dtype: object
9447, Date          2013-08-15
Time         10:07:35 PM
Latitude       41.919387
Longitude      -87.77679
Name: 9447, dtype: object
9448, Date          2013-08-15
Time         10:07:45 PM
Latitude       41.918685
Longitude     -87.776763
Name: 9448, dtype: object
9449, Date          2013-08-15
Time         10:07:55 PM
Latitude       41.918033
Longitude     -87.776743
Name: 9449, dtype: object
9450, Date          2013-08-15
Time         10:08:25 PM
Latitude       41.917998
Longitude     -87.774508
Name: 9450, dtype: object
9451, Date          2013-08-15
Time         10:08:35 PM
Latitude       41.918038
Longitude     -87.773622
Name: 9451, dtype: object
9452, Date          2013-08-15
Time         10:08:45 PM
Latitude        41.91824
Longitude     -87.773163
Name: 9452, dtype: object
9453, Date          2013-08-15
Time         10:08:55 PM
Latitude        41.91888
Longitude      -87.77319
Name: 9453, dtype: object
9454, Date          2013-08-15
Time         10:09:05 PM
Latitude       41.919328
Longitude     -87.773213
Name: 9454, dtype: object
9455, Date          2013-08-15
Time         10:09:15 PM
Latitude       41.919962
Longitude     -87.773202
Name: 9455, dtype: object
9456, Date          2013-08-15
Time         10:09:25 PM
Latitude       41.920538
Longitude     -87.773223
Name: 9456, dtype: object
9457, Date          2013-08-15
Time         10:09:35 PM
Latitude       41.921228
Longitude      -87.77326
Name: 9457, dtype: object
9458, Date          2013-08-15
Time         10:09:45 PM
Latitude       41.921842
Longitude     -87.773288
Name: 9458, dtype: object
9459, Date          2013-08-15
Time         10:09:55 PM
Latitude       41.922405
Longitude       -87.7733
Name: 9459, dtype: object
9460, Date          2013-08-15
Time         10:10:05 PM
Latitude       41.923065
Longitude      -87.77331
Name: 9460, dtype: object
9461, Date          2013-08-15
Time         10:10:55 PM
Latitude       41.923147
Longitude     -87.774502
Name: 9461, dtype: object
9462, Date          2013-08-15
Time         10:11:05 PM
Latitude       41.922582
Longitude      -87.77444
Name: 9462, dtype: object
9463, Date          2013-08-15
Time         10:11:15 PM
Latitude       41.921992
Longitude     -87.774403
Name: 9463, dtype: object
9464, Date          2013-08-15
Time         10:11:25 PM
Latitude       41.921462
Longitude     -87.774387
Name: 9464, dtype: object
9465, Date          2013-08-15
Time         10:11:35 PM
Latitude       41.920927
Longitude     -87.774375
Name: 9465, dtype: object
9466, Date          2013-08-15
Time         10:11:45 PM
Latitude       41.920585
Longitude     -87.774363
Name: 9466, dtype: object
9467, Date          2013-08-15
Time         10:12:05 PM
Latitude        41.92005
Longitude     -87.774348
Name: 9467, dtype: object
9468, Date          2013-08-15
Time         10:12:15 PM
Latitude       41.919443
Longitude     -87.774327
Name: 9468, dtype: object
9469, Date          2013-08-15
Time         10:12:25 PM
Latitude       41.918892
Longitude     -87.774312
Name: 9469, dtype: object
9470, Date          2013-08-15
Time         10:12:35 PM
Latitude       41.918363
Longitude       -87.7743
Name: 9470, dtype: object
9471, Date          2013-08-15
Time         10:12:45 PM
Latitude       41.918072
Longitude     -87.774097
Name: 9471, dtype: object
9472, Date          2013-08-15
Time         10:12:55 PM
Latitude       41.918098
Longitude     -87.773268
Name: 9472, dtype: object
9473, Date          2013-08-15
Time         10:13:05 PM
Latitude       41.918107
Longitude     -87.772375
Name: 9473, dtype: object
9474, Date          2013-08-15
Time         10:13:15 PM
Latitude       41.918122
Longitude     -87.771482
Name: 9474, dtype: object
9475, Date          2013-08-15
Time         10:13:25 PM
Latitude       41.918208
Longitude     -87.770702
Name: 9475, dtype: object
9476, Date          2013-08-15
Time         10:13:35 PM
Latitude       41.918855
Longitude     -87.770713
Name: 9476, dtype: object
9477, Date          2013-08-15
Time         10:13:45 PM
Latitude       41.919482
Longitude     -87.770735
Name: 9477, dtype: object
9478, Date          2013-08-15
Time         10:14:15 PM
Latitude       41.919982
Longitude     -87.770737
Name: 9478, dtype: object
9479, Date          2013-08-15
Time         10:14:25 PM
Latitude       41.920663
Longitude     -87.770775
Name: 9479, dtype: object
9480, Date          2013-08-15
Time         10:14:35 PM
Latitude       41.921347
Longitude     -87.770782
Name: 9480, dtype: object
9481, Date          2013-08-15
Time         10:14:45 PM
Latitude        41.92199
Longitude     -87.770807
Name: 9481, dtype: object
9482, Date          2013-08-15
Time         10:14:55 PM
Latitude       41.922602
Longitude      -87.77084
Name: 9482, dtype: object
9483, Date          2013-08-15
Time         10:15:05 PM
Latitude       41.923325
Longitude     -87.770877
Name: 9483, dtype: object
9484, Date          2013-08-15
Time         10:15:35 PM
Latitude       41.923063
Longitude     -87.772033
Name: 9484, dtype: object
9485, Date          2013-08-15
Time         10:15:45 PM
Latitude       41.922378
Longitude     -87.771993
Name: 9485, dtype: object
9486, Date          2013-08-15
Time         10:15:55 PM
Latitude        41.92172
Longitude      -87.77198
Name: 9486, dtype: object
9487, Date          2013-08-15
Time         10:16:05 PM
Latitude       41.921135
Longitude     -87.771965
Name: 9487, dtype: object
9488, Date          2013-08-15
Time         10:16:15 PM
Latitude       41.920507
Longitude     -87.771948
Name: 9488, dtype: object
9489, Date          2013-08-15
Time         10:16:25 PM
Latitude       41.920065
Longitude     -87.771938
Name: 9489, dtype: object
9490, Date          2013-08-15
Time         10:16:35 PM
Latitude       41.919592
Longitude      -87.77193
Name: 9490, dtype: object
9491, Date          2013-08-15
Time         10:16:45 PM
Latitude       41.918953
Longitude     -87.771912
Name: 9491, dtype: object
9492, Date          2013-08-15
Time         10:16:55 PM
Latitude       41.918282
Longitude     -87.771875
Name: 9492, dtype: object
9493, Date          2013-08-15
Time         10:17:05 PM
Latitude       41.918055
Longitude     -87.771477
Name: 9493, dtype: object
9494, Date          2013-08-15
Time         10:17:15 PM
Latitude       41.918067
Longitude     -87.770578
Name: 9494, dtype: object
9495, Date          2013-08-15
Time         10:17:25 PM
Latitude       41.918075
Longitude     -87.769672
Name: 9495, dtype: object
9496, Date          2013-08-15
Time         10:17:35 PM
Latitude       41.918097
Longitude     -87.768792
Name: 9496, dtype: object
9497, Date          2013-08-15
Time         10:17:45 PM
Latitude       41.918265
Longitude      -87.76825
Name: 9497, dtype: object
9498, Date          2013-08-15
Time         10:17:55 PM
Latitude       41.918905
Longitude     -87.768268
Name: 9498, dtype: object
9499, Date          2013-08-15
Time         10:18:25 PM
Latitude       41.920083
Longitude     -87.768312
Name: 9499, dtype: object
9500, Date          2013-08-15
Time         10:18:35 PM
Latitude        41.92071
Longitude     -87.768328
Name: 9500, dtype: object
9501, Date          2013-08-15
Time         10:18:45 PM
Latitude       41.921332
Longitude      -87.76835
Name: 9501, dtype: object
9502, Date          2013-08-15
Time         10:18:55 PM
Latitude       41.921952
Longitude     -87.768352
Name: 9502, dtype: object
9503, Date          2013-08-15
Time         10:19:05 PM
Latitude       41.922632
Longitude     -87.768403
Name: 9503, dtype: object
9504, Date          2013-08-15
Time         10:19:15 PM
Latitude       41.923353
Longitude     -87.768408
Name: 9504, dtype: object
9505, Date          2013-08-15
Time         10:19:55 PM
Latitude       41.923462
Longitude     -87.769625
Name: 9505, dtype: object
9506, Date          2013-08-15
Time         10:20:05 PM
Latitude       41.922808
Longitude     -87.769603
Name: 9506, dtype: object
9507, Date          2013-08-15
Time         10:20:15 PM
Latitude       41.922218
Longitude     -87.769585
Name: 9507, dtype: object
9508, Date          2013-08-15
Time         10:20:25 PM
Latitude       41.921578
Longitude     -87.769528
Name: 9508, dtype: object
9509, Date          2013-08-15
Time         10:20:35 PM
Latitude       41.920927
Longitude     -87.769493
Name: 9509, dtype: object
9510, Date          2013-08-15
Time         10:20:45 PM
Latitude       41.920307
Longitude     -87.769458
Name: 9510, dtype: object
9511, Date          2013-08-15
Time         10:20:55 PM
Latitude       41.919725
Longitude     -87.769463
Name: 9511, dtype: object
9512, Date          2013-08-15
Time         10:21:05 PM
Latitude       41.919265
Longitude     -87.769447
Name: 9512, dtype: object
9513, Date          2013-08-15
Time         10:21:15 PM
Latitude       41.918572
Longitude     -87.769407
Name: 9513, dtype: object
9514, Date          2013-08-15
Time         10:21:25 PM
Latitude       41.917852
Longitude     -87.769403
Name: 9514, dtype: object
9515, Date          2013-08-15
Time         10:21:35 PM
Latitude       41.917153
Longitude     -87.769385
Name: 9515, dtype: object
9516, Date          2013-08-15
Time         10:21:45 PM
Latitude       41.916932
Longitude     -87.768915
Name: 9516, dtype: object
9517, Date          2013-08-15
Time         10:21:55 PM
Latitude       41.916918
Longitude     -87.768018
Name: 9517, dtype: object
9518, Date          2013-08-15
Time         10:22:05 PM
Latitude        41.91692
Longitude     -87.767288
Name: 9518, dtype: object
9519, Date          2013-08-15
Time         10:22:15 PM
Latitude       41.917257
Longitude     -87.766948
Name: 9519, dtype: object
9520, Date          2013-08-15
Time         10:22:25 PM
Latitude       41.917907
Longitude     -87.766982
Name: 9520, dtype: object
9521, Date          2013-08-15
Time         10:22:35 PM
Latitude       41.918528
Longitude     -87.767018
Name: 9521, dtype: object
9522, Date          2013-08-15
Time         10:22:45 PM
Latitude       41.918965
Longitude     -87.767023
Name: 9522, dtype: object
9523, Date          2013-08-15
Time         10:22:55 PM
Latitude       41.919618
Longitude     -87.767055
Name: 9523, dtype: object
9524, Date          2013-08-15
Time         10:23:05 PM
Latitude        41.92024
Longitude     -87.767065
Name: 9524, dtype: object
9525, Date          2013-08-15
Time         10:23:15 PM
Latitude       41.920903
Longitude     -87.767103
Name: 9525, dtype: object
9526, Date          2013-08-15
Time         10:23:25 PM
Latitude       41.921555
Longitude     -87.767115
Name: 9526, dtype: object
9527, Date          2013-08-15
Time         10:23:35 PM
Latitude       41.922133
Longitude     -87.767133
Name: 9527, dtype: object
9528, Date          2013-08-15
Time         10:23:45 PM
Latitude       41.922873
Longitude     -87.767163
Name: 9528, dtype: object
9529, Date          2013-08-15
Time         10:23:55 PM
Latitude       41.923623
Longitude     -87.767185
Name: 9529, dtype: object
9530, Date          2013-08-15
Time         10:24:05 PM
Latitude       41.924185
Longitude      -87.76724
Name: 9530, dtype: object
9531, Date          2013-08-15
Time         10:24:15 PM
Latitude       41.924888
Longitude     -87.767268
Name: 9531, dtype: object
9532, Date          2013-08-15
Time         10:24:25 PM
Latitude       41.925538
Longitude     -87.767308
Name: 9532, dtype: object
9533, Date          2013-08-15
Time         10:24:35 PM
Latitude       41.926222
Longitude     -87.767342
Name: 9533, dtype: object
9534, Date          2013-08-15
Time         10:24:45 PM
Latitude       41.926885
Longitude     -87.767367
Name: 9534, dtype: object
9535, Date          2013-08-15
Time         10:24:55 PM
Latitude       41.927472
Longitude     -87.767353
Name: 9535, dtype: object
9536, Date          2013-08-15
Time         10:25:05 PM
Latitude       41.928018
Longitude      -87.76741
Name: 9536, dtype: object
9537, Date          2013-08-15
Time         10:25:15 PM
Latitude       41.928573
Longitude     -87.767428
Name: 9537, dtype: object
9538, Date          2013-08-15
Time         10:25:25 PM
Latitude       41.929107
Longitude     -87.767448
Name: 9538, dtype: object
9539, Date          2013-08-15
Time         10:25:35 PM
Latitude       41.929787
Longitude     -87.767468
Name: 9539, dtype: object
9540, Date          2013-08-15
Time         10:25:45 PM
Latitude        41.93053
Longitude      -87.76749
Name: 9540, dtype: object
9541, Date          2013-08-15
Time         10:26:15 PM
Latitude       41.931012
Longitude      -87.76992
Name: 9541, dtype: object
9542, Date          2013-08-15
Time         10:26:25 PM
Latitude       41.930397
Longitude     -87.769892
Name: 9542, dtype: object
9543, Date          2013-08-15
Time         10:26:35 PM
Latitude       41.929713
Longitude     -87.769862
Name: 9543, dtype: object
9544, Date          2013-08-15
Time         10:26:45 PM
Latitude       41.929223
Longitude     -87.769843
Name: 9544, dtype: object
9545, Date          2013-08-15
Time         10:26:55 PM
Latitude        41.92856
Longitude     -87.769825
Name: 9545, dtype: object
9546, Date          2013-08-15
Time         10:27:05 PM
Latitude       41.927898
Longitude     -87.769798
Name: 9546, dtype: object
9547, Date          2013-08-15
Time         10:27:15 PM
Latitude        41.92732
Longitude     -87.769763
Name: 9547, dtype: object
9548, Date          2013-08-15
Time         10:27:25 PM
Latitude       41.926745
Longitude     -87.769738
Name: 9548, dtype: object
9549, Date          2013-08-15
Time         10:27:35 PM
Latitude       41.926132
Longitude     -87.769713
Name: 9549, dtype: object
9550, Date          2013-08-15
Time         10:27:45 PM
Latitude       41.925523
Longitude     -87.769692
Name: 9550, dtype: object
9551, Date          2013-08-15
Time         10:27:55 PM
Latitude       41.924888
Longitude     -87.769675
Name: 9551, dtype: object
9552, Date          2013-08-15
Time         10:28:05 PM
Latitude       41.924317
Longitude      -87.76965
Name: 9552, dtype: object
9553, Date          2013-08-15
Time         10:28:35 PM
Latitude       41.924807
Longitude      -87.76848
Name: 9553, dtype: object
9554, Date          2013-08-15
Time         10:28:45 PM
Latitude       41.925352
Longitude     -87.768502
Name: 9554, dtype: object
9555, Date          2013-08-15
Time         10:28:55 PM
Latitude       41.926045
Longitude      -87.76853
Name: 9555, dtype: object
9556, Date          2013-08-15
Time         10:29:05 PM
Latitude       41.926803
Longitude     -87.768553
Name: 9556, dtype: object
9557, Date          2013-08-15
Time         10:29:15 PM
Latitude       41.927513
Longitude     -87.768585
Name: 9557, dtype: object
9558, Date          2013-08-15
Time         10:29:25 PM
Latitude        41.92821
Longitude     -87.768602
Name: 9558, dtype: object
9559, Date          2013-08-15
Time         10:29:35 PM
Latitude       41.928897
Longitude     -87.768622
Name: 9559, dtype: object
9560, Date          2013-08-15
Time         10:29:45 PM
Latitude        41.92949
Longitude     -87.768647
Name: 9560, dtype: object
9561, Date          2013-08-15
Time         10:29:55 PM
Latitude       41.930197
Longitude     -87.768673
Name: 9561, dtype: object
9562, Date          2013-08-15
Time         10:30:05 PM
Latitude       41.930945
Longitude     -87.768688
Name: 9562, dtype: object
9563, Date          2013-08-15
Time         10:30:45 PM
Latitude       41.931132
Longitude     -87.772285
Name: 9563, dtype: object
9564, Date          2013-08-15
Time         10:30:55 PM
Latitude       41.930588
Longitude      -87.77232
Name: 9564, dtype: object
9565, Date          2013-08-15
Time         10:31:05 PM
Latitude       41.929953
Longitude     -87.772288
Name: 9565, dtype: object
9566, Date          2013-08-15
Time         10:31:15 PM
Latitude       41.929382
Longitude       -87.7722
Name: 9566, dtype: object
9567, Date          2013-08-15
Time         10:31:25 PM
Latitude       41.928803
Longitude     -87.772238
Name: 9567, dtype: object
9568, Date          2013-08-15
Time         10:31:35 PM
Latitude       41.928128
Longitude     -87.772207
Name: 9568, dtype: object
9569, Date          2013-08-15
Time         10:31:45 PM
Latitude       41.927562
Longitude     -87.772235
Name: 9569, dtype: object
9570, Date          2013-08-15
Time         10:31:55 PM
Latitude       41.926992
Longitude     -87.772168
Name: 9570, dtype: object
9571, Date          2013-08-15
Time         10:32:05 PM

9851, Date          2013-08-15
Time         11:49:00 PM
Latitude       41.914437
Longitude     -87.797732
Name: 9851, dtype: object
9852, Date          2013-08-15
Time         11:49:10 PM
Latitude       41.914462
Longitude     -87.796978
Name: 9852, dtype: object
9853, Date          2013-08-15
Time         11:49:20 PM
Latitude       41.914457
Longitude     -87.796198
Name: 9853, dtype: object
9854, Date          2013-08-15
Time         11:49:30 PM
Latitude       41.914468
Longitude     -87.795323
Name: 9854, dtype: object
9855, Date          2013-08-15
Time         11:49:40 PM
Latitude       41.914477
Longitude     -87.794595
Name: 9855, dtype: object
9856, Date          2013-08-15
Time         11:49:50 PM
Latitude       41.914485
Longitude     -87.793923
Name: 9856, dtype: object
9857, Date          2013-08-15
Time         11:50:00 PM
Latitude       41.914493
Longitude     -87.793065
Name: 9857, dtype: object
9858, Date          2013-08-15
Time         11:50:10 PM
Latitude       41.914508
Longitude     -87.792232
Name: 9858, dtype: object
9859, Date          2013-08-15
Time         11:50:20 PM
Latitude       41.914517
Longitude     -87.791437
Name: 9859, dtype: object
9860, Date          2013-08-15
Time         11:50:30 PM
Latitude       41.914518
Longitude     -87.790593
Name: 9860, dtype: object
9861, Date          2013-08-15
Time         11:50:40 PM
Latitude       41.914537
Longitude     -87.789798
Name: 9861, dtype: object
9862, Date          2013-08-15
Time         11:50:50 PM
Latitude       41.914547
Longitude      -87.78889
Name: 9862, dtype: object
9863, Date          2013-08-15
Time         11:51:00 PM
Latitude       41.914558
Longitude     -87.788025
Name: 9863, dtype: object
9864, Date          2013-08-15
Time         11:51:10 PM
Latitude        41.91456
Longitude     -87.787097
Name: 9864, dtype: object
9865, Date          2013-08-15
Time         11:51:20 PM
Latitude       41.914568
Longitude     -87.786423
Name: 9865, dtype: object
9866, Date          2013-08-15
Time         11:51:30 PM
Latitude       41.914562
Longitude     -87.785775
Name: 9866, dtype: object
9867, Date          2013-08-15
Time         11:51:40 PM
Latitude       41.914587
Longitude     -87.785195
Name: 9867, dtype: object
9868, Date          2013-08-15
Time         11:51:50 PM
Latitude       41.914598
Longitude     -87.784383
Name: 9868, dtype: object
9869, Date          2013-08-15
Time         11:52:00 PM
Latitude       41.914613
Longitude      -87.78359
Name: 9869, dtype: object
9870, Date          2013-08-15
Time         11:52:10 PM
Latitude       41.914632
Longitude     -87.782715
Name: 9870, dtype: object
9871, Date          2013-08-15
Time         11:52:20 PM
Latitude       41.914647
Longitude     -87.781943
Name: 9871, dtype: object
9872, Date          2013-08-15
Time         11:52:30 PM
Latitude       41.914558
Longitude     -87.781358
Name: 9872, dtype: object
9873, Date          2013-08-15
Time         11:52:40 PM
Latitude       41.914008
Longitude     -87.781368
Name: 9873, dtype: object
9874, Date          2013-08-15
Time         11:52:50 PM
Latitude       41.913358
Longitude     -87.781332
Name: 9874, dtype: object
9875, Date          2013-08-15
Time         11:53:00 PM
Latitude       41.912927
Longitude     -87.781315
Name: 9875, dtype: object
9876, Date          2013-08-15
Time         11:53:10 PM
Latitude       41.912845
Longitude      -87.78072
Name: 9876, dtype: object
9877, Date          2013-08-15
Time         11:53:20 PM
Latitude       41.912852
Longitude     -87.779937
Name: 9877, dtype: object
9878, Date          2013-08-15
Time         11:53:30 PM
Latitude        41.91286
Longitude     -87.779115
Name: 9878, dtype: object
9879, Date          2013-08-15
Time         11:53:40 PM
Latitude       41.912873
Longitude     -87.778128
Name: 9879, dtype: object
9880, Date          2013-08-15
Time         11:53:50 PM
Latitude       41.912875
Longitude     -87.777412
Name: 9880, dtype: object
9881, Date          2013-08-16
Time         12:00:28 AM
Latitude       41.960033
Longitude     -87.785495
Name: 9881, dtype: object
9882, Date          2013-08-16
Time         12:00:38 AM
Latitude       41.959468
Longitude     -87.785478
Name: 9882, dtype: object
9883, Date          2013-08-16
Time         12:00:48 AM
Latitude       41.958977
Longitude     -87.785457
Name: 9883, dtype: object
9884, Date          2013-08-16
Time         12:00:58 AM
Latitude       41.958485
Longitude     -87.785438
Name: 9884, dtype: object
9885, Date          2013-08-16
Time         12:01:08 AM
Latitude       41.958002
Longitude     -87.785443
Name: 9885, dtype: object
9886, Date          2013-08-16
Time         12:01:18 AM
Latitude        41.95764
Longitude     -87.785447
Name: 9886, dtype: object
9887, Date          2013-08-16
Time         12:02:48 AM
Latitude       41.957312
Longitude     -87.785477
Name: 9887, dtype: object
9888, Date          2013-08-16
Time         12:02:58 AM
Latitude        41.95683
Longitude     -87.785462
Name: 9888, dtype: object
9889, Date          2013-08-16
Time         12:03:18 AM
Latitude       41.956725
Longitude     -87.784697
Name: 9889, dtype: object
9890, Date          2013-08-16
Time         12:03:48 AM
Latitude       41.956718
Longitude     -87.783977
Name: 9890, dtype: object
9891, Date          2013-08-16
Time         12:03:58 AM
Latitude       41.956718
Longitude     -87.783332
Name: 9891, dtype: object
9892, Date          2013-08-16
Time         12:04:08 AM
Latitude        41.95672
Longitude     -87.782623
Name: 9892, dtype: object
9893, Date          2013-08-16
Time         12:04:18 AM
Latitude       41.956703
Longitude     -87.781967
Name: 9893, dtype: object
9894, Date          2013-08-16
Time         12:04:28 AM
Latitude       41.956203
Longitude     -87.781873
Name: 9894, dtype: object
9895, Date          2013-08-16
Time         12:04:38 AM
Latitude       41.955643
Longitude     -87.781852
Name: 9895, dtype: object
9896, Date          2013-08-16
Time         12:04:48 AM
Latitude        41.95531
Longitude     -87.782127
Name: 9896, dtype: object
9897, Date          2013-08-16
Time         12:04:58 AM
Latitude       41.955293
Longitude     -87.782992
Name: 9897, dtype: object
9898, Date          2013-08-16
Time         12:05:18 AM
Latitude        41.95529
Longitude     -87.782973
Name: 9898, dtype: object
9899, Date          2013-08-16
Time         12:05:28 AM
Latitude       41.955297
Longitude      -87.78219
Name: 9899, dtype: object
9900, Date          2013-08-16
Time         12:05:38 AM
Latitude       41.955082
Longitude      -87.78181
Name: 9900, dtype: object
9901, Date          2013-08-16
Time         12:05:58 AM
Latitude       41.954672
Longitude     -87.782573
Name: 9901, dtype: object
9902, Date          2013-08-16
Time         12:06:08 AM
Latitude       41.954883
Longitude     -87.782475
Name: 9902, dtype: object
9903, Date          2013-08-16
Time         12:06:18 AM
Latitude       41.954903
Longitude     -87.781893
Name: 9903, dtype: object
9904, Date          2013-08-16
Time         12:06:28 AM
Latitude       41.954512
Longitude     -87.781783
Name: 9904, dtype: object
9905, Date          2013-08-16
Time         12:06:38 AM
Latitude       41.954035
Longitude     -87.781817
Name: 9905, dtype: object
9906, Date          2013-08-16
Time         12:06:48 AM
Latitude       41.954002
Longitude      -87.78234
Name: 9906, dtype: object
9907, Date          2013-08-16
Time         12:06:58 AM
Latitude       41.953998
Longitude     -87.783115
Name: 9907, dtype: object
9908, Date          2013-08-16
Time         12:07:08 AM
Latitude       41.954002
Longitude     -87.783818
Name: 9908, dtype: object
9909, Date          2013-08-16
Time         12:07:18 AM
Latitude       41.953998
Longitude     -87.784373
Name: 9909, dtype: object
9910, Date          2013-08-16
Time         12:07:28 AM
Latitude        41.95399
Longitude     -87.785078
Name: 9910, dtype: object
9911, Date          2013-08-16
Time         12:07:58 AM
Latitude       41.953715
Longitude     -87.785792
Name: 9911, dtype: object
9912, Date          2013-08-16
Time         12:08:18 AM
Latitude       41.953533
Longitude     -87.785117
Name: 9912, dtype: object
9913, Date          2013-08-16
Time         12:08:28 AM
Latitude       41.953537
Longitude     -87.784537
Name: 9913, dtype: object
9914, Date          2013-08-16
Time         12:09:08 AM
Latitude        41.95354
Longitude     -87.783463
Name: 9914, dtype: object
9915, Date          2013-08-16
Time         12:09:18 AM
Latitude       41.953548
Longitude      -87.78287
Name: 9915, dtype: object
9916, Date          2013-08-16
Time         12:09:28 AM
Latitude       41.953555
Longitude     -87.782212
Name: 9916, dtype: object
9917, Date          2013-08-16
Time         12:09:38 AM
Latitude       41.953563
Longitude      -87.78173
Name: 9917, dtype: object
9918, Date          2013-08-16
Time         12:09:48 AM
Latitude       41.953993
Longitude     -87.781702
Name: 9918, dtype: object
9919, Date          2013-08-16
Time         12:09:58 AM
Latitude         41.9545
Longitude     -87.781718
Name: 9919, dtype: object
9920, Date          2013-08-16
Time         12:10:08 AM
Latitude       41.954997
Longitude     -87.781737
Name: 9920, dtype: object
9921, Date          2013-08-16
Time         12:10:18 AM
Latitude       41.955532
Longitude     -87.781755
Name: 9921, dtype: object
9922, Date          2013-08-16
Time         12:10:28 AM
Latitude       41.956033
Longitude      -87.78179
Name: 9922, dtype: object
9923, Date          2013-08-16
Time         12:10:38 AM
Latitude       41.956515
Longitude     -87.781803
Name: 9923, dtype: object
9924, Date          2013-08-16
Time         12:10:48 AM
Latitude       41.956907
Longitude     -87.781828
Name: 9924, dtype: object
9925, Date          2013-08-16
Time         12:10:58 AM
Latitude       41.957338
Longitude     -87.781843
Name: 9925, dtype: object
9926, Date          2013-08-16
Time         12:11:08 AM
Latitude       41.957795
Longitude     -87.781848
Name: 9926, dtype: object
9927, Date          2013-08-16
Time         12:11:18 AM
Latitude       41.958293
Longitude     -87.781858
Name: 9927, dtype: object
9928, Date          2013-08-16
Time         12:11:28 AM
Latitude       41.958785
Longitude     -87.781878
Name: 9928, dtype: object
9929, Date          2013-08-16
Time         12:11:38 AM
Latitude       41.959275
Longitude     -87.781887
Name: 9929, dtype: object
9930, Date          2013-08-16
Time         12:11:48 AM
Latitude        41.95985
Longitude     -87.781902
Name: 9930, dtype: object
9931, Date          2013-08-16
Time         12:11:58 AM
Latitude        41.96037
Longitude     -87.781902
Name: 9931, dtype: object
9932, Date          2013-08-16
Time         12:12:08 AM
Latitude       41.960935
Longitude      -87.78192
Name: 9932, dtype: object
9933, Date          2013-08-16
Time         12:12:18 AM
Latitude       41.961448
Longitude     -87.781948
Name: 9933, dtype: object
9934, Date          2013-08-16
Time         12:12:28 AM
Latitude       41.961913
Longitude     -87.781942
Name: 9934, dtype: object
9935, Date          2013-08-16
Time         12:12:38 AM
Latitude       41.962393
Longitude      -87.78197
Name: 9935, dtype: object
9936, Date          2013-08-16
Time         12:12:48 AM
Latitude       41.962793
Longitude     -87.781997
Name: 9936, dtype: object
9937, Date          2013-08-16
Time         12:12:58 AM
Latitude       41.963253
Longitude      -87.78201
Name: 9937, dtype: object
9938, Date          2013-08-16
Time         12:13:08 AM
Latitude       41.963733
Longitude     -87.782007
Name: 9938, dtype: object
9939, Date          2013-08-16
Time         12:13:18 AM
Latitude       41.964247
Longitude     -87.782043
Name: 9939, dtype: object
9940, Date          2013-08-16
Time         12:13:28 AM
Latitude       41.964712
Longitude      -87.78197
Name: 9940, dtype: object
9941, Date          2013-08-16
Time         12:14:08 AM
Latitude       41.964613
Longitude     -87.782602
Name: 9941, dtype: object
9942, Date          2013-08-16
Time         12:14:18 AM
Latitude       41.964547
Longitude     -87.783212
Name: 9942, dtype: object
9943, Date          2013-08-16
Time         12:14:28 AM
Latitude       41.964053
Longitude     -87.783195
Name: 9943, dtype: object
9944, Date          2013-08-16
Time         12:14:38 AM
Latitude        41.96354
Longitude      -87.78319
Name: 9944, dtype: object
9945, Date          2013-08-16
Time         12:14:48 AM
Latitude        41.96303
Longitude     -87.783172
Name: 9945, dtype: object
9946, Date          2013-08-16
Time         12:14:58 AM
Latitude       41.962507
Longitude     -87.783167
Name: 9946, dtype: object
9947, Date          2013-08-16
Time         12:15:08 AM
Latitude        41.96204
Longitude     -87.783162
Name: 9947, dtype: object
9948, Date          2013-08-16
Time         12:15:28 AM
Latitude       41.961023
Longitude     -87.783098
Name: 9948, dtype: object
9949, Date          2013-08-16
Time         12:16:08 AM
Latitude        41.96032
Longitude     -87.782867
Name: 9949, dtype: object
9950, Date          2013-08-16
Time         12:16:18 AM
Latitude       41.960327
Longitude     -87.782133
Name: 9950, dtype: object
9951, Date          2013-08-16
Time         12:16:48 AM
Latitude        41.96033
Longitude     -87.781167
Name: 9951, dtype: object
9952, Date          2013-08-16
Time         12:17:08 AM
Latitude        41.96075
Longitude     -87.780703
Name: 9952, dtype: object
9953, Date          2013-08-16
Time         12:17:18 AM
Latitude       41.961103
Longitude     -87.780732
Name: 9953, dtype: object
9954, Date          2013-08-16
Time         12:17:28 AM
Latitude       41.961402
Longitude     -87.780747
Name: 9954, dtype: object
9955, Date          2013-08-16
Time         12:17:38 AM
Latitude        41.96175
Longitude     -87.780765
Name: 9955, dtype: object
9956, Date          2013-08-16
Time         12:17:48 AM
Latitude       41.962072
Longitude     -87.780767
Name: 9956, dtype: object
9957, Date          2013-08-16
Time         12:17:58 AM
Latitude       41.962488
Longitude     -87.780793
Name: 9957, dtype: object
9958, Date          2013-08-16
Time         12:18:08 AM
Latitude        41.96288
Longitude     -87.780807
Name: 9958, dtype: object
9959, Date          2013-08-16
Time         12:18:18 AM
Latitude       41.963332
Longitude     -87.780828
Name: 9959, dtype: object
9960, Date          2013-08-16
Time         12:18:28 AM
Latitude       41.963722
Longitude     -87.780817
Name: 9960, dtype: object
9961, Date          2013-08-16
Time         12:18:38 AM
Latitude       41.964132
Longitude     -87.780832
Name: 9961, dtype: object
9962, Date          2013-08-16
Time         12:18:48 AM
Latitude       41.964507
Longitude     -87.780845
Name: 9962, dtype: object
9963, Date          2013-08-16
Time         12:18:58 AM
Latitude        41.96459
Longitude     -87.780245
Name: 9963, dtype: object
9964, Date          2013-08-16
Time         12:00:01 AM
Latitude       41.911375
Longitude     -87.749617
Name: 9964, dtype: object
9965, Date          2013-08-16
Time         12:00:11 AM
Latitude       41.911398
Longitude     -87.748627
Name: 9965, dtype: object
9966, Date          2013-08-16
Time         12:00:31 AM
Latitude       41.911435
Longitude     -87.746675
Name: 9966, dtype: object
9967, Date          2013-08-16
Time         12:13:39 AM
Latitude       41.953913
Longitude     -87.778018
Name: 9967, dtype: object
9968, Date          2013-08-16
Time         12:13:49 AM
Latitude       41.954647
Longitude     -87.778028
Name: 9968, dtype: object
9969, Date          2013-08-16
Time         12:13:59 AM
Latitude       41.955365
Longitude     -87.778052
Name: 9969, dtype: object
9970, Date          2013-08-16
Time         12:14:09 AM
Latitude       41.956077
Longitude     -87.778095
Name: 9970, dtype: object
9971, Date          2013-08-16
Time         12:14:19 AM
Latitude       41.956623
Longitude     -87.778107
Name: 9971, dtype: object
9972, Date          2013-08-16
Time         12:14:29 AM
Latitude       41.957193
Longitude     -87.778145
Name: 9972, dtype: object
9973, Date          2013-08-16
Time         12:14:39 AM
Latitude       41.957722
Longitude     -87.778175
Name: 9973, dtype: object
9974, Date          2013-08-16
Time         12:14:49 AM
Latitude       41.958268
Longitude     -87.778197
Name: 9974, dtype: object
9975, Date          2013-08-16
Time         12:14:59 AM
Latitude        41.95879
Longitude      -87.77821
Name: 9975, dtype: object
9976, Date          2013-08-16
Time         12:15:09 AM
Latitude       41.959475
Longitude     -87.778243
Name: 9976, dtype: object
9977, Date          2013-08-16
Time         12:15:19 AM
Latitude       41.960063
Longitude     -87.778283
Name: 9977, dtype: object
9978, Date          2013-08-16
Time         12:15:39 AM
Latitude        41.96094
Longitude     -87.778312
Name: 9978, dtype: object
9979, Date          2013-08-16
Time         12:15:49 AM
Latitude       41.961608
Longitude     -87.778328
Name: 9979, dtype: object
9980, Date          2013-08-16
Time         12:15:59 AM
Latitude       41.962115
Longitude     -87.778357
Name: 9980, dtype: object
9981, Date          2013-08-16
Time         12:16:09 AM
Latitude        41.96286
Longitude     -87.778375
Name: 9981, dtype: object
9982, Date          2013-08-16
Time         12:16:19 AM
Latitude       41.963573
Longitude     -87.778395
Name: 9982, dtype: object
9983, Date          2013-08-16
Time         12:16:29 AM
Latitude        41.96426
Longitude     -87.778408
Name: 9983, dtype: object
9984, Date          2013-08-16
Time         12:16:49 AM
Latitude       41.964563
Longitude     -87.779308
Name: 9984, dtype: object
9985, Date          2013-08-16
Time         12:16:59 AM
Latitude       41.964275
Longitude     -87.779563
Name: 9985, dtype: object
9986, Date          2013-08-16
Time         12:17:09 AM
Latitude       41.963562
Longitude     -87.779553
Name: 9986, dtype: object
9987, Date          2013-08-16
Time         12:17:19 AM
Latitude       41.962787
Longitude     -87.779522
Name: 9987, dtype: object
9988, Date          2013-08-16
Time         12:17:29 AM
Latitude       41.962145
Longitude     -87.779517
Name: 9988, dtype: object
9989, Date          2013-08-16
Time         12:17:39 AM
Latitude       41.961627
Longitude     -87.779468
Name: 9989, dtype: object
9990, Date          2013-08-16
Time         12:17:49 AM
Latitude       41.960972
Longitude     -87.779463
Name: 9990, dtype: object
9991, Date          2013-08-16
Time         12:17:59 AM
Latitude        41.96042
Longitude     -87.779463
Name: 9991, dtype: object
9992, Date          2013-08-16
Time         12:18:09 AM
Latitude       41.960197
Longitude      -87.77945
Name: 9992, dtype: object
9993, Date          2013-08-16
Time         12:18:19 AM
Latitude       41.959478
Longitude     -87.779417
Name: 9993, dtype: object
9994, Date          2013-08-16
Time         12:18:29 AM
Latitude       41.958767
Longitude       -87.7794
Name: 9994, dtype: object
9995, Date          2013-08-16
Time         12:18:39 AM
Latitude         41.9582
Longitude     -87.779388
Name: 9995, dtype: object
9996, Date          2013-08-16
Time         12:18:49 AM
Latitude       41.957452
Longitude     -87.779362
Name: 9996, dtype: object
9997, Date          2013-08-16
Time         12:18:59 AM
Latitude        41.95684
Longitude     -87.779352
Name: 9997, dtype: object
9998, Date          2013-08-16
Time         12:19:09 AM
Latitude       41.956292
Longitude     -87.779318
Name: 9998, dtype: object
9999, Date          2013-08-16
Time         12:19:19 AM
Latitude       41.955585
Longitude     -87.779295
Name: 9999, dtype: object
10000, Date          2013-08-16
Time         12:19:29 AM
Latitude       41.954945
Longitude     -87.779273
Name: 10000, dtype: object
10001, Date          2013-08-16
Time         12:19:39 AM
Latitude       41.954297
Longitude     -87.779257
Name: 10001, dtype: object
10002, Date          2013-08-16
Time         12:19:49 AM

10229, Date         2013-08-22
Time         9:03:35 PM
Latitude      41.891455
Longitude    -87.705217
Name: 10229, dtype: object
10230, Date         2013-08-22
Time         9:03:45 PM
Latitude      41.891887
Longitude    -87.705232
Name: 10230, dtype: object
10231, Date         2013-08-22
Time         9:03:55 PM
Latitude      41.892423
Longitude    -87.705268
Name: 10231, dtype: object
10232, Date         2013-08-22
Time         9:04:05 PM
Latitude      41.892935
Longitude    -87.705302
Name: 10232, dtype: object
10233, Date         2013-08-22
Time         9:04:15 PM
Latitude      41.893433
Longitude    -87.705318
Name: 10233, dtype: object
10234, Date         2013-08-22
Time         9:04:25 PM
Latitude      41.893953
Longitude     -87.70534
Name: 10234, dtype: object
10235, Date         2013-08-22
Time         9:04:35 PM
Latitude      41.894495
Longitude    -87.705358
Name: 10235, dtype: object
10236, Date         2013-08-22
Time         9:04:45 PM
Latitude      41.895025
Longitude     -87.70537
Name: 10236, dtype: object
10237, Date         2013-08-22
Time         9:06:05 PM
Latitude      41.895255
Longitude     -87.71269
Name: 10237, dtype: object
10238, Date         2013-08-22
Time         9:06:15 PM
Latitude      41.894768
Longitude    -87.712662
Name: 10238, dtype: object
10239, Date         2013-08-22
Time         9:06:25 PM
Latitude      41.894333
Longitude    -87.712617
Name: 10239, dtype: object
10240, Date         2013-08-22
Time         9:06:35 PM
Latitude      41.893883
Longitude    -87.712592
Name: 10240, dtype: object
10241, Date         2013-08-22
Time         9:06:45 PM
Latitude      41.893562
Longitude    -87.712577
Name: 10241, dtype: object
10242, Date         2013-08-22
Time         9:06:55 PM
Latitude      41.893172
Longitude    -87.712572
Name: 10242, dtype: object
10243, Date         2013-08-22
Time         9:07:05 PM
Latitude      41.892667
Longitude     -87.71254
Name: 10243, dtype: object
10244, Date         2013-08-22
Time         9:07:15 PM
Latitude      41.892182
Longitude    -87.712542
Name: 10244, dtype: object
10245, Date         2013-08-22
Time         9:07:25 PM
Latitude      41.891697
Longitude    -87.712532
Name: 10245, dtype: object
10246, Date         2013-08-22
Time         9:07:35 PM
Latitude      41.891257
Longitude      -87.7125
Name: 10246, dtype: object
10247, Date         2013-08-22
Time         9:07:45 PM
Latitude      41.890817
Longitude    -87.712492
Name: 10247, dtype: object
10248, Date         2013-08-22
Time         9:07:55 PM
Latitude       41.89036
Longitude     -87.71261
Name: 10248, dtype: object
10249, Date         2013-08-22
Time         9:08:05 PM
Latitude      41.890343
Longitude    -87.713275
Name: 10249, dtype: object
10250, Date         2013-08-22
Time         9:08:15 PM
Latitude      41.890492
Longitude    -87.713723
Name: 10250, dtype: object
10251, Date         2013-08-22
Time         9:08:25 PM
Latitude      41.890947
Longitude    -87.713773
Name: 10251, dtype: object
10252, Date         2013-08-22
Time         9:08:35 PM
Latitude      41.891265
Longitude    -87.713763
Name: 10252, dtype: object
10253, Date         2013-08-22
Time         9:08:45 PM
Latitude      41.891615
Longitude     -87.71382
Name: 10253, dtype: object
10254, Date         2013-08-22
Time         9:08:55 PM
Latitude       41.89216
Longitude    -87.713842
Name: 10254, dtype: object
10255, Date         2013-08-22
Time         9:09:05 PM
Latitude      41.892605
Longitude    -87.713868
Name: 10255, dtype: object
10256, Date         2013-08-22
Time         9:09:15 PM
Latitude      41.893035
Longitude    -87.713883
Name: 10256, dtype: object
10257, Date         2013-08-22
Time         9:09:25 PM
Latitude      41.893432
Longitude    -87.713897
Name: 10257, dtype: object
10258, Date         2013-08-22
Time         9:09:35 PM
Latitude      41.893877
Longitude    -87.713913
Name: 10258, dtype: object
10259, Date         2013-08-22
Time         9:09:45 PM
Latitude      41.894322
Longitude    -87.713947
Name: 10259, dtype: object
10260, Date         2013-08-22
Time         9:09:55 PM
Latitude      41.894768
Longitude    -87.713942
Name: 10260, dtype: object
10261, Date         2013-08-22
Time         9:10:15 PM
Latitude      41.895287
Longitude    -87.715045
Name: 10261, dtype: object
10262, Date         2013-08-22
Time         9:10:25 PM
Latitude      41.894827
Longitude    -87.715132
Name: 10262, dtype: object
10263, Date         2013-08-22
Time         9:10:35 PM
Latitude      41.894418
Longitude    -87.715112
Name: 10263, dtype: object
10264, Date         2013-08-22
Time         9:10:45 PM
Latitude      41.894068
Longitude    -87.715078
Name: 10264, dtype: object
10265, Date         2013-08-22
Time         9:10:55 PM
Latitude      41.893942
Longitude    -87.714818
Name: 10265, dtype: object
10266, Date         2013-08-22
Time         9:11:45 PM
Latitude      41.894763
Longitude    -87.715125
Name: 10266, dtype: object
10267, Date         2013-08-22
Time         9:11:55 PM
Latitude      41.894858
Longitude    -87.714748
Name: 10267, dtype: object
10268, Date         2013-08-22
Time         9:12:05 PM
Latitude      41.894698
Longitude    -87.714513
Name: 10268, dtype: object
10269, Date         2013-08-22
Time         9:12:15 PM
Latitude      41.894337
Longitude      -87.7145
Name: 10269, dtype: object
10270, Date         2013-08-22
Time         9:12:35 PM
Latitude      41.894048
Longitude    -87.714745
Name: 10270, dtype: object
10271, Date         2013-08-22
Time         9:13:35 PM
Latitude       41.89528
Longitude    -87.715733
Name: 10271, dtype: object
10272, Date         2013-08-22
Time         9:13:45 PM
Latitude       41.89487
Longitude    -87.715722
Name: 10272, dtype: object
10273, Date         2013-08-22
Time         9:13:55 PM
Latitude      41.894468
Longitude    -87.715705
Name: 10273, dtype: object
10274, Date         2013-08-22
Time         9:14:05 PM
Latitude      41.894108
Longitude    -87.715678
Name: 10274, dtype: object
10275, Date         2013-08-22
Time         9:14:15 PM
Latitude      41.893705
Longitude    -87.715667
Name: 10275, dtype: object
10276, Date         2013-08-22
Time         9:14:25 PM
Latitude       41.89357
Longitude    -87.715218
Name: 10276, dtype: object
10277, Date         2013-08-22
Time         9:14:35 PM
Latitude      41.893147
Longitude    -87.715055
Name: 10277, dtype: object
10278, Date         2013-08-22
Time         9:14:45 PM
Latitude      41.892738
Longitude    -87.715015
Name: 10278, dtype: object
10279, Date         2013-08-22
Time         9:14:55 PM
Latitude      41.892293
Longitude    -87.715002
Name: 10279, dtype: object
10280, Date         2013-08-22
Time         9:15:05 PM
Latitude      41.891873
Longitude    -87.714992
Name: 10280, dtype: object
10281, Date         2013-08-22
Time         9:15:15 PM
Latitude      41.891317
Longitude    -87.714975
Name: 10281, dtype: object
10282, Date         2013-08-22
Time         9:15:25 PM
Latitude      41.890712
Longitude    -87.714945
Name: 10282, dtype: object
10283, Date         2013-08-22
Time         9:15:35 PM
Latitude      41.890305
Longitude    -87.715103
Name: 10283, dtype: object
10284, Date         2013-08-22
Time         9:15:45 PM
Latitude      41.890297
Longitude    -87.716012
Name: 10284, dtype: object
10285, Date         2013-08-22
Time         9:15:55 PM
Latitude      41.890787
Longitude    -87.716142
Name: 10285, dtype: object
10286, Date         2013-08-22
Time         9:16:05 PM
Latitude      41.891398
Longitude    -87.716168
Name: 10286, dtype: object
10287, Date         2013-08-22
Time         9:16:15 PM
Latitude      41.891963
Longitude    -87.716195
Name: 10287, dtype: object
10288, Date         2013-08-22
Time         9:16:25 PM
Latitude      41.892495
Longitude     -87.71624
Name: 10288, dtype: object
10289, Date         2013-08-22
Time         9:16:35 PM
Latitude      41.893072
Longitude    -87.716262
Name: 10289, dtype: object
10290, Date         2013-08-22
Time         9:16:45 PM
Latitude      41.893548
Longitude    -87.716272
Name: 10290, dtype: object
10291, Date         2013-08-22
Time         9:16:55 PM
Latitude      41.894118
Longitude    -87.716298
Name: 10291, dtype: object
10292, Date         2013-08-22
Time         9:17:35 PM
Latitude      41.895437
Longitude     -87.71857
Name: 10292, dtype: object
10293, Date         2013-08-22
Time         9:17:45 PM
Latitude      41.895195
Longitude     -87.71878
Name: 10293, dtype: object
10294, Date         2013-08-22
Time         9:17:55 PM
Latitude       41.89472
Longitude    -87.718753
Name: 10294, dtype: object
10295, Date         2013-08-22
Time         9:18:05 PM
Latitude      41.894273
Longitude    -87.718747
Name: 10295, dtype: object
10296, Date         2013-08-22
Time         9:18:15 PM
Latitude      41.893772
Longitude    -87.718737
Name: 10296, dtype: object
10297, Date         2013-08-22
Time         9:18:35 PM
Latitude       41.89284
Longitude    -87.718685
Name: 10297, dtype: object
10298, Date         2013-08-22
Time         9:18:45 PM
Latitude      41.892403
Longitude    -87.718673
Name: 10298, dtype: object
10299, Date         2013-08-22
Time         9:18:55 PM
Latitude      41.891942
Longitude    -87.718648
Name: 10299, dtype: object
10300, Date         2013-08-22
Time         9:19:05 PM
Latitude       41.89148
Longitude    -87.718632
Name: 10300, dtype: object
10301, Date         2013-08-22
Time         9:19:15 PM
Latitude      41.891002
Longitude    -87.718625
Name: 10301, dtype: object
10302, Date         2013-08-22
Time         9:19:25 PM
Latitude      41.890555
Longitude    -87.718597
Name: 10302, dtype: object
10303, Date         2013-08-22
Time         9:19:35 PM
Latitude      41.890063
Longitude    -87.718585
Name: 10303, dtype: object
10304, Date         2013-08-22
Time         9:19:45 PM
Latitude      41.889587
Longitude    -87.718558
Name: 10304, dtype: object
10305, Date         2013-08-22
Time         9:19:55 PM
Latitude      41.889162
Longitude    -87.718528
Name: 10305, dtype: object
10306, Date         2013-08-22
Time         9:20:45 PM
Latitude      41.889972
Longitude    -87.718563
Name: 10306, dtype: object
10307, Date         2013-08-22
Time         9:20:55 PM
Latitude      41.890038
Longitude    -87.717915
Name: 10307, dtype: object
10308, Date         2013-08-22
Time         9:21:05 PM
Latitude      41.890347
Longitude    -87.717487
Name: 10308, dtype: object
10309, Date         2013-08-22
Time         9:21:15 PM
Latitude      41.890785
Longitude    -87.717482
Name: 10309, dtype: object
10310, Date         2013-08-22
Time         9:21:25 PM
Latitude      41.891197
Longitude    -87.717482
Name: 10310, dtype: object
10311, Date         2013-08-22
Time         9:21:35 PM
Latitude      41.891653
Longitude    -87.717502
Name: 10311, dtype: object
10312, Date         2013-08-22
Time         9:21:45 PM
Latitude      41.892092
Longitude    -87.717512
Name: 10312, dtype: object
10313, Date         2013-08-22
Time         9:21:55 PM
Latitude      41.892542
Longitude    -87.717517
Name: 10313, dtype: object
10314, Date         2013-08-22
Time         9:22:05 PM
Latitude         41.893
Longitude    -87.717528
Name: 10314, dtype: object
10315, Date         2013-08-22
Time         9:22:25 PM
Latitude      41.894003
Longitude     -87.71758
Name: 10315, dtype: object
10316, Date         2013-08-22
Time         9:22:45 PM
Latitude      41.894807
Longitude    -87.717617
Name: 10316, dtype: object
10317, Date         2013-08-22
Time         9:24:05 PM
Latitude      41.894695
Longitude     -87.72125
Name: 10317, dtype: object
10318, Date         2013-08-22
Time         9:24:15 PM
Latitude      41.894102
Longitude    -87.721233
Name: 10318, dtype: object
10319, Date         2013-08-22
Time         9:24:25 PM
Latitude      41.893652
Longitude     -87.72121
Name: 10319, dtype: object
10320, Date         2013-08-22
Time         9:24:35 PM
Latitude      41.893025
Longitude    -87.721193
Name: 10320, dtype: object
10321, Date         2013-08-22
Time         9:24:45 PM
Latitude      41.892315
Longitude    -87.721165
Name: 10321, dtype: object
10322, Date         2013-08-22
Time         9:24:55 PM
Latitude      41.891712
Longitude    -87.721138
Name: 10322, dtype: object
10323, Date         2013-08-22
Time         9:25:05 PM
Latitude      41.891105
Longitude    -87.721117
Name: 10323, dtype: object
10324, Date         2013-08-22
Time         9:25:15 PM
Latitude      41.890503
Longitude    -87.721105
Name: 10324, dtype: object
10325, Date         2013-08-22
Time         9:25:25 PM
Latitude      41.889985
Longitude    -87.720928
Name: 10325, dtype: object
10326, Date         2013-08-22
Time         9:25:35 PM
Latitude      41.889967
Longitude    -87.720128
Name: 10326, dtype: object
10327, Date         2013-08-22
Time         9:25:45 PM
Latitude      41.890128
Longitude    -87.719885
Name: 10327, dtype: object
10328, Date         2013-08-22
Time         9:25:55 PM
Latitude      41.890642
Longitude    -87.719893
Name: 10328, dtype: object
10329, Date         2013-08-22
Time         9:26:05 PM
Latitude      41.891193
Longitude    -87.719902
Name: 10329, dtype: object
10330, Date         2013-08-22
Time         9:26:15 PM
Latitude      41.891672
Longitude    -87.719903
Name: 10330, dtype: object
10331, Date         2013-08-22
Time         9:26:25 PM
Latitude      41.892172
Longitude    -87.719932
Name: 10331, dtype: object
10332, Date         2013-08-22
Time         9:26:35 PM
Latitude      41.892572
Longitude    -87.719937
Name: 10332, dtype: object
10333, Date         2013-08-22
Time         9:26:45 PM
Latitude       41.89307
Longitude    -87.719928
Name: 10333, dtype: object
10334, Date         2013-08-22
Time         9:26:55 PM
Latitude      41.893573
Longitude    -87.719943
Name: 10334, dtype: object
10335, Date         2013-08-22
Time         9:27:05 PM
Latitude      41.894022
Longitude     -87.71998
Name: 10335, dtype: object
10336, Date         2013-08-22
Time         9:27:15 PM
Latitude       41.89448
Longitude     -87.71997
Name: 10336, dtype: object
10337, Date         2013-08-22
Time         9:28:15 PM
Latitude      41.895017
Longitude    -87.722433
Name: 10337, dtype: object
10338, Date         2013-08-22
Time         9:28:25 PM
Latitude      41.894603
Longitude    -87.722393
Name: 10338, dtype: object
10339, Date         2013-08-22
Time         9:28:35 PM
Latitude      41.894122
Longitude    -87.722377
Name: 10339, dtype: object
10340, Date         2013-08-22
Time         9:28:45 PM
Latitude      41.893618
Longitude    -87.722353
Name: 10340, dtype: object
10341, Date         2013-08-22
Time         9:28:55 PM
Latitude      41.893242
Longitude    -87.722338
Name: 10341, dtype: object
10342, Date         2013-08-22
Time         9:29:15 PM
Latitude      41.892817
Longitude    -87.722333
Name: 10342, dtype: object
10343, Date         2013-08-22
Time         9:29:25 PM
Latitude      41.892503
Longitude    -87.722325
Name: 10343, dtype: object
10344, Date         2013-08-22
Time         9:29:35 PM
Latitude      41.892005
Longitude    -87.722295
Name: 10344, dtype: object
10345, Date         2013-08-22
Time         9:29:45 PM
Latitude      41.891485
Longitude     -87.72228
Name: 10345, dtype: object
10346, Date         2013-08-22
Time         9:29:55 PM
Latitude      41.891017
Longitude    -87.722253
Name: 10346, dtype: object
10347, Date         2013-08-22
Time         9:30:05 PM
Latitude      41.890467
Longitude     -87.72222
Name: 10347, dtype: object
10348, Date         2013-08-22
Time         9:30:15 PM
Latitude       41.89003
Longitude    -87.722248
Name: 10348, dtype: object
10349, Date         2013-08-22
Time         9:30:25 PM
Latitude      41.889998
Longitude    -87.722938
Name: 10349, dtype: object
10350, Date         2013-08-22
Time         9:30:35 PM
Latitude      41.890128
Longitude    -87.723443
Name: 10350, dtype: object
10351, Date         2013-08-22
Time         9:30:45 PM
Latitude      41.890468
Longitude     -87.72344
Name: 10351, dtype: object
10352, Date         2013-08-22
Time         9:31:35 PM
Latitude       41.89084
Longitude     -87.72347
Name: 10352, dtype: object
10353, Date         2013-08-22
Time         9:31:45 PM
Latitude      41.891295
Longitude    -87.723472
Name: 10353, dtype: object
10354, Date         2013-08-22
Time         9:31:55 PM
Latitude      41.891778
Longitude    -87.723468
Name: 10354, dtype: object
10355, Date         2013-08-22
Time         9:32:05 PM
Latitude      41.892303
Longitude    -87.723483
Name: 10355, dtype: object
10356, Date         2013-08-22
Time         9:32:25 PM
Latitude      41.893022
Longitude    -87.723513
Name: 10356, dtype: object
10357, Date         2013-08-22
Time         9:32:35 PM
Latitude      41.893512
Longitude    -87.723535
Name: 10357, dtype: object
10358, Date         2013-08-22
Time         9:32:45 PM
Latitude      41.893998
Longitude     -87.72357
Name: 10358, dtype: object
10359, Date         2013-08-22
Time         9:32:55 PM
Latitude      41.894435
Longitude    -87.723573
Name: 10359, dtype: object
10360, Date         2013-08-22
Time         9:33:25 PM
Latitude      41.895042
Longitude    -87.724837
Name: 10360, dtype: object
10361, Date         2013-08-22
Time         9:33:35 PM
Latitude      41.894562
Longitude    -87.724818
Name: 10361, dtype: object
10362, Date         2013-08-22
Time         9:33:45 PM
Latitude       41.89414
Longitude      -87.7248
Name: 10362, dtype: object
10363, Date         2013-08-22
Time         9:33:55 PM
Latitude      41.893603
Longitude    -87.724795
Name: 10363, dtype: object
10364, Date         2013-08-22
Time         9:34:05 PM
Latitude      41.893137
Longitude    -87.724815
Name: 10364, dtype: object
10365, Date         2013-08-22
Time         9:34:15 PM
Latitude      41.892578
Longitude     -87.72478
Name: 10365, dtype: object
10366, Date         2013-08-22
Time         9:34:25 PM
Latitude       41.89208
Longitude    -87.724765
Name: 10366, dtype: object
10367, Date         2013-08-22
Time         9:34:35 PM
Latitude      41.891637
Longitude    -87.724742
Name: 10367, dtype: object
10368, Date         2013-08-22
Time         9:34:45 PM
Latitude      41.891183
Longitude    -87.724715
Name: 10368, dtype: object
10369, Date         2013-08-22
Time         9:34:55 PM
Latitude      41.890647
Longitude    -87.724695
Name: 10369, dtype: object
10370, Date         2013-08-22
Time         9:35:05 PM
Latitude      41.890145
Longitude    -87.724738
Name: 10370, dtype: object
10371, Date         2013-08-22
Time         9:35:15 PM
Latitude       41.89012
Longitude    -87.725548
Name: 10371, dtype: object
10372, Date         2013-08-22
Time         9:35:35 PM
Latitude      41.890805
Longitude    -87.725837
Name: 10372, dtype: object
10373, Date         2013-08-22
Time         9:35:45 PM
Latitude      41.891413
Longitude    -87.725857
Name: 10373, dtype: object
10374, Date         2013-08-22
Time         9:35:55 PM
Latitude      41.891872
Longitude    -87.725738
Name: 10374, dtype: object
10375, Date         2013-08-22
Time         9:36:05 PM
Latitude       41.89188
Longitude    -87.725092
Name: 10375, dtype: object
10376, Date         2013-08-22
Time         9:36:15 PM
Latitude      41.891862
Longitude    -87.724495
Name: 10376, dtype: object
10377, Date         2013-08-22
Time         9:36:25 PM
Latitude      41.891868
Longitude    -87.723743
Name: 10377, dtype: object
10378, Date         2013-08-22
Time         9:36:35 PM
Latitude       41.89186
Longitude     -87.72299
Name: 10378, dtype: object
10379, Date         2013-08-22
Time         9:36:45 PM
Latitude      41.891855
Longitude    -87.722212
Name: 10379, dtype: object
10380, Date         2013-08-22
Time         9:36:55 PM
Latitude       41.89183
Longitude    -87.721388
Name: 10380, dtype: object
10381, Date         2013-08-22
Time         9:37:05 PM
Latitude       41.89182
Longitude    -87.720603
Name: 10381, dtype: object
10382, Date         2013-08-22
Time         9:37:15 PM
Latitude       41.89182
Longitude    -87.719932

10613, Date         2013-08-22
Time         9:08:58 PM
Latitude      41.878877
Longitude    -87.724862
Name: 10613, dtype: object
10614, Date         2013-08-22
Time         9:09:08 PM
Latitude      41.878915
Longitude    -87.724217
Name: 10614, dtype: object
10615, Date         2013-08-22
Time         9:09:18 PM
Latitude      41.878918
Longitude    -87.723653
Name: 10615, dtype: object
10616, Date         2013-08-22
Time         9:09:38 PM
Latitude      41.878903
Longitude    -87.722623
Name: 10616, dtype: object
10617, Date         2013-08-22
Time         9:09:48 PM
Latitude       41.87891
Longitude    -87.721955
Name: 10617, dtype: object
10618, Date         2013-08-22
Time         9:09:58 PM
Latitude      41.878923
Longitude    -87.721303
Name: 10618, dtype: object
10619, Date         2013-08-22
Time         9:10:08 PM
Latitude      41.878868
Longitude    -87.720975
Name: 10619, dtype: object
10620, Date         2013-08-22
Time         9:10:28 PM
Latitude      41.878043
Longitude    -87.721497
Name: 10620, dtype: object
10621, Date         2013-08-22
Time         9:10:38 PM
Latitude      41.878047
Longitude    -87.722073
Name: 10621, dtype: object
10622, Date         2013-08-22
Time         9:10:48 PM
Latitude      41.878045
Longitude    -87.722675
Name: 10622, dtype: object
10623, Date         2013-08-22
Time         9:10:58 PM
Latitude      41.878042
Longitude    -87.723402
Name: 10623, dtype: object
10624, Date         2013-08-22
Time         9:11:08 PM
Latitude      41.878042
Longitude    -87.724105
Name: 10624, dtype: object
10625, Date         2013-08-22
Time         9:11:18 PM
Latitude       41.87804
Longitude    -87.724705
Name: 10625, dtype: object
10626, Date         2013-08-22
Time         9:11:28 PM
Latitude      41.878032
Longitude     -87.72533
Name: 10626, dtype: object
10627, Date         2013-08-22
Time         9:12:28 PM
Latitude      41.878028
Longitude     -87.72675
Name: 10627, dtype: object
10628, Date         2013-08-22
Time         9:12:38 PM
Latitude      41.878023
Longitude    -87.727578
Name: 10628, dtype: object
10629, Date         2013-08-22
Time         9:12:48 PM
Latitude      41.878027
Longitude      -87.7282
Name: 10629, dtype: object
10630, Date         2013-08-22
Time         9:12:58 PM
Latitude      41.878017
Longitude    -87.728992
Name: 10630, dtype: object
10631, Date         2013-08-22
Time         9:13:08 PM
Latitude       41.87801
Longitude     -87.72992
Name: 10631, dtype: object
10632, Date         2013-08-22
Time         9:13:18 PM
Latitude      41.877882
Longitude    -87.730433
Name: 10632, dtype: object
10633, Date         2013-08-22
Time         9:13:28 PM
Latitude      41.877102
Longitude    -87.730398
Name: 10633, dtype: object
10634, Date         2013-08-22
Time         9:13:38 PM
Latitude       41.87643
Longitude     -87.73038
Name: 10634, dtype: object
10635, Date         2013-08-22
Time         9:13:48 PM
Latitude      41.875802
Longitude    -87.730362
Name: 10635, dtype: object
10636, Date         2013-08-22
Time         9:13:58 PM
Latitude      41.875232
Longitude    -87.730358
Name: 10636, dtype: object
10637, Date         2013-08-22
Time         9:14:08 PM
Latitude       41.87478
Longitude    -87.730363
Name: 10637, dtype: object
10638, Date         2013-08-22
Time         9:14:18 PM
Latitude      41.874483
Longitude    -87.730365
Name: 10638, dtype: object
10639, Date         2013-08-22
Time         9:14:28 PM
Latitude      41.873807
Longitude    -87.730333
Name: 10639, dtype: object
10640, Date         2013-08-22
Time         9:14:38 PM
Latitude      41.873487
Longitude     -87.73004
Name: 10640, dtype: object
10641, Date         2013-08-22
Time         9:14:48 PM
Latitude      41.873495
Longitude    -87.729027
Name: 10641, dtype: object
10642, Date         2013-08-22
Time         9:14:58 PM
Latitude      41.873502
Longitude    -87.727958
Name: 10642, dtype: object
10643, Date         2013-08-22
Time         9:15:08 PM
Latitude      41.873503
Longitude    -87.726968
Name: 10643, dtype: object
10644, Date         2013-08-22
Time         9:15:28 PM
Latitude       41.87352
Longitude    -87.724582
Name: 10644, dtype: object
10645, Date         2013-08-22
Time         9:15:38 PM
Latitude      41.873527
Longitude    -87.723533
Name: 10645, dtype: object
10646, Date         2013-08-22
Time         9:15:48 PM
Latitude      41.873548
Longitude    -87.722495
Name: 10646, dtype: object
10647, Date         2013-08-22
Time         9:17:18 PM
Latitude      41.873767
Longitude    -87.715692
Name: 10647, dtype: object
10648, Date         2013-08-22
Time         9:17:28 PM
Latitude      41.874217
Longitude    -87.715717
Name: 10648, dtype: object
10649, Date         2013-08-22
Time         9:17:38 PM
Latitude      41.874485
Longitude    -87.715822
Name: 10649, dtype: object
10650, Date         2013-08-22
Time         9:17:48 PM
Latitude      41.874518
Longitude     -87.71666
Name: 10650, dtype: object
10651, Date         2013-08-22
Time         9:17:58 PM
Latitude      41.874828
Longitude    -87.716962
Name: 10651, dtype: object
10652, Date         2013-08-22
Time         9:18:18 PM
Latitude      41.875337
Longitude    -87.716985
Name: 10652, dtype: object
10653, Date         2013-08-22
Time         9:18:28 PM
Latitude      41.875497
Longitude    -87.716402
Name: 10653, dtype: object
10654, Date         2013-08-22
Time         9:19:08 PM
Latitude      41.875472
Longitude    -87.715778
Name: 10654, dtype: object
10655, Date         2013-08-22
Time         9:19:18 PM
Latitude      41.875393
Longitude    -87.715115
Name: 10655, dtype: object
10656, Date         2013-08-22
Time         9:19:28 PM
Latitude      41.875392
Longitude    -87.714472
Name: 10656, dtype: object
10657, Date         2013-08-22
Time         9:19:58 PM
Latitude        41.8754
Longitude    -87.714042
Name: 10657, dtype: object
10658, Date         2013-08-22
Time         9:20:08 PM
Latitude      41.875407
Longitude    -87.713492
Name: 10658, dtype: object
10659, Date         2013-08-22
Time         9:20:18 PM
Latitude      41.875425
Longitude      -87.7131
Name: 10659, dtype: object
10660, Date         2013-08-22
Time         9:20:28 PM
Latitude      41.875753
Longitude     -87.71305
Name: 10660, dtype: object
10661, Date         2013-08-22
Time         9:20:38 PM
Latitude      41.876312
Longitude     -87.71307
Name: 10661, dtype: object
10662, Date         2013-08-22
Time         9:20:48 PM
Latitude      41.876297
Longitude    -87.713563
Name: 10662, dtype: object
10663, Date         2013-08-22
Time         9:20:58 PM
Latitude      41.876043
Longitude    -87.714482
Name: 10663, dtype: object
10664, Date         2013-08-22
Time         9:21:08 PM
Latitude      41.875813
Longitude    -87.715308
Name: 10664, dtype: object
10665, Date         2013-08-22
Time         9:21:18 PM
Latitude      41.876073
Longitude    -87.715773
Name: 10665, dtype: object
10666, Date         2013-08-22
Time         9:21:28 PM
Latitude      41.876958
Longitude    -87.715777
Name: 10666, dtype: object
10667, Date         2013-08-22
Time         9:22:08 PM
Latitude      41.876825
Longitude    -87.713562
Name: 10667, dtype: object
10668, Date         2013-08-22
Time         9:22:18 PM
Latitude      41.876357
Longitude    -87.713488
Name: 10668, dtype: object
10669, Date         2013-08-22
Time         9:22:28 PM
Latitude       41.87654
Longitude    -87.712657
Name: 10669, dtype: object
10670, Date         2013-08-22
Time         9:22:38 PM
Latitude       41.87682
Longitude     -87.71174
Name: 10670, dtype: object
10671, Date         2013-08-22
Time         9:22:48 PM
Latitude      41.876922
Longitude    -87.710998
Name: 10671, dtype: object
10672, Date         2013-08-22
Time         9:22:58 PM
Latitude      41.876215
Longitude    -87.710957
Name: 10672, dtype: object
10673, Date         2013-08-22
Time         9:23:08 PM
Latitude      41.875532
Longitude     -87.71095
Name: 10673, dtype: object
10674, Date         2013-08-22
Time         9:23:18 PM
Latitude      41.875438
Longitude    -87.711572
Name: 10674, dtype: object
10675, Date         2013-08-22
Time         9:23:28 PM
Latitude        41.8756
Longitude    -87.711937
Name: 10675, dtype: object
10676, Date         2013-08-22
Time         9:23:38 PM
Latitude      41.876005
Longitude    -87.711952
Name: 10676, dtype: object
10677, Date         2013-08-22
Time         9:23:48 PM
Latitude      41.876472
Longitude    -87.711943
Name: 10677, dtype: object
10678, Date         2013-08-22
Time         9:23:58 PM
Latitude      41.876627
Longitude    -87.711913
Name: 10678, dtype: object
10679, Date         2013-08-22
Time         9:24:08 PM
Latitude      41.876848
Longitude    -87.711242
Name: 10679, dtype: object
10680, Date         2013-08-22
Time         9:24:48 PM
Latitude      41.878163
Longitude    -87.710948
Name: 10680, dtype: object
10681, Date         2013-08-22
Time         9:24:58 PM
Latitude      41.878248
Longitude    -87.711678
Name: 10681, dtype: object
10682, Date         2013-08-22
Time         9:25:08 PM
Latitude      41.878267
Longitude     -87.71254
Name: 10682, dtype: object
10683, Date         2013-08-22
Time         9:25:18 PM
Latitude       41.87828
Longitude    -87.713347
Name: 10683, dtype: object
10684, Date         2013-08-22
Time         9:25:28 PM
Latitude      41.878307
Longitude    -87.714242
Name: 10684, dtype: object
10685, Date         2013-08-22
Time         9:25:38 PM
Latitude      41.878298
Longitude    -87.715128
Name: 10685, dtype: object
10686, Date         2013-08-22
Time         9:25:48 PM
Latitude      41.878383
Longitude    -87.715738
Name: 10686, dtype: object
10687, Date         2013-08-22
Time         9:25:58 PM
Latitude      41.879112
Longitude    -87.715783
Name: 10687, dtype: object
10688, Date         2013-08-22
Time         9:26:08 PM
Latitude      41.879517
Longitude     -87.71558
Name: 10688, dtype: object
10689, Date         2013-08-22
Time         9:26:18 PM
Latitude      41.879548
Longitude    -87.714825
Name: 10689, dtype: object
10690, Date         2013-08-22
Time         9:26:28 PM
Latitude      41.879528
Longitude    -87.713933
Name: 10690, dtype: object
10691, Date         2013-08-22
Time         9:26:38 PM
Latitude      41.879547
Longitude    -87.713003
Name: 10691, dtype: object
10692, Date         2013-08-22
Time         9:26:48 PM
Latitude      41.879565
Longitude    -87.712088
Name: 10692, dtype: object
10693, Date         2013-08-22
Time         9:26:58 PM
Latitude      41.879573
Longitude    -87.711377
Name: 10693, dtype: object
10694, Date         2013-08-22
Time         9:27:08 PM
Latitude      41.879577
Longitude    -87.710807
Name: 10694, dtype: object
10695, Date         2013-08-22
Time         9:27:18 PM
Latitude      41.879615
Longitude    -87.710297
Name: 10695, dtype: object
10696, Date         2013-08-22
Time         9:27:28 PM
Latitude       41.87964
Longitude    -87.709772
Name: 10696, dtype: object
10697, Date         2013-08-22
Time         9:27:38 PM
Latitude      41.879668
Longitude     -87.70921
Name: 10697, dtype: object
10698, Date         2013-08-22
Time         9:27:48 PM
Latitude      41.879473
Longitude    -87.709015
Name: 10698, dtype: object
10699, Date         2013-08-22
Time         9:28:08 PM
Latitude      41.878958
Longitude    -87.708997
Name: 10699, dtype: object
10700, Date         2013-08-22
Time         9:28:28 PM
Latitude      41.878447
Longitude    -87.709015
Name: 10700, dtype: object
10701, Date         2013-08-22
Time         9:28:38 PM
Latitude      41.878405
Longitude    -87.709453
Name: 10701, dtype: object
10702, Date         2013-08-22
Time         9:28:48 PM
Latitude      41.878397
Longitude    -87.709917
Name: 10702, dtype: object
10703, Date         2013-08-22
Time         9:28:58 PM
Latitude      41.878382
Longitude    -87.710282
Name: 10703, dtype: object
10704, Date         2013-08-22
Time         9:29:08 PM
Latitude      41.878377
Longitude    -87.710625
Name: 10704, dtype: object
10705, Date         2013-08-22
Time         9:29:48 PM
Latitude      41.877398
Longitude     -87.71101
Name: 10705, dtype: object
10706, Date         2013-08-22
Time         9:29:58 PM
Latitude      41.877322
Longitude     -87.71171
Name: 10706, dtype: object
10707, Date         2013-08-22
Time         9:30:08 PM
Latitude       41.87731
Longitude    -87.712698
Name: 10707, dtype: object
10708, Date         2013-08-22
Time         9:30:18 PM
Latitude      41.877343
Longitude    -87.713477
Name: 10708, dtype: object
10709, Date         2013-08-22
Time         9:30:28 PM
Latitude      41.877888
Longitude    -87.713522
Name: 10709, dtype: object
10710, Date         2013-08-22
Time         9:30:38 PM
Latitude      41.878478
Longitude    -87.713575
Name: 10710, dtype: object
10711, Date         2013-08-22
Time         9:30:48 PM
Latitude      41.879012
Longitude    -87.713627
Name: 10711, dtype: object
10712, Date         2013-08-22
Time         9:30:58 PM
Latitude      41.879523
Longitude     -87.71362
Name: 10712, dtype: object
10713, Date         2013-08-22
Time         9:31:08 PM
Latitude      41.880065
Longitude     -87.71362
Name: 10713, dtype: object
10714, Date         2013-08-22
Time         9:31:18 PM
Latitude      41.880567
Longitude    -87.713657
Name: 10714, dtype: object
10715, Date         2013-08-22
Time         9:31:28 PM
Latitude      41.880835
Longitude    -87.713203
Name: 10715, dtype: object
10716, Date         2013-08-22
Time         9:31:48 PM
Latitude      41.880765
Longitude    -87.711115
Name: 10716, dtype: object
10717, Date         2013-08-22
Time         9:31:58 PM
Latitude      41.880057
Longitude    -87.711085
Name: 10717, dtype: object
10718, Date         2013-08-22
Time         9:32:18 PM
Latitude      41.878398
Longitude     -87.71101
Name: 10718, dtype: object
10719, Date         2013-08-22
Time         9:33:18 PM
Latitude      41.876227
Longitude    -87.710688
Name: 10719, dtype: object
10720, Date         2013-08-22
Time         9:33:28 PM
Latitude      41.876228
Longitude    -87.710198
Name: 10720, dtype: object
10721, Date         2013-08-22
Time         9:33:38 PM
Latitude      41.876227
Longitude    -87.709815
Name: 10721, dtype: object
10722, Date         2013-08-22
Time         9:33:48 PM
Latitude      41.876227
Longitude    -87.709303
Name: 10722, dtype: object
10723, Date         2013-08-22
Time         9:33:58 PM
Latitude      41.876232
Longitude    -87.708728
Name: 10723, dtype: object
10724, Date         2013-08-22
Time         9:34:08 PM
Latitude      41.875913
Longitude    -87.708535
Name: 10724, dtype: object
10725, Date         2013-08-22
Time         9:34:28 PM
Latitude      41.875515
Longitude     -87.70875
Name: 10725, dtype: object
10726, Date         2013-08-22
Time         9:34:38 PM
Latitude       41.87551
Longitude    -87.709272
Name: 10726, dtype: object
10727, Date         2013-08-22
Time         9:34:48 PM
Latitude      41.875598
Longitude    -87.709685
Name: 10727, dtype: object
10728, Date         2013-08-22
Time         9:34:58 PM
Latitude      41.876075
Longitude    -87.709673
Name: 10728, dtype: object
10729, Date         2013-08-22
Time         9:35:08 PM
Latitude      41.876487
Longitude    -87.709715
Name: 10729, dtype: object
10730, Date         2013-08-22
Time         9:35:18 PM
Latitude      41.877008
Longitude    -87.709705
Name: 10730, dtype: object
10731, Date         2013-08-22
Time         9:35:38 PM
Latitude      41.877293
Longitude    -87.710395
Name: 10731, dtype: object
10732, Date         2013-08-22
Time         9:35:48 PM
Latitude      41.877018
Longitude    -87.710927
Name: 10732, dtype: object
10733, Date         2013-08-22
Time         9:35:58 PM
Latitude      41.876237
Longitude    -87.710887
Name: 10733, dtype: object
10734, Date         2013-08-22
Time         9:36:08 PM
Latitude      41.875623
Longitude    -87.710898
Name: 10734, dtype: object
10735, Date         2013-08-22
Time         9:36:18 PM
Latitude      41.875535
Longitude     -87.71035
Name: 10735, dtype: object
10736, Date         2013-08-22
Time         9:36:28 PM
Latitude      41.875487
Longitude    -87.709792
Name: 10736, dtype: object
10737, Date         2013-08-22
Time         9:36:38 PM
Latitude      41.875498
Longitude    -87.709112
Name: 10737, dtype: object
10738, Date         2013-08-22
Time         9:36:48 PM
Latitude      41.875477
Longitude    -87.708662
Name: 10738, dtype: object
10739, Date         2013-08-22
Time         9:36:58 PM
Latitude      41.875072
Longitude    -87.708597
Name: 10739, dtype: object
10740, Date         2013-08-22
Time         9:37:28 PM
Latitude      41.874602
Longitude    -87.709545
Name: 10740, dtype: object
10741, Date         2013-08-22
Time         9:37:38 PM
Latitude      41.874583
Longitude    -87.710507
Name: 10741, dtype: object
10742, Date         2013-08-22
Time         9:37:58 PM
Latitude      41.874982
Longitude    -87.710803
Name: 10742, dtype: object
10743, Date         2013-08-22
Time         9:38:08 PM
Latitude      41.875735
Longitude    -87.710828
Name: 10743, dtype: object
10744, Date         2013-08-22
Time         9:38:18 PM
Latitude      41.876468
Longitude    -87.710863
Name: 10744, dtype: object
10745, Date         2013-08-22
Time         9:38:28 PM
Latitude      41.877083
Longitude     -87.71087
Name: 10745, dtype: object
10746, Date         2013-08-22
Time         9:38:38 PM
Latitude      41.877833
Longitude    -87.710917
Name: 10746, dtype: object
10747, Date         2013-08-22
Time         9:38:48 PM
Latitude      41.878617
Longitude    -87.710917
Name: 10747, dtype: object
10748, Date         2013-08-22
Time         9:38:58 PM
Latitude      41.879368
Longitude     -87.71094
Name: 10748, dtype: object
10749, Date         2013-08-22
Time         9:39:08 PM
Latitude      41.880068
Longitude    -87.710947
Name: 10749, dtype: object
10750, Date         2013-08-22
Time         9:40:08 PM
Latitude       41.88181
Longitude    -87.709897
Name: 10750, dtype: object
10751, Date         2013-08-22
Time         9:40:18 PM
Latitude        41.8818
Longitude    -87.708942
Name: 10751, dtype: object
10752, Date         2013-08-22
Time         9:40:28 PM
Latitude      41.881793
Longitude    -87.707932
Name: 10752, dtype: object
10753, Date         2013-08-22
Time         9:40:38 PM
Latitude      41.881858
Longitude    -87.707005
Name: 10753, dtype: object
10754, Date         2013-08-22
Time         9:40:48 PM
Latitude       41.88195
Longitude    -87.706277
Name: 10754, dtype: object
10755, Date         2013-08-22
Time         9:40:58 PM
Latitude       41.88251
Longitude    -87.706265
Name: 10755, dtype: object
10756, Date         2013-08-22
Time         9:41:38 PM
Latitude      41.882782
Longitude    -87.706428
Name: 10756, dtype: object
10757, Date         2013-08-22
Time         9:41:48 PM
Latitude      41.882795
Longitude    -87.707322
Name: 10757, dtype: object
10758, Date         2013-08-22
Time         9:42:08 PM
Latitude      41.882732
Longitude    -87.709425
Name: 10758, dtype: object
10759, Date         2013-08-22
Time         9:42:18 PM
Latitude      41.882722
Longitude    -87.710407
Name: 10759, dtype: object
10760, Date         2013-08-22
Time         9:42:28 PM
Latitude      41.882672
Longitude    -87.711427
Name: 10760, dtype: object
10761, Date         2013-08-22
Time         9:44:48 PM
Latitude      41.882907
Longitude    -87.720968
Name: 10761, dtype: object
10762, Date         2013-08-22
Time         9:44:58 PM
Latitude      41.882913
Longitude    -87.721575
Name: 10762, dtype: object

10763, Date         2013-08-22
Time         9:45:08 PM
Latitude      41.882918
Longitude    -87.722147
Name: 10763, dtype: object
10764, Date         2013-08-22
Time         9:45:18 PM
Latitude      41.882932
Longitude    -87.722628
Name: 10764, dtype: object
10765, Date         2013-08-22
Time         9:45:28 PM
Latitude      41.882938
Longitude    -87.723255
Name: 10765, dtype: object
10766, Date         2013-08-22
Time         9:45:38 PM
Latitude      41.882943
Longitude    -87.724095
Name: 10766, dtype: object
10767, Date         2013-08-22
Time         9:45:48 PM
Latitude      41.882927
Longitude    -87.724828
Name: 10767, dtype: object
10768, Date         2013-08-22
Time         9:46:18 PM
Latitude       41.88337
Longitude    -87.725702
Name: 10768, dtype: object
10769, Date         2013-08-22
Time         9:46:28 PM
Latitude      41.883352
Longitude    -87.726497
Name: 10769, dtype: object
10770, Date         2013-08-22
Time         9:46:38 PM
Latitude      41.883343
Longitude    -87.727237
Name: 10770, dtype: object
10771, Date         2013-08-22
Time         9:46:48 PM
Latitude       41.88334
Longitude     -87.72796
Name: 10771, dtype: object
10772, Date         2013-08-22
Time         9:46:58 PM
Latitude      41.883835
Longitude    -87.728078
Name: 10772, dtype: object
10773, Date         2013-08-22
Time         9:47:08 PM
Latitude      41.884292
Longitude    -87.728083
Name: 10773, dtype: object
10774, Date         2013-08-22
Time         9:47:18 PM
Latitude      41.884605
Longitude    -87.728332
Name: 10774, dtype: object
10775, Date         2013-08-22
Time         9:47:28 PM
Latitude      41.884608
Longitude     -87.72902
Name: 10775, dtype: object
10776, Date         2013-08-22
Time         9:47:38 PM
Latitude      41.884603
Longitude    -87.729842
Name: 10776, dtype: object
10777, Date         2013-08-22
Time         9:47:48 PM
Latitude      41.884598
Longitude     -87.73046
Name: 10777, dtype: object
10778, Date         2013-08-22
Time         9:47:58 PM
Latitude        41.8841
Longitude     -87.73055
Name: 10778, dtype: object
10779, Date         2013-08-22
Time         9:48:08 PM
Latitude      41.883643
Longitude    -87.730538
Name: 10779, dtype: object
10780, Date         2013-08-22
Time         9:48:18 PM
Latitude      41.883343
Longitude    -87.730472
Name: 10780, dtype: object
10781, Date         2013-08-22
Time         9:48:28 PM
Latitude       41.88339
Longitude    -87.729777
Name: 10781, dtype: object
10782, Date         2013-08-22
Time         9:48:38 PM
Latitude      41.883395
Longitude    -87.729087
Name: 10782, dtype: object
10783, Date         2013-08-22
Time         9:48:48 PM
Latitude      41.883393
Longitude    -87.728365
Name: 10783, dtype: object
10784, Date         2013-08-22
Time         9:49:08 PM
Latitude      41.884045
Longitude    -87.728168
Name: 10784, dtype: object
10785, Date         2013-08-22
Time         9:49:18 PM
Latitude      41.884508
Longitude    -87.728198
Name: 10785, dtype: object
10786, Date         2013-08-22
Time         9:49:28 PM
Latitude      41.885142
Longitude    -87.728225
Name: 10786, dtype: object
10787, Date         2013-08-22
Time         9:49:38 PM
Latitude      41.885528
Longitude    -87.728095
Name: 10787, dtype: object
10788, Date         2013-08-22
Time         9:49:48 PM
Latitude       41.88544
Longitude    -87.727258
Name: 10788, dtype: object
10789, Date         2013-08-22
Time         9:50:38 PM
Latitude      41.883997
Longitude    -87.725985
Name: 10789, dtype: object
10790, Date         2013-08-22
Time         9:50:48 PM
Latitude      41.884012
Longitude    -87.725147
Name: 10790, dtype: object
10791, Date         2013-08-22
Time         9:50:58 PM
Latitude      41.884028
Longitude    -87.724355
Name: 10791, dtype: object
10792, Date         2013-08-22
Time         9:51:08 PM
Latitude      41.884033
Longitude    -87.723822
Name: 10792, dtype: object
10793, Date         2013-08-22
Time         9:51:18 PM
Latitude      41.884255
Longitude    -87.723622
Name: 10793, dtype: object
10794, Date         2013-08-22
Time         9:51:28 PM
Latitude      41.884535
Longitude    -87.723607
Name: 10794, dtype: object
10795, Date         2013-08-22
Time         9:51:38 PM
Latitude      41.884927
Longitude    -87.723597
Name: 10795, dtype: object
10796, Date         2013-08-22
Time         9:51:58 PM
Latitude      41.885037
Longitude     -87.72272
Name: 10796, dtype: object
10797, Date         2013-08-22
Time         9:52:08 PM
Latitude      41.885008
Longitude      -87.7218
Name: 10797, dtype: object
10798, Date         2013-08-22
Time         9:52:38 PM
Latitude      41.884638
Longitude    -87.721192
Name: 10798, dtype: object
10799, Date         2013-08-22
Time         9:52:48 PM
Latitude      41.883998
Longitude    -87.721163
Name: 10799, dtype: object
10800, Date         2013-08-22
Time         9:52:58 PM
Latitude      41.883942
Longitude    -87.721725
Name: 10800, dtype: object
10801, Date         2013-08-22
Time         9:53:08 PM
Latitude      41.883947
Longitude    -87.722393
Name: 10801, dtype: object
10802, Date         2013-08-22
Time         9:53:18 PM
Latitude      41.883953
Longitude    -87.723087
Name: 10802, dtype: object
10803, Date         2013-08-22
Time         9:53:48 PM
Latitude      41.883973
Longitude      -87.7228
Name: 10803, dtype: object
10804, Date         2013-08-22
Time         9:53:58 PM
Latitude      41.883957
Longitude    -87.721945
Name: 10804, dtype: object
10805, Date         2013-08-22
Time         9:54:08 PM
Latitude      41.883968
Longitude    -87.721283
Name: 10805, dtype: object
10806, Date         2013-08-22
Time         9:54:18 PM
Latitude       41.88397
Longitude    -87.721135
Name: 10806, dtype: object
10807, Date         2013-08-22
Time         9:54:28 PM
Latitude      41.884542
Longitude    -87.721042
Name: 10807, dtype: object
10808, Date         2013-08-22
Time         9:54:38 PM
Latitude       41.88531
Longitude    -87.721043
Name: 10808, dtype: object
10809, Date         2013-08-22
Time         9:54:48 PM
Latitude      41.886083
Longitude    -87.721045
Name: 10809, dtype: object
10810, Date         2013-08-22
Time         9:54:58 PM
Latitude      41.886633
Longitude    -87.721063
Name: 10810, dtype: object
10811, Date         2013-08-22
Time         9:55:08 PM
Latitude      41.887292
Longitude    -87.721068
Name: 10811, dtype: object
10812, Date         2013-08-22
Time         9:55:48 PM
Latitude      41.890467
Longitude    -87.721163
Name: 10812, dtype: object
10813, Date         2013-08-22
Time         9:55:58 PM
Latitude       41.89117
Longitude     -87.72117
Name: 10813, dtype: object
10814, Date         2013-08-22
Time         9:56:08 PM
Latitude      41.891492
Longitude    -87.720902
Name: 10814, dtype: object
10815, Date         2013-08-22
Time         9:56:18 PM
Latitude      41.891495
Longitude      -87.7202
Name: 10815, dtype: object
10816, Date         2013-08-22
Time         9:56:28 PM
Latitude      41.891508
Longitude    -87.719402
Name: 10816, dtype: object
10817, Date         2013-08-22
Time         9:56:38 PM
Latitude      41.891542
Longitude     -87.71875
Name: 10817, dtype: object
10818, Date         2013-08-22
Time         9:56:48 PM
Latitude      41.891558
Longitude    -87.717915
Name: 10818, dtype: object
10819, Date         2013-08-22
Time         9:56:58 PM
Latitude       41.89159
Longitude     -87.71709
Name: 10819, dtype: object
10820, Date         2013-08-22
Time         9:57:18 PM
Latitude      41.891633
Longitude    -87.716227
Name: 10820, dtype: object
10821, Date         2013-08-22
Time         9:57:28 PM
Latitude      41.891647
Longitude    -87.715567
Name: 10821, dtype: object
10822, Date         2013-08-22
Time         9:57:38 PM
Latitude       41.89171
Longitude    -87.714797
Name: 10822, dtype: object
10823, Date         2013-08-22
Time         9:57:48 PM
Latitude      41.891737
Longitude    -87.714183
Name: 10823, dtype: object
10824, Date         2013-08-22
Time         9:57:58 PM
Latitude       41.89176
Longitude    -87.713442
Name: 10824, dtype: object
10825, Date         2013-08-22
Time         9:58:08 PM
Latitude      41.891777
Longitude    -87.712835
Name: 10825, dtype: object
10826, Date         2013-08-22
Time         9:58:18 PM
Latitude      41.891435
Longitude    -87.712708
Name: 10826, dtype: object
10827, Date         2013-08-22
Time         9:58:28 PM
Latitude       41.89104
Longitude    -87.712692
Name: 10827, dtype: object
10828, Date         2013-08-22
Time         9:58:38 PM
Latitude      41.890598
Longitude    -87.712642
Name: 10828, dtype: object
10829, Date         2013-08-22
Time         9:58:48 PM
Latitude       41.89034
Longitude    -87.712883
Name: 10829, dtype: object
10830, Date         2013-08-22
Time         9:58:58 PM
Latitude      41.890335
Longitude    -87.713577
Name: 10830, dtype: object
10831, Date         2013-08-22
Time         9:59:08 PM
Latitude       41.89031
Longitude    -87.714462
Name: 10831, dtype: object
10832, Date         2013-08-22
Time         9:59:18 PM
Latitude      41.890275
Longitude    -87.715353
Name: 10832, dtype: object
10833, Date         2013-08-22
Time         9:59:28 PM
Latitude      41.890262
Longitude    -87.716118
Name: 10833, dtype: object
10834, Date         2013-08-22
Time         9:59:38 PM
Latitude      41.890085
Longitude    -87.716352
Name: 10834, dtype: object
10835, Date         2013-08-22
Time         9:59:48 PM
Latitude      41.890003
Longitude     -87.71548
Name: 10835, dtype: object
10836, Date         2013-08-22
Time         9:59:58 PM
Latitude      41.890012
Longitude     -87.71446
Name: 10836, dtype: object
10837, Date          2013-08-22
Time         10:00:08 PM
Latitude       41.890015
Longitude     -87.713458
Name: 10837, dtype: object
10838, Date          2013-08-22
Time         10:00:28 PM
Latitude       41.889917
Longitude     -87.711377
Name: 10838, dtype: object
10839, Date          2013-08-22
Time         10:00:38 PM
Latitude        41.88981
Longitude     -87.710663
Name: 10839, dtype: object
10840, Date          2013-08-22
Time         10:00:48 PM
Latitude       41.889825
Longitude     -87.709803
Name: 10840, dtype: object
10841, Date          2013-08-22
Time         10:00:58 PM
Latitude        41.88985
Longitude      -87.70893
Name: 10841, dtype: object
10842, Date          2013-08-22
Time         10:01:08 PM
Latitude       41.889868
Longitude     -87.707957
Name: 10842, dtype: object
10843, Date          2013-08-22
Time         10:01:18 PM
Latitude       41.889858
Longitude     -87.707017
Name: 10843, dtype: object
10844, Date          2013-08-22
Time         10:01:28 PM
Latitude       41.889872
Longitude      -87.70629
Name: 10844, dtype: object
10845, Date          2013-08-22
Time         10:01:38 PM
Latitude        41.88987
Longitude      -87.70571
Name: 10845, dtype: object
10846, Date          2013-08-22
Time         10:01:48 PM
Latitude       41.889857
Longitude     -87.705152
Name: 10846, dtype: object
10847, Date          2013-08-22
Time         10:01:58 PM
Latitude        41.88987
Longitude     -87.704567
Name: 10847, dtype: object
10848, Date          2013-08-22
Time         10:02:08 PM
Latitude       41.889875
Longitude     -87.703872
Name: 10848, dtype: object
10849, Date          2013-08-22
Time         10:02:18 PM
Latitude       41.889863
Longitude     -87.703405
Name: 10849, dtype: object
10850, Date          2013-08-22
Time         10:02:28 PM
Latitude           41.89
Longitude     -87.703062
Name: 10850, dtype: object
10851, Date          2013-08-22
Time         10:02:38 PM
Latitude       41.890308
Longitude     -87.703197
Name: 10851, dtype: object
10852, Date          2013-08-22
Time         10:02:48 PM
Latitude       41.890292
Longitude     -87.703695
Name: 10852, dtype: object
10853, Date          2013-08-22
Time         10:02:58 PM
Latitude       41.890252
Longitude     -87.704335
Name: 10853, dtype: object
10854, Date          2013-08-22
Time         10:03:08 PM
Latitude       41.890238
Longitude     -87.704932
Name: 10854, dtype: object
10855, Date          2013-08-22
Time         10:03:18 PM
Latitude       41.890218
Longitude      -87.70555
Name: 10855, dtype: object
10856, Date          2013-08-22
Time         10:03:28 PM
Latitude       41.890202
Longitude     -87.706032
Name: 10856, dtype: object
10857, Date          2013-08-22
Time         10:03:48 PM
Latitude       41.890218
Longitude     -87.706468
Name: 10857, dtype: object
10858, Date          2013-08-22
Time         10:07:28 PM
Latitude        41.88352
Longitude     -87.710972
Name: 10858, dtype: object
10859, Date          2013-08-22
Time         10:07:38 PM
Latitude       41.883532
Longitude     -87.710252
Name: 10859, dtype: object
10860, Date          2013-08-22
Time         10:07:48 PM
Latitude       41.883493
Longitude     -87.709702
Name: 10860, dtype: object
10861, Date          2013-08-22
Time         10:07:58 PM
Latitude       41.883555
Longitude     -87.709073
Name: 10861, dtype: object
10862, Date          2013-08-22
Time         10:08:08 PM
Latitude        41.88357
Longitude      -87.70837
Name: 10862, dtype: object
10863, Date          2013-08-22
Time         10:08:18 PM
Latitude       41.883583
Longitude     -87.707782
Name: 10863, dtype: object
10864, Date          2013-08-22
Time         10:08:28 PM
Latitude       41.883597
Longitude     -87.707267
Name: 10864, dtype: object
10865, Date          2013-08-22
Time         10:08:38 PM
Latitude       41.883642
Longitude     -87.706532
Name: 10865, dtype: object
10866, Date          2013-08-22
Time         10:08:48 PM
Latitude       41.883897
Longitude     -87.706297
Name: 10866, dtype: object
10867, Date         2013-08-22
Time         8:13:00 PM
Latitude      41.714785
Longitude    -87.604435
Name: 10867, dtype: object
10868, Date         2013-08-22
Time         8:13:10 PM
Latitude      41.714785
Longitude     -87.60402
Name: 10868, dtype: object
10869, Date         2013-08-22
Time         8:13:20 PM
Latitude      41.714793
Longitude    -87.603495
Name: 10869, dtype: object
10870, Date         2013-08-22
Time         8:13:30 PM
Latitude      41.714785
Longitude       -87.603
Name: 10870, dtype: object
10871, Date         2013-08-22
Time         8:13:40 PM
Latitude      41.714797
Longitude    -87.602435
Name: 10871, dtype: object
10872, Date         2013-08-22
Time         8:13:50 PM
Latitude       41.71481
Longitude     -87.60186
Name: 10872, dtype: object
10873, Date         2013-08-22
Time         8:14:00 PM
Latitude      41.714818
Longitude    -87.601353
Name: 10873, dtype: object
10874, Date         2013-08-22
Time         8:14:10 PM
Latitude      41.714827
Longitude    -87.600902
Name: 10874, dtype: object
10875, Date         2013-08-22
Time         8:14:20 PM
Latitude       41.71483
Longitude    -87.600478
Name: 10875, dtype: object
10876, Date         2013-08-22
Time         8:14:30 PM
Latitude       41.71483
Longitude    -87.600092
Name: 10876, dtype: object
10877, Date         2013-08-22
Time         8:14:40 PM
Latitude      41.714823
Longitude    -87.599722
Name: 10877, dtype: object
10878, Date         2013-08-22
Time         8:14:50 PM
Latitude       41.71482
Longitude    -87.599302
Name: 10878, dtype: object
10879, Date         2013-08-22
Time         8:15:00 PM
Latitude      41.714832
Longitude    -87.598858
Name: 10879, dtype: object
10880, Date         2013-08-22
Time         8:15:10 PM
Latitude      41.714838
Longitude    -87.598398
Name: 10880, dtype: object
10881, Date         2013-08-22
Time         8:15:20 PM
Latitude      41.714853
Longitude    -87.597937
Name: 10881, dtype: object
10882, Date         2013-08-22
Time         8:15:30 PM
Latitude      41.714867
Longitude      -87.5975
Name: 10882, dtype: object
10883, Date         2013-08-22
Time         8:15:40 PM
Latitude      41.714872
Longitude     -87.59705
Name: 10883, dtype: object
10884, Date         2013-08-22
Time         8:16:00 PM
Latitude      41.714893
Longitude     -87.59639
Name: 10884, dtype: object
10885, Date         2013-08-22
Time         8:16:40 PM
Latitude      41.714928
Longitude    -87.595298
Name: 10885, dtype: object
10886, Date         2013-08-22
Time         8:16:50 PM
Latitude      41.714952
Longitude    -87.594532
Name: 10886, dtype: object
10887, Date         2013-08-22
Time         8:17:00 PM
Latitude      41.714963
Longitude    -87.593863
Name: 10887, dtype: object
10888, Date         2013-08-22
Time         8:17:10 PM
Latitude       41.71496
Longitude     -87.59363
Name: 10888, dtype: object
10889, Date         2013-08-22
Time         8:17:50 PM
Latitude      41.715105
Longitude    -87.594665
Name: 10889, dtype: object
10890, Date         2013-08-22
Time         8:18:00 PM
Latitude       41.71557
Longitude    -87.594677
Name: 10890, dtype: object
10891, Date         2013-08-22
Time         8:18:10 PM
Latitude      41.716042
Longitude    -87.594695
Name: 10891, dtype: object
10892, Date         2013-08-22
Time         8:18:20 PM
Latitude      41.716572
Longitude    -87.594697
Name: 10892, dtype: object
10893, Date         2013-08-22
Time         8:18:30 PM
Latitude       41.71672
Longitude    -87.594343
Name: 10893, dtype: object
10894, Date         2013-08-22
Time         8:18:40 PM
Latitude      41.716717
Longitude    -87.593683
Name: 10894, dtype: object
10895, Date         2013-08-22
Time         8:19:20 PM
Latitude      41.716732
Longitude     -87.59269
Name: 10895, dtype: object
10896, Date         2013-08-22
Time         8:20:00 PM
Latitude      41.716735
Longitude     -87.59432
Name: 10896, dtype: object
10897, Date         2013-08-22
Time         8:20:10 PM
Latitude      41.716728
Longitude     -87.59491
Name: 10897, dtype: object
10898, Date         2013-08-22
Time         8:20:20 PM
Latitude      41.716707
Longitude    -87.595713
Name: 10898, dtype: object
10899, Date         2013-08-22
Time         8:20:30 PM
Latitude      41.716702
Longitude    -87.596553
Name: 10899, dtype: object
10900, Date         2013-08-22
Time         8:20:40 PM
Latitude      41.716688
Longitude    -87.597117
Name: 10900, dtype: object
10901, Date         2013-08-22
Time         8:20:50 PM
Latitude      41.716687
Longitude    -87.598012
Name: 10901, dtype: object
10902, Date         2013-08-22
Time         8:21:00 PM
Latitude      41.716668
Longitude    -87.598808
Name: 10902, dtype: object
10903, Date         2013-08-22
Time         8:21:10 PM
Latitude       41.71665
Longitude    -87.599487
Name: 10903, dtype: object
10904, Date         2013-08-22
Time         8:21:20 PM
Latitude      41.716637
Longitude    -87.600332
Name: 10904, dtype: object
10905, Date         2013-08-22
Time         8:21:30 PM
Latitude      41.716768
Longitude    -87.600613
Name: 10905, dtype: object
10906, Date         2013-08-22
Time         8:21:40 PM
Latitude      41.717132
Longitude    -87.600613
Name: 10906, dtype: object
10907, Date         2013-08-22
Time         8:21:50 PM
Latitude      41.717575
Longitude    -87.600652
Name: 10907, dtype: object
10908, Date         2013-08-22
Time         8:22:00 PM
Latitude      41.717925
Longitude    -87.600523
Name: 10908, dtype: object
10909, Date         2013-08-22
Time         8:22:10 PM
Latitude      41.718367
Longitude     -87.60009
Name: 10909, dtype: object
10910, Date         2013-08-22
Time         8:22:20 PM
Latitude       41.71856
Longitude    -87.599207
Name: 10910, dtype: object
10911, Date         2013-08-22
Time         8:22:30 PM
Latitude      41.718555
Longitude    -87.598402
Name: 10911, dtype: object
10912, Date         2013-08-22
Time         8:22:40 PM
Latitude      41.718567
Longitude    -87.597582
Name: 10912, dtype: object
10913, Date         2013-08-22
Time         8:22:50 PM
Latitude       41.71859
Longitude    -87.596782
Name: 10913, dtype: object
10914, Date         2013-08-22
Time         8:23:00 PM
Latitude      41.718618
Longitude     -87.59601
Name: 10914, dtype: object
10915, Date         2013-08-22
Time         8:23:10 PM
Latitude       41.71864
Longitude    -87.595208

11228, Date         2013-08-22
Time         9:51:56 PM
Latitude      41.754082
Longitude    -87.622995
Name: 11228, dtype: object
11229, Date         2013-08-22
Time         9:52:06 PM
Latitude      41.753825
Longitude    -87.623002
Name: 11229, dtype: object
11230, Date         2013-08-22
Time         9:52:36 PM
Latitude      41.753138
Longitude    -87.622995
Name: 11230, dtype: object
11231, Date         2013-08-22
Time         9:52:46 PM
Latitude      41.752708
Longitude    -87.622988
Name: 11231, dtype: object
11232, Date         2013-08-22
Time         9:52:56 PM
Latitude      41.752078
Longitude     -87.62298
Name: 11232, dtype: object
11233, Date         2013-08-22
Time         9:53:06 PM
Latitude      41.751517
Longitude     -87.62296
Name: 11233, dtype: object
11234, Date         2013-08-22
Time         9:53:16 PM
Latitude      41.751102
Longitude     -87.62295
Name: 11234, dtype: object
11235, Date         2013-08-22
Time         9:53:26 PM
Latitude      41.750425
Longitude    -87.622938
Name: 11235, dtype: object
11236, Date         2013-08-22
Time         9:53:36 PM
Latitude       41.74979
Longitude    -87.622932
Name: 11236, dtype: object
11237, Date         2013-08-22
Time         9:53:46 PM
Latitude      41.749108
Longitude    -87.622957
Name: 11237, dtype: object
11238, Date         2013-08-22
Time         9:53:56 PM
Latitude      41.748417
Longitude    -87.622942
Name: 11238, dtype: object
11239, Date         2013-08-22
Time         9:54:06 PM
Latitude      41.747695
Longitude    -87.622937
Name: 11239, dtype: object
11240, Date         2013-08-22
Time         9:54:16 PM
Latitude      41.746932
Longitude    -87.622932
Name: 11240, dtype: object
11241, Date         2013-08-22
Time         9:54:26 PM
Latitude      41.746222
Longitude    -87.622895
Name: 11241, dtype: object
11242, Date         2013-08-22
Time         9:54:36 PM
Latitude      41.745505
Longitude    -87.622873
Name: 11242, dtype: object
11243, Date         2013-08-22
Time         9:54:46 PM
Latitude      41.744772
Longitude    -87.622845
Name: 11243, dtype: object
11244, Date         2013-08-22
Time         9:54:56 PM
Latitude      41.744135
Longitude     -87.62284
Name: 11244, dtype: object
11245, Date         2013-08-22
Time         9:55:06 PM
Latitude      41.743703
Longitude     -87.62282
Name: 11245, dtype: object
11246, Date         2013-08-22
Time         9:55:16 PM
Latitude       41.74304
Longitude    -87.622802
Name: 11246, dtype: object
11247, Date         2013-08-22
Time         9:55:26 PM
Latitude      41.742353
Longitude    -87.622765
Name: 11247, dtype: object
11248, Date         2013-08-22
Time         9:55:36 PM
Latitude       41.74161
Longitude    -87.622742
Name: 11248, dtype: object
11249, Date         2013-08-22
Time         9:55:46 PM
Latitude      41.740882
Longitude    -87.622705
Name: 11249, dtype: object
11250, Date         2013-08-22
Time         9:55:56 PM
Latitude      41.740142
Longitude     -87.62269
Name: 11250, dtype: object
11251, Date         2013-08-22
Time         9:56:06 PM
Latitude      41.739433
Longitude    -87.622665
Name: 11251, dtype: object
11252, Date         2013-08-22
Time         9:56:16 PM
Latitude      41.738715
Longitude    -87.622643
Name: 11252, dtype: object
11253, Date         2013-08-22
Time         9:56:26 PM
Latitude      41.738397
Longitude    -87.622213
Name: 11253, dtype: object
11254, Date         2013-08-22
Time         9:56:36 PM
Latitude      41.738397
Longitude    -87.621252
Name: 11254, dtype: object
11255, Date         2013-08-22
Time         9:56:46 PM
Latitude      41.738888
Longitude    -87.621053
Name: 11255, dtype: object
11256, Date         2013-08-22
Time         9:56:56 PM
Latitude      41.739592
Longitude    -87.621085
Name: 11256, dtype: object
11257, Date         2013-08-22
Time         9:57:06 PM
Latitude       41.74027
Longitude    -87.621107
Name: 11257, dtype: object
11258, Date         2013-08-22
Time         9:57:16 PM
Latitude      41.740977
Longitude    -87.621137
Name: 11258, dtype: object
11259, Date         2013-08-22
Time         9:57:26 PM
Latitude      41.741683
Longitude    -87.621163
Name: 11259, dtype: object
11260, Date         2013-08-22
Time         9:57:36 PM
Latitude      41.742403
Longitude      -87.6212
Name: 11260, dtype: object
11261, Date         2013-08-22
Time         9:57:46 PM
Latitude      41.743072
Longitude     -87.62124
Name: 11261, dtype: object
11262, Date         2013-08-22
Time         9:57:56 PM
Latitude      41.743612
Longitude    -87.621233
Name: 11262, dtype: object
11263, Date         2013-08-22
Time         9:58:36 PM
Latitude      41.743428
Longitude    -87.619617
Name: 11263, dtype: object
11264, Date         2013-08-22
Time         9:58:46 PM
Latitude      41.742812
Longitude    -87.619603
Name: 11264, dtype: object
11265, Date         2013-08-22
Time         9:58:56 PM
Latitude      41.742167
Longitude    -87.619578
Name: 11265, dtype: object
11266, Date         2013-08-22
Time         9:59:06 PM
Latitude       41.74151
Longitude    -87.619562
Name: 11266, dtype: object
11267, Date         2013-08-22
Time         9:59:16 PM
Latitude      41.740817
Longitude    -87.619533
Name: 11267, dtype: object
11268, Date         2013-08-22
Time         9:59:26 PM
Latitude      41.740113
Longitude    -87.619532
Name: 11268, dtype: object
11269, Date         2013-08-22
Time         9:59:36 PM
Latitude      41.739437
Longitude    -87.619502
Name: 11269, dtype: object
11270, Date         2013-08-22
Time         9:59:46 PM
Latitude      41.738822
Longitude     -87.61948
Name: 11270, dtype: object
11271, Date         2013-08-22
Time         9:59:56 PM
Latitude      41.738312
Longitude     -87.61937
Name: 11271, dtype: object
11272, Date          2013-08-22
Time         10:00:06 PM
Latitude        41.73832
Longitude      -87.61857
Name: 11272, dtype: object
11273, Date          2013-08-22
Time         10:00:16 PM
Latitude       41.738423
Longitude     -87.617875
Name: 11273, dtype: object
11274, Date          2013-08-22
Time         10:00:26 PM
Latitude       41.739073
Longitude     -87.617903
Name: 11274, dtype: object
11275, Date          2013-08-22
Time         10:00:36 PM
Latitude       41.739735
Longitude     -87.617912
Name: 11275, dtype: object
11276, Date          2013-08-22
Time         10:00:46 PM
Latitude       41.740427
Longitude      -87.61793
Name: 11276, dtype: object
11277, Date          2013-08-22
Time         10:00:56 PM
Latitude       41.741125
Longitude     -87.617962
Name: 11277, dtype: object
11278, Date          2013-08-22
Time         10:01:06 PM
Latitude       41.741723
Longitude     -87.618035
Name: 11278, dtype: object
11279, Date          2013-08-22
Time         10:01:16 PM
Latitude        41.74244
Longitude     -87.618048
Name: 11279, dtype: object
11280, Date          2013-08-22
Time         10:01:26 PM
Latitude       41.743158
Longitude     -87.618067
Name: 11280, dtype: object
11281, Date          2013-08-22
Time         10:01:36 PM
Latitude       41.743628
Longitude     -87.617982
Name: 11281, dtype: object
11282, Date          2013-08-22
Time         10:01:56 PM
Latitude       41.743447
Longitude     -87.616423
Name: 11282, dtype: object
11283, Date          2013-08-22
Time         10:02:06 PM
Latitude       41.742843
Longitude     -87.616345
Name: 11283, dtype: object
11284, Date          2013-08-22
Time         10:02:16 PM
Latitude       41.742197
Longitude     -87.616363
Name: 11284, dtype: object
11285, Date          2013-08-22
Time         10:02:26 PM
Latitude       41.741588
Longitude     -87.616283
Name: 11285, dtype: object
11286, Date          2013-08-22
Time         10:02:36 PM
Latitude       41.740893
Longitude     -87.616263
Name: 11286, dtype: object
11287, Date          2013-08-22
Time         10:02:46 PM
Latitude        41.74023
Longitude     -87.616233
Name: 11287, dtype: object
11288, Date          2013-08-22
Time         10:02:56 PM
Latitude        41.73959
Longitude     -87.616207
Name: 11288, dtype: object
11289, Date          2013-08-22
Time         10:03:06 PM
Latitude       41.738933
Longitude     -87.616203
Name: 11289, dtype: object
11290, Date          2013-08-22
Time         10:03:16 PM
Latitude         41.7384
Longitude     -87.616133
Name: 11290, dtype: object
11291, Date          2013-08-22
Time         10:03:26 PM
Latitude       41.738397
Longitude     -87.615545
Name: 11291, dtype: object
11292, Date          2013-08-22
Time         10:03:36 PM
Latitude       41.738387
Longitude      -87.61486
Name: 11292, dtype: object
11293, Date          2013-08-22
Time         10:03:46 PM
Latitude       41.738387
Longitude     -87.614117
Name: 11293, dtype: object
11294, Date          2013-08-22
Time         10:03:56 PM
Latitude       41.738393
Longitude     -87.613185
Name: 11294, dtype: object
11295, Date          2013-08-22
Time         10:04:06 PM
Latitude        41.73884
Longitude     -87.613052
Name: 11295, dtype: object
11296, Date          2013-08-22
Time         10:04:16 PM
Latitude       41.739465
Longitude     -87.613065
Name: 11296, dtype: object
11297, Date          2013-08-22
Time         10:04:26 PM
Latitude       41.740098
Longitude     -87.613087
Name: 11297, dtype: object
11298, Date          2013-08-22
Time         10:04:36 PM
Latitude       41.740748
Longitude       -87.6131
Name: 11298, dtype: object
11299, Date          2013-08-22
Time         10:04:46 PM
Latitude       41.741372
Longitude     -87.613118
Name: 11299, dtype: object
11300, Date          2013-08-22
Time         10:04:56 PM
Latitude       41.742002
Longitude     -87.613155
Name: 11300, dtype: object
11301, Date          2013-08-22
Time         10:05:06 PM
Latitude       41.742705
Longitude     -87.613187
Name: 11301, dtype: object
11302, Date          2013-08-22
Time         10:05:16 PM
Latitude       41.743365
Longitude     -87.613203
Name: 11302, dtype: object
11303, Date          2013-08-22
Time         10:05:46 PM
Latitude       41.743363
Longitude     -87.611573
Name: 11303, dtype: object
11304, Date          2013-08-22
Time         10:05:56 PM
Latitude       41.742753
Longitude     -87.611557
Name: 11304, dtype: object
11305, Date          2013-08-22
Time         10:06:06 PM
Latitude        41.74213
Longitude     -87.611523
Name: 11305, dtype: object
11306, Date          2013-08-22
Time         10:06:16 PM
Latitude        41.74145
Longitude     -87.611498
Name: 11306, dtype: object
11307, Date          2013-08-22
Time         10:06:26 PM
Latitude       41.740785
Longitude     -87.611462
Name: 11307, dtype: object
11308, Date          2013-08-22
Time         10:06:36 PM
Latitude       41.740122
Longitude     -87.611435
Name: 11308, dtype: object
11309, Date          2013-08-22
Time         10:06:46 PM
Latitude       41.739405
Longitude     -87.611415
Name: 11309, dtype: object
11310, Date          2013-08-22
Time         10:06:56 PM
Latitude        41.73868
Longitude     -87.611398
Name: 11310, dtype: object
11311, Date          2013-08-22
Time         10:07:06 PM
Latitude       41.738002
Longitude     -87.611365
Name: 11311, dtype: object
11312, Date          2013-08-22
Time         10:07:16 PM
Latitude       41.737533
Longitude     -87.611103
Name: 11312, dtype: object
11313, Date          2013-08-22
Time         10:07:26 PM
Latitude       41.737558
Longitude     -87.610233
Name: 11313, dtype: object
11314, Date          2013-08-22
Time         10:07:36 PM
Latitude       41.737798
Longitude     -87.609787
Name: 11314, dtype: object
11315, Date          2013-08-22
Time         10:07:46 PM
Latitude        41.73842
Longitude     -87.609798
Name: 11315, dtype: object
11316, Date          2013-08-22
Time         10:07:56 PM
Latitude        41.73897
Longitude      -87.60983
Name: 11316, dtype: object
11317, Date          2013-08-22
Time         10:08:06 PM
Latitude       41.739408
Longitude     -87.609848
Name: 11317, dtype: object
11318, Date          2013-08-22
Time         10:08:16 PM
Latitude        41.73987
Longitude     -87.609862
Name: 11318, dtype: object
11319, Date          2013-08-22
Time         10:08:26 PM
Latitude       41.740452
Longitude     -87.609875
Name: 11319, dtype: object
11320, Date          2013-08-22
Time         10:08:36 PM
Latitude       41.740963
Longitude       -87.6099
Name: 11320, dtype: object
11321, Date          2013-08-22
Time         10:08:46 PM
Latitude       41.741367
Longitude     -87.609922
Name: 11321, dtype: object
11322, Date          2013-08-22
Time         10:08:56 PM
Latitude       41.741875
Longitude     -87.609933
Name: 11322, dtype: object
11323, Date          2013-08-22
Time         10:09:06 PM
Latitude       41.742517
Longitude     -87.609945
Name: 11323, dtype: object
11324, Date          2013-08-22
Time         10:09:16 PM
Latitude       41.743245
Longitude      -87.60996
Name: 11324, dtype: object
11325, Date          2013-08-22
Time         10:09:26 PM
Latitude       41.743682
Longitude     -87.609952
Name: 11325, dtype: object
11326, Date          2013-08-22
Time         10:09:56 PM
Latitude       41.743697
Longitude     -87.607497
Name: 11326, dtype: object
11327, Date          2013-08-22
Time         10:10:06 PM
Latitude       41.743285
Longitude      -87.60731
Name: 11327, dtype: object
11328, Date          2013-08-22
Time         10:10:16 PM
Latitude        41.74296
Longitude      -87.60732
Name: 11328, dtype: object
11329, Date          2013-08-22
Time         10:10:36 PM
Latitude       41.742335
Longitude     -87.607445
Name: 11329, dtype: object
11330, Date          2013-08-22
Time         10:10:46 PM
Latitude       41.742085
Longitude     -87.607302
Name: 11330, dtype: object
11331, Date          2013-08-22
Time         10:10:56 PM
Latitude       41.742125
Longitude     -87.606732
Name: 11331, dtype: object
11332, Date          2013-08-22
Time         10:11:06 PM
Latitude       41.742133
Longitude     -87.606113
Name: 11332, dtype: object
11333, Date          2013-08-22
Time         10:11:46 PM
Latitude        41.74093
Longitude      -87.60571
Name: 11333, dtype: object
11334, Date          2013-08-22
Time         10:11:56 PM
Latitude       41.740885
Longitude      -87.60642
Name: 11334, dtype: object
11335, Date          2013-08-22
Time         10:14:06 PM
Latitude       41.736493
Longitude      -87.60729
Name: 11335, dtype: object
11336, Date          2013-08-22
Time         10:14:16 PM
Latitude        41.73588
Longitude     -87.607278
Name: 11336, dtype: object
11337, Date          2013-08-22
Time         10:14:26 PM
Latitude       41.735248
Longitude     -87.607255
Name: 11337, dtype: object
11338, Date          2013-08-22
Time         10:14:36 PM
Latitude       41.734635
Longitude      -87.60724
Name: 11338, dtype: object
11339, Date          2013-08-22
Time         10:20:26 PM
Latitude       41.734455
Longitude     -87.607182
Name: 11339, dtype: object
11340, Date          2013-08-22
Time         10:20:36 PM
Latitude       41.734095
Longitude     -87.607222
Name: 11340, dtype: object
11341, Date          2013-08-22
Time         10:20:46 PM
Latitude       41.733718
Longitude       -87.6072
Name: 11341, dtype: object
11342, Date          2013-08-22
Time         10:20:56 PM
Latitude       41.733283
Longitude     -87.607182
Name: 11342, dtype: object
11343, Date          2013-08-22
Time         10:21:06 PM
Latitude       41.732775
Longitude     -87.607175
Name: 11343, dtype: object
11344, Date          2013-08-22
Time         10:21:16 PM
Latitude       41.732203
Longitude     -87.607168
Name: 11344, dtype: object
11345, Date          2013-08-22
Time         10:21:26 PM
Latitude       41.731613
Longitude     -87.607135
Name: 11345, dtype: object
11346, Date          2013-08-22
Time         10:21:36 PM
Latitude       41.731002
Longitude      -87.60711
Name: 11346, dtype: object
11347, Date          2013-08-22
Time         10:21:46 PM
Latitude         41.7303
Longitude     -87.607105
Name: 11347, dtype: object
11348, Date          2013-08-22
Time         10:21:56 PM
Latitude        41.72973
Longitude     -87.607108
Name: 11348, dtype: object
11349, Date          2013-08-22
Time         10:22:06 PM
Latitude         41.7291
Longitude      -87.60708
Name: 11349, dtype: object
11350, Date          2013-08-22
Time         10:22:16 PM
Latitude       41.728478
Longitude     -87.607072
Name: 11350, dtype: object
11351, Date          2013-08-22
Time         10:22:26 PM
Latitude       41.727862
Longitude     -87.607062
Name: 11351, dtype: object
11352, Date          2013-08-22
Time         10:22:36 PM
Latitude       41.727248
Longitude     -87.607052
Name: 11352, dtype: object
11353, Date          2013-08-22
Time         10:22:46 PM
Latitude       41.726663
Longitude     -87.607023
Name: 11353, dtype: object
11354, Date          2013-08-22
Time         10:22:56 PM
Latitude       41.726035
Longitude     -87.607002
Name: 11354, dtype: object
11355, Date          2013-08-22
Time         10:23:06 PM
Latitude       41.725757
Longitude      -87.60663
Name: 11355, dtype: object
11356, Date          2013-08-22
Time         10:23:16 PM
Latitude       41.725773
Longitude     -87.605867
Name: 11356, dtype: object
11357, Date          2013-08-22
Time         10:23:26 PM
Latitude       41.725282
Longitude      -87.60579
Name: 11357, dtype: object
11358, Date          2013-08-22
Time         10:23:36 PM
Latitude       41.724708
Longitude     -87.605823
Name: 11358, dtype: object
11359, Date          2013-08-22
Time         10:23:46 PM
Latitude       41.724788
Longitude      -87.60639
Name: 11359, dtype: object
11360, Date          2013-08-22
Time         10:23:56 PM
Latitude       41.725128
Longitude     -87.607083
Name: 11360, dtype: object
11361, Date          2013-08-22
Time         10:24:06 PM
Latitude       41.725455
Longitude     -87.607752
Name: 11361, dtype: object
11362, Date          2013-08-22
Time         10:24:16 PM
Latitude       41.725652
Longitude     -87.608412
Name: 11362, dtype: object
11363, Date          2013-08-22
Time         10:24:26 PM
Latitude       41.725837
Longitude     -87.609112
Name: 11363, dtype: object
11364, Date          2013-08-22
Time         10:24:36 PM
Latitude       41.726373
Longitude      -87.60938
Name: 11364, dtype: object
11365, Date          2013-08-22
Time         10:24:46 PM
Latitude       41.726982
Longitude     -87.609402
Name: 11365, dtype: object
11366, Date          2013-08-22
Time         10:24:56 PM
Latitude       41.727628
Longitude     -87.609427
Name: 11366, dtype: object
11367, Date          2013-08-22
Time         10:25:06 PM
Latitude       41.728252
Longitude     -87.609438
Name: 11367, dtype: object
11368, Date          2013-08-22
Time         10:25:16 PM
Latitude        41.72889
Longitude     -87.609455
Name: 11368, dtype: object
11369, Date          2013-08-22
Time         10:25:26 PM
Latitude       41.729507
Longitude     -87.609473
Name: 11369, dtype: object
11370, Date          2013-08-22
Time         10:25:36 PM
Latitude       41.730048
Longitude     -87.609503
Name: 11370, dtype: object
11371, Date          2013-08-22
Time         10:25:46 PM
Latitude       41.730563
Longitude     -87.609517
Name: 11371, dtype: object
11372, Date          2013-08-22
Time         10:25:56 PM
Latitude       41.730988
Longitude     -87.609703
Name: 11372, dtype: object
11373, Date          2013-08-22
Time         10:26:06 PM
Latitude       41.730975
Longitude     -87.610527
Name: 11373, dtype: object
11374, Date          2013-08-22
Time         10:26:16 PM
Latitude        41.73097
Longitude     -87.611413
Name: 11374, dtype: object
11375, Date          2013-08-22
Time         10:26:26 PM
Latitude       41.730952
Longitude     -87.612317
Name: 11375, dtype: object
11376, Date          2013-08-22
Time         10:26:36 PM
Latitude        41.73095
Longitude     -87.613267
Name: 11376, dtype: object
11377, Date          2013-08-22
Time         10:26:46 PM
Latitude        41.73094
Longitude      -87.61412
Name: 11377, dtype: object
11378, Date          2013-08-22
Time         10:26:56 PM

11667, Date         2013-08-29
Time         8:37:47 PM
Latitude      41.780553
Longitude    -87.705645
Name: 11667, dtype: object
11668, Date         2013-08-29
Time         8:37:57 PM
Latitude      41.779902
Longitude    -87.705612
Name: 11668, dtype: object
11669, Date         2013-08-29
Time         8:38:07 PM
Latitude      41.779283
Longitude    -87.705588
Name: 11669, dtype: object
11670, Date         2013-08-29
Time         8:38:37 PM
Latitude      41.778632
Longitude    -87.705552
Name: 11670, dtype: object
11671, Date         2013-08-29
Time         8:38:47 PM
Latitude      41.778098
Longitude    -87.705543
Name: 11671, dtype: object
11672, Date         2013-08-29
Time         8:38:57 PM
Latitude      41.777518
Longitude    -87.705522
Name: 11672, dtype: object
11673, Date         2013-08-29
Time         8:39:07 PM
Latitude       41.77689
Longitude    -87.705502
Name: 11673, dtype: object
11674, Date         2013-08-29
Time         8:39:17 PM
Latitude       41.77625
Longitude     -87.70548
Name: 11674, dtype: object
11675, Date         2013-08-29
Time         8:39:27 PM
Latitude      41.775583
Longitude    -87.705467
Name: 11675, dtype: object
11676, Date         2013-08-29
Time         8:39:37 PM
Latitude      41.775003
Longitude    -87.705447
Name: 11676, dtype: object
11677, Date         2013-08-29
Time         8:39:47 PM
Latitude      41.774442
Longitude     -87.70543
Name: 11677, dtype: object
11678, Date         2013-08-29
Time         8:39:57 PM
Latitude       41.77381
Longitude    -87.705412
Name: 11678, dtype: object
11679, Date         2013-08-29
Time         8:40:07 PM
Latitude       41.77317
Longitude    -87.705387
Name: 11679, dtype: object
11680, Date         2013-08-29
Time         8:40:17 PM
Latitude      41.772515
Longitude    -87.705357
Name: 11680, dtype: object
11681, Date         2013-08-29
Time         8:41:07 PM
Latitude      41.771773
Longitude    -87.710007
Name: 11681, dtype: object
11682, Date         2013-08-29
Time         8:41:17 PM
Latitude      41.772138
Longitude    -87.710208
Name: 11682, dtype: object
11683, Date         2013-08-29
Time         8:41:27 PM
Latitude      41.772712
Longitude    -87.710213
Name: 11683, dtype: object
11684, Date         2013-08-29
Time         8:41:37 PM
Latitude      41.773342
Longitude    -87.710232
Name: 11684, dtype: object
11685, Date         2013-08-29
Time         8:41:47 PM
Latitude       41.77396
Longitude    -87.710258
Name: 11685, dtype: object
11686, Date         2013-08-29
Time         8:41:57 PM
Latitude      41.774585
Longitude    -87.710278
Name: 11686, dtype: object
11687, Date         2013-08-29
Time         8:42:07 PM
Latitude      41.775295
Longitude    -87.710302
Name: 11687, dtype: object
11688, Date         2013-08-29
Time         8:42:17 PM
Latitude      41.775953
Longitude    -87.710323
Name: 11688, dtype: object
11689, Date         2013-08-29
Time         8:42:27 PM
Latitude      41.776615
Longitude    -87.710365
Name: 11689, dtype: object
11690, Date         2013-08-29
Time         8:42:37 PM
Latitude      41.777228
Longitude    -87.710385
Name: 11690, dtype: object
11691, Date         2013-08-29
Time         8:42:47 PM
Latitude      41.777958
Longitude    -87.710407
Name: 11691, dtype: object
11692, Date         2013-08-29
Time         8:43:17 PM
Latitude      41.778752
Longitude    -87.710448
Name: 11692, dtype: object
11693, Date         2013-08-29
Time         8:43:27 PM
Latitude      41.779362
Longitude     -87.71049
Name: 11693, dtype: object
11694, Date         2013-08-29
Time         8:43:37 PM
Latitude      41.779835
Longitude    -87.710515
Name: 11694, dtype: object
11695, Date         2013-08-29
Time         8:43:47 PM
Latitude       41.78038
Longitude    -87.710533
Name: 11695, dtype: object
11696, Date         2013-08-29
Time         8:43:57 PM
Latitude       41.78094
Longitude     -87.71058
Name: 11696, dtype: object
11697, Date         2013-08-29
Time         8:44:07 PM
Latitude      41.781387
Longitude    -87.710598
Name: 11697, dtype: object
11698, Date         2013-08-29
Time         8:44:17 PM
Latitude      41.782012
Longitude    -87.710622
Name: 11698, dtype: object
11699, Date         2013-08-29
Time         8:44:27 PM
Latitude       41.78259
Longitude    -87.710647
Name: 11699, dtype: object
11700, Date         2013-08-29
Time         8:44:37 PM
Latitude      41.783248
Longitude    -87.710647
Name: 11700, dtype: object
11701, Date         2013-08-29
Time         8:44:47 PM
Latitude      41.783862
Longitude    -87.710683
Name: 11701, dtype: object
11702, Date         2013-08-29
Time         8:44:57 PM
Latitude       41.78449
Longitude    -87.710702
Name: 11702, dtype: object
11703, Date         2013-08-29
Time         8:45:07 PM
Latitude       41.78517
Longitude    -87.710715
Name: 11703, dtype: object
11704, Date         2013-08-29
Time         8:45:17 PM
Latitude      41.785757
Longitude     -87.71072
Name: 11704, dtype: object
11705, Date         2013-08-29
Time         9:20:47 PM
Latitude      41.771905
Longitude     -87.70058
Name: 11705, dtype: object
11706, Date         2013-08-29
Time         9:20:57 PM
Latitude      41.772205
Longitude     -87.70062
Name: 11706, dtype: object
11707, Date         2013-08-29
Time         9:21:07 PM
Latitude      41.772685
Longitude    -87.700593
Name: 11707, dtype: object
11708, Date         2013-08-29
Time         9:21:17 PM
Latitude      41.773212
Longitude    -87.700593
Name: 11708, dtype: object
11709, Date         2013-08-29
Time         9:21:27 PM
Latitude      41.773712
Longitude    -87.700602
Name: 11709, dtype: object
11710, Date         2013-08-29
Time         9:21:47 PM
Latitude      41.774535
Longitude    -87.700633
Name: 11710, dtype: object
11711, Date         2013-08-29
Time         9:21:57 PM
Latitude      41.774925
Longitude    -87.700653
Name: 11711, dtype: object
11712, Date         2013-08-29
Time         9:22:07 PM
Latitude      41.775372
Longitude     -87.70067
Name: 11712, dtype: object
11713, Date         2013-08-29
Time         9:22:17 PM
Latitude      41.775838
Longitude    -87.700683
Name: 11713, dtype: object
11714, Date         2013-08-29
Time         9:22:27 PM
Latitude       41.77625
Longitude    -87.700712
Name: 11714, dtype: object
11715, Date         2013-08-29
Time         9:22:37 PM
Latitude      41.776698
Longitude    -87.700713
Name: 11715, dtype: object
11716, Date         2013-08-29
Time         9:22:47 PM
Latitude      41.777182
Longitude    -87.700713
Name: 11716, dtype: object
11717, Date         2013-08-29
Time         9:22:57 PM
Latitude      41.777705
Longitude    -87.700732
Name: 11717, dtype: object
11718, Date         2013-08-29
Time         9:23:07 PM
Latitude      41.778187
Longitude    -87.700727
Name: 11718, dtype: object
11719, Date         2013-08-29
Time         9:23:37 PM
Latitude      41.778448
Longitude    -87.701915
Name: 11719, dtype: object
11720, Date         2013-08-29
Time         9:23:47 PM
Latitude      41.778073
Longitude    -87.701897
Name: 11720, dtype: object
11721, Date         2013-08-29
Time         9:23:57 PM
Latitude      41.777613
Longitude    -87.701898
Name: 11721, dtype: object
11722, Date         2013-08-29
Time         9:24:07 PM
Latitude       41.77719
Longitude     -87.70186
Name: 11722, dtype: object
11723, Date         2013-08-29
Time         9:24:17 PM
Latitude       41.77675
Longitude    -87.701843
Name: 11723, dtype: object
11724, Date         2013-08-29
Time         9:24:27 PM
Latitude      41.776278
Longitude    -87.701832
Name: 11724, dtype: object
11725, Date         2013-08-29
Time         9:24:37 PM
Latitude       41.77581
Longitude    -87.701818
Name: 11725, dtype: object
11726, Date         2013-08-29
Time         9:24:47 PM
Latitude      41.775323
Longitude    -87.701805
Name: 11726, dtype: object
11727, Date         2013-08-29
Time         9:24:57 PM
Latitude      41.774863
Longitude    -87.701795
Name: 11727, dtype: object
11728, Date         2013-08-29
Time         9:25:07 PM
Latitude      41.774445
Longitude    -87.701793
Name: 11728, dtype: object
11729, Date         2013-08-29
Time         9:25:17 PM
Latitude      41.773988
Longitude    -87.701787
Name: 11729, dtype: object
11730, Date         2013-08-29
Time         9:25:27 PM
Latitude      41.773545
Longitude    -87.701777
Name: 11730, dtype: object
11731, Date         2013-08-29
Time         9:25:37 PM
Latitude      41.773058
Longitude    -87.701767
Name: 11731, dtype: object
11732, Date         2013-08-29
Time         9:25:47 PM
Latitude       41.77258
Longitude    -87.701762
Name: 11732, dtype: object
11733, Date         2013-08-29
Time         9:25:57 PM
Latitude      41.772182
Longitude    -87.701815
Name: 11733, dtype: object
11734, Date         2013-08-29
Time         9:26:57 PM
Latitude      41.772295
Longitude    -87.698177
Name: 11734, dtype: object
11735, Date         2013-08-29
Time         9:27:07 PM
Latitude      41.772785
Longitude    -87.698212
Name: 11735, dtype: object
11736, Date         2013-08-29
Time         9:27:17 PM
Latitude      41.773293
Longitude    -87.698222
Name: 11736, dtype: object
11737, Date         2013-08-29
Time         9:27:27 PM
Latitude       41.77376
Longitude    -87.698227
Name: 11737, dtype: object
11738, Date         2013-08-29
Time         9:27:37 PM
Latitude      41.774308
Longitude    -87.698227
Name: 11738, dtype: object
11739, Date         2013-08-29
Time         9:27:47 PM
Latitude      41.774798
Longitude    -87.698228
Name: 11739, dtype: object
11740, Date         2013-08-29
Time         9:27:57 PM
Latitude       41.77526
Longitude    -87.698233
Name: 11740, dtype: object
11741, Date         2013-08-29
Time         9:28:07 PM
Latitude      41.775797
Longitude    -87.698233
Name: 11741, dtype: object
11742, Date         2013-08-29
Time         9:28:17 PM
Latitude      41.776388
Longitude    -87.698242
Name: 11742, dtype: object
11743, Date         2013-08-29
Time         9:28:27 PM
Latitude      41.776952
Longitude    -87.698252
Name: 11743, dtype: object
11744, Date         2013-08-29
Time         9:28:37 PM
Latitude       41.77723
Longitude    -87.698257
Name: 11744, dtype: object
11745, Date         2013-08-29
Time         9:28:47 PM
Latitude      41.777775
Longitude    -87.698245
Name: 11745, dtype: object
11746, Date         2013-08-29
Time         9:28:57 PM
Latitude      41.778293
Longitude    -87.698257
Name: 11746, dtype: object
11747, Date         2013-08-29
Time         9:29:07 PM
Latitude      41.778702
Longitude    -87.698287
Name: 11747, dtype: object
11748, Date         2013-08-29
Time         9:29:47 PM
Latitude       41.77913
Longitude    -87.698292
Name: 11748, dtype: object
11749, Date         2013-08-29
Time         9:30:07 PM
Latitude      41.779855
Longitude    -87.698267
Name: 11749, dtype: object
11750, Date         2013-08-29
Time         9:30:17 PM
Latitude      41.780305
Longitude    -87.698278
Name: 11750, dtype: object
11751, Date         2013-08-29
Time         9:30:27 PM
Latitude      41.780842
Longitude    -87.698293
Name: 11751, dtype: object
11752, Date         2013-08-29
Time         9:30:47 PM
Latitude      41.781332
Longitude    -87.698308
Name: 11752, dtype: object
11753, Date         2013-08-29
Time         9:30:57 PM
Latitude       41.78177
Longitude    -87.698315
Name: 11753, dtype: object
11754, Date         2013-08-29
Time         9:31:07 PM
Latitude      41.782172
Longitude    -87.698312
Name: 11754, dtype: object
11755, Date         2013-08-29
Time         9:31:17 PM
Latitude        41.7826
Longitude    -87.698353
Name: 11755, dtype: object
11756, Date         2013-08-29
Time         9:31:27 PM
Latitude      41.783147
Longitude    -87.698363
Name: 11756, dtype: object
11757, Date         2013-08-29
Time         9:31:37 PM
Latitude      41.783692
Longitude    -87.698382
Name: 11757, dtype: object
11758, Date         2013-08-29
Time         9:31:47 PM
Latitude      41.784215
Longitude    -87.698387
Name: 11758, dtype: object
11759, Date         2013-08-29
Time         9:31:57 PM
Latitude      41.784793
Longitude    -87.698413
Name: 11759, dtype: object
11760, Date         2013-08-29
Time         9:32:07 PM
Latitude      41.785365
Longitude    -87.698433
Name: 11760, dtype: object
11761, Date         2013-08-29
Time         9:32:47 PM
Latitude      41.785528
Longitude    -87.699652
Name: 11761, dtype: object
11762, Date         2013-08-29
Time         9:32:57 PM
Latitude      41.785125
Longitude    -87.699625
Name: 11762, dtype: object
11763, Date         2013-08-29
Time         9:33:07 PM
Latitude      41.784702
Longitude    -87.699618
Name: 11763, dtype: object
11764, Date         2013-08-29
Time         9:33:17 PM
Latitude      41.784207
Longitude    -87.699608
Name: 11764, dtype: object
11765, Date         2013-08-29
Time         9:33:27 PM
Latitude      41.783688
Longitude    -87.699608
Name: 11765, dtype: object
11766, Date         2013-08-29
Time         9:33:37 PM
Latitude      41.783133
Longitude    -87.699592
Name: 11766, dtype: object
11767, Date         2013-08-29
Time         9:33:47 PM
Latitude      41.782608
Longitude    -87.699572
Name: 11767, dtype: object
11768, Date         2013-08-29
Time         9:33:57 PM
Latitude      41.782127
Longitude    -87.699537
Name: 11768, dtype: object
11769, Date         2013-08-29
Time         9:34:07 PM
Latitude       41.78154
Longitude    -87.699515
Name: 11769, dtype: object
11770, Date         2013-08-29
Time         9:34:17 PM
Latitude      41.780995
Longitude    -87.699473
Name: 11770, dtype: object
11771, Date         2013-08-29
Time         9:34:27 PM
Latitude      41.780472
Longitude    -87.699467
Name: 11771, dtype: object
11772, Date         2013-08-29
Time         9:34:37 PM
Latitude      41.779978
Longitude    -87.699437
Name: 11772, dtype: object
11773, Date         2013-08-29
Time         9:35:07 PM
Latitude      41.779352
Longitude    -87.700622
Name: 11773, dtype: object
11774, Date         2013-08-29
Time         9:35:17 PM
Latitude      41.779695
Longitude    -87.700633
Name: 11774, dtype: object
11775, Date         2013-08-29
Time         9:35:27 PM
Latitude      41.780052
Longitude    -87.700662
Name: 11775, dtype: object
11776, Date         2013-08-29
Time         9:35:37 PM
Latitude      41.780388
Longitude    -87.700728
Name: 11776, dtype: object
11777, Date         2013-08-29
Time         9:35:47 PM
Latitude      41.780743
Longitude    -87.700752
Name: 11777, dtype: object
11778, Date         2013-08-29
Time         9:35:57 PM
Latitude        41.7812
Longitude    -87.700753
Name: 11778, dtype: object
11779, Date         2013-08-29
Time         9:36:07 PM
Latitude      41.781625
Longitude      -87.7008
Name: 11779, dtype: object
11780, Date         2013-08-29
Time         9:36:17 PM
Latitude      41.782045
Longitude    -87.700825
Name: 11780, dtype: object
11781, Date         2013-08-29
Time         9:36:27 PM
Latitude      41.782445
Longitude    -87.700842
Name: 11781, dtype: object
11782, Date         2013-08-29
Time         9:36:37 PM
Latitude      41.782867
Longitude    -87.700847
Name: 11782, dtype: object
11783, Date         2013-08-29
Time         9:36:47 PM
Latitude      41.783297
Longitude     -87.70085
Name: 11783, dtype: object
11784, Date         2013-08-29
Time         9:36:57 PM
Latitude      41.783743
Longitude    -87.700852
Name: 11784, dtype: object
11785, Date         2013-08-29
Time         9:37:07 PM
Latitude      41.784333
Longitude    -87.700835
Name: 11785, dtype: object
11786, Date         2013-08-29
Time         9:37:17 PM
Latitude      41.784877
Longitude    -87.700873
Name: 11786, dtype: object
11787, Date         2013-08-29
Time         9:37:27 PM
Latitude      41.785288
Longitude    -87.700895
Name: 11787, dtype: object
11788, Date         2013-08-29
Time         9:38:07 PM
Latitude      41.785698
Longitude    -87.702112
Name: 11788, dtype: object
11789, Date         2013-08-29
Time         9:38:17 PM
Latitude      41.785318
Longitude    -87.702117
Name: 11789, dtype: object
11790, Date         2013-08-29
Time         9:38:27 PM
Latitude      41.784922
Longitude    -87.702082
Name: 11790, dtype: object
11791, Date         2013-08-29
Time         9:38:37 PM
Latitude      41.784567
Longitude    -87.702053
Name: 11791, dtype: object
11792, Date         2013-08-29
Time         9:38:47 PM
Latitude      41.784128
Longitude     -87.70202
Name: 11792, dtype: object
11793, Date         2013-08-29
Time         9:38:57 PM
Latitude      41.783742
Longitude    -87.702027
Name: 11793, dtype: object
11794, Date         2013-08-29
Time         9:39:07 PM
Latitude      41.783327
Longitude    -87.702012
Name: 11794, dtype: object
11795, Date         2013-08-29
Time         9:39:17 PM
Latitude      41.782937
Longitude    -87.701992
Name: 11795, dtype: object
11796, Date         2013-08-29
Time         9:39:27 PM
Latitude      41.782517
Longitude    -87.701987
Name: 11796, dtype: object
11797, Date         2013-08-29
Time         9:39:37 PM
Latitude      41.782158
Longitude     -87.70196
Name: 11797, dtype: object
11798, Date         2013-08-29
Time         9:39:47 PM
Latitude      41.781782
Longitude    -87.701952
Name: 11798, dtype: object
11799, Date         2013-08-29
Time         9:39:57 PM
Latitude      41.781423
Longitude    -87.701937
Name: 11799, dtype: object
11800, Date         2013-08-29
Time         9:40:07 PM
Latitude      41.781042
Longitude    -87.701927
Name: 11800, dtype: object
11801, Date         2013-08-29
Time         9:40:17 PM
Latitude      41.780602
Longitude    -87.701927
Name: 11801, dtype: object
11802, Date         2013-08-29
Time         9:40:27 PM
Latitude      41.780173
Longitude    -87.701913
Name: 11802, dtype: object
11803, Date         2013-08-29
Time         9:41:17 PM
Latitude      41.778705
Longitude     -87.69952
Name: 11803, dtype: object
11804, Date         2013-08-29
Time         9:41:27 PM
Latitude      41.778147
Longitude    -87.699492
Name: 11804, dtype: object
11805, Date         2013-08-29
Time         9:41:37 PM
Latitude      41.777575
Longitude    -87.699483
Name: 11805, dtype: object
11806, Date         2013-08-29
Time         9:41:47 PM
Latitude      41.777018
Longitude    -87.699467
Name: 11806, dtype: object
11807, Date         2013-08-29
Time         9:41:57 PM
Latitude      41.776465
Longitude     -87.69944
Name: 11807, dtype: object
11808, Date         2013-08-29
Time         9:42:07 PM
Latitude      41.775902
Longitude     -87.69943
Name: 11808, dtype: object
11809, Date         2013-08-29
Time         9:42:17 PM
Latitude      41.775355
Longitude    -87.699418
Name: 11809, dtype: object
11810, Date         2013-08-29
Time         9:42:27 PM
Latitude      41.774795
Longitude    -87.699405
Name: 11810, dtype: object
11811, Date         2013-08-29
Time         9:42:37 PM
Latitude      41.774183
Longitude     -87.69939
Name: 11811, dtype: object
11812, Date         2013-08-29
Time         9:42:47 PM
Latitude      41.773655
Longitude    -87.699373
Name: 11812, dtype: object
11813, Date         2013-08-29
Time         9:42:57 PM
Latitude       41.77303
Longitude    -87.699353
Name: 11813, dtype: object
11814, Date         2013-08-29
Time         9:43:07 PM
Latitude      41.772445
Longitude    -87.699342
Name: 11814, dtype: object
11815, Date         2013-08-29
Time         9:43:37 PM
Latitude       41.77216
Longitude    -87.698113
Name: 11815, dtype: object
11816, Date         2013-08-29
Time         9:43:47 PM
Latitude      41.772705
Longitude     -87.69814
Name: 11816, dtype: object
11817, Date         2013-08-29
Time         9:43:57 PM
Latitude      41.773002
Longitude    -87.698173
Name: 11817, dtype: object
11818, Date         2013-08-29
Time         9:44:07 PM
Latitude      41.773237
Longitude     -87.69821
Name: 11818, dtype: object
11819, Date         2013-08-29
Time         9:44:17 PM
Latitude      41.773655
Longitude    -87.698208
Name: 11819, dtype: object
11820, Date         2013-08-29
Time         9:44:27 PM
Latitude      41.774173
Longitude    -87.698213

12103, Date         2013-08-29
Time         8:51:23 PM
Latitude      41.762782
Longitude    -87.719893
Name: 12103, dtype: object
12104, Date         2013-08-29
Time         8:51:33 PM
Latitude      41.763372
Longitude    -87.719913
Name: 12104, dtype: object
12105, Date         2013-08-29
Time         8:51:43 PM
Latitude      41.763682
Longitude    -87.720175
Name: 12105, dtype: object
12106, Date         2013-08-29
Time         8:51:53 PM
Latitude       41.76366
Longitude    -87.720798
Name: 12106, dtype: object
12107, Date         2013-08-29
Time         8:52:03 PM
Latitude      41.763505
Longitude    -87.721088
Name: 12107, dtype: object
12108, Date         2013-08-29
Time         8:52:13 PM
Latitude      41.762945
Longitude    -87.721083
Name: 12108, dtype: object
12109, Date         2013-08-29
Time         8:52:23 PM
Latitude      41.762452
Longitude    -87.721067
Name: 12109, dtype: object
12110, Date         2013-08-29
Time         8:52:33 PM
Latitude       41.76232
Longitude    -87.720648
Name: 12110, dtype: object
12111, Date         2013-08-29
Time         8:52:43 PM
Latitude       41.76233
Longitude    -87.719963
Name: 12111, dtype: object
12112, Date         2013-08-29
Time         8:52:53 PM
Latitude       41.76234
Longitude    -87.719282
Name: 12112, dtype: object
12113, Date         2013-08-29
Time         8:53:03 PM
Latitude      41.762347
Longitude    -87.718683
Name: 12113, dtype: object
12114, Date         2013-08-29
Time         8:53:13 PM
Latitude      41.762365
Longitude    -87.717918
Name: 12114, dtype: object
12115, Date         2013-08-29
Time         8:53:23 PM
Latitude       41.76237
Longitude    -87.717193
Name: 12115, dtype: object
12116, Date         2013-08-29
Time         8:53:33 PM
Latitude      41.762375
Longitude    -87.716385
Name: 12116, dtype: object
12117, Date         2013-08-29
Time         8:53:43 PM
Latitude      41.762392
Longitude    -87.715637
Name: 12117, dtype: object
12118, Date         2013-08-29
Time         8:53:53 PM
Latitude       41.76239
Longitude    -87.714963
Name: 12118, dtype: object
12119, Date         2013-08-29
Time         8:54:03 PM
Latitude       41.76241
Longitude    -87.714232
Name: 12119, dtype: object
12120, Date         2013-08-29
Time         8:54:13 PM
Latitude      41.762417
Longitude    -87.713507
Name: 12120, dtype: object
12121, Date         2013-08-29
Time         8:54:23 PM
Latitude      41.762432
Longitude    -87.712903
Name: 12121, dtype: object
12122, Date         2013-08-29
Time         8:54:33 PM
Latitude      41.762795
Longitude    -87.712842
Name: 12122, dtype: object
12123, Date         2013-08-29
Time         8:54:43 PM
Latitude      41.763148
Longitude    -87.712843
Name: 12123, dtype: object
12124, Date         2013-08-29
Time         8:54:53 PM
Latitude      41.763567
Longitude    -87.712858
Name: 12124, dtype: object
12125, Date         2013-08-29
Time         8:55:03 PM
Latitude      41.764015
Longitude    -87.712862
Name: 12125, dtype: object
12126, Date         2013-08-29
Time         8:57:33 PM
Latitude      41.764993
Longitude    -87.721862
Name: 12126, dtype: object
12127, Date         2013-08-29
Time         8:57:43 PM
Latitude      41.765018
Longitude    -87.721065
Name: 12127, dtype: object
12128, Date         2013-08-29
Time         8:57:53 PM
Latitude      41.765038
Longitude    -87.720312
Name: 12128, dtype: object
12129, Date         2013-08-29
Time         8:58:03 PM
Latitude      41.765052
Longitude    -87.719685
Name: 12129, dtype: object
12130, Date         2013-08-29
Time         8:58:13 PM
Latitude      41.765053
Longitude    -87.719025
Name: 12130, dtype: object
12131, Date         2013-08-29
Time         8:58:23 PM
Latitude      41.765068
Longitude    -87.718363
Name: 12131, dtype: object
12132, Date         2013-08-29
Time         8:58:33 PM
Latitude       41.76508
Longitude    -87.717725
Name: 12132, dtype: object
12133, Date         2013-08-29
Time         8:58:43 PM
Latitude        41.7651
Longitude    -87.717018
Name: 12133, dtype: object
12134, Date         2013-08-29
Time         8:58:53 PM
Latitude      41.765112
Longitude    -87.716168
Name: 12134, dtype: object
12135, Date         2013-08-29
Time         8:59:03 PM
Latitude      41.765128
Longitude     -87.71538
Name: 12135, dtype: object
12136, Date         2013-08-29
Time         8:59:13 PM
Latitude      41.765137
Longitude    -87.714748
Name: 12136, dtype: object
12137, Date         2013-08-29
Time         8:59:23 PM
Latitude       41.76514
Longitude    -87.713937
Name: 12137, dtype: object
12138, Date         2013-08-29
Time         8:59:33 PM
Latitude      41.765153
Longitude     -87.71316
Name: 12138, dtype: object
12139, Date         2013-08-29
Time         9:00:03 PM
Latitude      41.766047
Longitude    -87.713388
Name: 12139, dtype: object
12140, Date         2013-08-29
Time         9:00:13 PM
Latitude       41.76604
Longitude    -87.714115
Name: 12140, dtype: object
12141, Date         2013-08-29
Time         9:00:23 PM
Latitude      41.766042
Longitude    -87.714835
Name: 12141, dtype: object
12142, Date         2013-08-29
Time         9:00:33 PM
Latitude      41.766022
Longitude    -87.715498
Name: 12142, dtype: object
12143, Date         2013-08-29
Time         9:00:43 PM
Latitude      41.766017
Longitude    -87.716248
Name: 12143, dtype: object
12144, Date         2013-08-29
Time         9:00:53 PM
Latitude      41.766005
Longitude    -87.716977
Name: 12144, dtype: object
12145, Date         2013-08-29
Time         9:01:03 PM
Latitude      41.765997
Longitude    -87.717635
Name: 12145, dtype: object
12146, Date         2013-08-29
Time         9:01:13 PM
Latitude      41.765988
Longitude     -87.71831
Name: 12146, dtype: object
12147, Date         2013-08-29
Time         9:01:23 PM
Latitude      41.765977
Longitude    -87.718948
Name: 12147, dtype: object
12148, Date         2013-08-29
Time         9:01:33 PM
Latitude      41.765963
Longitude    -87.719595
Name: 12148, dtype: object
12149, Date         2013-08-29
Time         9:01:43 PM
Latitude      41.765952
Longitude    -87.720282
Name: 12149, dtype: object
12150, Date         2013-08-29
Time         9:01:53 PM
Latitude      41.765942
Longitude    -87.721077
Name: 12150, dtype: object
12151, Date         2013-08-29
Time         9:02:03 PM
Latitude      41.765933
Longitude    -87.721843
Name: 12151, dtype: object
12152, Date         2013-08-29
Time         9:02:33 PM
Latitude      41.766863
Longitude    -87.721737
Name: 12152, dtype: object
12153, Date         2013-08-29
Time         9:02:43 PM
Latitude      41.766875
Longitude    -87.721205
Name: 12153, dtype: object
12154, Date         2013-08-29
Time         9:02:53 PM
Latitude      41.766877
Longitude    -87.720637
Name: 12154, dtype: object
12155, Date         2013-08-29
Time         9:03:03 PM
Latitude      41.766888
Longitude    -87.720032
Name: 12155, dtype: object
12156, Date         2013-08-29
Time         9:03:13 PM
Latitude      41.766897
Longitude    -87.719318
Name: 12156, dtype: object
12157, Date         2013-08-29
Time         9:03:23 PM
Latitude      41.766907
Longitude     -87.71868
Name: 12157, dtype: object
12158, Date         2013-08-29
Time         9:03:33 PM
Latitude      41.766918
Longitude     -87.71806
Name: 12158, dtype: object
12159, Date         2013-08-29
Time         9:03:43 PM
Latitude       41.76693
Longitude    -87.717418
Name: 12159, dtype: object
12160, Date         2013-08-29
Time         9:03:53 PM
Latitude      41.766945
Longitude    -87.716735
Name: 12160, dtype: object
12161, Date         2013-08-29
Time         9:04:03 PM
Latitude       41.76696
Longitude    -87.716107
Name: 12161, dtype: object
12162, Date         2013-08-29
Time         9:04:13 PM
Latitude      41.766957
Longitude    -87.715433
Name: 12162, dtype: object
12163, Date         2013-08-29
Time         9:04:23 PM
Latitude      41.766957
Longitude    -87.714868
Name: 12163, dtype: object
12164, Date         2013-08-29
Time         9:04:33 PM
Latitude       41.76696
Longitude    -87.714335
Name: 12164, dtype: object
12165, Date         2013-08-29
Time         9:04:43 PM
Latitude      41.766963
Longitude     -87.71364
Name: 12165, dtype: object
12166, Date         2013-08-29
Time         9:05:33 PM
Latitude       41.76784
Longitude     -87.71519
Name: 12166, dtype: object
12167, Date         2013-08-29
Time         9:05:43 PM
Latitude      41.767822
Longitude    -87.715817
Name: 12167, dtype: object
12168, Date         2013-08-29
Time         9:05:53 PM
Latitude      41.767808
Longitude    -87.716413
Name: 12168, dtype: object
12169, Date         2013-08-29
Time         9:06:03 PM
Latitude      41.767805
Longitude     -87.71702
Name: 12169, dtype: object
12170, Date         2013-08-29
Time         9:06:13 PM
Latitude      41.767812
Longitude    -87.717537
Name: 12170, dtype: object
12171, Date         2013-08-29
Time         9:06:23 PM
Latitude      41.767795
Longitude    -87.718143
Name: 12171, dtype: object
12172, Date         2013-08-29
Time         9:06:33 PM
Latitude      41.767785
Longitude    -87.718833
Name: 12172, dtype: object
12173, Date         2013-08-29
Time         9:06:43 PM
Latitude      41.767777
Longitude    -87.719545
Name: 12173, dtype: object
12174, Date         2013-08-29
Time         9:06:53 PM
Latitude      41.767772
Longitude    -87.720157
Name: 12174, dtype: object
12175, Date         2013-08-29
Time         9:07:03 PM
Latitude      41.767757
Longitude    -87.720958
Name: 12175, dtype: object
12176, Date         2013-08-29
Time         9:07:13 PM
Latitude      41.767725
Longitude     -87.72173
Name: 12176, dtype: object
12177, Date         2013-08-29
Time         9:07:33 PM
Latitude       41.76859
Longitude    -87.722335
Name: 12177, dtype: object
12178, Date         2013-08-29
Time         9:07:43 PM
Latitude      41.768655
Longitude    -87.721745
Name: 12178, dtype: object
12179, Date         2013-08-29
Time         9:07:53 PM
Latitude      41.768658
Longitude    -87.721188
Name: 12179, dtype: object
12180, Date         2013-08-29
Time         9:08:03 PM
Latitude      41.768667
Longitude    -87.720545
Name: 12180, dtype: object
12181, Date         2013-08-29
Time         9:08:13 PM
Latitude      41.768675
Longitude     -87.72004
Name: 12181, dtype: object
12182, Date         2013-08-29
Time         9:08:23 PM
Latitude      41.768702
Longitude    -87.719305
Name: 12182, dtype: object
12183, Date         2013-08-29
Time         9:08:33 PM
Latitude      41.768712
Longitude    -87.718575
Name: 12183, dtype: object
12184, Date         2013-08-29
Time         9:08:43 PM
Latitude      41.768728
Longitude    -87.717883
Name: 12184, dtype: object
12185, Date         2013-08-29
Time         9:08:53 PM
Latitude      41.768733
Longitude    -87.717217
Name: 12185, dtype: object
12186, Date         2013-08-29
Time         9:09:03 PM
Latitude       41.76874
Longitude    -87.716462
Name: 12186, dtype: object
12187, Date         2013-08-29
Time         9:09:13 PM
Latitude      41.768782
Longitude    -87.715722
Name: 12187, dtype: object
12188, Date         2013-08-29
Time         9:09:23 PM
Latitude      41.768915
Longitude    -87.715245
Name: 12188, dtype: object
12189, Date         2013-08-29
Time         9:09:33 PM
Latitude      41.769457
Longitude    -87.715235
Name: 12189, dtype: object
12190, Date         2013-08-29
Time         9:09:53 PM
Latitude      41.770505
Longitude     -87.71526
Name: 12190, dtype: object
12191, Date         2013-08-29
Time         9:10:03 PM
Latitude      41.770543
Longitude     -87.71597
Name: 12191, dtype: object
12192, Date         2013-08-29
Time         9:10:13 PM
Latitude      41.770527
Longitude    -87.716742
Name: 12192, dtype: object
12193, Date         2013-08-29
Time         9:10:23 PM
Latitude      41.770522
Longitude    -87.717442
Name: 12193, dtype: object
12194, Date         2013-08-29
Time         9:10:33 PM
Latitude       41.77051
Longitude     -87.71801
Name: 12194, dtype: object
12195, Date         2013-08-29
Time         9:10:43 PM
Latitude      41.770493
Longitude    -87.718568
Name: 12195, dtype: object
12196, Date         2013-08-29
Time         9:10:53 PM
Latitude      41.770487
Longitude    -87.719222
Name: 12196, dtype: object
12197, Date         2013-08-29
Time         9:11:03 PM
Latitude       41.77048
Longitude    -87.719865
Name: 12197, dtype: object
12198, Date         2013-08-29
Time         9:11:13 PM
Latitude      41.770478
Longitude     -87.72048
Name: 12198, dtype: object
12199, Date         2013-08-29
Time         9:11:23 PM
Latitude      41.770468
Longitude    -87.721228
Name: 12199, dtype: object
12200, Date         2013-08-29
Time         9:11:43 PM
Latitude      41.770165
Longitude    -87.721875
Name: 12200, dtype: object
12201, Date         2013-08-29
Time         9:11:53 PM
Latitude      41.769797
Longitude    -87.721867
Name: 12201, dtype: object
12202, Date         2013-08-29
Time         9:12:03 PM
Latitude      41.769595
Longitude    -87.721698
Name: 12202, dtype: object
12203, Date         2013-08-29
Time         9:12:13 PM
Latitude      41.769615
Longitude    -87.720962
Name: 12203, dtype: object
12204, Date         2013-08-29
Time         9:12:23 PM
Latitude       41.76963
Longitude     -87.72022
Name: 12204, dtype: object
12205, Date         2013-08-29
Time         9:12:33 PM
Latitude      41.769638
Longitude    -87.719488
Name: 12205, dtype: object
12206, Date         2013-08-29
Time         9:12:43 PM
Latitude      41.769653
Longitude    -87.718682
Name: 12206, dtype: object
12207, Date         2013-08-29
Time         9:12:53 PM
Latitude       41.76966
Longitude    -87.717843
Name: 12207, dtype: object
12208, Date         2013-08-29
Time         9:13:03 PM
Latitude      41.769672
Longitude    -87.717188
Name: 12208, dtype: object
12209, Date         2013-08-29
Time         9:13:13 PM
Latitude      41.769682
Longitude    -87.716422
Name: 12209, dtype: object
12210, Date         2013-08-29
Time         9:13:23 PM
Latitude      41.769693
Longitude     -87.71562
Name: 12210, dtype: object
12211, Date         2013-08-29
Time         9:13:33 PM
Latitude        41.7699
Longitude      -87.7152
Name: 12211, dtype: object
12212, Date         2013-08-29
Time         9:13:43 PM
Latitude      41.770533
Longitude    -87.715223
Name: 12212, dtype: object
12213, Date         2013-08-29
Time         9:13:53 PM
Latitude      41.771115
Longitude    -87.715257
Name: 12213, dtype: object
12214, Date         2013-08-29
Time         9:14:33 PM
Latitude      41.771857
Longitude     -87.71304
Name: 12214, dtype: object
12215, Date         2013-08-29
Time         9:14:43 PM
Latitude      41.772248
Longitude     -87.71302
Name: 12215, dtype: object
12216, Date         2013-08-29
Time         9:14:53 PM
Latitude      41.772417
Longitude    -87.713365
Name: 12216, dtype: object
12217, Date         2013-08-29
Time         9:15:03 PM
Latitude      41.772433
Longitude    -87.714093
Name: 12217, dtype: object
12218, Date         2013-08-29
Time         9:15:13 PM
Latitude      41.772418
Longitude    -87.714825
Name: 12218, dtype: object
12219, Date         2013-08-29
Time         9:15:23 PM
Latitude      41.772405
Longitude    -87.715435
Name: 12219, dtype: object
12220, Date         2013-08-29
Time         9:15:33 PM
Latitude       41.77239
Longitude    -87.716235
Name: 12220, dtype: object
12221, Date         2013-08-29
Time         9:15:43 PM
Latitude      41.772382
Longitude    -87.717018
Name: 12221, dtype: object
12222, Date         2013-08-29
Time         9:15:53 PM
Latitude      41.772378
Longitude    -87.717703
Name: 12222, dtype: object
12223, Date         2013-08-29
Time         9:16:03 PM
Latitude      41.772365
Longitude    -87.718442
Name: 12223, dtype: object
12224, Date         2013-08-29
Time         9:16:13 PM
Latitude      41.772357
Longitude    -87.719152
Name: 12224, dtype: object
12225, Date         2013-08-29
Time         9:16:23 PM
Latitude      41.772338
Longitude    -87.719842
Name: 12225, dtype: object
12226, Date         2013-08-29
Time         9:16:33 PM
Latitude      41.772338
Longitude    -87.720528
Name: 12226, dtype: object
12227, Date         2013-08-29
Time         9:16:43 PM
Latitude      41.772312
Longitude    -87.721265
Name: 12227, dtype: object
12228, Date         2013-08-29
Time         9:16:53 PM
Latitude      41.772302
Longitude    -87.721982
Name: 12228, dtype: object
12229, Date         2013-08-29
Time         9:17:13 PM
Latitude      41.772978
Longitude    -87.722438
Name: 12229, dtype: object
12230, Date         2013-08-29
Time         9:17:23 PM
Latitude      41.773213
Longitude    -87.721838
Name: 12230, dtype: object
12231, Date         2013-08-29
Time         9:17:33 PM
Latitude       41.77322
Longitude     -87.72114
Name: 12231, dtype: object
12232, Date         2013-08-29
Time         9:17:43 PM
Latitude      41.773225
Longitude     -87.72043
Name: 12232, dtype: object
12233, Date         2013-08-29
Time         9:17:53 PM
Latitude      41.773237
Longitude    -87.719795
Name: 12233, dtype: object
12234, Date         2013-08-29
Time         9:18:03 PM
Latitude      41.773252
Longitude     -87.71913
Name: 12234, dtype: object
12235, Date         2013-08-29
Time         9:18:13 PM
Latitude      41.773265
Longitude    -87.718428
Name: 12235, dtype: object
12236, Date         2013-08-29
Time         9:18:23 PM
Latitude       41.77328
Longitude    -87.717817
Name: 12236, dtype: object
12237, Date         2013-08-29
Time         9:18:33 PM
Latitude      41.773295
Longitude    -87.717135
Name: 12237, dtype: object
12238, Date         2013-08-29
Time         9:18:43 PM
Latitude      41.773305
Longitude    -87.716393
Name: 12238, dtype: object
12239, Date         2013-08-29
Time         9:18:53 PM
Latitude      41.773308
Longitude    -87.715672
Name: 12239, dtype: object
12240, Date         2013-08-29
Time         9:19:03 PM
Latitude      41.773335
Longitude    -87.714997
Name: 12240, dtype: object
12241, Date         2013-08-29
Time         9:19:13 PM
Latitude      41.773342
Longitude    -87.714178
Name: 12241, dtype: object
12242, Date         2013-08-29
Time         9:19:23 PM
Latitude      41.773358
Longitude    -87.713527
Name: 12242, dtype: object
12243, Date         2013-08-29
Time         9:19:33 PM
Latitude      41.773485
Longitude     -87.71316
Name: 12243, dtype: object
12244, Date         2013-08-29
Time         9:19:43 PM
Latitude      41.773795
Longitude     -87.71315
Name: 12244, dtype: object
12245, Date         2013-08-29
Time         9:19:53 PM
Latitude      41.774185
Longitude     -87.71315
Name: 12245, dtype: object
12246, Date         2013-08-29
Time         9:20:03 PM
Latitude      41.774237
Longitude    -87.713643
Name: 12246, dtype: object
12247, Date         2013-08-29
Time         9:20:13 PM
Latitude      41.774225
Longitude     -87.71433
Name: 12247, dtype: object
12248, Date         2013-08-29
Time         9:20:23 PM
Latitude      41.774217
Longitude    -87.715003
Name: 12248, dtype: object
12249, Date         2013-08-29
Time         9:20:33 PM
Latitude      41.774207
Longitude     -87.71561
Name: 12249, dtype: object
12250, Date         2013-08-29
Time         9:20:43 PM
Latitude      41.774193
Longitude     -87.71643
Name: 12250, dtype: object
12251, Date         2013-08-29
Time         9:20:53 PM
Latitude      41.774188
Longitude    -87.717213
Name: 12251, dtype: object
12252, Date         2013-08-29
Time         9:21:03 PM
Latitude      41.774183
Longitude    -87.717878
Name: 12252, dtype: object
12253, Date         2013-08-29
Time         9:21:13 PM
Latitude      41.774172
Longitude    -87.718625
Name: 12253, dtype: object
12254, Date         2013-08-29
Time         9:21:23 PM
Latitude      41.774148
Longitude    -87.719362
Name: 12254, dtype: object
12255, Date         2013-08-29
Time         9:21:33 PM
Latitude       41.77413
Longitude    -87.720042
Name: 12255, dtype: object
12256, Date         2013-08-29
Time         9:21:43 PM
Latitude      41.774125
Longitude    -87.720848

12474, Date         2013-08-29
Time         8:29:43 PM
Latitude      41.779592
Longitude    -87.741125
Name: 12474, dtype: object
12475, Date         2013-08-29
Time         8:29:53 PM
Latitude      41.779297
Longitude    -87.741112
Name: 12475, dtype: object
12476, Date         2013-08-29
Time         8:30:03 PM
Latitude      41.779002
Longitude    -87.741105
Name: 12476, dtype: object
12477, Date         2013-08-29
Time         8:30:53 PM
Latitude      41.778285
Longitude    -87.741075
Name: 12477, dtype: object
12478, Date         2013-08-29
Time         8:31:03 PM
Latitude      41.777913
Longitude    -87.741048
Name: 12478, dtype: object
12479, Date         2013-08-29
Time         8:31:13 PM
Latitude      41.777512
Longitude    -87.741037
Name: 12479, dtype: object
12480, Date         2013-08-29
Time         8:31:23 PM
Latitude       41.77709
Longitude    -87.741028
Name: 12480, dtype: object
12481, Date         2013-08-29
Time         8:31:33 PM
Latitude       41.77676
Longitude    -87.741077
Name: 12481, dtype: object
12482, Date         2013-08-29
Time         8:31:43 PM
Latitude      41.776362
Longitude    -87.741017
Name: 12482, dtype: object
12483, Date         2013-08-29
Time         8:31:53 PM
Latitude      41.775885
Longitude    -87.741013
Name: 12483, dtype: object
12484, Date         2013-08-29
Time         8:32:03 PM
Latitude      41.775437
Longitude    -87.740993
Name: 12484, dtype: object
12485, Date         2013-08-29
Time         8:32:13 PM
Latitude      41.775088
Longitude    -87.741005
Name: 12485, dtype: object
12486, Date         2013-08-29
Time         8:32:23 PM
Latitude      41.774645
Longitude    -87.740992
Name: 12486, dtype: object
12487, Date         2013-08-29
Time         8:32:33 PM
Latitude      41.774128
Longitude     -87.74095
Name: 12487, dtype: object
12488, Date         2013-08-29
Time         8:32:43 PM
Latitude      41.773643
Longitude     -87.74094
Name: 12488, dtype: object
12489, Date         2013-08-29
Time         8:32:53 PM
Latitude      41.773237
Longitude    -87.740937
Name: 12489, dtype: object
12490, Date         2013-08-29
Time         8:33:13 PM
Latitude      41.772462
Longitude    -87.740918
Name: 12490, dtype: object
12491, Date         2013-08-29
Time         8:33:23 PM
Latitude      41.772003
Longitude    -87.740902
Name: 12491, dtype: object
12492, Date         2013-08-29
Time         8:33:33 PM
Latitude      41.771543
Longitude    -87.740892
Name: 12492, dtype: object
12493, Date         2013-08-29
Time         8:33:43 PM
Latitude      41.771357
Longitude    -87.740475
Name: 12493, dtype: object
12494, Date         2013-08-29
Time         8:33:53 PM
Latitude       41.77136
Longitude    -87.739867
Name: 12494, dtype: object
12495, Date         2013-08-29
Time         8:34:03 PM
Latitude      41.771505
Longitude    -87.739705
Name: 12495, dtype: object
12496, Date         2013-08-29
Time         8:34:13 PM
Latitude      41.771995
Longitude    -87.739713
Name: 12496, dtype: object
12497, Date         2013-08-29
Time         8:34:23 PM
Latitude      41.772355
Longitude     -87.73972
Name: 12497, dtype: object
12498, Date         2013-08-29
Time         8:34:33 PM
Latitude      41.772692
Longitude    -87.739722
Name: 12498, dtype: object
12499, Date         2013-08-29
Time         8:34:43 PM
Latitude      41.773067
Longitude    -87.739725
Name: 12499, dtype: object
12500, Date         2013-08-29
Time         8:34:53 PM
Latitude      41.773508
Longitude    -87.739733
Name: 12500, dtype: object
12501, Date         2013-08-29
Time         8:35:03 PM
Latitude       41.77385
Longitude    -87.739745
Name: 12501, dtype: object
12502, Date         2013-08-29
Time         8:35:13 PM
Latitude      41.774157
Longitude     -87.73975
Name: 12502, dtype: object
12503, Date         2013-08-29
Time         8:35:23 PM
Latitude       41.77457
Longitude    -87.739757
Name: 12503, dtype: object
12504, Date         2013-08-29
Time         8:35:33 PM
Latitude      41.774923
Longitude    -87.739765
Name: 12504, dtype: object
12505, Date         2013-08-29
Time         8:35:43 PM
Latitude      41.775362
Longitude     -87.73979
Name: 12505, dtype: object
12506, Date         2013-08-29
Time         8:35:53 PM
Latitude      41.775912
Longitude    -87.739812
Name: 12506, dtype: object
12507, Date         2013-08-29
Time         8:36:03 PM
Latitude      41.776385
Longitude    -87.739828
Name: 12507, dtype: object
12508, Date         2013-08-29
Time         8:36:13 PM
Latitude      41.776842
Longitude    -87.739855
Name: 12508, dtype: object
12509, Date         2013-08-29
Time         8:36:23 PM
Latitude      41.777323
Longitude    -87.739858
Name: 12509, dtype: object
12510, Date         2013-08-29
Time         8:36:33 PM
Latitude      41.777868
Longitude    -87.739877
Name: 12510, dtype: object
12511, Date         2013-08-29
Time         8:36:43 PM
Latitude      41.778213
Longitude    -87.739887
Name: 12511, dtype: object
12512, Date         2013-08-29
Time         8:37:03 PM
Latitude      41.778527
Longitude    -87.739907
Name: 12512, dtype: object
12513, Date         2013-08-29
Time         8:37:13 PM
Latitude      41.779028
Longitude    -87.739913
Name: 12513, dtype: object
12514, Date         2013-08-29
Time         8:37:23 PM
Latitude       41.77952
Longitude    -87.739932
Name: 12514, dtype: object
12515, Date         2013-08-29
Time         8:37:33 PM
Latitude      41.779975
Longitude    -87.739943
Name: 12515, dtype: object
12516, Date         2013-08-29
Time         8:37:43 PM
Latitude      41.780448
Longitude    -87.739952
Name: 12516, dtype: object
12517, Date         2013-08-29
Time         8:37:53 PM
Latitude      41.780988
Longitude     -87.73997
Name: 12517, dtype: object
12518, Date         2013-08-29
Time         8:38:03 PM
Latitude      41.781483
Longitude    -87.739987
Name: 12518, dtype: object
12519, Date         2013-08-29
Time         8:38:13 PM
Latitude      41.781875
Longitude    -87.740012
Name: 12519, dtype: object
12520, Date         2013-08-29
Time         8:38:23 PM
Latitude       41.78232
Longitude     -87.74003
Name: 12520, dtype: object
12521, Date         2013-08-29
Time         8:38:33 PM
Latitude      41.782842
Longitude     -87.74005
Name: 12521, dtype: object
12522, Date         2013-08-29
Time         8:38:43 PM
Latitude      41.783408
Longitude     -87.74008
Name: 12522, dtype: object
12523, Date         2013-08-29
Time         8:38:53 PM
Latitude      41.783787
Longitude    -87.740058
Name: 12523, dtype: object
12524, Date         2013-08-29
Time         8:39:03 PM
Latitude      41.783835
Longitude     -87.73944
Name: 12524, dtype: object
12525, Date         2013-08-29
Time         8:39:13 PM
Latitude      41.783863
Longitude     -87.73899
Name: 12525, dtype: object
12526, Date         2013-08-29
Time         8:39:23 PM
Latitude       41.78349
Longitude    -87.738878
Name: 12526, dtype: object
12527, Date         2013-08-29
Time         8:39:33 PM
Latitude      41.783013
Longitude    -87.738877
Name: 12527, dtype: object
12528, Date         2013-08-29
Time         8:39:43 PM
Latitude      41.782568
Longitude    -87.738892
Name: 12528, dtype: object
12529, Date         2013-08-29
Time         8:39:53 PM
Latitude      41.782223
Longitude    -87.738905
Name: 12529, dtype: object
12530, Date         2013-08-29
Time         8:40:13 PM
Latitude      41.781642
Longitude    -87.738852
Name: 12530, dtype: object
12531, Date         2013-08-29
Time         8:40:23 PM
Latitude      41.781227
Longitude    -87.738827
Name: 12531, dtype: object
12532, Date         2013-08-29
Time         8:40:33 PM
Latitude      41.780783
Longitude    -87.738812
Name: 12532, dtype: object
12533, Date         2013-08-29
Time         8:40:43 PM
Latitude      41.780428
Longitude    -87.738793
Name: 12533, dtype: object
12534, Date         2013-08-29
Time         8:40:53 PM
Latitude      41.780052
Longitude     -87.73876
Name: 12534, dtype: object
12535, Date         2013-08-29
Time         8:41:03 PM
Latitude       41.77968
Longitude    -87.738748
Name: 12535, dtype: object
12536, Date         2013-08-29
Time         8:41:13 PM
Latitude      41.779267
Longitude    -87.738727
Name: 12536, dtype: object
12537, Date         2013-08-29
Time         8:41:23 PM
Latitude       41.77888
Longitude     -87.73872
Name: 12537, dtype: object
12538, Date         2013-08-29
Time         8:41:33 PM
Latitude      41.778657
Longitude     -87.73871
Name: 12538, dtype: object
12539, Date         2013-08-29
Time         8:41:43 PM
Latitude      41.778172
Longitude    -87.738688
Name: 12539, dtype: object
12540, Date         2013-08-29
Time         8:41:53 PM
Latitude      41.777678
Longitude    -87.738663
Name: 12540, dtype: object
12541, Date         2013-08-29
Time         8:42:03 PM
Latitude      41.777155
Longitude    -87.738645
Name: 12541, dtype: object
12542, Date         2013-08-29
Time         8:42:13 PM
Latitude       41.77682
Longitude    -87.738678
Name: 12542, dtype: object
12543, Date         2013-08-29
Time         8:42:23 PM
Latitude      41.776425
Longitude    -87.738607
Name: 12543, dtype: object
12544, Date         2013-08-29
Time         8:42:33 PM
Latitude      41.775978
Longitude    -87.738572
Name: 12544, dtype: object
12545, Date         2013-08-29
Time         8:42:43 PM
Latitude      41.775478
Longitude     -87.73856
Name: 12545, dtype: object
12546, Date         2013-08-29
Time         8:42:53 PM
Latitude       41.77508
Longitude    -87.738533
Name: 12546, dtype: object
12547, Date         2013-08-29
Time         8:43:03 PM
Latitude      41.774605
Longitude    -87.738507
Name: 12547, dtype: object
12548, Date         2013-08-29
Time         8:43:13 PM
Latitude      41.774125
Longitude    -87.738498
Name: 12548, dtype: object
12549, Date         2013-08-29
Time         8:43:23 PM
Latitude      41.773688
Longitude    -87.738467
Name: 12549, dtype: object
12550, Date         2013-08-29
Time         8:43:33 PM
Latitude      41.773317
Longitude    -87.738473
Name: 12550, dtype: object
12551, Date         2013-08-29
Time         8:43:43 PM
Latitude      41.772773
Longitude    -87.738468
Name: 12551, dtype: object
12552, Date         2013-08-29
Time         8:43:53 PM
Latitude      41.772443
Longitude    -87.738482
Name: 12552, dtype: object
12553, Date         2013-08-29
Time         8:44:03 PM
Latitude      41.772027
Longitude    -87.738477
Name: 12553, dtype: object
12554, Date         2013-08-29
Time         8:44:13 PM
Latitude      41.771645
Longitude    -87.738448
Name: 12554, dtype: object
12555, Date         2013-08-29
Time         8:44:33 PM
Latitude      41.771377
Longitude    -87.737787
Name: 12555, dtype: object
12556, Date         2013-08-29
Time         8:44:43 PM
Latitude       41.77138
Longitude     -87.73717
Name: 12556, dtype: object
12557, Date         2013-08-29
Time         8:44:53 PM
Latitude      41.771363
Longitude    -87.736288
Name: 12557, dtype: object
12558, Date         2013-08-29
Time         8:45:03 PM
Latitude      41.771103
Longitude     -87.73602
Name: 12558, dtype: object
12559, Date         2013-08-29
Time         8:45:13 PM
Latitude      41.770622
Longitude       -87.736
Name: 12559, dtype: object
12560, Date         2013-08-29
Time         8:45:23 PM
Latitude      41.770112
Longitude     -87.73597
Name: 12560, dtype: object
12561, Date         2013-08-29
Time         8:45:33 PM
Latitude      41.769638
Longitude    -87.735982
Name: 12561, dtype: object
12562, Date         2013-08-29
Time         8:45:43 PM
Latitude       41.76952
Longitude      -87.7356
Name: 12562, dtype: object
12563, Date         2013-08-29
Time         8:46:03 PM
Latitude      41.769138
Longitude    -87.735373
Name: 12563, dtype: object
12564, Date         2013-08-29
Time         8:46:13 PM
Latitude      41.768895
Longitude    -87.735187
Name: 12564, dtype: object
12565, Date         2013-08-29
Time         8:46:23 PM
Latitude      41.768792
Longitude    -87.734857
Name: 12565, dtype: object
12566, Date         2013-08-29
Time         8:46:33 PM
Latitude      41.769162
Longitude    -87.734797
Name: 12566, dtype: object
12567, Date         2013-08-29
Time         8:46:43 PM
Latitude      41.769578
Longitude    -87.734792
Name: 12567, dtype: object
12568, Date         2013-08-29
Time         8:46:53 PM
Latitude      41.770005
Longitude    -87.734807
Name: 12568, dtype: object
12569, Date         2013-08-29
Time         8:47:03 PM
Latitude      41.770363
Longitude    -87.734805
Name: 12569, dtype: object
12570, Date         2013-08-29
Time         8:47:13 PM
Latitude        41.7707
Longitude     -87.73481
Name: 12570, dtype: object
12571, Date         2013-08-29
Time         8:47:23 PM
Latitude      41.771043
Longitude    -87.734813
Name: 12571, dtype: object
12572, Date         2013-08-29
Time         8:47:43 PM
Latitude      41.771663
Longitude    -87.734848
Name: 12572, dtype: object
12573, Date         2013-08-29
Time         8:47:53 PM
Latitude      41.772093
Longitude    -87.734852
Name: 12573, dtype: object
12574, Date         2013-08-29
Time         8:48:03 PM
Latitude      41.772402
Longitude    -87.734845
Name: 12574, dtype: object
12575, Date         2013-08-29
Time         8:48:13 PM
Latitude      41.772678
Longitude    -87.734848
Name: 12575, dtype: object
12576, Date         2013-08-29
Time         8:48:23 PM
Latitude       41.77301
Longitude    -87.734857
Name: 12576, dtype: object
12577, Date         2013-08-29
Time         8:48:33 PM
Latitude      41.773432
Longitude    -87.734892
Name: 12577, dtype: object
12578, Date         2013-08-29
Time         8:48:43 PM
Latitude       41.77379
Longitude    -87.734908
Name: 12578, dtype: object
12579, Date         2013-08-29
Time         8:48:53 PM
Latitude      41.774173
Longitude    -87.734907
Name: 12579, dtype: object
12580, Date         2013-08-29
Time         8:49:03 PM
Latitude      41.774563
Longitude    -87.734925
Name: 12580, dtype: object
12581, Date         2013-08-29
Time         8:49:13 PM
Latitude      41.774923
Longitude    -87.734908
Name: 12581, dtype: object
12582, Date         2013-08-29
Time         8:49:23 PM
Latitude      41.775357
Longitude    -87.734908
Name: 12582, dtype: object
12583, Date         2013-08-29
Time         8:49:33 PM
Latitude      41.775817
Longitude    -87.734922
Name: 12583, dtype: object
12584, Date         2013-08-29
Time         8:49:43 PM
Latitude      41.776237
Longitude    -87.734933
Name: 12584, dtype: object
12585, Date         2013-08-29
Time         8:49:53 PM
Latitude      41.776592
Longitude     -87.73493
Name: 12585, dtype: object
12586, Date         2013-08-29
Time         8:50:03 PM
Latitude      41.776987
Longitude    -87.734943
Name: 12586, dtype: object
12587, Date         2013-08-29
Time         8:50:13 PM
Latitude      41.777287
Longitude    -87.734945
Name: 12587, dtype: object
12588, Date         2013-08-29
Time         8:50:23 PM
Latitude      41.777627
Longitude    -87.734958
Name: 12588, dtype: object
12589, Date         2013-08-29
Time         8:50:33 PM
Latitude      41.777972
Longitude    -87.734972
Name: 12589, dtype: object
12590, Date         2013-08-29
Time         8:50:53 PM
Latitude      41.778302
Longitude    -87.734995
Name: 12590, dtype: object
12591, Date         2013-08-29
Time         8:51:03 PM
Latitude      41.778777
Longitude     -87.73501
Name: 12591, dtype: object
12592, Date         2013-08-29
Time         8:51:13 PM
Latitude      41.779083
Longitude    -87.735027
Name: 12592, dtype: object
12593, Date         2013-08-29
Time         8:51:23 PM
Latitude      41.779493
Longitude    -87.735045
Name: 12593, dtype: object
12594, Date         2013-08-29
Time         8:51:33 PM
Latitude      41.779847
Longitude     -87.73506
Name: 12594, dtype: object
12595, Date         2013-08-29
Time         8:51:43 PM
Latitude      41.780153
Longitude    -87.735068
Name: 12595, dtype: object
12596, Date         2013-08-29
Time         8:51:53 PM
Latitude      41.780548
Longitude    -87.735072
Name: 12596, dtype: object
12597, Date         2013-08-29
Time         8:52:03 PM
Latitude      41.780927
Longitude    -87.735077
Name: 12597, dtype: object
12598, Date         2013-08-29
Time         8:52:13 PM
Latitude      41.781343
Longitude    -87.735092
Name: 12598, dtype: object
12599, Date         2013-08-29
Time         8:52:23 PM
Latitude      41.781732
Longitude    -87.735097
Name: 12599, dtype: object
12600, Date         2013-08-29
Time         8:52:33 PM
Latitude      41.782078
Longitude    -87.735105
Name: 12600, dtype: object
12601, Date         2013-08-29
Time         8:52:43 PM
Latitude      41.782402
Longitude    -87.735137
Name: 12601, dtype: object
12602, Date         2013-08-29
Time         8:53:03 PM
Latitude      41.782998
Longitude    -87.735158
Name: 12602, dtype: object
12603, Date         2013-08-29
Time         8:53:13 PM
Latitude      41.783293
Longitude    -87.735138
Name: 12603, dtype: object
12604, Date         2013-08-29
Time         8:53:33 PM
Latitude       41.78394
Longitude    -87.735173
Name: 12604, dtype: object
12605, Date         2013-08-29
Time         8:53:43 PM
Latitude      41.784322
Longitude    -87.735202
Name: 12605, dtype: object
12606, Date         2013-08-29
Time         8:53:53 PM
Latitude      41.784717
Longitude     -87.73521
Name: 12606, dtype: object
12607, Date         2013-08-29
Time         8:54:03 PM
Latitude      41.785107
Longitude    -87.735208
Name: 12607, dtype: object
12608, Date         2013-08-29
Time         8:54:23 PM
Latitude      41.785547
Longitude    -87.734868
Name: 12608, dtype: object
12609, Date         2013-08-29
Time         8:54:33 PM
Latitude      41.785572
Longitude     -87.73422
Name: 12609, dtype: object
12610, Date         2013-08-29
Time         8:54:43 PM
Latitude      41.785282
Longitude    -87.733992
Name: 12610, dtype: object
12611, Date         2013-08-29
Time         8:54:53 PM
Latitude      41.784872
Longitude    -87.733985
Name: 12611, dtype: object
12612, Date         2013-08-29
Time         8:55:03 PM
Latitude      41.784393
Longitude    -87.733967
Name: 12612, dtype: object
12613, Date         2013-08-29
Time         8:55:13 PM
Latitude      41.784038
Longitude    -87.733958
Name: 12613, dtype: object
12614, Date         2013-08-29
Time         8:55:23 PM
Latitude      41.783732
Longitude    -87.733945
Name: 12614, dtype: object
12615, Date         2013-08-29
Time         8:55:33 PM
Latitude       41.78331
Longitude    -87.733937
Name: 12615, dtype: object
12616, Date         2013-08-29
Time         8:55:43 PM
Latitude      41.782922
Longitude    -87.733932
Name: 12616, dtype: object
12617, Date         2013-08-29
Time         8:55:53 PM
Latitude      41.782527
Longitude    -87.733917
Name: 12617, dtype: object
12618, Date         2013-08-29
Time         8:56:03 PM
Latitude      41.782203
Longitude    -87.733905
Name: 12618, dtype: object
12619, Date         2013-08-29
Time         8:56:13 PM
Latitude        41.7818
Longitude    -87.733888
Name: 12619, dtype: object
12620, Date         2013-08-29
Time         8:56:23 PM
Latitude       41.78139
Longitude    -87.733878
Name: 12620, dtype: object
12621, Date         2013-08-29
Time         8:56:33 PM
Latitude      41.780943
Longitude     -87.73386
Name: 12621, dtype: object
12622, Date         2013-08-29
Time         8:56:43 PM
Latitude      41.780593
Longitude     -87.73384
Name: 12622, dtype: object
12623, Date         2013-08-29
Time         8:56:53 PM
Latitude      41.780148
Longitude    -87.733827
Name: 12623, dtype: object
12624, Date         2013-08-29
Time         8:57:03 PM
Latitude      41.779788
Longitude    -87.733808
Name: 12624, dtype: object
12625, Date         2013-08-29
Time         8:57:13 PM
Latitude      41.779427
Longitude    -87.733805
Name: 12625, dtype: object
12626, Date         2013-08-29
Time         8:57:23 PM
Latitude       41.77903
Longitude    -87.733792
Name: 12626, dtype: object
12627, Date         2013-08-29
Time         8:57:53 PM
Latitude      41.778772
Longitude    -87.733783

12836, Date         2013-08-29
Time         9:34:33 PM
Latitude      41.781748
Longitude    -87.726493
Name: 12836, dtype: object
12837, Date         2013-08-29
Time         9:34:43 PM
Latitude      41.782153
Longitude    -87.726495
Name: 12837, dtype: object
12838, Date         2013-08-29
Time         9:34:53 PM
Latitude      41.782248
Longitude    -87.727025
Name: 12838, dtype: object
12839, Date         2013-08-29
Time         9:35:03 PM
Latitude      41.782212
Longitude    -87.727578
Name: 12839, dtype: object
12840, Date         2013-08-29
Time         9:35:13 PM
Latitude      41.781882
Longitude    -87.727672
Name: 12840, dtype: object
12841, Date         2013-08-29
Time         9:35:23 PM
Latitude       41.78139
Longitude    -87.727655
Name: 12841, dtype: object
12842, Date         2013-08-29
Time         9:35:33 PM
Latitude      41.780878
Longitude    -87.727647
Name: 12842, dtype: object
12843, Date         2013-08-29
Time         9:35:43 PM
Latitude      41.780392
Longitude    -87.727637
Name: 12843, dtype: object
12844, Date         2013-08-29
Time         9:35:53 PM
Latitude      41.779843
Longitude    -87.727632
Name: 12844, dtype: object
12845, Date         2013-08-29
Time         9:36:03 PM
Latitude      41.779303
Longitude    -87.727632
Name: 12845, dtype: object
12846, Date         2013-08-29
Time         9:36:13 PM
Latitude      41.778962
Longitude    -87.727637
Name: 12846, dtype: object
12847, Date         2013-08-29
Time         9:36:43 PM
Latitude      41.778412
Longitude     -87.72763
Name: 12847, dtype: object
12848, Date         2013-08-29
Time         9:36:53 PM
Latitude      41.777872
Longitude    -87.727615
Name: 12848, dtype: object
12849, Date         2013-08-29
Time         9:37:03 PM
Latitude      41.777273
Longitude    -87.727603
Name: 12849, dtype: object
12850, Date         2013-08-29
Time         9:37:13 PM
Latitude      41.776915
Longitude    -87.727605
Name: 12850, dtype: object
12851, Date         2013-08-29
Time         9:37:23 PM
Latitude      41.776552
Longitude    -87.727585
Name: 12851, dtype: object
12852, Date         2013-08-29
Time         9:37:33 PM
Latitude       41.77612
Longitude    -87.727552
Name: 12852, dtype: object
12853, Date         2013-08-29
Time         9:37:43 PM
Latitude      41.775625
Longitude    -87.727535
Name: 12853, dtype: object
12854, Date         2013-08-29
Time         9:37:53 PM
Latitude      41.775158
Longitude    -87.727538
Name: 12854, dtype: object
12855, Date         2013-08-29
Time         9:38:03 PM
Latitude      41.774617
Longitude     -87.72752
Name: 12855, dtype: object
12856, Date         2013-08-29
Time         9:38:13 PM
Latitude      41.774097
Longitude    -87.727512
Name: 12856, dtype: object
12857, Date         2013-08-29
Time         9:38:23 PM
Latitude      41.773555
Longitude    -87.727503
Name: 12857, dtype: object
12858, Date         2013-08-29
Time         9:38:33 PM
Latitude      41.773073
Longitude    -87.727492
Name: 12858, dtype: object
12859, Date         2013-08-29
Time         9:38:43 PM
Latitude      41.772457
Longitude    -87.727497
Name: 12859, dtype: object
12860, Date         2013-08-29
Time         9:38:53 PM
Latitude      41.771937
Longitude    -87.727497
Name: 12860, dtype: object
12861, Date         2013-08-29
Time         9:39:03 PM
Latitude      41.771628
Longitude    -87.727653
Name: 12861, dtype: object
12862, Date         2013-08-29
Time         9:39:33 PM
Latitude      41.771882
Longitude    -87.729913
Name: 12862, dtype: object
12863, Date         2013-08-29
Time         9:39:43 PM
Latitude      41.772382
Longitude    -87.729938
Name: 12863, dtype: object
12864, Date         2013-08-29
Time         9:39:53 PM
Latitude       41.77291
Longitude    -87.729958
Name: 12864, dtype: object
12865, Date         2013-08-29
Time         9:40:03 PM
Latitude      41.773365
Longitude    -87.729937
Name: 12865, dtype: object
12866, Date         2013-08-29
Time         9:40:13 PM
Latitude      41.773827
Longitude    -87.729968
Name: 12866, dtype: object
12867, Date         2013-08-29
Time         9:40:23 PM
Latitude      41.774253
Longitude    -87.729988
Name: 12867, dtype: object
12868, Date         2013-08-29
Time         9:40:33 PM
Latitude       41.77462
Longitude    -87.730028
Name: 12868, dtype: object
12869, Date         2013-08-29
Time         9:40:43 PM
Latitude      41.775052
Longitude    -87.730025
Name: 12869, dtype: object
12870, Date         2013-08-29
Time         9:40:53 PM
Latitude      41.775448
Longitude     -87.73003
Name: 12870, dtype: object
12871, Date         2013-08-29
Time         9:41:03 PM
Latitude      41.775905
Longitude    -87.730062
Name: 12871, dtype: object
12872, Date         2013-08-29
Time         9:41:13 PM
Latitude      41.776325
Longitude    -87.730088
Name: 12872, dtype: object
12873, Date         2013-08-29
Time         9:41:23 PM
Latitude       41.77652
Longitude    -87.729695
Name: 12873, dtype: object
12874, Date         2013-08-29
Time         9:41:33 PM
Latitude      41.776547
Longitude    -87.729053
Name: 12874, dtype: object
12875, Date         2013-08-29
Time         9:41:43 PM
Latitude      41.776972
Longitude    -87.728922
Name: 12875, dtype: object
12876, Date         2013-08-29
Time         9:41:53 PM
Latitude      41.777592
Longitude    -87.728917
Name: 12876, dtype: object
12877, Date         2013-08-29
Time         9:42:03 PM
Latitude      41.778117
Longitude    -87.728917
Name: 12877, dtype: object
12878, Date         2013-08-29
Time         9:42:53 PM
Latitude       41.77903
Longitude    -87.728942
Name: 12878, dtype: object
12879, Date         2013-08-29
Time         9:43:03 PM
Latitude      41.779595
Longitude    -87.728937
Name: 12879, dtype: object
12880, Date         2013-08-29
Time         9:43:13 PM
Latitude       41.78011
Longitude    -87.728937
Name: 12880, dtype: object
12881, Date         2013-08-29
Time         9:43:23 PM
Latitude      41.780737
Longitude    -87.728965
Name: 12881, dtype: object
12882, Date         2013-08-29
Time         9:43:33 PM
Latitude      41.781418
Longitude     -87.72897
Name: 12882, dtype: object
12883, Date         2013-08-29
Time         9:43:43 PM
Latitude       41.78205
Longitude    -87.728992
Name: 12883, dtype: object
12884, Date         2013-08-29
Time         9:43:53 PM
Latitude      41.782628
Longitude    -87.729017
Name: 12884, dtype: object
12885, Date         2013-08-29
Time         9:44:03 PM
Latitude       41.78331
Longitude    -87.729025
Name: 12885, dtype: object
12886, Date         2013-08-29
Time         9:44:13 PM
Latitude      41.783812
Longitude    -87.728973
Name: 12886, dtype: object
12887, Date         2013-08-29
Time         9:44:23 PM
Latitude      41.784285
Longitude    -87.729057
Name: 12887, dtype: object
12888, Date         2013-08-29
Time         9:44:33 PM
Latitude      41.784887
Longitude     -87.72908
Name: 12888, dtype: object
12889, Date         2013-08-29
Time         9:44:43 PM
Latitude      41.785412
Longitude    -87.729095
Name: 12889, dtype: object
12890, Date         2013-08-29
Time         9:44:53 PM
Latitude      41.785643
Longitude    -87.729363
Name: 12890, dtype: object
12891, Date         2013-08-29
Time         9:45:03 PM
Latitude      41.785643
Longitude    -87.730197
Name: 12891, dtype: object
12892, Date         2013-08-29
Time         9:45:13 PM
Latitude      41.785163
Longitude    -87.730258
Name: 12892, dtype: object
12893, Date         2013-08-29
Time         9:45:23 PM
Latitude      41.784638
Longitude    -87.730237
Name: 12893, dtype: object
12894, Date         2013-08-29
Time         9:45:33 PM
Latitude      41.784138
Longitude    -87.730225
Name: 12894, dtype: object
12895, Date         2013-08-29
Time         9:45:43 PM
Latitude       41.78366
Longitude    -87.730218
Name: 12895, dtype: object
12896, Date         2013-08-29
Time         9:45:53 PM
Latitude      41.783092
Longitude    -87.730207
Name: 12896, dtype: object
12897, Date         2013-08-29
Time         9:46:03 PM
Latitude       41.78252
Longitude    -87.730188
Name: 12897, dtype: object
12898, Date         2013-08-29
Time         9:46:13 PM
Latitude      41.782032
Longitude    -87.730165
Name: 12898, dtype: object
12899, Date         2013-08-29
Time         9:46:23 PM
Latitude      41.781377
Longitude    -87.730138
Name: 12899, dtype: object
12900, Date         2013-08-29
Time         9:46:33 PM
Latitude       41.78079
Longitude    -87.730123
Name: 12900, dtype: object
12901, Date         2013-08-29
Time         9:46:43 PM
Latitude      41.780315
Longitude    -87.730108
Name: 12901, dtype: object
12902, Date         2013-08-29
Time         9:46:53 PM
Latitude      41.779747
Longitude    -87.730078
Name: 12902, dtype: object
12903, Date         2013-08-29
Time         9:47:03 PM
Latitude       41.77909
Longitude     -87.73007
Name: 12903, dtype: object
12904, Date         2013-08-29
Time         9:47:23 PM
Latitude      41.778325
Longitude    -87.730062
Name: 12904, dtype: object
12905, Date         2013-08-29
Time         9:47:33 PM
Latitude      41.777785
Longitude    -87.730052
Name: 12905, dtype: object
12906, Date         2013-08-29
Time         9:47:43 PM
Latitude      41.777178
Longitude    -87.730042
Name: 12906, dtype: object
12907, Date         2013-08-29
Time         9:47:53 PM
Latitude      41.776917
Longitude    -87.730213
Name: 12907, dtype: object
12908, Date         2013-08-29
Time         9:48:03 PM
Latitude      41.776905
Longitude    -87.730922
Name: 12908, dtype: object
12909, Date         2013-08-29
Time         9:48:13 PM
Latitude      41.777107
Longitude     -87.73124
Name: 12909, dtype: object
12910, Date         2013-08-29
Time         9:48:23 PM
Latitude      41.777495
Longitude    -87.731247
Name: 12910, dtype: object
12911, Date         2013-08-29
Time         9:48:33 PM
Latitude       41.77798
Longitude     -87.73127
Name: 12911, dtype: object
12912, Date         2013-08-29
Time         9:48:43 PM
Latitude      41.778342
Longitude    -87.731275
Name: 12912, dtype: object
12913, Date         2013-08-29
Time         9:48:53 PM
Latitude      41.778457
Longitude    -87.731283
Name: 12913, dtype: object
12914, Date         2013-08-29
Time         9:49:03 PM
Latitude      41.778962
Longitude    -87.731312
Name: 12914, dtype: object
12915, Date         2013-08-29
Time         9:49:13 PM
Latitude      41.779617
Longitude    -87.731313
Name: 12915, dtype: object
12916, Date         2013-08-29
Time         9:49:23 PM
Latitude      41.780093
Longitude    -87.731335
Name: 12916, dtype: object
12917, Date         2013-08-29
Time         9:49:33 PM
Latitude      41.780422
Longitude    -87.731372
Name: 12917, dtype: object
12918, Date         2013-08-29
Time         9:49:43 PM
Latitude      41.780897
Longitude     -87.73139
Name: 12918, dtype: object
12919, Date         2013-08-29
Time         9:49:53 PM
Latitude      41.781342
Longitude    -87.731413
Name: 12919, dtype: object
12920, Date         2013-08-29
Time         9:50:03 PM
Latitude      41.781818
Longitude    -87.731423
Name: 12920, dtype: object
12921, Date         2013-08-29
Time         9:50:13 PM
Latitude       41.78241
Longitude    -87.731438
Name: 12921, dtype: object
12922, Date         2013-08-29
Time         9:50:23 PM
Latitude      41.783087
Longitude     -87.73146
Name: 12922, dtype: object
12923, Date         2013-08-29
Time         9:50:33 PM
Latitude       41.78362
Longitude    -87.731478
Name: 12923, dtype: object
12924, Date         2013-08-29
Time         9:50:43 PM
Latitude      41.783992
Longitude      -87.7315
Name: 12924, dtype: object
12925, Date         2013-08-29
Time         9:50:53 PM
Latitude      41.784588
Longitude    -87.731518
Name: 12925, dtype: object
12926, Date         2013-08-29
Time         9:51:03 PM
Latitude      41.785277
Longitude     -87.73153
Name: 12926, dtype: object
12927, Date          2013-08-29
Time         10:14:50 PM
Latitude       41.763803
Longitude      -87.70405
Name: 12927, dtype: object
12928, Date          2013-08-29
Time         10:15:00 PM
Latitude       41.763202
Longitude     -87.704013
Name: 12928, dtype: object
12929, Date          2013-08-29
Time         10:15:10 PM
Latitude       41.762712
Longitude      -87.70401
Name: 12929, dtype: object
12930, Date          2013-08-29
Time         10:15:20 PM
Latitude       41.762122
Longitude     -87.704007
Name: 12930, dtype: object
12931, Date          2013-08-29
Time         10:15:30 PM
Latitude       41.761422
Longitude     -87.703995
Name: 12931, dtype: object
12932, Date          2013-08-29
Time         10:15:40 PM
Latitude       41.760952
Longitude     -87.703997
Name: 12932, dtype: object
12933, Date          2013-08-29
Time         10:15:50 PM
Latitude        41.76086
Longitude     -87.704283
Name: 12933, dtype: object
12934, Date          2013-08-29
Time         10:16:00 PM
Latitude       41.760843
Longitude     -87.705073
Name: 12934, dtype: object
12935, Date          2013-08-29
Time         10:16:10 PM
Latitude       41.761202
Longitude     -87.705213
Name: 12935, dtype: object
12936, Date          2013-08-29
Time         10:16:20 PM
Latitude       41.761827
Longitude      -87.70524
Name: 12936, dtype: object
12937, Date          2013-08-29
Time         10:16:30 PM
Latitude        41.76242
Longitude     -87.705253
Name: 12937, dtype: object
12938, Date          2013-08-29
Time         10:16:40 PM
Latitude       41.762853
Longitude      -87.70526
Name: 12938, dtype: object
12939, Date          2013-08-29
Time         10:16:50 PM
Latitude       41.763543
Longitude     -87.705275
Name: 12939, dtype: object
12940, Date          2013-08-29
Time         10:17:00 PM
Latitude       41.764172
Longitude      -87.70528
Name: 12940, dtype: object
12941, Date          2013-08-29
Time         10:17:30 PM
Latitude       41.764352
Longitude       -87.7062
Name: 12941, dtype: object
12942, Date          2013-08-29
Time         10:17:40 PM
Latitude       41.764158
Longitude     -87.706487
Name: 12942, dtype: object
12943, Date          2013-08-29
Time         10:17:50 PM
Latitude        41.76363
Longitude     -87.706472
Name: 12943, dtype: object
12944, Date          2013-08-29
Time         10:18:00 PM
Latitude       41.763043
Longitude     -87.706447
Name: 12944, dtype: object
12945, Date          2013-08-29
Time         10:18:10 PM
Latitude       41.762578
Longitude     -87.706437
Name: 12945, dtype: object
12946, Date          2013-08-29
Time         10:18:20 PM
Latitude       41.761968
Longitude     -87.706412
Name: 12946, dtype: object
12947, Date          2013-08-29
Time         10:18:30 PM
Latitude       41.761412
Longitude     -87.706387
Name: 12947, dtype: object
12948, Date          2013-08-29
Time         10:18:40 PM
Latitude        41.76094
Longitude      -87.70638
Name: 12948, dtype: object
12949, Date          2013-08-29
Time         10:18:50 PM
Latitude        41.76085
Longitude     -87.706807
Name: 12949, dtype: object
12950, Date          2013-08-29
Time         10:19:00 PM
Latitude       41.760845
Longitude     -87.707458
Name: 12950, dtype: object
12951, Date          2013-08-29
Time         10:19:10 PM
Latitude         41.7611
Longitude     -87.707592
Name: 12951, dtype: object
12952, Date          2013-08-29
Time         10:19:20 PM
Latitude        41.76164
Longitude     -87.707605
Name: 12952, dtype: object
12953, Date          2013-08-29
Time         10:19:30 PM
Latitude       41.762107
Longitude     -87.707613
Name: 12953, dtype: object
12954, Date          2013-08-29
Time         10:19:40 PM
Latitude       41.762487
Longitude     -87.707608
Name: 12954, dtype: object
12955, Date          2013-08-29
Time         10:19:50 PM
Latitude       41.762918
Longitude     -87.707632
Name: 12955, dtype: object
12956, Date          2013-08-29
Time         10:20:00 PM
Latitude        41.76335
Longitude     -87.707642
Name: 12956, dtype: object
12957, Date          2013-08-29
Time         10:20:10 PM
Latitude       41.763852
Longitude     -87.707657
Name: 12957, dtype: object
12958, Date          2013-08-29
Time         10:23:20 PM
Latitude       41.764145
Longitude     -87.700388
Name: 12958, dtype: object
12959, Date          2013-08-29
Time         10:23:30 PM
Latitude       41.763628
Longitude     -87.700377
Name: 12959, dtype: object
12960, Date          2013-08-29
Time         10:23:40 PM
Latitude       41.763043
Longitude     -87.700352
Name: 12960, dtype: object
12961, Date          2013-08-29
Time         10:24:00 PM
Latitude        41.76231
Longitude     -87.700327
Name: 12961, dtype: object
12962, Date          2013-08-29
Time         10:24:10 PM
Latitude        41.76177
Longitude     -87.700315
Name: 12962, dtype: object
12963, Date          2013-08-29
Time         10:24:20 PM
Latitude       41.761193
Longitude     -87.700298
Name: 12963, dtype: object
12964, Date          2013-08-29
Time         10:24:30 PM
Latitude       41.760755
Longitude     -87.700293
Name: 12964, dtype: object
12965, Date          2013-08-29
Time         10:24:40 PM
Latitude       41.760168
Longitude     -87.700268
Name: 12965, dtype: object
12966, Date          2013-08-29
Time         10:24:50 PM
Latitude       41.759555
Longitude     -87.700253
Name: 12966, dtype: object
12967, Date          2013-08-29
Time         10:25:00 PM
Latitude       41.759168
Longitude     -87.700297
Name: 12967, dtype: object
12968, Date          2013-08-29
Time         10:25:10 PM
Latitude       41.759422
Longitude     -87.700265
Name: 12968, dtype: object
12969, Date          2013-08-29
Time         10:25:20 PM
Latitude       41.760127
Longitude     -87.700287
Name: 12969, dtype: object
12970, Date          2013-08-29
Time         10:25:30 PM
Latitude       41.760758
Longitude     -87.700302
Name: 12970, dtype: object
12971, Date          2013-08-29
Time         10:25:40 PM
Latitude       41.760842
Longitude     -87.700795
Name: 12971, dtype: object
12972, Date          2013-08-29
Time         10:25:50 PM
Latitude       41.760778
Longitude     -87.701478
Name: 12972, dtype: object
12973, Date          2013-08-29
Time         10:26:00 PM
Latitude        41.76018
Longitude     -87.701495
Name: 12973, dtype: object
12974, Date          2013-08-29
Time         10:26:10 PM
Latitude       41.759455
Longitude     -87.701472
Name: 12974, dtype: object
12975, Date          2013-08-29
Time         10:26:20 PM
Latitude       41.759077
Longitude     -87.701435
Name: 12975, dtype: object
12976, Date          2013-08-29
Time         10:26:30 PM
Latitude       41.759482
Longitude     -87.701443
Name: 12976, dtype: object
12977, Date          2013-08-29
Time         10:26:40 PM
Latitude       41.760147
Longitude     -87.701455
Name: 12977, dtype: object
12978, Date          2013-08-29
Time         10:26:50 PM
Latitude         41.7607
Longitude     -87.701467
Name: 12978, dtype: object
12979, Date          2013-08-29
Time         10:27:00 PM
Latitude       41.760782
Longitude     -87.701887
Name: 12979, dtype: object
12980, Date         2013-08-29
Time         8:06:39 PM
Latitude        41.9973
Longitude    -87.697192
Name: 12980, dtype: object
12981, Date         2013-08-29
Time         8:06:49 PM
Latitude      41.996917
Longitude    -87.697178
Name: 12981, dtype: object
12982, Date         2013-08-29
Time         8:06:59 PM
Latitude      41.996447
Longitude    -87.697133
Name: 12982, dtype: object
12983, Date         2013-08-29
Time         8:07:09 PM
Latitude      41.996082
Longitude    -87.697108
Name: 12983, dtype: object
12984, Date         2013-08-29
Time         8:07:19 PM
Latitude      41.995645
Longitude    -87.697097
Name: 12984, dtype: object
12985, Date         2013-08-29
Time         8:07:29 PM
Latitude       41.99519
Longitude    -87.697088
Name: 12985, dtype: object
12986, Date         2013-08-29
Time         8:07:39 PM
Latitude      41.994617
Longitude     -87.69707
Name: 12986, dtype: object
12987, Date         2013-08-29
Time         8:07:49 PM
Latitude      41.994235
Longitude    -87.697067
Name: 12987, dtype: object

13230, Date         2013-08-29
Time         9:11:49 PM
Latitude      41.992483
Longitude     -87.68768
Name: 13230, dtype: object
13231, Date         2013-08-29
Time         9:11:59 PM
Latitude      41.992623
Longitude    -87.687377
Name: 13231, dtype: object
13232, Date         2013-08-29
Time         9:12:09 PM
Latitude      41.993162
Longitude    -87.687353
Name: 13232, dtype: object
13233, Date         2013-08-29
Time         9:12:19 PM
Latitude      41.993752
Longitude    -87.687365
Name: 13233, dtype: object
13234, Date         2013-08-29
Time         9:12:39 PM
Latitude       41.99458
Longitude    -87.687372
Name: 13234, dtype: object
13235, Date         2013-08-29
Time         9:12:49 PM
Latitude      41.995135
Longitude    -87.687398
Name: 13235, dtype: object
13236, Date         2013-08-29
Time         9:12:59 PM
Latitude        41.9957
Longitude    -87.687415
Name: 13236, dtype: object
13237, Date         2013-08-29
Time         9:13:09 PM
Latitude      41.996312
Longitude    -87.687443
Name: 13237, dtype: object
13238, Date         2013-08-29
Time         9:13:19 PM
Latitude      41.997045
Longitude    -87.687487
Name: 13238, dtype: object
13239, Date         2013-08-29
Time         9:20:39 PM
Latitude      41.986822
Longitude    -87.698858
Name: 13239, dtype: object
13240, Date         2013-08-29
Time         9:20:49 PM
Latitude      41.986837
Longitude    -87.698168
Name: 13240, dtype: object
13241, Date         2013-08-29
Time         9:20:59 PM
Latitude      41.987363
Longitude    -87.698133
Name: 13241, dtype: object
13242, Date         2013-08-29
Time         9:21:09 PM
Latitude      41.988023
Longitude    -87.698152
Name: 13242, dtype: object
13243, Date         2013-08-29
Time         9:21:19 PM
Latitude      41.988638
Longitude    -87.698167
Name: 13243, dtype: object
13244, Date         2013-08-29
Time         9:21:29 PM
Latitude      41.989367
Longitude    -87.698205
Name: 13244, dtype: object
13245, Date         2013-08-29
Time         9:21:39 PM
Latitude      41.989923
Longitude    -87.698177
Name: 13245, dtype: object
13246, Date         2013-08-29
Time         9:21:49 PM
Latitude      41.989963
Longitude     -87.69752
Name: 13246, dtype: object
13247, Date         2013-08-29
Time         9:21:59 PM
Latitude      41.989933
Longitude    -87.697047
Name: 13247, dtype: object
13248, Date         2013-08-29
Time         9:22:09 PM
Latitude      41.989447
Longitude    -87.697005
Name: 13248, dtype: object
13249, Date         2013-08-29
Time         9:22:19 PM
Latitude      41.988865
Longitude    -87.696977
Name: 13249, dtype: object
13250, Date         2013-08-29
Time         9:22:29 PM
Latitude      41.988277
Longitude    -87.696948
Name: 13250, dtype: object
13251, Date         2013-08-29
Time         9:22:39 PM
Latitude       41.98767
Longitude     -87.69692
Name: 13251, dtype: object
13252, Date         2013-08-29
Time         9:22:49 PM
Latitude      41.987057
Longitude    -87.696885
Name: 13252, dtype: object
13253, Date         2013-08-29
Time         9:22:59 PM
Latitude      41.986495
Longitude    -87.696873
Name: 13253, dtype: object
13254, Date         2013-08-29
Time         9:23:29 PM
Latitude      41.986015
Longitude    -87.696848
Name: 13254, dtype: object
13255, Date         2013-08-29
Time         9:23:39 PM
Latitude      41.985642
Longitude    -87.696832
Name: 13255, dtype: object
13256, Date         2013-08-29
Time         9:23:49 PM
Latitude      41.984913
Longitude    -87.696778
Name: 13256, dtype: object
13257, Date         2013-08-29
Time         9:24:19 PM
Latitude      41.984505
Longitude    -87.697885
Name: 13257, dtype: object
13258, Date         2013-08-29
Time         9:24:29 PM
Latitude      41.984032
Longitude    -87.697955
Name: 13258, dtype: object
13259, Date         2013-08-29
Time         9:24:39 PM
Latitude      41.983493
Longitude     -87.69792
Name: 13259, dtype: object
13260, Date         2013-08-29
Time         9:25:09 PM
Latitude      41.982912
Longitude    -87.696717
Name: 13260, dtype: object
13261, Date         2013-08-29
Time         9:25:19 PM
Latitude      41.982462
Longitude     -87.69669
Name: 13261, dtype: object
13262, Date         2013-08-29
Time         9:25:29 PM
Latitude      41.982362
Longitude    -87.696012
Name: 13262, dtype: object
13263, Date         2013-08-29
Time         9:25:39 PM
Latitude      41.982363
Longitude    -87.695205
Name: 13263, dtype: object
13264, Date         2013-08-29
Time         9:25:49 PM
Latitude      41.982347
Longitude    -87.694548
Name: 13264, dtype: object
13265, Date         2013-08-29
Time         9:25:59 PM
Latitude      41.982175
Longitude     -87.69435
Name: 13265, dtype: object
13266, Date         2013-08-29
Time         9:26:09 PM
Latitude      41.981718
Longitude    -87.694355
Name: 13266, dtype: object
13267, Date         2013-08-29
Time         9:26:19 PM
Latitude       41.98143
Longitude    -87.694447
Name: 13267, dtype: object
13268, Date         2013-08-29
Time         9:26:29 PM
Latitude      41.981417
Longitude     -87.69499
Name: 13268, dtype: object
13269, Date         2013-08-29
Time         9:26:39 PM
Latitude      41.981467
Longitude    -87.695665
Name: 13269, dtype: object
13270, Date         2013-08-29
Time         9:26:49 PM
Latitude      41.981438
Longitude    -87.696302
Name: 13270, dtype: object
13271, Date         2013-08-29
Time         9:26:59 PM
Latitude      41.981407
Longitude    -87.697093
Name: 13271, dtype: object
13272, Date         2013-08-29
Time         9:27:09 PM
Latitude      41.981387
Longitude    -87.697983
Name: 13272, dtype: object
13273, Date         2013-08-29
Time         9:27:19 PM
Latitude      41.981223
Longitude    -87.698397
Name: 13273, dtype: object
13274, Date         2013-08-29
Time         9:27:29 PM
Latitude      41.980817
Longitude    -87.698395
Name: 13274, dtype: object
13275, Date         2013-08-29
Time         9:27:39 PM
Latitude       41.98054
Longitude    -87.698345
Name: 13275, dtype: object
13276, Date         2013-08-29
Time         9:27:49 PM
Latitude      41.980515
Longitude    -87.697615
Name: 13276, dtype: object
13277, Date         2013-08-29
Time         9:27:59 PM
Latitude      41.980515
Longitude    -87.696852
Name: 13277, dtype: object
13278, Date         2013-08-29
Time         9:28:09 PM
Latitude      41.980528
Longitude    -87.695998
Name: 13278, dtype: object
13279, Date         2013-08-29
Time         9:28:19 PM
Latitude       41.98051
Longitude    -87.695188
Name: 13279, dtype: object
13280, Date         2013-08-29
Time         9:28:29 PM
Latitude       41.98046
Longitude    -87.694493
Name: 13280, dtype: object
13281, Date         2013-08-29
Time         9:28:39 PM
Latitude      41.980002
Longitude    -87.694323
Name: 13281, dtype: object
13282, Date         2013-08-29
Time         9:28:49 PM
Latitude       41.97967
Longitude    -87.694305
Name: 13282, dtype: object
13283, Date         2013-08-29
Time         9:28:59 PM
Latitude      41.979567
Longitude    -87.695022
Name: 13283, dtype: object
13284, Date         2013-08-29
Time         9:29:09 PM
Latitude      41.979553
Longitude    -87.695897
Name: 13284, dtype: object
13285, Date         2013-08-29
Time         9:29:19 PM
Latitude      41.979522
Longitude    -87.696512
Name: 13285, dtype: object
13286, Date         2013-08-29
Time         9:29:29 PM
Latitude      41.979485
Longitude    -87.697462
Name: 13286, dtype: object
13287, Date         2013-08-29
Time         9:29:39 PM
Latitude      41.979482
Longitude    -87.698335
Name: 13287, dtype: object
13288, Date         2013-08-29
Time         9:29:49 PM
Latitude      41.979195
Longitude    -87.698403
Name: 13288, dtype: object
13289, Date         2013-08-29
Time         9:29:59 PM
Latitude      41.978877
Longitude    -87.698392
Name: 13289, dtype: object
13290, Date         2013-08-29
Time         9:30:09 PM
Latitude      41.978625
Longitude    -87.698188
Name: 13290, dtype: object
13291, Date         2013-08-29
Time         9:30:19 PM
Latitude      41.978635
Longitude    -87.697323
Name: 13291, dtype: object
13292, Date         2013-08-29
Time         9:30:29 PM
Latitude      41.978652
Longitude     -87.69667
Name: 13292, dtype: object
13293, Date         2013-08-29
Time         9:30:39 PM
Latitude      41.978642
Longitude    -87.695847
Name: 13293, dtype: object
13294, Date         2013-08-29
Time         9:30:49 PM
Latitude       41.97863
Longitude    -87.695172
Name: 13294, dtype: object
13295, Date         2013-08-29
Time         9:30:59 PM
Latitude       41.97862
Longitude    -87.694552
Name: 13295, dtype: object
13296, Date         2013-08-29
Time         9:31:09 PM
Latitude      41.978632
Longitude      -87.6938
Name: 13296, dtype: object
13297, Date         2013-08-29
Time         9:31:39 PM
Latitude      41.977723
Longitude    -87.693043
Name: 13297, dtype: object
13298, Date         2013-08-29
Time         9:31:49 PM
Latitude      41.977703
Longitude    -87.693913
Name: 13298, dtype: object
13299, Date         2013-08-29
Time         9:31:59 PM
Latitude      41.977705
Longitude    -87.694812
Name: 13299, dtype: object
13300, Date         2013-08-29
Time         9:32:09 PM
Latitude      41.977697
Longitude    -87.695743
Name: 13300, dtype: object
13301, Date         2013-08-29
Time         9:32:19 PM
Latitude      41.977672
Longitude    -87.696417
Name: 13301, dtype: object
13302, Date         2013-08-29
Time         9:32:29 PM
Latitude      41.977668
Longitude     -87.69731
Name: 13302, dtype: object
13303, Date         2013-08-29
Time         9:32:39 PM
Latitude      41.977675
Longitude    -87.698198
Name: 13303, dtype: object
13304, Date         2013-08-29
Time         9:32:49 PM
Latitude      41.977322
Longitude    -87.698333
Name: 13304, dtype: object
13305, Date         2013-08-29
Time         9:32:59 PM
Latitude      41.976908
Longitude    -87.698332
Name: 13305, dtype: object
13306, Date         2013-08-29
Time         9:33:09 PM
Latitude      41.976837
Longitude     -87.69775
Name: 13306, dtype: object
13307, Date         2013-08-29
Time         9:33:19 PM
Latitude      41.976807
Longitude     -87.69695
Name: 13307, dtype: object
13308, Date         2013-08-29
Time         9:33:29 PM
Latitude      41.976797
Longitude    -87.696252
Name: 13308, dtype: object
13309, Date         2013-08-29
Time         9:33:39 PM
Latitude      41.976795
Longitude    -87.695532
Name: 13309, dtype: object
13310, Date         2013-08-29
Time         9:33:49 PM
Latitude      41.976788
Longitude    -87.694667
Name: 13310, dtype: object
13311, Date         2013-08-29
Time         9:33:59 PM
Latitude      41.976802
Longitude     -87.69385
Name: 13311, dtype: object
13312, Date         2013-08-29
Time         9:34:09 PM
Latitude      41.976798
Longitude    -87.692952
Name: 13312, dtype: object
13313, Date         2013-08-29
Time         9:35:29 PM
Latitude      41.976783
Longitude     -87.68962
Name: 13313, dtype: object
13314, Date         2013-08-29
Time         9:35:49 PM
Latitude      41.976747
Longitude    -87.690733
Name: 13314, dtype: object
13315, Date         2013-08-29
Time         9:41:59 PM
Latitude      41.977675
Longitude       -87.689
Name: 13315, dtype: object
13316, Date         2013-08-29
Time         9:42:09 PM
Latitude      41.977828
Longitude    -87.688188
Name: 13316, dtype: object
13317, Date         2013-08-29
Time         9:42:19 PM
Latitude      41.978152
Longitude    -87.687467
Name: 13317, dtype: object
13318, Date         2013-08-29
Time         9:42:29 PM
Latitude      41.978497
Longitude    -87.686693
Name: 13318, dtype: object
13319, Date         2013-08-29
Time         9:42:39 PM
Latitude      41.978765
Longitude    -87.686118
Name: 13319, dtype: object
13320, Date         2013-08-29
Time         9:42:49 PM
Latitude       41.97874
Longitude    -87.685657
Name: 13320, dtype: object
13321, Date         2013-08-29
Time         9:42:59 PM
Latitude      41.978128
Longitude    -87.685677
Name: 13321, dtype: object
13322, Date         2013-08-29
Time         9:43:09 PM
Latitude      41.977752
Longitude    -87.685803
Name: 13322, dtype: object
13323, Date         2013-08-29
Time         9:43:19 PM
Latitude       41.97777
Longitude    -87.686518
Name: 13323, dtype: object
13324, Date         2013-08-29
Time         9:43:29 PM
Latitude      41.977742
Longitude    -87.687343
Name: 13324, dtype: object
13325, Date         2013-08-29
Time         9:43:39 PM
Latitude      41.977723
Longitude    -87.688028
Name: 13325, dtype: object
13326, Date         2013-08-29
Time         9:46:09 PM
Latitude      41.977775
Longitude    -87.679863
Name: 13326, dtype: object
13327, Date         2013-08-29
Time         9:46:19 PM
Latitude      41.977748
Longitude    -87.680567
Name: 13327, dtype: object
13328, Date         2013-08-29
Time         9:46:29 PM
Latitude      41.977762
Longitude    -87.681255
Name: 13328, dtype: object
13329, Date         2013-08-29
Time         9:46:39 PM
Latitude      41.977765
Longitude    -87.681905
Name: 13329, dtype: object
13330, Date         2013-08-29
Time         9:46:49 PM
Latitude      41.977737
Longitude    -87.682785
Name: 13330, dtype: object
13331, Date         2013-08-29
Time         9:46:59 PM
Latitude       41.97774
Longitude    -87.683547
Name: 13331, dtype: object
13332, Date         2013-08-29
Time         9:47:09 PM
Latitude      41.977728
Longitude    -87.684247
Name: 13332, dtype: object
13333, Date         2013-08-29
Time         9:47:19 PM
Latitude      41.977723
Longitude    -87.685002
Name: 13333, dtype: object
13334, Date         2013-08-29
Time         9:47:29 PM
Latitude      41.977712
Longitude    -87.685907
Name: 13334, dtype: object
13335, Date         2013-08-29
Time         9:47:49 PM
Latitude      41.977242
Longitude    -87.686528
Name: 13335, dtype: object
13336, Date         2013-08-29
Time         9:47:59 PM
Latitude      41.976845
Longitude     -87.68674
Name: 13336, dtype: object
13337, Date         2013-08-29
Time         9:48:09 PM
Latitude      41.976828
Longitude    -87.687608
Name: 13337, dtype: object
13338, Date         2013-08-29
Time         9:48:19 PM
Latitude      41.976792
Longitude    -87.688483
Name: 13338, dtype: object
13339, Date         2013-08-29
Time         9:48:29 PM
Latitude      41.977025
Longitude    -87.688872
Name: 13339, dtype: object
13340, Date         2013-08-29
Time         9:50:09 PM
Latitude      41.980428
Longitude    -87.681592
Name: 13340, dtype: object
13341, Date         2013-08-29
Time         9:50:19 PM
Latitude      41.980442
Longitude    -87.680545
Name: 13341, dtype: object
13342, Date         2013-08-29
Time         9:50:49 PM
Latitude      41.979583
Longitude    -87.679918
Name: 13342, dtype: object
13343, Date         2013-08-29
Time         9:50:59 PM
Latitude      41.979578
Longitude     -87.68077
Name: 13343, dtype: object
13344, Date         2013-08-29
Time         9:51:09 PM
Latitude      41.979558
Longitude    -87.681557
Name: 13344, dtype: object
13345, Date         2013-08-29
Time         9:51:19 PM
Latitude      41.979545
Longitude     -87.68245
Name: 13345, dtype: object
13346, Date         2013-08-29
Time         9:51:29 PM
Latitude      41.979532
Longitude    -87.683392
Name: 13346, dtype: object
13347, Date         2013-08-29
Time         9:51:49 PM
Latitude      41.978955
Longitude    -87.684327
Name: 13347, dtype: object
13348, Date         2013-08-29
Time         9:51:59 PM
Latitude       41.97865
Longitude     -87.68388
Name: 13348, dtype: object
13349, Date         2013-08-29
Time         9:52:09 PM
Latitude      41.978675
Longitude    -87.682962
Name: 13349, dtype: object
13350, Date         2013-08-29
Time         9:52:19 PM
Latitude      41.978673
Longitude    -87.682142
Name: 13350, dtype: object
13351, Date         2013-08-29
Time         9:52:29 PM
Latitude      41.978692
Longitude    -87.681235
Name: 13351, dtype: object
13352, Date         2013-08-29
Time         9:52:39 PM
Latitude       41.97872
Longitude    -87.680323
Name: 13352, dtype: object
13353, Date         2013-08-29
Time         9:53:29 PM
Latitude      41.976997
Longitude    -87.678733
Name: 13353, dtype: object
13354, Date         2013-08-29
Time         9:53:39 PM
Latitude       41.97701
Longitude    -87.677927
Name: 13354, dtype: object
13355, Date         2013-08-29
Time         9:53:49 PM
Latitude       41.97702
Longitude     -87.67703
Name: 13355, dtype: object
13356, Date         2013-08-29
Time         9:53:59 PM
Latitude       41.97705
Longitude     -87.67622
Name: 13356, dtype: object
13357, Date         2013-08-29
Time         9:54:49 PM
Latitude      41.976508
Longitude    -87.676522
Name: 13357, dtype: object
13358, Date         2013-08-29
Time         9:55:19 PM
Latitude      41.976347
Longitude     -87.67795
Name: 13358, dtype: object
13359, Date         2013-08-29
Time         9:55:29 PM
Latitude      41.976905
Longitude     -87.67796
Name: 13359, dtype: object
13360, Date         2013-08-29
Time         9:55:39 PM
Latitude      41.977545
Longitude    -87.677967
Name: 13360, dtype: object
13361, Date         2013-08-29
Time         9:55:49 PM
Latitude      41.978225
Longitude    -87.677998
Name: 13361, dtype: object
13362, Date         2013-08-29
Time         9:55:59 PM
Latitude      41.978853
Longitude    -87.678035
Name: 13362, dtype: object
13363, Date         2013-08-29
Time         9:56:09 PM
Latitude      41.979492
Longitude    -87.678065
Name: 13363, dtype: object
13364, Date         2013-08-29
Time         9:56:29 PM
Latitude       41.97962
Longitude    -87.678797
Name: 13364, dtype: object
13365, Date         2013-08-29
Time         9:57:49 PM
Latitude      41.982977
Longitude    -87.676655
Name: 13365, dtype: object
13366, Date         2013-08-29
Time         9:57:59 PM
Latitude      41.982283
Longitude    -87.676628
Name: 13366, dtype: object
13367, Date         2013-08-29
Time         9:58:09 PM
Latitude      41.981627
Longitude     -87.67661
Name: 13367, dtype: object
13368, Date         2013-08-29
Time         9:58:19 PM
Latitude      41.981027
Longitude    -87.676585
Name: 13368, dtype: object
13369, Date         2013-08-29
Time         9:58:29 PM
Latitude       41.98046
Longitude    -87.676563
Name: 13369, dtype: object
13370, Date         2013-08-29
Time         9:58:39 PM
Latitude      41.979933
Longitude    -87.676525
Name: 13370, dtype: object
13371, Date         2013-08-29
Time         9:58:49 PM
Latitude      41.979358
Longitude    -87.676545
Name: 13371, dtype: object
13372, Date         2013-08-29
Time         9:58:59 PM
Latitude       41.97876
Longitude    -87.676522
Name: 13372, dtype: object
13373, Date         2013-08-29
Time         9:59:09 PM
Latitude      41.978087
Longitude      -87.6765
Name: 13373, dtype: object
13374, Date         2013-08-29
Time         9:59:19 PM
Latitude      41.977397
Longitude    -87.676468
Name: 13374, dtype: object
13375, Date         2013-08-29
Time         9:59:49 PM
Latitude      41.976822
Longitude    -87.676452
Name: 13375, dtype: object
13376, Date          2013-08-29
Time         10:01:09 PM
Latitude        41.97628
Longitude     -87.674487
Name: 13376, dtype: object
13377, Date          2013-08-29
Time         10:01:19 PM
Latitude       41.976938
Longitude     -87.674502
Name: 13377, dtype: object
13378, Date          2013-08-29
Time         10:01:29 PM
Latitude       41.977553
Longitude     -87.674517
Name: 13378, dtype: object
13379, Date          2013-08-29
Time         10:01:39 PM
Latitude       41.978105
Longitude     -87.674433
Name: 13379, dtype: object
13380, Date          2013-08-29
Time         10:01:49 PM
Latitude       41.978738
Longitude     -87.674448
Name: 13380, dtype: object
13381, Date          2013-08-29
Time         10:01:59 PM
Latitude       41.979375
Longitude      -87.67447
Name: 13381, dtype: object
13382, Date          2013-08-29
Time         10:02:09 PM
Latitude        41.97996
Longitude     -87.674563
Name: 13382, dtype: object
13383, Date          2013-08-29
Time         10:02:19 PM
Latitude       41.980575

13648, Date         2013-08-29
Time         8:36:36 PM
Latitude      41.989747
Longitude    -87.685917
Name: 13648, dtype: object
13649, Date         2013-08-29
Time         8:36:46 PM
Latitude      41.989747
Longitude    -87.686385
Name: 13649, dtype: object
13650, Date         2013-08-29
Time         8:36:56 PM
Latitude      41.989742
Longitude     -87.68683
Name: 13650, dtype: object
13651, Date         2013-08-29
Time         8:37:06 PM
Latitude      41.989627
Longitude    -87.687215
Name: 13651, dtype: object
13652, Date         2013-08-29
Time         8:37:16 PM
Latitude      41.989273
Longitude    -87.687133
Name: 13652, dtype: object
13653, Date         2013-08-29
Time         8:37:26 PM
Latitude      41.988885
Longitude    -87.687285
Name: 13653, dtype: object
13654, Date         2013-08-29
Time         8:37:36 PM
Latitude      41.988448
Longitude     -87.68739
Name: 13654, dtype: object
13655, Date         2013-08-29
Time         8:37:46 PM
Latitude       41.98795
Longitude     -87.68731
Name: 13655, dtype: object
13656, Date         2013-08-29
Time         8:37:56 PM
Latitude      41.987585
Longitude    -87.687307
Name: 13656, dtype: object
13657, Date         2013-08-29
Time         8:38:06 PM
Latitude      41.987488
Longitude    -87.686765
Name: 13657, dtype: object
13658, Date         2013-08-29
Time         8:38:16 PM
Latitude      41.987365
Longitude    -87.686192
Name: 13658, dtype: object
13659, Date         2013-08-29
Time         8:38:26 PM
Latitude       41.98738
Longitude    -87.685675
Name: 13659, dtype: object
13660, Date         2013-08-29
Time         8:38:36 PM
Latitude      41.987777
Longitude    -87.685697
Name: 13660, dtype: object
13661, Date         2013-08-29
Time         8:38:46 PM
Latitude      41.988233
Longitude    -87.685672
Name: 13661, dtype: object
13662, Date         2013-08-29
Time         8:38:56 PM
Latitude       41.98865
Longitude    -87.685755
Name: 13662, dtype: object
13663, Date         2013-08-29
Time         8:39:06 PM
Latitude      41.988977
Longitude    -87.685812
Name: 13663, dtype: object
13664, Date         2013-08-29
Time         8:39:16 PM
Latitude       41.98946
Longitude    -87.685843
Name: 13664, dtype: object
13665, Date         2013-08-29
Time         8:39:26 PM
Latitude      41.989712
Longitude    -87.686005
Name: 13665, dtype: object
13666, Date         2013-08-29
Time         8:39:36 PM
Latitude      41.989712
Longitude    -87.686473
Name: 13666, dtype: object
13667, Date         2013-08-29
Time         8:39:46 PM
Latitude      41.989705
Longitude    -87.686933
Name: 13667, dtype: object
13668, Date         2013-08-29
Time         8:39:56 PM
Latitude       41.98954
Longitude     -87.68721
Name: 13668, dtype: object
13669, Date         2013-08-29
Time         8:40:06 PM
Latitude      41.989128
Longitude    -87.687198
Name: 13669, dtype: object
13670, Date         2013-08-29
Time         8:40:16 PM
Latitude        41.9888
Longitude    -87.687225
Name: 13670, dtype: object
13671, Date         2013-08-29
Time         8:40:26 PM
Latitude      41.988788
Longitude    -87.686613
Name: 13671, dtype: object
13672, Date         2013-08-29
Time         8:40:36 PM
Latitude      41.988817
Longitude    -87.686028
Name: 13672, dtype: object
13673, Date         2013-08-29
Time         8:40:46 PM
Latitude      41.988737
Longitude     -87.68546
Name: 13673, dtype: object
13674, Date         2013-08-29
Time         8:40:56 PM
Latitude      41.988627
Longitude    -87.684895
Name: 13674, dtype: object
13675, Date         2013-08-29
Time         8:41:06 PM
Latitude      41.988835
Longitude    -87.684677
Name: 13675, dtype: object
13676, Date         2013-08-29
Time         8:41:16 PM
Latitude      41.989337
Longitude    -87.684702
Name: 13676, dtype: object
13677, Date         2013-08-29
Time         8:41:26 PM
Latitude      41.989438
Longitude    -87.684532
Name: 13677, dtype: object
13678, Date         2013-08-29
Time         8:41:36 PM
Latitude      41.989105
Longitude     -87.68425
Name: 13678, dtype: object
13679, Date         2013-08-29
Time         8:41:46 PM
Latitude      41.988815
Longitude    -87.683965
Name: 13679, dtype: object
13680, Date         2013-08-29
Time         8:41:56 PM
Latitude      41.988462
Longitude    -87.683668
Name: 13680, dtype: object
13681, Date         2013-08-29
Time         8:42:06 PM
Latitude       41.98809
Longitude     -87.68335
Name: 13681, dtype: object
13682, Date         2013-08-29
Time         8:42:16 PM
Latitude      41.987718
Longitude     -87.68303
Name: 13682, dtype: object
13683, Date         2013-08-29
Time         8:42:26 PM
Latitude       41.98756
Longitude    -87.682528
Name: 13683, dtype: object
13684, Date         2013-08-29
Time         8:42:36 PM
Latitude      41.987685
Longitude    -87.682125
Name: 13684, dtype: object
13685, Date         2013-08-29
Time         8:42:46 PM
Latitude      41.988007
Longitude    -87.681713
Name: 13685, dtype: object
13686, Date         2013-08-29
Time         8:42:56 PM
Latitude      41.988342
Longitude     -87.68124
Name: 13686, dtype: object
13687, Date         2013-08-29
Time         8:43:06 PM
Latitude      41.988678
Longitude     -87.68077
Name: 13687, dtype: object
13688, Date         2013-08-29
Time         8:43:16 PM
Latitude      41.988942
Longitude    -87.680658
Name: 13688, dtype: object
13689, Date         2013-08-29
Time         8:43:26 PM
Latitude      41.989112
Longitude     -87.68117
Name: 13689, dtype: object
13690, Date         2013-08-29
Time         8:43:36 PM
Latitude      41.989287
Longitude    -87.681615
Name: 13690, dtype: object
13691, Date         2013-08-29
Time         8:43:46 PM
Latitude      41.989408
Longitude    -87.682158
Name: 13691, dtype: object
13692, Date         2013-08-29
Time         8:44:06 PM
Latitude      41.989365
Longitude    -87.683113
Name: 13692, dtype: object
13693, Date         2013-08-29
Time         8:44:16 PM
Latitude      41.989285
Longitude    -87.683675
Name: 13693, dtype: object
13694, Date         2013-08-29
Time         8:44:26 PM
Latitude      41.989278
Longitude    -87.684228
Name: 13694, dtype: object
13695, Date         2013-08-29
Time         8:45:46 PM
Latitude      41.989018
Longitude    -87.684148
Name: 13695, dtype: object
13696, Date         2013-08-29
Time         8:45:56 PM
Latitude      41.988588
Longitude     -87.68378
Name: 13696, dtype: object
13697, Date         2013-08-29
Time         8:46:06 PM
Latitude      41.988315
Longitude    -87.683485
Name: 13697, dtype: object
13698, Date         2013-08-29
Time         8:46:16 PM
Latitude      41.988442
Longitude    -87.682948
Name: 13698, dtype: object
13699, Date         2013-08-29
Time         8:46:26 PM
Latitude      41.988497
Longitude    -87.682345
Name: 13699, dtype: object
13700, Date         2013-08-29
Time         8:46:36 PM
Latitude      41.988443
Longitude    -87.681675
Name: 13700, dtype: object
13701, Date         2013-08-29
Time         8:46:46 PM
Latitude      41.988238
Longitude    -87.681012
Name: 13701, dtype: object
13702, Date         2013-08-29
Time         8:46:56 PM
Latitude      41.988073
Longitude    -87.680473
Name: 13702, dtype: object
13703, Date         2013-08-29
Time         8:47:06 PM
Latitude       41.98805
Longitude    -87.679888
Name: 13703, dtype: object
13704, Date         2013-08-29
Time         8:47:26 PM
Latitude      41.988353
Longitude      -87.6798
Name: 13704, dtype: object
13705, Date         2013-08-29
Time         8:47:46 PM
Latitude      41.988657
Longitude    -87.679062
Name: 13705, dtype: object
13706, Date         2013-08-29
Time         8:47:56 PM
Latitude       41.98868
Longitude    -87.678423
Name: 13706, dtype: object
13707, Date         2013-08-29
Time         8:48:06 PM
Latitude      41.988403
Longitude     -87.67827
Name: 13707, dtype: object
13708, Date         2013-08-29
Time         8:48:16 PM
Latitude       41.98798
Longitude    -87.678257
Name: 13708, dtype: object
13709, Date         2013-08-29
Time         8:48:26 PM
Latitude      41.987613
Longitude    -87.678225
Name: 13709, dtype: object
13710, Date         2013-08-29
Time         8:48:36 PM
Latitude      41.987413
Longitude    -87.678592
Name: 13710, dtype: object
13711, Date         2013-08-29
Time         8:49:06 PM
Latitude      41.986977
Longitude    -87.679063
Name: 13711, dtype: object
13712, Date         2013-08-29
Time         8:49:16 PM
Latitude      41.986932
Longitude     -87.67966
Name: 13712, dtype: object
13713, Date         2013-08-29
Time         8:49:26 PM
Latitude       41.98696
Longitude    -87.680328
Name: 13713, dtype: object
13714, Date         2013-08-29
Time         8:49:36 PM
Latitude      41.987083
Longitude    -87.680983
Name: 13714, dtype: object
13715, Date         2013-08-29
Time         8:49:46 PM
Latitude      41.987075
Longitude     -87.68167
Name: 13715, dtype: object
13716, Date         2013-08-29
Time         8:49:56 PM
Latitude      41.986953
Longitude     -87.68222
Name: 13716, dtype: object
13717, Date         2013-08-29
Time         8:50:06 PM
Latitude      41.986997
Longitude    -87.682617
Name: 13717, dtype: object
13718, Date         2013-08-29
Time         8:50:16 PM
Latitude      41.987117
Longitude     -87.68307
Name: 13718, dtype: object
13719, Date         2013-08-29
Time         8:50:26 PM
Latitude       41.98729
Longitude    -87.683607
Name: 13719, dtype: object
13720, Date         2013-08-29
Time         8:50:36 PM
Latitude       41.98751
Longitude    -87.684227
Name: 13720, dtype: object
13721, Date         2013-08-29
Time         8:50:46 PM
Latitude      41.987508
Longitude    -87.684737
Name: 13721, dtype: object
13722, Date         2013-08-29
Time         8:50:56 PM
Latitude      41.987388
Longitude    -87.685245
Name: 13722, dtype: object
13723, Date         2013-08-29
Time         8:51:36 PM
Latitude      41.987302
Longitude    -87.685943
Name: 13723, dtype: object
13724, Date         2013-08-29
Time         8:51:46 PM
Latitude       41.98697
Longitude    -87.686382
Name: 13724, dtype: object
13725, Date         2013-08-29
Time         8:51:56 PM
Latitude      41.986453
Longitude    -87.686392
Name: 13725, dtype: object
13726, Date         2013-08-29
Time         8:52:06 PM
Latitude      41.985915
Longitude    -87.686452
Name: 13726, dtype: object
13727, Date         2013-08-29
Time         8:52:16 PM
Latitude      41.985397
Longitude     -87.68655
Name: 13727, dtype: object
13728, Date         2013-08-29
Time         8:52:26 PM
Latitude      41.985247
Longitude    -87.686817
Name: 13728, dtype: object
13729, Date         2013-08-29
Time         8:52:36 PM
Latitude      41.985243
Longitude    -87.686685
Name: 13729, dtype: object
13730, Date         2013-08-29
Time         8:52:56 PM
Latitude      41.984762
Longitude    -87.686642
Name: 13730, dtype: object
13731, Date         2013-08-29
Time         8:53:06 PM
Latitude      41.984345
Longitude    -87.686617
Name: 13731, dtype: object
13732, Date         2013-08-29
Time         8:53:16 PM
Latitude      41.984105
Longitude    -87.686145
Name: 13732, dtype: object
13733, Date         2013-08-29
Time         8:53:26 PM
Latitude      41.984122
Longitude    -87.685542
Name: 13733, dtype: object
13734, Date         2013-08-29
Time         8:53:36 PM
Latitude      41.984233
Longitude     -87.68491
Name: 13734, dtype: object
13735, Date         2013-08-29
Time         8:53:56 PM
Latitude      41.984697
Longitude    -87.684552
Name: 13735, dtype: object
13736, Date         2013-08-29
Time         8:54:06 PM
Latitude      41.985233
Longitude    -87.684558
Name: 13736, dtype: object
13737, Date         2013-08-29
Time         8:54:16 PM
Latitude      41.985733
Longitude     -87.68458
Name: 13737, dtype: object
13738, Date         2013-08-29
Time         8:54:26 PM
Latitude      41.985977
Longitude    -87.684867
Name: 13738, dtype: object
13739, Date         2013-08-29
Time         8:54:36 PM
Latitude      41.986007
Longitude    -87.685493
Name: 13739, dtype: object
13740, Date         2013-08-29
Time         8:54:46 PM
Latitude      41.985588
Longitude    -87.685607
Name: 13740, dtype: object
13741, Date         2013-08-29
Time         8:54:56 PM
Latitude      41.985102
Longitude     -87.68557
Name: 13741, dtype: object
13742, Date         2013-08-29
Time         8:55:06 PM
Latitude      41.985052
Longitude    -87.685013
Name: 13742, dtype: object
13743, Date         2013-08-29
Time         8:55:16 PM
Latitude      41.985083
Longitude    -87.684322
Name: 13743, dtype: object
13744, Date         2013-08-29
Time         8:55:26 PM
Latitude      41.985123
Longitude    -87.683627
Name: 13744, dtype: object
13745, Date         2013-08-29
Time         8:55:36 PM
Latitude      41.985118
Longitude    -87.682918
Name: 13745, dtype: object
13746, Date         2013-08-29
Time         8:55:46 PM
Latitude      41.984972
Longitude     -87.68221
Name: 13746, dtype: object
13747, Date         2013-08-29
Time         8:55:56 PM
Latitude      41.984925
Longitude    -87.681482
Name: 13747, dtype: object
13748, Date         2013-08-29
Time         8:56:06 PM
Latitude      41.985345
Longitude    -87.681172
Name: 13748, dtype: object
13749, Date         2013-08-29
Time         8:56:16 PM
Latitude       41.98583
Longitude    -87.681075
Name: 13749, dtype: object
13750, Date         2013-08-29
Time         8:56:26 PM
Latitude      41.986228
Longitude    -87.680633
Name: 13750, dtype: object
13751, Date         2013-08-29
Time         8:56:36 PM
Latitude      41.986245
Longitude    -87.680215
Name: 13751, dtype: object
13752, Date         2013-08-29
Time         8:56:46 PM
Latitude       41.98581
Longitude     -87.68017
Name: 13752, dtype: object
13753, Date         2013-08-29
Time         8:56:56 PM
Latitude      41.985315
Longitude    -87.679988
Name: 13753, dtype: object
13754, Date         2013-08-29
Time         8:57:06 PM
Latitude      41.985022
Longitude    -87.680085
Name: 13754, dtype: object
13755, Date         2013-08-29
Time         8:57:16 PM
Latitude      41.985178
Longitude    -87.680532
Name: 13755, dtype: object
13756, Date         2013-08-29
Time         8:57:26 PM
Latitude      41.985635
Longitude    -87.680708
Name: 13756, dtype: object
13757, Date         2013-08-29
Time         8:57:36 PM
Latitude       41.98612
Longitude    -87.680798
Name: 13757, dtype: object
13758, Date         2013-08-29
Time         8:57:46 PM
Latitude      41.986322
Longitude    -87.681377
Name: 13758, dtype: object
13759, Date         2013-08-29
Time         8:57:56 PM
Latitude      41.986075
Longitude    -87.681948
Name: 13759, dtype: object
13760, Date         2013-08-29
Time         8:58:06 PM
Latitude      41.985998
Longitude      -87.6826
Name: 13760, dtype: object
13761, Date         2013-08-29
Time         8:58:16 PM
Latitude      41.985857
Longitude    -87.682918
Name: 13761, dtype: object
13762, Date         2013-08-29
Time         8:58:26 PM
Latitude      41.985407
Longitude    -87.682907
Name: 13762, dtype: object
13763, Date         2013-08-29
Time         8:58:36 PM
Latitude       41.98513
Longitude    -87.682905
Name: 13763, dtype: object
13764, Date         2013-08-29
Time         8:58:56 PM
Latitude      41.985008
Longitude    -87.682222
Name: 13764, dtype: object
13765, Date         2013-08-29
Time         8:59:06 PM
Latitude      41.984953
Longitude    -87.681537
Name: 13765, dtype: object
13766, Date         2013-08-29
Time         8:59:16 PM
Latitude       41.98494
Longitude    -87.680783
Name: 13766, dtype: object
13767, Date         2013-08-29
Time         8:59:26 PM
Latitude      41.985017
Longitude    -87.680087
Name: 13767, dtype: object
13768, Date         2013-08-29
Time         8:59:36 PM
Latitude      41.985152
Longitude     -87.67946
Name: 13768, dtype: object
13769, Date         2013-08-29
Time         8:59:46 PM
Latitude      41.985418
Longitude    -87.679295
Name: 13769, dtype: object
13770, Date         2013-08-29
Time         8:59:56 PM
Latitude      41.985862
Longitude    -87.679488
Name: 13770, dtype: object
13771, Date         2013-08-29
Time         9:00:06 PM
Latitude       41.98638
Longitude    -87.679467
Name: 13771, dtype: object
13772, Date         2013-08-29
Time         9:00:16 PM
Latitude      41.986762
Longitude    -87.679273
Name: 13772, dtype: object
13773, Date         2013-08-29
Time         9:00:56 PM
Latitude      41.987155
Longitude    -87.678862
Name: 13773, dtype: object
13774, Date         2013-08-29
Time         9:01:06 PM
Latitude      41.987192
Longitude    -87.678245
Name: 13774, dtype: object
13775, Date         2013-08-29
Time         9:01:16 PM
Latitude      41.986803
Longitude    -87.677762
Name: 13775, dtype: object
13776, Date         2013-08-29
Time         9:01:36 PM
Latitude      41.986518
Longitude    -87.677837
Name: 13776, dtype: object
13777, Date         2013-08-29
Time         9:01:46 PM
Latitude      41.986185
Longitude    -87.678382
Name: 13777, dtype: object
13778, Date         2013-08-29
Time         9:02:06 PM
Latitude      41.985628
Longitude    -87.678082
Name: 13778, dtype: object
13779, Date         2013-08-29
Time         9:02:16 PM
Latitude      41.985325
Longitude    -87.677728
Name: 13779, dtype: object
13780, Date         2013-08-29
Time         9:02:26 PM
Latitude      41.984957
Longitude    -87.677828
Name: 13780, dtype: object
13781, Date         2013-08-29
Time         9:02:36 PM
Latitude      41.984795
Longitude    -87.677678
Name: 13781, dtype: object
13782, Date         2013-08-29
Time         9:02:46 PM
Latitude      41.984815
Longitude    -87.676927
Name: 13782, dtype: object
13783, Date         2013-08-29
Time         9:02:56 PM
Latitude      41.984595
Longitude    -87.676715
Name: 13783, dtype: object
13784, Date         2013-08-29
Time         9:03:06 PM
Latitude      41.984198
Longitude     -87.67698
Name: 13784, dtype: object
13785, Date         2013-08-29
Time         9:03:16 PM
Latitude      41.983902
Longitude    -87.677393
Name: 13785, dtype: object
13786, Date         2013-08-29
Time         9:03:26 PM
Latitude      41.983803
Longitude    -87.677908
Name: 13786, dtype: object
13787, Date         2013-08-29
Time         9:03:36 PM
Latitude      41.983972
Longitude    -87.678293
Name: 13787, dtype: object
13788, Date         2013-08-29
Time         9:03:46 PM
Latitude      41.984328
Longitude    -87.678345
Name: 13788, dtype: object
13789, Date         2013-08-29
Time         9:03:56 PM
Latitude       41.98463
Longitude    -87.677975
Name: 13789, dtype: object
13790, Date         2013-08-29
Time         9:04:06 PM
Latitude      41.985007
Longitude    -87.677718
Name: 13790, dtype: object
13791, Date         2013-08-29
Time         9:04:26 PM
Latitude      41.985443
Longitude    -87.677875
Name: 13791, dtype: object
13792, Date         2013-08-29
Time         9:04:46 PM
Latitude      41.985358
Longitude    -87.678855
Name: 13792, dtype: object
13793, Date         2013-08-29
Time         9:05:06 PM
Latitude      41.984962
Longitude    -87.678955
Name: 13793, dtype: object
13794, Date         2013-08-29
Time         9:05:16 PM
Latitude      41.984605
Longitude    -87.679063
Name: 13794, dtype: object
13795, Date         2013-08-29
Time         9:05:26 PM
Latitude      41.984207
Longitude    -87.679302
Name: 13795, dtype: object
13796, Date         2013-08-29
Time         9:05:36 PM
Latitude      41.983843
Longitude    -87.679255
Name: 13796, dtype: object
13797, Date         2013-08-29
Time         9:05:46 PM
Latitude      41.983575
Longitude    -87.679723
Name: 13797, dtype: object
13798, Date         2013-08-29
Time         9:05:56 PM
Latitude      41.983538
Longitude    -87.680232
Name: 13798, dtype: object
13799, Date         2013-08-29
Time         9:06:06 PM
Latitude      41.983658
Longitude    -87.680295
Name: 13799, dtype: object
13800, Date         2013-08-29
Time         9:06:16 PM
Latitude      41.984133
Longitude    -87.680197
Name: 13800, dtype: object
13801, Date         2013-08-29
Time         9:06:26 PM
Latitude      41.984318
Longitude    -87.680565

14027, Date         2013-09-05
Time         7:48:43 PM
Latitude      41.999982
Longitude    -87.804005
Name: 14027, dtype: object
14028, Date         2013-09-05
Time         7:48:53 PM
Latitude      41.999962
Longitude    -87.804737
Name: 14028, dtype: object
14029, Date         2013-09-05
Time         7:49:03 PM
Latitude      41.999425
Longitude    -87.804832
Name: 14029, dtype: object
14030, Date         2013-09-05
Time         7:49:13 PM
Latitude      41.998888
Longitude    -87.804833
Name: 14030, dtype: object
14031, Date         2013-09-05
Time         7:49:23 PM
Latitude       41.99867
Longitude    -87.805243
Name: 14031, dtype: object
14032, Date         2013-09-05
Time         7:49:33 PM
Latitude      41.998642
Longitude    -87.805922
Name: 14032, dtype: object
14033, Date         2013-09-05
Time         7:50:13 PM
Latitude      41.999398
Longitude    -87.806647
Name: 14033, dtype: object
14034, Date         2013-09-05
Time         7:50:23 PM
Latitude      41.999515
Longitude    -87.806158
Name: 14034, dtype: object
14035, Date         2013-09-05
Time         7:50:33 PM
Latitude      41.999517
Longitude    -87.805457
Name: 14035, dtype: object
14036, Date         2013-09-05
Time         7:50:43 PM
Latitude      41.999592
Longitude    -87.804878
Name: 14036, dtype: object
14037, Date         2013-09-05
Time         7:50:53 PM
Latitude      41.999977
Longitude     -87.80495
Name: 14037, dtype: object
14038, Date         2013-09-05
Time         7:51:33 PM
Latitude      42.000717
Longitude    -87.805305
Name: 14038, dtype: object
14039, Date         2013-09-05
Time         7:52:03 PM
Latitude      42.000593
Longitude    -87.805342
Name: 14039, dtype: object
14040, Date         2013-09-05
Time         7:52:13 PM
Latitude      42.000145
Longitude    -87.805348
Name: 14040, dtype: object
14041, Date         2013-09-05
Time         7:52:23 PM
Latitude      41.999997
Longitude     -87.80513
Name: 14041, dtype: object
14042, Date         2013-09-05
Time         7:52:33 PM
Latitude       41.99973
Longitude     -87.80491
Name: 14042, dtype: object
14043, Date         2013-09-05
Time         7:52:43 PM
Latitude      41.999145
Longitude    -87.804897
Name: 14043, dtype: object
14044, Date         2013-09-05
Time         7:52:53 PM
Latitude      41.998673
Longitude    -87.805018
Name: 14044, dtype: object
14045, Date         2013-09-05
Time         7:53:03 PM
Latitude      41.998668
Longitude    -87.805745
Name: 14045, dtype: object
14046, Date         2013-09-05
Time         7:53:13 PM
Latitude      41.998658
Longitude    -87.806433
Name: 14046, dtype: object
14047, Date         2013-09-05
Time         7:53:23 PM
Latitude      41.998688
Longitude    -87.806767
Name: 14047, dtype: object
14048, Date         2013-09-05
Time         7:53:33 PM
Latitude      41.998907
Longitude    -87.807222
Name: 14048, dtype: object
14049, Date         2013-09-05
Time         7:53:43 PM
Latitude      41.999232
Longitude    -87.807757
Name: 14049, dtype: object
14050, Date         2013-09-05
Time         7:53:53 PM
Latitude      41.999565
Longitude    -87.808305
Name: 14050, dtype: object
14051, Date         2013-09-05
Time         7:54:03 PM
Latitude       41.99992
Longitude    -87.808893
Name: 14051, dtype: object
14052, Date         2013-09-05
Time         7:54:13 PM
Latitude      42.000268
Longitude    -87.809458
Name: 14052, dtype: object
14053, Date         2013-09-05
Time         7:54:23 PM
Latitude      42.000603
Longitude    -87.809987
Name: 14053, dtype: object
14054, Date         2013-09-05
Time         7:54:33 PM
Latitude      42.000932
Longitude    -87.810537
Name: 14054, dtype: object
14055, Date         2013-09-05
Time         7:54:43 PM
Latitude      42.001265
Longitude    -87.811088
Name: 14055, dtype: object
14056, Date         2013-09-05
Time         7:54:53 PM
Latitude      42.001607
Longitude    -87.811523
Name: 14056, dtype: object
14057, Date         2013-09-05
Time         7:55:03 PM
Latitude       42.00216
Longitude    -87.811523
Name: 14057, dtype: object
14058, Date         2013-09-05
Time         7:55:13 PM
Latitude      42.002608
Longitude    -87.811543
Name: 14058, dtype: object
14059, Date         2013-09-05
Time         7:55:23 PM
Latitude      42.003105
Longitude    -87.811545
Name: 14059, dtype: object
14060, Date         2013-09-05
Time         7:55:33 PM
Latitude      42.003617
Longitude    -87.811558
Name: 14060, dtype: object
14061, Date         2013-09-05
Time         7:55:43 PM
Latitude      42.004087
Longitude    -87.811585
Name: 14061, dtype: object
14062, Date         2013-09-05
Time         7:55:53 PM
Latitude      42.004217
Longitude    -87.811198
Name: 14062, dtype: object
14063, Date         2013-09-05
Time         7:56:03 PM
Latitude      42.004237
Longitude    -87.810648
Name: 14063, dtype: object
14064, Date         2013-09-05
Time         7:56:13 PM
Latitude      42.003973
Longitude    -87.810438
Name: 14064, dtype: object
14065, Date         2013-09-05
Time         7:56:23 PM
Latitude      42.003438
Longitude    -87.810432
Name: 14065, dtype: object
14066, Date         2013-09-05
Time         7:56:33 PM
Latitude      42.002945
Longitude    -87.810425
Name: 14066, dtype: object
14067, Date         2013-09-05
Time         7:56:43 PM
Latitude      42.002468
Longitude    -87.810427
Name: 14067, dtype: object
14068, Date         2013-09-05
Time         7:56:53 PM
Latitude       42.00211
Longitude    -87.810403
Name: 14068, dtype: object
14069, Date         2013-09-05
Time         7:57:03 PM
Latitude      42.001718
Longitude     -87.81044
Name: 14069, dtype: object
14070, Date         2013-09-05
Time         7:57:13 PM
Latitude      42.001213
Longitude    -87.810642
Name: 14070, dtype: object
14071, Date         2013-09-05
Time         7:57:23 PM
Latitude      42.000857
Longitude      -87.8105
Name: 14071, dtype: object
14072, Date         2013-09-05
Time         7:57:33 PM
Latitude      42.000502
Longitude    -87.809912
Name: 14072, dtype: object
14073, Date         2013-09-05
Time         7:57:43 PM
Latitude      42.000452
Longitude     -87.80946
Name: 14073, dtype: object
14074, Date         2013-09-05
Time         7:57:53 PM
Latitude      42.000868
Longitude    -87.809255
Name: 14074, dtype: object
14075, Date         2013-09-05
Time         7:58:03 PM
Latitude      42.001413
Longitude    -87.809258
Name: 14075, dtype: object
14076, Date         2013-09-05
Time         7:58:13 PM
Latitude      42.001958
Longitude    -87.809252
Name: 14076, dtype: object
14077, Date         2013-09-05
Time         7:58:23 PM
Latitude      42.002433
Longitude    -87.809253
Name: 14077, dtype: object
14078, Date         2013-09-05
Time         7:58:33 PM
Latitude      42.002893
Longitude    -87.809267
Name: 14078, dtype: object
14079, Date         2013-09-05
Time         7:58:43 PM
Latitude       42.00348
Longitude    -87.809267
Name: 14079, dtype: object
14080, Date         2013-09-05
Time         7:58:53 PM
Latitude       42.00406
Longitude     -87.80926
Name: 14080, dtype: object
14081, Date         2013-09-05
Time         7:59:03 PM
Latitude      42.004302
Longitude    -87.809082
Name: 14081, dtype: object
14082, Date         2013-09-05
Time         7:59:13 PM
Latitude      42.004323
Longitude    -87.808332
Name: 14082, dtype: object
14083, Date         2013-09-05
Time         7:59:23 PM
Latitude      42.004103
Longitude    -87.808057
Name: 14083, dtype: object
14084, Date         2013-09-05
Time         7:59:33 PM
Latitude      42.003562
Longitude    -87.808043
Name: 14084, dtype: object
14085, Date         2013-09-05
Time         7:59:43 PM
Latitude      42.002955
Longitude    -87.808045
Name: 14085, dtype: object
14086, Date         2013-09-05
Time         8:00:03 PM
Latitude      42.002238
Longitude    -87.808037
Name: 14086, dtype: object
14087, Date         2013-09-05
Time         8:00:23 PM
Latitude      42.001815
Longitude    -87.808022
Name: 14087, dtype: object
14088, Date         2013-09-05
Time         8:00:33 PM
Latitude      42.001228
Longitude    -87.808035
Name: 14088, dtype: object
14089, Date         2013-09-05
Time         8:00:43 PM
Latitude      42.000733
Longitude     -87.80802
Name: 14089, dtype: object
14090, Date         2013-09-05
Time         8:00:53 PM
Latitude       42.00015
Longitude    -87.808028
Name: 14090, dtype: object
14091, Date         2013-09-05
Time         8:01:03 PM
Latitude      41.999793
Longitude    -87.808302
Name: 14091, dtype: object
14092, Date         2013-09-05
Time         8:01:13 PM
Latitude       41.99944
Longitude    -87.807965
Name: 14092, dtype: object
14093, Date         2013-09-05
Time         8:01:23 PM
Latitude      41.999047
Longitude    -87.807318
Name: 14093, dtype: object
14094, Date         2013-09-05
Time         8:02:13 PM
Latitude      42.000922
Longitude    -87.806872
Name: 14094, dtype: object
14095, Date         2013-09-05
Time         8:02:23 PM
Latitude      42.000923
Longitude    -87.807465
Name: 14095, dtype: object
14096, Date         2013-09-05
Time         8:02:33 PM
Latitude       42.00097
Longitude    -87.807952
Name: 14096, dtype: object
14097, Date         2013-09-05
Time         8:02:43 PM
Latitude      42.001517
Longitude     -87.80796
Name: 14097, dtype: object
14098, Date         2013-09-05
Time         8:02:53 PM
Latitude      42.002078
Longitude    -87.807953
Name: 14098, dtype: object
14099, Date         2013-09-05
Time         8:03:03 PM
Latitude      42.002578
Longitude     -87.80795
Name: 14099, dtype: object
14100, Date         2013-09-05
Time         8:03:13 PM
Latitude       42.00267
Longitude    -87.807342
Name: 14100, dtype: object
14101, Date         2013-09-05
Time         8:04:03 PM
Latitude       42.00448
Longitude    -87.807287
Name: 14101, dtype: object
14102, Date         2013-09-05
Time         8:04:13 PM
Latitude      42.004453
Longitude    -87.807968
Name: 14102, dtype: object
14103, Date         2013-09-05
Time         8:04:23 PM
Latitude      42.004432
Longitude    -87.808657
Name: 14103, dtype: object
14104, Date         2013-09-05
Time         8:04:33 PM
Latitude      42.004408
Longitude    -87.809323
Name: 14104, dtype: object
14105, Date         2013-09-05
Time         8:04:43 PM
Latitude      42.004397
Longitude    -87.809877
Name: 14105, dtype: object
14106, Date         2013-09-05
Time         8:04:53 PM
Latitude      42.004375
Longitude    -87.810485
Name: 14106, dtype: object
14107, Date         2013-09-05
Time         8:05:03 PM
Latitude      42.004348
Longitude    -87.811105
Name: 14107, dtype: object
14108, Date         2013-09-05
Time         8:05:13 PM
Latitude      42.004278
Longitude    -87.811517
Name: 14108, dtype: object
14109, Date         2013-09-05
Time         8:05:23 PM
Latitude       42.00383
Longitude    -87.811503
Name: 14109, dtype: object
14110, Date         2013-09-05
Time         8:05:33 PM
Latitude      42.003292
Longitude    -87.811518
Name: 14110, dtype: object
14111, Date         2013-09-05
Time         8:05:43 PM
Latitude      42.002772
Longitude    -87.811528
Name: 14111, dtype: object
14112, Date         2013-09-05
Time         8:05:53 PM
Latitude       42.00261
Longitude    -87.811013
Name: 14112, dtype: object
14113, Date         2013-09-05
Time         8:06:03 PM
Latitude       42.00264
Longitude    -87.810258
Name: 14113, dtype: object
14114, Date         2013-09-05
Time         8:06:13 PM
Latitude      42.002655
Longitude    -87.809537
Name: 14114, dtype: object
14115, Date         2013-09-05
Time         8:06:23 PM
Latitude      42.002678
Longitude    -87.808788
Name: 14115, dtype: object
14116, Date         2013-09-05
Time         8:06:33 PM
Latitude       42.00269
Longitude    -87.808092
Name: 14116, dtype: object
14117, Date         2013-09-05
Time         8:06:43 PM
Latitude      42.002322
Longitude     -87.80796
Name: 14117, dtype: object
14118, Date         2013-09-05
Time         8:06:53 PM
Latitude      42.001735
Longitude    -87.807988
Name: 14118, dtype: object
14119, Date         2013-09-05
Time         8:07:03 PM
Latitude      42.001153
Longitude    -87.807953
Name: 14119, dtype: object
14120, Date         2013-09-05
Time         8:07:13 PM
Latitude      42.000587
Longitude    -87.807947
Name: 14120, dtype: object
14121, Date         2013-09-05
Time         8:07:23 PM
Latitude       42.00003
Longitude    -87.808058
Name: 14121, dtype: object
14122, Date         2013-09-05
Time         8:07:33 PM
Latitude       41.99988
Longitude    -87.808528
Name: 14122, dtype: object
14123, Date         2013-09-05
Time         8:07:43 PM
Latitude      42.000245
Longitude    -87.809148
Name: 14123, dtype: object
14124, Date         2013-09-05
Time         8:07:53 PM
Latitude      42.000565
Longitude    -87.809687
Name: 14124, dtype: object
14125, Date         2013-09-05
Time         8:08:03 PM
Latitude      42.000868
Longitude    -87.810205
Name: 14125, dtype: object
14126, Date         2013-09-05
Time         8:08:13 PM
Latitude       42.00119
Longitude    -87.810772
Name: 14126, dtype: object
14127, Date         2013-09-05
Time         8:08:23 PM
Latitude       42.00128
Longitude     -87.81135
Name: 14127, dtype: object
14128, Date         2013-09-05
Time         8:08:33 PM
Latitude      42.000828
Longitude    -87.811878
Name: 14128, dtype: object
14129, Date         2013-09-05
Time         8:08:53 PM
Latitude      42.000982
Longitude    -87.813088
Name: 14129, dtype: object
14130, Date         2013-09-05
Time         8:09:03 PM
Latitude      42.001253
Longitude    -87.813153
Name: 14130, dtype: object
14131, Date         2013-09-05
Time         8:09:13 PM
Latitude      42.001565
Longitude    -87.812777
Name: 14131, dtype: object
14132, Date         2013-09-05
Time         8:09:23 PM
Latitude       42.00195
Longitude    -87.812353
Name: 14132, dtype: object
14133, Date         2013-09-05
Time         8:09:33 PM
Latitude      42.002383
Longitude    -87.811847
Name: 14133, dtype: object
14134, Date         2013-09-05
Time         8:09:43 PM
Latitude       42.00289
Longitude    -87.811602
Name: 14134, dtype: object
14135, Date         2013-09-05
Time         8:09:53 PM
Latitude      42.003437
Longitude    -87.811613
Name: 14135, dtype: object
14136, Date         2013-09-05
Time         8:10:03 PM
Latitude      42.003858
Longitude    -87.811712
Name: 14136, dtype: object
14137, Date         2013-09-05
Time         8:10:13 PM
Latitude       42.00354
Longitude    -87.812068
Name: 14137, dtype: object
14138, Date         2013-09-05
Time         8:10:23 PM
Latitude       42.00325
Longitude    -87.812442
Name: 14138, dtype: object
14139, Date         2013-09-05
Time         8:10:33 PM
Latitude      42.002942
Longitude    -87.812818
Name: 14139, dtype: object
14140, Date         2013-09-05
Time         8:10:43 PM
Latitude      42.002575
Longitude     -87.81321
Name: 14140, dtype: object
14141, Date         2013-09-05
Time         8:10:53 PM
Latitude       42.00221
Longitude     -87.81367
Name: 14141, dtype: object
14142, Date         2013-09-05
Time         8:11:23 PM
Latitude       42.00248
Longitude    -87.814943
Name: 14142, dtype: object
14143, Date         2013-09-05
Time         8:11:43 PM
Latitude      42.002783
Longitude    -87.814603
Name: 14143, dtype: object
14144, Date         2013-09-05
Time         8:11:53 PM
Latitude      42.003125
Longitude    -87.814243
Name: 14144, dtype: object
14145, Date         2013-09-05
Time         8:12:03 PM
Latitude      42.003462
Longitude    -87.813872
Name: 14145, dtype: object
14146, Date         2013-09-05
Time         8:12:13 PM
Latitude      42.003885
Longitude    -87.813387
Name: 14146, dtype: object
14147, Date         2013-09-05
Time         8:12:23 PM
Latitude      42.004187
Longitude    -87.813027
Name: 14147, dtype: object
14148, Date         2013-09-05
Time         8:12:33 PM
Latitude      42.004295
Longitude    -87.813423
Name: 14148, dtype: object
14149, Date         2013-09-05
Time         8:12:43 PM
Latitude      42.004267
Longitude    -87.814225
Name: 14149, dtype: object
14150, Date         2013-09-05
Time         8:12:53 PM
Latitude       42.00403
Longitude    -87.814793
Name: 14150, dtype: object
14151, Date         2013-09-05
Time         8:13:03 PM
Latitude      42.003742
Longitude    -87.814738
Name: 14151, dtype: object
14152, Date         2013-09-05
Time         8:13:13 PM
Latitude      42.003447
Longitude    -87.814277
Name: 14152, dtype: object
14153, Date         2013-09-05
Time         8:13:23 PM
Latitude        42.0032
Longitude    -87.813878
Name: 14153, dtype: object
14154, Date         2013-09-05
Time         8:13:33 PM
Latitude      42.002875
Longitude    -87.813377
Name: 14154, dtype: object
14155, Date         2013-09-05
Time         8:13:43 PM
Latitude      42.002603
Longitude    -87.812932
Name: 14155, dtype: object
14156, Date         2013-09-05
Time         8:13:53 PM
Latitude      42.002335
Longitude    -87.812538
Name: 14156, dtype: object
14157, Date         2013-09-05
Time         8:14:03 PM
Latitude      42.002337
Longitude    -87.812142
Name: 14157, dtype: object
14158, Date         2013-09-05
Time         8:14:13 PM
Latitude      42.002683
Longitude    -87.811773
Name: 14158, dtype: object
14159, Date         2013-09-05
Time         8:14:23 PM
Latitude      42.003273
Longitude     -87.81178
Name: 14159, dtype: object
14160, Date         2013-09-05
Time         8:14:33 PM
Latitude      42.003907
Longitude    -87.811762
Name: 14160, dtype: object
14161, Date         2013-09-05
Time         8:14:43 PM
Latitude       42.00432
Longitude    -87.811707
Name: 14161, dtype: object
14162, Date         2013-09-05
Time         8:14:53 PM
Latitude       42.00435
Longitude    -87.811145
Name: 14162, dtype: object
14163, Date         2013-09-05
Time         8:15:03 PM
Latitude      42.004358
Longitude     -87.81051
Name: 14163, dtype: object
14164, Date         2013-09-05
Time         8:15:13 PM
Latitude      42.004382
Longitude    -87.809815
Name: 14164, dtype: object
14165, Date         2013-09-05
Time         8:15:23 PM
Latitude      42.004515
Longitude    -87.809393
Name: 14165, dtype: object
14166, Date         2013-09-05
Time         8:15:33 PM
Latitude      42.004982
Longitude    -87.809368
Name: 14166, dtype: object
14167, Date         2013-09-05
Time         8:15:43 PM
Latitude       42.00539
Longitude    -87.809385
Name: 14167, dtype: object
14168, Date         2013-09-05
Time         8:15:53 PM
Latitude       42.00595
Longitude     -87.80937
Name: 14168, dtype: object
14169, Date         2013-09-05
Time         8:16:03 PM
Latitude      42.006528
Longitude    -87.809355
Name: 14169, dtype: object
14170, Date         2013-09-05
Time         8:16:13 PM
Latitude      42.007083
Longitude    -87.809332
Name: 14170, dtype: object
14171, Date         2013-09-05
Time         8:16:23 PM
Latitude      42.007648
Longitude    -87.809325
Name: 14171, dtype: object
14172, Date         2013-09-05
Time         8:16:33 PM
Latitude      42.008168
Longitude     -87.80931
Name: 14172, dtype: object
14173, Date         2013-09-05
Time         8:16:43 PM
Latitude      42.008692
Longitude      -87.8093
Name: 14173, dtype: object
14174, Date         2013-09-05
Time         8:16:53 PM
Latitude      42.009178
Longitude    -87.809292
Name: 14174, dtype: object
14175, Date         2013-09-05
Time         8:17:03 PM
Latitude      42.009287
Longitude     -87.80963
Name: 14175, dtype: object
14176, Date         2013-09-05
Time         8:17:13 PM
Latitude      42.009293
Longitude     -87.81007
Name: 14176, dtype: object
14177, Date         2013-09-05
Time         8:17:23 PM
Latitude      42.009293
Longitude    -87.810538
Name: 14177, dtype: object
14178, Date         2013-09-05
Time         8:17:33 PM
Latitude       42.00929
Longitude     -87.81102
Name: 14178, dtype: object
14179, Date         2013-09-05
Time         8:17:43 PM
Latitude      42.009752
Longitude     -87.81106
Name: 14179, dtype: object
14180, Date         2013-09-05
Time         8:17:53 PM
Latitude      42.010135
Longitude    -87.811047

14438, Date         2013-09-05
Time         8:11:36 PM
Latitude      42.017018
Longitude    -87.810073
Name: 14438, dtype: object
14439, Date         2013-09-05
Time         8:11:46 PM
Latitude      42.017015
Longitude    -87.810922
Name: 14439, dtype: object
14440, Date         2013-09-05
Time         8:11:56 PM
Latitude      42.016978
Longitude    -87.811828
Name: 14440, dtype: object
14441, Date         2013-09-05
Time         8:12:06 PM
Latitude       42.01699
Longitude    -87.812543
Name: 14441, dtype: object
14442, Date         2013-09-05
Time         8:12:16 PM
Latitude      42.016963
Longitude    -87.813388
Name: 14442, dtype: object
14443, Date         2013-09-05
Time         8:12:26 PM
Latitude      42.016958
Longitude    -87.814227
Name: 14443, dtype: object
14444, Date         2013-09-05
Time         8:12:36 PM
Latitude      42.016947
Longitude     -87.81512
Name: 14444, dtype: object
14445, Date         2013-09-05
Time         8:12:46 PM
Latitude      42.016927
Longitude    -87.816005
Name: 14445, dtype: object
14446, Date         2013-09-05
Time         8:12:56 PM
Latitude      42.016907
Longitude    -87.816793
Name: 14446, dtype: object
14447, Date         2013-09-05
Time         8:13:06 PM
Latitude      42.016893
Longitude    -87.817645
Name: 14447, dtype: object
14448, Date         2013-09-05
Time         8:13:16 PM
Latitude       42.01688
Longitude    -87.818387
Name: 14448, dtype: object
14449, Date         2013-09-05
Time         8:13:26 PM
Latitude      42.016852
Longitude    -87.819208
Name: 14449, dtype: object
14450, Date         2013-09-05
Time         8:13:36 PM
Latitude       42.01684
Longitude    -87.819983
Name: 14450, dtype: object
14451, Date         2013-09-05
Time         8:13:46 PM
Latitude      42.016823
Longitude    -87.820502
Name: 14451, dtype: object
14452, Date         2013-09-05
Time         8:13:56 PM
Latitude      42.016368
Longitude    -87.820538
Name: 14452, dtype: object
14453, Date         2013-09-05
Time         8:14:06 PM
Latitude      42.015978
Longitude     -87.82046
Name: 14453, dtype: object
14454, Date         2013-09-05
Time         8:14:16 PM
Latitude      42.015978
Longitude    -87.819768
Name: 14454, dtype: object
14455, Date         2013-09-05
Time         8:14:26 PM
Latitude      42.015992
Longitude     -87.81898
Name: 14455, dtype: object
14456, Date         2013-09-05
Time         8:14:36 PM
Latitude      42.015653
Longitude    -87.818827
Name: 14456, dtype: object
14457, Date         2013-09-05
Time         8:14:46 PM
Latitude      42.015188
Longitude    -87.818795
Name: 14457, dtype: object
14458, Date         2013-09-05
Time         8:14:56 PM
Latitude      42.015155
Longitude    -87.817977
Name: 14458, dtype: object
14459, Date         2013-09-05
Time         8:15:06 PM
Latitude      42.015158
Longitude    -87.817192
Name: 14459, dtype: object
14460, Date         2013-09-05
Time         8:15:16 PM
Latitude      42.015177
Longitude     -87.81638
Name: 14460, dtype: object
14461, Date         2013-09-05
Time         8:15:26 PM
Latitude      42.015192
Longitude     -87.81544
Name: 14461, dtype: object
14462, Date         2013-09-05
Time         8:15:36 PM
Latitude      42.015208
Longitude    -87.814528
Name: 14462, dtype: object
14463, Date         2013-09-05
Time         8:15:46 PM
Latitude      42.015223
Longitude    -87.813725
Name: 14463, dtype: object
14464, Date         2013-09-05
Time         8:15:56 PM
Latitude      42.015263
Longitude    -87.812758
Name: 14464, dtype: object
14465, Date         2013-09-05
Time         8:16:06 PM
Latitude      42.015267
Longitude    -87.811947
Name: 14465, dtype: object
14466, Date         2013-09-05
Time         8:16:16 PM
Latitude      42.015275
Longitude    -87.811167
Name: 14466, dtype: object
14467, Date         2013-09-05
Time         8:16:26 PM
Latitude      42.015295
Longitude    -87.810265
Name: 14467, dtype: object
14468, Date         2013-09-05
Time         8:16:36 PM
Latitude      42.015328
Longitude    -87.809387
Name: 14468, dtype: object
14469, Date         2013-09-05
Time         8:16:46 PM
Latitude      42.015345
Longitude     -87.80858
Name: 14469, dtype: object
14470, Date         2013-09-05
Time         8:16:56 PM
Latitude      42.015388
Longitude    -87.807835
Name: 14470, dtype: object
14471, Date         2013-09-05
Time         8:17:06 PM
Latitude      42.015395
Longitude    -87.807088
Name: 14471, dtype: object
14472, Date         2013-09-05
Time         8:17:16 PM
Latitude      42.015188
Longitude    -87.806757
Name: 14472, dtype: object
14473, Date         2013-09-05
Time         8:17:26 PM
Latitude      42.014408
Longitude    -87.806755
Name: 14473, dtype: object
14474, Date         2013-09-05
Time         8:17:36 PM
Latitude      42.013755
Longitude    -87.806757
Name: 14474, dtype: object
14475, Date         2013-09-05
Time         8:17:46 PM
Latitude      42.013588
Longitude    -87.807295
Name: 14475, dtype: object
14476, Date         2013-09-05
Time         8:17:56 PM
Latitude      42.013558
Longitude    -87.807947
Name: 14476, dtype: object
14477, Date         2013-09-05
Time         8:18:06 PM
Latitude      42.013538
Longitude    -87.808832
Name: 14477, dtype: object
14478, Date         2013-09-05
Time         8:18:16 PM
Latitude      42.013512
Longitude    -87.809692
Name: 14478, dtype: object
14479, Date         2013-09-05
Time         8:18:26 PM
Latitude      42.013472
Longitude    -87.810523
Name: 14479, dtype: object
14480, Date         2013-09-05
Time         8:18:36 PM
Latitude       42.01345
Longitude    -87.811323
Name: 14480, dtype: object
14481, Date         2013-09-05
Time         8:18:46 PM
Latitude      42.013425
Longitude    -87.812072
Name: 14481, dtype: object
14482, Date         2013-09-05
Time         8:18:56 PM
Latitude       42.01341
Longitude     -87.81288
Name: 14482, dtype: object
14483, Date         2013-09-05
Time         8:19:06 PM
Latitude      42.013382
Longitude    -87.813725
Name: 14483, dtype: object
14484, Date         2013-09-05
Time         8:19:16 PM
Latitude      42.013365
Longitude    -87.814645
Name: 14484, dtype: object
14485, Date         2013-09-05
Time         8:19:26 PM
Latitude      42.013328
Longitude    -87.815477
Name: 14485, dtype: object
14486, Date         2013-09-05
Time         8:19:36 PM
Latitude      42.013312
Longitude    -87.816288
Name: 14486, dtype: object
14487, Date         2013-09-05
Time         8:19:46 PM
Latitude      42.013288
Longitude    -87.817048
Name: 14487, dtype: object
14488, Date         2013-09-05
Time         8:19:56 PM
Latitude       42.01317
Longitude    -87.817558
Name: 14488, dtype: object
14489, Date         2013-09-05
Time         8:20:06 PM
Latitude      42.012565
Longitude    -87.817598
Name: 14489, dtype: object
14490, Date         2013-09-05
Time         8:20:16 PM
Latitude      42.011888
Longitude    -87.817583
Name: 14490, dtype: object
14491, Date         2013-09-05
Time         8:20:26 PM
Latitude      42.011507
Longitude    -87.817513
Name: 14491, dtype: object
14492, Date         2013-09-05
Time         8:20:36 PM
Latitude      42.011472
Longitude    -87.816727
Name: 14492, dtype: object
14493, Date         2013-09-05
Time         8:20:46 PM
Latitude      42.011185
Longitude      -87.8164
Name: 14493, dtype: object
14494, Date         2013-09-05
Time         8:20:56 PM
Latitude      42.010625
Longitude    -87.816397
Name: 14494, dtype: object
14495, Date         2013-09-05
Time         8:21:06 PM
Latitude      42.010067
Longitude    -87.816398
Name: 14495, dtype: object
14496, Date         2013-09-05
Time         8:21:16 PM
Latitude      42.009748
Longitude    -87.816173
Name: 14496, dtype: object
14497, Date         2013-09-05
Time         8:21:26 PM
Latitude      42.009768
Longitude    -87.815305
Name: 14497, dtype: object
14498, Date         2013-09-05
Time         8:21:36 PM
Latitude      42.009797
Longitude    -87.814437
Name: 14498, dtype: object
14499, Date         2013-09-05
Time         8:21:46 PM
Latitude      42.009797
Longitude    -87.813695
Name: 14499, dtype: object
14500, Date         2013-09-05
Time         8:21:56 PM
Latitude      42.009828
Longitude     -87.81292
Name: 14500, dtype: object
14501, Date         2013-09-05
Time         8:22:06 PM
Latitude      42.009842
Longitude    -87.812353
Name: 14501, dtype: object
14502, Date         2013-09-05
Time         8:22:16 PM
Latitude       42.00987
Longitude    -87.811483
Name: 14502, dtype: object
14503, Date         2013-09-05
Time         8:22:26 PM
Latitude      42.010095
Longitude    -87.811125
Name: 14503, dtype: object
14504, Date         2013-09-05
Time         8:22:36 PM
Latitude      42.010492
Longitude    -87.811073
Name: 14504, dtype: object
14505, Date         2013-09-05
Time         8:22:46 PM
Latitude       42.01074
Longitude    -87.810675
Name: 14505, dtype: object
14506, Date         2013-09-05
Time         8:22:56 PM
Latitude      42.010755
Longitude    -87.809835
Name: 14506, dtype: object
14507, Date         2013-09-05
Time         8:23:06 PM
Latitude      42.010783
Longitude    -87.809107
Name: 14507, dtype: object
14508, Date         2013-09-05
Time         8:23:16 PM
Latitude      42.010808
Longitude     -87.80817
Name: 14508, dtype: object
14509, Date         2013-09-05
Time         8:23:26 PM
Latitude      42.010832
Longitude    -87.807288
Name: 14509, dtype: object
14510, Date         2013-09-05
Time         8:23:36 PM
Latitude      42.010755
Longitude    -87.806828
Name: 14510, dtype: object
14511, Date         2013-09-05
Time         8:23:46 PM
Latitude      42.010102
Longitude    -87.806832
Name: 14511, dtype: object
14512, Date         2013-09-05
Time         8:24:26 PM
Latitude      42.009023
Longitude    -87.807145
Name: 14512, dtype: object
14513, Date         2013-09-05
Time         8:24:36 PM
Latitude      42.009007
Longitude    -87.807967
Name: 14513, dtype: object
14514, Date         2013-09-05
Time         8:24:46 PM
Latitude      42.008992
Longitude    -87.808833
Name: 14514, dtype: object
14515, Date         2013-09-05
Time         8:24:56 PM
Latitude      42.008977
Longitude    -87.809578
Name: 14515, dtype: object
14516, Date         2013-09-05
Time         8:25:06 PM
Latitude      42.008952
Longitude    -87.810468
Name: 14516, dtype: object
14517, Date         2013-09-05
Time         8:25:16 PM
Latitude      42.008845
Longitude    -87.811018
Name: 14517, dtype: object
14518, Date         2013-09-05
Time         8:25:26 PM
Latitude       42.00827
Longitude     -87.81104
Name: 14518, dtype: object
14519, Date         2013-09-05
Time         8:25:36 PM
Latitude       42.00801
Longitude    -87.811357
Name: 14519, dtype: object
14520, Date         2013-09-05
Time         8:25:46 PM
Latitude      42.007988
Longitude    -87.812008
Name: 14520, dtype: object
14521, Date         2013-09-05
Time         8:25:56 PM
Latitude      42.007962
Longitude    -87.812613
Name: 14521, dtype: object
14522, Date         2013-09-05
Time         8:26:06 PM
Latitude      42.007958
Longitude    -87.813373
Name: 14522, dtype: object
14523, Date         2013-09-05
Time         8:26:16 PM
Latitude      42.007937
Longitude    -87.814213
Name: 14523, dtype: object
14524, Date         2013-09-05
Time         8:26:26 PM
Latitude      42.007917
Longitude    -87.815083
Name: 14524, dtype: object
14525, Date         2013-09-05
Time         8:26:36 PM
Latitude      42.007873
Longitude    -87.815937
Name: 14525, dtype: object
14526, Date         2013-09-05
Time         8:26:46 PM
Latitude       42.00774
Longitude    -87.816402
Name: 14526, dtype: object
14527, Date         2013-09-05
Time         8:26:56 PM
Latitude      42.007028
Longitude    -87.816397
Name: 14527, dtype: object
14528, Date         2013-09-05
Time         8:27:06 PM
Latitude      42.006307
Longitude     -87.81641
Name: 14528, dtype: object
14529, Date         2013-09-05
Time         8:27:16 PM
Latitude      42.006107
Longitude    -87.815963
Name: 14529, dtype: object
14530, Date         2013-09-05
Time         8:27:26 PM
Latitude      42.006122
Longitude    -87.815033
Name: 14530, dtype: object
14531, Date         2013-09-05
Time         8:27:36 PM
Latitude      42.006153
Longitude    -87.814128
Name: 14531, dtype: object
14532, Date         2013-09-05
Time         8:27:46 PM
Latitude      42.006195
Longitude    -87.813317
Name: 14532, dtype: object
14533, Date         2013-09-05
Time         8:27:56 PM
Latitude      42.006232
Longitude    -87.812407
Name: 14533, dtype: object
14534, Date         2013-09-05
Time         8:28:06 PM
Latitude       42.00626
Longitude    -87.811428
Name: 14534, dtype: object
14535, Date         2013-09-05
Time         8:28:16 PM
Latitude      42.006593
Longitude     -87.81103
Name: 14535, dtype: object
14536, Date         2013-09-05
Time         8:28:26 PM
Latitude      42.007243
Longitude    -87.811033
Name: 14536, dtype: object
14537, Date         2013-09-05
Time         8:28:36 PM
Latitude      42.007853
Longitude    -87.811042
Name: 14537, dtype: object
14538, Date         2013-09-05
Time         8:28:46 PM
Latitude      42.008032
Longitude    -87.810367
Name: 14538, dtype: object
14539, Date         2013-09-05
Time         8:28:56 PM
Latitude      42.008042
Longitude    -87.809448
Name: 14539, dtype: object
14540, Date         2013-09-05
Time         8:29:06 PM
Latitude      42.008068
Longitude    -87.808542
Name: 14540, dtype: object
14541, Date         2013-09-05
Time         8:29:16 PM
Latitude      42.008102
Longitude    -87.807527
Name: 14541, dtype: object
14542, Date         2013-09-05
Time         8:29:36 PM
Latitude      42.007945
Longitude    -87.806803
Name: 14542, dtype: object
14543, Date         2013-09-05
Time         8:29:46 PM
Latitude      42.007295
Longitude     -87.80683
Name: 14543, dtype: object
14544, Date         2013-09-05
Time         8:29:56 PM
Latitude      42.007202
Longitude    -87.807493
Name: 14544, dtype: object
14545, Date         2013-09-05
Time         8:30:06 PM
Latitude      42.007175
Longitude    -87.808375
Name: 14545, dtype: object
14546, Date         2013-09-05
Time         8:30:16 PM
Latitude      42.007143
Longitude    -87.809147
Name: 14546, dtype: object
14547, Date         2013-09-05
Time         8:30:26 PM
Latitude      42.007118
Longitude    -87.809997
Name: 14547, dtype: object
14548, Date         2013-09-05
Time         8:30:36 PM
Latitude      42.007095
Longitude     -87.81076
Name: 14548, dtype: object
14549, Date         2013-09-05
Time         8:30:46 PM
Latitude      42.006735
Longitude    -87.810982
Name: 14549, dtype: object
14550, Date         2013-09-05
Time         8:30:56 PM
Latitude      42.006297
Longitude    -87.810958
Name: 14550, dtype: object
14551, Date         2013-09-05
Time         8:31:06 PM
Latitude       42.00631
Longitude    -87.810227
Name: 14551, dtype: object
14552, Date         2013-09-05
Time         8:31:16 PM
Latitude      42.006338
Longitude    -87.809353
Name: 14552, dtype: object
14553, Date         2013-09-05
Time         8:31:26 PM
Latitude      42.006382
Longitude    -87.808472
Name: 14553, dtype: object
14554, Date         2013-09-05
Time         8:31:36 PM
Latitude      42.006403
Longitude    -87.807517
Name: 14554, dtype: object
14555, Date         2013-09-05
Time         8:31:46 PM
Latitude      42.006412
Longitude    -87.806897
Name: 14555, dtype: object
14556, Date         2013-09-05
Time         8:31:56 PM
Latitude      42.005773
Longitude    -87.806845
Name: 14556, dtype: object
14557, Date         2013-09-05
Time         8:32:06 PM
Latitude      42.005482
Longitude     -87.80709
Name: 14557, dtype: object
14558, Date         2013-09-05
Time         8:32:16 PM
Latitude      42.005437
Longitude    -87.807942
Name: 14558, dtype: object
14559, Date         2013-09-05
Time         8:32:26 PM
Latitude      42.005408
Longitude    -87.808843
Name: 14559, dtype: object
14560, Date         2013-09-05
Time         8:32:36 PM
Latitude      42.005385
Longitude    -87.809592
Name: 14560, dtype: object
14561, Date         2013-09-05
Time         8:32:46 PM
Latitude      42.005362
Longitude    -87.810205
Name: 14561, dtype: object
14562, Date         2013-09-05
Time         8:32:56 PM
Latitude      42.005335
Longitude     -87.81078
Name: 14562, dtype: object
14563, Date         2013-09-05
Time         8:33:06 PM
Latitude       42.00531
Longitude    -87.811335
Name: 14563, dtype: object
14564, Date         2013-09-05
Time         8:33:16 PM
Latitude      42.005478
Longitude    -87.811548
Name: 14564, dtype: object
14565, Date         2013-09-05
Time         8:33:26 PM
Latitude      42.005817
Longitude    -87.811532
Name: 14565, dtype: object
14566, Date         2013-09-05
Time         8:33:36 PM
Latitude      42.006138
Longitude    -87.811533
Name: 14566, dtype: object
14567, Date         2013-09-05
Time         8:33:46 PM
Latitude      42.006148
Longitude     -87.81223
Name: 14567, dtype: object
14568, Date         2013-09-05
Time         8:33:56 PM
Latitude      42.006133
Longitude     -87.81311
Name: 14568, dtype: object
14569, Date         2013-09-05
Time         8:34:06 PM
Latitude      42.006102
Longitude    -87.813868
Name: 14569, dtype: object
14570, Date         2013-09-05
Time         8:34:16 PM
Latitude      42.006077
Longitude    -87.814742
Name: 14570, dtype: object
14571, Date         2013-09-05
Time         8:34:26 PM
Latitude      42.006067
Longitude    -87.815642
Name: 14571, dtype: object
14572, Date         2013-09-05
Time         8:34:36 PM
Latitude      42.006058
Longitude    -87.816443
Name: 14572, dtype: object
14573, Date         2013-09-05
Time         8:34:46 PM
Latitude      42.006023
Longitude    -87.817248
Name: 14573, dtype: object
14574, Date         2013-09-05
Time         8:34:56 PM
Latitude      42.006028
Longitude     -87.81797
Name: 14574, dtype: object
14575, Date         2013-09-05
Time         8:35:06 PM
Latitude      42.006015
Longitude    -87.818558
Name: 14575, dtype: object
14576, Date         2013-09-05
Time         8:35:16 PM
Latitude       42.00558
Longitude    -87.818697
Name: 14576, dtype: object
14577, Date         2013-09-05
Time         8:35:46 PM
Latitude      42.003867
Longitude    -87.817712
Name: 14577, dtype: object
14578, Date         2013-09-05
Time         8:36:06 PM
Latitude      42.004025
Longitude    -87.816615
Name: 14578, dtype: object
14579, Date         2013-09-05
Time         8:36:16 PM
Latitude      42.004213
Longitude     -87.81607
Name: 14579, dtype: object
14580, Date         2013-09-05
Time         8:36:26 PM
Latitude      42.004238
Longitude    -87.815118
Name: 14580, dtype: object
14581, Date         2013-09-05
Time         8:36:36 PM
Latitude      42.004283
Longitude    -87.814237
Name: 14581, dtype: object
14582, Date         2013-09-05
Time         8:36:46 PM
Latitude      42.004302
Longitude    -87.813357
Name: 14582, dtype: object
14583, Date         2013-09-05
Time         8:36:56 PM
Latitude      42.004317
Longitude    -87.812485
Name: 14583, dtype: object
14584, Date         2013-09-05
Time         8:37:06 PM
Latitude      42.004363
Longitude     -87.81162
Name: 14584, dtype: object
14585, Date         2013-09-05
Time         8:37:16 PM
Latitude      42.004385
Longitude    -87.811093
Name: 14585, dtype: object
14586, Date         2013-09-05
Time         8:37:26 PM
Latitude       42.00439
Longitude     -87.81019
Name: 14586, dtype: object
14587, Date         2013-09-05
Time         8:37:36 PM
Latitude      42.004382
Longitude    -87.809507
Name: 14587, dtype: object
14588, Date         2013-09-05
Time         8:37:46 PM
Latitude      42.004403
Longitude    -87.808648
Name: 14588, dtype: object
14589, Date         2013-09-05
Time         8:37:56 PM
Latitude      42.004442
Longitude    -87.807707
Name: 14589, dtype: object
14590, Date         2013-09-05
Time         8:38:06 PM
Latitude      42.004468
Longitude    -87.807118
Name: 14590, dtype: object
14591, Date         2013-09-05
Time         8:38:36 PM
Latitude       42.00402
Longitude    -87.806883

In [108]:
#df.set_index('Date')
spray_data_Latitude=group_data(spray_data.copy(), 'Date', 'Latitude', 'mean')
spray_data_Longitude=group_data(spray_data.copy(), 'Date', 'Longitude', 'mean')
spray_data_counts=group_data(spray_data.copy(), 'Date', 'Longitude', 'count')
spray_data_counts.rename(columns={'Longitude':'counts'}, inplace = True)
#Date_Min=group_data(train_data, 'Trap', 'Date', 'min')
    #Date_Max=group_data(train_data, 'Trap', 'Date', 'max')
    
frames = [spray_data_Latitude, spray_data_Longitude, spray_data_counts]
spray_data_draft = pd.concat(frames, axis=1)
#spray_data_draft.reset_index(inplace=True)
spray_data_draft

             Latitude  Longitude  counts
Date
2011-08-29  42.392331 -88.093370      95
2011-09-07  41.983344 -87.805927    2114
2013-07-17  41.798570 -87.681137    2202
2013-07-25  41.954535 -87.722879    1607
2013-08-08  41.931466 -87.697035    1195
2013-08-15  41.926007 -87.783171    2668
2013-08-16  41.957809 -87.780646     141
2013-08-22  41.814052 -87.666029    1587
2013-08-29  41.860128 -87.703237    2302
2013-09-05  42.005436 -87.813085     924

In [109]:
'''for _, row in spray_data_draft.iterrows():
    print(f'{_}, {row}')'''
#df['Date'].to_list()
list(spray_data['Date'].sort_values().astype('str').unique())

['2011-08-29',
 '2011-09-07',
 '2013-07-17',
 '2013-07-25',
 '2013-08-08',
 '2013-08-15',
 '2013-08-16',
 '2013-08-22',
 '2013-08-29',
 '2013-09-05']

In [117]:
def centr_map():
    map_ = folium.Map(location=[train_data['Latitude'].mean(),  train_data['Longitude'].mean()],
               tiles="Stamen Terrain", zoom_start=10, control_scale=False)
    folium.Marker([41.995,  -87.933], popup="CHICAGO O'HARE INTERNATIONAL AIRPORT").add_to(map_)
    folium.Marker([41.786,  -88.089163], popup="CHICAGO MIDWAY INTL ARPT").add_to(map_)
    return map_ 

map_=centr_map()

cluster=folium.FeatureGroup(name='cluster')
cluster.add_to(map_)

df=spray_data
time_index = list(spray_data['Date'].sort_values().astype('str').unique())


df['Date'] = df['Date'].sort_values(ascending=True)
data = []

for _, d in df.groupby('Date'):
    #print(f'{row}')
    data.append([[row['Latitude'], row['Longitude'], 1] for _, row in d.iterrows()])

hm = plugins.HeatMapWithTime(
    data,
    #name="cluster",
    index=time_index,
    auto_play=True,
    min_opacity=0,
    max_opacity=0.7,
    #gradient={0.1:'blue', 0.25:'green', 0.5:'yelow', 0.75:'orange', 1:'red'} 
)
hm.add_to(map_)

#folium.LayerControl().add_to(map_)
map_.save(f"sklearn_linear_model.html")

In [ ]:
def plot_markers(): 
    # train_data_point_map
    draft_year_list={2007, 2009, 2013}
    draft_month_list={6, 7, 8, 9}
    geometry = geopandas.points_from_xy(train_data.Longitude, train_data.Latitude)
    geo_df = geopandas.GeoDataFrame(
        train_data, geometry=geometry
    )
    geo_df_list = [[point.xy[1][0], point.xy[0][0]] for point in geo_df.geometry]

    wnvpresentsLayer=folium.FeatureGroup(name='wnvpresents')
    wnvpresentsLayer.add_to(map_)

    # Iterate through list and add a marker for each volcano, color-coded by its type.
    i = 0
    for coordinates in geo_df_list:
        if (geo_df.month[i] == draft_month) and  (geo_df.year[i] == draft_year):
            wnvpresents=int(train_data[(geo_df['Trap'] == geo_df.Trap[i]) & (geo_df['month']==draft_month) 
                       & (geo_df['year']==draft_year)]['WnvPresent'].sum())
            if wnvpresents>0:
                if geo_df.PIPIENS[i] == True:
                    type_color = "green"
                if (geo_df.RESTUANS[i] == True):
                    type_color = "red"
                    # Place the markers with the popup labels and data
                wnvpresentsLayer.add_child(
                    folium.Marker(
                        location=coordinates,
                        popup=geo_df.Trap[i]+ "<br>"
                        +'wnvpresents '+ str(wnvpresents)+ "<br>"+'numMosquitos '+ str(numMosquitos(draft_year, draft_month)),
                        icon=folium.Icon(color="%s" % type_color)
                        )
                )
        i = i + 1

In [ ]:
def plot_datasetes():
    fig = plt.figure()

    plot_mas = test_truncated_data.groupby(['year'], group_keys=True,
                                           dropna=True).agg({'year': ['count']}).to_dict()[('year', 'count')] 
    plt.bar(plot_mas.keys(), plot_mas.values(), color='blue', label='test_truncated_data counts  in year')
    plt.legend()
    plt.grid(True) 



    fig = plt.figure()
    plot_mas = weather_data.groupby(['year'], group_keys=True,
                                           dropna=True).agg({'year': ['count']}).to_dict()[('year', 'count')] 
    plt.bar(plot_mas.keys(), plot_mas.values(), color='pink', label='weather_data counts  in year')
    plt.legend()
    plt.grid(True)   # лінії допоміжної сітки


    fig = plt.figure()
    #fig2 = plt.figure()

    plot_mas = train_data.groupby(['year'], group_keys=True,
                                           dropna=True).agg({'year': ['count']}).to_dict()[('year', 'count')] 
    plt.bar(plot_mas.keys(), plot_mas.values(), color='green', label='train_data counts  in year')
    plt.legend()
    plt.grid(True)   # лінії допоміжної сітки


    fig = plt.figure()
    plot_mas = spray_data.groupby(['year'], group_keys=True,
                                           dropna=True).agg({'year': ['count']}).to_dict()[('year', 'count')] 
    plt.bar(plot_mas.keys(), plot_mas.values(), color='red', label='spray_data counts  in year')
    plt.legend()
    plt.grid(True)   # лінії допоміжної сітки
    
    fig = plt.figure()
    plot_mas = test_truncated_data.groupby(['year'], group_keys=True,
                                           dropna=True).agg({'year': ['count']}).to_dict()[('year', 'count')] 
    plt.bar(plot_mas.keys(), plot_mas.values(), color='red', label='test_truncated_data counts  in year')
    plt.legend()
    plt.grid(True)   # лінії допоміжної сітки

plot_datasetes()

In [ ]:
def bar_chat(_data, grop_list_, agr_colum, agr_func):
    grop_list=[grop_list_]
    agg_func_math = {
        agr_colum: [agr_func]
    }

    plot_mas = _data.groupby(grop_list, group_keys=True, dropna=True).agg(agg_func_math).to_dict()[(agr_colum, agr_func)] 

    fig = plt.figure()
    plt.bar(plot_mas.keys(), plot_mas.values())
    plt.title(f'{grop_list_} {agr_colum} {agr_func} chart')
    
    plt.grid(True)   # лінії допоміжної сітки

In [ ]:
fig = plt.figure()
plot_mas = train_data.groupby(['month'], group_keys=True,
                              dropna=True).agg({'WnvPresent': ['sum']}).to_dict()[('WnvPresent', 'sum')] 
plt.bar(plot_mas.keys(), plot_mas.values(), color='red', label='WnvPresent sum month')
plt.legend()

plt.grid(False)   # лінії допоміжної сітки
#Date
fig = plt.figure()
plot_mas = train_data.groupby(['Date'], group_keys=True,
                              dropna=True).agg({'WnvPresent': ['sum']}).to_dict()[('WnvPresent', 'sum')] 
plt.bar(plot_mas.keys(), plot_mas.values(), color='red', label='WnvPresent sum Date')
plt.legend()

plt.grid(False)   # лінії допоміжної сітки

In [ ]:
train_data_adres.head()

In [ ]:
# Define our key point when map open it
map_ = folium.Map(location=[train_data_adres['Latitude'].mean(),  train_data_adres['Longitude'].mean()],
               tiles="Stamen Terrain", zoom_start=10, control_scale=False)

for la,lo in train_data_adres:
    folium.Marker(
        location=[la,lo],
        icon=folium.Icon(icon_color='white')
    ).add_to(map2)
# Plotting 
map2

In [ ]:
map_ = folium.Map(location=[train_data_adres['Latitude'].mean(),  train_data_adres['Longitude'].mean()],
               tiles="Stamen Terrain", zoom_start=10, control_scale=False)

folium.Marker(train_data_adres['Latitude','Longitude'], popup=train_data_adres['Trap']).add_to(map_)
map_

In [ ]:
#import folium
#Station_1: CHICAGO O'HARE INTERNATIONAL AIRPORT Lat: 41.995 Lon: -87.933 Elev: 662 ft. above sea level
#Station_2: CHICAGO MIDWAY INTL ARPT Lat: 41.786 Lon: -87.752 Elev: 612 ft. above sea level

#m = folium.Map(location=[45.5236, -122.6750])
#m = folium.Map(location=[42.391623, -88.089163], tiles="Stamen Terrain", zoom_start=13)


map_ = folium.Map(location=[spray_data['Latitude'].mean(),  spray_data['Longitude'].mean()],
               tiles="Stamen Terrain", zoom_start=10, control_scale=False)

folium.Marker([41.995,  -87.933], popup="CHICAGO O'HARE INTERNATIONAL AIRPORT").add_to(map_)
folium.Marker([41.786,  -88.089163], popup="CHICAGO MIDWAY INTL ARPT").add_to(map_)

folium.CircleMarker(
    location=[spray_data['Latitude'].mean(),  spray_data['Longitude'].mean()],
    radius=10,
    popup="spray_mean",
    color="#3186cc",
    fill=True,
    fill_color="#3186cc",
).add_to(map_)


#train_data_adres
#for index, location_info in train_data.iterrows():
#    folium.Marker([location_info["Latitude"], location_info["Longitude"]], popup=location_info["NumMosquitos"]).add_to(map_)

map_